/* 보장분석신청 조회 */
.row-contract {
	.txt_state {
		display: inline-block;
		background-color: $blue;
		color: $white;
		padding: 7px 15px;
		border-radius: 14px;
	}

	table {
		tbody {
			tr {
				td {
					padding: 15px 20px;
				}
			}
		}
	}

	.row-gap {
		padding: 7px 0;

		p {
			+p {
				&:before {
					content: '';
					display: inline-block;
					margin: 0 10px;
					width: 1px;
					height: 11px;
					background-color: $border-base;
				}
			}
		}
	}
}

/* 보장분석신청 목록 */

/* 보장분석신청 완료 */
.image-lg {
	.txt_sub_desc {
		font-size: 18px;
	}
}

/* 보장분석신청 정보입력 */
.row-input-type {
	.input-direct {
		width: 100%;
		max-width: 380px;
		height: 45px;
		border-radius: 6px;
		padding: 5px 15px;
		border: 1px solid $border-base;
	}
}