/* 보장분석신청 조회 */
.row-contract {
	.txt_state {
		display: inline-block;
		background-color: $blue;
		color: $white;
		padding: 7px 15px;
		border-radius: 14px;
	}

	table {
		tbody {
			tr {
				td {
					padding: 15px 20px;
				}
			}
		}
	}

	.row-gap {
		padding: 7px 0;

		p {
			+p {
				&:before {
					content: '';
					display: inline-block;
					margin: 0 10px;
					width: 1px;
					height: 11px;
					background-color: $border-base;
				}
			}
		}
	}
}

/* 보장분석신청 목록 */

/* 보장분석신청 완료 */
.image-lg {
	.txt_sub_desc {
		font-size: 18px;
	}
}

/* 보장분석신청 정보입력 */
.row-input-type {
	.input-direct {
		width: 100%;
		max-width: 380px;
		height: 45px;
		border-radius: 6px;
		padding: 5px 15px;
		border: 1px solid $border-base;
	}
}

/* 완전판매 모니터링_고객동의 */
.monitor_step {
	overflow: hidden;

	ul {
		border-spacing: 66px;
		border-collapse: separate;
		margin: -66px;
		display: table;
		table-layout: fixed;
		width: calc(100% + 132px);

		li {
			position: relative;
			border-radius: 10px;
			border: 1px solid $border-base;
			display: table-cell;
			text-align: center;

			.step_tit {
				display: block;
				background-color: #f8f8f8;
				padding: 25px;
				border-bottom: 1px solid $border-base;
				border-radius: 10px 10px 0 0;

				.num {
					border-radius: 10px;
					background-color: #555555;
					color: $white;
					padding: 0 6px;
				}
			}

			p {
				padding: 30px 25px;
			}

			&:after {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -39px;
				content: '';
				display: inline-block;
				width: 10px;
				height: 19px;
				background-image: url(#{$url-img}/common/ico_arr_right.png);
				background-size: 10px 19px;
			}
		}
	}
}