/* 전체메뉴 */

.allmenu_top {
	display: flex;

	>.top_left {
		margin-right: auto;

		>.btn_mymenu_box {
			display: inline-flex;
			margin-left: 23px;
			padding-top: 3px;
			vertical-align: middle;

			>a {
				display: inline-block;
				padding: 3px 15px;
				font-weight: 400;
				color: $darkgray;

				&::before {
					display: inline-block;
					content: '';
					margin-right: 4px;
					background-repeat: no-repeat;
				}

				&.current {
					position: relative;
					border-radius: 20px;
					background: #fdc61c;
					font-weight: 500;
					color: $black;

					&::after {
						content: '';
						position: absolute;
						left: 50%;
						top: 47px;
						width: 23px;
						height: 13px;
						margin-left: -12px;
						background: url(#{$url-img-common}/ico_arr_box.png) no-repeat 0 0;
					}
				}
			}

			>.btn_lately {
				&::before {
					width: 15px;
					height: 15px;
					background-image: url(#{$url-img-common}/ico_time.png);
					vertical-align: -1px;
				}
			}

			>.btn_my {
				&::before {
					width: 19px;
					height: 18px;
					background-image: url(#{$url-img-common}/ico_favorite.png);
					vertical-align: -2px;
				}
			}
		}
	}

	>.top_right {
		margin-left: auto;

		>.search_menu {
			position: relative;
			width: 270px;
			margin-top: 35px;
			border-bottom: 2px solid #555;

			>input[type=text] {
				width: 221px;
				height: 30px;
				padding-right: 10px;
				border: 0;
				transform: translate3d(0, -5px, 0);
				font-weight: 200;
				font-size: 16px;
				color: $gray;
			}

			>input[type=text]::placeholder {
				font-weight: 200;
				font-size: 16px;
				color: $lightgray;
			}

			>.btn_menu_search {
				position: absolute;
				right: 0;
				top: 0;
				width: 49px;
				height: 31px;
				background: url(#{$url-img-common}/btn_menu_search.png) no-repeat 50% 0%;
			}
		}
	}
}

.allmenu_inner {
	height: calc(100vh - 90px);

	.popup_body {
		overflow: visible;
		max-height: none;
		padding: 0;

		.tab_allmenu {
			padding: 40px 50px 58px;
		}
	}

	.btn_close_popup {
		width: 75px;
	}
}

.allmenu_wrap {
	.mCSB_scrollTools {
		width: 5px;
	}

	.mCSB_scrollTools .mCSB_draggerContainer {
		top: 10px;
	}

	.menu_section {
		padding: 40px 0 60px;

		&:not(:last-child) {
			border-bottom: 1px solid #eee;
		}

		>h3 {
			margin-bottom: 17px;
			line-height: 1;
			font-weight: 500;
			font-size: 20px;
			color: #efae23;
		}

		>.allmenu_list {
			display: inline-block;
			width: calc(98.6% / 5);
			vertical-align: top;

			>strong {
				display: block;
				margin-bottom: 12px;
				line-height: 1;
				font-weight: 500;
				color: $black;
			}

			>ul {
				>li {
					&:not(:last-child) {
						margin-bottom: 5px;

					}

					>a {
						display: inline-block;
						line-height: 1.4;
						word-break: keep-all;
						color: $gray;

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

.result_box {
	display: none;
	border-bottom: 1px solid #eee;
	background: $bg-lightgray;
}

.mymenu_list_box {
	padding: 24px 50px;
}

.lately_check {
	padding-left: 32px;
	background: url(#{$url-img-common}/ico_check_off.png) no-repeat 0 50%;
	font-weight: 200;
	font-size: 16px;
	color: $gray;

	&.on {
		background-image: url(#{$url-img-common}/ico_check_on.png);
	}
}

.mymenu_list {
	margin-top: 13px;

	>ul {
		margin-bottom: -10px;

		>li {
			display: inline-block;
			margin-bottom: 10px;

			&:not(:last-child) {
				margin-right: 6px;
			}

			>a {
				display: inline-block;
				height: 34px;
				padding: 0 18px;
				border-radius: 25px;
				background: #fff;
				box-shadow: 0 10px 16px 0 rgba(153, 113, 113, .1);
				line-height: 34px;
				color: #000;
			}
		}
	}
}

.mymenu_none {
	padding-bottom: 20px;
}

.menu_search_result {
	padding: 30px 50px 33px;
}

.tit_search {
	margin-bottom: 12px;

	>h3 {
		padding-left: 29px;
		background: url(#{$url-img-common}/ico_search.png) no-repeat 0 10px;
		font-weight: 200;
		font-size: 20px;
		color: #222;

		>span {
			font-weight: 500;
		}
	}
}

.menu_search_list {
	margin-bottom: 17px;
	padding: 15px 20px;
	border-radius: 6px;
	background: $white;
	box-shadow: 0 0 7px 0 #ececec;

	>ul>li {
		&:not(:last-child) {
			margin-bottom: 6px;
		}

		>a {
			display: inline-block;
			color: $black;

			>span {
				text-decoration: underline;
				font-weight: 500;
			}
		}
	}
}

.search_warning {
	padding-right: 50px;

	>strong {
		display: inline-block;
		padding-left: 24px;
		background: url(#{$url-img-common}/ico_warning_red.png) no-repeat 0 1px;
		line-height: 1.4;
		font-weight: 200;
		font-size: 14px;
		color: #fb0000;
	}
}

.btn_search_link {
	position: relative;
	padding-top: 3px;

	>a {
		font-weight: 200;
	}

	>a:hover+span,
	>a:focus+span {
		display: inline-block;
	}

	>span {
		display: none;
		position: absolute;
		left: 0;
		top: -66px;
		height: 53px;
		padding: 0 20px;
		border-radius: 6px;
		background: #fef5e5;
		box-shadow: 0 5px 12px 0 #d8d8d8;
		line-height: 53px;
		white-space: nowrap;
		font-weight: 200;
		font-size: 14px;

		&::before {
			content: '';
			position: absolute;
			left: 34px;
			bottom: -13px;
			width: 0;
			height: 0;
			border-color: #fef5e5 #fef5e5 transparent #fef5e5;
			border-style: solid;
			border-width: 0 0 13px 10px;

		}
	}
}

.search_result_none {
	>.menu_search_list {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 194px;
	}
}