.wrapper {
	position: relative;
	overflow: hidden;

	@if ($mode=="responsive") {
		@include media-breakpoint-up(lg) {
			min-width: $max-width;
		}
	}
}

.skip_nav {
	display: block;
	position: absolute;
	top: 0;
	margin-bottom: -1px;
	width: 100%;
	height: 1px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	overflow: hidden;
	z-index: 600;

	&:focus,
	&:active {
		height: 45px;
		line-height: 45px;
		color: #fff;
		background: #666;
	}
}