.breadcrumb {
	border-bottom: 1px solid #eee;

	.breadcrumb_list {
		flex: 1 1 auto;
		display: flex;
		height: $breadcrumb-height - 1;
		color: $gray;
		// padding: 0 $spacing;

		>li {
			position: relative;

			&:first-child {
				>a {
					display: flex;
					align-items: center;
					font-size: 13px;
					height: 100%;
					padding: 0 13px;
					max-height: none;
				}
			}

			&:last-child {
				border-right: 1px solid $border-light;

				>a {
					color: $default;
					font-weight: 500;
				}
			}

			&:nth-child(n+2) {
				border-left: 1px solid $border-light;
				min-width: 117px;
				background: url(#{$url-img-common}/ico_chevron-right-xs.png) no-repeat 0 center;

				>a {
					display: block;
					@include text-ellipsis(1, $breadcrumb-height - 1);
					max-width: 200px;
					height: 100%;
					max-height: none;
					padding: 0 19px;
					border-radius: 0;

					text-align: left;
					font-size: $font-size-base;

					background: #fff url(#{$url-img-common}/ico_chevron-down@2x.png) no-repeat right 10px center;
					background-size: 13px auto;

					transition-duration: .2s;
					transition-property: color, border-color, box-shadow;
					will-change: color, border-color, box-shadow;
				}
			}

			&.on {
				.sub_list_wrap {
					display: block;
				}
			}
		}
	}

	.sub_list_wrap {
		display: none;
		position: absolute;
		z-index: 10;
		left: -1px;
		right: 0;
		margin-top: 1px;
		min-width: 200px;
		max-height: 500px;
		overflow-y: auto;
		border: 1px solid $border-light;
		background-color: #fff;
		border-top: 0;
		font-size: 15px;

		ul {
			padding: 15px 19px;
			font-size: 16px;
		}

		a {
			padding: 3px 0;
			position: relative;
			display: block;
			color: $default;
		}
	}
}