.breadcrumb {
	margin-top: 134px;
	border-bottom: 1px solid #eee;

	.breadcrumb_list {
		flex: 1 1 auto;
		display: flex;
		height: $breadcrumb-height - 1;
		color: $gray;
		// padding: 0 $spacing;

		>li {
			position: relative;

			&:first-child {
				>a {
					display: flex;
					align-items: center;
					font-size: 13px;
					height: 100%;
					padding: 0 13px;
					max-height: none;

					&:hover {
						background-color: $primary;

						.ico_home {
							background-image: url(#{$url-img-common}/ico_home_black.png)
						}
					}
				}
			}

			&:last-child {
				border-right: 1px solid $border-light;

				>a {
					color: $default;
					font-weight: 500;
				}
			}

			&:nth-child(n+2) {
				border-left: 1px solid $border-light;
				min-width: 115px;

				>a {
					display: block;
					@include text-ellipsis(1, $breadcrumb-height - 1);
					max-width: 200px;
					height: 100%;
					max-height: none;
					padding: 0 58px 0 19px;
					border-radius: 0;

					text-align: left;
					font-size: $font-size-base;

					background: #fff url(#{$url-img-common}/ico_arr_down_sm.png) no-repeat right 20px center;
					background-size: 13px auto;

					transition-duration: .2s;
					transition-property: color, border-color, box-shadow;
					will-change: color, border-color, box-shadow;
				}
			}

			&.on {
				&:nth-child(n+2) {
					>a {
						background-image: url(#{$url-img-common}/ico_arr_up_sm.png);
						background-color: $primary;
						font-weight: 500;
						color: $black;
					}

					.sub_list_wrap {
						display: inline-table;
					}
				}
			}
		}
	}

	.sub_list_wrap {
		display: none;
		position: absolute;
		z-index: 10;
		left: -1px;
		right: 0;
		margin-top: 1px;
		width: calc(100% + 1px);
		min-width: 115px;
		overflow-y: auto;
		border: 1px solid $border-light;
		box-shadow: 0 7px 17px 0 #e2e2e2;
		background-color: $white;
		border-top: 0;
		font-size: 15px;

		ul {
			overflow-y: auto;
			max-height: 500px;
			padding: 19px 40px 20px 20px;
			font-size: 16px;

			>li {
				&:not(:last-child) {
					margin-bottom: 20px;
				}
			}
		}

		a {
			display: block;
			position: relative;
			line-height: 1.3;
			white-space: nowrap;
			font-weight: 300;
			color: $gray;

			&:hover {
				font-weight: 500;
				color: $black;
			}
		}
	}
}