#content {
	min-height: calc(100vh - #{$header-height + $footer-height + $breadcrumb-height});
}

.cont_header {
	@include container;
	@include clearfix;
	position: relative;
	padding: 80px 0 0;
	margin-bottom: 40px;

	.left {
		float: left;
		display: flex;
		align-items: center;
	}

	.right {
		float: right;
	}

	.tit_cont {
		display: inline-block;
		margin: 0 12px 0 0;
	}

	.step {
		display: flex;
		align-items: center;

		li {
			color: #595959;
			font-weight: 400;
			letter-spacing: -0.05em;
			margin-left: 20px;
			line-height: 0;

			.num {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: #555;
				border-radius: 100%;
				color: transparent;
			}

			.txt {
				display: none;
			}

			&.on {
				.num {
					display: inline-block;
					width: 32px;
					height: 32px;
					margin-right: 8px;
					background: #555;
					color: #fff;
					text-align: center;
					line-height: 32px;
					border-radius: 100%;
				}

				.txt {
					display: inline;
				}

				~li {
					.num {
						background-color: #ddd;
					}
				}
			}
		}
	}
}

.cont_body {
	@include container;
}