/* 통합검색 */

.popup_search {
	>.popup_header {
		height: auto;
		padding-top: 60px;
		border-bottom: 0;

		>h2 {
			height: auto;
			background: url(#{$url-img-common}/ico_search_combine.png) no-repeat 0 50%;
			padding-left: 48px;
			font-weight: 600;
			font-size: 40px;
			color: #111;
		}
	}

	>.popup_body {
		padding: 0;
	}
}

.search_inner {
	width: 600px;
	margin: 0 auto;
}

.search_word_write {
	margin: 13px 0 70px;

	>.search_inner {
		display: flex;
		border-bottom: 2px solid #fdc61c;

		>select {
			width: 113px;
			border: 0;
		}

		>input[type=text] {
			width: 433px;
			border: 0;
		}

		>button {
			width: 54px;
			height: 46px;
			background: url(#{$url-img-common}/ico_search.png) no-repeat 50% calc(100% - 12px);
		}
	}
}

.search_word_write+.search_word_list {
	margin-top: -37px;
}

.search_word_list {
	margin-top: 33px;
	padding: 40px 0 42px;
	border-top: 1px solid #eee;
	background: #f6f6f6;

	>.search_inner {
		overflow: hidden;
	}

	.search_word {
		float: left;
		position: relative;
		width: calc(100% / 3);
		text-align: center;

		&:not(:last-child) {
			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 0;
				width: 1px;
				height: 100%;
				background: #e5e5e5;
			}
		}

		>h3 {
			margin-bottom: 15px;
			line-height: 1;
			font-weight: 500;
			font-size: 20px;
			color: #111;
		}

		>ul {
			>li {
				&:not(:last-child) {
					margin-bottom: 2px;
				}

				>a {
					display: block;
					overflow: hidden;
					padding: 0 10px;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-weight: 300;
					color: #555;

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}
	}
}