.header {
	height: $header-height;
	border-bottom: 1px solid #eee;
	
	.hd_top {
			position: relative;
	}

	.logo {
		position: absolute;
		left: 0;
		top: 9px;
	}

	.util_menu {
		display: flex;
		padding: 25px 0 0 137px;

		> .l {
			margin-right: auto;
		}

		> .r {
			margin-left: auto;

			> .util_btn:not(:first-child) {
					margin-left: 6px;
			}
		}

		.box_user_login {
			> .user_name {
					font-weight: 400;
					font-size: 0.813em;
					color: #555;

					> strong {
							font-weight: 600;
							color: #ff883a;
					}
			}

			> .connect_time {
					margin: 0 5px 0 18px;
					align-items: center;
					font-family: NotoSansKR;

					> span {
							&::before {
									display: inline-block;
									content: '';
									width: 15px;
									height: 15px;
									margin: 7px 3px 0 0;
									background: url(/resources/deposit/images/common/ico_time.png) no-repeat;
									vertical-align: top;
							}

							> strong {
									color: #f46e16;
							}

							> button {
									color: #555;
							}

							> strong, > button {
									font-weight: 200;
							}
					}
			}
		}

		.util_btn {
			display: inline-flex;
			border: 1px solid #ddd;
			border-radius: 6px;

			> a , > span {
					display: block;
					position: relative;
					height: 28px;
					padding: 0 10px;
					line-height: 27px;
					font-weight: 200;
					font-size: 0.813em;
					color: #555;
			}

			> a {
					> span {
							position: relative;
							z-index: 1;
					}

					&.on, &:hover, &:focus {
							color: #111;

							&::before {
									content: '';
									position: absolute;
									width: 100%;
									height: 100%;
							}
					}

					&:not(:last-child) {
							border-right: 1px solid #ddd;
					}

					&:first-child {
							&::before {
									border-radius: 6px 0 0 6px;
							}
					}

					&:last-child {
							&::before {
									border-radius: 0 6px 6px 0;
							}
					}
			}

			.btn_icon {
					> span {
							&::before {
									display: inline-block;
									content: '';
									width: 11px;
									height: 15px;
									margin: 6px 4px 0 0;
									vertical-align: top;
							}
					}
			}

			.btn_mypg > span::before {
					background: url(/resources/deposit/images/common/ico_mypage.png) no-repeat;
			}

			.btn_logout > span::before {
					background: url(/resources/deposit/images/common/ico_logout.png) no-repeat;
			}
		}

		.bg_type1 {
			a {
					&.on, &:hover, &:focus {
							&::before {
									left: -1px;
									top: -1px;
									border: 1px solid #fdc61c;
									background: #fdc61c;
							}
					}
			}
		}

		.bg_type2 {
			a {
					&.on, &:hover, &:focus {
							&::before {
									left: 0;
									top: 0;
									background: #fef5e5;
							}
							
					}
			}
		}

		.box_single > a::before {
			border-radius: 6px !important;
		}

		.global-list {
			display: inline-flex;
			margin-left: 14px;

			> a {
				position: relative;
				padding-right: 12px;
				line-height: 1;
				font-weight: 400;
				font-size: 0.813em;
				color: #555;

				&::before {
						content: '';
						position: absolute;
						right: 0;
						top: 4px;
						width: 7px;
						height: 4px;
						background: url(/resources/deposit/images/common/ico_global_arrow.png);
				}
			}
		}
	}

	.gnb {
		padding: 28px 165px 0 0;

		> ul {
			display: flex;

			> li {
				flex: 1 0;

				> a {
					display: block;
					position: relative;
					height: 49px;
					text-align: center;
					line-height: 1;
					font-weight: 400;
					font-size: 1.25em;

					&::before {
						content: '';
						position: absolute;
						bottom: -1px;
						left: 50%;
						z-index: 1000;
						transform: translateX(-50%);
						width: 0;
						height: 2px;
						overflow: hidden;
						background: #101010;
						transition: .2s ease-in-out;
					}

					&.current, &:focus, &:hover {
						&::before {
							width: 45px;
						}
						
						
					}
				}
			}
		}

		.layer_mn {
			display: none;
			position: absolute;
			left: 0;
			top: 133px;
			z-index: 100;
			width: 100%;
			border-top: 1px solid #eee;
			background: #fff;
			box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);

			.menu_wrap {
				width: 1200px;
				max-height: calc(100vh - 125px);
				overflow-y: auto;
				margin: 0 auto;
				padding: 50px 0 75px;
			}

			.menu_list {
				display: inline-block;
				width: calc(98.8% / 5);
				margin-top: 60px;
				padding-right: 20px;
				vertical-align: top;

				> strong {
						display: block;
						margin-bottom: 9px;
						line-height: 1;
						font-weight: 400;
						font-size: 1.25em;
						color: #111;
				}

				> ul {
						> li {
								> a {
										display: inline-block;
										word-break: keep-all;
										line-height: 1.4;
										font-weight: 200;

										&:hover, &:focus {
												text-decoration: underline;
												color: #c78800;
										}
								}

								&:not(:last-child) {
										margin-bottom: 5px;
								}
						}
				}

				&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
						margin-top: 0;
				}
			}
		}

		

		.open {
			display: block;
		}
	}
}