.header {
	height: $header-height;
	border-bottom: 1px solid #eee;

	.logo {
		position: absolute;
		left: 0;
		top: 9px;
	}

    .util_menu {
        display: flex;
        display: -ms-flexbox;
        padding: 25px 0 0 137px;

        

        > .l {
            margin-right: auto;
        }

        > .r {
            margin-left: auto;

            > ul:not(:last-child) {
                margin-right: 6px;
            }
        }

        .util_btn {
            display: inline-flex;
            border: 1px solid #ddd;
            border-radius: 6px;

            > li {
                line-height: 1;

                > a {
                    display: block;
                    position: relative;
                    height: 28px;
                    padding: 0 10px;
                    line-height: 27px;
                    color: #555;

                    > span {
                        position: relative;
                        z-index: 1;
                    }

                    &.on, &:hover, &:focus {
                        color: #111;

                        &::before {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                &:not(:last-child) > a {
                    border-right: 1px solid #ddd;
                }

                &:first-child > a {
                    &::before {
                        border-radius: 6px 0 0 6px;
                    }
                }

                &:last-child > a {
                    &::before {
                        border-radius: 0 6px 6px 0;
                    }
                }
            }
        }

        .bg_type1 {
            a {
                &.on, &:hover, &:focus {
                    &::before {
                        left: -1px;
                        top: -1px;
                        border: 1px solid #fdc61c;
                        background: #fdc61c;
                    }
                }
            }
        }

        .bg_type2 {
            a {
                &.on, &:hover, &:focus {
                    &::before {
                        left: 0;
                        top: 0;
                        background: #fef5e5;
                    }
                    
                }
            }
        }

        .single_btn > li > a::before {
            border-radius: 6px !important;
        }

        a {
            font-weight: 300;
            font-size: 0.813em;
        }

    }

	// .top_search {
	// 	position: absolute;
	// 	right: 84px;
	// 	top: 72px;
	// }

	// .btn_top_search {
	// 	width: 20px;
	// 	height: 20px;
	// 	background: url(../images/common/search_icon.png) no-repeat center center;
	// 	display: block;
	// 	text-indent: -9999px;
	// }

	// .total_menu_open {
	// 	position: absolute;
	// 	right: 20px;
	// 	top: 67px;

	// 	.btn_menu_open {
	// 		position: relative;
	// 		width: 30px;
	// 		height: 30px;

	// 		span {
	// 			position: absolute;
	// 			left: 10px;
	// 			top: 6px;
	// 			width: 20px;
	// 			height: 2px;
	// 			background-color: #111;
	// 			display: block;
	// 			-webkit-transition: all 0.35s ease-out;
	// 			-moz-transition: all 0.35s ease-out;
	// 			-ms-transition: all 0.35s ease-out;
	// 			-o-transition: all 0.35s ease-out;
	// 			transition: all 0.35s ease-out;
	// 			text-indent: -9999px;

	// 			&:before {
	// 				position: absolute;
	// 				left: 0;
	// 				top: 8px;
	// 				width: 20px;
	// 				height: 2px;
	// 				background-color: #111;
	// 				display: block;
	// 				content: "";
	// 				-webkit-transition: all 0.35s ease-out;
	// 				-moz-transition: all 0.35s ease-out;
	// 				-ms-transition: all 0.35s ease-out;
	// 				-o-transition: all 0.35s ease-out;
	// 				transition: all 0.35s ease-out;
	// 			}

	// 			&:after {
	// 				position: absolute;
	// 				left: 0;
	// 				top: 16px;
	// 				width: 20px;
	// 				height: 2px;
	// 				background-color: #111;
	// 				display: block;
	// 				content: "";
	// 				-webkit-transition: all 0.35s ease-out;
	// 				-moz-transition: all 0.35s ease-out;
	// 				-ms-transition: all 0.35s ease-out;
	// 				-o-transition: all 0.35s ease-out;
	// 				transition: all 0.35s ease-out;
	// 			}
	// 		}
	// 	}
	// }

	.header_inner {
		position: relative;
		text-align: center;
	}

	

	.gnb {
		padding-top: 20px;
		display: inline-block;
		vertical-align: top;

		>ul {
			&:after {
				clear: both;
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				font-size: 0;
			}

			>li {
				float: left;
				margin: 0 66px;

				>a {
					display: block;
					font-size: 1.25em;
				}
			}
		}
	}
}