.quick_menu_wrap {
	position: fixed;
	right: 0;
	top: 20px;
	z-index: 10;

	>.btn_quick_open {
		position: absolute;
		right: 0;
		top: 114px;
		width: 82px;
		height: 82px;
		background: url(#{$url-img-common}/btn_quick_open.png) no-repeat 0 0;
	}
}

.quick_menu_inner {

	&.open {
		left: 0;
	}

	position: relative;
	left: 250px;
	width: 235px;
	padding: 50px 0;
	box-shadow: 0 10px 16px 0 #eaeaea;
	border: 1px solid #ddd;
	border-radius: 6px 6px 6px 30px;
	transition: .5s ease;
	background: #fff;

	>.quick_tit {
		padding-bottom: 21px;
		line-height: 1;
		text-align: center;
		font-weight: 600;
		color: #111;
	}
}

.quick_menu_box {
	padding: 0 24px;

	>.quick_menu_list {
		>li {
			border-bottom: 1px solid #eee;

			>a {
				display: block;
				position: relative;
				padding: 9px 0 9px 52px;
				background-position: 0 50%;
				background-repeat: no-repeat;
				color: #333;
			}
		}
	}

	.ico_deposit01 {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit01.png);
	}

	.ico_deposit02 {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit02.png);
	}

	.ico_deposit03 {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit03.png);
	}

	.ico_deposit04 {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit04.png);
	}

	.ico_deposit05 {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit05.png);
	}

	.ico_deposit06 {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit06.png);
	}

	.quick_link {
		margin-top: 15px;

		>li {
			&:not(:last-child) {
				margin-bottom: 5px;
			}

			>a {
				display: block;
				height: 40px;
				border-radius: 6px;
				background: #5d5e6d;
				line-height: 40px;
				text-align: center;
				font-size: 14px;
				color: #fff;
			}
		}
	}
}

.quick_more {
	>.more_top {
		padding: 17px 0 17px 24px;
		line-height: 1;

		>.count {
			display: inline-block;
			min-width: 28px;
			height: 20px;
			margin-left: 1px;
			padding: 0 5px;
			border-radius: 20px;
			background: #fdc61c;
			line-height: 19px;
			text-align: center;
			font-weight: 500;
			font-size: 14px;
			color: #111;
		}
	}

	>.more_body {
		padding: 15px 24px;
		background: #eee;
		line-height: 1.3;
		font-size: 14px;
		color: #666;

		>.more_inner {

			border: 1px solid #ddd;
			border-radius: 6px;
			background: #fff;
		}

		.more_msg {
			display: flex;
			height: 90px;
			justify-content: center;
			align-items: center;
			text-align: center;
		}
	}
}

.btn_quick_close {
	position: absolute;
	left: -15px;
	top: 25px;
	width: 24px;
	height: 82px;
	background: url(#{$url-img-common}/btn_quick_close.png) no-repeat 0 0;
}