/* 박스 기본형 */
.box {
	border: 1px solid rgb(221, 221, 221);
	border-radius: 4px;
	padding: 30px;
	background-color: #fff;

	dt {
		font-weight: 500;
		font-size: 20px;
		letter-spacing: -0.05em;
		margin-bottom: 10px;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
			margin-right: 10px;
			width: 24px;
			height: 24px;
			background: url(#{$url-img-common}/ico_tit_primary.png);
		}
	}
}

.box_more {
	position: relative;
	margin-bottom: 16px;

	.inner {
<<<<<<< HEAD
		max-height: 125px;
=======
		max-height: 120px;
>>>>>>> 34ed9635095f6dffc4d777299d300d4f61c780c0
		margin: -30px;
		padding: 30px;
		overflow: hidden;

		&:after {
			content: '';
			position: absolute;
			border-radius: 0 0 5px 5px;
			left: 0;
			right: 0;
			bottom: 0;
			height: 70px;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
		}
	}

	.btn_more_white {
		position: absolute;
		z-index: 10;
		left: 50%;
		margin-left: -50px;
		bottom: -16px;
	}

	&.opened {
		.inner {
			max-height: none;

			&:after {
				display: none;
			}
		}

		.btn_more_white {
			&:after {
				transform: rotate(180deg);
			}
		}
	}
}

.box_shadow {
	border-color: transparent;
	background-color: $white;
	box-shadow: 3.374px 14.616px 40px 0px rgba(0, 0, 0, 0.06);
}

.first_section {
	margin-top: 50px;
}

.section {
	margin-top: 80px;
}