/* 캘린더 */
.calendar-header {
	@include clearfix;
	margin-bottom: .20rem;

	.btn {
		@include ir;
		width: .28rem;
		height: .28rem;
		border: 1px solid $border-light;
		color: transparent;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: .25rem auto;
		overflow: hidden;
	}

	.btn_prev {
		background-image: url(#{$url-img-common}/ico_paging-prev.png);
	}

	.btn_next {
		background-image: url(#{$url-img-common}/ico_paging-next.png);
	}

	.year-select {
		float: left;

		.year {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
			min-width: 4em;
			font-size: 16px;
			font-weight: normal;
		}
	}

	.month-select {
		float: left;

		.month-list {
			@include clearfix;
			margin-left: 50px;

			li {
				float: left;
				margin-left: 5px;

				a {
					display: block;
					height: 28px;
					min-width: 40px;
					padding: 0 10px;
					border: 1px solid transparent;
					text-align: center;
					color: $gray;

					&:hover,
					&:focus {
						color: $default;
					}
				}

				&.on {
					a {
						color: $primary;
						border-color: $primary;
					}
				}
			}
		}

		.btn {
			display: none;
		}
	}

	.type-select {
		float: right;

		a {
			width: .28rem;
			height: .28rem;
			border: 1px solid #d7d7d7;
			@include ir;
			background: url(#{$url-img-common}/ico_calendar-gray.png) no-repeat center center;
			background-size: .20rem;

			&.ico_calendar-table {
				background-image: url(#{$url-img-common}/ico_calendar-gray.png);

				&.on {
					background-image: url(#{$url-img-common}/ico_calendar-primary.png);
				}
			}

			&.ico_calendar-list {
				margin-left: .05rem;
				background-image: url(#{$url-img-common}/ico_list-gray.png);

				&.on {
					background-image: url(#{$url-img-common}/ico_list-primary.png);
				}
			}

			&.on {
				border-color: $primary;
			}
		}
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(md) {
			margin-bottom: 10px;

			.year-select {
				.year {
					font-size: 14px;
				}
			}

			.month-select {
				margin-left: 10px;

				.month-list {
					display: inline-block;
					vertical-align: middle;
					margin: 0;

					li {
						display: none;
						float: none;
						margin: 0;

						&.on {
							display: block;
							text-align: center;
							font-size: 14px;
							font-weight: normal;

							a {
								min-width: 3em;
								padding: 0;
								border: 0;
								color: $default;
								height: auto;
							}
						}
					}
				}

				.btn {
					display: inline-block;
				}
			}
		}
	}
}

.calendar-category {
	@include clearfix;
	margin: -.03rem -.03rem .10rem;
	font-size: $font-size-base;

	li {
		display: tbl_cell;
		width: 1%;
		padding: 3px;
	}

	input[type=checkbox] {
		+label {
			display: block;
			text-align: center;
			background-color: $white;
			border: .01rem solid $border-light;
			height: .38rem;
			line-height: .36rem;
			cursor: pointer;

			&:before,
			&:after {
				display: none;
			}
		}

		+label:hover,
		&:focus+label {
			outline: 0;
			border-radius: 1px;
			border-color: $gray;
			// border-color: mix($border-light, $primary);
			// box-shadow: 0 0 0 3px rgba($primary, 0.1);
		}

		&:checked {
			+label {
				border-color: $primary;
				color: $primary;
				font-weight: 500;
			}
		}
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			li {
				display: block;
				width: 25%;
				float: left;
			}
		}
	}
}

.calendar-legend {
	@include clearfix;
	margin-bottom: .15rem;

	li {
		float: left;
		margin-right: .15rem;
	}

	.text {
		vertical-align: middle;
		font-size: 12px;
	}

	@at-root .legend-category {
		display: inline-block;
		vertical-align: middle;
		width: .2rem;
		height: .2rem;
		line-height: .2rem;
		margin-right: .02rem;
		border-radius: 50%;
		text-align: center;
		color: $white;
		font-size: 10px;

		&.legend-category1 {
			background-color: #3db166;
		}

		&.legend-category2 {
			background-color: #8957a1;
		}

		&.legend-category3 {
			background-color: #ee001d;
		}

		&.legend-category4 {
			background-color: #2c53b0;
		}

		&.legend-category5 {
			background-color: #ea68a2;
		}

		&.legend-category6 {
			background-color: #638c0b;
		}

		&.legend-category7 {
			background-color: #f39800;
		}
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			li {
				margin-right: .04rem;

				.legend-category {
					width: .18rem;
					height: .18rem;
					line-height: .18rem;
					margin-right: 0;
				}
			}
		}
	}
}

.type-table {
	margin-top: .15rem;

	.tbl {
		tbl_layout: fixed;
		border-collapse: collapse;

		th,
		td {
			border: 1px solid $border-light;
		}

		th {
			height: .40rem;
			font-size: .16rem;
			font-weight: 500;
			background-color: $bg-lightgray;

			&:first-child {
				color: $red;
			}

			&:last-child {
				color: $blue;
			}
		}

		td {
			padding: .10rem;
			text-align: left;
			vertical-align: top;
			height: 1.20rem;

			&:first-child {
				.day {
					color: $red;
				}
			}

			&:last-child {
				.day {
					color: $blue;
				}
			}

			&.today {
				position: relative;
				z-index: 10;
				background-color: $bg-lightgray;
				border: 2px solid $primary;

				.day {
					font-weight: 500;
					color: $primary;
				}
			}
		}
	}

	.day {
		display: block;
		color: $default;

		span {
			display: none;
		}
	}

	.schedule-item {
		display: block;
		margin-top: .04rem;
		font-size: .12rem;
		@include text-ellipsis(1, 1em);
		max-height: none;

		&:hover,
		&:focus {
			.text {
				text-decoration: underline;
			}
		}

		.legend-category,
		.text {
			vertical-align: middle;
		}
	}

	.btn_more {
		float: right;
		margin-top: .10rem;
		font-size: .12rem;
		color: $primary;
		text-decoration: underline;
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			$th-width: .75rem;

			.tbl {
				position: relative;
				display: block;

				thead,
				.empty {
					display: none;
				}

				tbody,
				tr,
				td {
					display: block;
				}

				td {
					@include clearfix;
					position: relative;
					min-height: .48rem;
					margin-top: -1px;
					padding: .10rem .15rem .10rem $th-width + .15rem;
					height: auto;

					&:before {
						position: absolute;
						left: 0;
						width: $th-width;
						top: 0;
						bottom: 0;
						border-right: 1px solid $border-light;
						background-color: $bg-lightgray;
						content: '';
						z-index: -1;
					}

					&.today {
						border-width: 1px;
					}
				}
			}

			.day {
				display: block;
				// float: left;
				position: absolute;
				width: $th-width;
				left: 0;
				top: .10rem;
				font-size: 14px;
				font-weight: 500;
				text-align: center;

				span {
					display: inline;
				}
			}

			.schedule-item {
				font-size: 12px;

				&:hover,
				&:focus {
					.text {
						text-decoration: underline;
					}
				}

				.legend-category {
					width: 17px;
					height: 17px;
				}
			}

			.btn_more {
				margin-top: .10rem;
			}
		}
	}
}

.type-list {
	margin-top: .30rem;
	display: none;

	.legend-category {
		min-width: 4em;
		width: auto;
		height: .24rem;
		border-radius: 2px;
		padding: 0 .05rem;
		line-height: .24rem;
		font-size: 12px;
	}

	.tbl_list {
		tbody {
			font-size: $font-size-sm;

			.cell-subject {
				font-size: $font-size-base;
			}

			.cell-location {
				text-align: left;
			}
		}
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(md) {
			.tbl_list {
				tbody {

					.cell-category,
					.cell-subject {
						display: inline-block;
						vertical-align: middle;
						margin-bottom: .02rem;
					}

					.cell-category {
						width: 50px;
					}

					.cell-subject {
						@include text-ellipsis(1, 1em);
						width: calc(100% - 55px);
					}

					.cell-target,
					.cell-fee {
						&:before {
							display: inline-block;
							vertical-align: middle;
							width: 1px;
							height: 10px;
							margin: -2px 6px 0 2px;
							background: $gray;
							content: '';
						}
					}

					.cell-location {
						display: block;
						line-height: 1.4;
					}
				}
			}
		}
	}
}

/* 캘린더 상세 */
.schedule-list {
	font-size: .18rem;

	li {
		position: relative;
		line-height: .22rem;
		padding-left: .34rem;

		+li {
			margin-top: .15rem;
		}

		.legend-category {
			position: absolute;
			top: -.01rem;
			left: 0;
			width: .28rem;
			height: .28rem;
			line-height: .28rem;
			border-radius: 50%;
			font-size: .14rem;
		}

		.text {
			vertical-align: middle;
		}
	}

	a {

		&:hover,
		&:focus {
			.text {
				text-decoration: underline;
			}
		}
	}
}