/* 불릿 시스템 */

.list {
	>li {
		position: relative;
		@include clearfix;

		&:before {
			content: '';
			position: absolute;
			left: 0;
		}
	}

	.btn {
		vertical-align: baseline;
	}
}

.list1 {
	color: #555;
	font-size: $font-size-base;

	>li {
		padding-left: 15px;

		&:before {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 12px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #333;
		}
	}
}

.list2 {
	font-size: $font-size-base;

	>li {
		padding-left: 15px;

		&:before {
			width: 5px;
			height: 6px;
			top: 12px;
			background: url(#{$url-img}/common/bul_list2.png) no-repeat;
		}
	}
}

.list3 {
	font-size: $font-size-sm;
	line-height: 1.72;

	>li {
		padding-left: 9px;

		&:before {
			content: '-';
		}
	}
}

.list-check {
	>li {
		padding-left: 15px;

		+li {
			margin-top: 5px;
		}

		&:before {
			top: .25em;
			width: 12px;
			height: 12px;
			background: url(#{$url-img}/ico_check-lightprimary.png);
		}
	}
}