.paging {
	clear: both;
	margin-top: 50px;
	text-align: center;
	font-size: 0;

	a,
	strong {
		display: inline-block;
		min-width: 33px;
		height: 31px;
		border: 1px solid $border-light;
		border-radius: 2px;
		line-height: 29px;
		margin: 0 3px;
		padding: 0 5px;
		font-size: 14px;
		font-weight: normal;
		vertical-align: middle;
	}

	a {
		color: #666;
		transition-duration: .2s;
		transition-property: box-shadow;

		&:hover,
		&:focus {
			box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
		}
	}

	strong {
		color: #fff;
		border-color: transparent;
		background: $darkprimary;
	}

	.dir {
		width: 30px;
		line-height: 26px;
		text-indent: 50px;
		white-space: nowrap;
		background: url(#{$url-img-common}/ico_paging_fst.png) no-repeat center center;
		background-size: auto 9px;
		overflow: hidden;

		&.fst {
			background-image: url(#{$url-img-common}/ico_paging_fst.png);
			border-radius: 17px 0 0 17px;
		}

		&.prev {
			background-image: url(#{$url-img-common}/ico_paging_prev.png);
		}

		&.next {
			background-image: url(#{$url-img-common}/ico_paging_next.png);
		}

		&.lst {
			background-image: url(#{$url-img-common}/ico_paging_lst.png);
			border-radius: 0 17px 17px 0;
		}
	}
}