$popup-title-height: 88px;
$popup-mobile-title-height: 50px;

/* 모달, 윈도우 팝업 공통 */
.popup_header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-family-title;
	height: $popup-title-height;
	border-bottom: 1px solid $border-light;

	.popup_tit {
		font-size: 18px;
		line-height: 1;
		font-weight: 500;
		font-size: $font-size-xl;
	}

	.modal_popup & {
		@include media-breakpoint-up(lg) {
			border-radius: 10px 10px 0 0;
		}

		@include media-breakpoint-down(md) {
			height: $popup-mobile-title-height;
			justify-content: flex-start;
			padding-left: $mobile-spacing;
		}
	}
}

.popup_body {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 30px 30px 0;

	@if ($mode=='responsive') {
		@include media-breakpoint-down(md) {
			padding: $mobile-spacing $mobile-spacing 0;
		}
	}
}

.popup_footer {
	position: relative;
	padding: 10px 20px;
	text-align: center;
	border-radius: 0 0 10px 10px;

	&.not-open-today {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-lightgray;
	}

	.btn_group {
		margin-top: 10px;

		.modal_popup & {
			margin-bottom: 15px;
		}
	}
}

.btn_close_popup {
	display: block;
	position: absolute;
	top: 0;
	right: -9999px;
	width: 1px;
	height: 1px;
	border: 0;

	text-decoration: none;
	overflow: hidden;

	background: url(#{$url-img-common}/ico_close_lg.png) no-repeat center center;
	background-size: 18px 18px;
	overflow: hidden;

	&:focus,
	&:active {
		@include ir;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		width: 30px;
		height: 30px;
		background: #0e3d6a url(#{$url-img-common}/ico_close_lg.png) no-repeat center center;
		background-size: 18px 18px;
	}
}

.popup_header~.btn_close_popup {
	@include ir;
	right: 0;
	width: $popup-title-height;
	height: $popup-title-height;
	background: url(#{$url-img-common}/ico_close_lg.png) no-repeat center center;

	@if ($mode=='responsive') {
		@include media-breakpoint-down(md) {
			.modal_popup & {
				width: 48px;
				height: $popup-mobile-title-height;
			}
		}
	}
}

/* 모달 팝업 */
.modal_open {
	overflow: hidden;
}

.modal_popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
	display: flex;
	justify-content: center;
	align-items: center;

	.dimed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000, 0.5);
	}

	.popup_inner {
		position: relative;
		z-index: 1100;
		width: 600px;
		transition-duration: 0.3s;
		transition-property: transform;
		background-color: #fff;

		&:focus {
			outline: 0;
			// box-shadow: 0 0 20px 5px rgba(#fff, .2);
		}

		.modal_popup.hide & {
			transform: scale(0.9);
		}

		.modal_popup.show & {
			transform: scale(1);
		}
	}

	&.hide {
		opacity: 0;
		visibility: hidden;

		.popup_inner {
			transform: translateY(-50px);
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
		transition-duration: 0.3s;

		.popup_inner {
			transform: translateY(0);
		}
	}

	$popup-size: (xs: 400px,
		sm: 600px,
		md: 750px,
		lg: 800px,
		xl: 880px,
		xxl: 1100px,
		alert: 600px,
	);

	@each $size,
	$width in $popup-size {

		&.modal_#{$size} {
			.popup_inner {
				width: $width;
			}
		}
	}

	// &.modal_full {
	// 	.popup_inner {
	// 		// border-radius: 0;
	// 		display: flex;
	// 		flex-direction: column;
	// 		width: calc(100% - 100px);
	// 		height: calc(100% - 100px);
	// 	}

	// 	.popup_header,
	// 	.popup_footer {
	// 		flex: 0 0 auto;
	// 		// border-radius: 0;
	// 	}

	// 	.popup_body {
	// 		flex: 1 1 auto;
	// 		max-height: none;
	// 		padding-bottom: 30px;
	// 	}
	// }

	// @include media-breakpoint-up(lg) {
	.popup_inner {
		border-radius: 10px;
	}

	.popup_body {
		max-height: calc(100vh - 300px);
	}

	// }
	@if ($mode=='responsive') {
		@include media-breakpoint-down(md) {
			&.modal_sm {
				.popup_inner {
					margin: $mobile-spacing;
					border-radius: 10px;
				}
			}

			&:not(.modal_sm) {
				.popup_inner {
					width: 100%;
					display: flex !important;
					flex-direction: column !important;
					justify-content: center !important;
					height: 100%;
				}

				.popup_header,
				.popup_footer {
					flex: 0 0 auto;
				}

				.popup_body {
					flex: 1 1 auto;
					max-height: 100%;
				}
			}
		}
	}
}

/* 윈도우 팝업 */
.popup {
	height: 100%;
	overflow: hidden;

	.popup_inner {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		height: 100%;
	}

	.popup_header {
		flex: 0 0 auto;
	}

	.popup_body {
		flex: 1 1 auto;
		max-height: 100%;

		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.popup_footer {
		flex: 0 0 auto;
		padding-bottom: 30px;
	}
}

/* 일반 레이어팝업 */
// .layer-popup {
// 	position: absolute;
// 	z-index: 1000;
// 	transition-duration: 0.3s;
// 	transition-property: opacity;

// 	&.hide {
// 		opacity: 0;
// 		visibility: hidden;
// 	}

// 	&.show {
// 		opacity: 1;
// 		visibility: visible;
// 	}

// 	.popup_inner {
// 		width: $popup-width-sm;
// 		position: relative;
// 		z-index: 1100;
// 		transition-duration: 0.3s;
// 		transition-property: transform;
// 		background-color: #fff;
// 		border-radius: 10px;
// 		border: 1px solid $border-active;
// 		box-shadow: 0 6px 9px rgba(#000, .2);
// 		overflow: hidden;

// 		// &:focus {
// 		// 	outline: 0;
// 		// 	box-shadow: 0 0 20px 5px rgba(#fff, .2);
// 		// }

// 		.modal_popup.hide & {
// 			transform: scale(0.9);
// 		}

// 		.modal_popup.show & {
// 			transform: scale(1);
// 		}
// 	}

// 	.popup_header {
// 		justify-content: flex-start;
// 		height: 88px;
// 		padding: 0 30px;

// 		.popup_tit {
// 			display: flex;
// 			align-items: center;
// 			padding-top: 6px;
// 			color: $default;
// 			font-weight: 600;

// 			.ico {
// 				margin-top: -4px;
// 				margin-right: 4px;
// 			}
// 		}

// 		~.btn_close_popup {
// 			top: 0;
// 			right: 0;
// 			width: 50px;
// 			height: 50px;
// 			background-image: url(#{$url-img}/common/btn_colse.png);
// 			background-size: 20px auto;
// 		}
// 	}

// 	.popup_body {
// 		padding: 16px 20px 20px;

// 		.btn_group {
// 			margin-top: 12px;
// 		}
// 	}

// 	@if ($mode=='responsive') {
// 		@include media-breakpoint-down(md) {
// 			position: fixed;
// 			top: 0 !important;
// 			bottom: 0 !important;
// 			left: 0 !important;
// 			right: 0 !important;

// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			padding: $mobile-spacing;

// 			.popup_inner {
// 				max-width: $popup-width-md;
// 				width: 100% !important;
// 			}
// 		}
// 	}
// }