/* 탭메뉴 */

// 더블 탭메뉴
.tab_menu_double {
	>.tab_menu_type1 .current {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			left: 50%;
			top: 84px;
			width: 23px;
			height: 13px;
			margin-left: -12px;
			background: url(#{$url-img-common}/ico_arr_box.png) no-repeat 0 0;
		}
	}

	>.tab_sub {
		margin-top: 40px;
		padding: 20px;
		border-top: 1px solid #efefef;
		background: $bg-lightgray;

		>ul {
			@include clearfix;

			>li {
				float: left;
				position: relative;

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: calc(100% - 1px);
					height: calc(100% - 1px);
					border-right: 1px solid $bg-lightgray;
					border-bottom: 1px solid $bg-lightgray;
					background: $white;
				}

				>a {
					display: block;
					position: relative;
					height: 47px;
					line-height: 47px;
					text-align: center;
					color: #666;

					&:hover,
					&.current {
						background: $primary;
						font-weight: 400;
						color: #000;
					}
				}
			}
		}
	}

	.col4>ul>li {
		width: calc(100% / 4);
	}

	.col5>ul>li {
		width: calc(100% / 5);
	}

	.col6>ul>li {
		width: calc(100% / 6);
	}

	.col7>ul>li {
		width: calc(100% / 7);
	}
}

// 스타일1
.tab_menu_type1 {
	>ul {
		display: flex;
		border-radius: 6px;

		>li {
			flex: 1 1 0;

			&:first-child>a {
				border-radius: 6px 0 0 6px;
			}

			&:last-child>a {
				border-radius: 0 6px 6px 0;
			}

			&:not(:last-child)>a {

				&.current,
				&:hover {
					background: $darkgray;
					font-weight: 500;
					color: #fff;

					&::before {
						background: $darkgray;
					}
				}

				&::before {
					content: '';
					position: absolute;
					right: 0;
					top: 0;
					width: 1px;
					height: 100%;
					background: $white;
				}
			}

			>a {
				display: block;
				position: relative;
				height: 56px;
				border-color: red;
				background: #efefef;
				line-height: 56px;
				text-align: center;
				font-weight: 400;
				font-size: 18px;
				color: #666;

				&.current,
				&:hover {
					background: $darkgray;
					font-weight: 500;
					color: #fff;
				}
			}
		}
	}
}

// 스타일2
.tab_menu_type2 {
	>ul {
		display: inline-flex;
		width: 100%;
		border-bottom: 1px solid $border-base;

		>li {
			>a {
				display: inline-block;
				height: 36px;
				padding: 0 31px;
				line-height: 1;
				font-weight: 400;
				font-size: 18px;
				color: #666;

				&.current,
				&:hover {
					position: relative;
					color: $darkgray;

					&::before {
						content: '';
						position: absolute;
						left: 0;
						bottom: -1px;
						width: 100%;
						height: 2px;
						background: $black;
					}
				}
			}
		}
	}
}

// 스타일3
.tab_menu_type3 {
	>ul {
		display: flex;
		border-style: none none solid solid;
		border-width: 1px;
		border-color: transparent transparent $black #eee;

		>li>a {
			display: block;
			position: relative;
			height: 55px;
			padding: 0 40px;
			border-style: solid solid none none;
			border-width: 1px;
			border-color: #eee;
			background: $white;
			font-size: 20px;
			color: $gray;
			line-height: 55px;

			&:hover,
			&:focus,
			&.current {
				font-weight: 500;
				color: $black;

				&::before {
					content: '';
					position: absolute;
					left: -1px;
					top: -1px;
					width: 100%;
					height: 100%;
					border-style: solid solid none solid;
					border-width: 1px;
					border-color: $primary;
					background: $primary;
				}
			}

			>span {
				position: relative;
			}
		}
	}
}