.tbl {
	table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border-style: solid none solid;
		border-width: 2px 0 1px;
		border-color: $black;
	}

	thead {
		th {
			padding: 13px 0;
			border-bottom: 1px solid $black;
			font-weight: 500;
			color: $darkgray;
		}
	}

	tbody {
		>tr {
			&:first-child td {
				border-top: 0;
			}

			>td {
				padding: 23px 10px;
				border-top: 1px solid $border-base;
				text-align: center;
				color: $darkgray;
			}
		}
	}
}

.tbl_row {
	border-style: solid none solid;
	border-width: 2px 0 1px;
	border-color: $black;

	>.tit_view {
		padding: 22px 20px;
		border-bottom: 1px solid $border-base;
		font-weight: 400;
		font-size: 20px;
		color: $black;
	}

	>.tr_box {
		display: flex;

		&:not(:last-child) {
			border-bottom: 1px solid $border-base;
		}

		>.th_cell,
		>.td_cell {
			display: flex;
			align-items: center;
		}

		>.th_cell {
			width: 160px;
			padding: 14px 10px 14px 20px;
			font-weight: 400;
			color: $darkgray;

			>.necessary {
				display: inline-block;
				width: 4px;
				height: 4px;
				overflow: hidden;
				margin-left: 7px;
				padding: 0;
				border-radius: 50%;
				transform: translateY(-3px);
				border: 0;
				background: #f46e16;
			}

			&.txt_c {
				padding-left: 0;
				padding-right: 0;
				justify-content: center;
			}
		}

		>.td_cell {
			width: calc(100% - 160px);
			padding: 14px 10px 14px 20px;
			color: $darkgray;
		}

		>div:not(:first-child) {
			border-left: 1px solid $border-base;
		}

		>.txt_view {
			flex: 1;
			padding: 25px 20px;
		}
	}

	.inline_td {
		>div {
			padding: 13px 40px;

			>span {
				font-weight: 400;
				color: $black;
			}
		}

	}

	.multi {
		>div:nth-child(odd) {
			width: 160px;
		}

		>div:nth-child(even) {
			width: calc((100% - 320px) / 2);
		}
	}
}

.file_attach {
	>li {
		>a {
			display: inline-block;
			padding-right: 30px;
			background: url(#{$url-img-common}/ico_file_attach.png) no-repeat 100% 50%;
			color: $black;

			&:hover {
				text-decoration: underline;
			}
		}
	}

}

.tbl_box_top {
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;

	>.box_left {
		margin-right: auto;
	}

	>.box_right {
		margin-left: auto;
		text-align: right;
	}

	.tbl_info {
		display: block;
		line-height: 1;
		color: $darkgray;

		&::before {
			display: inline-block;
			content: '';
			width: 20px;
			height: 20px;
			margin-right: 2px;
			background: url(#{$url-img-common}/ico_arr_circle_right_primary.png) no-repeat 0 0;
			vertical-align: top;

		}

		>strong {
			font-weight: 400;
			color: $darkprimary;
		}

		&.msg {
			&::before {
				background-image: url(#{$url-img-common}/ico_arr_circle_right_gray.png);
			}
		}
	}
}

.search_tbl_box {
	display: flex;
	padding-bottom: 20px;

	>div {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	>.opt_box {
		border-bottom: 1px solid $black;

		>select {
			width: 120px;
			height: 30px;
			padding: 0 15px;
			border: 0;
			transform: translate3d(0, -6px, 0);
			background-position-y: 12px;
			font-weight: 200;
			color: $black;
		}
	}
}

.tf_search_txt {
	position: relative;
	padding-right: 48px;
	border-bottom: 1px solid $black;

	>input[type=text] {
		width: 312px;
		height: 30px;
		padding: 0 15px;
		border: 0;
		transform: translate3d(0, -6px, 0);
		font-weight: 200;
		font-size: 16px;
		color: $darkgray;
	}

	>input[type=text]::placeholder {
		font-weight: 200;
		font-size: 16px;
		color: $darkgray;
	}

	>button {
		position: absolute;
		right: 0;
		top: 0;
		width: 48px;
		height: 31px;
		background: url(#{$url-img-common}/ico_search.png) no-repeat 50% 0;
	}
}

.btn_tbl_btm {
	margin-top: 60px;
	text-align: center;
}