table {
	width: 100%;
	border-spacing: 0;
}

.tbl {
	table {
		tbl_layout: fixed;
		border-top: 2px solid $bg-darkprimary;
		// width: calc(100% + 1px);
		// margin-right: -1px;
		border-collapse: collapse;
		border-bottom: 1px solid #85a3bb;
		border-left: hidden;
		border-right: hidden;
	}

	thead {
		word-break: keep-all;
	}

	thead~tbody,
	thead~tfoot {
		text-align: center;
	}

	caption+tbody,
	colgroup+tbody {
		>tr:first-child {

			>th,
			>td {
				border-top: 0;
			}
		}
	}

	th,
	td {
		height: 45px;
		padding: 10px 20px;
		border-top: 1px solid #c9d2d9;
		border-right: 1px solid #c9d2d9;
	}

	th {
		// background-color: $bg-gray;
		background-color: #eef3f8;
		font-weight: bold;
	}

	thead {
		text-align: center;

		tr {
			&:first-child {

				th,
				td {
					border-top: 0;
				}
			}
		}

		th {
			color: #003865;
		}
	}

	&.tbl_narrow {

		th,
		td {
			padding-left: 10px;
			padding-right: 10px;
		}
	}

	&.tbl_point {

		table {
			border-top: 2px solid #174b91;
			border-bottom: 2px solid #779ccf;
		}

		th {
			background-color: #5185cc;
			font-family: $font-family-title;
			font-weight: 500;
			font-size: 15px;
			color: #fff;
		}

		th,
		td {
			border-color: #a4bddf;
		}
	}
}

.tbl_row {
	@include media-breakpoint-up(lg) {
		colgroup {
			display: none;
		}

		tbody {
			th {
				width: 180px;
				text-align: left;
			}
		}
	}
}

.tbl_form {
	th {
		text-align: left;
	}

	// @include media-breakpoint-up(lg) {

	// 	th,
	// 	td {
	// 		padding-top: 5px;
	// 		padding-bottom: 5px;
	// 	}
	// }

	@include media-breakpoint-down(md) {
		overflow: visible;

		>table {
			width: 100%;
			margin-right: 0;

			>colgroup,
			>thead {
				display: none;
			}

			>tbody,
			>tfoot {
				text-align: left !important;
			}

			>thead,
			>tbody {

				>tr {
					display: block;

					&:first-child {
						>th {
							border: 0;
						}
					}

					>th,
					>td {
						display: block;
						height: auto;
						border: 0;
					}

					>th {
						background-color: #fff;
						border-top: 1px solid $border-light;
						padding: 12px 0 3px;
					}

					>td {
						padding: 3px 0 15px;
					}
				}
			}
		}

		.tf {
			width: 100%;
		}
	}
}

.tbl_form_min,
.tbl_form_box {
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;

	table {
		border: 0;
	}

	th,
	td {
		border: 0;
		height: auto;
	}

	@include media-breakpoint-up(lg) {
		padding: 20px 0;

		table {
			width: 100%;
			margin-right: 0;
		}

		th {
			background-color: transparent;
		}

		th,
		td {
			padding: 10px 0;
		}
	}

	@include media-breakpoint-down(md) {
		padding-bottom: 20px;

		th {
			padding: 20px 0 10px;
			line-height: 1;
		}

		td {
			padding: 0;
		}
	}
}

.tbl_form_box {
	@include media-breakpoint-up(lg) {
		border: 1px solid #e6e6e6;
		padding: 20px 30px;
	}
}

.tbl_scroll {
	@include media-breakpoint-up(lg) {
		.scroll_container {
			table {
				min-width: auto !important;
			}
		}
	}

	@include media-breakpoint-down(md) {
		position: relative;
		overflow: hidden;

		&:before,
		&:after {
			content: '';
			position: absolute;
			z-index: 10;
			top: 0;
			bottom: 0;

			width: 23px;
			top: 0;
			bottom: 0;

			transition-duration: .1s;
		}

		&:before {
			opacity: 0;
			visibility: hidden;

			left: -23px;
			box-shadow: 5px 0 15px rgba(0, 0, 0, .25);
		}

		&:after {
			right: -23px;
			box-shadow: -5px 0 15px rgba(0, 0, 0, .25);
		}

		&.scroll_ing {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}

		&.scroll_end {
			&:after {
				opacity: 0;
				visibility: hidden;
			}
		}

		.scroll_container {
			margin-right: -1px;
			overflow-y: hidden;
			overflow-x: auto;
			-webkit-overflow-scrolling: touch;

			table {
				position: relative;

				&:after {
					position: absolute;
					width: 1px;
					top: 0;
					bottom: 0;
					right: 0;
					background-color: #fff;
					content: '';
				}
			}
		}
	}
}

/* 테이블 셀 강조효과 */
.tbl {
	$accent-red: $red;
	$accent-blue: $bg-darkprimary;
	$border-width: 3px;

	table {

		.cell-accent-red,
		.cell-accent-blue {
			border-left: $border-width solid;
			border-right: $border-width solid;
			// border-style: double;
		}

		.cell-accent-red {
			border-left-color: $accent-red;
			border-right-color: $accent-red;
		}

		.cell-accent-blue {
			border-left-color: $accent-blue;
			border-right-color: $accent-blue;
		}
	}

	thead {

		.cell-accent-red,
		.cell-accent-blue {
			border-top: $border-width solid !important;
			font-weight: bold;
		}

		.cell-accent-red {
			border-top-color: $accent-red !important;
			color: $accent-red;
			background-color: #ffe8e6;
		}

		.cell-accent-blue {
			border-top-color: $accent-blue !important;
			color: #1775B4;
			background-color: #eef3f8;
		}
	}

	tbody {
		tr {
			&:last-child {

				.cell-accent-red,
				.cell-accent-blue {
					border-bottom: $border-width solid;
				}

				.cell-accent-red {
					border-bottom-color: $accent-red;
				}

				.cell-accent-blue {
					border-bottom-color: $accent-blue;
				}
			}
		}
	}
}