// 부가서비스
.tit_lg_type2 {
	font-size: 20px;
	padding-left: 20px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		background-color: #ff883a;
		width: 10px;
		height: 10px;
		border-radius: 10px;
		top: 14px;
	}
}

.box_info {
	display: flex;

	.artwork_img {
		margin: 0 40px;
		max-width: 60px;
	}

	dl {
		padding-left: 10px;

		dt {
			margin-bottom: 0;

			&:before {
				display: none;
			}
		}
	}
}

.service_list {
	display: flex;

	li {
		flex: 1 1 auto;
		text-align: center;

		img {
			max-width: 146px;
		}

		strong {
			display: block;
		}

		.list {
			display: inline-block;

			li {
				margin: 0 auto;
			}
		}
	}
}

.tab_type1 {
	ul {
		li {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 70px;
				line-height: 10px;
				line-height: 25px;
			}
		}
	}
}

.box_content {
	padding: 30px;

	.cont_head {
		border-bottom: 1px solid #dddddd;
		padding-bottom: 30px;
	}

	.cont_body_type {
		.tit1 {
			color: #ce4900;
			margin-top: 30px;
		}
	}
}

.tbl_data_type {
	table {
		tbody {
			tr {
				&:nth-child(n + 2) {
					td {
						border-right: 1px solid #ddd;
					}
				}
			}
		}
	}
}

.tbl_data_type2 {
	td {
		&:first-child {
			bordeR-left: 0;
		}

		border-left: 1px solid #ddd;
	}
}

.tbl_calculator_type {
	table {
		border-top: 1px solid #ddd;

		tbody {
			tr {
				th {
					background-color: #f3f3f2;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}
}

.modal_calculator {
	.popup_body {
		position: relative;

		.tit_type {
			font-size: 24px;
			display: block;
		}

		.ins_tit {
			font-size: 36px;
		}

		.cont_header_right {
			top: 45px;
			right: 70px;
		}

		.tbl_tit {
			.tit1 {
				font-size: 24px;
			}
		}
	}

	.input_info_type {
		.tit_info {
			padding: 24px 20px;

			span {
				padding-right: 20px;
			}
		}
	}

	.layout_full {
		// width: 100%;
		padding: 25px 20px;
	}

	.one_insurance {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.tit {
			font-size: 16px;
			font-weight: 500;
		}
	}
}