// 부가서비스 페이지 

.tab_menu2 {
	&.menu2_type2 {
		.tab_list {
			li {
				font-size: 13px;
			}
		}
	}
}

.bd_top {
	border-top: 1px solid #ddd;
}

// s : 부가서비스 - 김정연
.ins_accordion_type2 {
	border-top: 1px solid #ddd;

	h3 {
		padding-top: 0;
		padding-bottom: 0;

		.tit1 {
			position: relative;
			padding: 20px 0;
			margin-bottom: 0px;
			font-size: 16px;
			width: 100%;
			text-align: left;

			em {
				font-style: normal;

				&:after {
					content: '';
					display: inline-block;
					width: 1px;
					height: 13px;
					background-color: #eee;
					margin-left: 10px;
					margin-right: 10px;
				}
			}
		}
	}



	&.no_border {
		border-top: none;
	}

	.content1 {
		border-bottom: 1px solid #eeeeee;
		padding-bottom: 20px;
		display: none;


		.no_border2 {
			li {
				padding-top: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
		}
	}
}

.bul_1 {
	margin-left: 15px;

	&:before {
		content: '※';
		margin-left: -17px;
		font-size: 14px;
	}
}

.as_service_box {
	dl {
		text-align: center;

		dt {
			margin: 40px 0 5px;

			&:nth-child(1) {
				margin-top: 0;
			}

			.img {
				display: block;
				margin-bottom: 5px;

				img {
					width: 71.5px;
				}
			}

			strong {
				display: inline-block;
				color: #333;
				font-size: 14px;
				line-height: 14px;
			}
		}

		dd {
			color: #555;
		}
	}
}

.contract_item {
	.list_name2 {
		display: block;
		font-size: 16px;
		line-height: 20px;
		color: #111;
		font-weight: 400;
	}
}

.contract_list1 {
	.btn_btm_group {
		display: flex;
		flex-direction: column;

		.btn {
			height: 65px;
			display: inline-flex;
			justify-content: space-between;
			padding-left: 25px;
			padding-right: 25px;

			span {
				text-align: left;
				font-size: 18px;
				align-content: center;
			}
		}
	}
}

.tabel_txt_sm {
	font-size: 11px;

	th {
		padding: 11.5px 20px;
	}

	td {
		text-align: center;
	}

	.btn {
		font-size: 10px;
	}
}

// e : 부가서비스 - 김정연

.tbl {
	&.tbl_ml_0 {
		margin-left: -20px;
	}
}