// 청약
.bg_lightgray2 {
	background: #fafafa;
}

// 공통 스타일 지역 커스텀
// .cont_apply {
// }

// 콘텐츠 스타일 하단 정의
.apply_header {
	padding: 50px 50px 0;

	.tit_cont_apply {
		text-align: center;
		font-size: 34px;
		line-height: 1;
	}
}

.apply_sec {
	padding: 30px 50px 40px;

	+.apply_sec {
		border-top: 15px solid #f7f7f7;
	}

	.list_empty {
		border: 1px solid #eee;
		border-width: 1px 0;
		text-align: center;
		padding: 50px 0;

		p {
			display: inline-block;

			&:before {
				content: "";
				display: inline-block;
				position: relative;
				top: 3px;
				margin-right: 3px;
				width: 18px;
				height: 18px;
				background:url(#{$url-img}/common/ico_emp.png) 0 0 no-repeat;
			}

		}
	}

	.txt_r {
		.ico_warning_gray {
			position: relative;
			top: -3px;
		}
	}

	.total_price {
		margin-top: 40px;
		text-align: right;

		p {
			font-size: 26px;
			line-height: 30px;
			color: #555;
			font-weight: 400;

			strong {
				font-size: 26px;
				line-height: 30px;
				color: #ce4900;
				letter-spacing: -2px;
				margin-left: 10px;
			}
		}
	}

	.resident_num {
		position: relative;

		.btn_mouse_pwd {
			padding-left: 30px;

			&:before {
				content: '';
				position: absolute;
				left: 7px;
				top: 50%;
				width: 11px;
				height: 1px;
				margin-top: -1px;
				background: #ddd;
			}
		}
	}

	.add_certification {
		&:after {
			content: "";
			display: block;
			clear: both;
		}

		li {
			float: left;
			border: 1px solid #ddd;
			border-radius: 20px;
			background: #fff;
			margin-right: 30px;

			a {
				font-size: 16px;
				padding: 33px 120px 33px 180px;
				display: block;

				&.sms {
					background: url(#{$url-img}/content/ico_certification1.png) left 130px center no-repeat;
				}

				&.ars {
					background: url(#{$url-img}/content/ico_certification2.png) left 130px center no-repeat;
				}
			}
		}
	}

	.apply_chk_box {
		.all_chk {
			font-size: 26px;
			font-weight: bold;

			label {
				background-position: left center !important;
				color: #ce4900;
			}
		}

		.in_list {
			border-top: 1px solid #111;
			border-bottom: 1px solid #ddd;
			background: #fafafa;
			margin-top: 10px;

			>div {
				position: relative;
				padding: 25px 20px;
				border-top: 1px solid #eee;

				&:first-child {
					border: 0;
				}

				.check_item {
					label {
						font-weight: 400;
						padding-left: 30px;
						display: block;
						background-position: left center;

						&.bold {
							font-weight: bold;
						}
					}
				}

				p {
					padding: 35px 40px 0;
					word-break: keep-all;
				}

				.btn {
					position: absolute;
					right: 30px;
					top: 50%;
					top: 17px;
				}

				.chk_list {
					font-size: 0;
					padding: 20px 0 0 10px;

					li {
						display: inline-block;
						margin-left: 30px;

						input:disabled+label {
							background: none;

							&:before {
								content: "";
								display: block;
								position: absolute;
								left: 0;
								top: 3px;
								background: #f3f3f3;
								border: 1px solid #ddd;
								width: 22px;
								height: 22px;
								border-radius: 5px;
							}
						}

						label {
							font-size: 16px;
							color: #666;
						}
					}
				}
			}
		}
	}

	.tit2 {
		.ico_tit_arrow {
			position: relative;
			top: -3px;
		}
	}

	.signature {
		p {
			letter-spacing: -.5px;
			margin-top: 30px;

			&:first-child {
				margin-top: 0;
			}

			input {
				height: 32px;
				line-height: 32px;
				margin: 0 10px;
			}

			&.txt_primary {
				font-weight: 400;
				font-size: 18px;
			}

			&.input_txt {
				border: 2px solid #111;
				padding: 10px 25px;
				background: #fff;
				border-radius: 5px;
				font-weight: 400;
			}

			.ico_arr_circle_bullet {
				display: inline-block;
				vertical-align: middle;
				width: 20px;
				height: 20px;
				background:url(#{$url-img}/content/ico_arr_circle_bullet.png) 0 0 no-repeat;
				position: relative;
				top: -3px;
				margin-right: 5px;
			}
		}
	}

	.tbl_row2 {
		&.num_tb {
			th {
				padding-left: 50px;
				position: relative;
				font-weight: 400;
				letter-spacing: -0.5px;

				span {
					&.num {
						color: #fff;
						position: absolute;
						left: 20px;
						top: 29px;
						background: #555;
						border-radius: 50%;
						width: 20px;
						font-size: 14px;
						font-weight: 400;
						height: 20px;
						text-align: center;
						line-height: 18px;
					}
				}
			}
		}
	}

	.num6_chk {
		font-size: 0;
		margin-top: -5px;
		margin-top: 10px;

		li {
			display: inline-block;
			vertical-align: middle;
			margin: 5px 25px 0 0;

			input:disabled+label {
				background: none;

				&:before {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 3px;
					background: #f3f3f3;
					border: 1px solid #ddd;
					width: 22px;
					height: 22px;
					border-radius: 5px;
				}
			}

			label {
				font-size: 16px;
				color: #666;
				font-weight: 200;
			}
		}
	}

	.check_item {
		input[type="radio"]:disabled+label {
			color: #aaa;

			&:before {
				content: "";
				display: block;
				width: 22px;
				height: 22px;
				border: 1px solid #dedede;
				border-radius: 50%;
				background: #f3f3f3;
				position: absolute;
				left: 0;
				top: 2px;
			}
		}
	}

	.bottom_controll_areas {
		position: relative;
		margin-top: 70px;

		.list {
			.num {
				display: inline-block;
				vertical-align: middle;
				color: #fff;
				background: #555;
				border-radius: 50%;
				width: 20px;
				font-size: 14px;
				font-weight: 400;
				height: 20px;
				text-align: center;
				line-height: 18px;
				position: relative;
				top: -2px
			}
		}

		.btns {
			font-size: 0;
			position: absolute;
			right: 0;
			top: 0;

			li {
				display: inline-block;
				vertical-align: top;
				margin-left: 10px;

				a {
					font-size: 14px;
					color: #fff;
					padding: 0 40px 0 20px;
					background: #555;
					border-radius: 30px;
					display: block;
					text-align: center;
					height: 32px;
					line-height: 30px;
					position: relative;

					&:before {
						content: "";
						display: block;
						border-left: 2px solid #fff;
						height: 10px;
						position: absolute;
						right: 24px;
						top: 50%;
						margin-top: -6px;
					}

					&:after {
						content: "";
						display: block;
						border-top: 2px solid #fff;
						width: 10px;
						position: absolute;
						right: 20px;
						top: 50%;
						margin-top: -2px;
					}

					&.del {
						&:before {
							display: none;
						}
					}
				}
			}
		}
	}

	&.pop {
		padding: 0;
	}

	.btn_gray_type {
		color: $white;
		background-color: #555;
	}

}

.box {
	&.normal {
		border: 0;
		padding: 0;
	}

}

.popup_body {
	.state_info {
		ul {
			font-size: 0;
			text-align: center;
			margin: 20px 0;
			padding: 0 50px;

			li {
				display: inline-block;
				width: 20%;
				position: relative;
				padding-top: 40px;

				&:first-child {
					&:before {
						border-radius: 7px 0 0 7px;
					}
				}

				&:last-child {
					&::before {
						border-radius: 0 7px 7px 0;
						margin-right: 0;
					}
				}

				span {
					font-size: 18px;
					line-height: 20px;
					display: block;
					font-weight: 500;
					margin-bottom: 5px;
				}

				&:before {
					content: "";
					display: block;
					width: calc(100% - 1px);
					height: 15px;
					margin-right: 1px;
				}

				.evaluation_image {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}

				&:nth-child(1) {
					&:before {
						background: #23a6d2;
					}
				}

				&:nth-child(2) {
					&:before {
						background: #64bc54;
					}
				}

				&:nth-child(3) {
					&:before {
						background: #efcf1c;
					}
				}

				&:nth-child(4) {
					&:before {
						background: #f5933e;
					}
				}

				&:nth-child(5) {
					&:before {
						background: #ee3f24;
					}
				}
			}
		}
	}

	.bottom_blit_txt {
		margin-top: 10px;

		li {
			padding-left: 12px;
			text-indent: -12px;
			font-size: 16px;
			font-weight: bold;
			line-height: 22px;
		}
	}
}

.num_style_list {
	background: #f7f7f7;
	border-top: 1px solid #111;
	margin-top: 25px;

	.num_list {
		>li {
			position: relative;
			padding: 30px;
			padding-left: 50px;
			border-bottom: 1px solid #eee;

			&:last-child {
				border-color: #ddd;
			}

			.chk {
				position: absolute;
				right: 20px;
				top: 27px;
			}

			.num {
				color: #fff;
				position: absolute;
				left: 20px;
				top: 34px;
				background: #555;
				border-radius: 50%;
				width: 20px;
				font-size: 14px;
				font-weight: 400;
				height: 20px;
				text-align: center;
				line-height: 18px;
			}

			.tit {
				display: block;
				margin-bottom: 20px;
				width: 700px;
			}

			>ul {
				font-size: 0;
				margin: -10px 0 0 -30px;

				li {
					display: inline-block;
					vertical-align: top;
					margin: 10px 0 0 30px;

					label {
						font-size: 16px;
						color: #666;
					}
				}
			}

			input[type="checkbox"]:disabled+label {
				background: none;

				&:before {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 3px;
					background: #f3f3f3;
					border: 1px solid #ddd;
					width: 22px;
					height: 22px;
					border-radius: 5px;
				}
			}


			.num_list {
				>li {
					border: 0;
					padding-top: 0;
					padding-bottom: 0;
					margin-top: 20px;
					padding-left: 30px;

					&:first-child {
						margin-top: 0;
					}

					.chk {
						top: 0px;
						right: 30px;
					}

					.num {
						background: #fff;
						color: #111;
						box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
						top: 5px;
						left: 0;
					}
				}
			}
		}
	}
}

.num_indent {
	>li {
		padding-left: 20px;
		text-indent: -20px;
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.transfer_complete_box {
	text-align: center;
	padding: 50px 0;

	>span {
		display: block;
		font-size: 40px;
		line-height: 48px;
		margin: 35px 0 15px;

		strong {
			font-size: 40px;
			line-height: 44px;
		}
	}

	p {
		font-size: 18px;
		line-height: 22px;
		color: #555;

		span {
			color: #ce4900;
			font-size: 18px;
			line-height: 22px;
		}
	}
}

/* 위험직종등급표 */
.box_apply {
	margin-top: 50px;
	padding: 35px 40px 40px;
	border-radius: 30px;
	border: 1px solid #ddd;

	.inner {
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}

	.tab_menu {
		float: left;
		width: 240px;

		ul {
			li {
				position: relative;
				margin-top: 5px;
				height: 34px;

				input[type=radio] {
					position: absolute;
					width: 1px;
					height: 1px;
					opacity: 0;

					+label {
						display: block;
						width: 100%;
						padding: 0 20px;
						font-weight: 400;
						line-height: 34px;
						border-radius: 17.5px;
					}

					&:checked {
						+label {
							font-weight: bold;

							background-color: #ff883a;
						}
					}
				}
			}

		}
	}

	.tab_cont {
		width: calc(100% - 240px);
		padding: 0 0 0 40px;
		height: 400px;
		overflow-y: auto;

		strong {
			display: block;
			margin-top: 25px;
			font-weight: 500;

			&:first-child {
				margin-top: 0;
			}
		}
	}
}

.maintain-check {
	margin-top: 3px;

	li {
		.check_item {
			>label {
				color: #666;
			}

			input:checked {
				+label {
					color: #333;
				}
			}

			+li {
				margin-top: 3px;
			}
		}
	}


}

.txt_mxl {
	font-size: 24px;
	letter-spacing: -1.6px;
	font-weight: 400;
	text-align: center;
}