// 청약

// 공통 스타일 지역 커스텀
// .cont_apply {
// }

// 콘텐츠 스타일 하단 정의
.apply_header {
	padding: 50px 50px 0;

	.tit_cont_apply {
		text-align: center;
		font-size: 34px;
		line-height: 1;
	}
}

.apply_sec {
	padding: 30px 50px 40px;

	+.apply_sec {
		border-top: 15px solid #f7f7f7;
	}
}