//금융리포트_고객등급계산기
.txt_xl_35 {
	font-size: 35px;
}

.popup_type_calc {
	.popup_header {
		height: 240px;
		padding: 0;
		position: relative;
		width: 100%;
		box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.07);

		.user_rating {
			width: 100%;
			height: 100px;
			background-color: #fef5e5;
			position: relative;
			display: flex;
			padding: 0px 70px 0px 70px;
			justify-content: space-between;
			align-items: center;

			div {
				width: 130px;

				&.rating {
					position: relative;

					.ico {
						display: inline-block;

						&.ico_piggybank {
							background: url(/resources/img/content/ico_piggybank.png);
							background-size: 100% 100%;
							background-repeat: no-repeat;
							width: 55px;
							height: 50px;
							position: absolute;
							left: 0;
							top: calc(50% - 25px);
						}
					}

					>.status_box {
						width: 80px;
						height: 40px;
						background-color: #fdc61c;
						display: inline-flex;
						border-radius: 20px;
						justify-content: center;
						align-items: center;
						font-size: 18px;
						font-weight: bold;
						margin-left: 26px;
					}
				}

				&.rating_next {
					width: 130px;
					height: 60px;
					background: #fff;
					border-radius: 30px;

					>span {
						font-size: 15px;
						color: #555;
						line-height: 21px;
						padding-top: 7px;
					}
				}
			}
		}

		.txt_notice {
			width: 100%;
			height: 50px;
			background-color: #fff;
			position: absolute;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 18px;

			.ico {
				&.ico_doublequote {
					background: url(/resources/img/content/ico_doublequote.png);
					background-size: 35px 31px;
					background-repeat: no-repeat;
					width: 35px;
					height: 31px;
					margin-top: 5px;
					margin-right: 5px;
				}
			}
		}
	}

	.popup_footer {
		width: 100%;
		height: 210px;
		background: #444;
		box-shadow: -6px -6px 10px 0px rgba(0, 0, 0, 0.07);

		.box {
			height: 140px;
			border: none;
			border-radius: 10px;
			background: #484848;
			display: flex;
			justify-content: space-around;
			color: #fff;
			align-items: center;

			.score_arrow {
				background: url(/resources/img/content/bg_arrow_primary_xl@2x.png);
				background-repeat: no-repeat;
				background-size: 31px 51px;
				background-position: center center;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;


				.score {
					width: calc(50% - 55px);
					display: flex;
					flex-direction: column;
					align-items: center;

					span {
						&.score_head {
							background: url(/resources/img/content/bg_speechbubble_white@2x.png);
							background-repeat: no-repeat;
							background-size: 100% 100%;
							background-position: center center;
							width: 65px;
							height: 27px;
							font-size: 12px;
							text-align: center;
							color: #333;
							margin-bottom: 10px;

							&.head_type02 {
								background: url(/resources/img/content/bg_speechbubble_black@2x.png);
								background-repeat: no-repeat;
								background-size: 100% 100%;
								background-position: center center;
								width: 65px;
								height: 27px;
								color: #fff;
							}
						}

						&.status_box {
							width: 80px;
							height: 30px;
							border-radius: 15px;
							background: #fdc61c;
							margin-top: 20px;
							display: inline-flex;
							justify-content: center;
							align-items: center;
							font-size: 15px;
							font-weight: bold;
							color: #111;
						}
					}
				}
			}
		}
	}

	.popup_body {
		overflow-y: auto;
		max-height: calc(100vh - 550px);

		.section {
			border-bottom: 1px solid #ddd;
			padding-bottom: 15px;

			h3 {
				display: flex;

				.lab_status {
					height: 31px;
					background: #f9f9f9;
					border-radius: 15.5px;
					font-size: 16px;
					color: #444;
					padding-left: 20px;
					padding-right: 20px;
					margin-left: 10px;
				}
			}

			.btn {
				&.btn_help_black {

					.ico {
						&.ico_help_black {
							background: url(/resources/img/content/ico_hlep_black.png);
							background-repeat: no-repeat;
							background-size: 100% 100%;
							background-position: center center;
							width: 24px;
							height: 24px;
							margin: 0px;
						}
					}
				}
			}

			.cont {
				display: flex;
				width: 100%;
				justify-content: space-between;
				align-items: center;

				background: url(/resources/img/content/bg_arrow_gray_xl@2x.png);
				background-repeat: no-repeat;
				background-size: 31px 51px;
				background-position: top calc(50% - -2px) center;

				.cont_box {
					width: 28%;
					display: flex;
					flex-direction: column;
					align-items: center;


					>span {
						font-size: 18px;
						font-weight: 500;
						line-height: 45px;
						position: relative;
					}

					.tf {
						&.cont_input {
							width: 80px;
							height: 40px;
							font-size: 18px;
							font-weight: bold;
							text-align: center;
							color: #111;

							&+span {
								position: absolute;
								display: inline-block;
								padding-left: 5px;
								line-height: 49px;
							}
						}
					}
				}
			}
		}
	}

	//ico

	.bg_speechbubble_outline {
		background: url(/resources/img/content/bg_speechbubble_outline@2x.png);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center center;
		width: 54px;
		height: 30px;
		color: #d70000;
		display: inline-block;
		position: absolute;
		top: 25%;
		left: 110%;
		font-size: 12px !important;
		line-height: 25px;
		padding-left: 17px;
		font-weight: 400;

		&.bg_right {
			background: url(/resources/img/content/bg_speechbubble_outline_r@2x.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			background-position: center center;
			display: inline-block;
			position: absolute;
			top: 25%;
			left: -78%;
			padding-left: 13px;
		}
	}
}

.popup_inner {
	&.popup_calc_alert {
		width: 500px !important;
		background-color: #f9f9f9;
		border-radius: 20px;

		.popup_header {
			height: 75px;
			border-bottom: 0px;

			.popup_tit {
				height: 75px;
				font-size: 24px;
			}
		}

		.popup_body {
			padding-top: 0px;

			.lh_24 {
				line-height: 24px;
			}

			.box {
				&.box_calc {
					border: none;
					border-radius: 10px;
					padding: 20px 25px;

					.list {
						font-size: 15px;
						color: #111;
						line-height: 24px;

						&.list1 {
							li {
								padding-left: 10px;

								&:before {
									top: 10px
								}
							}

							&.list_dottline {
								li {
									border-bottom: 1px dashed #ddd;
									padding-top: 10.5px;
									padding-bottom: 4.5px;
									font-weight: 400;
									display: flex;
									align-items: center;

									&.bdr_n {
										border: none;
									}

									&:before {
										top: 20px;
									}

									.check_box {
										display: inline-flex;
										vertical-align: middle;
										align-items: center;
										font-size: 14px;
										font-weight: 200;
										position: absolute;
										right: 0;
										margin-bottom: 6px;

										input {
											position: absolute;
											width: 1px;
											height: 1px;
											opacity: 0;

											&:checked+label {
												color: #111;
												background-color: #fdc61c;
												border: 1px solid #fdc61c;
												padding-left: 12px;
												padding-right: 12px;
												font-weight: 400;

												span {
													&.txt_checked {
														display: none;
														opacity: 0;
													}

													&.txt_uncheck {
														display: block;
														opacity: 100;
													}
												}
											}
										}

										label {
											position: relative;
											display: inline-flex;
											align-items: center;
											justify-content: center;
											width: 60px;
											height: 30px;
											border-radius: 6px;
											text-align: center;
											background-color: #eee;
											padding-right: 12px;
											padding-left: 12px;
											color: #555;
											border: 1px solid #ddd;
											font-size: 14px;

											&:after {
												content: none;
											}

											span {
												display: block;
												line-height: 23px;

												&.txt_checked {
													display: block;
													opacity: 100;
												}

												&.txt_uncheck {
													display: none;
													opacity: 0;
												}
											}
										}
									}
								}
							}
						}

						&.list3 {
							li {
								padding-left: 8px;

								&::before {
									top: -2px;
								}
							}
						}
					}
				}
			}

			//card_list
			.card_list {
				display: flex;
				justify-content: space-between;
				margin: 0 -5px;

				&.col_list {
					flex-direction: column;

					.card_box {
						width: 100%;
						height: auto;
						margin: 0px;
						border: none;
						border-radius: 10px;
						padding: 25px 20px 20px 20px;
						display: flex;
						flex-direction: column;

						.card_tit {
							position: relative;

							.ico {
								&.ico_calc_paperairplane {
									position: absolute;
									top: 4px;
									left: 0;
									display: inline-flex;
									background: url(/resources/img/content/ico_calc_paperairplane@2x.png);
									background-repeat: no-repeat;
									background-size: 100% 100%;
									background-position: center center;
									width: 53px;
									height: 45px;
								}

								&.ico_calc_coin {
									position: absolute;
									top: 4px;
									left: 0;
									display: inline-flex;
									background: url(/resources/img/content/ico_calc_coin@2x.png);
									background-repeat: no-repeat;
									background-size: 100% 100%;
									background-position: center center;
									width: 55px;
									height: 45px;
								}

								&.ico_calc_money {
									position: absolute;
									top: 4px;
									left: 0;
									display: inline-flex;
									background: url(/resources/img/content/ico_calc_money@2x.png);
									background-repeat: no-repeat;
									background-size: 100% 100%;
									background-position: center center;
									width: 61px;
									height: 45px;
								}
							}

							strong {
								font-size: 18px;
								font-weight: 400;
								padding-left: 70px;
							}

							p {
								font-size: 16px;
								font-weight: 200;
								padding-left: 70px;
								margin-top: -6px;
							}
						}

						.card_info {
							margin-bottom: 3px;

							span {
								display: inline-block;
								width: 100px;
								height: 28px;
								font-size: 14px;
								font-weight: 400;
								color: #555;
								text-align: center;
								border: 1px solid #ddd;
								border-radius: 14px;
								margin-right: 5px;
							}

							p {
								display: inline-block;

								font-size: 14px;
								color: #555;
							}
						}
					}
				}


				>li {
					margin-right: 8px;

					&:last-child {
						margin-right: 0px;

						a {
							&.card_box {
								margin-right: 0px !important;
							}
						}
					}
				}

				.card_box {
					// min-width: 196px;
					width: 196px;
					min-width: 50%;
					height: 230px;
					padding: 20px 30px;
					background-color: #fff;
					border: 1px solid #eee;
					border-radius: 10px;
					display: block;
					position: relative;

					.card_header {
						position: relative;
						width: 100%;
						height: 50px;

						.card_num {
							position: absolute;
							top: -3px;
							left: -10px;
							display: inline-flex;
							background: url(/resources/img/content/bg_calcrating_gray@2x.png);
							background-repeat: no-repeat;
							background-size: 100% 100%;
							background-position: center center;
							width: 44px;
							height: 30px;
							align-items: center;
							justify-content: center;
							font-size: 15px;
							font-weight: bold;
							line-height: 10px;
							padding-bottom: 5px;
						}

						.lab_status {
							position: absolute;
							right: -10px;
							min-width: 46px;
							height: 26px;
							display: inline-block;
							background-color: #e9f4f7;
							border-radius: 13px;
							font-size: 12px;
							font-weight: 400;
							line-height: 26px;
							padding: 0 7.5px 0 7.5px;

							&.bg_purple02 {
								background-color: #f9f2fa;
							}

							&.bg_beige {
								background-color: #f9f5ea;
							}

							&.bg_green02 {
								background-color: #edf8f2;
							}
						}
					}

					.card_body {
						height: 103px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;

						strong {
							font-size: 16px;
							font-weight: 500;
							line-height: 20px;
						}

						span {
							font-size: 12px;
							font-weight: 400;
							color: #555;
							text-align: center;
							margin-bottom: 10px;
							vertical-align: sub;

							.ico {
								&.ico_calc_user {
									background: url(/resources/img/content/ico_calc_user@2x.png);
									background-repeat: no-repeat;
									background-size: 100% 100%;
									background-position: center center;
									width: 21px;
									height: 17px;
									display: inline-block;
									vertical-align: middle;
									margin-right: 2px;
									margin-left: 4px;
									margin-bottom: 1px;
								}
							}
						}
					}

					.card_total {
						display: block;
						height: 55px;
						background-color: #e9f4f7;
						margin-left: -30px;
						margin-right: -30px;
						text-align: center;
						font-size: 20px;
						font-weight: 500;
						line-height: 51px;
						border-radius: 0px 0px 10px 10px;
						position: absolute;
						width: 100%;
						bottom: 0px;
						left: 30px;


						span {
							font-weight: bold;
						}

						&.bg_purple02 {
							background-color: #f9f2fa;
						}

						&.bg_beige {
							background-color: #f9f5ea;
						}

						&.bg_green02 {
							background-color: #edf8f2;
						}
					}
				}
			}
		}

		.btn {
			&.btn_close_popup {
				background: url(/resources/img/content/ico_calc_close@2x.png);
				background-repeat: no-repeat;
				background-size: 18px 18px;
				background-position: center center;
				width: 58px;
				height: 58px;
			}
		}
	}
}

.txt_w_3 {
	font-weight: 300;
}

.btn_group {
	.btn {
		&.btn_darkgray02 {
			background-color: #555;
			color: #fff;
			font-weight: 500;
		}
	}
}