/* 안내장증명서_보험알림신청해지목록 */
.tit_type1 {
	.tit1 {
		font-size: 36px;
		line-height: 55px;
	}

	.pb_type {
		padding-top: 2px;
	}
}

.img_arrow {
	position: relative;

	&:after {
		content: '';
		margin-left: 10px;
		transform: translateY(-50%);
		display: inline-block;
		width: 4px;
		height: 5px;
		background-image: url(#{$url-img}/common/bul_arrow_small_white.png);
		background-size: 4px 5px;
		background-repeat: no-repeat;
	}
}