@include ico('key_protect', 21px, 21px, '#{$url-img}/content');
@include ico('power', 18px, 18px, '#{$url-img}/content');
@include ico('password_change', 80px, 19px, '#{$url-img}/content');
@include ico('change_check', 80px, 19px, '#{$url-img}/content');
@include ico('question', 62px, 18px, '#{$url-img}/content');
@include ico('question_sample', 74px, 24px, '#{$url-img}/content');
@include ico('answer_sample', 74px, 24px, '#{$url-img}/content');
@include ico('password_error', 62px, 18px, '#{$url-img}/content');
@include ico('locked', 62px, 18px, '#{$url-img}/content');
@include ico('undo', 18px, 18px, '#{$url-img}/content');
@include ico('battery_check', 62px, 18px, '#{$url-img}/content');
@include ico('arr_otp_step', 16px, 11px, '#{$url-img}/content');

.ico_power {
	margin-top: -4px;
}

.ico_undo {
	margin-top: -4px;
}

//타이틀
.tit_bul2 {
	display: block;
	position: relative;
	padding-left: 10px;
	color: #333;
	font-weight: 400;

	&::before {
		content: "";
		position: absolute;
		width: 5px;
		height: 6px;
		left: 0;
		top: 12px;
		background: url(#{$url-img-common}/bul_list2.png) no-repeat;
	}
}

.arr_bar_tit {
	text-align: center;
	padding-bottom: 18px;

	background-image: url(#{$url-img}/content/bg_arr_bar.png);
	background-repeat: no-repeat;
	background-position: center bottom;

	strong {
		display: inline-block;
		height: 52px;
		padding: 0 66px;

		font-size: 18px;
		font-weight: 500;
		color: #111;
		line-height: 52px;
		letter-spacing: -0.5px;

		border-width: 1px;
		border-color: $primary;
		border-style: solid;
		border-radius: 52px;

		box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.05);
		background-color: #fff;
	}
}

// 테이블
.terms_wrap+.check_list_box {
	border-top: none;
}

//박스
.pos_box {
	position: relative;

	.pos_left {
		position: absolute;
		left: 0;
		top: 0;
	}

	.pos_right {
		position: absolute;
		right: 0;
		top: 0;
	}

	.pos_center {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
}

.box {
	&.box_clear {
		border: none;
	}

	&.box_wide {
		padding: 20px;
	}

	&.box_xs {
		padding: 8px 20px;
	}

	&.box_heading {
		padding: 5px 20px 20px 20px;
	}

	&.box_top_info {
		padding: 20px 45px 25px;
	}

	&.phising_prevent {
		padding-left: 138px;

		background-repeat: no-repeat;
		background-image: url(#{$url-img}/content/bg_phising_prevent.png);
		background-position: 30px 37px;
	}

	&.information {
		padding-left: 138px;

		background-repeat: no-repeat;
		background-image: url(#{$url-img}/content/bg_information.png);
		background-position: 30px 32px;

		>strong {
			display: block;
			font-size: 20px;
			color: #333;
			line-height: 28px;
		}
	}

	&.customer_protect {
		padding-left: 294px;
		padding-top: 50px;
		padding-bottom: 50px;

		background-repeat: no-repeat;
		background-image: url(#{$url-img}/content/bg_logo_epost.png);
		background-position: 50px 47px;

		line-height: 1;

		>strong {
			display: block;
			font-size: 20px;
			color: #333;
			margin-bottom: 13px;
		}
	}

	&.hsm_service {
		padding-left: 140px;
		padding-bottom: 20px;

		background-repeat: no-repeat;
		background-position: 30px 30px;
		background-image: url(#{$url-img}/content/bg_hsm_service.png);

		>strong {
			display: block;
			font-size: 20px;
			line-height: 1;
			color: #333;
			margin-bottom: 10px;
		}

		>p {
			line-height: 1.5;
		}
	}

	&.key_security {
		padding-left: 140px;

		background-repeat: no-repeat;
		background-position: 30px center;
		background-image: url(#{$url-img}/content/bg_key_security.png);
	}

	&.password_guide {
		padding-left: 140px;

		background-repeat: no-repeat;
		background-position: 30px center;
		background-image: url(#{$url-img}/content/bg_password_guide.png);
	}

	&.box_shadow_type2 {
		border-radius: 8px;

		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
	}
}

.data_transfer_box {
	position: relative;
	// &::after{
	// 	content: "";
	// 	width: 43px;
	// 	height: 58px;
	// 	background: url(#{$url-img-common}/ico_arr_right_lg_primary.png) no-repeat;
	// 	position: absolute;
	// 	right: -36px;
	// 	top: 25px;
	// 	z-index: -10;
	// }
}

.btn_transfer {
	position: absolute;
	right: -43px;
	width: 43px;
	height: 38px;
	background-image: url(#{$url-img}/content/btn_transfer_sm.png);
	background-repeat: no-repeat;
	background-position: 0 0;

	&.transfer1 {
		right: -43px;
		top: 0;
		width: 43px;
		height: 58px;
		background-image: url(#{$url-img}/content/btn_transfer_md.png);
	}

	&.transfer2 {
		top: 191px;
	}

	&.transfer3 {
		top: 397px;
	}

	&.transfer4 {
		top: 603px;
	}

	&.transfer5 {
		top: 800px;
	}

	&.transfer6 {
		top: 950px;
	}
}

.transfer_list {
	>li {
		display: inline-block;
		margin: 0 5px 5px 0;
	}
}

//인풋
.tit1 {
	.check_item {
		>input[type=radio]+label {
			background-position: 0 center;
			color: $black;
		}
	}
}

.check_item_wrap {
	display: inline-block;
	margin-top: -8px;
	margin-left: -26px;

	.check_item {
		margin-top: 8px;
		margin-left: 26px;
	}
}

//텍스트
$font-size-xm : 18px !default;

.txt_xm {
	font-size: $font-size-xm;
	font-weight: 400;
}

.txt_spacing_default {
	letter-spacing: $letter-spacing-base !important;
}

$txt_demigray : #666 !important;

.txt_demigray {
	color: $txt_demigray;
}

.txt_lh_sm {
	line-height: 1.3 !important;
}

.txt_lh_md {
	line-height: 1.5 !important;
}

//리스트
.list {

	&.list1 {
		&.txt_lh_md {
			>li {
				&::before {
					top: 10px;
				}
			}
		}
	}

	&.list_mt_2 {
		>li {
			&:not(:first-child) {
				margin-top: 10px;
			}
		}
	}

	&.list4 {
		font-size: $font-size-sm;
		line-height: 1.72;

		>li {
			padding-left: 8px;

			&::before {
				width: 2px;
				height: 2px;

				background-color: #a6a6a6;
				top: 11px;
			}
		}
	}

	&.list_status {
		>li {
			display: flex !important;

			&:not(:first-child) {
				margin-top: 5px;
			}

			>span {
				display: inline-flex;
				align-items: center;
				justify-content: center;

				vertical-align: middle;
				white-space: nowrap;
				overflow: hidden;

				font-family: $font-family-base;
				font-weight: normal;
			}

			.cate {
				margin-right: auto;
				min-width: 54px;
				height: 28px;
				padding: 0 15px;
				font-size: 14px;
				font-weight: 300;

				color: $gray;
				border: 1px solid transparent;
				border-radius: 6px;
				border-color: #a2a2a2;
				background-color: #fff;
			}

			.val {
				margin-left: auto;
			}
		}
	}

	&.list_flex {
		>li {
			display: flex;

			>.l {
				margin-right: auto;
			}

			>.r {
				margin-left: auto;
			}
		}
	}
}

.list_box {
	>li {

		>.top,
		>.btm {
			border-color: $border-base;
			border-width: 1px;
		}

		>.top {
			border-style: solid solid none solid;
			border-radius: 8px 8px 0 0;

			background-color: #f9f9f9;

			padding: 12px 29px;

			&+.btm {
				border-radius: 0 0 8px 8px;
			}

			.tit {
				font-size: 18px;
				line-height: 28px;
			}
		}

		>.btm {
			border-style: solid;
			border-radius: 8px;

			padding: 12px 29px;
		}
	}

	&.tit_only {
		>li {
			>.top {
				display: inline-flex;
				flex-direction: column;
				justify-content: center;
				flex: 1 1 100%;
				padding: 10px 34px;

				border-style: solid;
				border-radius: 8px;

				.tit {
					line-height: 24px;
				}
			}
		}
	}
}

//배경색
$bg_demigray : #e9e9e9 !important;

.bg_demigray {
	background-color: $bg_demigray;
}

//아이콘
.ico_cancel_black {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 19px;
	height: 19px;
	line-height: 19px;
	background-image: url(#{$url-img-common}/ico_cancel_black.png);
}

//버튼
.btn_flex_box {
	display: flex;

	>.btn {
		flex: 1 1 25%;

		&+.btn {
			margin-left: 6px;
		}
	}
}

.btn_right_top {
	position: absolute;
	right: 0;
	top: 0;
}

.btn_block_box {
	.btn {
		&:not(:first-child) {
			margin-top: 4px;
		}
	}
}

.btn {
	&.btn_back {
		padding: 0 30px;
		border-color: #555;

		color: #111;

		&::before {
			content: "";
			display: inline-block;
			width: 21px;
			height: 21px;
			margin-right: 6px;

			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			background-image: url(#{$url-img}/content/ico_btn_back.png);
		}
	}

	&.btn_download_navy {
		height: 25px;
		padding: 0 8px;
		border-radius: 25px;

		background-color: #3b4e5f;
		font-size: 12px;
		font-weight: medium;
		color: #fff;

		&::before {
			content: "";
			display: inline-block;
			width: 13px;
			height: 13px;
			margin-right: 6px;

			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
			background-image: url(#{$url-img}/content/ico_download_navy.png);
		}
	}
}

.btn_plus {
	justify-content: space-between;
	width: auto;
	padding: 0 20px;
	height: 32px;
	border: 1px solid transparent;
	font-size: 14px;
	font-weight: 200;

	border-radius: 25px;
	color: $white;
	vertical-align: middle;
	background-color: $bg-gray;

	&:after {
		display: inline-block;
		content: '';
		width: 10px;
		height: 10px;
		margin-left: 10px;
		background: url(#{$url-img-common}/ico_plus.png) no-repeat;
	}
}

//플렉스
.fx_align_base {
	align-items: baseline;
}

.fx_direction_col {
	flex-direction: column;
}

.fx_justify_left {
	justify-content: left;
}

.fx_wrap {
	flex-wrap: wrap;
}

.fx_eq {
	>div {
		flex-basis: 50%;
	}
}

//etc
.scroll_y {
	overflow-y: scroll;
}

a.link {
	&.brown {
		&:hover {
			color: #ce4900;
		}
	}
}

.total_account {
	.account_con {
		>li {
			.top {
				.l {
					.list_status {
						>li {
							&:not(:first-child) {
								margin-left: 0;

								&::after {
									display: none;
								}
							}
						}
					}
				}
			}

			.btm {
				button {
					&:hover {
						color: $black;
						font-weight: 400;
					}
				}
			}
		}
	}
}

.serv_select_box {
	display: flex;
	text-align: center;

	>div {
		flex-basis: 50%;

		border-radius: 8px;
		border-width: 1px;
		border-color: $border-base;
		border-style: solid;

		>.top {
			position: relative;
			padding: 17px 0;

			border-top-left-radius: 7px;
			border-top-right-radius: 7px;
			border-width: 1px;
			border-color: $border-base;
			border-bottom-style: solid;

			background-color: #f9f9f9;

			>strong {
				font-size: 18px;
				font-weight: 400;
				line-height: 22px;
				color: #111;
			}

			.num_ballon {
				position: absolute;

				width: 76px;
				height: 76px;

				font-size: 26px;
				text-align: center;
				line-height: 76px;
				color: #111;
				font-weight: 500;

				background-repeat: no-repeat;
				background-position: center center;
				background-size: cover;
				background-image: url(#{$url-img}/content/bg_num_balloon.png);

				left: -13px;
				top: -15px;
			}
		}

		>.btm {
			padding: 17px 0;
			line-height: 24px;
		}
	}
}

.pt_service {
	display: flex;
	flex-wrap: wrap;

	>li {
		display: inline-flex;
		flex-basis: 33.333%;
		flex-direction: column;
		align-items: center;


		border-color: $border-base;
		border-width: 1px;
		border-style: none none none dashed;

		padding-top: 143px;
		padding-bottom: 40px;

		background-position: center 10px;
		background-repeat: no-repeat;
		background-size: 120px 120px;

		&.bg01 {
			background-image: url(#{$url-img}/content/bg_pt_serv01.png);
		}

		&.bg02 {
			background-image: url(#{$url-img}/content/bg_pt_serv02.png);
		}

		&.bg03 {
			background-image: url(#{$url-img}/content/bg_pt_serv03.png);
		}

		&.bg04 {
			background-image: url(#{$url-img}/content/bg_pt_serv04.png);
		}

		&.bg05 {
			background-image: url(#{$url-img}/content/bg_pt_serv05.png);
		}

		&.cell02 {
			flex-basis: 66.6666%;
		}

		&:first-child {
			border-style: none;
		}

		&.end_row {
			border-top-style: dashed;
			padding-top: 183px;

			background-position: center 50px;
		}

		&.bdr_l0 {
			border-left-style: none !important;
		}

		.tit {
			width: 222px;
			height: 39px;
			margin-bottom: 26px;

			border-width: 1px;
			border-color: #eee;
			border-style: solid;
			border-radius: 39px;

			line-height: 39px;
			text-align: center;
			font-weight: 500;
			letter-spacing: -0.5px;

			box-shadow: 0 5px 8px rgba(0, 0, 0, 0.05);
		}

		.list_flex {
			>li {
				align-items: center;

				>div {
					display: inline-flex;
				}

				>.l {
					padding-right: 10px;
				}

				>.r {
					padding-left: 10px;
				}

				&+li {
					margin-top: 12px;
				}
			}
		}

		.list_disclosure {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;

			justify-content: space-between;
			align-content: center;

			height: 164px;
			width: 100%;

			>li {
				flex: 0 0 50%;
				padding: 12px 25px;


				>strong {
					display: block;

					line-height: 1;
					font-weight: 200;
					margin-bottom: 10px;
				}
			}
		}

		.btn_white_link {
			display: inline-flex;
			align-items: center;
		}
	}

	&.security {
		>li {
			background-position-y: 0;

			&.bg01 {
				background-image: url(#{$url-img}/content/bg_pt_security01.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}/content/bg_pt_security02.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}/content/bg_pt_security03.png);
			}

			.tit {
				width: 300px;
			}

			.desc {
				width: 300px;
				padding: 10px 0;
				text-align: center;
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}

.btn_pdf {
	position: relative;

	&::before {
		content: "";
		display: inline-block;
		width: 23px;
		height: 12px;
		margin-right: 4px;

		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(#{$url-img}/content/ico_btn_pdf.png);
		background-size: cover;
	}
}

.cmp_step {
	display: flex;

	margin: -25px;
	align-content: stretch;

	flex-wrap: wrap;

	&.spacing_m3 {
		margin: -15px;

		>li {
			margin: 15px;

			&+li {
				&::before {
					left: -19px;
				}
			}

			.btm {
				padding: 12px 20px;
			}
		}
	}

	&.col_3 {
		>li {
			flex: 1 1 calc(84% / 3);
		}
	}

	&.col_5 {
		>li {
			flex: 1 1 calc(84% / 5);
		}
	}

	&.arr_in {
		>li {
			.top {
				background-repeat: no-repeat;
				background-position: right 20px center;
				background-image: url(#{$url-img-common}/ico_paging_next.png);
			}

			&+li {
				&::before {
					display: none;
				}
			}
		}
	}

	&.phone_certi {
		text-align: center;
		font-weight: normal;

		>li {
			padding-top: 130px;

			line-height: 1.5;

			background-repeat: no-repeat;
			background-position: center top;


			$end: 8;

			@for $i from 1 to $end+1 {
				&.bg0#{$i} {
					background-image: url(#{$url-img}/content/bg_phone_certi_step0#{$i}.png);
				}
			}

			&::before {
				top: 60px;
			}
		}
	}

	>li {
		position: relative;
		display: inline-flex;
		flex-direction: column;
		align-items: stretch;
		flex: 1 1 calc(84% / 4);
		margin: 25px;

		.top {
			background-repeat: no-repeat;
			background-position: right 15px center;

			&.bg01 {
				background-image: url(#{$url-img}/content/bg_cmp_step01.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}/content/bg_cmp_step02.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}/content/bg_cmp_step03.png);
			}

			&.bg04 {
				background-image: url(#{$url-img}/content/bg_cmp_step04.png);
			}

			&.bg05 {
				background-image: url(#{$url-img}/content/bg_cmp_step05.png);
			}

			&.bg06 {
				background-image: url(#{$url-img}/content/bg_cmp_step06.png);
			}

			&.bg07 {
				background-image: url(#{$url-img}/content/bg_cmp_step07.png);
			}

			&.bg08 {
				background-image: url(#{$url-img}/content/bg_cmp_step08.png);
			}

			&.bg09 {
				background-image: url(#{$url-img}/content/bg_cmp_step09.png);
			}
		}

		.btm {
			flex: 1 1 100%;
			color: #111;
			line-height: 24px;

			.list1 {
				color: #111;
			}
		}

		&+li {
			&::before {
				content: "";
				position: absolute;
				width: 11px;
				height: 19px;

				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
				background-image: url(#{$url-img}/content/ico_step_arr_right.png);

				left: -30px;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.charter_box {
	width: 100%;
	padding: 59px 109px;

	border-width: 1px;
	border-style: solid;
	border-color: #eee;
	border-radius: 42px;

	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

	.intro {
		position: relative;
		padding-bottom: 76px;

		text-align: center;
		font-size: 24px;
		font-weight: normal;
		color: #111;
		line-height: 38px;

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 41px;
			height: 25px;
			z-index: 30;

			background-repeat: no-repeat;
			background-size: cover;
			background-position: 0 0;
		}

		&::before {
			background-image: url(#{$url-img}/content/bg_quotes_up_primary.png);
			left: 0;
			bottom: -11px;
		}

		&::after {
			background-image: url(#{$url-img}/content/bg_quotes_down_primary.png);
			right: 0;
			bottom: -14px;
		}
	}

	.detail {
		position: relative;
		display: flex;

		justify-content: center;

		padding-top: 24px;

		&::before {
			content: "";
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateX(-50%);
			z-index: 20;

			width: calc(100% - 70px);
			height: 2px;
			background-color: $primary;
		}

		.charter {
			display: flex;
			flex-direction: column;

			>li {
				display: inline-flex;
				padding: 18px 7px;

				align-items: center;

				font-size: 20px;
				font-weight: 200;
				color: #111;

				.bubble {
					position: relative;
					display: inline-flex;
					width: 64px;
					height: 44px;
					margin-right: 20px;

					justify-content: center;
					align-items: center;

					text-indent: 6px;
					font-size: 18px;
					font-weight: normal;
					color: #111;

					border-width: 2px;
					border-color: $primary;
					border-style: solid;
					border-radius: 44px;

					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

					&::before {
						content: "";
						position: absolute;
						left: 100%;
						top: 50%;
						transform: translateY(-50%);

						border-left: 8px solid $primary;
						border-top: 4px solid transparent;
						border-bottom: 7px solid transparent;
					}

					&::after {
						content: "";
						position: absolute;
						left: 100%;
						top: 50%;

						// transform: translate(-40%, -45%);
						// border-left: 8px solid #fff;
						// border-top: 4px solid transparent;
						// border-bottom: 7px solid transparent;

						transform: translate(-7%, -50%);
						border-left: 5px solid #fff;
						border-top: 2px solid transparent;
						border-bottom: 4px solid transparent;
					}
				}

				&+li {
					border-width: 1px;
					border-color: $border-base;
					border-top-style: dashed;
				}
			}
		}
	}
}

.cmp_case_box {
	position: relative;
	padding: 92px 49px 49px;

	border-width: 1px;
	border-color: $border-base;
	border-style: solid;
	border-radius: 4px;
	background-color: #f8f8f8;

	text-align: center;

	.tit {
		position: absolute;
		height: 60px;
		padding: 0 48px;

		font-size: 18px;
		font-weight: 500;
		line-height: 60px;
		color: #111;

		background-color: $primary;

		left: 50%;
		top: -18px;

		transform: translateX(-50%);

		&::before,
		&::after {
			content: "";
			position: absolute;
			width: 43px;
			height: 60px;

			background-repeat: no-repeat;
			background-position: 0 0;

			top: 0;
		}

		&::before {
			right: calc(100% - 1px);
			background-image: url(#{$url-img}/content/bg_cmp_case_tit.png);
		}

		&::after {
			left: calc(100% - 1px);
			background-image: url(#{$url-img}/content/bg_cmp_case_tit02.png);
		}
	}

	.case_list {
		.headline {

			position: absolute;
			width: 274px;
			height: 274px;
			left: 50%;
			top: calc(50% + 12.5px);

			transform: translate(-50%, -50%);

			border-width: 4px;
			border-color: $primary;
			border-style: solid;
			border-radius: 100%;

			overflow: hidden;
			box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.05);

			background-color: #fff;

			.top {
				padding: 84px 0 13px;

				font-size: 18px;
				font-weight: bold;
				color: #111;
				line-height: 24px;

				background-color: $bg-lightprimary;
				background-repeat: no-repeat;
				background-position: center 33px;
				background-image: url(#{$url-img}/content/bg_cmp_case_headline.png);
			}

			.btm {
				padding-top: 20px;

				font-size: 16px;
				font-weight: 200;
				color: #111;
				line-height: 24px;
			}
		}

		>ul {
			display: flex;
			flex-wrap: wrap;

			margin: -25px -30px;

			>li {
				display: inline-flex;
				margin: 25px 30px;
				padding-top: 20px;
				padding-bottom: 20px;

				flex: 1 1 40%;

				border-radius: 46px;
				background-color: #e9e9e9;

				.inner {
					padding: 20px;

					background-color: #fff;
					box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.07);

					.top {
						margin-bottom: 10px;

						font-size: 18px;
						font-weight: 500;
						color: #111;
						line-height: 28px;
					}

					.btm {
						padding: 16px 20px 0;

						border-width: 1px;
						border-color: $border-base;
						border-top-style: solid;

						text-align: left;
						color: #111;

						.list1 {
							line-height: 1.5;
						}
					}
				}

				&:nth-child(2n+1) {
					padding-left: 20px;
					padding-right: 130px;
				}

				&:nth-child(2n+2) {
					padding-left: 130px;
					padding-right: 20px;
				}

				&:nth-child(1) {
					.inner {
						border-radius: 36px 36px 0 36px;
					}
				}

				&:nth-child(2) {
					.inner {
						border-radius: 36px 36px 36px 0;
					}
				}

				&:nth-child(3) {
					.inner {
						border-radius: 36px 0 36px 36px;
					}
				}

				&:nth-child(4) {
					.inner {
						border-radius: 0 36px 36px 36px;
					}
				}
			}
		}
	}
}

.online_certi_step {
	display: flex;
	flex-wrap: wrap;

	>li {
		display: inline-flex;
		position: relative;
		flex: 0 1 550px;
		flex-direction: column;
		justify-content: stretch;

		&::before {
			content: "";
			position: absolute;
			width: 13px;
			height: 21px;

			background-repeat: no-repeat;
			background-position: 0 0;
			background-image: url(#{$url-img}/content/ico_arr_right_bold_lightgray.png);

			top: 50%;
			left: -56px;
			transform: translateY(-50%);
		}

		&:nth-child(2n-1) {
			margin-right: 50px;

			&::before {
				display: none;
			}
		}

		&:nth-child(2n) {
			margin-left: 50px;
		}

		&:nth-child(n+3) {
			margin-top: 80px;
		}

		&.one_step {
			flex: 1 1 100%;
			margin: 0;

			&+.one_step {
				margin: 0;

				&::before {
					display: none;
				}
			}
		}

		.tit {
			display: flex;
			flex: 0 0 35px;
			max-height: 35px;
			margin-bottom: 15px;

			align-items: center;

			.num {
				position: relative;
				display: inline-flex;
				flex: 0 0 auto;
				width: 35px;
				height: 35px;
				margin-right: 14px;
				border-radius: 100%;

				justify-content: center;
				align-items: center;

				font-size: 14px;
				font-weight: 500;
				color: #111;

				background-color: $primary;

				&::before {
					content: "";
					position: absolute;
					left: 100%;
					top: 50%;
					transform: translate(-10%, -50%);

					border-top: 3px solid transparent;
					border-bottom: 4px solid transparent;
					border-left: 5px solid $primary;
				}

				&.num_ex {
					width: 65px;
					border-radius: 65px;
					padding: 0 5px 0 10px;

					>span {
						display: inline-flex;
						width: 25px;
						height: 25px;
						margin-left: 3px;
						border-radius: 100%;

						background-color: #fff;

						font-size: 13px;
						font-weight: 500;
						color: #111;
						vertical-align: bottom;

						justify-content: center;
						align-items: center;
					}
				}
			}

			h4 {
				line-height: 22px;
				display: flex;
			}

			.tit2 {
				margin: 0;
			}
		}

		.box {
			flex: 1 1 100%;
			padding: 20px 30px 30px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

			.list1 {
				letter-spacing: -0.5px;
			}
		}
	}

	&.col_3 {
		margin: -40px -20px;

		>li {
			flex: 1 1 26%;
			margin: 40px 20px;
			max-width: 340px;

			&::before {
				left: -26px;
				top: 7px;
				transform: translateY(0);
			}

			&:nth-child(3n-2) {
				&::before {
					display: none;
				}
			}

			&:nth-child(3n) {
				&::before {
					display: block;
				}
			}
		}
	}
}

.security_solution {
	display: flex;
	position: relative;
	padding: 0 0 40px 134px;
	border-bottom: 1px solid $border-base;

	align-items: center;

	&::before {
		content: "";
		position: absolute;
		width: 134px;
		height: 79px;

		background-repeat: no-repeat;
		background-position: center center;
		left: 0;
		top: -16px;
	}

	&.bg01 {
		&::before {
			background-image: url(#{$url-img}/content/bg_security_solution01.png);
		}
	}

	&.bg02 {
		&::before {
			background-image: url(#{$url-img}/content/bg_security_solution02.png);
		}
	}

	&.bg03 {
		&::before {
			background-image: url(#{$url-img}/content/bg_security_solution03.png);
		}
	}

	>.l {
		margin-right: auto;

		>strong {
			display: block;
			line-height: 1;
		}

		>p {
			margin-top: 10px;
			line-height: 1;
		}
	}

	>.r {
		margin-left: auto;
	}
}

.tab_menu_type3 {
	&.tab_scroll_x {
		>ul {
			overflow-x: scroll;
		}
	}
}