.btn_right_top {
	position: absolute;
	right: 0;
	top: 0;
}

.btn_block_box{
	.btn{
		&:not(:first-child){
			margin-top: 4px;
		}
	}
}
.tbl_united{
	table{
		border-style: solid none solid;
	}
}

.tbl_united + .tbl_united {
	table{
		border-style: none none solid;
	}
}

.tbl_united + .tbl_row_data{
	>table{
		>tbody{
			>tr{
				&:first-child{
					>th{
						border-top: 1px solid #ddd !important;
					}
					>td{
						border-top: 1px solid #eee !important;
					}
				}
			}
		}
	}
}
.pos_box{
	position: relative;
	.pos_left{
		position: absolute;
		left: 0;
		top: 0;
	}
	.pos_right{
		position: absolute;
		right: 0;
		top: 0;
	}
	.pos_center{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
	}
}
.select_option {
	display: none;
	.select_option_none{
		height: 30px;
	}
	&.on {
		display: block;
	}
}
.tbl_option {
	display: none;
	&.on {
		display: block;
	}
}