//var
$orange: #ff883a !default;
$demigray: #666 !default;
$url-img-content: "/resources/img/content" !default;

@mixin box_default($p_h : 17px, $p_v : 19px) {
	border: 1px solid transparent;
	border-radius: 8px;
	padding: $p_h $p_v;
	background-color: #fff;

	border-color: $border-base;
}

@mixin fx_lr {
	display: flex;

	>.l {
		margin-right: auto;
	}

	.r {
		margin-left: auto;
	}
}

.fx_lr {
	@include fx_lr;
}

//아이콘
@include ico('check_on', 20px, 20px);
@include ico('mailbox', 30px, 30px);
@include ico('fan', 30px, 27px);
@include ico('heart', 30px, 26px);
@include ico('heart_green', 30px, 26px);
@include ico('heart_blue', 30px, 26px);
@include ico('heart_orange', 30px, 26px);
@include ico('heart_pupple', 30px, 26px);
@include ico('swallow', 30px, 30px);
@include ico('jewelry', 30px, 30px);
@include ico('kite', 30px, 30px);
@include ico('stamp', 30px, 30px);
@include ico('clover', 30px, 30px);
@include ico('bi_shinhan', 15px, 15px);

@include ico('chevron_down_sm_bold', 10px, 6px, #{$url-img-content});
@include ico('floppy', 15px, 14px, #{$url-img-content});

.ico {
	&.ico_notice {
		margin-top: -2px;
	}

	&.ico_chevron_down_sm_bold {
		margin-top: 2px;
	}
}

//폰트
.txt_lg_ex {
	font-size: 19px !important;
}

.txt_xxl {
	font-size: 23px !important;
}

.txt_blue {
	color: $blue !important;
}

.txt_black {
	color: $black !important;
}

.txt_demigray {
	color: $demigray !important;
}

//버튼
.btn {
	&.btn_full {
		width: 100% !important;
	}

	&.btn_submenu {
		width: 19px;
		height: 25px;
		background-image: url(#{$url-img}/common/ico_submenu.png);
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 3px 15px;

		text-indent: -9999px;
	}

	&.btn_md {
		&.btn_fit {
			padding: 0 10px;
			letter-spacing: -0.5px !important;
		}
	}

	&.btn_download {
		position: relative;
		color: #555;
		font-weight: 400;
		border-color: #ddd;

		&:before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			background:url(#{$url-img}/content/ico_download.png) 0 0 no-repeat;
			background-size: 15px;
			margin-right: 5px;
			flex: 0 0 auto;
		}
	}
}

.submenu_area {
	position: absolute;
	right: 0;
	top: 13px;

	overflow: visible;
	z-index: 450;

	.submenu {
		position: absolute;
		background-color: #f6f6f6;
		padding: 31px 20px 18px 20px;
		border-radius: 8px;
		box-shadow: 1px 6px 18px 0px rgba(0, 0, 0, 0.3);

		right: 20px;
		top: -8px;

		>ul {
			>li {
				>a {
					display: block;
					width: 100px;
					padding: 13px 0 13px 5px;
					border-top: 1px solid #ddd;

					font-size: 13px;
					font-weight: 400;
					line-height: 1;
				}

				&:first-child {
					>a {
						border-top: none;
						padding-top: 0px;
					}
				}
			}
		}

		.btn_close_tooltip {
			position: absolute;
			right: 15px;
			top: 15px;
		}

		&::before {
			content: "";
			width: 8px;
			height: 8px;
			background-color: #f6f6f6;

			position: absolute;
			top: 13px;
			right: -4px;

			transform: rotate(45deg);
		}
	}
}

//리스트
.list {
	//리스트 간격 프리셋
	$end: 5;

	@for $i from 1 to $end+1 {

		&.spacing_mt_#{$i} {
			>li:not(:first-child) {
				margin-top: $i * 5px;
			}
		}
	}

	//리스트 타입
	&.list_reference {
		>li {
			padding-left: 16px;
			position: relative;

			&::before {
				content: "※";
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}

	&.list_number {
		padding-left: 14px;

		>li {
			list-style: decimal;
		}
	}

	&.list_box {
		>li {
			@include box_default();
		}
	}

	&.list_card {
		>li {
			position: relative;
			padding-right: 35px !important;

			>div {
				&+div {
					margin-top: 10px;
				}
			}

			.status {
				display: flex;

				.l {
					margin-right: auto;

					>span {
						background-color: #e5e5e5;
					}
				}

				.r {
					margin-left: auto;

					>span {
						background-color: $primary;
					}
				}

				span {
					display: inline-flex;
					height: 20px;
					padding: 0 10px;
					border-radius: 3px;

					font-size: 10px;
					line-height: 1;
					font-weight: 500;
					color: #111;

					justify-content: center;
					align-items: center;
				}
			}

			.card_detail {
				display: table;

				>div {
					display: table-row;
					font-size: 12px;

					.l {
						display: table-cell;
						padding-right: 10px;
						color: #666;
					}

					.r {
						display: table-cell;
						color: #111;
					}
				}
			}
		}
	}

	&.list_bar {
		>li {
			padding-left: 17px;

			>a {
				display: inline-block;
				width: 100%;
				height: 40px;
				line-height: 40px;

				font-size: 16px;
				font-weight: 400;
				color: #111;
			}

			&:not(:first-child) {
				margin-top: 0 !important;
				border-top: 1px solid #eee;
			}

			&::before {
				left: 5px !important;
				top: 19px !important;
			}
		}
	}
}

//타이틀
h3.tit2 {
	&.score_tit {
		float: left;
		width: calc(100% - 65px);
	}
}

//박스
.box {
	position: relative;

	.score_mark {
		float: right;
		display: flex;
		width: 45px;
		height: 45px;
		margin-left: 20px;
		padding: 13px;
		border-radius: 100%;
		background-color: $primary;

		justify-content: center;
		align-items: flex-end;

		line-height: 1;
		font-size: 12px;

		strong {
			height: 18px;
			font-size: 20px;
			font-weight: bold;
		}

		&+* {
			@include clearfix;
		}
	}
}

.double_box {
	.btm {
		>p {
			color: #555;
		}

		>div {
			>div {
				display: inline-flex;
				align-content: center;
			}
		}

		&.btm_link {
			display: block;
			padding-right: 40px;

			background-image: url(#{$url-img}/common/ico_chevron_right_sm.png);
			background-position: right 20px center;
			background-repeat: no-repeat;
			background-size: 5px 9px;
		}
	}
}

.box_item {
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	flex-grow: 0;

	>li {
		display: flex;
		padding: 13px;
		border-style: solid;
		border-width: 2px;
		border-color: #f2f2f2;
		border-radius: 14px;
		background-color: #f2f2f2;
		position: relative;

		background-position-x: center;
		background-repeat: no-repeat;

		>span {
			width: 100%;
			height: 22px;
			align-self: flex-end;

			font-size: 14px;
			font-weight: 500;
		}

		&.on {
			background-color: #fff;
			border-color: $primary;
		}
	}

	&.item_col_3 {
		>li {
			width: calc(100% / 3 - 20px / 3);
			padding-top: calc(100% / 3 - 20px / 3 - 39px);

			&:nth-child(n+4) {
				margin-top: calc(20px / 3);
			}
		}
	}

	&.item_col_4 {
		>li {
			width: calc(100% / 4 - 30px / 4);
			padding-top: calc(100% / 4 - 30px / 4 - 26px);

			&:nth-child(n+5) {
				margin-top: calc(30px / 4);
			}
		}
	}

	&.check_item {
		>li {
			border: none;
			background-color: #fff;

			>input[type=radio] {
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 1px;
				opacity: 0;

				&+label {
					position: absolute;
					display: flex;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					border-style: solid;
					border-width: 1px;
					border-color: #ddd;
					border-radius: 4px;

					justify-content: center;
					align-items: center;

					>.ico {
						max-width: 60px;
						max-height: 60px;
						background-size: contain;
						width: calc(100% - 40px);
						height: calc(50% - 1px);
					}
				}

				&:checked {
					&+label {
						border-color: #111;
					}
				}
			}
		}
	}
}

//플렉스
.flex_eq {
	>* {
		flex-basis: 50% !important;
	}
}

.fx_align_end {
	align-self: flex-end;
}

//etc
.security_level {
	display: flex;

	>span {
		width: 100%;
		padding-top: 30px;
		text-align: center;
		font-size: 13px;
		font-weight: normal;
		position: relative;

		&::before {
			content: "";
			width: 100%;
			height: 6px;
			position: absolute;
			left: 0;
			top: 20px;
		}

		&.current {
			&::after {
				content: "";
				width: 25px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}

		&:not(:first-child) {
			margin-left: 1px;
		}

		&:first-child {
			&::before {
				border-radius: 2px 0 0 2px;
				background-color: $valid;
			}

			&::after {
				background-image: url('/resources/img/common/ico_round_marker_valid.png');
			}
		}

		&:nth-child(2) {
			&::before {
				background-color: $blue;
			}

			&::after {
				background-image: url('/resources/img/common/ico_round_marker_blue.png');
			}
		}

		&:last-child {
			&::before {
				border-radius: 0 2px 2px 0;
				background-color: $orange;
			}

			&::after {
				background-image: url('/resources/img/common/ico_round_marker_secondary.png');
			}
		}
	}
}

.security_score {
	display: flex;
	justify-content: center;

	>span {
		width: 100%;
		font-size: 16px;

		>em {
			font-style: normal;
			font-size: 18px;
		}
	}
}

.security_service {
	>li {
		background-position-y: calc(50% - 11px);

		&:nth-child(1) {
			background-image: url(#{$url-img}/content/bg_security_serv01.png);
			background-size: 55px 49px;

			&.on {
				background-image: url(#{$url-img}/content/bg_security_serv01_on.png);
			}
		}

		&:nth-child(2) {
			background-image: url(#{$url-img}/content/bg_security_serv02.png);
			background-size: 49px 37px;

			&.on {
				background-image: url(#{$url-img}/content/bg_security_serv02_on.png);
			}
		}

		&:nth-child(3) {
			background-image: url(#{$url-img}/content/bg_security_serv03.png);
			background-size: 43px 44px;

			&.on {
				background-image: url(#{$url-img}/content/bg_security_serv03_on.png);
			}
		}

		&:nth-child(4) {
			background-image: url(#{$url-img}/content/bg_security_serv04.png);
			background-size: 56px 43px;

			&.on {
				background-image: url(#{$url-img}/content/bg_security_serv04_on.png);
			}
		}

		&:nth-child(5) {
			background-image: url(#{$url-img}/content/bg_security_serv05.png);
			background-size: 51px 39px;

			&.on {
				background-image: url(#{$url-img}/content/bg_security_serv05_on.png);
			}
		}

		&:nth-child(6) {
			background-image: url(#{$url-img}/content/bg_security_serv06.png);
			background-size: 55px 55px;

			&.on {
				background-image: url(#{$url-img}/content/bg_security_serv06_on.png);
			}
		}
	}
}

.price_total {
	text-align: center;
}

.account_type {
	background-color: $primary;
	padding: 15px 0;

	>ul {
		display: flex;
		width: 100%;

		>li {
			width: 100%;
			color: $gray;
			font-size: 12px;
			text-align: center;
			line-height: 1;

			>span {
				display: block;
				margin-top: 2px;
				color: $black;
				font-size: 13px;

				>strong {
					font-size: 16px;
				}
			}

			&:not(:first-child) {
				border-left: 1px solid #fff;
			}
		}
	}
}

.toggle_box {
	.toggle_con {
		.toggle_list {
			>li {
				position: relative;
				padding: 12px 0;
				border-top: 1px solid #eee;
			}
		}

		&.account {
			padding-bottom: 0px;

			&.inquiry {
				display: block;

				>.toggle_list {
					>li {
						border-top-style: none;
					}
				}
			}

			.account_tit {
				display: flex;
				width: calc(100% - 30px);

				>.l {
					display: flex;
					width: 100%;

					.ico {
						margin-top: 5px;
						margin-right: 5px;
					}

					span {
						>strong {
							display: block;
							font-size: 16px;
							font-weight: 400;
						}
					}
				}
			}

			.fx_lr {
				position: relative;
				margin-top: 6px;
				align-items: center;

				.l {
					>a {
						display: inline-flex;
					}
				}

				.r {
					font-weight: bold;
					font-size: 16px;

					>strong {
						display: inline-block;
						font-size: 23px;
					}
				}
			}
		}
	}

	&.clear {
		border-bottom-style: none;

		.toggle_con {
			padding-bottom: 0;
		}
	}
}

.txt_lg {
	.num_circle {
		vertical-align: 1px;
	}
}

.tit1 {
	.num_circle {
		&.q_mark {
			background-color: #555;
			padding-right: 1.5px;
			vertical-align: 1px;
		}
	}
}

.sidepopup {
	height: 100%;
	justify-content: right;

	.popup_inner {
		display: flex;
		flex-direction: column;
		width: 270px;
		height: 100%;
		transform: translateX(100%);
		transition-property: all;

		background-color: #fff;
	}

	.popup_body{
		flex: 1 1 auto;
		overflow-y: auto;
	}

	&.hide {
		.popup_inner {
			transform: translateX(100%);
		}
	}

	&.show {
		.popup_inner {
			transform: translateX(0);
		}
	}

	.quick_menu_tit {
		font-size: 18px;
	}
}

.bdt_gray {
	border-width: 1px;
	border-top-style: solid;
	border-color: #ddd;
}

.inquiry_box {
	.inquiry_time {
		margin-bottom: 10px;
		font-size: 13px;
		color: #333;

		>span {
			font-weight: 400;
			color: #111;
		}
	}

	.inquiry_result {
		>ul {
			>li {
				padding: 19px 0;
				border-width: 1px;
				border-color: #ddd;
				border-top-style: solid;
				position: relative;

				>div {
					@include fx_lr();
					font-size: 13px;
					color: #555;
					line-height: 1;

					strong {
						font-size: 16px;
						color: #111;
					}

					em {
						font-size: 18px;
						font-weight: bold;
						font-style: normal;
					}

					&:not(:first-child) {
						margin-top: 10px;
					}
				}

				>a {
					display: block;
					padding-right: 20px;
					background-position: right center;
					background-repeat: no-repeat;
					background-size: 5px 10px;
					background-image: url(#{$url-img}/content/ico_arr_black.png);

					>div {
						@include fx_lr();
						font-size: 13px;
						color: #555;
						line-height: 1.5;

						>.r {
							text-align: right;
						}

						strong {
							font-size: 16px;
							color: #111;
						}

						em {
							font-size: 18px;
							font-weight: bold;
							font-style: normal;
						}
					}
				}

				&:last-child {
					border-bottom-style: solid;
				}
			}
		}
		&.border_box{
			>ul{
				>li{
					@include box_default(0px, 0px);
					border-style: solid;
					overflow: hidden;
					.top{
						display: block;
						width: calc(100% - 38px);
						padding: 15px 0;
						margin: 0 auto;
					}
					>a.top {
						display: block;
						padding-right: 20px;
						background-position: right center;
						background-repeat: no-repeat;
						background-size: 12px 21px;
						background-image: url(#{$url-img}/content/ico_link_arr.png);
					}
					.btm{
						display: block;
						.btn{
							width: 100%;
							height: 45px;
							font-size: 13px;
							font-weight: 400;
							color: $black;
						}
					}
					.submenu_area{
						right: 13px;
					}
					&>div:not(:first-child){
						margin-top: 0;
					}
				}
			}
		}
	}
}

.input_items {
	&.col_3 {
		flex-wrap: wrap;
		align-content: space-between;

		>.check_item {
			flex-basis: 30%;

			&:nth-child(n+4) {
				margin-top: 10px;
			}
		}
	}
}