//var
$orange: #ff883a;

@mixin box_default($p_h : 17px, $p_v : 19px) {
	border: 1px solid transparent;
	border-radius: 8px;
	padding: $p_h $p_v;
	background-color: #fff;

	border-color: $border-base;
}

//아이콘
@include ico('check_on', 20px, 20px);

//버튼
.btn{
	&.btn_full{
		width: 100% !important;
	}
}

//리스트
.list{
	&.spacing_mt_2{
		>li:not(:first-child){
			margin-top: 10px;
		}
	}
	&.spacing_mt_5{
		>li:not(:first-child){
			margin-top: 25px;
		}
	}
	&.list_reference{
		>li{
			padding-left: 16px;
			position: relative;
			&::before{
				content: "※";
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
	&.list_status{
		display: inline-flex;
		width: 100%;
		flex-direction: column;
		>li{
			display: flex;
			justify-content: space-between;
			>span{
				line-height: 2;
			}
			.cate{
				text-align: left;
				margin-right: auto;
				color:#555;
			}
			.val{
				text-align: right;
				margin-left: auto;
			}
		}
		&+.list_status_btn{
			display: inline-flex;
			width: 5px;
			height: 9px;
			margin-left: 15px;
			text-indent: -9999px;
			justify-content: center;
			align-self: center;

			background-image: url(#{$url-img}/common/ico_chevron_right_sm.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&.list_number{
		>li{
			list-style: decimal;
			list-style-position: inside;
		}	
	}
}

//타이틀
h3.tit2{
	&.score_tit{
		float: left;
		width: calc(100% - 65px);
	}
}

//박스
.box{
	position: relative;
	.score_mark{
		float: right;
		display: flex;
		width: 45px;
		height: 45px;
		margin-left: 20px;
		padding: 13px;
		border-radius: 100%;
		background-color: $primary;

		justify-content: center;
		align-items: flex-end;

		line-height: 1;
		font-size: 12px;

		strong{
			height: 18px;
			font-size: 20px;
			font-weight: bold;
		}
		&+*{
			@include clearfix;
		}
	}
}

.double_box{
	.btm{
		>p{
			color:#555;
		}
	}
}

.box_item{
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: center;
	flex-grow: 0;

	>li{
		display: flex;
		padding: 13px;
		border-style: solid;
		border-width: 2px;
		border-color: #f2f2f2;
		border-radius: 14px;
		background-color: #f2f2f2;
		position: relative;

		background-position-x: center;
		background-repeat: no-repeat;

		>span{
			width: 100%;
			height: 22px;
			align-self: flex-end;

			font-size: 14px;
			font-weight: 500;
		}

		&.on {
			background-color: #fff;
			border-color: $primary;
		}
	}
	
	&.item_col_3{
		>li{
			width: calc(100% / 3 - 20px / 3);
			padding-top: calc(100% / 3 - 20px / 3 - 39px);
			&:nth-child(n+4){
				margin-top: calc(20px / 3);
			}
		}
	}
}
//플렉스
.flex_eq{
	>*{
		flex-basis: 50% !important;
	}
}

//etc
.security_level{
	display: flex;

	>span{
		width: 100%;
		padding-top: 30px;
		text-align: center;
		font-size: 13px;
		font-weight: normal;
		position: relative;
		&::before{
			content: "";
			width: 100%;
			height: 6px;
			position: absolute;
			left: 0;
			top: 20px;
		}
		&.current{
			&::after{
				content: "";
				width: 25px;
				height: 32px;
				background-repeat: no-repeat;
				background-position: 0 0;
				background-size: cover;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}
		&:not(:first-child){
			margin-left: 1px;
		}
		&:first-child{
			&::before{
				border-radius: 2px 0 0 2px;
				background-color: $valid;
			}
			&::after{
				background-image: url('/resources/img/common/ico_round_marker_valid.png');
			}
		}
		&:nth-child(2){
			&::before{
				background-color: $blue;
			}
			&::after{
				background-image: url('/resources/img/common/ico_round_marker_blue.png');
			}
		}
		&:last-child{
			&::before{
				border-radius: 0 2px 2px 0;
				background-color: $orange;
			}
			&::after{
				background-image: url('/resources/img/common/ico_round_marker_secondary.png');
			}
		}
	}
}

.security_score{
	display: flex;
	justify-content: center;
	>span{
		width: 100%;
		font-size: 16px;
		>em{
			font-style: normal;
			font-size: 18px;
		}
	}
}

.security_service{
	>li{
		background-position-y: calc(50% - 11px);
		&:nth-child(1) {
			background-image: url(#{$url-img}/content/bg_security_serv01.png);
			background-size: 55px 49px;
			&.on{
				background-image: url(#{$url-img}/content/bg_security_serv01_on.png);
			}
		}

		&:nth-child(2) {
			background-image: url(#{$url-img}/content/bg_security_serv02.png);
			background-size: 49px 37px;
			&.on{
				background-image: url(#{$url-img}/content/bg_security_serv02_on.png);
			}
		}

		&:nth-child(3) {
			background-image: url(#{$url-img}/content/bg_security_serv03.png);
			background-size: 43px 44px;
			&.on{
				background-image: url(#{$url-img}/content/bg_security_serv03_on.png);
			}
		}

		&:nth-child(4) {
			background-image: url(#{$url-img}/content/bg_security_serv04.png);
			background-size: 56px 43px;
			&.on{
				background-image: url(#{$url-img}/content/bg_security_serv04_on.png);
			}
		}

		&:nth-child(5) {
			background-image: url(#{$url-img}/content/bg_security_serv05.png);
			background-size: 51px 39px;
			&.on{
				background-image: url(#{$url-img}/content/bg_security_serv05_on.png);
			}
		}
		&:nth-child(6) {
			background-image: url(#{$url-img}/content/bg_security_serv06.png);
			background-size: 55px 55px;
			&.on{
				background-image: url(#{$url-img}/content/bg_security_serv06_on.png);
			}
		}
	}
}

.txt_guide{
	.ico{
		&.ico_notice{
			margin-top: -2px;
		}
	}
}