// 공통

.list1_1 {
	>li {
		padding-left: 20px;

		&:before {
			margin-left: 5px;
		}

		.address_example {
			margin-left: -20px;
		}
	}
}

.modal_sm {
	&.sm_650 {
		.popup_inner {
			width: 650px;
		}
	}
}

.txt_lg_24 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.transfer_complete_box {
	span {
		&.txt_xxl_36 {
			font-size: 36px;
			letter-spacing: -2px;

			strong {
				font-size: 36px;
			}
		}
	}
}

.btn_close_popup {
	&.btn_close_02 {
		background-position: top 37px right 37px;
	}
}