/* 공통 검색 페이지 */
.search_wrap {
	background-color: hsl(0, 0%, 97%);
	padding: 50px 0;
	width: 100%;
	border-radius: 6px 6px 6px 30px;

	.search_area {
		width: 100%;
		max-width: 625px;
		margin: 0 auto;

		form {
			position: relative;


			.form_integrated_search {
				display: block;
				height: 56px;
				background-color: $white;
				border-radius: 6px;
				box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.06);

				&:after {
					@include clearfix();
				}

				.selectbox_wrap {
					float: left;
					height: 100%;

					&.active {
						dt {
							a {
								border-radius: 6px 6px 0 0;
							}
						}
					}

					dt {
						a {
							border: 0;
							border-radius: 6px;
							background-color: $white;

							span {
								line-height: 56px;
								height: 100%;

								&:after {
									top: 25px;
								}
							}
						}
					}

					dd {
						top: 57px;

						ul {
							border: 0;
						}
					}
				}

				.tf {
					width: calc(100% - 130px);
					border: 0;
					padding-right: 50px;
					height: 100%;
					font-size: 18px;
					color: #666;
				}

				.btn {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 0;

					.ico_search {
						margin: 0;
					}
				}
			}
		}

		.row_recommend {
			display: flex;
			align-items: center;

			.tag_tit {
				padding: 0 5px;
			}

			.tag_list {
				display: flex;
				align-items: center;
				margin-left: 15px;

				.item_tag {
					padding: 0 12px;
					border: 1px solid #d4d4d4;
					border-radius: 16px;
					margin: 0 2px;
					font-size: 14px;
					line-height: 32px;
					display: inline-block;
				}
			}
		}
	}
}

.search_result_wrap {
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.toggle_list {

	&.list_type {
		.tbl_tit {
			margin-bottom: 0;
		}

		.search_list {
			.tbl_list {
				li {
					margin-top: 0;
					padding: 0;

					&:before {
						top: 38px;
					}

					.btn_all {
						padding: 25px 20px 17px 35px;
					}
				}
			}
		}
	}

	&.arr_bottom {
		.tbl_tit {
			background-image: url(#{$url-img}/common/ico_arr_bottom.png);
			background-repeat: no-repeat;
			background-position: calc(100% - 20px) center;
		}
	}

	&.active {
		.tbl_tit {
			background-image: url(#{$url-img}/common/ico_arr_top.png);
			background-repeat: no-repeat;
			background-position: calc(100% - 20px) center;
		}
	}

	.tbl_tit {
		border-bottom: 1px solid $black;
		padding: 16px 0;
		position: relative;

		.num_circle {
			background-color: #eeeeee;
			border-radius: 14px;
			padding: 0 15px;
			line-height: 28px;
			display: inline-block;
		}

		.btn {
			margin-right: 22px;
		}
	}

	.search_list {
		display: none;

		.tbl_list {

			li {
				border-bottom: 1px solid #eeeeee;
				padding: 0 20px 17px 35px;
				margin-top: 25px;

				&:before {
					left: 20px;
				}

				.box_layout {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				.item {
					color: $black;

					.item-desc {
						display: block;
					}
				}

				.d_i_flex {
					display: inline-flex;
					align-items: center;
				}

				a {
					padding: 0 11px;
					border: 1px solid #a2a2a2;
					border-radius: 6px;
					line-height: 32px;
				}

				.btn_all {
					padding: 0;
					border: 0;
					border-radius: 0;
					display: block;
				}
			}
		}

		.finance-list {

			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 30px 20px;
				border-bottom: 1px solid $border-base;

				.box1 {
					flex: 0 0 815px;

					.tit_tag {
						span {
							padding: 0 8px;
							line-height: 26px;
							border-radius: 13px;
						}
					}
				}

				.box2 {
					flex: 0 0 165px;

					.score_star {
						margin-bottom: 15px;

						.ico_star_primary,
						.ico_star_gray {
							background-size: 20px 19px;
							width: 20px;
							height: 19px;
							line-height: 19px;
						}
					}

					.best_unit,
					.default_unit,
					.month {
						display: block;
						text-align: center;
					}
				}

				.box3 {
					flex: 0 0 114px;

					.btn {
						display: block;
						text-align: center;
						line-height: 28px;
					}
				}
			}
		}

		.faq_list {
			border-bottom: 1px solid #111;
			display: none;

			li {

				.box_list {
					padding: 20px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border-bottom: 0;

					.box1 {
						display: flex;
						align-items: center;

						.ques {
							width: 40px;
							height: 40px;
							line-height: 36px;
							background-color: $bg-primary;
							text-align: center;
							border-radius: 25px;
							color: $white;
							font-size: 23px;
							font-weight: 500;
							flex: 0 0 40px;
						}
					}
				}

				.box_content {
					display: none;
					padding: 20px;
					align-items: center;
					background-color: #f3f3f3;

					.answ {
						width: 40px;
						height: 40px;
						line-height: 36px;
						background-color: $gray;
						text-align: center;
						border-radius: 25px;
						color: $white;
						font-size: 23px;
						font-weight: 500;
						flex: 0 0 40px;
					}

					p {
						line-height: 24px;
					}
				}
			}
		}

	}

	.notice_caution {
		display: none;
	}

}

.active {
	.tbl_tit {
		.ico_arr_bottom {
			transform: rotate(180deg);
		}
	}

	.search_list {
		display: block;

		.faq_list {
			display: block;

			li {
				border-top: 1px solid $black;

				&:first-child {
					border-top: 0 !important;
				}

				&.active {
					border-top: 1px solid $black;

					.box_list {
						.box2 {
							.btn {
								transform: rotate(180deg);
							}
						}
					}

					.box_content {
						display: flex;
					}
				}
			}
		}

	}

	.notice_caution {
		display: block;

		p {
			text-align: center;
			padding: 70px;
			border-bottom: 1px solid $border-base;
		}
	}
}