/* 공통 */

/* 신분증 촬영 */
.scan_mask_area {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;

	.inner {
		height: 340px;
		margin-bottom: $header-height;
	}

	.mask {
		position: relative;
		width: 500px;
		height: 320px;
		background-color: #fff;
		border-radius: 16px;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: -1px;
			width: 32px;
			height: 32px;
			background: url(#{$url-img-common}/img_angle_top_left@2x.png) no-repeat;
			background-size: cover;
		}

		&:before {
			left: -1px;
		}

		&:after {
			right: -1px;
			transform: rotate(90deg);
		}

		.subject {
			height: 100%;
			border-radius: 16px;
			overflow: hidden;

			&:before,
			&:after {
				content: '';
				position: absolute;
				bottom: -1px;
				width: 32px;
				height: 32px;
				background: url(#{$url-img-common}/img_angle_top_left@2x.png) no-repeat;
				background-size: cover;
			}

			&:before {
				left: -1px;
				transform: rotate(-90deg);
			}

			&:after {
				right: -1px;
				transform: rotate(180deg);
			}

			img {
				max-width: none;
			}
		}
	}

	.btn_shutter {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -70px - $header-height * 0.5;
		margin-left: 300px;
		border-radius: 50%;
		width: 120px;
		height: 120px;
		background-color: $primary;
		color: $black;
		padding-top: 10px;
		font-size: 20px;
		font-weight: 500;

		span {
			margin-top: 4px;
			display: block;
		}
	}
}

/* 상품설명서 보기 */
.wrapper_pdf_preview {
	background-color: #eee;

	.header {
		background-color: #eee;
	}

	#content {
		padding: 0 32px 40px;
	}
}

.pdf_preview_area {
	height: 100%;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
	background-color: $white;
	overflow-y: auto;
}

.pdf_preview_btn {
	button {
		position: absolute;
		top: calc(50% - 16px);
		display: inline-flex;
		width: 65px;
		height: 65px;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: auto 65px;
	}

	.btn_pdf_prev {
		left: 12px;
		background-image: url(#{$url-img-common}/ico_pdf_prev@2x.png);
	}

	.btn_pdf_next {
		right: 12px;
		background-image: url(#{$url-img-common}/ico_pdf_next@2x.png);
	}
}

/* 주소 검색 */
.address_area {
	height: 186px;
	overflow-y: auto;
}

.tit1 {
	display: flex;
	align-items: center;
}

/* 고객인증 */
.certify_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 5px 10px 20px;

	>.inner {
		display: flex;
		justify-content: space-between;
		max-width: 764px;
	}

	.left {
		flex: 1 1 50%;
	}

	.right {
		flex: 0 0 auto;
		width: 43%;
		min-width: 330px;
	}

	.terms_area {
		overflow: hidden;
		border: 1px solid $border-base;
		border-radius: 16px;
		letter-spacing: -.05em;

		.tit {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 70px;
			border-bottom: 1px solid $border-base;
			font-size: $font-size-xl;
			font-weight: 500;
			color: $black;
		}

		.cont {
			padding: 34px 39px;
			background-color: $bg-lightgray;
		}
	}

	.terms_list {
		li {
			display: flex;
			justify-content: space-between;

			+li {
				margin-top: 12px;
			}

			&.on {
				.btn_view {
					color: $darkprimary;

					&:after {
						background-color: $darkprimary;
					}
				}
			}
		}

		input[type=checkbox] {
			+label {
				padding-left: 23px;
				background-image: url(#{$url-img-common}/ico_check_default@2x.png);
				background-position: 0 7px;
				background-size: auto 10px;
				font-size: $font-size-md;
				color: $black;
			}

			&:checked {
				+label {
					background-image: url(#{$url-img-common}/ico_check_checked@2x.png);
				}
			}
		}

		.btn_view {
			position: relative;
			font-size: $font-size-xs;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				bottom: 2px;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $darkgray;
			}
		}
	}

	.check_all {
		font-size: $font-size-md;
		font-weight: 400;
		color: $black;
	}

	.tf_item_row {
		padding: 14px 19px 13px 15px;

		.lab {
			min-width: 90px;
			font-size: $font-size-base;
			letter-spacing: -.05em;
		}

		.tf {
			font-size: $font-size-lg;
			font-weight: 500;
		}

		+.tf_item_row {
			margin-top: 10px;
		}
	}

	.form_addon {
		font-size: $font-size-lg;
		font-weight: 500;
		color: $black;
		letter-spacing: -.05em;

		+.tf {
			border-right: 0;
		}
	}

	.btn_lg {
		padding: 0 45px;
	}

	.bul_notice {
		color: $gray;
		letter-spacing: -.05em;
	}

	&.type2 {
		padding: 0;

		>.inner {
			max-width: 784px;
			min-height: 353px;
		}

		.left {
			flex: 0 0 auto;
			width: 400px;
		}

		.right {
			flex: 1 1 50%;
		}
	}

	&.type3 {
		.img_scan_area {
			border: 0;
		}

		p {
			font-weight: 400;
			color: $black;
			letter-spacing: -.05em;
		}
	}
}

.bul_tip {
	position: relative;
	padding-left: 38px;
	font-size: $font-size-md;
	font-weight: 400;

	&:before {
		content: '';
		position: absolute;
		top: -2px;
		left: 0;
		width: 33px;
		height: 29px;
		background: url(#{$url-img-common}/ico_tip@2x.png) no-repeat 0 0;
		background-size: auto 29px;
	}
}

.certify_box {
	display: flex;
	align-items: center;
	justify-content: center;
	height: calc(100% + 15px);
	padding: 43px 0 53px;
	border: 1px solid $border-base;
	border-radius: 16px;
	letter-spacing: -.05em;

	.msg {
		font-size: $font-size-md;
		font-weight: 400;
		color: $black;
		line-height: 30px;
		text-align: center;

		&.txt_red {
			.sub_msg {
				font-size: $font-size-xl;
			}
		}
	}

	.main_msg {
		font-size: $font-size-xl;
		font-weight: 500;
	}

	.tf {
		height: 60px;
		border: 2px solid $black;
		border-radius: 0;
		font-size: $font-size-xxl;
		font-weight: 600;
		color: $black;

		&:disabled {
			border: 0;
			background-color: #666;
		}
	}

	.time {
		margin-top: 12px;
		font-weight: 600;
		font-size: 40px;
		color: $black;

		.ico {
			margin-top: -8px;
		}

		.txt_red {
			font-size: 35px;
		}
	}
}

.img_scan_area {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 260px;
	border: 1px solid $border-base;
	border-radius: 16px;

	.mask {
		display: block;
		position: relative;
		width: 100%;
		height: 100%;

		&:before,
		&:after {
			content: '';
			position: absolute;
			top: -1px;
			width: 32px;
			height: 32px;
			background: url(#{$url-img-common}/img_angle_top_left@2x.png) no-repeat;
			background-size: cover;
		}

		&:before {
			left: -1px;
		}

		&:after {
			right: -1px;
			transform: rotate(90deg);
		}
	}

	.subject {
		height: 100%;

		&:before,
		&:after {
			content: '';
			position: absolute;
			bottom: -1px;
			width: 32px;
			height: 32px;
			background: url(#{$url-img-common}/img_angle_top_left@2x.png) no-repeat;
			background-size: cover;
		}

		&:before {
			left: -1px;
			transform: rotate(-90deg);
		}

		&:after {
			right: -1px;
			transform: rotate(180deg);
		}
	}

	img {
		height: 100%;
	}
}

/* 계좌비밀번호입력 */
.common_input_area {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: -37px;

	>.inner {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 800px;
		height: 100%;
	}

	.bul_tip {
		color: $black;
	}
}

.common_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 500px;
	padding-top: 50px;
	border: 1px solid $border-base;
	border-radius: 20px;
	box-shadow: 0 15px 40px 0 rgba(0, 0, 0, .1);

	.text {
		font-size: 26px;
		font-weight: 400;
		color: $black;
		letter-spacing: -.05em;
	}

	.pw_area {
		display: flex;
		align-items: center;

		i {
			display: block;
			width: 32px;
			height: 32px;
			margin: 0 15px;
			border-radius: 50%;
			background-color: #e7e7e7;

			&.on {
				background-color: $primary;
			}
		}
	}

	.bul_notice {
		color: $gray;
	}

	.input_area {
		.tf {
			height: 60px;
			border: 2px solid $black;
			border-radius: 0;
			font-size: 30px;
			font-weight: 600;
			color: $black;
			text-align: center;
		}
	}
}

/* 비과세종합저축 한도 조회 */
.bg_lightprimary2 {
	background-color: #fef5e5 !important;
}

.tbl_limit {
	table {
		border-top-color: $primary;
		border-bottom: 0;
	}

	th,
	td {
		border: 0;
		background-color: #fef5e5;
	}

	th {
		color: $black;
	}
}

.event_wrap {
	border: 1px solid $border-base;
	background-color: #f6f6f6;
}

.account_wrap {
	min-height: 110px;
}

/* 전자서류 작성 */
.wrapper_document {
	.document_area {
		height: 100%;
		margin: 0 32px;
		overflow-y: auto;
		border-radius: 6px;
		background-color: $white;

		>.inner {
			padding: 20px;
		}
	}

	.document_info {
		.step {
			display: inline-flex;

			li {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 34px;
				height: 34px;
				margin-right: 5px;
				border-radius: 6px;
				background-color: $gray;
				font-size: $font-size-lg;
				font-weight: 500;
				color: $white;

				&.on {
					background-color: $primary;
					color: $black;
				}
			}
		}

		.check_item {
			label {
				background-position: 0 2px;
				font-size: $font-size-sm;
				color: $white;
			}
		}
	}

	.scan_mask_area {
		.subject {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		.tit {
			font-size: 40px;
			font-weight: 500;
			color: #666;
		}
	}

	.img_area {
		width: 100%;
		height: 100%;

		img {
			height: 100%;
		}
	}

	.btn_shutter {
		position: static;
		margin: 0;
		padding: 0;
	}

	.btn_black {
		&:disabled {
			background-color: $lightgray;
			color: $black;
			cursor: default;
			opacity: 1;

			.ico_check_circle_white {
				background-image: url(#{$url-img-common}/ico_check_circle@2x.png);
			}
		}
	}

	.ico {
		&.ico_lg_file_white {
			width: 32px;
			height: 31px;
			background-size: cover;
			background-image: url(#{$url-img-common}/ico_file_white@2x.png);
		}
	}
}

/* 자필서명 등록 */
.document_sign_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: -27px;

	.sign_area {
		display: flex;
		justify-content: space-between;
		margin: 0 -10px;
	}

	.sign_box {
		display: flex;
		flex-direction: column;
		width: 450px;
		height: 280px;
		margin: 0 10px;
		padding: 30px;
		border-radius: 16px;
		background-color: $white;

		&.type1 {
			.sign_body {
				&:before {
					content: '성명';
				}
			}
		}

		&.type2 {
			.sign_body {
				&:before {
					content: '서명';
				}
			}
		}
	}

	.sign_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 0 auto;

		.text {
			font-size: $font-size-lg;
			font-weight: 400;
			color: $black;
		}

		.btn {
			padding: 0 13px;
			font-size: $font-size-xxs;
		}
	}

	.sign_body {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		flex: 1 1 50%;
		position: relative;

		>* {
			position: relative;
		}

		&:before {
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -5px;
			font-size: 100px;
			font-weight: 600;
			color: #eee;
			transform: translate3d(-50%, -50%, 0);
		}
	}
}

/* 장애오류메시지 */
.wrapper_error {
	align-items: center;
	justify-content: center;
}

.error_wrap {
	margin-top: -35px;

	.error_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 30px 20px;
	}

	.logo {
		img {
			height: 36px;
			vertical-align: top;
		}
	}

	.tit {
		font-size: $font-size-xxl;
		font-weight: 400;
		color: $black;
		letter-spacing: -.05em;

		strong {
			font-weight: 600;
		}
	}

	.error_body {
		width: 800px;
		height: 450px;
		padding: 95px 107px 70px;
		border: 1px solid $border-base;
		border-radius: 20px;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, .1);
	}

	.cont_wrap {
		display: flex;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;
			flex-direction: column;
			flex: 0 0 auto;
			width: 100px;
			margin-right: 30px;

			strong {
				font-size: $font-size-xxl;
				font-weight: 600;
			}
		}

		.right {
			flex: 1 1 50%;
		}
	}

	.tit_error {
		margin-top: -6px;
		font-size: $font-size-xxl;
		font-weight: 400;
		color: $black;
		letter-spacing: -.05em;
	}

	.cont_error {
		line-height: 1.45;

		p {
			color: $gray;

			+p {
				margin-top: 8px;
			}
		}
	}
}

/* 스마트뱅킹 설치하기 */
.app_down_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-top: -5px;
}

.app_down_list {
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;

	>div {
		margin: 0 10px;
	}
}

.app_down_box {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 470px;
	height: 450px;
	padding: 42px 0;
	border-radius: 20px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .05);
	background-color: $white;

	.tit {
		font-size: 23px;
		font-weight: 500;
		color: $black;
		letter-spacing: -.05em;

		.ico {
			margin-top: -2px;
		}
	}

	.input_area {
		.tf {
			height: 60px;
			border: 2px solid $black;
			border-radius: 0;
			font-size: 30px;
			font-weight: 600;
			color: $black;
			text-align: center;
		}
	}

	.tab_menu {
		margin-bottom: 0;
		padding-right: 45px;
	}

	.tab_list {
		position: absolute;
		top: 119px;
		right: -115px;
		width: 281px;
		margin: 0 -.5px;
		border: 0;
		transform: rotate(90deg);

		li {
			overflow: hidden;
			width: calc(50% - 1px);
			margin: 0 .5px;
			border: 1px solid #bbb;
			border-bottom: 0;
			border-top-right-radius: 12px;
			border-top-left-radius: 12px;
			font-size: $font-size-base;
			font-weight: 400;
			color: $gray;

			a {
				height: 40px;
			}

			&.on {
				margin-top: -5px;
				border-color: $primary;
				background-color: $primary;
				font-size: $font-size-md;
				color: $black;

				a {
					background-color: $primary;

					span {
						padding-top: 8px;
					}
				}
			}
		}
	}

	.tab_cont {
		border: 4px solid $primary;

		.img_area {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 266px;
			height: 272px;
		}

		img {
			height: 207px;
		}
	}
}

/* 상담결과등록 */
.counsel_regist_wrap {
	textarea.tf {
		color: $gray;
	}

	.btn_group {
		margin-top: -15px;
	}
}

/* 태블릿브랜치 상담 진행정보 */
.user_info_area {
	text-align: center;

	.inner {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 10px 58px;
		border: 2px solid $primary;
		border-radius: 30px;
		box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .05);
		font-size: 24px;
		color: $black;
	}

	.name {
		box-shadow: inset 0px -10px #fad973;
		font-weight: 500;
		line-height: 1.15;
	}

	.tel {
		font-weight: 600;
	}
}

/* 화면 잠금 안내 */
.screen_lock_wrap {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: -5px;

	.form_addon {
		padding: 0 22px;
		border-radius: 6px;
		background-color: $bg-lightgray;
		font-weight: 400;
		white-space: nowrap;
	}

	.tf {
		height: 45px;
	}
}

/* 우대서비스안내 */
.wrapper_special_service {
	#content {
		overflow-y: hidden;
		margin-top: -36px;
	}

	.container {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.tab_menu {
		flex: 0 0 auto;
	}

	.inner_scroll {
		flex: 1 1 50%;
		overflow-y: auto;
	}
}

/* 처리중안내 */
.modal_loading {
	&.modal_alert {
		.popup_inner {
			width: 340px;
			border-radius: 20px;
		}
	}
}

.loading_wrap {
	padding: 42px 0 18px;
	text-align: center;

	.txt_lg {
		letter-spacing: -.05em;
	}
}

//업종코드조회
.code_search_wrap {
	display: flex;
	padding: 14px 32px 21px;
	margin-bottom: 40px;
	background: $bg-lightprimary;

	>div {
		flex: 1 1 auto;
	}

	.left {
		width: 830px;

		.code_search {
			margin-top: 20px;

			p {
				display: inline-block;
				width: 100px;
				color: $black;
				font-weight: 400;
			}

			.opt {
				display: inline-block;
				width: calc(100% - 119px);
			}

			&:first-child {
				margin-top: 7px;
			}
		}
	}

	.right {
		text-align: right;
	}

}

.ico {
	&.ico_code_search {
		width: 31px;
		height: 32px;
		background-size: cover;
		background-image: url(#{$url-img-common}/ico_code_search@2x.png);
	}

	&.ico_personal {
		width: 31px;
		height: 32px;
		background-size: cover;
		background-image: url(#{$url-img-common}/ico_personal@2x.png);

	}
}

// 개인정보 현황화 
.personal_info_modern {
	display: flex;
	padding: 0;
	height: 611px;
	border-radius: 6px;

	>div {
		flex: 1 1 auto;
	}

	.left {
		overflow-y: auto;
		overflow-x: hidden;
		min-width: 350px;
		max-width: 350px;
		width: 350px;
		padding: 46px 0 50px 50px;

		.ico {
			width: 32px;
		}

		.user_name {
			display: inline-block;
			position: relative;
			margin-right: 18px;
			z-index: 10;
			font-size: 24px;
			vertical-align: middle;
			color: $black;
			font-weight: 500;

			&:after {
				content: '';
				position: absolute;
				bottom: 4px;
				left: 0;
				right: 0;
				height: 10px;
				z-index: -1;
				background-color: #fad973;
			}
		}

		.user_num {
			display: inline-block;
			font-size: 24px;
			vertical-align: middle;
			color: $black;
			font-weight: 600;
			letter-spacing: -0.05em;
		}

		ul {
			margin-top: 38px;

			li {
				width: 300px;
				height: 56px;
				border-radius: 6px 0 0 6px;
				border-bottom: 1px solid $border-base;

				&.on {
					background:$primary url(#{$url-img-common}/ico_arr_right_black@2x.png) no-repeat right 20px top 22px;
					background-size: 8px 13px;

					a {
						color: $black;
					}
				}

				&:last-child {
					border-bottom: none;
					;
				}

				a {
					display: block;
					padding: 16px 30px 16px 20px;
					font-size: $font-size-md;
					color: $gray;
					font-weight: 400;
				}
			}
		}
	}

	.right {
		position: relative;
		overflow-y: auto;
		padding: 50px;

		&:after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 3px;
			height: 100%;
			background: $primary;
			box-shadow: -4px 0px 6px rgba(0, 0, 0, 0.15);
		}

		.tit2 {
			margin-top: 0;
		}
	}
}

.loading_area {
	width: 55px;
	height: 55px;
	margin: 0 auto;
	background: url(#{$url-img-common}/img_loading1@2x.png) no-repeat 0 0;
	background-size: auto 55px;
	animation: loading 1.8s infinite ease;
}

@keyframes loading {

	0%,
	100% {
		background-image: url(#{$url-img-common}/img_loading1@2x.png);
	}

	25% {
		background-image: url(#{$url-img-common}/img_loading2@2x.png);
	}

	50% {
		background-image: url(#{$url-img-common}/img_loading3@2x.png);
	}

	75% {
		background-image: url(#{$url-img-common}/img_loading4@2x.png);
	}
}