// 공통

.list1_1 {
	>li {
		padding-left: 20px;

		&:before {
			margin-left: 5px;
		}

		.address_example {
			margin-left: -20px;
		}
	}
}

.modal_sm {
	&.sm_650 {
		.popup_inner {
			width: 650px;
		}
	}
}

.txt_lg_24 {
	font-size: 24px;
	margin-top: 0px;
	margin-bottom: 20px;
}

.transfer_complete_box {
	span {
		&.txt_xxl_36 {
			font-size: 36px;
			letter-spacing: -2px;

			strong {
				font-size: 36px;
			}
		}
	}
}

.btn_close_popup {
	&.btn_close_02 {
		background-position: top 37px right 37px;
	}
}

//공통_직업검색
.popup_body {
	.section {
		.search_jab {
			margin-top: 30px;
			// margin-left: -5px;
			margin-right: -6px;

			.jab_list {
				display: flex;
				flex-wrap: wrap;

				.jab_item {

					// flex: 1 1 29.3%;
					input[type=checkbox] {
						position: absolute;
						width: 1px;
						height: 1px;
						opacity: 0;

						&+label {
							width: 96px;
							height: 46px;
							border-radius: 6px;
							border: 1px solid #a2a2a2;
							margin-right: 5px;
							margin-bottom: 5px;
							font-size: 16px;
							color: #555;
							font-weight: 200;
							display: flex;
							align-items: center;
							justify-content: center;
							line-height: 43px;
						}

						&:checked+label {
							border: 1px solid #111;
							color: #111;
						}
					}
				}
			}
		}

		.txt_lg_18 {
			font-size: 18px;
		}

		.tb_scrolls_box {
			&.jab_list_col {
				padding: 0;

				.jab_item {
					display: flex;
					border-bottom: 1px solid #eee;

					a {
						display: flex;
						width: 100%;
						font-size: 16px;
						color: #333;
						font-weight: 300;
						padding: 14px 0;
					}

				}
			}
		}
	}
}