// 공통

//주소 검색
.search_area {
	.form_addr_search {
		display: block;
		height: 50px;
		margin: 0 -20px;

		.tf {
			width: 100%;
			height: 100%;
			font-size: 16px;
			background-color: #f6f6f6;
			color: #666;
			padding-left: 20px;
			padding-right: 50px;
		}

		.btn {
			position: absolute;
			right: -20px;
			top: 50%;
			transform: translateY(-50%);
			padding: 0;
		}

		&.search_type {

			.btn {
				&.btn_before {
					position: absolute;
					left: 0px;

					.ico {
						margin-right: 0;

						&.ico_mike {
							display: inline-block;
							width: 25px;
							height: 25px;
							background-image: url(/resources/img/content/ico_mike.png);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 25px 25px;
						}
					}
				}
			}

			.tf {
				padding-left: 55px;
			}
		}
	}
}

.list {
	&.list_col {
		>li {
			letter-spacing: -0.5px;
			margin-top: 0px;
			padding-left: 13.5px;
			font-size: 12px;

			span {
				display: inline-block;
				width: 97px;
			}
		}
	}

	&.list {
		&.list1_type2 {
			li {
				position: relative;
				padding-left: 12.5px;

				&:before {
					position: absolute;
					left: 4.5px;
					top: 8.5px;
					width: 2.5px;
					height: 2.5px;
					background-color: #000;
				}
			}
		}
	}
}

.search_result {
	margin-top: 0px;

	.result_area {
		margin-top: 37px;

		li {
			padding: 14px 22px 11px 19px;
			margin: 10px 0;
			border-radius: 8px;
			border: 1px solid #ddd;
			background-image: url(/resources/img/content/ico_chevron_right_md.png);
			background-size: 7px 12px;
			background-position: calc(100% - 21px) center;
			background-repeat: no-repeat;

			&:first-child {
				margin-top: 0px;
			}
		}
	}
}

//인증번호입력
strong {
	&.txt_xl_22 {
		font-size: 22px;
		line-height: 28px;
	}
}

.txt_lg_18 {
	font-size: 18px;
	line-height: 22px;

	&.lh_25 {
		line-height: 25px;
	}
}

//인증번호확인
.txt_lh_28 {
	line-height: 28px;
}

.txt_lh_100 {
	line-height: 100px;
}

//구비서류선택_이미지
.popup_body {
	.file_add_box {
		.file_add_area02 {
			.img_container {
				margin: 0;
				margin-left: -5px;
				margin-right: -5px;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				margin: -10px 0 0 -10px;
				font-size: 0;

				.type_btn02 {
					position: relative;
					display: flex;
					flex: 1 0 30%;
					width: calc(33.33% - 10px);
					display: inline-block;
					margin: 10px 0 0 10px !important;
					padding-top: 24.25%;

					input {
						&:checked+label {
							border-color: none;
							padding-left: 0;
						}

						&[type=checkbox]+label {
							background: #e5e5e5;
							padding-left: 0;
						}
					}

					label {
						position: relative;
						border-radius: 3px;
						margin: 0;

						&.img {
							background-color: #e5e5e5;
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							right: 0;
							bottom: 0;

							img {
								border-radius: 3px;
								width: 100%;
								height: 100%;
								object-fit: cover;
							}
						}
					}

					.state_num {
						position: absolute;
						left: 5px;
						top: 5px;
						width: 16px;
						height: 16px;
						background-color: #333;
						border-radius: 16px;
						color: #fff;
						display: inline-block;
						text-align: center;
						line-height: 15px;
						font-size: 10px;
					}
				}
			}

			&.row_type {
				.img_container {
					flex-direction: column;

					.type_btn02 {
						width: 100%;
						height: 80px;
						position: relative;
						display: flex;
						// width: calc(33.33% - 10px);
						display: inline-block;
						padding-top: 24.25%;

						input[type=checkbox]+label {
							background: #fff;
						}

						label {
							margin-right: 10px;
							width: 100%;
							border-radius: 3px;
							margin: 0;
						}

						span {
							&.img_inner {
								display: inline-block;
								position: absolute;
								left: 0;
								border-radius: 3px;
								background-color: #e5e5e5;
								width: calc(33.33% - 10px);

								display: block;
								position: absolute;
								left: 0;
								top: 0;
								right: 0;
								bottom: 0;

								img {
									border-radius: 3px;
									width: 100%;
									height: 100%;
									object-fit: cover;
								}
							}
						}

						.text_area {
							display: block;
							position: absolute;
							font-size: 14px;
							color: #555;
							left: 33.3%;
							width: 66.6%;
							height: 90%;
							overflow: hidden;
							padding-right: 5px;


							span {
								display: block;
								width: 100%;
								max-height: 40px;
								overflow: hidden;
							}
						}
					}
				}
			}
		}
	}
}

//구비서류촬영
.popup_photo {
	position: relative;

	.popup_header {
		.popup_tit {
			color: #fff;
		}

		.btn {
			&.btn_close_popup_white {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 56px;
				height: 56px;
				background: url(/resources/img/content/ico_close_white.png) no-repeat center center;
				background-size: 15px 15px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center center;
				overflow: hidden;
				text-indent: -9999px;
				overflow: hidden;
				text-align: left;
				overflow: hidden;
			}
		}
	}

	.popup_body {
		height: 100%;

		.container {
			.txt_photo_guide {
				font-size: 16px;
				color: #fff;
				position: absolute;
				top: 15%;
				left: calc(50% - 107.4px);
			}

			.btn_photo_group {
				position: absolute;
				top: 11%;
				margin: 0;
				left: calc(50% - 93px);
			}
		}
	}

	.btn_group {
		display: flex;
		justify-content: center;

		button {
			.ico {
				margin: 0px;

				&.ico_filming {
					display: inline-block;
					width: 75px;
					height: 75px;
					background: url(/resources/img/content/ico_filming.png) no-repeat center center;
					background-size: 75px 75px;
				}
			}
		}
	}

	.btn_md_type {
		.btn_md {
			width: 87px;
		}
	}

	.filming_box {
		// position: absolute;
		z-index: -10;
		display: flex;
		align-items: center;
		overflow: hidden;
		height: 100vh;
		width: 100vw;
		justify-content: center;
		margin: 0 auto;

		img {
			position: absolute;
			top: 0;
			height: inherit;
			object-fit: cover;
		}
	}
}

//사진촬영시 주의사항
.ico_camera_area {
	display: flex;
	width: 100%;
	justify-content: center;

	img {
		width: 120px;
		height: 120px;
	}
}

.box {
	&.filming_area {
		padding: 30px 0px;
		border-radius: 5px;
		display: flex;
		justify-content: center;

		span {
			&.img {
				display: block;
				background-color: #f6f6f6;
				width: 186px;
				height: 254px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover
				}
			}
		}

		ul {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
			justify-content: space-between;

			li {
				width: calc(50% - 5px);
				height: 184.5px;
				margin-bottom: 40px;

				span {
					min-width: 155px;

					&.img {
						display: block;
						width: 100%;
						height: 100%;
						background-color: #f6f6f6;
						border-radius: 5px;

						img {
							width: 155px;
							height: 184.5px;
							margin-left: 50%;
							transform: translateX(-50%);
							border-radius: 5px;
						}
					}
				}

				.text_area {
					display: block;
					text-align: center;
					font-size: 14px;
					line-height: 14px;
					margin-top: 10px;
					color: #555;
				}
			}
		}
	}
}

.search_result {
	.result_area {
		&.border_list_type2 {
			li {
				margin: 0px;
				border-radius: 0px;
				border: 0px;
				border-bottom: 1px solid #eee;
				position: relative;
				padding: 0px;
				background-position: right center;

				&:before {
					content: "";
					display: inline-block;
					width: 3px;
					height: 3px;
					border-radius: 1.5px;
					background-color: #000;
					position: absolute;
					top: 25px;
					left: 0px;
				}

				p {
					padding: 15px 0px 15px 10px;
				}
			}
		}
	}

	.status_box {
		width: 180px;
		height: 30px;
		background-color: #666;
		color: #fff;
		border-radius: 15px;
		text-align: center;
		margin: 0 auto;

		span {
			line-height: 29px;
			font-size: 13px;
		}
	}
}

.row_search_keyword {
	.tag_tit {
		padding: 0 5px;
		font-size: 16px;
	}

	.tag_list {
		margin-top: 10px;
		display: flex;
		align-items: center;

		.item_tag {
			padding-left: 14px;
			padding-right: 14px;
			border: 1px solid #ddd;
			border-radius: 16px;
			margin: 0 2px;
			font-size: 12px;
			line-height: 22px;
			display: inline-block;
			position: relative;

		}
	}
}

//직업 검색
.popup_tit {
	&.txt_lg_18 {
		font-size: 18px;
	}
}

.txt_w3 {
	font-weight: 300;
}

.search_jab {
	margin-top: 13px;
	margin-left: -5px;
	margin-right: -5px;

	.jab_list {
		display: flex;
		flex-wrap: wrap;

		.jab_item {
			// flex: 1 1 29.3%;
			width: 100px;
			height: 35px;
			border-radius: 4px;
			border: 1px solid #ddd;
			margin: 5px;
			font-size: 14px;
			color: #555;
			font-weight: 400;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				line-height: 32px;
			}

			&+li {
				margin: 5px;
			}

			&.on {
				border: 1px solid #111;
				color: #111;
			}
		}
	}
}

.jab_modal_list {
	li {
		&.jab_item {
			display: flex;
			border-bottom: 1px solid #eee;

			a {
				display: flex;
				// height: 50px;
				align-items: center;
				padding: 14px 0px;
			}

			&+li {
				margin-top: 0;
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 24px;
				width: 3px;
				height: 3px;
				background-color: #111;
			}
		}
	}
}