//고객센터_소비자리서치
.check_item {
	&.checkbox_style1 {
		>input[type=radio] {
			&+label {
				background-image: url(../../../resources/img/common/ico_checkbox_default.png);
			}

			&:checked+label {
				background-image: url(../../../resources/img/common/ico_checkbox_checked.png);
			}
		}
	}
}

//상세
.complete_txt {
	&.txt_type1 {
		strong {
			font-size: 18px;

			span {
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
}

//설문조사 
.contract_list {
	.outline_style2 {
		border-top: 1px solid #ddd;

		&.bor_set {
			border-top: none;
			border-bottom: 1px solid #ddd;
		}

		.contract_item {
			padding: 0;
			margin: 0;
			border: 0;
			border-bottom: 1px solid #ddd;
			border-radius: 0;

			a {
				padding: 14px 0px;

				.content {
					.list_name {
						font-size: 16px;
					}

					.evidence_contract {
						.info {
							padding-top: 10px;
							color: #555;

							span {
								display: inline-block;
								font-size: 12px;

								&.info_list {
									padding-right: 8px;
								}
							}
						}
					}
				}

				.ico {
					position: absolute;
					width: 5px;
					height: 10px;
					top: calc(50% - 5px);
					right: 0;
				}
			}
		}

		.board_item {
			padding: 0px;
			border: 0px;
			border-radius: 0px;

			.content {
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #eee;

				position: relative;
				display: flex;
				padding: 20px 10px;
				height: 56px;
				background-color: #f6f6f6;
				align-items: center;

				strong {
					position: relative;
					background-color: #f6f6f6;
					font-size: 16px;
					font-weight: 500;
					color: #111;
					transform: none;
					position: relative;
					line-height: normal;

					.req {
						display: inline-block;
						margin-left: 4px;
						width: 5px;
						height: 5px;
						border-radius: 50%;
						background-color: #f46e16;
						position: absolute;
						top: 4px;
						right: -9px;
						text-indent: -9999px
					}

				}

				&.cont_area {
					height: auto;
					flex-flow: column;
					align-items: flex-start;
					padding: 17px 10px;

					span {
						color: #555;
					}
				}
			}

			.tf_item_body {
				display: inline-block;
				width: 100%;
				min-height: 40px;
				line-height: 1;

				.input_items {
					&.itemes_style1 {
						display: flex;
						align-items: center;
						justify-content: space-between;

						.check_item {
							flex: 0 0 auto;
						}
					}

					&.itemes_style2 {
						flex-wrap: wrap;

						.check_item {
							flex: 0 1 29%;
							padding-bottom: 10px;

							&.item_align2 {
								flex: 1 0 45%;
							}
						}
					}

					&.itemes_style3 {
						flex-wrap: wrap;

						.check_item {
							flex: 1 0 47%;
							padding-bottom: 10px;
							// display: flex;

							input {
								display: inline-block;
							}

							label {
								display: inline-block;
								padding-bottom: 10px;
								line-height: 18px;
							}
						}
					}

					&.itemes_style4 {
						flex-wrap: wrap;

						.check_item {
							flex: 1 1 auto;
							padding-bottom: 10px;

							&.item_align3 {
								flex: 0 1 29%;
							}
						}
					}
				}
			}
		}
	}
}

.board_header {
	padding-bottom: 16px;

	.tit1 {
		border-top: 1px solid #eee;
		padding-top: 15px;
		margin-bottom: 6px;
	}

	border-bottom: 1px solid #eee;
}

.mobile_issuance_list {
	&.list_type2 {
		margin-top: 15px;

		>li {
			.btn {
				padding: 15px 0;
				background-size: 5px 10px;

				.issuance_txt {
					strong {
						font-size: 16px;
					}

					p {
						font-size: 12px;
						margin-top: 8px;

						span {
							padding-right: 9.5px;
						}
					}
				}
			}
		}
	}
}

//이용약관

.list_style {
	.num_list1 {
		counter-reset: list;

		>li {
			padding-left: 17px;
			counter-increment: list;

			&:before {
				content: counter(list) "";
				width: 13.5px;
				padding-top: 3px;
				font-size: 10px;
				text-align: center;
			}

			&:after {
				position: absolute;
				top: 5px;
				left: 0.5px;
				width: 11px;
				height: 11px;
				border: 1px solid #555;
				border-radius: 8px;
			}
		}
	}

	.num_list2 {
		counter-reset: num1;

		>li {
			padding-left: 15px;

			&::before {
				counter-increment: num1;
				content: counter(num1) ".";
				position: absolute;
				top: 0;
				left: 0;
			}

			&.num_pl {
				padding-left: 23px;
			}
		}
	}

	.bul_n {
		padding-left: 28px;
		padding-right: 28px;
		margin-bottom: 4px;

		span {
			color: #111;

			&.num {
				position: relative;
				display: inline-block;
				width: 26px;
				margin-left: -30px;
				margin-right: 4px;
				font-size: 8px;
				text-align: center;
				line-height: 15px;

				&:before {
					content: '';
					position: absolute;
					top: -3px;
					left: 0;
					width: 27px;
					height: 24px;
					background: url(../../../resources/img/content/ico_number_bullet.png) left center no-repeat;
					background-size: 27px 24px;
					z-index: -1;
				}
			}
		}
	}

	.bul_t {
		font-size: 13px;
	}
}

// 전자금융서비스이용약관 리스트 내 버튼
.btn {
	&.list_btn {
		width: 100%;
	}
}

.mobile_issuance_list {
	&.list_type2 {
		li {
			&:nth-child(1) {
				.btn {
					.issuance_txt {
						width: 80%;
					}
				}
			}

			.btn {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				background-image: url(#{$url-img-common}/ico_chevron_right_md.png);
				background-repeat: no-repeat;
				background-size: 6px 10px;
				background-position: center right;

				.lab_status {
					margin-right: 6px;
					margin-top: -24px;
				}

				.issuance_txt {
					width: 92.5%;

					strong {
						white-space: normal;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
	}

	&.list_type3 {
		margin: 0;

		li {
			&:nth-child(1) {
				border-top: none;
			}

			.btn {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				background-image: url(#{$url-img-common}/ico_chevron_right_md.png);
				background-repeat: no-repeat;
				background-size: 6px 10px;
				background-position: center right;

				.lab_status {
					margin-right: 4px;
					margin-top: -24px;
					color: #111;
				}

				.issuance_txt {
					width: 94%;

					strong {
						font-size: 16px;
					}

					p {
						margin-top: 8px;
					}
				}

				.issuance_txt {
					strong {
						white-space: normal;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;

						&.line_3 {
							-webkit-line-clamp: 3;
						}
					}

					p {
						.lab_status {
							margin-top: 0.5px;
							margin-right: 6px;
						}
					}
				}
			}

			.btn2 {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				.issuance_txt {
					width: 100%;

					strong {
						font-size: 16px;
					}

					p {
						span {
							display: block;
							font-size: 13px;
							color: #555;
						}
					}
				}

				.issuance_txt {
					strong {
						white-space: normal;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
	}
}

.terms_header {
	.state_list {
		.state2 {
			color: #666666;
		}

		.bar2 {
			width: 1px;
			height: 18px;
			background-color: #dddddd;
			margin: 0 15px;
		}
	}
}

.terms_area {
	.event_img {
		width: 100%;
		height: 145px;
		margin-bottom: 230px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			-o-object-fit: cover;
			object-position: 50% 50%;
			-o-object-position: 50% 50%;
		}
	}
}

// 보험ARS이용안내

.arsservicecode {
	.tf_item {
		position: relative;

		.tf_item_body {
			.input_area {
				width: 90%;
			}

			.btn_area {
				.ico_chevron_down_md {
					position: absolute;
					right: 0;
				}
			}
		}

		&.on {
			.btn_area {
				.ico_chevron_down_md {
					transform: rotate(180deg)
				}
			}
		}

		.tf {
			height: auto;
			line-height: 1.2;
			white-space: normal;
		}

		&:not(.foucs) {
			border: 1px solid #ddd;
		}
	}

	.item_list {
		margin-top: -10px;
		width: 100%;
		top: 60px;
		padding: 20px 25px 15px;
		background-color: $bg_lightgray;
		border-radius: 0 0 8px 8px;
		border: 1px solid #ddd;

		li {
			a {
				display: block;
				padding: 5px 0;
			}
		}
	}
}

// e : 김정연 (고객센터 3차)