// 고객센터_자주하는질문 
.search_txtaera {
	width: 280px;
}

.tab_menu2 {
	&.menu2_type1 {

		&.col_drop {

			.tab_list {

				li {
					flex: 0 0 33.3%;
					width: 50%;
					font-size: 13px;

					&:nth-child(1) {
						border-top-left-radius: 4px;
					}

					&:nth-child(2) {
						border-top-right-radius: 0px;
					}

					&:nth-child(3) {
						border-top-right-radius: 4px;
					}

					&:nth-child(2n+1):nth-last-child(-n+2) {
						border-bottom-left-radius: 0px;
					}

					&:nth-child(3n+1):nth-last-child(-n+3) {
						border-bottom-left-radius: 4px;
					}

					&:nth-child(2n):nth-last-child(-n+2) {
						border-bottom-right-radius: 0px;
					}

					&:nth-child(3n):nth-last-child(-n+3) {
						border-bottom-right-radius: 4px;
					}

					&:nth-child(2) {
						border-top-right-radius: none;
					}

					&:last-child {
						border-bottom-right-radius: 4px;
					}
				}
			}
		}
	}
}

.fc_faq_box {
	.txt_h_2 {
		>li {
			strong {
				line-height: 20px;
			}
		}
	}
}

//고객센터
.tit_circle_arr {
	padding-left: 20px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: calc(50% - 6.5px);
		left: 0;
		width: 13px;
		height: 13px;
		padding-left: 20px;
		background: url(../../../resources/img/common/ico_arr_circle_right.png) no-repeat;
		background-size: 13px 13px;
		margin-bottom: 10px;
	}
}