/* 고객 브릿지 */
.wrapper_bridge_customer {
	$spacing: 40px;
	background: url(#{$url-img-common}/bg_gray_pattern@2x.png);
	background-size: 3px auto;

	.header {
		position: relative;
		z-index: 10;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .05);
	}

	.titlebar {
		height: 65px;
		padding-right: 40px;
		padding-left: 22px;
	}

	.tit_page {
		font-size: 24px;
		font-weight: 600;
	}

	.btn_certify {
		padding: 0 18px;
		border-radius: 18px;
		font-size: $font-size-sm;
		font-weight: 500;
		letter-spacing: -.05em;
	}

	.btn_user {
		font-weight: 500;
		color: $black;
		letter-spacing: -.05em;
	}

	#content {
		padding: $spacing;
	}

	.user_bridge_box {
		position: relative;
		height: 100%;
		border-radius: 10px;
		padding: $spacing;

		display: flex;
		flex-direction: column;
	}
}

.layer_notice_alarm {
	position: absolute;
	left: 0;
	right: 0;
	top: -40px;
	background-color: $bg-lightblue;

	.inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
		padding: 0 108px 0 40px;
	}

	.left {
		display: flex;
		align-items: center;
		color: $black;
		letter-spacing: -.04em;
	}

	.num {
		margin-left: 7px;
		font-size: $font-size-xxs;
		font-weight: 400;
	}

	.lab {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 20px;
		padding: 0 10px;
		border-radius: 10px;
		background-color: $white;
		font-size: 10px;
		font-weight: 400;
		color: $darkgray;
	}

	.date {
		font-size: $font-size-xxs;
	}

	.txt {
		font-size: $font-size-md;

		strong {
			font-weight: 600;
		}
	}

	.btn_md {
		padding: 0 10px;
		font-size: $font-size-sm;
		font-weight: 500;
		color: $black;
		letter-spacing: -.05em;
	}

	&:not(.slick-slider) {
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;

		.item {
			flex: 0 0 auto;
			width: 100%;
			padding: 0 40px;
		}
	}

	&.slick-slider {
		.slick-dots {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 11px;
			right: 13px;

			button {
				position: relative;
				display: block;
				width: 13px;
				height: 13px;
				color: transparent;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 8px;
					height: 8px;
					transform: translate3d(-50%, -50%, 0);
					border-radius: 4px;
					background-color: #bbb;
				}
			}

			.slick-active {
				button {
					width: 20px;

					&:after {
						width: 16px;
						background-color: #000;
					}
				}
			}
		}
	}
}

.bottom_banner_area {
	flex: 0 0 auto;
	overflow: hidden;
	border-radius: 10px;

	.item {
		background-color: #0872b7;
		vertical-align: top;

		a {
			display: block;
			text-align: center;
		}

		img {
			display: inline-block;
			width: 864px;
			vertical-align: top;
		}
	}

	&:not(.slick-slider) {
		display: flex;
		flex-wrap: nowrap;
		overflow: hidden;

		.item {
			flex: 0 0 auto;
			width: 100%;
		}
	}

	&.slick-slider {
		.slick-dots {
			margin-top: -30px;
			margin-bottom: 15px;
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				position: relative;
				display: block;
				width: 15px;
				height: 15px;
				color: transparent;

				&:after {
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					width: 10px;
					height: 10px;
					transform: translate3d(-50%, -50%, 0);
					border-radius: 5px;
					background-color: #eee;
				}
			}

			.slick-active {
				button {
					width: 24px;

					&:after {
						width: 20px;
						background-color: $primary;
					}
				}
			}
		}
	}
}

@for $i from 1 to 5 {
	@include ico2x('notice_alarm#{$i}', 42px, 42px);
}

@for $i from 1 to 3 {
	@include ico2x('new_service#{$i}', 85px, 85px);
}

@for $i from 1 to 14 {
	@include ico2x('old_service#{$i}', 60px, 60px);
}

.menu_list {
	.item {
		border-radius: 10px 10px 10px 40px;
		background-color: $white;

		&.active {
			background-color: #0692ed;

			.inner {
				border: 4px solid #0692ed;
			}
		}
	}

	.inner {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		height: 100%;
		border-radius: 10px 30px 10px 40px;
		background-color: $white;
	}

	.txt {
		font-weight: 500;
		color: $black;
		letter-spacing: -.05em;
	}
}

// 우체국고객 브릿지
@at-root .old_user_menu_area {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	margin: 0 -40px;
	padding: 20px 40px 0;
	overflow-x: auto;

	.menu_list {
		display: grid;
		gap: 20px;
		grid-auto-columns: 220px;
		grid-template-rows: repeat(2, 165px);
		grid-auto-flow: column;

		.item {
			box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, .1);
		}

		.ico {
			margin-top: -13px;
		}

		.txt {
			margin-top: 7px;
			font-size: $font-size-xl;
		}
	}
}

// 처음고객 브릿지
@at-root .new_user_menu_area {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	.menu_list {
		display: flex;
		align-items: center;
		margin-top: -25px;

		.item {
			width: 300px;
			height: 250px;
			margin: 0 20px;
		}

		.inner {
			padding-top: 28px;
		}

		.txt {
			margin-top: 32px;
			font-size: 24px;
		}
	}
}