/* 고객 브릿지 */
.wrapper_bridge_customer {
	$spacing: 40px;
	background: url(#{$url-img-common}/bg_gray_pattern@2x.png);
	background-size: 3px auto;

	#content {
		padding: $spacing;
	}

	.user_bridge_box {
		position: relative;
		height: 100%;
		border-radius: 10px;
		padding: $spacing;

		display: flex;
		flex-direction: column;
	}

	.layer_notice_alarm {
		position: absolute;
		left: 0;
		right: 0;
		top: -1 * $spacing;
		height: 80px;
		padding: 0 $spacing;
		background-color: $bg-lightblue;
	}

	.bottom_banner_area {
		flex: 0 0 auto;
		border-radius: 10px;
		background-color: #0872b7;
	}

	.menu_list {
		.item {
			border-radius: 10px 10px 10px 40px;
			background-color: #fff;
			box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
		}
	}

	// 우체국고객 브릿지
	@at-root .old_user_menu_area {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		margin: 0 -1 * $spacing;
		padding: 20px $spacing;
		overflow-x: auto;

		.menu_list {
			display: grid;
			gap: 20px;
			grid-auto-columns: 220px;
			grid-template-rows: repeat(2, 165px);
			grid-auto-flow: column;
		}
	}

	// 처음고객 브릿지
	@at-root .new_user_menu_area {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;

		.menu_list {
			display: flex;
			align-items: center;

			.item {
				margin: 0 20px;
				width: 300px;
				height: 250px;
			}
		}
	}
}