// 고객센터_고객지원 

//비대면서류제출
li.txt_primary_list {
	color: #FF883A;

	&:before {
		background-color: #FF883A;
	}
}

.popup_body {
	.search_wrap {
		.search_result {
			margin-top: 0px;

			>ul {
				&.result_style1 {
					display: block;

					li {
						margin: 0px;
						padding: 20px 0 20px;
						box-sizing: border-box;
						border-radius: 0px;
						border: 0px;
						border-bottom: 1px solid #ddd;
						background-position: calc(100% - 0px) center;

						a {
							.content {
								display: flex;
								align-items: center;

								.image {
									max-width: 38px;
								}

								.inner {
									dl {
										dt {
											font-size: 16px;
											font-weight: 500;
										}

										dd {
											font-size: 13px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.search_wrap_check {
	.tf_item_body {
		.tit1 {
			align-items: center;
		}

		.tf_search_txt {
			position: relative;
			display: flex;

			.btn_area {
				position: absolute;
				top: 10px;
				display: flex;
				align-items: center;
				flex: 0 0 auto;
				margin-left: 15px;

				.ico_search_gray {
					display: inline-block;
					background-repeat: no-repeat;
					background-position: center center;
					vertical-align: middle;
					text-align: left;
					width: 15px;
					height: 15px;
					line-height: 20px;
					// background: url(../../img/content/ico_search_gray.png) no-repeat;
					background-size: cover;
				}
			}

			.input_area {
				width: 175px;
				height: 35px;
				padding-right: 15px;
				padding-left: 35px;
				padding-top: 5px;
				border: 1px solid #ddd;
				border-radius: 4px;
				background-color: transparent;

				.tf {
					font-size: 14px;
				}
			}
		}
	}
}

//조회내역 
.contract_list {
	.outline_style1 {
		border-top: 1px solid #ddd;

		.contract_item {
			padding: 20px 0px;
			margin: 0;
			border: 0px;
			border-bottom: 1px solid #ddd;
			border-radius: 0px;

			em {
				padding-bottom: 5px;
				font-size: 13px;
			}

			.lilst_name {
				font-size: 16px;
				width: 100%;
			}

			.in_mid_detail {
				.clfx {
					display: block;
					margin-bottom: 5px;
					padding: 0;

					em {
						padding-bottom: 0px;
						font-size: 14px;
						color: #666;
					}

					strong {
						font-size: 14px;
						color: #111;
						text-align: right;
					}
				}
			}
		}
	}
}

.modal_popup {
	.check_type1 {
		border: none;
		padding-top: 0px;
		padding-bottom: 0px;

		.input_area {
			padding-top: 0px;

			.input_items {
				flex-wrap: wrap;

				.check_item {
					flex: 1 1 30%;
					padding-bottom: 5px;
				}
			}
		}
	}
}