// 고객센터_고객지원 

//비대면서류제출
li.txt_primary_list {
	color: #FF883A;

	&:before {
		background-color: #FF883A;
	}
}

.popup_body {
	.search_wrap {
		.search_result {
			margin-top: 0px;

			>ul {
				&.result_style1 {
					display: block;

					li {
						margin: 0px;
						padding: 20px 0 20px;
						box-sizing: border-box;
						border-radius: 0px;
						border: 0px;
						border-bottom: 1px solid #ddd;
						background-position: calc(100% - 0px) center;

						a {
							.content {
								display: flex;
								align-items: center;

								.image {
									max-width: 38px;
								}

								.inner {
									dl {
										dt {
											font-size: 16px;
											font-weight: 500;
										}

										dd {
											font-size: 13px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.search_wrap_check {
	.tf_item_body {
		.tit1 {
			align-items: center;
		}

		.tf_search_txt {
			position: relative;
			display: flex;

			.btn_area {
				position: absolute;
				top: 10px;
				display: flex;
				align-items: center;
				flex: 0 0 auto;
				margin-left: 15px;

				.ico_search_gray {
					display: inline-block;
					background-repeat: no-repeat;
					background-position: center center;
					vertical-align: middle;
					text-align: left;
					width: 15px;
					height: 15px;
					line-height: 20px;
					// background: url(../../img/content/ico_search_gray.png) no-repeat;
					background-size: cover;
				}
			}

			.input_area {
				width: 175px;
				height: 35px;
				padding-right: 15px;
				padding-left: 35px;
				padding-top: 5px;
				border: 1px solid #ddd;
				border-radius: 4px;
				background-color: transparent;

				.tf {
					font-size: 14px;
				}
			}
		}
	}
}

//조회내역 
.contract_list {
	.outline_style1 {
		border-top: 1px solid #ddd;

		.contract_item {
			padding: 20px 0px;
			margin: 0;
			border: 0px;
			border-bottom: 1px solid #ddd;
			border-radius: 0px;

			em {
				padding-bottom: 5px;
				font-size: 13px;
			}

			.lilst_name {
				font-size: 16px;
				width: 100%;
			}

			.in_mid_detail {
				.clfx {
					display: block;
					margin-bottom: 5px;
					padding: 0;

					em {
						padding-bottom: 0px;
						font-size: 14px;
						color: #666;
					}

					strong {
						font-size: 14px;
						color: #111;
						text-align: right;
					}
				}
			}
		}
	}
}

.modal_popup {
	.check_type1 {
		border: none;
		padding-top: 0px;
		padding-bottom: 0px;

		.input_area {
			padding-top: 0px;

			.input_items {
				flex-wrap: wrap;

				.check_item {
					flex: 1 1 30%;
					padding-bottom: 5px;
				}
			}
		}
	}
}

//서식약관
.tf_search {
	padding-left: 45px;
	margin-bottom: 45px;
	background: url(#{$url-img}/content/ico_search_sm.png) 20px center no-repeat;
	background-size: 15px 15px;

	.tf_item_body {
		min-height: 20px;

		.input_area {
			padding-top: 0;

			.lab {
				display: none;
			}

			.tf {
				color: $gray;
				font-weight: 200;
			}
		}
	}
}

.list_date_type {
	margin-top: 0;

	li {
		.btn {
			padding: 15px 0 17px;
			background: url(#{$url-img}/content/ico_chevron_right_gray_md.png) right center no-repeat;
			background-size: 5px 10px;

			.issuance_txt {
				strong {
					font-size: 16px;

					+p {
						margin-top: 7px;
						font-size: 12px;
						font-weight: 200;
						color: #111;
					}
				}
			}
		}
	}
}

.accordion_list {
	margin-top: 20px;

	dl {
		dt {
			position: relative;

			.acc_tit {
				width: 100%;
				padding: 15px 20px 15px 0;
				border-bottom: 1px solid $border-base;
				font-size: $font-size-lg;
				text-align: left;
			}

			.btn {
				position: absolute;
				top: 50%;
				right: 0;
				width: 22px;
				height: 22px;
				border-radius: 5px;
				border: 1px solid $border-base;
				text-align: center;
				transform: translateY(-50%);

				.ico {
					margin: 0;
					display: inline-block;
					width: 10px;
					height: 6px;
					background: url(#{$url-img-common}/ico_chevron_down_sm.png) 0 0 no-repeat;
					background-size: 10px 6px;
				}
			}

			&.on {
				.acc_tit {
					border-bottom: 0;
				}

				.ico {
					transform: rotate(180deg);
				}
			}
		}

		dd {
			display: none;
			padding-bottom: 15px;
			border-bottom: 1px solid $border-base;

			.block {
				display: block;
			}
		}
	}
}

.inner_list {
	padding-left: 15px;

	li {
		font-size: 13px;

		+li {
			margin-top: 0;
		}
	}
}

.tab_menu2 {
	.tab_list2 {
		li {
			span {
				height: 70px;
				padding: 0 10px;
				white-space: normal;
				font-size: 13px;
			}
		}
	}
}