.service_wrap {
	.inner {
		.service_item {
			border-width: 1px;
			border-style: solid;
			border-color: transparent;

			.product_selected {
				display: none;
			}

			&.on {
				box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
				border-color: $border-base;

				.product_selected {
					display: block;
				}
			}
		}
	}
}