.btn_transfer {
	top: 0 !important;
	left: -62px;
	right: auto;

	&.transfer1 {
		background-image: url(/resources/img/content/btn_transfer_sm.png)
	}
}

.box_confirm {
	.scroll_y {
		height: 115px;

		.transfer_list {
			>li {
				display: block;
			}
		}
	}
}

.confirm_box .btn_transfer {
	top: 18px !important
}

.account_menu_wrap {
	.account_menu {
		z-index: 10
	}
}

// 통합검색 팝업 수정
.search_word_list {
	&.v2 {
		border-top: 0;
		padding-top: 0;
		background: #fff;

		.search_word {
			width: 100%;
			float: none;
			overflow: hidden;

			>dl {
				margin-bottom: -8px;
				text-align: center;
				overflow: hidden;

				>dt,
				dd {
					display: inline-block;
					margin-right: 2px;
					margin-bottom: 8px;
				}

				>dt {
					margin-right: 12px;
					font-weight: 500;
					font-size: 16px;
				}

				>dd {
					border-radius: 20px;
					border: 1px solid #d9d9d9;
					padding: 0 10px 2px;
					font-size: 14px;
				}
			}
		}
	}
}

// 통합검색 추천검색 수정
.search_word {
	>.recommend_word {
		margin-bottom: -8px;

		>dt,
		dd {
			display: inline-block;
			margin-bottom: 8px;
		}

		>dt {
			margin-right: 12px;
			font-weight: 400;
			font-size: 16px;
		}

		>dd {
			margin-right: 2px;

			>a {
				display: block;
				padding: 0 13px 2px;
				border-radius: 20px;
				border: 1px solid #d9d9d9;
				background: #fff;
				font-size: 14px;
				line-height: 30px;
				color: #333;
			}
		}
	}
}

// tab_menu_type1 col6 추가
.tab_menu_type1 {
	&.tab06 {
		>ul {
			display: block;
			border-radius: 6px;
			margin-top: -1px;
			font-size: 0;
			overflow: hidden;

			>li {
				width: calc(100% / 6);
				margin-top: 1px;
				float: left;
				flex: none;

				>a {
					border-radius: 0
				}

				&:nth-child(6n)>a {
					&:after {
						display: none
					}
				}

				&:last-child>a {
					border-radius: 0 0 6px 0
				}
			}
		}
	}
}

// 간편조회 팝업 탭메뉴 간격 수정
.tab_menu_type3 {
	&.stretch {
		>ul {

			>li {
				flex: auto;

				>a {
					padding: 0 25px;
					text-align: center;
					white-space: nowrap;
				}
			}
		}
	}
}

// .check_list_box table fixed 적용
.check_list_box {
	&.tbl_fixed {
		table-layout: fixed;
	}
}

// box img intro 추가
.box {
	&.img_guide {
		>.inner {
			padding-left: 245px;
		}
	}
}

.simple_inquiry_temp {
	.img_guide {
		background: url(/resources/img/content/bg_box_simple_inquiry.png) no-repeat 30px center
	}

	.tab_menu {
		padding-top: 20px;
		overflow: hidden;

		>li {
			position: relative;
			width: calc(100% / 6);
			float: left;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				display: block;
				width: 1px;
				height: 110px;
				background: #f3f3f2;
			}

			&:last-child:after {
				display: none;
			}

			>a {
				display: block;
				padding-top: 138px;
				background-repeat: no-repeat !important;
				background-position: center 0;
				background-size: auto;
				text-align: center;
				font-weight: 400;
			}

			&:nth-child(1)>a {
				background-image: url(/resources/img/content/ico_simple_inquiry_tab01.png);
			}

			&:nth-child(2)>a {
				background-image: url(/resources/img/content/ico_simple_inquiry_tab02.png);
			}

			&:nth-child(3)>a {
				background-image: url(/resources/img/content/ico_simple_inquiry_tab03.png);
			}

			&:nth-child(4)>a {
				background-image: url(/resources/img/content/ico_simple_inquiry_tab04.png);
			}

			&:nth-child(5)>a {
				background-image: url(/resources/img/content/ico_simple_inquiry_tab05.png);
			}

			&:nth-child(6)>a {
				background-image: url(/resources/img/content/ico_simple_inquiry_tab06.png);
			}
		}
	}
}

// vul_tit
.bul_tit {
	margin-bottom: 15px;
	font-weight: 400;
	font-size: 16px;

	.bul_step {

		&.step1,
		&.step2 {
			position: relative;
			border-radius: 50%;
			display: inline-block;
			margin-right: 15px;
			min-width: 40px;
			height: 40px;
			padding: 7px;
			background: #fdc61c;
			text-align: center;
			font-weight: 500;
			font-size: 14px;
			color: #333;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				display: block;
				width: 10px;
				height: 10px;
				background: #fdc61c;
				transform: rotate(45deg) translateY(-50%);
			}
		}

		&.step2 {
			border-radius: 20px;
			padding: 7px 8px 7px 11px;

			& span {
				display: inline-block;
				border-radius: 50%;
				min-width: 25px;
				height: 25px;
				margin-left: 3px;
				text-align: center;
				background: #fff;
			}
		}
	}

}