.bg_txt.utility_bg05 {
	background-image: url(/resources/img/content/utility_bg05.png);
}

.financial_certificate_area {
	padding-top: 50px;

	.waiting_msg_box {
		padding-top: 100px;
		background: url(/resources/img/content/img_financial_certificate.png) no-repeat top 0 left 50%/85px;
		font-size: 20px;

	}

	.bullet_box {
		border-radius: 8px;
		padding: 25px 20px;
		background: rgba(253, 198, 28, .2);

		&>li {
			padding: 10px 0 11px 65px;
			background-repeat: no-repeat;
			background-position: center left 0;
			background-size: 50px;
		}

		&>li:nth-child(1) {
			background-image: url(/resources/img/content/ico_cloud.png);
		}

		&>li:nth-child(2) {
			background-image: url(/resources/img/content/ico_pinnumber.png);
		}

		&>li:nth-child(3) {
			background-image: url(/resources/img/content/ico_periodcart.png);
		}
	}
}