.btn_transfer {
	top: 0 !important;
	left: -62px;
	right: auto;

	&.transfer1 {
		background-image: url(/resources/img/content/btn_transfer_sm.png)
	}
}

.box_confirm {
	.scroll_y {
		height: 115px;

		.transfer_list {
			>li {
				display: block;
			}
		}
	}
}

.confirm_box .btn_transfer {
	top: 18px !important
}

.account_menu_wrap {
	.account_menu {
		z-index: 10
	}
}

// 통합검색 팝업 수정
.search_word_list {
	&.v2 {
		border-top: 0;
		padding-top: 0;
		background: #fff;

		.search_word {
			width: 100%;
			float: none;
			overflow: hidden;

			>dl {
				margin-bottom: -8px;
				text-align: center;
				overflow: hidden;

				>dt,
				dd {
					display: inline-block;
					margin-right: 2px;
					margin-bottom: 8px;
				}

				>dt {
					margin-right: 12px;
					font-weight: 500;
					font-size: 16px;
				}

				>dd {
					border-radius: 20px;
					border: 1px solid #d9d9d9;
					padding: 0 10px 2px;
					font-size: 14px;
				}
			}
		}
	}
}

// 통합검색 추천검색 수정
.search_word {
	>.recommend_word {
		margin-bottom: -8px;

		>dt,
		dd {
			display: inline-block;
			margin-bottom: 8px;
		}

		>dt {
			margin-right: 12px;
			font-weight: 400;
			font-size: 16px;
		}

		>dd {
			margin-right: 2px;

			>a {
				display: block;
				padding: 0 13px 2px;
				border-radius: 20px;
				border: 1px solid #d9d9d9;
				background: #fff;
				font-size: 14px;
				line-height: 30px;
				color: #333;
			}
		}
	}
}

// tab_menu_type1 col6 추가
.tab_menu_type1 {
	&.col6 {
		>ul {
			display: block;
			margin-top: -1px;
			font-size: 0;
			overflow: hidden;

			>li {
				width: calc(100% / 6);
				margin-top: 1px;
				float: left;
				flex: none;

				&:nth-child(6n)>a,
				&:nth-child(6n)>a:hover,
				&:nth-child(6n)>a.current {
					border-radius: 0 6px 6px 0;
				}

				&:nth-child(6n+1)>a,
				&:nth-child(6n+1)>a:hover,
				&:nth-child(6n+1)>a.current {
					border-radius: 6px 0 0 6px;
				}

				&:last-child>a {
					border-radius: 0 6px 6px 0 !important;
				}
			}
		}
	}
}