/* 다국어 메인 */
.header_main_en {
	.header_top {
		.logo {
			a {
				display: inline-block;
			}

			strong {
				display: inline-block;
				margin-left: -10px;
				font-size: 22px;
				font-weight: 700;
			}
		}

		.util_menu {
			justify-content: flex-end;

			.box_user_login {
				display: inline-block;
			}

			.global-list {
				align-items: center;
			}
		}
	}
}

.footer_en {
	.container {
		padding-top: 32px;
	}

	.footer_cont {
		ul {
			li {
				margin-bottom: 0px;

				strong {
					display: inline-block;
					font-weight: 500;
					width: 73px;
					color: #333;
					margin-right: 20px;

					&.h_line {
						margin-left: 26px;
						margin-right: 7px;
					}
				}

				span {
					display: inline-block;
					width: 48px;
					font-weight: 500;
				}

				.h_line {
					margin-right: 10px;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						width: 1px;
						height: 12px;
						background-color: #ddd;
						transform: translateY(-50%);
					}
				}

				&:last-child {
					padding-top: 0;
				}
			}
		}
	}
}