//
// 공통 메인에서 스타일 상속, 다른 부분만 커스터마이징
//

/* 영문 메인 */
.wrapper_en {
	.main_cont {
		.welcome_info {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 15px;
			line-height: 20px;
			margin-bottom: 20px;

			&.after_login {
				font-size: 12px;

				.name {
					font-size: 15px;
				}

				.last_access {
					padding-right: 5px;
				}
			}
		}

		.quick_menu_area {
			margin-top: 15px;
			position: relative;

			ul {
				display: flex;
				text-align: center;
				font-size: 13px;
				line-height: 17px;
				padding: 0 10px;
				color: #333;

				li {
					flex: 1 1 auto;
				}

				a {
					display: block;
					padding: 15px 0 20px;
					font-size: 14px;
					font-weight: 500;
					font-weight: normal;
					padding: 15px 0;
					letter-spacing: -1px;
				}

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 45px;
					height: 45px;
					margin: 0 auto 10px;
					border-radius: 50%;
					background-color: #fff;

					img {
						width: 40px;
						height: 40px;
					}
				}
			}
		}

		.remittance_rate {
			padding: 20px;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.1);
		}

		.exchange_rates {
			margin-top: 25px;
		}
	}
}

//상세 커스트마이징

.wrapper_en {
	.main_cont {
		.acc_info_area {
			&.acc_info_area_en_home {
				padding-top: 15px;
				margin-bottom: 0px;

				.welcome_info {
					&.after_login {
						margin-bottom: 15px;

						.welcome {
							.ico {
								&.ico_mailbox_md {
									margin-top: -6px;
								}
							}

							.name {
								line-height: 27px;
							}
						}
					}
				}

				.acc_box {
					.acc_box_header {
						&.just_right {
							justify-content: flex-end;
						}

						.toolbar {
							.check_switch {
								&.check_quick_transfer {
									input {
										&:checked+label {
											padding: 0 20px 1px 4px;
										}
									}

									label {
										padding: 0 4px 1px 20px;
										width: 53px;
									}
								}
							}

							.submenu {
								margin-left: 2px;
							}
						}
					}

					.acc_box_body {
						padding: 10px 0px 11px;

						.inner {
							.ico {
								&.ico_before_login {
									background: url(/resources/img/content/ico_before_login.png)no-repeat center center;
									background-size: 29px 32px;
									display: block;
									width: 29px;
									height: 32px;
									margin: 0 auto;
									margin-top: -50px;
									margin-bottom: 10px;

									&+strong {
										font-size: 14px;
										font-weight: 200;
										line-height: 13px;
									}
								}
							}
						}
					}

					.acc_box_footer {
						.btn_area {
							.btn {
								&+.btn:before {
									background-color: rgba(255, 255, 255, 0.6);
									top: 55%;
								}
							}
						}
					}
				}
			}
		}

		.quick_menu_area {
			margin-top: 10px;
			padding: 0 10px;

			ul {
				li {
					flex: 1 1 33.3%;

					a {
						padding: 17px 0;

						.icon {
							margin: 0 auto 7px;

							.ico {
								width: 45px;
								height: 45px;
								display: block;

								&.ico_money_gram {
									background: url(/resources/img/content/ico_money_gram.png)no-repeat center center;
									background-size: 31px 25px;
								}

								&.ico_swift_remittance {
									background: url(/resources/img/content/ico_swift_remittance.png)no-repeat center center;
									background-size: 32px 28px;
								}

								&.ico_exchange_request {
									background: url(/resources/img/content/ico_exchange_request.png)no-repeat center center;
									background-size: 32px 24px;
								}

								&.ico_send_money {
									background: url(/resources/img/content/ico_send_money.png)no-repeat center center;
									background-size: 24px 31px;
								}

								&.ico_view {
									background: url(/resources/img/content/ico_view.png)no-repeat center center;
									background-size: 25px 25px;
								}
							}

							&+span {
								line-height: 20px;
							}
						}

					}
				}
			}
		}

		.remittance_rate {
			padding: 18px;

			h3 {
				font-size: 15px;
				color: $darkgray;
			}

			.remittance_inner {
				display: flex;
				margin-top: 15px;

				dl {
					flex: 1 1 33.3%;
					text-align: center;
					position: relative;

					dt {
						font-size: 13px;
						font-weight: 200;
						padding-bottom: 7px;

						span {
							font-size: 14px;
							font-weight: 400;
							display: block;
							line-height: 19px;
						}
					}

					dd {
						font-size: 15px;
						font-weight: 500;
					}

					&:after {
						content: '';
						width: 1px;
						height: 61.5px;
						background-color: #d6d6d6;
						display: inline-block;
						position: absolute;
						top: 4px;
						right: 0;
					}

					&:last-child {
						&:after {
							content: none;
						}
					}
				}
			}
		}

		.btn {
			&.btn_more {
				// 			width: 115px;
				// height: 50px;
				display: block;
				border: 1px solid #bbb;
				border-radius: 12.5px;
				font-size: 12px;
				font-weight: 400;
				color: #555;
				line-height: 22px;
				padding: 0px 17px 0px 10px;
				background: url(/resources/img/content/ico_arr_more.png)no-repeat 85% 50%;
				background-size: 5px 9px;
			}
		}
	}
}

//외환
.wrapper_en {
	.bg {
		&.bg_exchange {
			height: 585px;
		}
	}

	.foreign_exchange_area {
		background: url(/resources/img/content/bg_foreign_exchange.png)no-repeat top center;
		background-size: cover;
		margin: 0px -20px;
		padding: 20px;
		height: 370px;

		p {
			font-size: 14px;
			line-height: 22px;
			color: #fff;
			text-align: center;
			margin-bottom: 23px;
		}

		.currency_area {
			display: flex;
			flex-direction: column;
			color: #fff;
			font-size: 16px;
			font-weight: bold;
			padding: 0 7px;

			.currency_header {
				display: flex;

				strong {
					line-height: 32px;
					margin-right: 9px;
				}

				.selectbox_area {
					width: calc(100% - 81px);
					height: 35px;
					padding: 6px 20px 0 15px;
					border: 1px solid #ddd;
					border-radius: 4px;


					.opt {
						max-width: 100%;
						line-height: 1;
						padding-right: 25px;
						color: #fff;

						&.opt_white {
							background: url(/resources/img/content/ico_arr_white.png) no-repeat right center;
							background-size: 10px auto;
							line-height: 1;
							font-size: 14px;
						}
					}
				}
			}
		}

		.currency_body {
			padding: 30px 0 24px;
			text-align: center;

			.inner {
				.balance_area {
					font-size: 28px;
					line-height: 24px;
					color: #fff;
					font-weight: bold;
					padding-bottom: 17px;

					strong {
						span {
							font-size: 18px;
							line-height: 24px;
							font-weight: 400;
							margin-right: 8px;
						}
					}
				}

				.Remit_area {
					font-size: 14px;
					font-weight: 200;
				}
			}
		}

		.currency_footer {
			margin: 0 -10px;

			.btn_area {
				.btn {
					height: 28px;
					border-radius: 14px;
					filter: drop-shadow(0px 2px 4.25px rgba(0, 0, 0, 0.25));
					background-image: linear-gradient(0deg, #d7d7d7 0%, #fff 100%);
					border: 1px solid #ddd;
					font-size: 12px;
					color: #111;
					text-align: center;
					font-weight: 400;
					padding: 0px 19px;
				}
			}
		}
	}

	.btn_area {
		&.btn_line {
			.btn {
				height: 24px;
				font-size: 13px;
				line-height: 20px;
				color: #333;
				font-weight: 300;
				padding: 0;

				&:after {
					content: '';
					width: 100%;
					height: 1px;
					background-color: #333;
					display: block;
					position: absolute;
					bottom: 0;
				}
			}
		}
	}
}