/* 다국어 메인 */
.header_main_en {
	.header_top {
		.logo {
			a {
				display: inline-block;
			}

			strong {
				display: inline-block;
				margin-left: -10px;
				font-size: 22px;
				font-weight: 700;
			}
		}

		.util_menu {
			justify-content: flex-end;

			.box_user_login {
				display: inline-block;
			}

			.global-list {
				align-items: center;
			}
		}
	}
}

.footer_en {
	.container {
		padding-top: 32px;
	}

	.footer_cont {
		ul {
			li {
				margin-bottom: 0px;

				strong {
					display: inline-block;
					font-weight: 500;
					width: 73px;
					color: #333;
					margin-right: 20px;

					&.h_line {
						margin-left: 26px;
						margin-right: 7px;
					}
				}

				span {
					display: inline-block;
					width: 48px;
					font-weight: 500;
				}

				.h_line {
					margin-right: 10px;
					position: relative;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						width: 1px;
						height: 12px;
						background-color: #ddd;
						transform: translateY(-50%);
					}
				}

				&:last-child {
					padding-top: 0;
				}
			}
		}
	}
}

.wrapper_en {
	.sec_dep_list {
		margin-top: 170px;
		padding-bottom: 60px;

		.sub_tit {
			margin-bottom: 23px;
		}
	}

	.deal_list {
		.sub_tit {
			display: inline-block;
		}

		.date {
			display: inline-block;
			margin-left: 15px;
			font-size: 16px;
			color: $gray;
		}

		.btn_more_sm {
			margin-top: 5px;
			font-size: 14px;
			color: $gray;
		}
	}
}

.sub_en_info {
	position: relative;
	height: 698px;
	background-image: url(#{$url-img}/main/bg_en_visual01.jpg);
	background-position: center 134px;

	.visual_top {
		.slogan {
			margin-top: 78px;
			margin-bottom: 80px;

			.sup {
				display: block;
				font-size: 22px;
				font-style: normal;
			}

			strong {
				display: block;
				font-size: 50px;
				color: $black;

				.txt_lightblue {
					color: #3a82ca;
				}
			}
		}

		.info_box_list {
			top: 403px;

			.check_quick_transfer {
				margin-top: -5px;

				input {
					&:checked {
						+label {
							padding-left: 10px;
							padding-right: 30px;

							&:after {
								left: calc(100% - 22px);
							}
						}
					}
				}

				label {
					height: 24px;
					font-size: 14px;
					padding-right: 10px;
					padding-left: 30px;

					&:after {
						top: 2px;
					}
				}
			}
		}
	}

	&.n_login {
		height: 672px;
		background-image: url(#{$url-img}/main/bg_en_visual02.jpg);

		.visual_top {
			.slogan {
				margin-top: 108px;
				margin-bottom: 80px;

				.sup {
					display: block;
					margin-bottom: 27px;
					font-size: 24px;
					font-style: normal;
				}

				strong {
					display: block;
					font-size: 62px;
					color: $black;
					line-height: 76px;

					.txt_lightblue {
						display: block;
						color: #3a82ca;
					}
				}
			}
		}

		+.sec_dep_list {
			margin-top: 50px;
		}
	}
}

.box_row_list {
	margin: -10px;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		float: left;
		width: calc(50% - 20px);
		margin: 10px;

		.item {
			display: block;
			text-align: center;
			padding: 30px 30px 22px 30px;

			.box {
				display: inline-flex;
				width: 90px;
				height: 90px;
				padding: 0;
				border-radius: 45px;
				border: 0;
				align-items: center;
				justify-content: center;
			}

			strong {
				display: block;
				margin-top: 13px;
				font-size: 18px;
				color: $darkgray;
			}
		}
	}
}

.tbl_en_data {
	table {
		border-top-color: transparent;

		thead {
			tr {
				th {
					border-right-color: transparent !important;
					border-bottom-color: #000;
					background: #fff;
				}
			}
		}

		tbody {
			tr {
				th {
					.img {
						display: inline-block;
						width: 34px;
						height: 34px;
						margin-right: 10px;
						border-radius: 50%;
						overflow: hidden;
						vertical-align: middle;
						//border: 1px solid #eee;
					}

					padding: 11px 20px 10px;
					border-right-color: transparent !important;
					border-bottom:1px solid #eee;
				}

				td {
					padding: 11px 20px 10px;
					border-right-color: transparent !important;
				}

				&:last-child {

					td,
					th {
						border-bottom: 1px solid #000;
					}
				}
			}
		}
	}
}

.sec_banner {
	padding: 45px 0 60px;

	.content_row {
		display: flex;

		>div {
			flex: 1 1 50%;
		}

		.contact_list {
			padding-top: 30px;

			li {
				font-size: 30px;
				font-weight: 500;
				line-height: 1.5;

				strong {
					display: inline-block;
					width: 120px;
					font-size: 18px;
				}

				span {
					position: relative;

					&:not(:first-of-type) {
						padding-left: 25px;
						margin-left: 25px;

						&:before {
							content: '';
							position: absolute;
							top: 50%;
							left: 0;

							width: 1px;
							height: 20px;
							background-color: #ccc;
							transform: translateY(-50%);
						}
					}
				}
			}
		}

		.banner_area {
			padding-top: 15px;
			padding-left: 20px;

			.service_banner {
				display: block;
				width: 570px;
				height: 175px;
				padding: 40px 80px 0 217px;
				background:url(#{$url-img}/main/bg_banner_download.jpg);
				background-size: cover;
				color: #fff;

				.sub_tit {
					color: #fff;
				}

				p {
					margin-top: 5px;
					font-size: 16px;
					line-height: 24px;
				}
			}
		}
	}
}