//폰트
.txt_black {
	color: #000 !important;
}

.txt_xl_ex {
	font-size: 32px !important;
}

//플렉스
.fx_align_start {
	align-self: flex-start;
}

//etc
.score_dual {
	padding-left: 4px;

	font-size: 0;

	>i {
		display: inline-block;

		width: 19px;
		height: 18px;

		vertical-align: top;
		text-indent: -9999px;
		font-size: 0;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
		background-image: url(#{$url-img}/content/ico_score_dual.png);

		&+i {
			margin-left: 10px;
		}

		&.on {
			background-image: url(#{$url-img}/content/ico_score_dual_on.png);
		}
	}
}

.product_price {
	>ul {
		&.narrow {
			>li {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.inline_list {
	&.list2 {
		&.dot_gray {
			>li {
				>span:not(:first-child) {
					&::before {
						background: #555;
					}
				}
			}
		}
	}
}