//아이콘
@include ico('pd_search', 48px, 48px, '#{$url-img}/content');
@include ico('pd_search_sm', 32px, 32px, '#{$url-img}/content');
@include ico('pd_analysis', 63px, 49px, '#{$url-img}/content');
@include ico('pd_analysis_sm', 44px, 35px, '#{$url-img}/content');
@include ico('pd_advisor', 58px, 47px, '#{$url-img}/content');
@include ico('pd_advisor_sm', 38px, 31px, '#{$url-img}/content');
@include ico('fund_search', 39px, 28px, '#{$url-img}/content');
@include ico('invest_analysis', 31px, 37px, '#{$url-img}/content');
@include ico('invest_calculator', 41px, 40px, '#{$url-img}/content');
@include ico('tab01_on', 38px, 19px);

//폰트
.txt_black {
	color: #000 !important;
}

.txt_darkgray {
	color: #333 !important;
}

.txt_lg_ex {
	font-size: 22px !important;
}

.txt_xl_ex {
	font-size: 30px !important;
}

.txt_lh_md {
	line-height: 1.5 !important;
}

//플렉스
.fx_align_start {
	align-self: flex-start !important;
}

.fx_align_end {
	align-self: flex-end !important;
}

.fx_justify_center {
	justify-content: center !important;
}

.fx_justify_start {
	justify-content: flex-start !important;
}

.fx_justify_end {
	justify-content: flex-end !important;
}

//버튼
.btn {
	&.btn_xl {
		&.btn_arr {
			background-image: url(#{$url-img-common}/ico_arr_right.png);
			background-position: right 19px center;
			background-size: 10px 19px;
			background-repeat: no-repeat;

			padding: 0 77px;
		}
	}
}

//탭메뉴
.tab_menu_pd {
	>ul {
		display: flex;

		>li {
			position: relative;
			flex: 1 1 0;

			border-radius: 6px;
			border: 1px solid $border-base;

			box-shadow: -3px 3.5px 4px rgba(0, 0, 0, 0.05);

			&+li {
				margin-left: 15px;
			}

			>a {
				display: inline-flex;
				align-items: center;
				width: 100%;
				height: 103px;

				padding: 20px 30px 20px 20px;

				background-repeat: no-repeat;
				background-position: right 20px center;
				background-size: 10px 19px;
				background-image: url(#{$url-img-common}/ico_arr_right.png);

				>i {
					width: 66px !important;

					&.ico_sm {
						width: 44px !important;
					}
				}

				>div {
					display: flex;
					height: 58px;
					margin-left: 8px;

					flex-direction: column;
					justify-content: flex-end;

					line-height: 1;
					letter-spacing: -0.5px;

					>strong {
						display: block;

						line-height: 26px;
						font-size: 20px;
						font-weight: 400;
					}

					>span {
						display: inline-flex;
						position: relative;
						height: 28px;

						align-items: center;

						font-weight: 200;
						color: #555;
					}

					&.result {
						flex: 1 1 auto;
						flex-direction: row;
						align-items: center;
						margin-left: 3px;

						>strong {
							display: inline-flex;
							justify-self: flex-start;
							width: auto;
							font-size: 18px;
						}

						>span {
							display: inline-flex;
							width: auto;
							margin: 0 auto;
							height: 26px;
							justify-content: center;

							position: relative;

							font-size: 18px;
							color: #111;
							line-height: 26px;

							&::before {
								content: "";
								position: absolute;

								width: 100%;
								height: 1px;

								background-color: #111;

								left: 0;
								bottom: -1px;
							}
						}
					}
				}
			}

			&.current {
				border-color: $primary;
				border-top-right-radius: 0;

				>a {
					background-position: right top;
					background-size: 63px 25px;
					background-image: url(#{$url-img}/content/bg_tabmenu_pd_current.png);
				}
			}

			&.clear {
				>a {
					background-image: none;
				}
			}
		}
	}
}

//버튼
.btn {
	&.btn_round {
		border-radius: 42px;
	}

	&.btn_darkgray {
		background-color: #666;
		color: #fff;
	}
}

//박스
.box {
	&.box_hd_shadow {
		border-color: #555;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

		text-align: center;
	}
}

//etc
.score_dual {
	padding-left: 4px;

	font-size: 0;

	>i {
		display: inline-block;

		width: 19px;
		height: 18px;

		vertical-align: top;
		text-indent: -9999px;
		font-size: 0;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: 0 0;
		background-image: url(#{$url-img}/content/ico_score_dual.png);

		&+i {
			margin-left: 10px;
		}

		&.on {
			background-image: url(#{$url-img}/content/ico_score_dual_on.png);
		}
	}
}

.product_price {
	>ul {
		&.narrow {
			>li {
				padding-left: 15px;
				padding-right: 15px;
			}
		}
	}
}

.inline_list {
	&.pd_list2 {
		&.dot_gray {
			>li {
				>span:not(:first-child) {
					&::before {
						background: #555;
					}
				}
			}
		}
	}
}

.search_step {
	>li {
		&+li {
			margin-top: 80px;
		}

		.step_tit {
			display: flex;
			align-items: center;
			font-weight: normal;
			color: #333;

			align-items: baseline;

			vertical-align: bottom;

			>strong {
				position: relative;
				display: inline-flex;
				width: 80px;
				height: 35px;
				margin-right: 10px;

				border-radius: 35px;
				background-color: #555;

				line-height: 1;
				color: #fff;

				flex: 0 0 auto;
				justify-content: center;
				align-items: center;

				&::before {
					content: "";

					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-left: 6px solid #555;

					position: absolute;
					right: -4px;
					top: 50%;

					transform: translateY(-50%);
				}
			}

			&.circle {
				>strong {
					width: 35px;
					height: 35px;

					border-radius: 100%;
				}
			}
		}

		.check_item {
			display: inline-flex;
			margin-left: 0;

			input[type=checkbox] {
				&+label {
					background-position-y: 2px;

					color: #666 !important;
				}

				&:checked {
					&+label {
						color: #111 !important;
					}
				}
			}

			&:not(.clear) {
				input[type=radio] {
					&+label {
						padding: 40px 0 0 0;
						background-image: url(#{$url-img}/content/ico_radio_lightgray.png);
						background-position: center 0;

						color: #666 !important;
					}

					&:checked {
						&+label {
							background-image: url(#{$url-img-common}/ico_check_primary.png);

							color: #111 !important;
						}
					}
				}
			}

			&.clear {
				input[type=radio] {
					&+label {
						background-image: url(#{$url-img-common}/ico_checkbox2_default.png);
						background-position-y: 2px;

						color: #666 !important;
					}

					&:checked {
						&+label {
							background-image: url(#{$url-img-common}/ico_checkbox2_checked.png);
							color: #111 !important;
						}
					}
				}
			}
		}

		.income_type {
			display: flex;

			flex: 1;

			text-align: center;

			>li {
				width: 100%;
				border-radius: 8px;
				padding: 94px 10px 19px;

				background-position-x: center;
				background-repeat: no-repeat;
				background-color: #f8f8f8;

				justify-content: center;
				align-items: center;

				&+li {
					margin-left: 8px;
				}

				&:nth-child(1) {
					background-image: url(#{$url-img}/content/ico_income_type01.png);
					background-position-y: 18px;
				}

				&:nth-child(2) {
					background-image: url(#{$url-img}/content/ico_income_type02.png);
					background-position-y: 15px;
				}

				&:nth-child(3) {
					background-image: url(#{$url-img}/content/ico_income_type03.png);
					background-position-y: 17px;
				}

				.check_item {
					display: inline-flex;

					height: 100%;
					line-height: 18px;

				}
			}
		}

		.invest_type {
			display: flex;
			position: relative;
			width: 100%;
			height: 350px;
			padding: 0 27px;

			align-items: flex-end;


			.check_item {
				width: 100%;

				justify-content: center;

				input[type=radio] {
					&+label {
						width: 100%;
						height: 100%;
						padding-top: 24px;
					}

					&~.bg {
						display: none;
					}
				}

				input[type=radio]:checked {
					&~.bg {
						display: block;
						position: absolute;
						z-index: 30;
						width: calc(500% + 54px);
						height: 325px;

						bottom: 30px;

						background-repeat: no-repeat;
						background-size: contain;
						background-position: 0 bottom;

					}
				}

				.bg01 {
					background-image: url(#{$url-img}/content/bg_invest_type01.jpg);
					left: -24px;
				}

				.bg02 {
					background-image: url(#{$url-img}/content/bg_invest_type02.jpg);
					left: calc(-100% - 24px);
				}

				.bg03 {
					background-image: url(#{$url-img}/content/bg_invest_type03.jpg);
					left: calc(-200% - 24px);
				}

				.bg04 {
					background-image: url(#{$url-img}/content/bg_invest_type04.jpg);
					left: calc(-300% - 24px);
				}

				.bg05 {
					background-image: url(#{$url-img}/content/bg_invest_type05.jpg);
					left: calc(-400% - 24px);
				}
			}
		}
	}
}

.check_item_bar {
	display: flex;

	flex: 1;

	.check_item {
		width: 100%;

		justify-content: center;

		position: relative;
		z-index: 20;

		&+.check_item {
			&::before {
				content: "";
				width: calc(100% - 24px);
				height: 1px;
				background-color: #ddd;

				position: absolute;
				right: calc(50% + 12px);
				top: 12px;
				z-index: 10;
			}
		}
	}
}

.check_item_bar02 {
	display: flex;
	padding-left: 26px;

	flex-direction: column;

	.check_item {

		input[type=radio] {
			&+label {
				width: 144px;
				padding: 0 0 0 44px !important;
				background-position: 0 0 !important;
			}
		}

		>span {
			position: relative;
			display: inline-block;
			padding-left: 8px;
			letter-spacing: -0.25px;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 7px;

				width: 1px;
				height: 16px;
				background-color: #ddd;
			}
		}

		&+.check_item {
			margin-top: 44px;

		}

		&:not(:last-child) {
			&::before {
				content: "";
				width: 1px;
				height: calc(100% + 20px);

				position: absolute;
				left: 12px;
				top: 24px;

				background-color: #ddd;
			}

		}
	}
}

.survey_tit {
	display: block;
	width: 100%;
	min-height: 30px;
	padding: 12px 0;

	font-weight: 500;
	font-size: 18px;
	color: #111;

	border-bottom: 1px solid #ddd;
}

.fx_col_2 {
	display: flex;

	flex-direction: row;
	flex-wrap: wrap;

	>div {
		flex: auto;
		width: 50%;

		&:nth-child(n+3) {
			margin-top: 10px;
		}
	}
}

.fin_login {
	text-align: center;

	>strong {
		display: inline-block;
		position: relative;
		padding-bottom: 10px;

		font-size: 18px;
		font-weight: normal;
		color: #111;
		line-height: 1;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background-color: #111;

			left: 0;
			bottom: 0;
		}
	}

	>ul {
		display: flex;

		justify-content: space-between;

		flex-direction: row;
		flex-wrap: wrap;

		>li {
			>a {
				display: inline-flex;
				width: 140px;
				height: 148px;
				padding-bottom: 20px;

				border-radius: 8px;
				border-width: 2px;
				border-color: transparent;
				border-style: solid;

				background-color: #f8f8f8;
				background-position-x: center;
				background-size: auto;
				background-repeat: no-repeat;

				justify-content: center;
				align-items: flex-end;

				&:hover {
					background-color: #fff;
					border-color: $primary;
				}
			}

			&:nth-child(1) {
				>a {
					background-image: url(#{$url-img}/content/ico_fin_login01.png);
					background-position-y: 20px;
				}
			}

			&:nth-child(2) {
				>a {
					background-image: url(#{$url-img}/content/ico_fin_login02.png);
					background-position-y: 20px;
				}
			}

			&:nth-child(3) {
				>a {
					background-image: url(#{$url-img}/content/ico_fin_login03.png);
					background-position-y: 12px;
				}
			}

			&:nth-child(4) {
				>a {
					background-image: url(#{$url-img}/content/ico_fin_login04.png);
					background-position-y: 30px;
				}
			}

			>span {
				font-size: 16px;
				font-weight: normal;
				color: #111;
				line-height: 1;
			}

			&:nth-child(n+3) {
				margin-top: 20px;
			}
		}
	}
}

.login_type_list {
	display: inline-table;
	position: absolute;
	z-index: 500;
	left: none;
	right: 34px;
	top: calc(100% - 10px);
	width: 145px;
	min-width: 115px;
	overflow-y: auto;
	border: 1px solid $gray;
	border-radius: 10px;
	box-shadow: 0 7px 17px 0 #dcdcdc;
	background-color: $white;

	ul {
		overflow-y: auto;
		max-height: 500px;
		padding: 31px 24px 13px;
		font-size: 16px;

		>li {
			padding: 0 10px;
			text-align: center;

			&:not(:last-child) {
				margin-bottom: 11px;
				padding-bottom: 13px;
				border-bottom: 1px solid #eee;
			}
		}
	}

	a:not(.btn) {
		display: block;
		position: relative;
		line-height: 1.3;
		white-space: nowrap;
		text-align: center;
		font-weight: 200;
		color: $darkgray;

		&:hover {
			font-weight: 500;
			color: $black;
		}
	}

	&::before,
	&::after {
		content: '';
		display: block;
		position: absolute;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -10px;
		border-style: solid;
	}

	&::before {
		top: -22px;
		border-color: transparent transparent $gray transparent;
		border-width: 11px;
	}

	&::after {
		top: -21px;
		border-color: transparent transparent $white transparent;
		border-width: 11px;
	}
}

.fund_analysis_box {
	display: flex;
	padding: 17px 30px;
	background-color: $bg-lightprimary;
	position: relative;
	border-radius: 8px;

	align-items: center;
	text-align: center;

	>div {
		flex: 1 1 33%;

		&:last-child {
			margin-left: 30px;
		}
	}

	&::before {
		content: "";
		position: absolute;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 12px solid $bg-lightprimary;

		left: 50%;
		top: -12px;

		transform: translateX(-50%);
	}

	.list1 {
		line-height: 1.2;
		text-align: left;

		>li {
			&::before {
				top: 6px;
			}
		}
	}

	&.advisior {
		&::before {
			left: 84%;
		}
	}
}

.acco_list {
	>.top {
		>.recommend {

			>.inner {
				display: flex;
				width: 100%;
				padding: 14px 0 14px 15px;
				background-image: none;

				justify-content: space-between;
				align-items: center;

				font-size: 18px;
				font-weight: 200;
			}

			>.inner>div {
				>.bubble {
					display: inline-flex;
					position: relative;
					width: 73px;
					height: 44px;
					margin-right: 20px;
					border: 1px solid $border-base;
					border-radius: 44px;

					font-size: 20px;
					font-weight: bold;
					color: #111;
					line-height: 44px;

					justify-content: center;

					box-shadow: -2px 2.5px 4px rgba(0, 0, 0, 0.05);

					&::before,
					&::after {
						content: "";
						position: absolute;
						left: 100%;
						top: 50%;

						border-top: 5px solid transparent;
						border-bottom: 5px solid transparent;
						border-left: 7px solid $border-base;

						transform: translateY(-50%);
					}

					&::after {
						left: calc(100% - 1.5px);
						border-left: 7px solid #fff;
					}
				}

				>strong {
					display: inline-block;
					width: 90px;
					height: 30px;
					padding: 0 6px 0 27px;
					border-radius: 30px;

					text-align: center;
					font-size: 13px;
					font-weight: 200;
					line-height: 30px;
					color: #111;

					border-width: 1px;
					border-style: solid;
					border-color: transparent;

					background-color: transparent;
					background-position: 3px center;
					background-size: 24px 24px;
					background-repeat: no-repeat;

					&.gray {
						background-image: url(#{$url-img}/content/ico_pd_recommend_type01.png);
						background-color: #ddd;
						color: #444;
					}

					&.primary {
						background-image: url(#{$url-img}/content/ico_pd_recommend_type02.png);
						background-color: $primary;
					}

					&.darkgray {
						background-image: url(#{$url-img}/content/ico_pd_recommend_type03.png);
						background-color: #666;
						color: #fff;
					}

					&.outline {
						background-image: url(#{$url-img}/content/ico_pd_recommend_type04.png);
						border-color: $border-base;
					}
				}
			}
		}
	}
}

.invest_calc {
	.top {
		display: flex;
		align-items: center;

		>div {
			padding: 16px 0 18px;
		}

		.tit {
			display: inline-flex;
			position: relative;
			width: 390px;
			background-color: #eee;

			border-radius: 4px 0 0 4px;

			flex: 0 0 auto;
			justify-content: center;
			align-self: stretch;
			align-items: center;

			.ico {
				margin-right: 10px;
			}

			&::before {
				content: "";
				position: absolute;
				left: 100%;
				top: 0;

				border-top: 40px solid transparent;
				border-bottom: 40px solid transparent;
				border-left: 20px solid #eee;
			}
		}

		.input_area {
			display: inline-flex;
			width: 100%;
			border-radius: 0 4px 4px 0;
			line-height: 1;

			background-color: #f8f8f8;

			align-items: center;
			justify-content: center;
		}
	}

	.btm {
		padding: 40px;
		border: 1px solid #dfdfdf;
		border-radius: 4px;

		>.acco_list {
			>.top {
				border-color: #ddd;

				>.recommend {
					padding-left: 0;

					>.inner>div {
						color: #666;

						>strong {
							margin-right: 30px;
						}

						.bubble {
							color: #666;
						}

						&:last-child {
							display: inline-flex;
							min-width: 230px;
							justify-content: space-between;
							align-items: center;
						}
					}
				}

				&.on {
					border-color: #111;

					>.recommend {
						>.inner>div {
							color: #111;

							.bubble {
								color: #111;
							}
						}
					}
				}
			}
		}

		.circle_num {
			width: 24px;
			height: 24px;
			margin-left: 10px;
			border-radius: 100%;

			background-color: #333;

			text-align: center;
			font-size: 14px;
			font-weight: normal;
			line-height: 24px;
			color: #fff;
		}
	}
}