/* 금융리포트 메인 */

.wrapper_financial_report {
	padding: 30px 0;
	min-height: 100vh;

	background-color: #f2f2f2;

	.btn_close_financial_report {
		position: fixed;
		right: 25px;
		top: 30px;
		width: 22px;
		height: 22px;
		background:url(#{$url-img}/content/ico_closed3.png) 0 0 no-repeat;
		background-size: 22px 22px;
		text-indent: -9999px;
		overflow: hidden;
	}
}

.financial_report {
	max-width: 1100px;
	margin: auto;
	display: flex;

	&_sidebar {
		flex: 0 0 auto;
		margin-top: 30px;
		width: 285px;

		.report_tit {
			font-weight: 200;

			span {
				font-weight: 500;
			}
		}
	}

	&_content {
		flex: 1 1 auto;
		min-height: auto;
	}

	.report_sec {
		padding: 30px;
		margin-top: 10px;
		background-color: #fff;
		border-radius: 5px;
	}

	.ecrm_area {
		background-color: $bg_lightgray;
		border: none;
	}
}