/* 금융리포트 메인 */

.wrapper_financial_report {
	padding: 30px 0;
	min-height: 100vh;

	background-color: #f2f2f2;

	.btn_close_financial_report {
		position: fixed;
		right: 25px;
		top: 30px;
		width: 22px;
		height: 22px;
		background:url(#{$url-img}/content/ico_closed3.png) 0 0 no-repeat;
		background-size: 22px 22px;
		text-indent: -9999px;
		overflow: hidden;
	}
}

.financial_report {
	max-width: 1100px;
	margin: auto;
	display: flex;

	&_sidebar {
		flex: 0 0 auto;
		margin-top: 30px;
		width: 285px;

		.report_tit {
			font-weight: 200;

			span {
				font-weight: 500;
			}
		}
	}

	&_content {
		flex: 1 1 auto;
		min-height: auto;
	}

	.report_sec {
		padding: 30px;
		margin-top: 10px;
		background-color: #fff;
		border-radius: 5px;
	}

	.ecrm_area {
		padding: 30px;
		//background: linear-gradient(to bottom, #f6f6f6, #fff);

		ul {
			&:after {
				content: '';
				clear: both;
				display: block;
			}

			li {
				float: left;
				width: calc(25% - 8px);
				margin: 0 4px;


				.item {
					display: block;
					width: 100%;
					height: 180px;
					padding: 20px;
					border: 1px solid $border-base;
					background-color: #fff;
					border-radius: 8px;
				}
			}
		}

		.label {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-width: 50px;
			height: 26px;
			margin-bottom: 10px;
			border-radius: 13px;
			background-color: #fff6e2;
			color: #e2a116;

			&_red {
				background-color: #fff1e9;
				color: #f46e17;
			}

			&_green {
				background-color: #ebfbf7;
				color: #93d5c4;
			}

			&_blue {
				background-color: #f2f8ff;
				color: #3786e9;
			}
		}

		.tit {
			@include text-ellipsis(3, 24px);
			font-size: 20px;
			font-weight: 400;
		}
	}
}