.ico_list_filter {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 28px;
	height: 24px;
	line-height: 24px;
	background-image: url(#{$url-img}/content/ico_list_filter.png);
}

.ico_list_setting {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background-image: url(#{$url-img}/content/ico_list_setting.png);
}