/* 금융리포트 메인 */

.wrapper_financial_report {
	padding: 30px 0;
	min-height: 100vh;

	// TODO : 아래 구문 삭제 후 작업
	background-color: #f7f7f7;

	.btn_close_financial_report {
		position: fixed;
		right: 0;
		top: 0;
	}
}

.financial_report {
	max-width: 900px;
	margin: auto;
	display: flex;

	&_sidebar {
		flex: 0 0 auto;
		width: 200px;

		// TODO : 아래 구문 삭제 후 작업
		background-color: yellow;
	}

	&_content {
		flex: 1 1 auto;
		min-height: auto;

		// TODO : 아래 구문 삭제 후 작업
		background-color: blue;
	}
}