.ico_list_filter {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 28px;
	height: 24px;
	line-height: 24px;
	background-image: url(#{$url-img}/content/ico_list_filter.png);
}

.ico_list_setting {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background-image: url(#{$url-img}/content/ico_list_setting.png);
}

.tit_ico_arr.use {
	span:before {
		content: '';
		display: inline-block;
		width: 21px;
		height: 20px;
		margin-right: 4px;
		background: url(#{$url-img}/content/ico_use.png) no-repeat 0 0;
		vertical-align: -5px;
	}
}


.product_price>ul>li {
	.product_item_list {
		font-size: 0;

		li {
			position: relative;
			display: inline-block;
			font-weight: 400;
			font-size: 15px;

			&:not(:first-child) {
				margin-left: 20px;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -6px;
					left: -10px;
					width: 1px;
					height: 12px;
					background: #ddd;
				}
			}
		}
	}
}

.btn_setting_chk {
	padding: 0 53px 0 30px;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 50%;
	background-image:url(#{$url-img}/content/ico_setting_chk.png);
}

.product_compare {
	display: table;
	width: 100%;
	table-layout: fixed;
	padding: 30px 50px;

	.item {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		padding: 33px 20px 18px;
		text-align: center;
		border: 2px solid #555;
		border-radius: 10px;
		background: #fff;

		span {
			position: absolute;
			top: 0;
			left: 20px;
			display: inline-block;
			line-height: 22px;
			font-size: 12px;
			color: #fff;
			padding: 0 23px;
			background: #555;
			border-radius: 0 0 22px 22px;
		}

		.tit {
			font-size: 18px;
			font-weight: 500;
			line-height: 25px;
		}

		.product_top_btn {
			justify-content: center;
		}
	}

	.vs {
		display: table-cell;
		width: 80px;
		vertical-align: middle;
		padding: 0 20px;
		text-align: center;

		span {
			position: relative;
			display: inline-block;
			padding-bottom: 8px;
			font-size: 14px;
			font-weight: 400;
			line-height: 1;
			margin-bottom: 10px;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: #a6a6a6;
			}
		}

		strong {
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			font-weight: 500;
			color: #fff;
			line-height: 39px;
		}

		&.orange strong {
			background: #ff883a;
		}

		&.green strong {
			background: #26d5ba;
		}

		&.yellow strong {
			background: #fdc61c;
		}

		&.blue strong {
			background: #37bde3;
		}
	}
}

.compare_con {
	display: table;
	width: 100%;
	table-layout: fixed;
	color: #555;
	border: 1px solid #ddd;
	border-radius: 4px;

	>div {
		position: relative;
		display: table-cell;
		padding: 24px 30px;

		&:not(:first-child) {
			border-left: 1px solid #ddd;

			&:after {
				content: 'vs';
				display: inline-block;
				position: absolute;
				top: 50%;
				left: -15px;
				margin-top: -15px;
				width: 30px;
				height: 30px;
				line-height: 27px;
				border-radius: 50%;
				border: 1px solid #ddd;
				text-align: center;
				color: #666;
				font-weight: 500;
				background: #fff;

			}
		}
	}
}

.modal_popup.compare .popup_body {
	max-height: calc(100vh - 400px);
}

.evt_icon.yellow {
	background: #fdc61c;
	color: #111;

	&:before {
		border-right-color: #fdc61c;
	}
}

.product_name>.card_img.top {
	top: 0;
}

.icon_list.card {
	flex-wrap: wrap;

	li {
		width: 59px;
		padding: 14px 0 9px;
		margin-right: 5px;

		&:nth-child(5n) {
			margin-right: 0;
		}

		&:not(:nth-child(-n+5)) {
			margin-top: 4px;
		}

		span {
			padding-top: 25px;
			font-size: 12px;

			&.bg01 {
				background-image:url(#{$url-img}/content/ico_card_compare01.png);
			}

			&.bg02 {
				background-image:url(#{$url-img}/content/ico_card_compare02.png);
			}

			&.bg03 {
				background-image:url(#{$url-img}/content/ico_card_compare03.png);
			}

			&.bg04 {
				background-image:url(#{$url-img}/content/ico_card_compare04.png);
			}

			&.bg05 {
				background-image:url(#{$url-img}/content/ico_card_compare05.png);
			}

			&.bg06 {
				background-image:url(#{$url-img}/content/ico_card_compare06.png);
			}

			&.bg07 {
				background-image:url(#{$url-img}/content/ico_card_compare07.png);
			}

			&.bg08 {
				background-image:url(#{$url-img}/content/ico_card_compare08.png);
			}

			&.bg09 {
				background-image:url(#{$url-img}/content/ico_card_compare09.png);
			}

			&.bg10 {
				background-image:url(#{$url-img}/content/ico_card_compare10.png);
			}

			&.bg11 {
				background-image:url(#{$url-img}/content/ico_card_compare11.png);
			}

			&.bg12 {
				background-image:url(#{$url-img}/content/ico_card_compare12.png);
			}

			&.bg13 {
				background-image:url(#{$url-img}/content/ico_card_compare13.png);
			}

			&.bg14 {
				background-image:url(#{$url-img}/content/ico_card_compare14.png);
			}

			&.bg15 {
				background-image:url(#{$url-img}/content/ico_card_compare15.png);
			}

			&.bg16 {
				background-image:url(#{$url-img}/content/ico_card_compare16.png);
			}

			&.bg17 {
				background-image:url(#{$url-img}/content/ico_card_compare17.png);
			}

			&.bg18 {
				background-image:url(#{$url-img}/content/ico_card_compare18.png);
			}

			&.bg19 {
				background-image:url(#{$url-img}/content/ico_card_compare19.png);
			}
		}
	}
}

.filter_chk {
	.chk_item {
		margin-right: 5px;
		margin-top: 10px;

		&:nth-child(-n+3) {
			margin-top: 0;
		}
	}
}

.chk_item {
	display: inline-block;

	label {
		position: relative;
		display: inline-block;
		height: 40px;
		line-height: 38px;
		color: #666;
		border: 1px solid #ddd;
		border-radius: 25px;
		padding: 0 24px;
		background: #fff;
	}

	input:checked+label {
		color: #111;
		background: #fef5e5;

		&:after {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			width: 100%;
			height: 100%;
			border-radius: 25px;
			border: 2px solid #fdc61c;
		}
	}
}

.explain_list {
	>ul>li:nth-child(4)>div>span {
		background-image:url(#{$url-img}/content/ico_deposit_lg4.png);
	}

	&.card {
		>ul>li>div>span {
			&.bg01 {
				background-image:url(#{$url-img}/content/ico_card_lg1.png);
			}

			&.bg02 {
				background-image:url(#{$url-img}/content/ico_card_lg2.png);
			}

			&.bg03 {
				background-image:url(#{$url-img}/content/ico_card_lg3.png);
			}
		}
	}
}

.inline_list.pd_list2.line {
	li>span {
		&:not(:first-child) {
			&::before {
				width: 1px;
				height: 12px;
				background: #ddd;
				top: 50%;
				margin-top: -5px;
			}
		}
	}
}

.join_review {
	position: relative;
	display: flex;
	padding: 31px 62px 31px 20px;
	background: #fafafa;
	border-radius: 6px;

	&+.join_review {
		margin-top: 18px;
	}

	.l {
		margin-right: auto;
		color: #555;

		>.user,
		.txt {
			display: inline-block;
			vertical-align: top;
		}

		.user {
			background-position: 0 0;
			background-repeat: no-repeat;
			background-image:url(#{$url-img}/content/ico_user_gray.png);
			padding-left: 40px;
			font-size: 14px;
			line-height: 29px;
		}

		.txt {
			margin-left: 25px;
			line-height: 24px;
			padding-top: 2px;
		}
	}

	.r {
		margin-left: auto;

		.btn_toggle {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 62px;
			height: 100%;
			background-image:url(#{$url-img}/common/ico_arr_down_sm.png);
			background-repeat: no-repeat;
			background-position: 50% 43px;
		}

		.btn_delete {
			display: none;
		}

		.star {
			display: inline-block;
			font-size: 0;
			vertical-align: top;
			padding-top: 3px;

			i {
				display: inline-block;
				width: 22px;
				height: 21px;
				background-image:url(#{$url-img}/common/ico_star_gray_sm.png);
				background-repeat: no-repeat;
				background-position: 0 0;

				&.on {
					background-image:url(#{$url-img}/common/ico_star_primary_sm.png);
				}

				&.half {
					background-image:url(#{$url-img}/content/ico_star_half_sm.png);
				}

				&+i {
					margin-left: 5px;
				}
			}
		}

	}


	&.active {
		background: #fff;
		border: 1px solid #ddd;

		.l {
			color: #111;

			.user {
				background-image:url(#{$url-img}/content/ico_user_primary.png);
			}
		}

		.r {
			.btn_toggle {
				background-image:url(#{$url-img}/common/ico_arr_up_sm.png);
			}

			.btn_delete {
				display: inline-block;
			}
		}
	}
}

.product_detail_info {
	.icon_list.card {
		display: inline-flex;
		justify-content: flex-end;
		vertical-align: top;
		width: 251px;

		li {
			margin-left: 5px;
			margin-right: 0;
			margin-top: 3px;

			&:nth-child(4n+1) {
				margin-left: 0;
			}

			&:nth-child(-n+4) {
				margin-top: 0;
			}
		}
	}
}

.ico_card {
	&:after {
		content: '';
		display: inline-block;
		width: 26px;
		height: 26px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		margin-left: 8px;
		vertical-align: top;
	}

	&.ico01:after {
		background-image: url(#{$url-img}/content/ico_card_compare09.png);
	}

	&.ico02:after {
		background-image: url(#{$url-img}/content/ico_card_compare08.png);
	}

	&.ico03:after {
		background-image: url(#{$url-img}/content/ico_card_compare13.png);
	}

	&.ico04:after {
		background-image: url(#{$url-img}/content/ico_card_compare17.png);
	}

	&.ico05:after {
		background-image: url(#{$url-img}/content/ico_card_compare07.png);
	}
}

.txt_chk {
	padding-left: 14px;
	font-size: 15px;
	background: url(#{$url-img}/content/ico_txt_chk.png) 0 10px no-repeat;
}