//금융상품몰


.container {
	.product_list {
		margin-bottom: 50px;

		>li {
			border-bottom: 1px solid #eee;
			padding: 20px 0;

			&:first-child {
				padding-top: 0;
			}
		}
	}

	.top_util {
		padding-bottom: 10px;

		&:after {
			content: "";
			display: block;
			clear: both;
		}

		.check_item {
			float: left;

			label {
				height: 22px;
			}
		}

		.right_area {
			font-size: 0;
			float: right;

			.star {
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
				background:url(#{$url-img}/content/ico_star_primary.png) 0 0 no-repeat;
				background-size: 15px 15px;
				padding-left: 20px;
				padding-right: 5px;
			}

			a {
				width: 32px;
				height: 32px;
				display: inline-block;
				vertical-align: middle;
				background-size: 100% 100% !important;
				margin-left: 5px;

				&.cart {
					background:url(#{$url-img}/content/ico_cart.png) 0 0 no-repeat;

					&.active {
						background:url(#{$url-img}/content/ico_cart_on.png) 0 0 no-repeat;
					}
				}

				&.good {
					background:url(#{$url-img}/content/ico_favorit.png) 0 0 no-repeat;

					&.active {
						background:url(#{$url-img}/content/ico_favorit_on.png) 0 0 no-repeat;
					}
				}

				&.links {
					background:url(#{$url-img}/content/ico_share_lightgray.png) 0 0 no-repeat;
				}
			}
		}
	}

	.list_info {
		.top_info {
			font-size: 0;
			margin-bottom: 10px;

			li {
				font-size: 12px;
				color: #555;
				display: inline-block;
				vertical-align: top;
				padding: 0 10px;
				position: relative;

				&:before {
					content: "";
					display: block;
					border-left: 1px solid #ddd;
					height: 10px;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: -5px;
				}

				&:first-child {
					padding-left: 0;

					&:before {
						display: none;
					}
				}
			}
		}

		.tit {
			display: block;
			font-size: 18px;
			line-height: 24px;

			.ico {
				width: 31px;
				height: 16px;
				display: inline-block;
				background-size: 31px 16px !important;
				font-size: 9px;
				line-height: 16px;
				padding-left: 3px;
				text-align: center;
				vertical-align: middle;
				position: relative;
				top: -2px;
				margin-left: 3px;

				&.yellow {
					background:url(#{$url-img}/content/ico_balloon_yellow.png) 0 0 no-repeat;
				}

				&.red {
					background:url(#{$url-img}/content/ico_balloon_red.png) 0 0 no-repeat;
					color: #fff;
				}

				&.green {
					background:url(#{$url-img}/content/ico_balloon_green.png) 0 0 no-repeat;
					color: #fff;
					background-size: 38px 16px;
					width: 38px;
					height: 16px;
					background-size: 38px 16px !important;
				}


				&.use {
					background:url(#{$url-img}/content/ico_using.png) 0 0 no-repeat;
					width: 69px;
					height: 24px;
					line-height: 1000px;
					overflow: hidden;
					background-size: 100% 100% !important;
				}
			}
		}

		strong {
			&.lg {
				font-size: 25px;
				color: #111;
				display: block;
			}
		}


		.card_info {
			overflow: hidden;
			margin: 15px 0 20px;

			.img {
				float: left;
				width: 50%;
				padding-right: 15px;
			}

			ul {
				float: left;
				width: 50%;
				margin: -5px 0 0 -3px;
				padding-left: 15px;

				li {
					display: inline-block;
					vertical-align: top;
					margin: 5px 0 0 3px;
					background: #f6f6f6;
					border-radius: 25px;
					padding: 5px 8px;
					min-width: 40px;
					text-align: center;
					font-size: 11px;
				}
			}

			.card_info_txt {
				strong {
					display: block;
					text-align: right;
				}

				ul {
					font-size: 0;
					margin: -1px 0 0 -5px;

					li {
						display: inline-block;
						vertical-align: top;
						background: none;
						padding: 0;
						margin: 0;
						margin: 1px 0 0 5px;
					}
				}
			}
		}

		.month_info {
			margin-top: 15px;

			&:after {
				content: "";
				display: block;
				clear: both;
			}

			.left_tit {
				float: left;
				width: 33%;

				&.w_50 {
					width: 50%;
				}
			}

			ul {
				font-size: 0;

				&.length3 {
					float: right;
					width: 67%;

					li {
						width: 33.33%;

						&:before {
							display: block !important;
						}
					}
				}

				&.length2 {
					float: right;
					width: 50%;

					li {
						width: 50%;

						&:before {
							display: block !important;
						}
					}
				}

				li {
					width: 25%;
					display: inline-block;
					vertical-align: top;
					text-align: center;
					position: relative;

					&:before {
						content: "";
						display: block;
						border-left: 1px solid #eee;
						height: 23px;
						position: absolute;
						left: 0;
						top: 50%;
						margin-top: -12px;
					}

					&:first-child {
						&:before {
							display: none;
						}
					}

					span {
						font-size: 12px;
						color: #666;
						display: block;
						margin-bottom: 0px;
					}

					strong {
						display: block;
						font-size: 14px;
						color: #111;
					}
				}
			}

			&.none {
				ul {
					&.length3 {
						float: none;
						width: 100%;

						li {
							&:first-child {
								&:before {
									display: none !important;
								}
							}
						}
					}
				}
			}
		}

		.btn_group {
			margin-top: 20px;
		}

		.hash {
			margin: 15px 0 0 -13px;

			li {
				margin: 0px 0 0 13px;
				font-size: 12px;
				color: #555;
				display: inline-block;
				vertical-align: top;
				line-height: 16px;
			}
		}
	}
}

.btn_group {
	.dark_round {
		color: #fff;
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background: #333;
		line-height: 15px;
		position: relative;
		top: -2px;
		text-align: center;
		display: inline-block;
		font-style: normal;
		font-weight: 300;
		font-size: 10px;
	}
}

.top_fillter {
	margin-bottom: 20px;

	&:after {
		content: "";
		display: block;
		clear: both;
	}

	&.info {
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;

		.left_total {
			a {
				font-weight: 300;
				color: #555;

				&.active {
					border-color: #111;
					color: #111;
				}

				i {
					position: relative;
					top: 1px;
				}
			}

			.bul_notice {
				margin-top: 5px;
				font-size: 14px;
				color: #555;
			}
		}
	}

	.left_total {
		float: left;

		span {
			font-size: 13px;
			line-height: 18px;
			color: #111;

			strong {
				font-weight: bold;
			}
		}
	}

	.right_fillter {
		float: right;

		a {
			padding-left: 22px;
			background:url(#{$url-img}/content/ico_fillter.png) 0 center no-repeat;
			display: inline-block;
			background-size: 17px 14px;
			font-weight: 500;
		}
	}
}

.top_vs_box {
	overflow: hidden;
	border-top: 1px solid #eee;
	position: relative;
	overflow: hidden;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);

	&:after {
		content: "";
		display: block;
		border-left: 1px dashed #ddd;
		position: absolute;
		left: 50%;
		top: 0;
		bottom: 0;
		z-index: 1;
	}

	&:before {
		content: "VS";
		width: 30px;
		text-align: center;
		line-height: 30px;
		height: 30px;
		color: #fff;
		background: #fdc61c;
		border-radius: 50%;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	}

	>div {
		float: left;
		width: 50%;
		text-align: center;
		padding: 20px 0;

		ul {
			font-size: 0;
			margin-top: 25px;

			li {
				display: inline-block;
				vertical-align: top;
				margin: 0 2px;

				a {
					width: 32px;
					height: 32px;
					display: block;
					line-height: 1000px;
					overflow: hidden;
					background-size: 100% 100% !important;
				}

				&.join {
					a {
						background:url(#{$url-img}/content/ico_join.png) 0 0 no-repeat;
						background-size: 50px 28px !important;
						width: 50px;
						height: 28px;
					}
				}

				&.cart {
					a {
						background:url(#{$url-img}/content/ico_cart.png) 0 0 no-repeat;
					}
				}

				&.good {
					a {
						background:url(#{$url-img}/content/ico_favorit.png) 0 0 no-repeat;
					}
				}
			}
		}
	}
}

.section {
	h2 {
		&[class^="ico"] {
			padding-left: 25px;
			background-size: 20px auto !important;
		}

		&.ico_ex {
			background:url(#{$url-img}/content/ico_tit_ex.png) 0 center no-repeat;
		}

		&.ico_qua {
			background:url(#{$url-img}/content/ico_tit_qua.png) 0 center no-repeat;
		}

		&.ico_save {
			background:url(#{$url-img}/content/ico_tit_save.png) 0 center no-repeat;
		}

		&.ico_tax {
			background:url(#{$url-img}/content/ico_tit_tax.png) 0 center no-repeat;
		}
	}

	.bg_lightgray {
		&.over {
			margin: 0 -20px;
			padding: 25px 20px;

			&.middle_line {
				overflow: hidden;

				p {
					float: right;
					text-align: right;
					width: 50%;
					padding-right: 0px;
					font-size: 12px;
					line-height: 20px;

					&:first-child {
						float: left;
						text-align: left;
						padding-right: 15px;
						padding-left: 0px;
					}
				}
			}
		}
	}

	.moddle_line {
		position: relative;

		&:before {
			content: "";
			display: block;
			border-left: 1px dashed #ddd;
			top: 0;
			bottom: 0;
			left: 50%;
		}
	}

	.left_right_txt {
		overflow: hidden;
		position: relative;
		padding: 20px 0;

		&:before {
			content: "";
			display: block;
			border-left: 1px dashed #ddd;
			top: 0;
			bottom: 0;
			left: 50%;
			position: absolute;
		}

		li {
			width: 50%;
			float: right;
			text-align: right;
			color: #555;
			font-size: 12px;
			line-height: 14px;

			&:first-child {
				float: left;
				text-align: left;
			}
		}
	}

	.top_accumulate {
		text-align: center;
		margin-bottom: 30px;

		p {
			display: inline-block;
			font-size: 16px;
			height: 21px;
			line-height: 21px;
			padding-left: 30px;
			background:url(#{$url-img}/content/ico_tax_free.png) 0 center no-repeat;
			background-size: 27px 21px;

			strong {
				font-size: 16px;
			}

			span {
				font-size: 16px;
				color: #986800;
				font-weight: bold;
			}
		}
	}

	.tax_free_box {
		.top {
			overflow: hidden;

			h2 {
				float: left;
			}

			p {
				float: right;
				font-size: 13px;
				margin-top: 10px;
			}
		}

		.tbl {

			th,
			td {
				text-align: center;
			}

			td {
				border: 1px dashed #eee;
			}
		}
	}
}

.insurance_acodian {
	border-top: 1px solid #ddd;
	margin-bottom: 50px;

	dt {
		border-bottom: 1px solid #eee;
		padding: 15px 0;
		padding-right: 30px;
		background-size: 21px 20px !important;
		background:url(#{$url-img}/content/ico_toggle_down.png) right center no-repeat;

		&.active {
			background:url(#{$url-img}/content/ico_toggle_up.png) right center no-repeat;
		}

		img {
			width: 34px;
			height: 34px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: 1px;
		}

		strong {
			font-size: 16px;
			position: relative;
			display: inline-block;
			padding: 0 5px;
			height: 32px;
			line-height: 32px;
			vertical-align: middle;

			span {
				color: #fff;
				background: #333;
				width: 20px;
				margin-left: 3px;
				height: 20px;
				border-radius: 50%;
				text-align: center;
				line-height: 20px;
				display: inline-block;
				font-size: 12px;
				position: relative;
				top: -1px;
				font-weight: 300;
			}
		}
	}

	dd {
		padding: 15px 0;
		display: none;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}
	}
}

.top_explanation {
	padding: 20px 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;

	p {
		font-size: 14px;
		line-height: 18px;
		color: #555;

		&:first-child {
			margin-bottom: 20px;
		}
	}

}

.box {
	.left_right {

		li {
			overflow: hidden;
			margin-top: 15px;

			&:first-child {
				margin-top: 0;
			}

			span {
				float: left;
				color: #555;
				font-size: 14px;
				line-height: 18px;
			}

			.right {
				float: right;
				font-size: 14px;
				line-height: 18px;
			}
		}
	}
}

.input_items {
	&.line2 {
		display: block;
		margin-top: -10px;

		.check_item {
			display: inline-block;
			vertical-align: top;
			width: calc(50% - 12px);
			margin-top: 10px;
		}
	}
}

.toggle_cont {
	.code_list {
		li {
			margin-top: 13px;
			padding-left: 30px;

			&:first-child {
				margin-top: 0;
			}

			.check_item {
				display: block;

				label {
					padding-left: 0 !important;
					padding-right: 50px;
					display: block;
					background-position: right top !important;
					padding-left: 25px;
					text-indent: -25px;
				}
			}
		}
	}

	.code_close {
		position: absolute;
		right: 20px;
		top: 20px;

		img {
			width: 15px;
		}
	}
}

.product_end_list {
	padding-bottom: 100px;

	li {
		border-bottom: 1px solid #eee;
		padding: 50px 0 20px;

		&:first-child {
			padding-top: 0;
		}

		.txt_guide {
			margin-top: 0;
		}
	}
}


.sales_rate_rolling {
	border-top: 1px solid #ddd;
	padding: 20px 0 50px;
	margin-top: 10px;

	.tit2 {
		margin-bottom: 35px;
	}

	.list {
		>li {
			border: 1px solid #ddd;
			padding: 20px;
			border-radius: 10px;
			margin-top: 10px;

			&:first-child {
				margin-top: 0;
			}

			.top_util {
				position: relative;

				.rank {
					width: 44px;
					height: 23px;
					position: absolute;
					left: 0;
					top: 0;
					display: block;
					line-height: 1000px;
					overflow: hidden;
					background-size: 100% 100% !important;
				}
			}

			&:nth-child(1) {
				.rank {
					background: url(#{$url-img}/content/ico_rank_1.png) 0 0 no-repeat;
				}
			}

			&:nth-child(2) {
				.rank {
					background: url(#{$url-img}/content/ico_rank_2.png) 0 0 no-repeat;
				}
			}

			&:nth-child(3) {
				.rank {
					background: url(#{$url-img}/content/ico_rank_3.png) 0 0 no-repeat;
				}
			}

			.list_info {}
		}
	}

	button {
		width: 25px;
		height: 25px;
		background-size: 100% 100% !important;
		position: absolute;
		top: 20px;
		line-height: 1000px;
		overflow: hidden;

		&.slick-prev {
			background:url(#{$url-img}/common/btn_rolling_left.png) 0 0 no-repeat;
			left: 0;
		}

		&.slick-next {
			background:url(#{$url-img}/common/btn_rolling_right.png) 0 0 no-repeat;
			right: 0;
		}
	}
}

.top_ico_txt {
	text-align: center;
	padding: 20px 0;

	p {
		display: inline-block;
		vertical-align: top;
		font-size: 14px;
		line-height: 18px;
		padding: 15px 0;
		padding-left: 40px;
		background-size: 28px 27px !important;
	}

	&.ico1 {
		p {
			background:url(#{$url-img}/content/ico_teg1.png) 0 center no-repeat;
		}
	}
}

.all_teg {

	.tit {
		display: block;
		font-size: 16px;
	}

	.input_items {
		padding: 25px 0;
		border-top: 1px solid #ddd;
		margin: 15px 0 0;

		a {
			border: 1px solid #ddd;
			border-radius: 5px;
			height: 35px;
			line-height: 27px;
			padding-left: 12px;
			background-position: right 10px center;
			margin: 0 2px;
		}
	}

	.best_list {
		ul {
			font-size: 0;
			margin: -5px 0 0 -5px;

			li {
				&.best {
					img {
						width: 74px;
					}

					padding:0;
					border:0;
					position: relative;
					top:-5px;
				}

				height:31px;
				display: inline-block;
				vertical-align:top;
				margin:5px 0 0 5px;
				border:1px solid #bbb;
				color:#111;
				font-size:12px;
				padding:5px 13px;
				border-radius:15px;
			}
		}
	}

	.btn_more {
		padding: 20px 0 35px;
		text-align: center;
		background: none;

		a {
			font-weight: 400;

			&:after {
				content: "";
				display: inline-block;
				border: 1px solid #fff;
				width: 7px;
				height: 7px;
				border-width: 1px 1px 0 0;
				transform: rotate(135deg);
				margin-left: 10px;
				position: relative;
				top: -2px;
			}
		}
	}

	.double_box {
		border: 0;
		border-bottom: 1px solid #ddd;
		border-radius: 0;
		max-height: 95px;
		margin-bottom: 20px;

		h2 {
			border-top: 1px solid #ddd;
			font-weight: 500;
			font-size: 16px;
			padding: 20px 0;
			text-align: center;
		}

		&.active {
			h2 {
				opacity: 0;
				position: absolute;
				left: 0;
				top: 0;
			}
		}
	}
}