.ico_list_filter {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 28px;
	height: 24px;
	line-height: 24px;
	background-image: url(#{$url-img}/content/ico_list_filter.png);
}

.ico_list_setting {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 26px;
	height: 26px;
	line-height: 26px;
	background-image: url(#{$url-img}/content/ico_list_setting.png);
}

.tit_ico_arr.use {
	span:before {
		content: '';
		display: inline-block;
		width: 21px;
		height: 20px;
		margin-right: 4px;
		background: url(#{$url-img}/content/ico_use.png) no-repeat 0 0;
		vertical-align: -5px;
	}
}


.product_price>ul>li {
	.product_item_list {
		font-size: 0;

		li {
			position: relative;
			display: inline-block;
			font-weight: 400;
			font-size: 15px;

			&:not(:first-child) {
				margin-left: 20px;

				&:before {
					content: '';
					position: absolute;
					top: 50%;
					margin-top: -6px;
					left: -10px;
					width: 1px;
					height: 12px;
					background: #ddd;
				}
			}
		}
	}
}

.btn_setting_chk {
	padding: 0 53px 0 30px;
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) 50%;
	background-image:url(#{$url-img}/content/ico_setting_chk.png);
}

.product_compare {
	position: relative;
	display: table;
	width: 100%;
	table-layout: fixed;
	box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.07);

	.item {
		position: relative;
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		padding: 30px 20px 33px;
		text-align: center;

		&:not(:first-child) {
			border-left: 1px dashed #ddd;
		}

		.tit {
			font-size: 17px;
			font-weight: 500;
			line-height: 25px;
		}

		.product_top_btn {
			justify-content: center;

			>li:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	.vs {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -20px;
		margin-top: -20px;
		width: 40px;
		height: 40px;
		line-height: 39px;
		font-size: 16px;
		font-weight: 500;
		text-align: center;
		color: #fff;
		border-radius: 50%;
		z-index: 1;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);

		&.orange {
			background: #ffae77;
		}

		&.green {
			background: #86e2a0;
		}

		&.yellow {
			background: #fdc61c;
		}

		&.blue {
			background: #95deef;
		}
	}
}

.compare_con {
	display: table;
	width: 100%;
	table-layout: fixed;
	color: #555;
	border-radius: 4px;
	padding: 10px 0 5px;

	&.card_service {
		position: relative;
		padding: 20px 0 20px 66px;

		h4 {
			position: absolute;
			left: 30px;
			top: 30px;
			display: inline-block;
			padding-bottom: 3px;
			border-bottom: 1px solid #a6a6a6;
			font-size: 14px;
			font-weight: 500;
			color: #111;
		}

		>div {
			width: 50%;
		}
	}


	>div {
		position: relative;
		display: table-cell;
		text-align: center;
		padding: 0 30px;
		font-size: 15px;
		font-weight: 400;
		color: #555;
		padding: 10px 30px;

		&:not(:last-child) {
			border-right: 1px dashed #ddd;
		}

		.list1>li {
			padding-left: 11px;
			font-size: 15px;
			line-height: 1.9;

			&:before {
				top: 13px;
				width: 3px;
				height: 3px;
				border-radius: 0;
				background: #000;
			}
		}
	}
}

.modal_popup.compare .popup_body {
	max-height: calc(100vh - 400px);
}

.evt_icon.yellow {
	background: #fdc61c;
	color: #111;

	&:before {
		border-right-color: #fdc61c;
	}
}

.product_name>.card_img.top {
	top: 0;
}

.icon_list.card {
	flex-wrap: wrap;

	li {
		width: 59px;
		padding: 14px 0 9px;
		margin-right: 5px;
		background: #fff;

		&:nth-child(5n) {
			margin-right: 0;
		}

		&:not(:nth-child(-n+5)) {
			margin-top: 4px;
		}

		span {
			padding-top: 25px;
			font-size: 12px;

			&.bg01 {
				background-image:url(#{$url-img}/content/ico_card_compare01.png);
			}

			&.bg02 {
				background-image:url(#{$url-img}/content/ico_card_compare02.png);
			}

			&.bg03 {
				background-image:url(#{$url-img}/content/ico_card_compare03.png);
			}

			&.bg04 {
				background-image:url(#{$url-img}/content/ico_card_compare04.png);
			}

			&.bg05 {
				background-image:url(#{$url-img}/content/ico_card_compare05.png);
			}

			&.bg06 {
				background-image:url(#{$url-img}/content/ico_card_compare06.png);
			}

			&.bg07 {
				background-image:url(#{$url-img}/content/ico_card_compare07.png);
			}

			&.bg08 {
				background-image:url(#{$url-img}/content/ico_card_compare08.png);
			}

			&.bg09 {
				background-image:url(#{$url-img}/content/ico_card_compare09.png);
			}

			&.bg10 {
				background-image:url(#{$url-img}/content/ico_card_compare10.png);
			}

			&.bg11 {
				background-image:url(#{$url-img}/content/ico_card_compare11.png);
			}

			&.bg12 {
				background-image:url(#{$url-img}/content/ico_card_compare12.png);
			}

			&.bg13 {
				background-image:url(#{$url-img}/content/ico_card_compare13.png);
			}

			&.bg14 {
				background-image:url(#{$url-img}/content/ico_card_compare14.png);
			}

			&.bg15 {
				background-image:url(#{$url-img}/content/ico_card_compare15.png);
			}

			&.bg16 {
				background-image:url(#{$url-img}/content/ico_card_compare16.png);
			}

			&.bg17 {
				background-image:url(#{$url-img}/content/ico_card_compare17.png);
			}

			&.bg18 {
				background-image:url(#{$url-img}/content/ico_card_compare18.png);
			}

			&.bg19 {
				background-image:url(#{$url-img}/content/ico_card_compare19.png);
			}
		}
	}
}

.filter_chk {
	.chk_item {
		margin-right: 5px;
		margin-top: 10px;

		&:nth-child(-n+3) {
			margin-top: 0;
		}
	}
}

.chk_item {
	display: inline-block;

	label {
		position: relative;
		display: inline-block;
		height: 40px;
		line-height: 38px;
		color: #666;
		border: 1px solid #ddd;
		border-radius: 25px;
		padding: 0 24px;
		background: #fff;
	}

	&.square {
		label {
			border-radius: 4px;
			padding: 0 17px;
			line-height: 44px;
			height: 46px;
		}

		input:checked+label {
			&:after {
				border-radius: 4px;
			}
		}
	}

	input:checked+label {
		color: #111;
		background: #fef5e5;

		&:after {
			content: '';
			position: absolute;
			top: -1px;
			left: -2px;
			width: 100%;
			height: calc(100% - 2px);
			border-radius: 25px;
			border: 2px solid #fdc61c;
		}
	}
}

.explain_list {
	>ul>li:nth-child(4)>div>span {
		background-image:url(#{$url-img}/content/ico_deposit_lg4.png);
	}

	&.card {
		>ul>li>div>span {
			&.bg01 {
				background-image:url(#{$url-img}/content/ico_card_lg1.png);
			}

			&.bg02 {
				background-image:url(#{$url-img}/content/ico_card_lg2.png);
			}

			&.bg03 {
				background-image:url(#{$url-img}/content/ico_card_lg3.png);
			}
		}
	}
}

.inline_list.pd_list2.line {
	li>span {
		&:not(:first-child) {
			&::before {
				width: 1px;
				height: 12px;
				background: #ddd;
				top: 50%;
				margin-top: -5px;
			}
		}
	}
}

.join_review {
	position: relative;
	display: flex;
	padding: 31px 62px 31px 20px;
	background: #fafafa;
	border-radius: 6px;

	&+.join_review {
		margin-top: 18px;
	}

	.l {
		margin-right: auto;
		color: #555;
		flex: 1;
		overflow: hidden;

		>.user,
		.txt {
			display: inline-block;
			vertical-align: top;
		}

		.user {
			background-position: 0 0;
			background-repeat: no-repeat;
			background-image:url(#{$url-img}/content/ico_user_gray.png);
			padding-left: 40px;
			font-size: 14px;
			line-height: 29px;
		}

		.txt {
			margin-left: 25px;
			line-height: 24px;
			padding-top: 2px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 80%;
		}
	}

	.r {
		margin-left: auto;

		.btn_toggle {
			position: absolute;
			top: 0;
			right: 0;
			display: block;
			width: 62px;
			height: 100%;
			background-image:url(#{$url-img}/common/ico_arr_down_sm.png);
			background-repeat: no-repeat;
			background-position: 50% 43px;
		}

		.btn_delete {
			display: none;
		}

		.star {
			display: inline-block;
			font-size: 0;
			vertical-align: top;
			padding-top: 3px;

			i {
				display: inline-block;
				width: 22px;
				height: 21px;
				background-image:url(#{$url-img}/common/ico_star_gray_sm.png);
				background-repeat: no-repeat;
				background-position: 0 0;

				&.on {
					background-image:url(#{$url-img}/common/ico_star_primary_sm.png);
				}

				&.half {
					background-image:url(#{$url-img}/content/ico_star_half_sm.png);
				}

				&+i {
					margin-left: 5px;
				}
			}
		}

	}


	&.active {
		background: #fff;
		border: 1px solid #ddd;

		.l {
			color: #111;

			.user {
				background-image:url(#{$url-img}/content/ico_user_primary.png);
			}

			.txt {
				white-space: normal;
				overflow: visible;
			}
		}

		.r {
			.btn_toggle {
				background-image:url(#{$url-img}/common/ico_arr_up_sm.png);
			}

			.btn_delete {
				display: inline-block;
			}
		}
	}
}

.product_detail_info {
	.icon_list.card {
		display: inline-flex;
		justify-content: flex-end;
		vertical-align: top;
		width: 251px;

		li {
			margin-left: 5px;
			margin-right: 0;
			margin-top: 3px;

			&:nth-child(4n+1) {
				margin-left: 0;
			}

			&:nth-child(-n+4) {
				margin-top: 0;
			}
		}
	}
}

.txt_chk {
	padding-left: 19px;
	background: url(#{$url-img}/content/ico_txt_chk.png) 0 11px no-repeat;

	.list3 {
		>li {
			font-size: 15px;
		}
	}
}

.tit4 {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	padding-left: 28px;
	line-height: 1.4;
	margin-bottom: 12px;

	&:before {
		content: '';
		position: absolute;
		top: 6px;
		left: 0;
		width: 17px;
		height: 17px;
		background: url(#{$url-img}/content/ico_tit4.png) 0 0 no-repeat;
	}
}

.standard_txt {
	position: relative;
	display: inline-block;
	font-size: 13px;
	font-weight: 500;
	padding: 0 15px;
	line-height: 26px;
	background: #fdc61c url(#{$url-img}/content/bg_standard.png) 0 0 no-repeat;
	border-radius: 20px;
	margin-right: 8px;
	box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.1);

	&:before {
		content: '';
		position: absolute;
		right: -4px;
		top: 50%;
		margin-top: -6px;
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 6px 0 6px 6px;
		border-color: transparent #fdc61c transparent #fdc61c;
	}
}

.ico_tit {
	position: relative;
	display: flex;
	font-size: 22px;
	font-weight: 500;
	align-items: center;
	line-height: 1;

	&:before {
		content: '';
		display: inline-block;
		margin-right: 5px;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	&.ico_review:before {
		width: 32px;
		height: 30px;
		background-image:url(#{$url-img}/content/ico_tit_review.png);
	}

	&.ico_info:before {
		width: 30px;
		height: 31px;
		background-image:url(#{$url-img}/content/ico_tit_info.png);
	}

	&.ico_shop:before {
		width: 29px;
		height: 32px;
		background-image:url(#{$url-img}/content/ico_tit_shop.png);
	}

	&.ico_food:before {
		width: 30px;
		height: 32px;
		background-image:url(#{$url-img}/content/ico_tit_food.png);
	}

	&.ico_comm:before {
		width: 29px;
		height: 33px;
		background-image:url(#{$url-img}/content/ico_tit_comm.png);
	}

	&.ico_refu:before {
		width: 26px;
		height: 28px;
		background-image:url(#{$url-img}/content/ico_tit_refu.png);
	}

	&.ico_movie:before {
		width: 33px;
		height: 29px;
		background-image:url(#{$url-img}/content/ico_tit_movie.png);
	}

	&.ico_cash:before {
		width: 30px;
		height: 28px;
		background-image:url(#{$url-img}/content/ico_tit_cash.png);
	}

	&.ico_point:before {
		width: 34px;
		height: 29px;
		background-image:url(#{$url-img}/content/ico_tit_point.png);
	}

	&.ico_caution01:before {
		width: 30px;
		height: 30px;
		background-image:url(#{$url-img}/content/ico_tit_caution01.png);
	}

	&.ico_caution02:before {
		width: 31px;
		height: 24px;
		background-image:url(#{$url-img}/content/ico_tit_caution02.png);
	}

	&.ico_caution03:before {
		width: 32px;
		height: 27px;
		background-image:url(#{$url-img}/content/ico_tit_caution03.png);
	}

	&.ico_caution04:before {
		width: 34px;
		height: 31px;
		background-image:url(#{$url-img}/content/ico_tit_caution04.png);
	}

	&.ico_deposit01:before {
		width: 34px;
		height: 31px;
		background-image:url(#{$url-img}/content/ico_tit_deposit01.png);
	}

	&.bor_btm {
		padding-bottom: 20px;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 3px;
			border-radius: 5px;
			background: #eee;
		}
	}
}

.card_benefit {
	display: flex;
	align-items: flex-start;
	padding: 30px 0;
	border: 1px solid #ddd;
	border-radius: 6px;

	.ico_tit {
		width: 210px;
		padding: 10px 10px 0 52px;

		&:before {
			margin-right: 17px;
		}
	}

	.txt {
		position: relative;
		flex: 1;
		padding: 0 30px 0 38px;
		border-left: 1px dashed #ddd;
	}
}

.btn_join {
	display: inline-block;
	height: 38px;
	line-height: 37px;
	padding: 0 12px 0 36px;
	background-color: #f6f6f6;
	background-repeat: no-repeat;
	background-position: 10px 50%;
	background-image:url(#{$url-img}/content/ico_compare_join.png);
	border-radius: 20px;
	font-size: 14px;
	color: #666;

	&.on {
		background-image:url(#{$url-img}/content/ico_compare_join_on.png) !important;
		color: #111;
	}

	&:hover {
		background-image:url(#{$url-img}/content/ico_compare_join_on.png);
		color: #111;
	}
}

.compare_tit {
	position: relative;
	margin-bottom: 10px;
	font-weight: 500;
	line-height: 24px;
	padding-left: 32px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 32px;
		height: 25px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: 4px 50%;
	}

	&.tit_bor {
		position: relative;

		span {
			background: #fff;
			padding-right: 10px;
		}

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			width: 100%;
			height: 1px;
			background: #f4f4f4;
			z-index: -1;
		}
	}

	&.insure01:before {
		background-image:url(#{$url-img}/content/ico_insure_tit01.png);
	}

	&.insure02:before {
		background-image:url(#{$url-img}/content/ico_insure_tit02.png);
	}

	&.insure03:before {
		background-image:url(#{$url-img}/content/ico_insure_tit03.png);
	}

	&.insure04:before {
		background-image:url(#{$url-img}/content/ico_insure_tit04.png);
	}

	&.insure05:before {
		background-image:url(#{$url-img}/content/ico_insure_tit05.png);
	}

	&.insure06:before {
		background-image:url(#{$url-img}/content/ico_insure_tit06.png);
	}

	&.card01:before {
		background-image:url(#{$url-img}/content/ico_card_tit01.png);
	}

	&.card02:before {
		background-image:url(#{$url-img}/content/ico_card_tit02.png);
	}

	&.card03:before {
		background-image:url(#{$url-img}/content/ico_card_tit03.png);
	}
}

.ico_type {
	padding-left: 60px;
	background-repeat: no-repeat;
	background-position: 2px 50%;

	&.insure01 {
		background-image:url(#{$url-img}/content/ico_insure_type01.png);
	}

	&.insure02 {
		background-image:url(#{$url-img}/content/ico_insure_type02.png);
	}

	&.insure03 {
		background-image:url(#{$url-img}/content/ico_insure_type03.png);
	}

	&.insure04 {
		background-image:url(#{$url-img}/content/ico_insure_type04.png);
	}

	&.insure05 {
		background-image:url(#{$url-img}/content/ico_insure_type05.png);
	}

	&.insure06 {
		background-image:url(#{$url-img}/content/ico_insure_type06.png);
	}

	&.insure07 {
		background-image:url(#{$url-img}/content/ico_insure_type07.png);
	}

	&.card01 {
		background-image:url(#{$url-img}/content/ico_card_type01.png);
	}

	&.card02 {
		background-image:url(#{$url-img}/content/ico_card_type02.png);
	}

	&.card03 {
		background-image:url(#{$url-img}/content/ico_card_type03.png);
	}

	&.card04 {
		background-image:url(#{$url-img}/content/ico_card_type04.png);
	}

	&.card05 {
		background-image:url(#{$url-img}/content/ico_card_type05.png);
	}

	&.card06 {
		background-image:url(#{$url-img}/content/ico_card_type06.png);
	}

	&.card07 {
		background-image:url(#{$url-img}/content/ico_card_type07.png);
	}
}

.insure_top_txt {
	background-position: 0 0;
	background-repeat: no-repeat;
	padding-left: 50px;
	font-size: 18px;

	strong {
		font-size: 20px;
	}

	&.result {
		background-image:url(#{$url-img}/content/ico_user_result.png);
	}

	&.calc {
		background-image:url(#{$url-img}/content/ico_insure_calc.png);
		background-position: 0 5px;
		color: #555;
		font-size: 16px;
		line-height: 24px;
	}
}

.insure_calc_step {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 2px;
		height: 100%;
		left: 17px;
		top: 0;
		background: #eee;
		z-index: -1;
	}


	>div {
		position: relative;
		padding-left: 40px;

		&:not(:last-child) {
			padding-bottom: 20px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 15px;
			width: 6px;
			height: 42px;
			background:url(#{$url-img}/content/insure_step.jpg);
			display: none;
		}

		&:last-child {
			&:after {
				display: none;
				content: '';
				position: absolute;
				bottom: 0;
				left: 14px;
				width: 8px;
				height: 8px;
				background: #eee;
				border-radius: 50%;
			}
		}

		.tit {
			position: relative;
			display: flex;
			padding-left: 10px;

			&:before {
				content: '';
				position: absolute;
				left: -40px;
				top: 0;
				width: 36px;
				height: 36px;
				border-radius: 50%;
				background-color: #bbb;
				background-position: 50% 50%;
				background-repeat: no-repeat;
				background-image:url(#{$url-img}/common/ico_checkbox2_default.png);
			}

			&:after {
				content: '';
				position: absolute;
				left: -5px;
				top: 14px;
				display: inline-block;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 4px 0 3px 5px;
				border-color: transparent #bbb transparent #bbb;
			}

			h3 {
				font-size: 20px;
				font-weight: 500;
				color: #666;
				line-height: 36px;
			}

			span {
				display: inline-block;
				height: 23px;
				line-height: 21px;
				padding: 0 10px;
				border: 1px solid #eee;
				border-radius: 20px;
				background: #fafafa;
				font-size: 11px;
				color: #555;
			}
		}

		.con {
			display: none;
			border-radius: 4px;
			background: #fafafa;
			padding: 30px;
			margin-top: 20px;

			.tf {
				font-weight: 500;
				color: #111;

				&::placeholder {
					font-weight: 100;
					color: #555;
				}
			}

			.chk_item.square {
				input:checked+label {
					position: relative;
					padding-left: 30px;

					&:before {
						content: '';
						position: absolute;
						left: 13px;
						top: 50%;
						margin-top: -5px;
						display: inline-block;
						width: 13px;
						height: 11px;
						background:url(#{$url-img}/content/ico_chk_item.png) 0 0 no-repeat;
						margin-right: 5px;
					}
				}
			}

			.check_item {
				input+label {
					background-position: 0 5px;
				}
			}
		}

		&.active {
			&:before {
				display: block;
			}

			&:last-child:after {
				display: block;
			}

			.tit {
				&:before {
					background-color: #fdc61c;
					background-image:url(#{$url-img}/common/ico_checkbox2_checked.png);
					box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
				}

				&:after {
					border-color: transparent #fdc61c transparent #fdc61c;
				}

				h3 {
					font-size: 24px;
					color: #111;
				}

				span {
					color: #111;
				}
			}

			.con {
				display: block;
			}
		}
	}


}