// 금융상품몰
.join_step_list {
	>ul {
		display: flex;

		>li {
			display: flex;
			align-items: center;
			width: 160px;
			height: 50px;
			padding: 0 16px;
			border: 1px solid #ddd;
			border-radius: 6px;
			background: #f8f8f8;
			font-weight: 400;
			font-size: 13px;
			color: #666;

			&:not(:last-child) {
				margin-right: 13px;
			}

			>.l {
				margin-right: auto;
				padding-left: 33px;
				background-position: 0 50%;
				background-repeat: no-repeat;
			}

			>.r {
				width: 24px;
				height: 24px;
				margin-left: auto;
				border-radius: 50%;
				background: #333;
				text-align: center;
				line-height: 22px;
				font-size: 14px;
				color: #fff;

				&.alert_none {
					background: #666;
				}
			}

			&:nth-child(1)>.l {
				background-image: url(#{$url-img}/content/icon_join_setp1.png);
			}

			&:nth-child(2)>.l {
				background-image: url(#{$url-img}/content/icon_join_setp2.png);
			}

			&:nth-child(3)>.l {
				background-image: url(#{$url-img}/content/icon_join_setp3.png);
			}

			&:nth-child(4)>.l {
				background-image: url(#{$url-img}/content/icon_join_setp4.png);
			}
		}
	}
}

.lr_area {
	display: flex;

	>.l {
		margin-right: auto;
	}

	>.r {
		margin-left: auto;
	}
}

.tit_arr {
	padding-left: 28px;
	background: url(#{$url-img}/content/ico_arr_circle_gray.png) no-repeat 0 50%;
	font-size: 20px;
	color: #111;

	>span {
		font-weight: 500;
		color: #986800;
	}
}

.acco_list {
	>.top {
		display: flex;
		border-bottom: 1px solid #111;

		>h3 {
			display: flex;
			align-items: end;
			margin-right: auto;
			padding-bottom: 24px;
			line-height: 1;
			font-weight: 500;
			font-size: 26px;
			color: #111;

			>span {
				width: 24px;
				height: 24px;
				margin-left: 10px;
				border-radius: 50%;
				background: #333;
				text-align: center;
				line-height: 22px;
				font-weight: 400;
				font-size: 14px;
				color: #fff;
			}
		}

		>button {
			width: 50px;
			background: url(#{$url-img}/content/ico_arr_accordion_on.png) no-repeat 100% 8px;
		}
	}

	>.acco_inner {
		padding: 35px;
	}
}

.ch_product {
	display: flex;

	>.l {
		margin-right: auto;

		>.counsel_info {
			margin-bottom: 34px;

			>ul {
				display: flex;
				line-height: 1;
				font-size: 14px;
				color: #666;

				>li {
					padding: 0 12px;

					&:first-child {
						padding-left: 0;
					}

					&:not(:first-child) {
						position: relative;

						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 2px;
							width: 1px;
							height: 12px;
							background: #ddd;
						}
					}
				}
			}
		}

		>.product_info1 {
			>ul {
				display: flex;
				line-height: 1;
				font-size: 14px;
				color: #555;

				>li {
					padding: 0 12px;

					&:first-child {
						padding-left: 0;
					}

					&:not(:first-child) {
						position: relative;

						&::before {
							content: '';
							position: absolute;
							left: 0;
							top: 2px;
							width: 1px;
							height: 12px;
							background: #ddd;
						}
					}
				}
			}
		}
	}

	>.r {
		margin-left: auto;
	}

}