//금융상품몰

//modal_bottom_sheet
.popup_footer {
	.btn {
		&.btn_fg_2 {
			flex-grow: 0.2;
		}
	}
}

.popup_sub_header {
	min-height: 53px;
	margin: 0px 20px 10px 20px;
	display: flex;

	span {
		display: flex;
		// align-items: center;
	}
}

.popup_body {
	.btn_drelete {
		position: absolute;
		top: 16px;
		right: 0;
	}
}

.popup_inner {
	.ico {
		&.ico_filter {
			position: absolute;
			display: inline-block;
			background-image: url(../../../resources/img/content/ico_filter.png);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			margin-top: 8px;
			margin-left: 10px;
			width: 31px;
			height: 26px;
		}

		&.ico_refresh {
			background-image: url(../../../resources/img/content/ico_refresh.png);
			background-size: 20px 20px;
			width: 20px;
			height: 20px;
		}

		&.ico_calculator {
			position: absolute;
			background-image: url(../../../resources/img/content/ico_calculator.png);
			background-size: 34px 34px;
			background-repeat: no-repeat;
			margin-top: 5px;
			margin-left: 12px;
			display: inline-block;
			width: 55px;
			height: 34px;
		}

		&.ico_chevron_down_circle {
			display: inline-block;
			background-image: url(../../../resources/img/content/ico_chevron_down_circle.png);
			background-size: 13px 13px;
			background-repeat: no-repeat;
			width: 13px;
			height: 16px;
		}
	}
}

//ico 커스텀
.ico_share01 {
	display: inline-flex;
	width: 32px;
	height: 32px;
	line-height: 32px;
	background-image: url(../../../resources/img/content/ico_share.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

//필터 팝업
.input_items {
	&.simple_items {
		display: block;

		.simple_chk {
			margin: 5px 0px 0px 2px !important;
		}

		.simple {
			margin: 5px 0px 0px 2px !important;

			input+label {
				font-size: 12px;
				height: 25px;
				padding: 0 15px !important;
			}
		}
	}
}

//보험료간편 설계설정_checkbox_bg
.input_items {
	&.chk_type {
		flex-wrap: wrap;
		font-size: 0;
		margin: 0;

		.type_btn {
			width: calc(50% - 3px);
			flex: none;
			margin-left: 0px !important;
			margin-right: 5px;
			margin-top: 5px;
			display: block;

			&:nth-child(2n) {
				margin-right: 0;
			}

			&:nth-child(-n+2) {
				margin-top: 0;
			}

			input {

				&+label {
					position: relative;
					justify-content: normal;
					padding: 0 14px !important;
					height: 40px;
					background-color: #fff !important;
					border-color: currentColor;


					&:before {
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						background-repeat: no-repeat;
						background-position: 0 0;
						background-image: url(/resources/img/common/ico_check_on.png);
						background-size: 20px auto;
						margin-right: 5px;
					}
				}

				&:checked+label {
					background-color: #FDC61C !important;
					border: none;

					&:before {
						background-image: url(/resources/img/common/ico_check_on.png);
					}
				}
			}
		}
	}
}

//공유할 정보 선택 _checkbox_type
.input_items {
	&.ico_items {
		flex-wrap: wrap;

		.check_item {
			position: relative;
			display: flex;
			align-items: center;
			border-radius: 4px;
			min-width: auto;
			max-width: fit-content;
			box-sizing: border-box;
			margin-top: 10px;

			&:nth-child(2n) {
				margin-left: 10px;
			}

			input[type=checkbox] {
				&+label {
					background-position-y: 10px;
					background-position-x: 69px;
					padding: 0;
					display: inline-flex;
					align-items: center;
					border: 1px solid #ddd;
					border-radius: 4px;
				}

				&:checked+label {
					border: 1px solid #fdc61c;
					border-radius: 4px;
				}
			}

			&.chk_disabled {
				background-color: #f6f6f6;

				input[type=checkbox] {

					&+label {
						opacity: 0.3;
					}

					&:checked+label {
						border: 1px solid #ddd;
						background-image: url(../../../resources/img/common/ico_checkbox_default.png);
					}
				}
			}

			label {
				width: 100px;
				height: 90px;
				display: inline-flex;
				flex-direction: column;
				justify-content: center;

				.ico {
					width: 30px;
					height: 30px;
					line-height: 30px;

					&.ico_file_all {
						background: url(../../../resources/img/content/ico_file_all.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						width: 30px;
						height: 25px;
					}

					&.ico_write {
						background: url(../../../resources/img/content/ico_write.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						width: 26px;
						height: 26.5px;
					}

					&.ico_write {
						background: url(../../../resources/img/content/ico_write.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						width: 26px;
						height: 26.5px;
					}

					&.ico_document_type01-1 {
						background: url(../../../resources/img/content/ico_document_type01-1.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						width: 25px;
						height: 26px;
					}

					&.ico_document_type01-2 {
						background: url(../../../resources/img/content/ico_document_type01-2.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						width: 25px;
						height: 26px;
					}

					&.ico_document_type02 {
						background: url(../../../resources/img/content/ico_document_type02.png);
						background-repeat: no-repeat;
						background-size: cover;
						background-position: center center;
						width: 25px;
						height: 22.5px;
					}
				}
			}
		}
	}
}