//금융상품몰
$mobile_spacing : 20px;




.product_header {
	padding: 25px 20px 16px;

	.product_name {
		display: block;
		margin-bottom: 10px;
	}

	.in_detail {
		display: flex;
		justify-content: space-between;

		.cate_list {
			display: inline-block;

			&:after {
				content: '';
				clear: both;
				display: block;
			}

			li {
				position: relative;
				float: left;
				padding: 0 5px;
				font-size: 10px;
				color: #555;

				+li {
					&:before {
						content: ' ';
						position: absolute;
						top: calc(50% - 4px);
						left: 0;
						width: 1px;
						height: 8px;
						background-color: #ddd;
					}
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}

			&.square {
				display: inline-block;
				padding: 2px 5px 3px;
				border: 1px solid #ddd;
				border-radius: 3px;
			}
		}

		.right {
			align-self: center;

		}
	}

	.review_star {
		display: inline-block;
		padding-right: 8px;

		.star {
			display: inline-block;
			background: url(#{$url-img}/content/ico_star_sm.png) left center no-repeat;
			background-size: 19px 18px;
			padding-left: 22px;
			font-size: 14px;
			vertical-align: top;

		}
	}

	.badge {
		position: relative;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 29px;
		height: 18px;
		margin-top: -5px;
		margin-left: 5px;
		border-radius: 9px;
		border: 0;
		color: #fff;
		font-weight: 500;
		font-size: 9px;
		vertical-align: middle;


		&:before {
			content: '';
			position: absolute;
			top: calc(50% - 2.5px);
			left: -2px;
			width: 0;
			height: 0;
			border-width: 0px 0px 5px 5px;
			border-style: solid;
			transform: rotate(-45deg);
		}

		&.badge_red {
			background-color: #d70000;
			color: #fff;

			&:before {
				border-color: transparent transparent transparent #d70000;
			}
		}

		&.badge_yellow {
			background-color: $primary;
			color: $black;

			&:before {
				border-color: transparent transparent transparent $primary;
			}
		}
	}

	.badge_join {
		position: relative;
		display: inline-block;
		padding: 0 15px 0 20px;
		margin-left: 5px;
		line-height: 20px;
		color: #fff;
		font-size: 10px;
		border-radius: 10px 2px 2px 10px;
		background-color: #5200c1;
		background-image: url(#{$url-img}/content/ico_cate_re.png);
		background-repeat: no-repeat;
		background-size: 14px 14px;
		background-position: 3px center;
		box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.15);

		&:before {
			content: '';
			position: absolute;
			left: -3px;
			top: 50%;
			margin-top: -3px;
			display: inline-block;
			border-style: solid;
			border-width: 3px 4px 3px 0;
			border-color: transparent #5200c1 transparent #5200c1;
		}

		&:after {
			content: '';
			position: absolute;
			top: calc(50% - 2.5px);
			right: 5px;
			width: 3px;
			height: 5px;
			background:url(#{$url-img}/content/ico_arr_right_white.png) center center no-repeat;
			background-size: 3px 5px;
		}
	}
}

.product_body {
	.product_container {
		padding: 25px $mobile_spacing;

		&.bg_lightorange {
			background-color: #fcf8f6;
		}
	}

	.full_container {
		margin-left: - $mobile_spacing;
		margin-right: - $mobile_spacing;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.slogan {
		font-weight: 300;
	}

	.prd_tit {
		margin-top: 30px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 200;

	}

	.prd_tit4 {
		margin-top: 20px;
		margin-bottom: 30px;
		font-size: 25px;
		line-height: 32px;
	}

	.txt_deco {
		position: relative;
		font-size: 20px;

		&:after {
			content: '';
			position: absolute;
			bottom: 2px;
			left: 0;

			height: 9px;
			width: 100%;
			background-color: rgba(245, 144, 122, .4);
			z-index: -1;
		}
	}

	.txt_sub {
		margin-top: 10px;
		color: #999;
		font-size: 11px;

		+.infographic_area {
			margin-top: 35px;
		}
	}

	.txt_ml {
		font-size: 13px;
	}

	.txt_mxl {
		font-size: 18px;
	}

	.txt_ml {
		+.infographic_area {
			margin-top: 45px;
		}
	}

	.txt_guide_sm {
		margin-top: 10px;
		font-size: 10px;
		color: #666;
	}

	.tit2_desc {
		margin-top: 16px;
		margin-bottom: 8px;
	}

	.txt_point01 {
		color: #ee6261;
	}

	.txt_point02 {
		color: #ee8261;
	}

	.txt_point03 {
		color: #eea561;
	}

	.txt_point04 {
		color: #ee7561;
	}

	.box_white {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.info_list {
		display: block;
		margin-top: 17px;
		margin-bottom: 10px;

		li {
			margin-top: 10px;
			padding: 14px 20px 17px;
			background-color: #fff;
			border-radius: 5px;

			i {
				display: inline-flex;
				width: 40px;
				height: 40px;
				margin-right: 5px;
				line-height: 40px;
				background-position: center;
				background-size: 40px 40px;
				vertical-align: middle;

				&.ico_ins_info01 {
					background-image: url(#{$url-img}/content/ico_ins_info01.png);
				}

				&.ico_ins_info02 {
					background-image: url(#{$url-img}/content/ico_ins_info02.png);
				}

				&.ico_ins_info03 {
					background-image: url(#{$url-img}/content/ico_ins_info03.png);
				}

				&.ico_ins_info04 {
					background-image: url(#{$url-img}/content/ico_ins_info04.png);
				}
			}

			>span {
				display: inline-block;
				vertical-align: middle;
			}

			em {
				display: block;
				font-style: normal;
				font-size: 10px;
				font-weight: lighter;
				line-height: 1;
			}

			strong {
				display: block;
				font-size: 13px;
				font-weight: 200;
			}
		}
	}

	.ins_info {
		display: table;
		width: 100%;

		li {
			position: relative;
			display: table-cell;
			width: 1%;
			padding: 0 10px;
			font-size: 14px;
			text-align: center;
			vertical-align: middle;

			span {
				display: inline-block;
				font-size: 11px;
			}

			>* {
				display: inline-block;
				vertical-align: middle;
			}

			em {
				font-style: normal;
				color: #666;
				font-size: 12px;
			}

			strong {
				font-size: 17px;
			}

			&:before {
				content: '';
				position: absolute;
				top: calc(50% - 12px);
				left: 0;
				width: 1px;
				height: 24px;
				background-color: #eee;
			}

			&:first-child {
				padding-left: 0;
				text-align: left;

				&:before {
					content: '';
					display: none;
				}
			}

			&:last-child {
				padding-right: 0;
			}
		}

		&.info_vrtl {
			li {
				em {
					display: block;
					font-size: 11px;
					text-align: center;
				}

				strong {
					font-size: 14px;
					text-align: center;
				}

				&:first-child {
					text-align: center;
				}
			}
		}
	}

	.text_guide {
		margin-top: 7px;
		font-size: 9px;
		color: #666;
	}

	.tag_group {
		display: block;
		margin-top: 10px;
		line-height: 1.2;

		span {
			display: inline-block;
			margin-right: 8px;
			font-size: 12px;

			color: #555;

			&:before {
				content: '#';
			}

		}
	}

	.num {
		display: inline-block;
		width: 33px;
		height: 33px;
		border-radius: 16.5px;
		background-color: #000;
		color: #fff;
		text-align: center;
		line-height: 33px;
		font-size: 14px;
		font-weight: 500;

		&_sm {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			line-height: 20px;
			font-size: 13px;
		}
	}

	.review_star {
		display: inline-block;
		padding-left: 20px;

		.star {
			display: inline-block;
			background: url(#{$url-img}/content/ico_star_sm.png) left center no-repeat;
			background-size: 19px 18px;
			padding-left: 22px;
			font-size: 14px;
			vertical-align: top;

		}
	}

	.box_flex_list {
		display: flex;
		flex-wrap: wrap;
		margin: -3.5px;

		li {
			flex: 0 1 calc(33.333% - 7px);
			margin: 3.5px;
			padding: 15px 10px;
			height: 58px;
			border: 1px solid #ddd;
			border-radius: 4px;
			background-color: #fff;
			text-align: center;

			i {
				display: inline-block;
				width: 16px;
				height: 16px;
				background-position: center center;
				background-repeat: no-repeat;

				&.ico_rate01 {
					background-image:url(#{$url-img}/content/ico_prd_rate01.png);
					background-size: 15px 15px;
				}

				&.ico_rate02 {
					background-image:url(#{$url-img}/content/ico_prd_rate02.png);
					background-size: 12px 15.5px;
				}

				&.ico_rate03 {
					background-image:url(#{$url-img}/content/ico_prd_rate03.png);
					background-size: 15.5px 16px;
				}

				&.ico_rate04 {
					background-image:url(#{$url-img}/content/ico_prd_rate04.png);
					background-size: 13px 16px;
				}

				&.ico_rate05 {
					background-image:url(#{$url-img}/content/ico_prd_rate05.png);
					background-size: 15.5px 15px;
				}

				&.ico_rate06 {
					background-image:url(#{$url-img}/content/ico_prd_rate06.png);
					background-size: 15.5px 14px;
				}

				&.ico_service01 {
					background-image:url(#{$url-img}/content/ico_prd_service01.png);
					background-size: 12px 14px;
				}

				&.ico_service02 {
					background-image:url(#{$url-img}/content/ico_prd_service02.png);
					background-size: 10px 14px;
				}

				&.ico_service03 {
					background-image:url(#{$url-img}/content/ico_prd_service03.png);
					background-size: 14px 15px;
				}

				&.ico_service04 {
					background-image:url(#{$url-img}/content/ico_prd_service04.png);
					background-size: 13px 14px;
				}

				&.ico_service05 {
					background-image:url(#{$url-img}/content/ico_prd_service05.png);
					background-size: 13px 16px;
				}
			}

			span {
				display: block;
				font-size: 10px;
				line-height: 1;
				color: #666;
			}

			strong {
				display: block;
				text-align: center;
				font-weight: 200;
				font-size: 12px;
				letter-spacing: -.5px;
			}

			.btn_flex_group {
				display: block;
				margin-top: 20px;
				margin-left: -2.5px;
				margin-right: -2.5px;

				&:after {
					content: '';
					clear: both;
					display: block;
				}

				a {
					float: left;
					height: 40px;
					width: calc(33.333% - 5px);
					padding: 23px 5px 5px;
					margin: 2.5px;
					background-color: #f6f6f6;
					font-size: 9px;
					border-radius: 3px;
					color: #333;

					&.btn_download {
						background-image:url(#{$url-img}/content/ico_prd_download.png);
						background-position: center 7px;
						background-repeat: no-repeat;
						background-size: 13px 11.5px;
					}

					&.btn_view {
						background-image:url(#{$url-img}/content/ico_prd_view.png);
						background-position: center 7px;
						background-repeat: no-repeat;
						background-size: 12px 12px;
					}

					&.btn_share {
						background-image:url(#{$url-img}/content/ico_prd_share_sm.png);
						background-position: center 7px;
						background-repeat: no-repeat;
						background-size: 12px 13.5px;
					}
				}
			}
		}

		&.col2 {
			margin: 0 -5px;

			li {
				flex: 0 1 calc(50% - 10px);
				padding: 12px 10px;
				margin: 5px;
				height: auto;
			}
		}

		&.col4 {
			margin: 0 -5px;

			li {
				flex: 0 1 calc(25% - 10px);
				padding: 12px 10px;
				margin: 5px;
			}
		}
	}

	.prd_accordion {
		margin-top: 15px;

		>div {
			&:last-child {
				border-bottom: 1px solid #ddd;
			}
		}

		h3 {
			position: relative;
			border-top: 1px solid #ddd;
			margin-bottom: 0px;

			button {
				display: flex;
				align-items: center;
				width: 100%;
				padding: 10px 0;
				font-size: 16px;
				font-weight: 400;
				text-align: left;

				&:before {
					content: "";
					display: block;
					position: absolute;
					right: 0;
					top: 50%;
					margin-top: -10px;
					width: 21px;
					border: 1px solid #ddd;
					border-radius: 3px;
					height: 20px;
					background: url(#{$url-img-common}/ico_chevron_down_sm.png) center center no-repeat;
					background-size: 10px 6px;
				}

				&.on {
					border-bottom: 0 !important;

					&:before {
						transform: rotate(180deg);
					}
				}

				i {
					position: relative;
					display: inline-block;
					width: 29.5px;
					height: 29.5px;
					margin-right: 10px;
					background-size: 29.5px 29.5px;
					background-position: center center;
					background-repeat: no-repeat;

					&.ico_mall_join {
						background-image: url(#{$url-img}/content/ico_mall_join.png);
					}

					&.ico_mall_exp {
						background-image: url(#{$url-img}/content/ico_mall_exp.png);
					}

					&.ico_mall_rate {
						background-image: url(#{$url-img}/content/ico_mall_rate.png);
					}

					&.ico_mall_terms {
						background-image: url(#{$url-img}/content/ico_mall_terms.png);
					}

					&.ico_mall_info {
						background-image: url(#{$url-img}/content/ico_mall_info.png);
					}

					&.ico_mall_variance {
						background-image: url(#{$url-img}/content/ico_mall_variance.png);
					}

					&.ico_mall_danger {
						background-image: url(#{$url-img}/content/ico_mall_danger.png);
					}

					&.ico_mall_result {
						background-image: url(#{$url-img}/content/ico_mall_result.png);
					}

					&.ico_mall_portfolio {
						background-image: url(#{$url-img}/content/ico_mall_portfolio.png);
					}

					&.ico_mall_warning {
						background-image: url(#{$url-img}/content/ico_mall_warning.png);
					}

					&.ico_mall_portfolio {
						background-image: url(#{$url-img}/content/ico_mall_portfolio.png);
					}

					&.ico_mall_other {
						background-image: url(#{$url-img}/content/ico_mall_other.png);
					}

					&.ico_mall_invest {
						background-image: url(#{$url-img}/content/ico_mall_invest.png);
					}

					&.ico_mall_review {
						background-image: url(#{$url-img}/content/ico_mall_review.png);
					}

					&.ico_mall_info2 {
						background-image: url(#{$url-img}/content/ico_mall_info2.png);
					}

					&.ico_mall_benefits {
						background-image: url(#{$url-img}/content/ico_mall_benefits.png);
					}

					&.ico_mall_sale {
						background-image: url(#{$url-img}/content/ico_mall_sale.png);
					}

					&.ico_mall_overseas {
						background-image: url(#{$url-img}/content/ico_mall_overseas.png);
					}
				}
			}
		}

		.content {
			padding: 0 0 20px;

			.prd_tit2 {
				margin-top: 25px;
				margin-bottom: 10px;
				font-size: 12px;
				font-weight: 300;

				&:first-child {
					margin-top: 0;
				}
			}

			.prd_tit3 {
				margin-top: 35px;
				margin-bottom: 10px;
				padding-left: 15px;
				font-size: 14px;
				font-weight: 400;
				color: #333;
				background-image:url(#{$url-img}/content/ico_prd_tit.png);
				background-position: left center;
				background-size: 11px 12px;
				background-repeat: no-repeat;

				&:first-child {
					margin-top: 0;
				}

				+.list {
					margin-top: -3px;
					margin-left: 15px;
				}
			}

			.list {
				+.prd_tit3 {
					margin-top: 20px;
				}

				li {
					&.bul-n {
						padding-left: 0;

						&:before {
							display: none;
							;
						}
					}
				}
			}

			.finance_list {
				border-top: 1px solid #ddd;

				li {
					display: flex;
					justify-content: space-between;
					padding: 18px 0 18px 55px;
					border-bottom: 1px solid #ddd;
					background-image: url(#{$url-img}/content/ico_finance01.png);
					background-position: 4px center;
					background-repeat: no-repeat;
					background-size: 41px 38px;

					.title {
						display: inline-block;
						width: calc(100% - 72px);
						padding-right: 10px;
						line-height: 1;

						strong {
							display: block;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;
							font-size: 13px;
							font-weight: 400;
						}

						span {
							font-size: 10px;
						}
					}

					&:nth-child(2) {
						background-image: url(#{$url-img}/content/ico_finance02.png);
					}

					&:nth-child(3) {
						background-image: url(#{$url-img}/content/ico_finance03.png);
					}

					&:nth-child(4) {
						background-image: url(#{$url-img}/content/ico_finance04.png);
					}

					.prd_btn_group {
						max-width: 72px;
					}
				}
			}

			.tbl_top_txt {
				text-align: right;
				margin-top: 15px;
				margin-bottom: 7px;
				font-size: 13px;
			}

			.tbl {

				td {
					text-align: left;
					padding: 10px;
					font-weight: 200;
				}

				+.prd_tit3 {
					margin-top: 20px;
				}
			}

			.ref_info {
				margin-top: 15px;

				dt {
					margin-bottom: 10px;
				}
			}
		}
	}

	.price_evaluation {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.tit {
			display: block;
			font-size: 13px;
			margin-bottom: 12px;
		}

		strong {
			font-size: 20px;

			+.gap {
				margin-left: 25px;
			}
		}

		em {
			font-style: normal;

			&.gap {
				position: relative;
				padding-left: 15px;

				&:before {
					content: '';
					position: absolute;
					top: calc(50% - 4px);
					left: 0;
					width: 0;
					height: 0;
					border-width: 5px 0 5px 8px;
					border-style: solid;
					border-color: transparent transparent transparent #000;
					transform: rotate(90deg);
				}

				&.down {
					color: #45a0e0;

					&:before {
						border-color: transparent transparent transparent #45a0e0;
					}
				}

				&.up {
					color: #ff3131;


					&:before {
						transform: rotate(-90deg);
						border-color: transparent transparent transparent #ff3131;
					}
				}
			}
		}

		.zero_grade {
			padding-top: 12px;
		}
	}

	.img_area {
		position: relative;
		margin: 20px auto 25px;
		width: 139px;

		img {
			object-fit: cover;
		}
	}

	.infographic_area {
		+.txt_lg {
			margin-top: 15px;
		}

		.circle {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 140px;
			height: 140px;
			font-size: 16px;
			line-height: 21px;
			border-radius: 70px;
			color: #000;
			border: 1px solid #784e2f;
			vertical-align: middle;

			&.bg_brown {
				background-color: #784e2f;
				color: #fff;
				border: 0;
			}

			+.circle {
				margin-left: -4px;

				&:before {
					content: '';
					position: absolute;
					top: calc(50% - 10px);
					left: -10px;
					width: 20px;
					height: 20px;
					background:url(#{$url-img}/content/ico_plus_brown.png) 0 0 no-repeat;
					background-size: 20px 20px;
				}
			}
		}
	}

	.infographic_comb_area {
		position: relative;

		.infographic_area {
			position: absolute;
			height: 170px;
			left: 15px;

			img {
				height: 100%;
				object-fit: cover;
			}
		}

		.txt_area {
			text-align: right;

			ul {
				padding-top: 17px;
				padding-bottom: 11px;
				margin-left: 70px;

				li {
					padding: 13px 12px;
					font-size: 14px;
					border-bottom: 1px solid #ddd;

					&:last-child {
						border-bottom: 0;
					}


				}
			}
		}

		.txt_guide_sm {
			display: block;
			font-size: 11px;
			color: #999;
		}
	}

	.check_review {
		text-align: right;
		padding-right: 75px;

		label {
			color: #111;

			span {
				position: absolute;
				right: -75px;
			}
		}
	}

	.review_list {
		margin-bottom: 20px;

		li {
			position: relative;
			padding-top: 15px;
			padding-bottom: 20px;
			border-bottom: 1px solid #eee;
		}
	}

	.review_header {
		display: flex;
		justify-content: space-between;
		font-size: 14px;
		font-weight: 200;

		.profile_thumb {
			width: 20px;
			height: 20px;
			border-radius: 10px;
			object-fit: cover;
			vertical-align: middle;
		}
	}

	.review_body {
		display: block;
		margin-top: 20px;
		font-size: 13px;
		color: #666;

		strong {
			display: block;
			margin-bottom: 10px;
			padding-right: 25px;
			font-size: 13px;
			color: #111;
			font-weight: 400;
		}
	}

	.tbl_top_txt {
		margin-bottom: 10px;
		text-align: right;
	}

	.btn_more_gray {
		justify-content: space-between;
		width: 80px;
		padding: 0 12px;
		height: 24px;
		border: 1px solid transparent;
		font-size: 12px;
		font-weight: 200;

		border-radius: 12px;
		color: $white;
		background-color: $bg-gray;

		&:after {
			display: inline-block;
			content: '';
			width: 10px;
			height: 5px;
			margin-top: 1px;
			background: url(#{$url-img-common}/ico_chevron_down_white_sm.png) no-repeat;
			background-size: 10px 5px;
		}
	}

	.btn_outline_black {
		border: 1px solid #111;
	}

	.btn_close {
		position: absolute;
		top: 56px;
		right: 0;
	}

	.btn_flex_group {
		display: flex;
		margin: 0 -5px;

		.btn {
			flex: 1 1 20%;
			margin: 5px;
		}

		.btn_outline_gray {
			height: 55px;
			border-color: #ddd;
			font-weight: 300;
		}
	}

	.btn_block {
		width: 100%;
	}

}

.prd_btn_group {

	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		line-height: 32px;
		border-radius: 16px;
		background-color: #f6f6f6;
		text-indent: -9999px;
		overflow: hidden;

		&:before {
			content: '';
			width: 19px;
			height: 17px;
			display: inline-block;
			background-image: url(#{$url-img}/content/ico_prd_cart.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}

		&.btn_like {
			&:before {
				width: 19px;
				height: 16px;
				background-image: url(#{$url-img}/content/ico_prd_like.png);
			}
		}

		&.btn_share {
			&:before {
				width: 16px;
				height: 17px;
				background-image: url(#{$url-img}/content/ico_prd_share.png);
			}
		}
	}
}