/* 메인 공통 */

/* 홈 */
.sec_home {

	// 인사말
	.welcome_info {
		color: #333;

		.container {
			height: 42px;
		}

		&.after_login {
			background-color: #f9f9f9;
			white-space: nowrap;

			.container {
				display: flex;
				align-items: center;
				justify-content: space-between;

				&:after {
					display: none;
				}
			}

			.welcome {
				display: flex;
				align-items: center;
			}

			.name {
				display: inline-block;
				@include text-ellipsis(1, 1.2em);
				max-width: 6em;
			}

			.last_access {
				font-size: 10px;
			}
		}
	}

	// 비주얼배너 슬라이더
	.visual_banner {
		.slide_item {
			display: block;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
			}
		}

		.slick-dots {
			text-align: center;

			li {
				display: inline-block;

				button {
					padding: 0 5px;
					font-size: 1px;
					color: transparent;

					&:after {
						content: '';
						display: block;
						width: 6px;
						height: 6px;
						border-radius: 3px;
						background-color: #ddd;
					}
				}

				&.slick-active {
					button {
						&:after {
							background-color: #777;
						}
					}
				}
			}
		}
	}
}

/* 자주 찾는 메뉴 */
.sec_favor_menu {
	.favor_menu_box {
		margin-top: 15px;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 6px 20px rgba(#000, .1);
		// height: 182px;
		overflow: hidden;

		.favor_menu_list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			padding: 10px 10px 18px;
			text-align: center;
			font-size: 13px;
			line-height: 1;
			font-weight: normal;
			color: $darkgray;

			a {
				position: relative;
				display: block;
				padding: 10px 0;
			}

			.icon {
				display: block;
				margin: auto;
				width: 40px;
				height: 40px;
				margin-bottom: 5px;
			}

			.badge {
				position: absolute;
				top: 18px;
				right: 30px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #ff883a;
				font-size: 1px;
				color: transparent;
			}
		}

		&.opened {
			+.btn_box_handler {
				.ico {
					transform: rotate(180deg);
				}
			}
		}
	}

	.btn_box_handler {
		position: relative;
		display: block;
		margin: auto;
		text-align: center;
		width: 108px;
		height: 40px;
		background-image: url("data:image/svg+xml,%3Csvg width='108' height='46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg filter='url(%23a)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M88 0C72.921 2.844 70.085 16.883 57.09 19.675 42.807 22.772 34.742 2.785 20 0' fill='%23fff'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' x='0' y='-14' width='108' height='60' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='6'/%3E%3CfeGaussianBlur stdDeviation='10'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0'/%3E%3CfeBlend in2='BackgroundImageFix' result='effect1_dropShadow_3_15'/%3E%3CfeBlend in='SourceGraphic' in2='effect1_dropShadow_3_15' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");

		.ico {
			vertical-align: top;
			margin-top: 5px;
		}
	}
}

/* 한 줄 공지 */
.sec_notice_ticker {
	padding: 0 $spacing;

	.container {
		background-color: #f6f6f6;
		border-radius: 8px;
		padding: 8px 15px 10px 40px;
		font-size: 13px;
	}

	&.fund_notice {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 20px;
		padding: 0;

		.use_quickbar & {
			bottom: 80px;
		}

		.container {
			color: #333;
			background:url(#{$url-img}/content/ico_fund_notice.png) 10px center no-repeat;
			background-size: 26px 26px;
			background-color: #ffe9a6;
		}
	}
}

/* 이벤트 배너 */
.sec_event_banner {
	background-color: $blue;
}

/* 기업 메인 */
/* 결재함 */
.approv_box {
	border-radius: 12px;
	background-color: #fff;
	box-shadow: 2px 7px 20px 0px rgba(0, 0, 0, 0.08);
	margin-bottom: 15px;

	.approv_box_header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 50px;
		padding: 0 18px;

		.left {
			display: flex;
			align-items: center;
		}

		.tit {
			margin-right: 10px;
			font-size: 16px;
			font-weight: 500;
		}
	}

	.approv_box_body {
		display: none;
		border-top: 1px solid #ddd;
		padding: 20px 18px 25px;
	}
}

/* 빠른이체 레이어팝업 */
.modal_quick_transfer {
	.popup_header {
		justify-content: space-between;
	}

	.receiver_name {
		display: inline-flex;
		align-items: center;
		height: 21px;
		padding: 0 10px;
		font-size: 11px;
		border: 1px solid #ddd;
		color: $gray;
		border-radius: 11px;
	}

	.transfer_msg {
		font-size: 18px;
		line-height: 24px;
		text-align: center;
		margin-bottom: 20px;
	}

	.fast_transfer {
		.r {
			display: flex;
			align-items: center;
		}
	}
}

/* 퀵메뉴설정 레이어팝업 */
.quickmenu_list_all {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 15px;
	column-gap: 20px;
	margin-top: 25px;
	margin-bottom: 20px;

	li {
		border-radius: 8px;
		height: 65px;
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked {
			+label {
				border-color: $primary;
				font-weight: bold;
			}
		}
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
		border-radius: 8px;
		border: 1px solid $border-base;

		font-weight: 500;
		font-size: 12px;
		line-height: 1;

		.icon {
			display: block;
			width: 40px;
			height: 40px;
		}

		span {
			margin-bottom: 5px;
		}
	}

	.ui-sortable-helper {
		background-color: rgba(253, 198, 28, 0.451);

		label {
			background-color: rgba(255, 255, 255, 0.702);
		}
	}

	.sortable-placeholder {
		background-color: #fdc61c;
	}
}