/* 메인 */

.logged_info_layer {
	.wrapper {
		padding-top: 0;
	}

	.visual_area {
		padding-top: 56px;
	}

	.header {
		background-color: transparent;
	}

	.acc_area {
		position: relative;

		.welcome_info.after_login {
			position: absolute;
			top: 56px;
			left: 0;
			width: 100%;
		}

		.acc_info_area.scroll_area,
		.acc_info_area.box_none {
			padding-top: 100px;
		}

		.acc_info_area.box_none {
			.scroll_inner {
				margin-right: -20px;
				margin-left: -20px;
				padding-left: 0px;

				.slick-slide {
					padding-left: 0px;
					height: 250px;

					.acc_box {
						margin-left: 20px;
						margin-right: -20px;
					}
				}
			}

			.bg {
				height: 177px;
			}
		}
	}

	&.scrolled {
		.header {
			background-color: #fff;
		}
	}
}

.main_cont {
	.welcome_info {
		color: #333;

		>.container {
			>a {
				height: 42px;
				display: block;

				p {
					padding-top: 2px;
				}

				.ico {
					&.ico_quot_primary {
						display: inline-block;
						background-repeat: no-repeat;
						background-position: center center;
						vertical-align: middle;
						overflow: hidden;
						font-size: 1px;
						color: transparent;
						overflow: hidden;
						text-align: left;
						width: 22px;
						height: 15px;
						line-height: 15px;
						background-image: url(/resources/img/content/ico_quot_primary.png);
						background-size: cover;
					}
				}
			}
		}

		&.after_login {
			background-color: #f9f9f9;
			white-space: nowrap;

			&>.container {
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 26px;
				background: #ffe7d3;

				.welcome {
					display: flex;
					align-items: center;
					padding-top: 1px;

					.ico {
						&.ico_mailbox_md {
							display: inline-block;
							background-repeat: no-repeat;
							background-position: center center;
							vertical-align: middle;
							overflow: hidden;
							width: 21px;
							height: 21px;
							line-height: 21px;
							background: url(/resources/img/content/ico_mailbox_md.png);
							background-size: cover;
							position: absolute;
						}
					}

					.name {
						display: inline-block;
						max-width: 100%;
						white-space: nowrap;
						padding-left: 25px;
					}
				}

				.last_access {
					font-size: 10px;
					padding-top: 5px;
					margin-right: -30px;
				}
			}
		}
	}

	//비쥬얼 배너
	.visual_banner {
		.inner_slider {
			.slide_item {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 280.5px;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					height: 100%;
					width: auto;
					height: auto;
					transform: translateX(-50%) translateY(-50%);
				}
			}

			.slick-dots {
				text-align: center;
				margin-top: -10px;

				li {
					display: inline-block;

					button {
						padding: 0 3px;
						font-size: 1px;
						color: transparent;

						&:after {
							content: '';
							display: block;
							width: 6px;
							height: 6px;
							border-radius: 3px;
							background-color: #ddd;
						}
					}

					&.slick-active {
						button:after {
							background-color: #777;
						}
					}
				}
			}
		}
	}

	//계좌 정보
	.acc_info_area {
		position: relative;
		padding: 17px 20px 0;
		margin-bottom: 15px;
		font-size: 15px;

		&.acc_info_area_main {
			.bg {
				background: #ffe7d3;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 275px;
				z-index: -1;
			}

			.acc_box {
				background-color: #fff;
				filter: drop-shadow(1.5px 7.5px 20px rgba(0, 0, 0, 0.08));
				display: flex;
				flex-direction: column;
				position: relative;
				border-radius: 12px;
				padding: 20px;

				.acc_box_header {
					flex: 0 0 auto;
					display: flex;
					justify-content: space-between;
					margin-bottom: 15px;

					.info {
						flex: 1 1 auto;

						.tit {
							font-size: 15px;
							color: #111;
							font-weight: normal;
						}

						.acc_num {
							margin-top: -2px;
							font-size: 12px;
							color: #999;
						}
					}

					.toolbar {
						.lab_status {
							margin-top: -5px;
						}

						a {
							.ico_submenu {
								display: inline-block;
								background-repeat: no-repeat;
								background-position: center center;
								vertical-align: middle;
								overflow: hidden;
								font-size: 1px;
								color: transparent;
								overflow: hidden;
								text-align: left;
								width: 3px;
								height: 15px;
								line-height: 15px;
								background-image: url(/resources/img/content/ico_submenu.png);
								background-size: 3px 15px;
								margin-right: -1px;
								margin-left: 2px;
							}
						}
					}
				}

				.acc_box_body {
					flex: 1 1 auto;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					padding: 10px 0 12px;
					text-align: center;
					font-size: 13px;
					line-height: 1;

					.inner {
						.balance_area {
							margin-bottom: 15px;

							.balance_num {
								font-size: 28px;
								font-weight: bold;
								color: #111;

								span {
									font-size: 15px;
									color: #111;
									font-weight: 200;

								}
							}

							.txt_xl {
								font-size: 23px;
								font-weight: 400;
							}

						}
					}


					.times_area {
						width: 100%;
						padding: 8px 0 0;

						progress {
							display: block;
							width: 100%;
							height: 2px;
							appearance: none;
							appearance: none;
							display: block;
							width: 100%;
							margin-bottom: 10px;

							&::-webkit-progress-bar {
								background-color: #e5e5e5;
							}

							&::-webkit-progress-value {
								background-color: #ff883a;
							}
						}

						.progress_value {
							display: flex;
							justify-content: space-between;
							font-size: 13px;

							>span {
								color: #555;
								font-weight: 400;

								span {
									color: #333;
								}
							}
						}
					}
				}

				.acc_box_footer {
					flex: 0 0 auto;
					padding-top: 15px;

					.btn_area {
						text-align: center;
						display: flex;

						.btn {
							display: block;
							flex: 1 1 20%;
							font-weight: 500;
							font-size: 15px;
							color: #111;

							&+.btn:before {
								content: '';
								position: absolute;
								left: 0;
								top: 50%;
								transform: translateY(-50%);
								width: 1px;
								height: 17px;
								background-color: #e5e5e5;
							}
						}
					}
				}
			}

			>.btn_area {
				.btn_search {
					margin: 2px 0 10px;
					width: 100%;
					height: 40px;
					border-radius: 8px;
					background-color: #fff;
					border: 1px solid #bbb;
					font-size: 14px;
					font-weight: 500;

					.ico {
						&.ico_search_sm {
							background: url(/resources/img/content/ico_search_sm.png)no-repeat center center;
							width: 15px;
							height: 15px;
							background-size: cover;
							margin-right: 3px;
						}
					}
				}
			}

			&.box_none {
				.bg {
					height: 175px;
				}

				.scroll_inner {
					margin-top: -20px;
					margin-bottom: 40px;
					height: 140px;

					.slick-slide {
						padding: 20px 0;
					}
				}

				.slick-slide {
					.acc_box {
						padding: 54.5px 20px 57px;
						text-align: center;


						.txt_notice {
							font-size: 14px;
							color: #555;
							font-weight: 200;

							.ico {
								&.ico_notice {
									margin-right: 5px;
									margin-top: -3px;
								}
							}
						}
					}
				}
			}
		}
	}

	.scroll_area {
		.scroll_inner {
			margin: -20px;
			padding-left: 0px;

			.slick-list {
				padding: 20px !important;

				.slick-slide {
					height: 250px;
					// filter: drop-shadow(1.5px 7.5px 20px rgba(0, 0, 0, 0.08));

					>div {
						padding-left: 3.5px;
						padding-right: 3.5px;
					}

					&:first-child {
						>div {
							padding-left: 0px;
							margin-left: -1px;
						}
					}

					&:last-child {
						>div {
							padding-right: 0px;
						}
					}
				}
			}
		}
	}
}


//서비스 메뉴
.main_menu {
	margin-bottom: 30px;

	&>.container {
		.menu_box {
			height: 257px;
			margin-top: 20px;
			border-radius: 6px 6px 6px 25px;
			background-color: #fff;
			filter: drop-shadow(0px 12px 20px rgba(0, 0, 0, 0.1));
			overflow: hidden;

			.menu_list {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				padding: 10px 10px 18px;
				text-align: center;
				font-size: 13px;
				line-height: 1;
				font-weight: normal;
				color: #333;

				li {
					a {
						position: relative;
						display: block;
						padding: 10px 0;

					}
				}

				.icon {
					display: block;
					margin: auto;
					width: 40px;
					height: 40px;
					margin-bottom: 3px;
				}
			}
		}
	}
}

//한 줄 공지
.main_notice_ticker {
	padding: 0 20px;

	&>.container {
		background-color: #f6f6f6;
		border-radius: 8px;
		padding: 11px 15px 11px 44px;
		font-size: 13px;

		.notice_area {
			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: -24px;
				top: 3px;
				width: 15px;
				height: 16px;
				background-image: url(/resources/img/content/ico_megaphone_sm.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
			}
		}
	}
}

//이벤트 배너
.main_event_banner {
	margin-top: 25px;

	h3 {
		&.txt_normal {
			padding-left: 0px;
			font-size: 15px;
			color: #333;

			strong {
				font-weight: 500;
			}
		}
	}

	.event_slide {
		margin-top: 10px;
		padding: 0 0 0 15px;
		margin-bottom: 13px;

		.slick-slide {
			display: block;
			width: 220px;
			padding: 0 5px;

			.slide_item {
				// width: 100%;
				display: inline-block;
				width: 209.5px;
				height: 130px;
				border-radius: 5px;

				img {
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 5px;
					object-fit: cover
				}
			}
		}

		.slick-dots {
			text-align: center;
			margin-top: -8px;

			li {
				display: inline-block;

				button {
					padding: 0 3px;
					font-size: 1px;
					color: transparent;

					&:after {
						content: '';
						display: block;
						width: 6px;
						height: 6px;
						border-radius: 3px;
						background-color: #ddd;
					}
				}

				&.slick-active {
					button {
						&:after {
							background-color: #777;
						}
					}
				}
			}
		}
	}
}

//다이렉트 보험
.insur_menu {
	.tab_menu {
		&.tab_menu3 {
			.tab_list {
				display: flex;
				text-align: center;
				font-size: 0;

				li {
					flex: 1 1 auto;
					display: inline-block;
					font-size: 14px;
					border-bottom: 1px solid #ddd;

					a {
						display: block;

						span {
							display: flex;
							justify-content: center;
							align-items: center;
							padding: 0 15px;
							height: 46px;
							font-size: 15px;
							color: #333;
							font-weight: 300;
						}
					}

					&.on {
						border-bottom: 2px solid #ff883a;
						font-weight: 500;

						a {
							span {
								font-weight: 600;
							}
						}
					}
				}
			}
		}
	}

	&>.container {
		// 	padding: 0 20px;
		// 	height: auto;

		.tab_cont {
			width: 100%;
			height: 347px;
			display: none;
			// padding: 0 20px;

			.insur_inner {
				display: flex;
				flex-wrap: wrap;
				margin-right: -10px;

				>li {
					display: inline-block;
					width: calc(50% - 10px);
					height: 153px;
					border-radius: 3px 3px 3px 15px;
					filter: drop-shadow(1.5px 7.5px 10px rgba(0, 0, 0, 0.06));
					background-color: #fff;
					margin-right: 10px;
					margin-bottom: 10px;

					&.bg_pen {
						a dl {
							background: url(/resources/img/content/bg_pension.png)no-repeat top 14px right 15px;
							background-size: 35px 35.5px;
						}
					}

					&.bg_can {
						a dl {
							background: url(/resources/img/content/bg_cancer.png)no-repeat top 14px right 15px;
							background-size: 35.5px 36.5px;
						}
					}

					&.bg_inj {
						a dl {
							background: url(/resources/img/content/bg_injury.png)no-repeat top 14px right 15px;
							background-size: 35px 35px;
						}
					}

					&.bg_life {
						a dl {
							background: url(/resources/img/content/bg_life.png)no-repeat top 15px right 14px;
							background-size: 34px 37px;
						}
					}


					a {
						dl {
							padding: 18px 20px;

							dt {
								display: inline-block;
								min-width: 40px;
								height: 20px;
								border-radius: 2.5px;
								background-color: #ff883a;
								padding: 0px 8.5px;
								text-align: center;
								line-height: 18px;

								span {
									font-size: 12px;
									color: #111;
								}
							}

							dd {
								display: flex;
								flex-direction: column;
								padding-top: 13px;
								width: 100%;

								.tag_area {
									display: inline-block;
									margin-right: 3px;

									.tag_list {
										margin-top: 10px;
										line-height: 15px;

										li {
											display: inline-block;
											font-size: 12px;
											color: #666;

											&:before {
												content: '#';
												margin-right: .5px;
											}
										}
									}
								}

								strong {
									display: inline-block;
									font-size: 15px;
									line-height: 18px;
									color: #333;
									font-weight: 500;
									height: 36px;
									overflow: hidden;
								}
							}
						}
					}
				}
			}
		}
	}
}

//우체국보험 고객센터 링크영역
.insur_custom {
	height: 248px;
	background-color: #f5f5f5;

	&>.container {
		padding-top: 10px;

		.custom_list {
			li {
				padding: 10px 0 3px;

				strong {
					font-size: 15px;
					color: #333;
					font-weight: 500;
					line-height: 27px;
				}

				.link_area {
					a {
						font-size: 12px;
						color: #fff;
						font-weight: 500;
						padding: 0 8px;
					}
				}
			}
		}

		.custom_guide {
			font-size: 13px;
			color: #555;

			&::before {
				content: '';
				display: block;
				width: 320px;
				height: 1px;
				background-color: #e5e5e5;
				margin: 15px 0 11px;
			}
		}
	}
}

//바텀 퀵바
.bottom_quickbar {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
	background-color: #fff;
	border-radius: 20px 20px 0 0;
	filter: drop-shadow(0px -2.5px 7.25px rgba(0, 0, 0, 0.3));
	padding-top: 14px;
	padding-bottom: 6px;
	padding: 14px 4px 6px;
	transition-duration: .3s;
	transition-property: bottom;

	.quickmenu_list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 10px 5px;
		color: #333;
		font-size: 12px;
		font-weight: 500;
		line-height: 1;
		text-align: center;

		li {
			a {
				display: block;
				padding: 0 0 12px;
				width: 60px;
				margin: auto;

				.icon {
					display: block;
					margin: auto;
					width: 40px;
					height: 40px;
				}
			}
		}
	}
}

//내 보험 조회
.popup_inner {
	&.insur_inquiry {
		.popup_header {
			justify-content: center;
		}

		.popup_body {
			&>.container {
				.box {
					&.box_border {
						&.inquiry_list {
							padding: 4px 25px;
							margin-top: 5px;

							dl {
								margin-top: 9px;
								display: flex;
								justify-content: space-between;
								align-items: center;
								border-bottom: 1px solid #ddd;
								padding-bottom: 8px;

								&:last-child {
									border-bottom: 0px;
									padding-bottom: 0px;

									dt {
										padding-bottom: 7px;
									}

									dd {
										line-height: 40px;
									}
								}

								dt {
									font-size: 16px;
									color: #333;
									font-weight: 200;
								}

								dd {
									display: inline-block;
									font-size: 18px;
									color: #333;
									font-weight: 400;
									margin-top: -7px;
									text-align: right;

									span {
										font-size: 20px;
										font-weight: 600;
										margin-right: 4px;
									}
								}
							}
						}
					}
				}

				.tit4 {
					font-size: 16px;
					color: #111;
					font-weight: 500;
				}

				.cont_status {
					display: flex;
					width: 100%;
					margin-top: 6px;

					li {
						margin-right: 7px;
						flex: 1 1 25%;

						&:last-child {
							margin-right: 0px;
						}

						dl {
							width: 100%;
							height: 74px;
							display: inline-block;
							border-radius: 8px;
							padding: 11px;

							&.comp {
								background-color: #d7eaf3;
							}

							&.expir {
								background-color: #eaf6dd;
							}

							&.payment {
								background-color: #f8ecd2;
							}

							&.unpaid {
								background-color: #ffd6c5;
							}

							dt {
								font-size: 15px;
								color: #333;
								font-weight: 200;
								text-align: center;
							}

							dd {
								font-size: 18px;
								color: #333;
								font-weight: 500;
								text-align: center;
								margin-top: 2px;
							}
						}
					}
				}
			}
		}
	}
}