/* 메인 */
.header_main {
	height: $main-header-height;
	border-bottom: 0;
	background-color: transparent;
	transition-duration: .1s;
	transition-property: background-color;

	.scrolled &,
	.info_layer_opened & {
		background-color: #fff;
		border-bottom: 1px solid #eee;
	}
}

.sec_home {
	padding-top: $main-header-height;
	background-color: #fffbef;
}

.logged_info_layer {
	background-color: #ffeaa4;

	.container {
		position: relative;

		.info_cont {}

		.btn_close_info_layer {
			position: absolute;
			right: 0;
			top: 20px;
		}
	}
}