.bg_intro {
	padding: 30px 30px 30px 140px;
	background-repeat: no-repeat;
	background-position: top 50% left 30px;

	&.bg01 {
		background-image: url(#{$url-img}/content/bg_intro01.png)
	}
}

.procedure {
	overflow: hidden;

	>li {
		float: left;
		padding-top: 130px;
		width: 25%;
		text-align: center;
		background-repeat: no-repeat;
		background-position: top 0 center;
		font-weight: 400;

		&:not(:last-child) {
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 55px;
				right: -5px;
				width: 10px;
				height: 19px;
				background:url(#{$url-img-common}/ico_arr_right.png)
			}
		}

		&:nth-child(1) {
			background-image:url(#{$url-img}/content/ico_procedure01.png)
		}

		&:nth-child(2) {
			background-image:url(#{$url-img}/content/ico_procedure02.png)
		}

		&:nth-child(3) {
			background-image:url(#{$url-img}/content/ico_procedure03.png)
		}

		&:nth-child(4) {
			background-image:url(#{$url-img}/content/ico_procedure04.png)
		}
	}
}

.list_big {
	>li {
		font-size: 20px;
		font-weight: 500;

		&:not(:last-child) {
			margin-bottom: 42px;
		}

		>ul {
			padding-left: 5px;
		}
	}

	.list {
		>li {
			font-weight: 300
		}
	}
}

.smartbank_box {
	background:url(#{$url-img}/content/img_smartbank.jpg) no-repeat top 0 left 0;
	padding-left: 415px;
}

.qr_area {
	.qr_box {
		display: inline-block;
		width: 365px;
		padding: 40px;
		background: #f9f9f9;
		border-radius: 5px;
		overflow: hidden;

		&:not(:last-child) {
			margin-right: 26px;
		}

		.pic {
			float: left;
			margin-right: 36px;

			>img {
				vertical-align: top;
			}
		}

		.user {
			padding-top: 45px;
			background-repeat: no-repeat;
			background-position: top 0 center;
			font-size: 20px;
			font-weight: 500;
			text-align: center;
			overflow: hidden;

			&.android {
				background-image:url(#{$url-img}/content/bg_android.png);
			}

			&.ios {
				background-image:url(#{$url-img}/content/bg_ios.png);
			}
		}
	}
}

.service_list {
	overflow: hidden;
	background: #f9f9f9;

	>li {
		float: left;
		width: 25%;
		padding: 16px 33px 22px;

		&:not(:last-child) {
			position: relative;

			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 1px;
				height: 76px;
				top: 50%;
				right: 0;
				margin-top: -38px;
				background: #dddddd;
			}
		}

		>strong {
			font-size: 18px;
			font-weight: 400;

			&+.list {
				padding-left: 5px;
			}
		}
	}
}

.joinway {
	>ol {
		overflow: hidden;

		>li {
			float: left;
			background: #f8f8f8;
			padding: 21px;
			height: 100px;
			border-radius: 10px;
			border: solid 1px #dddddd;
			text-align: center;

			&:nth-child(1) {
				width: 568px;
			}

			&:nth-child(2) {
				width: 250px;
			}

			&:nth-child(3) {
				width: 250px;
			}

			&:not(:last-child) {
				position: relative;
				margin-right: 66px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50px;
					right: -38px;
					margin-top: -10px;
					width: 10px;
					height: 19px;
					background:url(#{$url-img-common}/ico_arr_right.png) no-repeat;
				}
			}
		}
	}
}

.outline {
	border-top: solid 1px #dddddd;
	text-align: center;

	strong {
		display: block;
		background: #f3f3f2;
		border-bottom: solid 1px #dddddd;
		height: 57px;
		line-height: 57px;
		color: #333;
	}

	p {
		border-bottom: solid 1px #dddddd;
		height: 56px;
		line-height: 56px;
	}
}

.transferway {
	.tit2 {
		font-size: 18px;
		font-weight: 400;
		color: #333;
	}

	>ol {
		overflow: hidden;

		>li {
			float: left;
			background: #f8f8f8;
			padding: 21px 15px;
			width: 216px;
			height: 100px;
			border-radius: 10px;
			border: solid 1px #dddddd;
			text-align: center;

			&:not(:last-child) {
				position: relative;
				margin-right: 30px;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 50px;
					right: -20px;
					margin-top: -10px;
					width: 10px;
					height: 19px;
					background:url(#{$url-img-common}/ico_arr_right.png)
				}
			}
		}
	}
}

.situation {
	overflow: hidden;
	margin-bottom: -50px;

	>li {
		float: left;
		width: 25%;
		height: 134px;
		padding: 0 10px 0 102px;
		background-repeat: no-repeat;
		background-position: top 0 left 0;

		&:nth-child(1) {
			background-image:url(#{$url-img}/content/bg_situation01.png);
		}

		&:nth-child(2) {
			background-image:url(#{$url-img}/content/bg_situation02.png);
		}

		&:nth-child(3) {
			background-image:url(#{$url-img}/content/bg_situation03.png);
		}

		&:nth-child(4) {
			background-image:url(#{$url-img}/content/bg_situation04.png);
		}

		&:nth-child(5) {
			background-image:url(#{$url-img}/content/bg_situation05.png);
		}

		&:nth-child(6) {
			background-image:url(#{$url-img}/content/bg_situation06.png);
		}

		&:nth-child(7) {
			background-image:url(#{$url-img}/content/bg_situation07.png);
		}

		b {
			font-size: 18px;
			font-weight: 500;
		}
	}
}

.app_view {
	.pic {
		box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.05);
		border-radius: 25px;
	}

	img {
		vertical-align: top;
	}
}