//보험 메인
.main_promotion {
	position: relative;
	margin-top: 5px;

	.main_promotion_slide {
		&>div {
			position: relative;

			.btn_area {
				width: 1200px;
				margin: auto;

				a {
					&.more_link {
						display: flex;
						position: absolute;
						bottom: calc(50% - 144px);
						align-items: center;
						justify-content: center;
						width: 137px;
						height: 46px;
						border-radius: 6px;
						border: 1px solid #333;
					}
				}
			}
		}

		.slick-slide {
			overflow: hidden;
			height: 635px;

			a {
				display: block;
				position: relative;
				height: 635px;

				&>img {
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
					max-width: none;
					display: block;
				}
			}
		}
	}

	.rolling_info {
		display: flex;
		position: absolute;
		left: calc((100% - 900px) / 3);
		bottom: 55px;
		padding-left: 20px;
		align-items: center;

		.nums {
			display: inline-block;
			vertical-align: middle;
			position: relative;

			strong {
				margin-right: 70px;
			}

			&>* {
				font-weight: bold;
			}

			.bar {
				border-top: 1px solid #b2b2b2;
				width: 50px;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);

				span {
					border-top: 1px solid #111;
					position: absolute;
					left: 0;
					top: -1px;
					-webkit-transition: all .3s ease-in-out;
					transition: all .3s ease-in-out;
				}
			}
		}

		.btn_ctrl {
			display: inline-block;
			vertical-align: middle;
			margin-left: 13px;

			button {
				width: 24px;
				height: 24px;
				line-height: 1000px;
				overflow: hidden;
				display: block;
				border-radius: 50%;

				&.btn_pause {
					background: url(/resources/img/content/btn_rolling_pause.gif) 0 0 no-repeat;
				}

				&.btn_play {
					background: url(/resources/img/content/btn_rolling_play.gif) 0 0 no-repeat;
				}
			}

		}
	}
}

//새소식
.sec_news {
	padding-bottom: 46px;

	&>.container {
		display: flex;
		padding-top: 65px;

		.new_news_list {
			position: relative;
			width: 572px;

			&>h3 {
				margin-bottom: 23px;
				line-height: 1;
				font-weight: 500;
				font-size: 30px;
				color: #111;
			}

			&>ul {
				li {
					display: block;
					width: 100%;
					align-items: center;
					background-image: url(/resources/img/content/ico_arr_r.png);
					background-position: calc(100% - 10px) 60%;
					background-repeat: no-repeat;

					&:not(:last-child) {
						border-bottom: 1px solid #eee;
					}

					a {
						display: block;
						padding: 14px 60px 14px 0;
						flex: 1;
						width: 100%;
						line-height: 1;

						strong {
							display: block;
							overflow: hidden;
							margin-bottom: 8px;
							text-overflow: ellipsis;
							white-space: nowrap;
							font-weight: 200;
							color: #555;
							font-size: 16px;
						}

						span {
							display: block;
							color: #888;
							font-size: 16px;
							font-weight: 200;
						}
					}

				}
			}

			.more_link {
				position: absolute;
				right: 13px;
				font-size: 14px;
				color: #555;
				top: 0px;

				&:after {
					display: inline-block;
					content: '';
					width: 18px;
					height: 8px;
					margin-left: 2px;
					background: url(/resources/img/content/ico_arr_more.png) no-repeat 0 0;
				}
			}
		}

		.eventzone {
			width: 576px;
			margin-left: auto;
			position: relative;

			&>h3 {
				margin-bottom: 30px;
				line-height: 1;
				font-weight: 500;
				font-size: 30px;
				color: #111;
				padding-left: 5px;
			}

			img {
				width: 100%;
				border-radius: 10px;
			}

			.slick-slide {
				height: 100%;
				margin-left: 5px;
			}

			.event_rollong {
				display: flex;
				position: absolute;
				right: 0;
				top: 10px;
				padding-left: 20px;
				align-items: center;

				.nums {
					display: inline-block;
					vertical-align: middle;
					position: relative;

					strong {
						margin-right: 70px;
					}

					&>* {
						font-weight: bold;
					}

					.bar {
						border-top: 1px solid #b2b2b2;
						width: 50px;
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);

						span {
							border-top: 1px solid #111;
							position: absolute;
							left: 0;
							top: -1px;
							-webkit-transition: all .3s ease-in-out;
							transition: all .3s ease-in-out;
						}
					}
				}

				.btn_ctrl {
					display: inline-block;
					vertical-align: middle;
					margin-left: 13px;

					button {
						width: 24px;
						height: 24px;
						line-height: 1000px;
						overflow: hidden;
						display: block;
						border-radius: 50%;

						&.btn_pause {
							background: url(/resources/img/content/btn_rolling_pause.gif) 0 0 no-repeat;
						}

						&.btn_play {
							background: url(/resources/img/content/btn_rolling_play.gif) 0 0 no-repeat;
						}
					}

				}
			}

		}
	}
}

//내게 맞는 상품 찾기
.product_search {

	&>.container {
		width: 1200px;
		position: relative;
		min-height: 158px;

		.search_top {
			width: 1200px;
			height: 158px;
			border-radius: 6px;
			background-color: #ffcba9;
			display: flex;
			padding: 33px 40px;
			z-index: 2;
			position: absolute;

			.search_area {
				&>h3 {
					font-size: 20px;
					color: #333;
					font-weight: 500;
					display: flex;
					align-items: center;
					margin-bottom: 12px;

					.ico {
						&.ico_product {
							width: 25px;
							height: 26px;
							display: inline-block;
							background: url(/resources/img/content/ico_product.png);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;
							margin-right: 10px;
							line-height: 20px;
						}
					}
				}

				.tf_search {
					position: relative;
					display: block;

					input {
						width: 392px;
						height: 45px;
						border-radius: 6px;
						background-color: #fff;
						border: 1px solid #111;

						&::placeholder {
							color: #666;
							font-weight: 200;
						}
					}

					button {
						position: absolute;
						right: -5px;
						top: calc(50% - 15.5px);

						.ico {
							&.ico_search_sm {
								width: 20px;
								height: 21px;
								display: block;
								background: url(/resources/img/content/ico_search_sm.png);
								background-repeat: no-repeat;
								background-position: center center;
								background-size: cover;
							}
						}
					}
				}
			}

			.tag_area {
				margin-left: 72px;
				// width: 268px;

				&>h3 {
					font-size: 20px;
					color: #333;
					font-weight: 500;
					display: flex;
					align-items: center;
					margin-bottom: 7px;

					.ico {
						&.ico_product_tag {
							width: 27px;
							height: 27px;
							display: inline-block;
							background: url(/resources/img/content/ico_product_tag.png);
							background-repeat: no-repeat;
							background-position: center center;
							background-size: cover;
							margin-right: 5px;
							line-height: 20px;
						}
					}

					a {
						.ico {
							&.ico_arr_more02 {
								width: 7px;
								height: 15px;
								display: inline-block;
								background: url(/resources/img/content/ico_arr_more02.png);
								background-repeat: no-repeat;
								background-position: center center;
								background-size: 7px 12px;
								margin-left: 3px;
							}
						}
					}
				}

				.tag_list {
					display: flex;
					flex-wrap: wrap;

					li {
						a {
							.item_tag {
								margin-right: 10px;
								font-weight: 400;

								&:before {
									content: '#';
									display: inline-block;
									margin-right: -3px;
								}

								&.current {
									font-weight: 500;
									border-bottom: 1px solid #111;
								}
							}
						}
					}
				}
			}

			.btn_area {
				margin-left: 72px;
				margin-top: 8px;
				width: 315px;
				height: 78px;

				ul {
					display: flex;
					flex-wrap: wrap;

					li {
						margin-left: 4px;
						margin-bottom: 4px;

						a {
							display: inline-block;
							width: 120px;
							height: 36px;
							border-radius: 6px;
							background-color: #fff;
							font-size: 15px;
							font-weight: 400;
							line-height: 36px;
							color: #111;
							text-align: center;

							&.active {
								background-color: #ff883a;
							}
						}
					}
				}
			}
		}

		.search_inner {
			display: block;
			width: 1199px;
			height: auto;
			border-radius: 1px;
			background-color: #fff6f1;
			padding-top: 158px;

			.search_box {
				padding: 15px 40px 0px;
				margin-top: -5px;

				.time {
					font-size: 14px;
					line-height: 30px;
					color: #555;
					font-weight: 300;
				}

				.txt_result {
					font-size: 20px;
					line-height: 60px;
					color: #111;
					font-weight: 300;
					display: flex;
					align-items: center;
					border-bottom: 1px solid #111;

					&:before {
						content: '';
						display: inline-block;
						width: 20px;
						height: 20px;
						background: url(/resources/img/content/ico_arr_circle_bullet03.png)no-repeat center bottom;
						background-size: 20px 20px;
						margin-right: 8px;
					}

					span {
						color: #ce4900;
						font-weight: 500;
						margin-left: 3px;
					}
				}

				.n_insureance_style {
					display: inline-block;
					width: 100%;

					&>div {
						border: none;
					}

					.left {
						width: 55%;
						float: left;
						padding-left: 25px;

						.ins_txt_list {
							display: inline-block;
							vertical-align: middle;
							margin-right: 0px;

							li {
								font-size: 14px;
								font-weight: 200;
								color: #555;
								padding: 0 7px;
								position: relative;
								display: inline-block;
								vertical-align: top;


								&:first-child {
									padding-left: 0;
									position: relative;

									&:before {
										content: none;
									}
								}

								&:before {
									content: "";
									display: block;
									border-left: 1px solid #ddd;
									height: 12px;
									position: absolute;
									left: 0;
									top: 50%;
									margin-top: -6px;
								}
							}

							span {
								span {
									font-size: 14px;
									font-weight: 400;
									line-height: 24px;
									color: #555;
								}
							}

							&.round {
								border: 1px solid #ddd;
								border-radius: 30px;
								padding: 0px 10px 0px 10px;
								margin-right: 5px;
								background-color: #fff;
								height: 28px;

								li {
									padding: 0 8px;
								}
							}
						}


						.ins_tit {
							display: block;
							font-size: 26px;
							letter-spacing: -1px;
							line-height: 25px;
							color: #111;
							font-weight: 500;
							margin: 18px 0 13px;
						}

						.hash {
							font-size: 14px;
							line-height: 30px;
							color: #666;
							font-weight: 300;
						}
					}

					.right {
						width: 45%;
						float: right;
						text-align: right;

						.btn_box {
							a {
								margin-left: 5px;
							}
						}

						.price_info {
							margin-top: 35px;
							margin-right: -30px;
							line-height: 31px;

							li {
								display: inline-block;
								vertical-align: middle;
								padding: 0 50px;
								text-align: center;
								position: relative;

								&:first-child {
									&:before {
										content: none;
									}
								}

								&:before {
									content: "";
									display: block;
									border-left: 1px solid #eee;
									height: 50px;
									position: absolute;
									left: 0;
									top: 50%;
									margin-top: -25px;
								}

								em {
									display: block;
									color: #666;
									font-style: normal;
									font-size: 18px;
									// line-height: 18px;

									&.first {
										font-weight: 500;
										color: #111;
										line-height: 31px;
										margin-top: -10px;
									}
								}

								strong {
									display: block;
									font-size: 20px;
								}

								>span {
									display: block;
									font-size: 16px;
									margin: 0 -15px;
									color: #666;
									font-weight: 200;
									line-height: 16px;



									span {
										font-size: 15px;
										color: #111;
										display: inline-block;
										vertical-align: top;
										position: relative;
										padding: 0 12px;
										padding-left: 10px;
										margin: 0;
										font-weight: 500;

										&:first-child {
											&::before {
												content: none;
											}
										}

										&:before {
											content: "";
											display: block;
											border-left: 1px solid #ddd;
											height: 12px;
											position: absolute;
											left: 0;
											top: 50%;
											margin-top: -6px;
										}
									}
								}
							}
						}
					}
				}
			}

			.search_box {
				&.box_type02 {
					padding: 15px 48px 0px;

					.top_area {
						display: flex;
						margin-top: 35px;
						align-items: center;
						height: 47px;

						.txt_result {
							font-size: 36px;
							line-height: 49px;
							color: #111;
							font-weight: 500;
							border-bottom: none;
							width: 33%;

							&:before {
								content: none;
							}
						}

						.info {
							font-size: 16px;
							line-height: 23px;
							color: #111;
							font-weight: 300;
							margin-top: 10px;
							display: inline-block;
							letter-spacing: -.5px;

							span {
								padding-left: 20px;
								display: inline-block;
							}

							&:before {
								content: '';
								display: inline-block;
								width: 18px;
								height: 25px;
								background: url(/resources/img/content/ico_info.png)no-repeat center top calc(50% - 2px);
								background-size: 18px 18px;
								position: absolute;
							}
						}
					}

					.body_area {
						margin-top: 40px;
						padding-bottom: 40px;

						.tf_title {
							font-size: 20px;
							font-weight: 500;
							line-height: 30px;
							color: #111;
							margin-right: 23px;

							&+input {
								color: #999;
								font-size: 16px;
								font-weight: 300;
							}
						}

						.gender_chk {
							font-size: 0;
							display: inline-block;
							vertical-align: top;
							position: relative;
							margin-left: 10px;

							span {
								position: relative;
								display: inline-block;
								vertical-align: middle;
								margin-left: -1px;

								input {
									opacity: 0;
									position: absolute;
									left: 0;
									top: 0;

									&:not(:focus-visible)+label {
										outline: 0;
									}

									&:checked+label {
										border-color: #ff883a;
										color: #ce4900;
									}
								}

								label {
									border: 1px solid #ddd;
									border-radius: 0 5px 5px 0;
									font-size: 16px;
									line-height: 18px;
									color: #333;
									padding: 13px 25px;
									display: inline-block;
									font-weight: 400;
									background-color: #fff;
								}

								&:first-child label {
									border-radius: 5px 0 0 5px;
								}
							}

							&:before {
								content: "";
								display: block;
								border-left: 1px solid #ff883a;
								position: absolute;
								left: 50%;
								margin-left: -1px;
								top: 0;
								bottom: 0;
								z-index: 5;
							}
						}

						p {
							&.txt_info {
								font-size: 14px;
								color: #555;
								font-weight: 200;
								margin-top: 34px;
								margin-bottom: 5px;
							}
						}

						&>.btn_area {
							margin-right: -7px;

							.btn {
								width: 156px;
								font-weight: 500;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
	}
}

//다이렉트보험
.insur_area {
	padding-top: 40px;


	.tab_menu_type4 {
		ul {
			display: flex;

			li {
				flex: 1 1 0;

				a {
					display: block;
					position: relative;
					height: 70px;
					line-height: 70px;
					text-align: center;
					font-size: 30px;
					// line-height: 62px;
					color: #111;
					font-weight: 300;

					&:after {
						content: '';
						display: block;
						width: 600px;
						height: 2px;
						background-color: #ddd;
					}

					&.current,
					&:hover {
						font-weight: 500;

						&:after {
							content: '';
							display: block;
							width: 600px;
							height: 2px;
							background-color: #ff883a;
						}
					}
				}
			}
		}
	}

	.tab_cont {
		padding-top: 53px;
		display: none;

		.insur_inner {
			display: flex;
			margin-right: -20px;

			>li {
				display: inline-block;
				margin-right: 20px;
				width: calc(25% - 20px);
				border-radius: 5px 5px 5px 30px;
				height: 278px;
				// box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);
				background-color: #fff;
				filter: drop-shadow(3.374px 14.616px 20px rgba(0, 0, 0, 0.06));

				a {
					display: block;
					width: 100%;
					height: 278px;
					box-sizing: border-box;
					padding: 30px;

					dl {
						display: block;
						font-weight: 400;

						dt {
							display: inline-block;
							margin-bottom: 25px;
							line-height: 1;


							span {
								display: inline-block;
								min-width: 55px;
								height: 32px;
								font-size: 16px;
								line-height: 31px;
								color: #111;
								padding: 0 13px;
								border-radius: 5px;
								background-color: #ff883a;
								text-align: center;
							}
						}

						dd {
							strong {
								font-size: 26px;
								color: #111;
								font-weight: 500;
								line-height: 32px;

								>span {
									display: block;
									font-weight: 200;
								}
							}

							.tag_list {
								display: flex;
								flex-wrap: nowrap;
								margin-bottom: 40px;
								position: absolute;
								bottom: 0;
								height: 20px;
								overflow: hidden;

								li {
									margin-right: 7px;
									font-weight: 400;
									font-size: 16px;
									line-height: 24px;
									color: #666;
									font-weight: 300;

									&:before {
										content: '#';
										display: inline-block;
										margin-right: 0px;
									}
								}
							}
						}

					}
				}

				&.bg_pen {
					a {
						background: url(/resources/img/content/bg_pension.png) right 10px bottom 10px no-repeat;
						background-size: 79px 80px;
						display: inline-block;
					}
				}

				&.bg_can {
					a {
						background: url(/resources/img/content/bg_cancer.png) right 14px bottom 10px no-repeat;
						background-size: 88px 90px;
						display: inline-block;
					}
				}

				&.bg_inj {
					a {
						background: url(/resources/img/content/bg_injury.png) right 15px bottom 12px no-repeat;
						background-size: 84px 84px;
						display: inline-block;
					}
				}

				&.bg_life {
					a {
						background: url(/resources/img/content/bg_life.png) right 15px bottom 10px no-repeat;
						background-size: 88px 96px;
						display: inline-block;
					}
				}
			}
		}

		.insur_more {
			width: 100%;
			margin: 12px auto;
			display: flex;

			a {
				width: 100%;
				padding: 20px;
				text-align: center;
				padding-left: 35px;
				font-size: 16px;
				color: #666;
				font-weight: 300;

				.ico {
					&.ico_arr_more {
						display: inline-block;
						width: 18px;
						height: 8px;
						margin-left: 5px;
						background: url(/resources/img/content/ico_arr_more.png) no-repeat 0 0;
					}
				}
			}
		}
	}
}

//고객센터/APP
.insur_customer {
	padding: 45px 0 66px;

	&>.container {
		display: flex;

		.insur_cus {
			width: 50%;

			h3 {
				margin-bottom: 22px;
				line-height: 1;
				font-weight: 500;
				font-size: 28px;
				color: #111;
			}

			p {
				font-size: 16px;
				line-height: 16px;
				color: #555;
				font-weight: 300;
				color: #555;
			}

			&>dl {
				display: flex;
				margin-top: 58px;
				align-items: baseline;
				line-height: 1;

				dt {
					margin-right: 19px;
					font-weight: 400;
					font-size: 18px;
					color: #111;
				}

				dd {
					font-weight: 700;
					font-size: 30px;
					color: #111;

					&:last-child {
						&:before {
							display: inline-block;
							content: '';
							width: 1px;
							height: 22px;
							margin-right: 20px;
							margin-left: 20px;
							background: #ddd;
						}
					}
				}
			}
		}

		.fin_app {
			// padding-left: 18px;
			padding: 0px 18px;
			width: 50%;

			h3 {
				margin-bottom: 22px;
				line-height: 1;
				font-weight: 500;
				font-size: 28px;
				color: #111;
			}

			ul {
				display: flex;
				margin-right: 30px;

				li {
					width: 25%;

					a {
						display: block;
						padding-top: 82px;
						background-repeat: no-repeat;
						background-position: 50% 0;
						font-weight: 400;
						color: #333;
						text-align: center;

						&.app_ins {
							background-image: url(/resources/img/content/ico_app_smins.png);
						}

						&.app_bk {
							background-image: url(/resources/img/content/ico_app_smbk.png);
						}

						&.app_postpay {
							background-image: url(/resources/img/content/ico_app_postpay.png);
						}

						&.app_member {
							background-image: url(/resources/img/content/ico_app_member.png);
						}
					}

					&:not(:last-child) {
						margin-right: 60px;
					}
				}
			}
		}
	}
}

//우체국 보험 바로가기
.dep_link {
	display: flex;
	height: 70px;
	background-color: rgba(244, 133, 60, 0.12);
	align-items: center;
	justify-content: center;
	font-size: 20px;

	a {
		display: inline-flex;
		position: relative;
		align-items: center;
		margin-left: -40px;

		strong {
			margin-left: 3px;
			color: #111;
			font-weight: 500;
		}

		&:before {
			content: '';
			width: 143px;
			height: 96px;
			margin: -18px 40px 0 0;
			background: url(/resources/img/content/img_pigbank.png) no-repeat 0 0;
		}

		&:after {
			display: inline-block;
			content: '';
			width: 15px;
			height: 15px;
			margin-top: 3px;
			margin-left: 14px;
			background: url(/resources/img/content/ico_arr_circle_link.png);
			// background-size: cover;
		}
	}
}