/* 스마트 보험 */

.section {
	margin-top: 45px;
}

.over_tab {
	&.tab_menu {
		margin: 0 -20px 15px;

		&:after,
		&:before {
			display: none !important;
		}
	}
}

.bottom_fixed_area {
	.insurance_list {
		.empty {
			text-align: center;
			padding: 40px 0;
			font-size: 13px;
			line-height: 15px;
			color: #555;
		}

		ul {
			padding: 20px;

			li {
				font-size: 0;
				padding: 7px 0px;

				span {
					float: left;
					width: calc(100% - 150px);
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
					line-height: 20px;
					font-size: 14px;
				}

				strong {
					display: inline-block;
					vertical-align: middle;
					width: 125px;
					padding: 0 3px 0 7px;
					font-size: 14px;
					line-height: 20px;
					text-align: right;
				}

				button {
					display: inline-block;
					vertical-align: middle;
					margin-left: 5px;
				}
			}
		}
	}

	.total_payment {
		a {
			font-size: 14px;
			line-height: 16px;
			position: relative;
			display: block;
			padding: 14px 20px;
			background: $border-light;

			&:before {
				content: "";
				display: block;
				width: 10px;
				height: 10px;
				border: 2px solid #555;
				border-width: 2px 2px 0 0;
				position: absolute;
				right: 20px;
				top: 50%;
				margin-top: -3px;
				transform: rotate(-45deg);
			}

			em {
				margin-left: 10px;
				color: #ce4900;
				font-weight: bold;
				font-style: normal;
			}

			&.active {
				&:before {
					margin-top: -10px;
					transform: rotate(135deg);
				}
			}
		}
	}
}

.complete_txt {
	text-align: center;
	padding: 20px 0 30px;

	strong {
		font-weight: 200;
		font-size: 22px;
		letter-spacing: -0.5px;

		span {
			font-size: 22px;
			font-weight: 400;
		}
	}

	p {
		font-size: 13px;
		line-height: 20px;
		color: #555;
		margin-top: 5px;
	}
}

.contract_list {
	padding: 10px 0 20px;

	>ul {
		>li {
			>a {
				display: block;
			}

			margin-top: 20px;
			position: relative;

			&:first-child {
				margin-top: 0;
			}

			.list_name {
				display: block;
				font-size: 16px;
				line-height: 20px;
				color: #111;
				font-weight: 500;
			}


			.evidence_contract {
				font-size: 0;
				padding-top: 7px;
				display: table;
				width: 100%;

				.blit {
					display: table-cell;
					vertical-align: middle;
					font-style: normal;
					width: 1%;
					padding-right: 10px;

					.lab_status {
						color: #fff;

						&.type1 {
							background: #0070c0;
						}

						&.type2 {
							background: #317c13;
						}

						&.type3 {
							background: #304d62;
						}

						&.type4 {
							background: #953735;
						}

						&.type5 {
							background: #28788e;
						}

						&.type6 {
							background: #6d6d6d;
						}

						&.type7 {
							background: #FF883A;
						}

						&.type8 {
							background: #8e7009;
						}
					}
				}

				.info {
					padding: 4px 0;
					display: table-cell;
					vertical-align: middle;

					>span {
						display: block;
						margin-top: 3px;

						&:first-child {
							margin-top: 0;
						}

						strong {
							color: #666;
							min-width: 55px;
							padding-right: 15px;
							font-size: 11px;
							font-weight: 200;
							line-height: 13px;
						}

						span {
							font-size: 11px;
							line-height: 13px;
						}
					}
				}
			}

			.in_detail {
				position: relative;
				display: block;
				margin-top: 10px;
				padding-top: 10px;

				&:before {
					content: "";
					display: block;
					border-top: 1px solid $border-base;
					position: absolute;
					left: -19px;
					top: 0;
					right: -19px;
				}

				span {
					display: block;
					overflow: hidden;
					margin-top: 4px;

					&:first-child {
						margin-top: 0;
					}

					em {
						float: left;
						font-style: normal;
						font-size: 12px;
						color: #666;
						font-weight: 200;
					}

					strong {
						float: right;
						font-size: 12px;
						color: #111;
						font-weight: 500;
					}
				}
			}

			.tf_item {
				margin-top: 15px;
			}
		}
	}

	.total_price {
		font-size: 16px;
		line-height: 20px;
		text-align: right;
		padding: 15px 0;

		&.round_color {
			background: #fef0e7;
			border-radius: 8px;
			padding-right: 15px;
			margin-top: 15px;
		}

		strong {
			color: #ce4900;
		}
	}
}

.btn_group {
	&.length2 {
		font-size: 0;
		margin-top: 15px;

		a {
			width: calc(50% - 5px);
			margin-left: 4px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.payment_way {
	.tab {
		font-size: 0;
		display: flex;
		margin-bottom: 15px;

		li {
			position: relative;
			display: inline-flex;
			align-items: center;
			justify-content: center;

			vertical-align: middle;
			white-space: nowrap;
			overflow: hidden;
			flex: 1 1 20%;
			margin-left: 5px;
			border: 1px solid $border-base;
			border-radius: 30px;

			&:first-child {
				margin-left: 0;
			}

			a {
				height: 35px;
				line-height: 33px;
				display: block;
				color: $gray;
				font-size: 14px;
				width: 100%;
				text-align: center;
			}

			&.on {
				border-color: $primary;

				a {
					color: $black;
				}
			}
		}
	}
}

.add_certification {
	.tab {
		overflow: hidden;
		margin-bottom: 15px;

		li {
			margin-left: 10px;
			background: $primary;
			float: left;
			width: calc(50% - 5px);
			text-align: center;
			border-radius: 10px;

			&:nth-child(1) {
				margin-left: 0;
			}

			a {
				display: block;
				padding: 15px 0;
				font-size: 16px;
				font-weight: 500;

				&:before {
					content: "";
					display: inline-block;
					width: 22px;
					height: 21px;
					position: relative;
					top: 3px;
					margin-right: 7px;
					background: url(#{$url-img}/content/ico_certification1.png) 0 0 no-repeat;
					background-size: 100% 100% !important;
				}
			}

			&:nth-child(2) {
				a {
					&:before {
						background: url(#{$url-img}/content/ico_certification2.png) 0 0 no-repeat;
					}
				}
			}
		}
	}

	.list {
		padding-bottom: 80px;
	}
}

.ico {
	&.right_center {
		position: absolute;
		right: 20px;
		top: 50%;
		margin-top: -10px;
	}
}