//금융상품몰(홈)_ 추가 및 수정

//상품 비교하기
.txt_sm_15 {
	font-size: 15px;
}

.txt_sm_12 {
	font-size: 12px;
}

//상품 필터
.btn_gray02 {
	background-color: #eee;
	color: #999;

	.ico {
		&.ico_cart_compare {
			opacity: 0.5;
		}
	}

	.num_circle {
		background-color: #666;
	}
}

.filter_chk {
	>.chk_item {
		position: relative;
	}
}

.tbl_data {
	table {
		tbody {
			tr:nth-child(2) {
				th {
					&.rank_type {
						background-position: 50% 45%;
						padding-bottom: 35px
					}
				}
			}

			tr:nth-child(3) {
				th {
					&.rank_type {
						background-position: 50% 45%;
						padding-bottom: 35px
					}
				}
			}

			tr:nth-child(4) {
				th {
					&.rank_type {
						background-position: 50% 45%;
						padding-bottom: 35px
					}
				}
			}
		}
	}
}

//평가하기 팝업
//펀드 매수구분 팝업
.popup_type03 {
	.popup_header {
		height: 77px;

		.popup_tit {
			height: 77px;
		}
	}

	.txt_xl_35 {
		font-size: 35px;
	}

	.btn_close_popup {
		height: 77px;
	}

	.popup_body {
		.input_items {
			display: flex;
			align-items: center;

			&.ico_items {
				.check_item {
					position: relative;
					display: flex;
					align-items: center;
					border-radius: 9px;
					width: 100%;
					box-sizing: border-box;
					flex: 1 1 calc(33.333% - 10px);

					&+.check_item {
						margin-left: 20px;
					}

					input[type=radio] {
						position: absolute;
						width: 1px;
						height: 1px;
						opacity: 0;

						&+label {
							width: 100%;
							padding: 20px 10px;
							background: #f8f8f8;
							border: 1px solid #f8f8f8;
							border-radius: 9px;
							display: inline-flex;
							flex-direction: column;

							.ico {
								&.ico_new_purchase {
									display: inline-flex;
									background: url(/resources/img/content/ico_new_purchase.png);
									background-repeat: no-repeat;
									background-size: 70px 54px;
									background-position: center top;
									width: 70px;
									height: 56px;
									padding-bottom: 2px;
									margin: 0 auto;
								}

								&.ico_add_purchase {
									display: inline-flex;
									background: url(/resources/img/content/ico_add_purchase.png);
									background-repeat: no-repeat;
									background-size: 100% 100%;
									background-position: center center;
									width: 70px;
									height: 56px;
									margin: 0 auto;
								}
							}
						}

						&:checked {
							&+label {
								background-color: #fff !important;
								border: 1px solid #fdc61c;
								border-radius: 9px;
								box-sizing: border-box;
								width: 100%;
							}
						}
					}

					.txt_guide02 {
						text-align: center;
						font-size: 14px;
						color: #555;
						line-height: 19px;
					}
				}
			}
		}
	}
}