// 가입

// 공통 스타일 지역 커스텀
.cont_join {
	.btn_primary {
		background-color: #131e32;
		color: #fff;
	}

	// 텍스트 커스텀
	.txt_blue {
		color: #0d63ce;
	}

	.txt_default {
		color: #333;
	}

	.s_tit1 {
		font-size: 23px;
		color: #333;
		font-weight: 500;
	}


}

// 콘텐츠 스타일 하단 정의
.box_join {
	padding: 50px 0 45px;
	border: 1px solid #e3e3e3;

	ol,
	ul {
		display: flex;
		align-items: center;
	}

	.join_item {
		display: inline-block;
		width: 33%;
		vertical-align: top;

		dt {
			position: relative;
			display: block;
			padding-top: 71px;
			color: #0d63ce;
			font-size: 16px;
			font-weight: 400;
			line-height: 1.5;
			text-align: center;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: calc(50% - 24px);
				width: 48px;
				height: 57px;
				background-image: url(#{$url-img}/content/ico_login_certification01.png);
				background-size: 48px 57px;
				background-repeat: no-repeat;
				background-position: 0 0;
			}
		}

		dd {
			color: #333;
			font-weight: 500;
			text-align: center;
			line-height: 18px;

			small {
				display: block;
				font-weight: 200;
			}
		}

		&:nth-child(2) {
			dt {
				&:after {
					left: calc(50% - 35px);
					width: 65px;
					height: 58px;
					background-image: url(#{$url-img}/content/ico_login_certification04.png);
					background-size: 65px 58px;
					background-position: 0 0;
				}
			}
		}

		&:nth-child(3) {
			dt {
				&:after {
					left: calc(50% - 30px);
					width: 60px;
					height: 57px;
					background-image: url(#{$url-img}/content/ico_login_certification05.png);
					background-size: 60px 57px;
					background-position: 0 0;
				}
			}
		}

		.tooltip.tooltip_md {
			display: none;
		}
	}

	.tooltip_box {
		position: relative;
		display: inline-block;
	}
}

.step_list {

	>li {
		width: calc(100% / 5);
		position: relative;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		text-align: center;

		span {
			margin-top: 10px;
		}

		&:last-child {
			&:after {
				display: none;
				;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: calc(50% - 6px);
			width: 7px;
			height: 12px;
			background: url(#{$url-img-common}/ico_arr_right_sm.png) right center no-repeat;
			background-size: 7px 12px;

		}
	}
}

.ref_note {
	li {
		position: relative;
		font-size: 16px;
		padding-left: 20px;

		&:before {
			position: absolute;
			top: 0;
			left: 0%;
			display: inline-block;
			content: '※';

		}
	}
}

.inline-block {
	>* {
		display: inline-block;
	}

	.block {
		display: block;
	}
}

/* 보험료 추천 */
.box_inner {
	height: 520px;
	overflow-y: auto;
}

.product_list {
	>li {
		display: flex;
		padding: 14px 30px 19px;
		border-bottom: 4px solid #f7f7f7;

		&:last-child {
			border-bottom: none;
		}
	}

	.product_info {
		width: calc(100% - 300px);

		&:after {
			content: '';
			clear: both;
			display: inline-block;
		}

		.left {
			float: left;
			width: 60%;
		}

		.right {
			float: right;
			text-align: right;
			font-size: 16px;
		}

		.inline_block {
			display: inline-block;

			&.block {
				display: block;
			}

			&.block_line {
				display: block;

				span {
					position: relative;
					padding: 0 14px 0 10px;

					em {
						font-style: normal;
						font-weight: 400;
					}

					&:after {
						content: '';
						position: absolute;
						top: calc(50% - 6px);
						right: 0;
						width: 1px;
						height: 12px;
						background-color: #ddd;
					}

					&:last-child {
						padding-right: 0;

						&:after {
							display: none;
						}
					}
				}
			}
		}


		.product_tit {
			display: inline-block;
			font-size: 24px;

			.ico_new_red {
				position: relative;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 23px;
				margin-top: -5px;
				margin-left: 15px;
				border-radius: 10px;
				border: 0;
				color: #fff;
				font-weight: 500;
				font-size: 11px;
				background-color: #d70000;
				vertical-align: middle;


				&:before {
					content: '';
					position: absolute;
					top: calc(50% - 4px);
					left: -2px;
					width: 3px;
					height: 3px;
					border-left: 4px solid #d70000;
					border-bottom: 4px solid #d70000;
					transform: rotate(45deg);
				}
			}
		}

		.tag_group {
			display: block;

			span {
				font-size: 16px;
				margin: 0 5px;
				font-weight: 200;
				color: #0d63ce;

				&:first-child {
					margin-left: 5px;
					padding-left: 0;
				}

				&:before {
					content: '# ';
					display: inline-block;
				}
			}
		}

		.btn_round {
			height: 30px;
			border-radius: 15px;
			border: 1px solid #dfdfdf;
			font-weight: 200;
			letter-spacing: -5;
		}

		.price {
			display: inline-block;
			padding-left: 6px;
			font-size: 20px;
			vertical-align: middle;

			strong {
				padding-left: 10px;
				font-size: 30px;
				line-height: 37px;
				color: #e12547;
			}
		}
	}
}

.product_btn_group {
	width: 300px;
	padding-left: 20px;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	a {
		position: relative;
		flex-direction: column;
		width: calc((100% - 10px) / 3);
		padding: 11px 30px 0;

		span {
			display: block;
			margin-top: 3px;

			&.txt_emphasis {
				color: #ce4900;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: 20px;
			right: 0;
			width: 1px;
			height: 32px;
			background: #e4e4e4;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}

.direct_tit {
	display: flex;
	align-items: center;

	.s_tit2 {
		display: inline-block;
		font-size: 26px;
		color: #000;
		font-weight: 400;
	}

	span {
		em {
			display: inline-block;
			width: 22px;
			height: 22px;
			margin: 0 5px;
			line-height: 20px;
			color: #fff;
			font-weight: 400;
			text-align: center;
			font-style: normal;
			border: 0;
			border-radius: 11px;
			background-color: #555;
		}
	}
}

.direct_area {
	.direct_list {
		display: flex;
		margin: 0 -10px;

		li {
			position: relative;
			width: calc(33.333% - 20px);
			margin: 0 10px;
			background-color: #fff;
			border-radius: 15px;
			padding: 20px 25px;
			box-shadow: 3.374px 14.616px 40px 0px rgba(0, 0, 0, 0.06);

			strong {
				display: -webkit-box;
				-webkit-line-clamp: 2;
				line-height: 25px;
				height: 50px;
				overflow: hidden;
				text-overflow: ellipsis;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}

			&:hover {
				&:after {
					position: absolute;
					top: 0;
					right: 0;
					content: '';
					width: 79px;
					height: 79px;
					background-image: url('#{$url-img}/content/img_direct_hover.png');
					background-position: center center;
					background-repeat: no-repeat;
					z-index: 10;
				}
			}
		}

		.btn_block {
			display: block;
			text-align: right;

			a {
				font-weight: 200;
				padding-right: 15px;
				background-image: url(#{$url-img-common}/ico_arr_right_sm.png);
				background-size: 7px 12px;
				background-position: right center;
				background-repeat: no-repeat;
			}
		}
	}

}

.box_product {
	display: flex;
	flex-direction: row;
	padding: 30px;

	>dl {
		position: relative;
		padding-left: 98px;
		background-image: url(#{$url-img}/content/ico_product_item01.png);
		background-repeat: no-repeat;
		background-position: 28px center;
		background-size: 41px 39px;
		width: calc(100% / 4);

		&:after {
			position: absolute;
			content: '';
			top: calc(50% - 23px);
			right: 0;
			width: 1px;
			height: 46px;
			background-color: #ebebeb;
		}

		dt {
			font-weight: 200;
			color: #7a7a7a;
		}

		dd {}

		&:nth-child(2) {
			background-image: url(#{$url-img}/content/ico_product_item02.png);
			background-size: 47px 41px;
		}

		&:nth-child(3) {
			background-image: url(#{$url-img}/content/ico_product_item03.png);
			background-size: 48px 43px;
		}

		&:nth-child(4) {
			background-image: url(#{$url-img}/content/ico_product_item04.png);
			background-size: 45px 43px;

			&:after {
				display: none;
			}
		}
	}
}

.box_product_cont {
	.tab_menu_type1 {
		ul {
			li {
				a {
					height: 80px;
					font-size: 19px;
					line-height: 80px;
					color: #6e6e6e;
					background: #fff;
					border-bottom: 4px solid #333;

					&:after {
						background-color: #e5e5e5;
					}
				}

				&:first-child {
					a {
						border-radius: 6px 0 0 0px;
					}
				}

				&:last-child {
					a {
						border-radius: 0 6px 0 0;

						&.current {
							background: #333;
							color: #fff;
						}
					}

					&:hover {
						a {
							background: #333;
							color: #fff;
						}
					}
				}
			}
		}
	}

	.tab_cont {
		display: none;
		min-height: 753px;

		.tab_inner {
			padding: 50px;

			.infographic_area {
				text-align: center;
			}
		}
	}
}

// select type 
.selectbox_product_type3 {
	dt {
		font-weight: 400 !important;

		a {
			border: 0;
			font-size: 22px;
			background-color: transparent;

			span {
				margin-left: 0 !important;
				font-size: 22px;

				&:before {
					content: '';
					position: absolute;
					right: 4px;
					top: calc(50% - 10px);
					width: 20px;
					height: 20px;
					border-radius: 11px;
					border: 1px solid #9d9d9d;
					background-color: #fff;
				}

				&:after {
					top: calc(50% - 3px);
					right: 12px;
					width: 5px;
					height: 5px;
					background-image: none;
					border-right: 1px solid #1a1a1a;
					border-bottom: 1px solid #1a1a1a;
					transform: rotate(45deg);
				}
			}
		}
	}

	dd {
		border-radius: 5px;

		ul {
			border-radius: 6px;
			border-top-color: #000;


		}
	}

	&.active {
		dt {
			a {
				border: 0;
			}
		}
	}
}

.selectbox_product_type4 {
	dt {
		font-weight: 400 !important;

		a {
			border: 0;
			font-size: 20px;
			background-color: transparent;

			span {
				margin-right: 20px;
				margin-left: 0 !important;
				font-size: 20px;

				&:after {
					top: calc(50% - 3px);
					right: 12px;
					width: 5px;
					height: 5px;
					background-image: none;
					border-right: 1px solid #1a1a1a;
					border-bottom: 1px solid #1a1a1a;
					transform: rotate(45deg);
				}
			}
		}
	}

	dd {
		border-radius: 5px;

		ul {
			border-radius: 6px;
			border-top-color: #000;


		}
	}

	&.active {
		dt {
			a {
				border: 0;
			}
		}
	}

	&.txt_blue {
		dt a span {
			color: #116cdd;
		}
	}
}


/* 본인인증 */
.box_login {
	margin: 0 89px 0 52px;
	padding: 50px;

	dl {
		display: table;
		table-layout: fixed;
		width: 100%;

		dt,
		dd {
			display: table-cell;
			font-size: 18px;
		}

		dt {
			width: 136px;
			font-weight: 400;
		}

		dd {
			width: calc(100% - 140px);
		}
	}

	.inp_item {
		padding: 15px 20px;
		height: 54px;
		color: #666;
		font-size: 18px;
		border: 0;
	}

	.form_control {
		span {
			display: inline-block;
			margin-left: 30px;
			width: 164px;

			+span {
				position: relative;
				margin-left: 30px;

				&:before {
					content: '';
					position: absolute;
					top: 25px;
					left: -18px;
					width: 4px;
					height: 1px;
					background-color: #b6b6b6;
				}
			}
		}
	}
}


/* 체크박스, 라디오버튼 */
.form_controls {
	&:after {
		content: '';
		display: block;
		clear: both;
	}

	.check_item.button {
		float: left;
		width: 118px;
		margin: 0;
		background-color: #f6f6f6;
		text-align: center;
		height: 46px;

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1px;
			height: 43px;
			background-color: #ebecf0;
		}

		input[type=radio]+label {
			padding-left: 0;
			background: none;
		}

		input {
			+label {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 100%;
				height: 100%;
				line-height: 1.2;

				small {
					display: block;
					font-size: 14px;
					font-weight: 200;
				}
			}

			&:checked {
				+label {
					content: '';
					position: absolute;
					top: -2px;
					right: 0;
					width: 100%;
					height: 50px;
					font-size: 18px;
					color: #fff;
					font-weight: 500;
					background-color: #2e71e8;
					border-radius: 8px;
					box-shadow: 5px 0 21px rgba(0, 0, 0, .29);
				}
			}
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}

	&.select {
		position: relative;

		.check_item_box {
			display: block;
			border: 1px solid #ddd;
			border-radius: 6px;
			background-color: #fff;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 20px;
				right: 15px;
				width: 13px;
				height: 7px;
				background-image:url(#{$url-img-common}/ico_arr_down_sm.png);
				background-position: 0 0;
				background-repeat: no-repeat;
			}

			.check_item {
				width: 100%;
				height: 44px;
				line-height: 44px;
				border-radius: 5px;

				input {
					+label {
						height: 44px;
					}

					&:checked+label {
						background-color: #fff;
						border-radius: 5px;
					}
				}
			}
		}

		ul {
			display: none;
			position: absolute;
			top: 42px;
			left: 0;
			width: 100%;
			min-height: 202px;
			overflow-y: auto;
			z-index: 1;
			border: 1px solid #333;
			border-top: 1px solid #eee;
			border-radius: 0 0 6px 6px;

			li {
				&:last-child {
					.check_item {
						border-radius: 0 0 5px 5px;
					}
				}
			}
		}

		.check_item {
			width: 100%;
			height: 50px;
			float: none;
			background-color: #fff;

			input {
				+label {
					flex-direction: row;
					padding: 0 27px 0 15px !important;
					justify-content: left;
					text-align: left;

					small {
						display: inline;
					}
				}

				&:checked {
					+label {
						top: 0;
						padding: 0 27px 0 15px;
						background-color: #f3f3f3;
						color: #333;
						font-size: 16px;
						font-weight: 200;
						border-radius: 0;
						box-shadow: none;
					}
				}
			}
		}

		&.active {
			.check_item_box {
				border: 1px solid #000;
			}
		}
	}

}

.check_item.red.circle {
	input[type=radio]:checked {
		+label {
			background-image: url(#{$url-img-common}/ico_radio_checked2.png);
		}
	}
}

.check_item.red.circle {
	>input[type=checkbox]:checked {
		+label {
			background-image: url(#{$url-img-common}/ico_check_red.png);
		}
	}
}

.inp_item {
	width: 100%;
	padding: 15px 20px;
	height: 46px;
	color: #666;
	font-size: 16px;
	border: 1px solid #ddd;
	border-radius: 8px;
}

.login_area {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	.check_item {
		width: 130px;
		padding-top: 150px;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			top: 40px;
			left: calc(50% - 24px);
			width: 48px;
			height: 57px;
			background-image: url(#{$url-img}/content/ico_login_certification01.png);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 48px 57px;
		}

		input[type=radio] {
			position: absolute;
			width: 1px;
			height: 1px;
			opacity: 0;

			+label {
				padding-top: 153px;
				padding-left: 0;
				background: none;

				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 130px;
					height: 130px;
					border-radius: 115px;
					border: 1px solid #e3e3e3;
				}
			}

			&:checked {
				+label {
					&:after {
						content: '';
						position: absolute;
						top: -12px;
						left: calc(50% - 16px);
						width: 32px;
						height: 32px;
						background-size: 32px 32px;
						background-position: center center;
						background-image: url(#{$url-img}/content/ico_login_certichek.png);
					}
				}
			}
		}

		&:nth-child(2) {
			&:before {
				left: calc(50% - 22px);
				width: 44px;
				height: 54px;
				background-image: url(#{$url-img}/content/ico_login_certification02.png);
				background-size: 44px 54px;
			}
		}

		&:nth-child(3) {
			&:before {
				left: calc(50% - 31px);
				width: 62px;
				height: 46px;
				background-image: url(#{$url-img}/content/ico_login_certification03.png);
				background-size: 62px 46px;
			}
		}
	}
}

/* 보험료 계산 */
.header_price {
	display: block;
	height: 180px;
	padding-top: 30px;
	margin: 0 50px 60px;
	text-align: right;
	border-bottom: 1px solid #bbb;

	.price_tit {
		font-size: 40px;
		display: inline-block;
		font-weight: 200;
	}

	.price {
		font-size: 35px;

		strong {
			font-size: 40px;
		}
	}

	p {
		font-size: 14px;
		line-height: 22px;
		color: #727272;
	}
}

.table_product {
	table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
	}

	th {
		padding-left: 30px;
		height: 72px;
		text-align: left;
		font-weight: 400;
		background: url(#{$url-img}/content/ico_bul_table.png)0 center no-repeat;
		background-size: 17px 17px;

		&.v_top {
			background-position: 0 7px;
		}
	}


}

.table_product2 {
	table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		border-top: 1px solid #ddd;
	}

	th {
		padding: 13px 0;
		font-weight: 400;
		color: #333;
		border-bottom: 1px solid #ddd;
		background-color: #fafafa;
	}

	td {
		padding: 17px 10px;
		border-bottom: 1px solid #eee;

		em {
			font-style: normal;
		}
	}
}