// 금융상품(홈) 김정연

.keyword_search {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	padding-left: 55px;
	padding-right: 70px;

	&.box {
		dt {
			&:before {
				display: none;
			}
		}
	}

	.search_box1 {
		font-size: 20px;
		font-weight: 500;

		.ico_search_combine {
			margin-top: -10px;
		}

		strong {
			font-size: 25px;
			font-weight: bold;
			margin-right: 3px;
			margin-left: 7px;
		}

		.ico_arr_right {
			margin-top: -4px;
		}
	}

	.search_box {
		border-bottom: 2px solid #fdc61c;
		width: 482px;
		height: 40px;

		.tf {
			color: #111111;
			width: 92%;
			height: 35px;
			border: none;
			font-size: 20px;

			&::-webkit-input-placeholder {
				color: #111111;
				font-weight: 400;
				opacity: 1;
			}

			&::-ms-input-placeholder {
				color: #111111;
				font-weight: 400;
				opacity: 1;
			}
		}
	}
}

.tag_search {
	border: 1px solid rgb(221, 221, 221);
	padding: 30px 55px 35px;
	background-color: #fff;
	margin-top: 50px;
	border-radius: 10px;
	font-size: 20px;

	&.box_more {
		.inner {
			max-height: 214px;

			&:after {
				content: '';
				position: absolute;
				border-radius: 10px;
				left: 0;
				right: 0;
				bottom: 0;
				height: 50px;
				background: rgba(255, 255, 255, 1);
			}
		}

		&.opened {
			.inner {
				max-height: none;

				&:after {
					display: none;
				}
			}
		}

		.btn_more_white {
			color: $white;
			background-color: $bg-gray;

			&:after {
				display: inline-block;
				content: '';
				width: 13px;
				height: 7px;
				background: url(#{$url-img-common}/ico_arr_down_sm_white.png) no-repeat;
			}
		}
	}

	.t {
		display: flex;
		justify-content: space-between;
		align-items: center;

		span {
			font-weight: 500;

			.ico_search_combine {
				margin-top: -10px;
			}

			strong {
				font-size: 25px;
				font-weight: bold;
				margin-right: 3px;
				margin-left: 7px;
			}

			.ico_arr_right {
				margin-top: -4px;
			}

			.tag_count {
				border-bottom: 2px solid #5b5b5b;
				font-size: 18px;
			}
		}

		.selectbox_wrap {
			font-size: 14px;
			display: flex;

			dl {
				margin-left: 5px;

				dt {
					span {
						font-weight: 300;
					}
				}
			}
		}
	}

	.c {
		display: flex;
		margin-top: 15px;

		.best {
			width: 96px;
			height: 56px;
			background: url(/resources/img/content/bg_best.png) no-repeat 0 0;
			background-size: 100% 100%;
			margin-top: 10px;

			span {
				font-size: 30px;
			}
		}

		.filter_chk {
			margin-left: 14px;
			width: 90%;

			.chk_item {
				font-size: 14px;
				margin-top: 6px;
				margin-right: 5px;

				label {
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}

	.b {
		margin-top: 30px;

		.filter_chk2 {
			background: #f9f9f9;
			border-radius: 6px;
			padding: 30px;
			padding-left: 14px;
			font-size: 14px;
			width: auto;

			.chk_item2 {
				height: 13px;

				label {
					border: none;
					text-align: center;
					line-height: 14px;
					padding: 0 16px 0 15px;
					color: #555555;
					border-right: 1px solid #555555;
				}

				// label 위 아래 간격 13px 
			}
		}
	}
}

// 판매량
.fun_item {
	margin-left: 660px;
}

.acco_list2 {
	.top {
		border-bottom: none;
	}
}

.tbl_ico_mix {
	border-top: 1px solid #111111;

	&.tbl_data {
		table {
			thead {
				tr {
					th {
						background: #ffffff;
						padding: 15px 37px 10px 52px;
						font-size: 20px;

						&:first-child {
							padding: 15px 10px;
							font-size: 16px;
						}

						ul {
							display: flex;
							justify-content: space-between;
							align-content: center;
							align-items: center;
						}
					}
				}
			}

			tbody {
				tr {
					&:nth-child(1) {
						th {
							background: url(/resources/img/content/bg_search1.png) no-repeat 50% 55%;
						}
					}

					&:nth-child(2) {
						th {
							background: url(/resources/img/content/bg_search2.png) no-repeat 50% 55%;
						}
					}

					&:nth-child(3) {
						th {
							background: url(/resources/img/content/bg_search3.png) no-repeat 50% 55%;
						}
					}

					&:nth-child(4) {
						th {
							background: url(/resources/img/content/bg_search3.png) no-repeat 50% 55%;
						}
					}

					th {
						border: 1px solid #dddddd;
						border-left: none;
						text-align: center;
					}

					td {
						padding: 35px 30px;
						border: 1px solid #dddddd;

						&:nth-child(2),
						&:nth-child(4) {
							background: #fafafa;
						}

						&:last-child {
							border-right: none;
						}
					}
				}
			}
		}
	}
}

// 판매종료상품
.check_list_box {
	&.check_list_box2 {
		.row_box {
			.b1 {
				padding: 30px 35px;
				height: auto;

				.txt_md {
					font-weight: 200;
					color: #666666;
					margin-top: 15px;
				}
			}

			.b3 {
				padding-top: 30px;
				padding-bottom: 35px;
				padding-right: 35px;

				p {
					display: inline-block;
					font-size: 14px;
					border-bottom: 1px solid #7f7f7f;
				}

				div {
					margin-top: 12px;

					a {
						margin-left: 7px;
						color: #111111;
						padding-left: 25px;
						padding-right: 25px;

						&:nth-child(2) {
							background: #eeeeee;
						}
					}
				}
			}
		}
	}
}

// 금리조회
.search_box2 {
	height: 30px;
	display: table;
	vertical-align: center;

	.check_item {
		margin-left: 30px;

		&:first-child {
			margin-left: 0;
		}

		>input[type=checkbox]:checked+label {
			color: #111111;
		}

		label {
			font-size: 16px;
			font-weight: 400;
			color: #555555;
		}
	}

	.selectbox_wrap {
		margin-left: 30px;
		font-size: 16px;

		dt {
			a {
				span {
					font-size: 16px;
					font-weight: 400;
					color: #666666;
				}
			}
		}
	}

	.tf_datepicker {
		margin-left: 10px;

		&::-webkit-input-placeholder {
			color: #111111;
			font-weight: 400;
			opacity: 1;
		}

		&::-ms-input-placeholder {
			color: #111111;
			font-weight: 400;
			opacity: 1;
		}
	}

	.btn_md {
		padding-left: 30px;
		padding-right: 30px;
		border-color: #555555;
	}
}

// .inline_list2 {
// 	display: flex;
// 	align-items: center;
// 	line-height: 1;
// 	font-size: 14px;
// 	color: #666;
// 	border: 1px solid red;
// 	border: 1px solid #dddddd;
// 	margin-top: -22px;
// 	margin-left: 385px;
// 	height: 28px;

// 	>li {
// 		padding: 0 12px;

// 		&:first-child {
// 			padding-left: 0;
// 		}

// 		&:last-child {
// 			padding-right: 0;
// 		}

// 		&:not(:first-child) {
// 			position: relative;

// 			&::before {
// 				content: '';
// 				position: absolute;
// 				left: 0;
// 				width: 1px;
// 				height: 12px;

// 			}
// 		}
// 	}

// 	&.pd_list1 li::before {
// 		top: 2px;
// 		background: #ddd;
// 	}

// 	.fir {
// 		font-weight: 400;
// 		color: #000;
// 	}
// }