/* 대출/상환 페이지 */
.box_reference {
	padding: 5px 19px;
	font-size: 12px;

	.d_flex_c {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ico_tip_sm {
		margin-right: 5px;
	}
}

.tbl {
	&+.bg_lightgray_total {
		background-color: #f6f6f6;
		padding: 15px 20px;
		border-radius: 8px;
	}

	.bg_lightprimary_total {
		background-color: #fef0e7;
		padding: 15px 20px;
		border-radius: 8px;
		text-align: right;
	}
}

.in_detail {
	&.detail_line {
		&:after {
			content: "";
			display: block;
			border-bottom: 1px solid $border-base;
			position: absolute;
			left: -19px;
			bottom: 0;
			right: -19px;
		}
	}
}

.contract_list {

	.contract_item {
		.tit_align {
			display: flex;

			&>div {
				flex: 1 1 50%;
				width: 50%;
				text-align: left;
				line-height: 24px;
			}
		}
	}

	&.contract_list_type {
		position: relative;
		padding-bottom: 30px;
		padding-top: 0;

		.contract_item {
			padding: 0;

			.in_detail {
				margin: 10px 0 0 0;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			border-bottom: 12px solid #eeeeee;
			left: -20px;
			right: -20px;
		}

		.contract_item {
			border: 0;

			.in_detail {
				background-color: #f6f6f6;

				&:before {
					content: none;
				}
			}
		}
	}

	.box_layout_type {
		padding: 0;

		.clfx {
			padding: 17px 19px;
		}

		.evidence_contract {
			padding: 0 19px;
		}

		.in_detail {
			&:before {
				left: 0;
				right: 0;
			}

			background-color: #f8f8f8;
			padding: 17px 19px;
		}
	}

	.bg_lightprimary_total {
		background-color: #fef0e7;
		padding: 15px 20px;
		border-radius: 8px;
	}

	.bg_lightgray_total {
		background-color: #f6f6f6;
		padding: 15px 20px;
		border-radius: 8px;
	}
}

.total_exclusive_price {
	text-align: right;
	font-size: 16px;

	strong {
		color: #ce4900;
	}
}

.tab_area {
	margin: 0 -20px;
}

.security_box {
	display: flex;

	>div {
		border-radius: 8px;
		overflow: hidden;
		text-align: center;

		&:not(:first-child) {
			margin-left: 10px;
		}

		flex: 1 1 auto;

		>strong {
			display: block;
			background: $bg_primary;
			font-size: 16px;
			font-weight: 500;
			line-height: 35px;
		}

		&:first-child {
			.con:after {
				content: '';
				margin-left: 7px;
			}
		}

		&:last-child {
			.con:before {
				content: '';
				margin-right: 7px;
			}
		}

		.con {
			background: #f6f6f6;
			border: 1px solid #ddd;
			border-radius: 0 0 8px 8px;
			padding: 10px 10px 14px;

			&:before,
			&:after {
				display: inline-block;
				width: 30px;
				height: 10px;
				background:url(#{$url-img}/content/ico_dot.png) 0 0 no-repeat;
				background-size: 30px;
			}

			>* {
				&:not(:first-child) {
					margin-left: 10px;
				}
			}

			input {
				width: 50px;
				height: 30px;
				font-size: 20px;
				font-weight: 600;
				border: 0;
				vertical-align: middle;
				text-align: center;
			}

			i {
				display: inline-block;
				vertical-align: middle;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #333;
			}
		}
	}
}

.otp_box {
	border: 2px solid $bg_primary;
	border-radius: 8px;
	background: #f6f6f6;
	text-align: center;

	a {
		display: block;
		padding: 20px;
	}

	i {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #ddd;

		&:not(:first-child) {
			margin-left: 15px;
		}

		&.on {
			background: #333;
		}
	}
}

//btn_group_line 추가
.bottom_fixed_area {
	.btn_group {
		&.btn_group_flex {
			&.btn_bdr_r {
				a {
					border-right: 1px solid #fff;
				}
			}
		}
	}
}