/* 대출/상환 페이지 */
.box_reference {
	padding: 5px 19px;
	font-size: 12px;

	.d_flex_c {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.ico_tip_sm {
		margin-right: 5px;
	}
}

.tbl {
	&+.bg_lightgray_total {
		background-color: #f6f6f6;
		padding: 15px 20px;
		border-radius: 8px;
	}

	.bg_lightprimary_total {
		background-color: #fef0e7;
		padding: 15px 20px;
		border-radius: 8px;
		text-align: right;
	}
}

.in_detail {
	&.detail_line {
		&:after {
			content: "";
			display: block;
			border-bottom: 1px solid $border-base;
			position: absolute;
			left: -19px;
			bottom: 0;
			right: -19px;
		}
	}
}

.contract_list {

	&.contract_list_type {
		position: relative;
		padding-bottom: 30px;
		padding-top: 0;

		.contract_item {
			padding: 0;

			.in_detail {
				margin: 10px 0 0 0;
			}
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			border-bottom: 12px solid #eeeeee;
			left: -20px;
			right: -20px;
		}

		.contract_item {
			border: 0;

			.in_detail {
				background-color: #f6f6f6;

				&:before {
					content: none;
				}
			}
		}
	}

	.box_layout_type {
		padding: 0;

		.clfx {
			padding: 17px 19px;
		}

		.evidence_contract {
			padding: 0 19px;
		}

		.in_detail {
			&:before {
				left: 0;
				right: 0;
			}

			background-color: #f8f8f8;
			padding: 17px 19px;
		}
	}

	.bg_lightprimary_total {
		background-color: #fef0e7;
		padding: 15px 20px;
		border-radius: 8px;
	}

	.bg_lightgray_total {
		background-color: #f6f6f6;
		padding: 15px 20px;
		border-radius: 8px;
	}
}

.total_exclusive_price {
	text-align: right;
	font-size: 16px;

	strong {
		color: #ce4900;
	}
}

.tab_area {
	margin: 0 -20px;
}