/* 로그인 */
.wrapper_login {
	background: url(#{$url-img-common}/bg_gray_pattern@2x.png);
	background-size: 3px auto;

	#content {
		padding: 40px;
	}
}

.login_form_area {
	flex: 1 1 auto;
	width: 50%;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	padding: 20px 40px 40px;

	.logo {}

	.form_header,
	.form_footer {
		flex: 0 0 auto;
	}

	.form_header {
		text-align: right;
	}

	.form_body {
		flex: 1 1 auto;

		.btn_xl {
			margin: 0;
			width: 100%;
		}

		.time {
			font-size: 16px;
		}

		.btn_cert {
			width: 115px;
			height: 25px;
			border-radius: 13px;
			font-size: 12px;
			font-weight: 500;
			padding-right: 11px;
			background: #e5e5e5 url(#{$url-img-common}/ico_arr_xs_right_black@2x.png) no-repeat right 14px center;
			background-size: 5px 9px;

			&.bg_red {
				background-image: url(#{$url-img-common}/ico_arr_xs_right_white@2x.png);
			}
		}
	}

	.form_footer {
		margin-top: 20px;
		text-align: center;

		address {
			font-style: normal;
			font-size: 14px;
			color: #666;
		}
	}
}

.login_onboarding_area {
	flex: 1 1 auto;
	width: 50%;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	padding: 56px 40px 40px;
	background-color: #e5e5e5;

	.onboarding_header {
		flex: 0 0 auto;
	}

	.onboarding_body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: center;
	}

	.onboarding_slider {
		.item {
			img {
				width: 390px;
				height: 480px;
				object-fit: cover;
				vertical-align: top;
			}
		}
	}

	.slick-list {
		border: 1px solid #ddd;
		border-radius: 8px;
		width: 392px;
		height: 480px;
		overflow: hidden;
	}

	.slick-dots {
		margin-top: 15px;
		margin-bottom: -5px;
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			position: relative;
			display: block;
			width: 20px;
			height: 20px;
			color: transparent;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 10px;
				height: 10px;
				transform: translate3d(-50%, -50%, 0);
				border-radius: 5px;
				background-color: #bbb;
			}
		}

		.slick-active {
			button {
				width: 30px;

				&:after {
					width: 20px;
					background-color: #000;
				}
			}
		}
	}
}

.login_container {
	position: relative;
	display: flex;
	height: 100%;
	background-color: #fff;
	border-radius: 10px 10px 10px 40px;
	overflow: hidden;

	.tit_login {
		margin-top: 30px;
		margin-bottom: 30px;
		text-align: center;
		font-size: 22px;
		line-height: 1;
		font-weight: 200;
		letter-spacing: -0.05em;
		color: $black;

		strong {
			font-weight: 500;
		}
	}

	legend {
		float: left;
		width: 100%;
	}
}