// 고객센터-이용안내
.box {
	&.img_box {
		border-radius: 10px;
		padding: 60px 20px 56px;
		text-align: center;
	}
}

.bul_orange {
	position: relative;
	padding-left: 24px;

	&:before {
		content: '';
		position: absolute;
		top: 5px;
		left: 3px;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		background: #ff883a;
	}
}

.first_section2 {
	margin-top: 50px;

	&.box {
		padding: 28px 30px 20px 140px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 30px;
			top: 32px;
			width: 84px;
			height: 70px;
			background: url(/resources/img/content/ico_welcome.png) no-repeat;
			background-size: 100% 100%;
		}
	}
}

.first_section3 {
	margin-top: 50px;

	&.box {
		padding: 30px 30px 27px 140px;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			left: 30px;
			top: calc(50% - 35px);
			width: 86px;
			height: 70px;
			background: url(/resources/img/content/ico_welcome2.png) no-repeat;
			background-size: 100% 100%;
		}
	}
}

.content_row {
	margin-top: 80px;
	display: flex;
	justify-content: space-between;

	div {
		width: 585px;

		h2 {
			&.tit1 {
				margin-bottom: 24px;
			}
		}

		.box {
			background: #f9f9f9;
			border: none;
			padding: 21px 30px 20px;

			.btn {
				height: 50px;
				border-radius: 10px;
				padding-left: 36px;
				padding-right: 36px;
			}

			ol {
				margin-top: 13px;
			}
		}
	}
}

.content_row2 {
	display: flex;
	justify-content: space-between;
	padding-top: 13px;

	>.box {
		width: 585px;
		height: 196px;
		padding: 0;

		dt {
			width: 100%;
			height: 84px;
			background: #f9f9f9;
			font-size: 18px;
			font-weight: 500;
			line-height: 25px;
			padding-top: 15px;
			border-bottom: 1px solid #dddddd;
			text-align: center;
			margin-bottom: 0;
			position: relative;

			.bul_num2 {
				position: absolute;
				top: -15px;
				left: -10px;
				width: 76px;
				height: 76px;
				background: url(/resources/img/content/bul_orangeline.png) no-repeat;
				background-size: 100% 100%;
				text-align: center;
				line-height: 76px;
				font-size: 26px;
			}

			&:before {
				display: none;
			}
		}

		dd {
			width: 100%;
			height: 110px;
			text-align: center;
			padding: 20px 0;
			line-height: 24px;
			font-weight: 300;

			strong {
				font-weight: 500;
				margin-bottom: 9px;
				line-height: 16px;
				display: block;
			}
		}
	}
}

// s: 홈페이지 이용안내
.toggle_list {
	&.toggle_list2 {
		border-top: 1px solid #111111;

		>.search_list {
			>.faq_list {
				>dl {
					border-top: 1px solid $black;

					&.active {
						.box_title {
							.box1 {
								.radio_img {
									background: url(/resources/img/common/ico_radio_checked.png) no-repeat;
									background-size: 100% 100%;
								}
							}

							.box2 {
								.btn {
									transform: rotate(180deg);
								}
							}
						}

						.box_content {
							display: block;
						}
					}

					&:first-child {
						border-top: 0 !important;
					}

					.box_title {
						>a {
							width: 100%;
							height: 100%;
							display: inline-flex;
							justify-content: space-between;
							padding: 28px 20px;

							.box1 {
								width: 100%;
								display: flex;
								align-items: center;

								.radio_img {
									width: 24px;
									height: 24px;
									margin-right: 10px;
									background: url(/resources/img/common/ico_radio_default.png) no-repeat;
									background-size: 100% 100%;
								}
							}
						}
					}

					>.box_content {
						background: #f9f9f9;
						padding: 38px 60px 56px;
						flex-direction: column;
						display: none;

						>div {
							width: 100%;

							&:first-child {
								display: flex;
								align-items: center;
								border-bottom: 1px solid #eeeeee;
								padding-bottom: 35px;
								margin-bottom: 35px;

								.bul_num {
									position: relative;
									color: #ffffff;
									font-size: 20px;
									font-weight: 600;
									line-height: 40px;
									padding-left: 9px;
									width: 45px;
									height: 40px;
									background: url(/resources/img/content/bul_gray.png) left center no-repeat;
									background-size: 100%;
								}

								p {
									>strong {
										font-size: 18px;
									}
								}
							}

							&:last-child {
								ul {
									li {
										p {
											color: #333333;
											margin-bottom: 18px;
										}

										&:nth-child(2) {
											border-top: none;
											margin-top: 50px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// e: 홈페이지 이용안내
// s: 이용안내
.step_box {
	ol {
		display: flex;

		li {
			width: 25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			position: relative;

			img {
				width: 120px;
				height: 120px;
			}

			span {
				color: #111111;
				font-size: 16px;
				font-weight: 400;
				line-height: 16px;
				margin-top: 11px;
			}

			&:before {
				content: '';
				position: absolute;
				width: 10px;
				height: 19px;
				top: 50%;
				right: -6px;
				transform: translateY(-50%);
				background: url(/resources/img/content/ico_arr_right.png) no-repeat;
				background-size: 100% 100%;
			}

			&:last-child {
				&:before {
					display: none;
				}
			}
		}
	}
}

.section_service {
	.content {
		padding-top: 40px;
		display: flex;

		.con_list {
			margin-left: 30px;

			.tit2 {
				margin: 0 0 5px;
			}

			>li {

				&:nth-child(2),
				&:nth-child(3) {
					margin-top: 57px;
				}

				>.list {
					margin-left: 5px;
				}
			}
		}
	}
}

// e: 이용안내

// s: 애플리케이션설치
.step_box2 {
	>.box {
		border-radius: 8px;
		display: flex;
		padding: 50px;
		box-shadow: 0 4px 5px 0 #f4f4f4;

		li {
			width: 25%;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 40px;
			position: relative;

			&:last-child {
				margin-right: 0;

				&:before {
					display: none;
				}
			}

			&:before {
				content: '';
				position: absolute;
				top: 7px;
				right: -30px;
				width: 13px;
				height: 21px;
				background: url(/resources/img/content/ico_arr_right2.png) no-repeat;
				background-size: 100% 100%;
			}

			>span {
				width: 100%;
				height: 41px;
				margin-bottom: 19px;
				font-size: 16px;
				font-weight: 400;

				>.bul {
					width: 45px;
					height: 41px;
					display: inline-block;
					background: url(/resources/img/content/bul_orange.png) center no-repeat;
					background-size: 100% 100%;
					padding-left: 12px;
					font-size: 14px;
					font-weight: 500;
					line-height: 35px;
					color: #111111;
					margin-left: -3px;
					margin-top: -1px;
					margin-right: 5px;
				}
			}

			img {
				width: 201px;
				height: 446px;
			}
		}
	}

	>.box2 {
		border-radius: 8px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px;
		box-shadow: 0 4px 5px 0 #f4f4f4;

		li {
			margin-right: 0;

			&:before {
				display: none;
			}
		}
	}

	// s: 검증프로그램절차
	>ol {
		&.wrap {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			>li {
				width: 550px;
				display: inline-block;

				.tit2 {
					width: 100%;
					margin-top: 0;
					margin-bottom: 11px;

					.bul {
						display: inline-block;
						width: 45px;
						height: 41px;
						background: url(/resources/img/content/bul_orange.png) no-repeat;
						background-size: 100% 100%;
						padding-left: 13px;
						line-height: 36px;
						font-size: 14px;
						margin-left: -3px;
						margin-right: 9px;
					}
				}

				.box {
					width: 100%;
					height: 460px;
					border-radius: 8px;
					padding: 24px 30px 33px;
					box-shadow: 0 4px 5px 0 #f4f4f4;
					font-weight: 300;

					img {
						margin-left: 50%;
						transform: translateX(-50%);
						margin-top: 28px;
					}

					ul {
						li {
							line-height: 23px;

							&:nth-child(2) {
								margin-top: 4px;
							}
						}
					}
				}

				&:first-child {
					position: relative;

					.btn {
						margin-bottom: 3px;
					}

					&:before {
						content: '';
						position: absolute;
						top: 265px;
						right: -57px;
						width: 13px;
						height: 21px;
						background: url(/resources/img/content/ico_arr_right2.png) no-repeat;
						background-size: 100% 100%;
					}
				}

				&:nth-child(3) {
					margin-top: 80px;

					.box {
						height: 425px;
						padding-bottom: 26px;
					}
				}
			}
		}
	}

	// e: 검증프로그램절차
}

.txt_primary3 {
	color: #ce4900;
}

.underline {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 2px;
		left: -1px;
		width: 239px;
		height: 20px;
		border-bottom: 1px solid #ce4900;
	}
}

// e: 애플리케이션설치


// 로그인
.btn_outline_default {
	&.btn_round {
		border-radius: 20px;
		height: 20px;
		font-size: 12px;
		padding: 0 9px 0 10px;
	}
}

.login_list {
	display: flex;
	justify-content: space-between;
	align-content: center;

	li {
		width: 400px;
		height: 300px;
		text-align: center;
		position: relative;

		img {
			display: block;
			margin-left: 50%;
			transform: translateX(-50%);
		}

		.box {
			display: inline-block;
			width: 300px;
			height: 39px;
			padding: 0;
			border: 1px solid #eeeeee;
			border-radius: 20px;
			line-height: 36px;
			margin-top: 20px;
			font-size: 18px;
			font-weight: 500;
			box-shadow: 0 5px 7px 0 #f3f3f3;
		}

		p {
			margin-top: 36px;
			line-height: 25px;
			font-size: 18px;
			color: #111111;
		}

		a {
			&.btn {
				position: absolute;
				bottom: 0;
				left: 50;
				transform: translateX(-50%);
			}
		}
	}
}

.login_top_section {
	margin-top: 30px;
	height: 110px;
	border-bottom: 4px solid #ce4900;
	padding-left: 20px;
	display: flex;

	img {
		width: 94px;
		height: 79px;
	}

	>span {
		margin-left: 20px;
		margin-top: 6px;
		font-size: 20px;
		font-weight: 500;
		line-height: 32px;
	}
}

.section {
	.login_txt {
		font-size: 20px;
		color: #111111;
		line-height: 20px;
		margin-top: 80px;

		.ico {
			margin-bottom: 4px;
			margin-right: 4px;
		}
	}
}

// s: 보안프로그램조치안내
.step_box2 {
	>ol {
		&.wrap2 {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			border: 1px solid red;

			>li {
				width: 550px;
				display: inline-block;

				.tit2 {
					width: 100%;
					margin-top: 0;
					margin-bottom: 11px;

					.bul {
						display: inline-block;
						width: 45px;
						height: 41px;
						background: url(/resources/img/content/bul_orange.png) no-repeat;
						background-size: 100% 100%;
						padding-left: 13px;
						line-height: 36px;
						font-size: 14px;
						margin-left: -3px;
						margin-right: 9px;
					}
				}

				.box {
					width: 100%;
					height: 460px;
					border-radius: 8px;
					padding: 24px 30px 33px;
					box-shadow: 0 4px 5px 0 #f4f4f4;
					font-weight: 300;

					img {
						margin-left: 50%;
						transform: translateX(-50%);
						margin-top: 28px;
					}

					ul {
						li {
							line-height: 23px;

							&:nth-child(2) {
								margin-top: 4px;
							}
						}
					}
				}

				&:first-child {
					.btn {
						margin-bottom: 3px;
					}
				}

				&:nth-child(3) {
					margin-top: 80px;

					.box {
						height: 425px;
						padding-bottom: 26px;
					}
				}
			}
		}
	}
}

// e: 보안프로그램조치안내

// s: 고객센터 서비스종류
table {
	&.table_list {
		tbody {
			tr {
				td {
					&.br_none {
						border-right: 0px;
					}

					&.table_list_type {
						.list {
							display: flex;
							flex-wrap: wrap;

							li {
								width: 50%;
							}
						}
					}
				}
			}
		}
	}
}

// e: 고객센터 서비스종류

// s: 고객센터 금융용어사전
.modal_popup {
	.popup_body {
		&.scroll_none {
			overflow-y: visible;
			max-height: calc(120vh - 300px);
		}
	}
}

.box {
	&.keyword_search_box {
		width: 1100px;
		background: #f3f3f2;
		border: none;
		padding: 50px 0 40px;

		>.tf_search_txt {
			width: 622px;
			height: 56px;
			margin-left: calc(50% - 311px);
			border: none;
			background: #ffffff;
			box-shadow: 0 3px 5px 0 #e8e8e7;

			input[type=text] {
				width: 622px;
				height: 100%;
			}
		}
	}

	.initial {
		display: flex;
		justify-content: center;
		width: 100%;

		&.type2 {
			span {
				margin-right: 3px;
				font-size: 17px;
				font-weight: 500;
				line-height: 28px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		span {
			width: 32px;
			height: 32px;
			border: 1px solid #dbdbdb;
			border-radius: 50%;
			background: #ffffff;
			text-align: center;
			margin-right: 7px;
			font-size: 18px;
			font-weight: 500;
			line-height: 30px;

			&:last-child {
				margin-right: 0;
			}

			&.on {
				background: #ff883a;
				line-height: 32px;
				border: none;
			}
		}
	}
}

.keyword_content_box {
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	width: 1100px;

	>.box {
		padding: 0;
		height: 280px;

		.title {
			width: 100%;
			height: 50px;
			background: #f3f3f2;
			text-align: center;
			line-height: 48px;

			h3 {
				font-size: 18px;
				font-weight: 500;
			}
		}

		.title_list {
			width: 100%;
			height: 230px;
			color: #333333;

			ul {
				overflow: auto;
				height: 210px;
				padding: 20px 24px 33px 30px;
				margin-top: 10px;

				li {
					font-size: 16px;
					font-weight: 300;
					line-height: 16px;
					border-bottom: 1px solid #eeeeee;
					padding: 8px 0;

					a {
						width: 100%;
						display: inline-block;
					}

					&.current {
						font-weight: 500;
					}
				}
			}
		}

		&:first-child {
			width: 360px;
		}

		&:last-child {
			width: 720px;
		}

		.con {
			width: 100%;
			height: 230px;
			color: #333333;

			>div {
				overflow: auto;
				height: 210px;
				padding: 12px 30px 30px;
				margin-top: 10px;

				p {
					margin-top: 7px;
				}
			}
		}
	}
}

// e: 고객센터 금융용어사전

// 기지급내역 증명서발급
.modal_xxl {
	&.modal_xxl2 {
		width: 1100px;
		margin-left: calc(50% - 550px);
	}
}

.box {
	&.bg_lightgray2 {
		background: #f9f9f9;
		display: flex;
	}

	&.box_p_type {
		padding-top: 24px;
		padding-bottom: 23px;
	}
}

.resurrection_bottom {
	border-top: 1px solid #eeeeee;
	padding: 35px 50px 13px;

	.list {
		padding-left: 220px;
		margin-top: 40px;
	}
}

.print_btn {
	display: inline-block;
	position: relative;
	top: -957px;
	right: -956px;
}

// 인터넷보험이용안내
.br_gray {
	border-right: 1px solid #ddd;
}

.bb_gray {
	border-bottom: 1px solid #eee;
}

.tab_menu_type3 {
	&.yellow {
		>ul {
			>li>a {

				&:hover,
				&:focus,
				&.current {
					&::before {
						content: '';
						border-color: #fdc61c;
						background: #fdc61c;
					}
				}
			}
		}
	}
}