/* 로그인 안내 페이지 */
.cert_list {
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;

	li {
		flex: 0 0 50%;
		width: 50%;
		height: 130px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		.btn {
			width: 100%;
		}

		.list-item {
			padding: 20px 10px;

			.cert_image {
				width: 130px;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0 auto;

				img {
					max-width: 50%;
				}
			}

			.cert-tit {
				display: inline-block;
				padding-top: 10px;
			}
		}
	}
}

.d_flex_type {
	display: flex;

	.ico_notice {
		flex: 0 0 auto;
	}

	p {
		flex: 1 1 auto;
	}
}

.area_shadow_type {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.12);
	border-radius: 16px 16px 0 0;
}

/* 로그인 팝업시트 첫 방문*/
/* 알려드립니다 팝업 */
.content_firstvisit {
	.col_list {
		display: flex;
		margin-top: 20px;
		justify-content: space-between;

		.col_item {
			flex: 0 0 calc(50% - 10px);
			width: calc(50% - 10px);
			border: 1px solid #dddddd;
			border-radius: 12px;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			.image {
				max-width: 80px;
				margin: 0 auto;
				margin-top: 20px;

				img {
					max-width: 50%;
				}
			}

			.txt {
				line-height: 18px;
				font-size: 13px;
				padding-bottom: 20px;
			}

			.btn {
				display: flex;
				border-radius: 0 0 12px 12px;
				line-height: 54px;

				.ico_chevron_right_md {
					vertical-align: baseline;
				}
			}
		}
	}
}

.header_txt_c {
	justify-content: center;
}

/* 휴대폰본인인증 */
.item_full {
	padding: 0;

	.tf_d_f_clum {
		flex-direction: column;
		align-items: flex-start;

		.item_type {
			padding: 25px 20px;
		}

		.check_list {
			padding: 25px 20px;
			border-top: 1px solid #dddddd;
			width: 100%;
			display: flex;
			flex-direction: column;

			.check_item {
				margin-bottom: 10px;

				&+.check_item {
					margin-left: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

	}
}

.input_items {
	.opt_free_type {
		flex: 0 0 80px;
	}
}

.d_f_sb {
	justify-content: space-between;
}

.fingerprint-area {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(../img/content/img_fingerprint_area.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	margin: 40px auto 0;

	img {
		max-width: 50%;
	}
}

.row_fingerprint_list {
	display: flex;
	flex-direction: column;

	.tf_item_body {
		justify-content: space-between;

		.content {
			display: flex;
			align-items: center;
			justify-content: center;

			.image {
				max-width: 48px;
			}

			.privacy {
				.privacy_list {
					display: flex;

					li {
						margin-right: 10px;
						position: relative;

						&+li {
							margin-left: 10px;
						}

						&:after {
							content: '';
							width: 1px;
							height: 10px;
							position: absolute;
							right: -10px;
							top: 50%;
							transform: translateY(-50%);
							background-color: #dddddd;
						}

						&:last-child {
							margin-right: 0;

							&:after {
								content: none;
							}
						}
					}
				}
			}
		}
	}
}

.item_type1 {
	border: 0;
	border-bottom: 1px solid #333333;
	border-radius: 0;
	max-width: 250px;
	margin: 0 auto;
	padding: 5px;
}

.item_type2 {
	border: 0;
	border-radius: 0;
	max-width: 250px;
	margin: 0 auto;
	padding: 5px;

	.password_masking {
		justify-content: center;

		i {
			margin: 0 8px;
			background-color: $primary;
		}
	}
}

.financial-certificate_area {
	.txt_guide {
		font-size: 20px;
	}

	.image {
		max-width: 85px;
		margin: 0 auto;
	}

	.row_list {
		display: flex;
		flex-direction: column;
		padding: 25px 20px;
		border-radius: 8px;
		background-color: #fef0e7;

		li {
			display: flex;
			align-items: center;
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			.item_image {
				max-width: 50px;
				margin-right: 25px;

				img {
					vertical-align: middle;
				}
			}
		}
	}
}

.layout_flex {
	display: flex;
	justify-content: space-between;
	position: relative;

	.tf_item {
		flex: 0 0 calc(50% - 10px);
		width: calc(50% - 10px);
	}

	.hyphen {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 8px;
		height: 1px;
		background-color: #dddddd;

	}
}

.txt_xl_type {
	font-size: 75px;
	font-weight: bold;
	color: $blue;
}

.txt_blue {
	color: $blue;
}

.pattern-area {
	width: 190px;
	height: 190px;
	margin: 40px auto;
}

.btn_icon_type {
	.image_icon {
		max-width: 22px;
		display: flex;
		align-items: center;
		margin-right: 7px;
	}
}

.login_list {
	border: 1px solid rgb(221, 221, 221);
	border-radius: 8px;

	li {

		&:first-child {
			.tf_item {
				border-radius: 8px 8px 0 0;
			}
		}

		&:last-child {
			.tf_item {
				border-bottom: 0;
				border-radius: 0 0 8px 8px;
			}
		}

		.tf_item {
			padding: 25px 19px;
			border: 0;
			border-radius: 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid rgb(221, 221, 221);
		}


		.item_tit {
			font-size: 18px;
			display: flex;
			align-items: center;

			.image_icon {
				max-width: 30px;
				max-height: 30px;
				margin-right: 18px;
			}
		}

		.check_item {
			&>input[type="radio"] {
				&+label {
					background-size: 19px auto;
				}
			}
		}
	}
}

/* 로그인 인증센터 */
.image_smartphone {
	width: 165px;
	height: 165px;
	background-color: #ffdac1;
	border-radius: 165px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	&.smartphone_sm {
		width: 120px;
		height: 120px;

		img {
			max-width: 38px;
		}
	}

	&.smartphone_md {
		width: 120px;
		height: 120px;


		img {
			max-width: 60px;
		}
	}

	&.smartphone_md_type {
		width: 120px;
		height: 120px;


		img {
			max-width: 65px;
		}
	}

}

.image_joint_certificate {
	width: 209px;
	margin: 0 auto;
}

.box_flex_type {
	li {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 14px;

	}
}