.status_info {
	display: flex;
	padding: 24px 130px 24px 44px;
	align-items: center;

	>.l {
		display: flex;
		flex: 1;
		padding-right: 30px;
		align-items: center;

		>.count {
			width: 153px;
			height: 60px;
			margin-right: 25px;
			padding-left: 23px;
			border-radius: 40px;
			background: rgba(255, 255, 255, .5);
			line-height: 60px;
			font-size: 18px;
			font-weight: 400;
			color: #111;

			&::before {
				display: inline-block;
				content: '';
				width: 26px;
				height: 29px;
				background: url(#{$url-img}/main/ico_notice.png) no-repeat 0 0;
				vertical-align: middle;
			}

			>span {
				color: #d70000;
			}
		}

		>.current_status {
			>.date_time {
				font-weight: 400;
				color: #333;

				>span {
					position: relative;
					display: inline-block;
					height: 30px;
					margin-right: 9px;
					padding: 0 10px;
					background: #fff;
					border-radius: 20px;
					line-height: 30px;

					&::after {
						content: '';
						position: absolute;
						right: -5px;
						top: 50%;
						width: 0;
						height: 0;
						transform: translateY(-50%);
						border-top: 5px solid transparent;
						border-left: 6px solid #fff;
						border-bottom: 5px solid transparent;
					}
				}
			}

			>.status {
				font-size: 18px;

				>strong {
					font-weight: 600;
				}
			}
		}
	}

	>.r {
		>a:not(:last-child) {
			margin-right: 6px;
		}

		>.btn_outline_default {
			border-width: 0;
		}

		>.btn_talk {
			&::before {
				display: inline-block;
				content: '';
				width: 30px;
				height: 23px;
				margin-right: 6px;
				background: url(#{$url-img}/main/ico_talk.png) no-repeat 0 0;
			}
		}
	}
}

.main_promotion {
	position: relative;

	.main_promotion_slide {
		.slick-slide {
			overflow: hidden;
			height: 619px;

			a {
				display: block;
				position: relative;
				height: 619px;

				>img {
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
				}
			}
		}

		img {
			max-width: none;
		}
	}

}

.rolling_info {
	display: flex;
	position: absolute;
	left: calc((100% - 1200px) / 2);
	bottom: 55px;
	padding-left: 20px;
	align-items: center;

	.nums {
		display: inline-block;
		vertical-align: middle;
		position: relative;

		strong {
			margin-right: 70px;
		}

		.bar {
			border-top: 1px solid #b2b2b2;
			width: 50px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			span {
				border-top: 1px solid #000;
				position: absolute;
				left: 0;
				top: -1px;
				-moz-transition: all .3s ease-in-out;
				-webkit-transition: all .3s ease-in-out;
				-o-transition: all .3s ease-in-out;
				-ms-transition: all .3s ease-in-out;
				transition: all .3s ease-in-out;
			}
		}

		>* {
			font-weight: bold;
		}
	}
}

.btn_ctrl {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;

	button {
		width: 24px;
		height: 24px;
		line-height: 1000px;
		overflow: hidden;
		display: block;
		border-radius: 50%;

		&.btn_pause {
			background:url(#{$url-img}/main/btn_rolling_pause.gif) 0 0 no-repeat;
		}

		&.btn_play {
			background:url(#{$url-img}/main/btn_rolling_play.gif) 0 0 no-repeat;
		}
	}
}

.account_info {
	position: absolute;
	right: calc((100% - 1200px) / 2);
	bottom: -51px;
	width: 380px;

	&::before {
		display: block;
		content: '';
		width: 404px;
		height: 10px;
		margin: 0 0 -3px 3px;
		border-radius: 17px 17px 0 0;
		background: #ddd;
	}
}

.tab_account {
	position: relative;
	height: 313px;
	border-radius: 10px 0 10px 10px;
	box-shadow: -6px 7px 17px 2px rgba(0, 0, 0, .1);
	background: #fff;

	>.tab {
		position: absolute;
		right: -33px;
		top: 0;
		width: 34px;
		height: 313px;
		background-position: 0 0;
		background-repeat: no-repeat;

		>li {
			&:nth-child(1) {
				height: 100px;

				>a {
					padding-top: 18px;
				}
			}

			&:nth-child(2) {
				height: 90px;

				>a {
					padding-top: 14px;
				}
			}

			&:nth-child(3) {
				height: 100px;

				>a {
					padding-top: 3px;
				}
			}

			>a {
				display: block;
				height: 100%;
				text-align: center;
				//writing-mode: vertical-rl;
				font-size: 15px;
				font-weight: 500;
				color: #222;

				>span {
					display: inline-block;
					width: 20px;
					line-height: 1.1;
					font-size: 15px;
				}
			}
		}
	}

	.tab_on1 {
		background-image: url(#{$url-img}/main/bg_tab_account1_on.png);
	}

	.tab_on2 {
		background-image: url(#{$url-img}/main/bg_tab_account2_on.png);

		>li {
			&:nth-child(1) {
				height: 80px;

				>a {
					padding-top: 9px;
				}
			}

			&:nth-child(2) {
				height: 105px;

				>a {
					padding-top: 25px;
				}
			}

			&:nth-child(3) {
				height: 105px;

				>a {
					padding-top: 8px;
				}
			}
		}
	}

	.tab_on3 {
		background-image: url(#{$url-img}/main/bg_tab_account3_on.png);

		>li {
			&:nth-child(1) {
				height: 103px;

				>a {
					padding-top: 15px;
				}
			}

			&:nth-child(2) {
				height: 68px;

				>a {
					padding-top: 9px;
				}
			}

			&:nth-child(3) {
				height: 105px;

				>a {
					padding-top: 17px;
				}
			}
		}
	}


	>.tab_info {
		display: flex;
		height: 100%;
		flex-direction: column;
		padding: 20px 30px 0;

		>.top {
			display: flex;

			>.l {
				flex: 1;
				font-weight: 500;
				font-size: 20px;
				color: #222;
			}

			>.r {
				margin-left: auto;

				.check_switch {
					label {
						min-width: 64px;
						min-height: 26px;
						padding-right: 3px;
						padding-left: 29px;

						&::after {
							left: 3px;
							top: 4px;
						}
					}

					>input:checked+label {
						padding-left: 9px;
						padding-right: 0;

						&::after {
							left: calc(100% - 23px);
						}
					}
				}

				>.btn_acc_setting {
					display: inline-block;
					width: 24px;
					height: 24px;
					margin-left: 6px;
					background: url(#{$url-img}/main/ico_account_setting.png) no-repeat 0 0;
					vertical-align: middle;
				}
			}
		}
	}
}

.bk_acc_slide {
	position: relative;

	>.slide_prev,
	>.slide_next {
		display: block;
		position: absolute;
		top: 107px;
		z-index: 10;
		width: 30px;
		height: 30px;
		background-position-y: 50%;
		background-repeat: no-repeat;
	}

	>.slide_prev {
		left: 0;
		background-image: url(#{$url-img}/main/ico_account_prev.png);
		background-position-x: 0;
	}

	>.slide_next {
		right: 0;
		background-image: url(#{$url-img}/main/ico_account_next.png);
		background-position-x: 100%;
	}
}

.bk_acc_money {
	padding: 0 20px;

	.bk_acc {
		margin-top: 16px;
		text-align: center;
		line-height: 1.6;

		>strong {
			display: block;
			font-weight: 500;
			font-size: 22px;
			color: #111;
		}

		>span {
			font-weight: 400;
			font-size: 20px;
			color: #999;
		}
	}

	.slick-dots {
		display: flex;
		margin-top: 35px;
		justify-content: center;
		line-height: 1;

		>li {
			&.slick-active>button {
				background-image: url(#{$url-img}/main/bg_cicle_dot_yellow.png);
			}

			>button {
				width: 17px;
				height: 17px;
				overflow: hidden;
				background: url(#{$url-img}/main/bg_cicle_dot_gray.png) no-repeat 50% 50%;
				background-size: 12px;
				text-indent: -1000%;
			}
		}
	}
}

.bk_money {
	margin-top: 19px;
	line-height: 1;
	text-align: center;
	font-weight: 400;
	font-size: 24px;

	>strong {
		font-weight: 500;
		font-size: 36px;
		color: #111;
	}
}

.tab_cont {
	flex: 1;
	-ms-flex-preferred-size: auto
}

.bk_acc_btn {
	display: flex;

	>a:not(:first-child) {
		&::before {
			position: absolute;
			left: 0;
			top: 17px;
			content: '';
			width: 1px;
			height: 20px;
			background: #e5e5e5;
		}
	}

	>a {
		display: block;
		position: relative;
		flex: 1;
		padding: 20px 0;
		text-align: center;
		line-height: 1;
		font-weight: 500;
		font-size: 18px;
		color: #111;
	}
}

.exp_list {
	padding-bottom: 17px;
	border-bottom: 1px solid #e5e5e5;
	font-size: 18px;

	>li {
		display: flex;
		line-height: 1.1;

		&:not(:last-child) {
			margin-bottom: 7px;
		}

		>.l {
			flex: 1;
			font-weight: 400;
			color: #555;
		}

		>.r {
			font-weight: 400;
		}
	}
}

.balance_list {
	margin-top: 26px;
}

.connect_list {
	margin-top: 24px;
	font-size: 18px;

	>li {
		font-size: 16px;

		&:not(:last-child) {
			margin-bottom: 13px;
		}
	}
}

.security_score {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 83px;
	border-radius: 5px;
	background: #f6f6f6;
	font-weight: 400;
	color: #555;

	em {
		font-style: normal;
		font-size: 18px;
		color: #111;
	}

	strong {
		font-size: 18px;
		color: #ff883a;
	}
}

.sec_news {
	padding-bottom: 46px;

	>.container {
		display: flex;
		padding-top: 107px;
	}

	.new_news_list {
		position: relative;
		width: 572px;

		>h3 {
			margin-bottom: 25px;
			padding-left: 43px;
			background: url(#{$url-img}/main/ico_news.png) no-repeat 0 0;
			line-height: 1;
			font-weight: 500;
			font-size: 30px;
			color: #111;
		}

		>ul {
			>li {
				display: flex;
				align-items: center;
				padding: 14px 0;
				background-image: url(#{$url-img}/main/ico_list_arrow.png);
				background-position: calc(100% - 10px) 50%;
				background-repeat: no-repeat;

				&:not(:last-child) {
					border-bottom: 1px solid #eee;
				}

				>.l {
					flex: none;
					width: 54px;
					padding-left: 4px;

					>span {
						display: block;
						width: 50px;
						height: 40px;
						border-radius: 10px;
						background: #f3f3f3;
						line-height: 40px;
						text-align: center;
						font-size: 14px;
						color: #333;
					}
				}

				>.r {
					flex: 1;
					width: 100%;
					min-width: 0;
					padding: 0 60px 0 16px;
					line-height: 1.1;

					>a {
						display: block;
						overflow: hidden;
						margin-bottom: 6px;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-weight: 300;
						color: #555;

						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}

					>span {
						display: block;
						color: #888;
					}
				}
			}
		}

		.more_link {
			top: 9px;
		}
	}

	.popzone {
		width: 569px;
		margin-left: auto;

		.slick-slide {
			margin-right: 5px;
		}

		img {
			border-radius: 10px;
		}
	}
}

.more_link {
	position: absolute;
	right: 0;
	font-size: 14px;
	color: #555;

	&::after {
		display: inline-block;
		content: '';
		width: 17px;
		height: 7px;
		margin-left: 2px;
		background: url(#{$url-img}/main/ico_more_arrow.png) no-repeat 0 0;
	}
}



.cus_paging {
	text-align: center;

	.slick-dots {
		display: inline-flex;

		.slick-active>button {
			width: 27px;
			margin: 0 1px;
			background-image: url(#{$url-img}/main/bg_paging_current.png);
		}

		button {
			width: 17px;
			height: 17px;
			overflow: hidden;
			background: url(#{$url-img}/main/bg_paging_circle.png) no-repeat 50% 50%;
			text-indent: -1000%;
			vertical-align: middle;
		}
	}

	.btn_ctrl {
		margin-left: 3px;
	}
}

.sec_product {
	padding: 60px 0;
	background: #f5f5f5;

	>.container {
		position: relative;
	}

	h3 {
		margin-bottom: 40px;
		text-align: center;
		line-height: 1;
		font-weight: 200;
		font-size: 40px;
	}

	.best_icon {
		display: inline-flex;
		height: 36px;
		padding: 0 20px;
		border-radius: 0 20px 20px 20px;
		background: #fdc61c;
		align-items: center;
		vertical-align: bottom;
		font-weight: 500;
		font-size: 18px;
		color: #fff;
	}

	.finance_product {
		display: flex;

		>a {
			display: block;

			&:not(:last-child) {
				margin-right: 20px;
			}
		}

		dl {
			width: 285px;
			height: 270px;
			padding: 37px 40px 0;
			border-radius: 5px 5px 5px 20px;
			background-color: #fff;
			background-position-x: 50%;
			background-repeat: no-repeat;
			box-shadow: 0px 7px 24px 0px rgba(0, 0, 0, .1);
			text-align: center;
			font-weight: 400;
			font-size: 18px;

			&.bg_dep {
				background-position-y: 91px;
				background-image: url(#{$url-img}/main/img_finance1.png);
			}

			&.bg_card {
				background-position-y: 96px;
				background-image: url(#{$url-img}/main/img_finance2.png);
			}

			&.bg_fund {
				background-position-y: 100px;
				background-image: url(#{$url-img}/main/img_finance3.png);
			}

			&.bg_ins {
				background-position-y: 101px;
				background-image: url(#{$url-img}/main/img_finance4.png);
			}

			>dt {
				margin-bottom: 134px;
				line-height: 1;
				color: #333;

				>span {
					display: inline-block;
					padding-bottom: 7px;
					border-bottom: 1px solid #767676;
				}
			}

			>dd {
				line-height: 1.3;
				color: #111;
			}
		}
	}

	.more_link {
		top: 9px;
	}
}

.sec_customer {
	padding: 60px 0 72px;

	>.container {
		display: flex;
	}

	h3 {
		margin-bottom: 20px;
		line-height: 1;
		font-weight: 500;
		font-size: 28px;
		color: #111;
	}

	.dep_cus {
		>p {
			line-height: 1;
			color: #555;
		}

		>dl {
			display: flex;
			margin-top: 64px;
			align-items: baseline;
			line-height: 1;

			>dt {
				margin-right: 19px;
				font-weight: 400;
				font-size: 18px;
				color: #111;
			}

			>dd {
				font-weight: 700;
				font-size: 30px;
				color: #111;

				&:last-child {
					margin-left: 20px;

					&::before {
						display: inline-block;
						content: '';
						width: 1px;
						height: 22px;
						margin-right: 19px;
						background: #ddd;
					}
				}
			}
		}
	}

	.fin_app {
		margin-left: auto;
		padding-right: 69px;

		>ul {
			display: flex;

			>li {
				&:not(:last-child) {
					margin-right: 51px;
				}

				>a {
					display: block;
					padding-top: 87px;
					background-repeat: no-repeat;
					background-position: 50% 0;
					font-weight: 400;
					color: #333;

					&.app_bk {
						background-image: url(#{$url-img}/main/ico_app_smbk.png);
					}

					&.app_ins {
						background-image: url(#{$url-img}/main/ico_app_smins.png);
					}

					&.app_postpay {
						background-image: url(#{$url-img}/main/ico_app_postpay.png);
					}

					&.app_member {
						background-image: url(#{$url-img}/main/ico_app_member.png);
					}
				}
			}
		}
	}
}

.sec_link {
	display: flex;
	height: 70px;
	background: #fff9e3;
	align-items: center;
	justify-content: center;
	font-size: 20px;

	>a {
		display: inline-flex;
		position: relative;
		align-items: center;

		&::before {
			content: '';
			width: 84px;
			height: 83px;
			margin: -13px 62px 0 0;
			background: url(#{$url-img}/main/img_deco.png) no-repeat 0 0;
		}

		&::after {
			display: inline-block;
			content: '';
			width: 15px;
			height: 15px;
			margin-left: 17px;
			background: url(#{$url-img}/main/ico_cicle_arrow.png);
		}

		>strong {
			margin-left: 3px;
			color: #111;
		}
	}
}

.sub_indi_info {
	.visual_top {
		position: relative;
		height: 571px;
		background-image: url(#{$url-img}/main/bg_indi_visual.gif);
	}

	.total_info {
		padding: 99px 0 37px 260px;
		background-image: url(#{$url-img}/main/img_indi_info_deco.png);
		background-position-y: 74px;
	}

	&.customer_no_data {
		background-image: url(#{$url-img}/main/bg_indi_visual_small.gif);

		.total_info {
			padding-top: 30px;
			padding-bottom: 37px;
			background-position-y: 0;
		}
	}
}

.sub_card_info {
	.visual_top {
		position: relative;
		height: 571px;
		background-image: url(#{$url-img}/main/bg_card_visual.gif);
	}

	.total_info_wrap {}

	.total_info {
		padding: 102px 0 37px 244px;
		background-image: url(#{$url-img}/main/img_card_info_deco.png);
		background-position-y: 54px;
	}

	&.customer_no_data {
		background-image: url(#{$url-img}/main/bg_card_visual_small.gif);

		.total_info {
			padding-top: 49px;
			padding-bottom: 35px;
			background-position-y: 0;
		}
	}
}

.sub_fund_info {
	.visual_top {
		position: relative;
		height: 660px;
		background-image: url(#{$url-img}/main/bg_fund_visual.gif);
	}

	.container {
		padding-top: 62px;
	}

	.fund_notice {
		display: flex;
		height: 76px;
		padding: 0 55px 0 110px;
		border: 2px solid #caede4;
		border-radius: 20px;
		background: #fff url(#{$url-img}/main/ico_tit_notice.png) no-repeat 57px 50%;
		align-items: center;

		>.l {
			flex: 1;

			>a {
				display: inline-block;
				font-weight: 400;
				font-size: 18px;
				color: #333;

				&::after {
					display: inline-block;
					content: '';
					width: 7px;
					height: 13px;
					margin-left: 10px;
					background: url(#{$url-img}/main/ico_link_arrow.png) no-repeat 0 0;
				}

				&:hover {
					text-decoration: underline;
				}
			}
		}

		>.r {
			>span {
				font-weight: 400;
				color: #333;
			}
		}
	}

	.total_info_wrap {
		display: flex;
		padding: 49px 0 0;
	}

	.total_info {
		.cus_info {
			margin-bottom: 9px;

			>a {
				margin-left: 12px;
			}
		}
	}

	&.customer_no_data {
		.container {
			padding-top: 0;
		}

		.total_info_wrap {
			display: block;
			padding: 0;
		}

		background-image: url(#{$url-img}/main/bg_fund_visual_small.gif);

		.total_info {
			padding-top: 49px;
			padding-bottom: 35px;
			padding-left: 244px;
			background-position-y: 0;
			background-image: url(#{$url-img}/main/img_fund_info_deco.png);
		}

		&+.sec_fund_list {
			padding-top: 60px;

			.latest_fund_list {
				margin-top: 0;
			}
		}
	}

	.invest_result {
		position: relative;
		width: 400px;
		margin-left: auto;
		padding: 20px 15px 22px;
		border: 1px solid #000;
		border-radius: 10px;

		>dl {
			line-height: 1;

			>dt {
				margin-bottom: 17px;
				text-align: center;

				>span {
					display: inline-flex;
					padding: 0 5px 5px 0;
					border-bottom: 2px solid #000;
					align-items: center;
					font-weight: 600;
					font-size: 30px;
					color: #111;

					&::before {
						display: inline-block;
						content: '';
						width: 40px;
						height: 38px;
						margin-right: 7px;
						background-position: 0 0;
						background-repeat: no-repeat;
					}

					&.inv_res1::before {
						background-image: url(#{$url-img}/main/ico_invest.png);
					}
				}
			}

			>dd {
				position: relative;
				padding: 0 110px 0 8px;
				letter-spacing: -.5px;
				color: #111;

				&::before {
					position: absolute;
					left: 0;
					top: 6px;
					content: '';
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #333;
				}

				&:not(:last-child) {
					margin-bottom: 7px;
				}
			}
		}

		>a {
			position: absolute;
			display: flex;
			right: 15px;
			bottom: 20px;
			width: 100px;
			height: 46px;
			border-radius: 7px;
			background: #555;
			align-items: center;
			justify-content: center;
			font-weight: 500;
			color: #fff;
		}
	}

	.info_box_list {
		top: 370px;
	}

	.fund_detail_chart {
		margin-top: 20px;
		padding: 38px 40px 55px;
		border-radius: 10px;
		background: #fff;

		>.fund_date_point {
			display: flex;
			padding-bottom: 27px;
			border-bottom: 1px solid #eee;

			>.l {
				flex: 1;
				line-height: 1;
			}

			>.r {
				flex: 1;
				margin-left: auto;

				>ul {
					display: flex;

					>li {
						position: relative;
						flex: 1;
						padding: 0 20px 5px;
						text-align: center;
						color: #666;

						&:not(:last-child) {
							&::after {
								content: '';
								position: absolute;
								right: 0;
								top: 0;
								width: 1px;
								height: 100%;
								background: #eee;
							}
						}

						>strong {
							display: block;
							margin-top: 3px;
							line-height: 1;
							white-space: nowrap;
							font-family: NotoSansKR;
							font-size: 22px;

							&:not(.col_upper):not(.col_lower) {
								color: #111;
							}
						}
					}
				}
			}

			.point_date {
				font-size: 14px;
				color: #555;

				>span {
					margin-right: 5px;
				}
			}

			.point_index {
				display: flex;
				margin-top: 13px;
				align-items: center;

				>strong {
					margin-right: 15px;
					font-size: 35px;
				}

				>.profit {
					>strong {
						font-size: 16px;
					}

					>.profit_money {
						&::before {
							border-left-width: 5px;
							border-right-width: 5px;
							border-bottom: 7px solid #ff0000;
							transform: translate(-5px, -2px);
						}
					}

					>.profit_point {
						font-weight: 400;
						font-size: 16px;
						color: #111;
					}
				}
			}

			.col_upper {
				color: #ff3131;
			}

			.col_lower {
				color: #0069e1;
			}
		}

		>.btn_standard_date {
			display: flex;
			padding: 15px 0 48px;
			justify-content: end;

			>button {
				display: inline-flex;
				width: 55px;
				height: 32px;
				border: 1px solid #a2a2a2;
				border-radius: 5px;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				color: #555;

				&:not(:last-child) {
					margin-right: 5px;
				}

				&.on {
					border-color: #555;
					background: #555;
					font-weight: 500;
					color: #fff;
				}
			}
		}
	}
}

.total_info {
	background-position-x: 0;
	background-repeat: no-repeat;

	>.cus_info {
		display: flex;
		margin-bottom: 5px;
		align-items: center;

		>p {
			font-weight: 400;
			font-size: 30px;
			color: #111;

			>strong {
				font-weight: 600;
			}
		}

		>a {
			margin-left: auto;
		}
	}

	>.cus_toal_info {
		display: inline-flex;
		padding: 0 19px 20px 0;
		border-bottom: 2px solid #111;
		align-items: baseline;

		>.total_tit {
			line-height: 1;
			font-size: 36px;
			color: #111;
		}

		>.total_num {
			margin-left: 15px;
			line-height: 1;
			letter-spacing: -1.5px;
			font-weight: 600;
			font-size: 44px;
			color: #986800;
		}

		>.btn_mouse_toggle {
			margin-left: 32px;
		}
	}
}

.customer_no_data {
	.visual_top {
		display: flex;
		position: relative;
		background-position: 50% 0;
		background-repeat: no-repeat;
		height: 319px;
		align-items: center;

		.cus_info {
			flex-direction: column;

			>.last_msg {
				font-weight: 200;
				font-size: 36px;

				>strong {
					font-weight: 600;
					color: #986800;
				}
			}
		}
	}
}

.btn.ico_arrow {
	&::after {
		display: inline-block;
		content: '';
		width: 7px;
		height: 13px;
		margin-left: 13px;
		background: url(#{$url-img}/main/ico_link_arrow.png) no-repeat 0 0;
	}
}

.info_box_list {
	position: absolute;
	left: calc((100% - 1200px) / 2);
	top: 279px;
	z-index: 10;
	width: 1200px;
	padding: 20px;
	border-radius: 15px;
	box-shadow: -6px 7px 17px 2px rgba(0, 0, 0, .1);

	&.ind_info_box {
		background: #ffe9a6;

		.info_cont_box {

			&.first {
				flex: 0 0 370px;
			}

			.top {
				margin-bottom: 23px;
			}

			.btn_area {
				margin-top: 30px;
			}
		}

		.r_info_cont {
			display: flex;
			flex: 1;
			flex-direction: column;
			padding-left: 20px;

			>.date_acc_info {
				display: flex;

				>.info_cont_box {
					padding-bottom: 30px;

					&:not(:last-child) {
						margin-right: 10px;
					}

					.top {
						margin-bottom: 15px;
					}

					.btn_area {
						padding-top: 0;
						border-top: 0;
					}
				}

				.acc_name {
					margin-bottom: 18px;

					>span {
						display: inline-block;
						padding-bottom: 6px;
						border-bottom: 1px solid #000;
						font-weight: 400;
						font-size: 20px;
						color: #111;
					}
				}

				.acc_bank {
					margin-bottom: 25px;
					font-weight: 400;
					color: #111;

					>span {
						margin-left: 3px;
						letter-spacing: -.5px;
						color: #333;
					}
				}

				.acc_money {
					font-weight: 400;
					font-size: 18px;

					>strong {
						margin-right: 5px;
						font-size: 24px;
						color: #000;
					}
				}
			}

			>.btm_transfer_write {
				display: flex;
				margin-top: 30px;

				>p {
					letter-spacing: -1px;
				}

				>a {
					margin-left: auto;
				}
			}
		}
	}

	&.card_info_box {
		background: #b2cff0;

		.info_cont_box {
			&:not(:last-child) {
				margin-right: 20px;
			}

			.top {
				margin-bottom: 29px;
			}

			.btn_area {
				margin-top: 25px;
			}
		}
	}

	&.fund_info_box {
		background: #9bdbcb;

		&.info_box_list {
			padding-bottom: 32px;
		}

		.info_cont_box {
			&:not(:last-child) {
				margin-right: 20px;
			}

			.top {
				margin-bottom: 17px;
			}

			.btn_area {
				margin-top: 25px;

				>a:not(.btn_r) {
					width: 138px;
				}
			}
		}

		.fund_detail {
			position: absolute;
			left: 0;
			bottom: -14px;
			width: 100%;
			text-align: center;

			>button {
				display: inline-flex;
				height: 32px;
				padding: 0 20px;
				border-radius: 20px;
				background: #555;
				align-items: center;

				font-size: 14px;
				color: #fff;

				&::after {
					display: inline-block;
					content: '';
					width: 13px;
					height: 7px;
					margin-left: 10px;
					background: url(#{$url-img}/content/ico_arr_down_sm_white2.png) no-repeat 0 0;
				}
			}
		}

		.badge_list {
			margin-bottom: 18px;

			>.round_badge {
				font-weight: 400;
				color: #333;

				&:not(:last-child) {
					margin-right: 2px;
				}
			}
		}

		.represent_fund {
			>.rep_fund_name {
				margin-bottom: 13px;
				line-height: 1.3;
				font-weight: 400;
				font-size: 18px;
				color: #333;
			}

			>.rep_fund_acc {
				margin-bottom: 21px;
				font-size: 26px;
				color: #333;
			}

			>.rep_func_date {
				font-weight: 400;
				font-size: 18px;
				color: #000;
			}
		}
	}

	.info_list_wrap {
		display: flex;
	}

	.info_cont_box {
		flex: 1;
		padding: 20px;
		border-radius: 10px;
		background: #fff;
		box-shadow: -6px 7px 17px 2px rgba(0, 0, 0, .09);

		.inner {
			display: flex;
			height: 100%;
			flex-direction: column;
		}

		.top {
			display: flex;

			>.r {
				margin-left: auto;
			}

			>.acc_date {
				display: inline-block;
				line-height: 1;
				font-weight: 400;
				color: #888;
			}

			.cont_tit {
				line-height: 1;
				font-weight: 400;
				font-size: 18px;
				color: #333;
			}
		}

		.box_cont {
			flex: 1;
			line-height: 1;
			-ms-flex-preferred-size: auto;

			>.acc_txt1 {
				margin-bottom: 17px;
				font-weight: 400;
				font-size: 18px;
				color: #333;
			}

			>.acc_txt2 {
				margin-bottom: 25px;
				font-weight: 400;
				font-size: 26px;
				color: #333;
			}

			>.acc_txt3 {
				margin-bottom: 25px;
				font-weight: 400;
				font-size: 20px;
				color: #888;
			}

			>.acc_txt4 {
				font-weight: 400;
				font-size: 18px;
				color: #333;

				>strong {
					margin-right: 5px;
					font-weight: 600;
					font-size: 30px;
					color: #000;
				}
			}

			>.card_txt1 {
				margin-bottom: 18px;
				font-weight: 400;
				font-size: 18px;
				color: #333;
			}

			>.card_txt2 {
				margin-bottom: 22px;
				font-weight: 500;
				font-size: 24px;
				color: #333;
			}

			>.card_txt3 {
				margin-bottom: 20px;

				>strong {
					font-weight: 600;
					font-size: 26px;
					color: #000;
				}
			}

			>.card_txt4 {
				font-weight: 400;
				font-size: 20px;
				color: #000;
			}
		}

		.btn_area {
			position: relative;
			padding-top: 20px;
			border-top: 1px solid #eee;
			text-align: center;

			>.btn_r {
				position: absolute;
				right: 0;
				top: 27px;
				width: 19px;
				height: 29px;
				background: url(#{$url-img}/main/ico_cicle_dot.png) no-repeat 100% 0;
			}

			>a+a:not(.btn_r) {
				margin-left: 6px;
			}
		}
	}

	.transfer_write {
		display: flex;
		flex: 1;
		margin-left: 20px;
		border: 2px dashed #fff;
		border-radius: 10px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.acc_write_txt {
	display: flex;
	align-items: center;
	font-weight: 400;
	color: #111;

	&::before {
		display: inline-block;
		content: '';
		width: 24px;
		height: 24px;
		margin-right: 7px;
		background: url(#{$url-img}/main/ico_write.png) no-repeat 0 0;
	}
}

.payment_msg {
	display: flex;
	flex-direction: column;
	height: 126px;
	border-radius: 10px;
	background: #ebf4fe;
	justify-content: center;
	align-items: center;
	line-height: 1.4;
	font-weight: 400;
	color: #333;
}

.limit_list {
	margin-top: 57px;

	>li {
		display: flex;
		align-items: baseline;

		&:not(:last-child) {
			margin-bottom: 14px;
		}

		>.l {
			margin-right: auto;
			font-weight: 400;
			font-size: 18px;
			color: #111;
		}

		>.r {
			margin-left: auto;
			font-weight: 400;
			font-size: 18px;
			color: #000;

			>span {
				font-size: 24px;
			}
		}
	}
}

.help_tooltip {
	display: inline-flex;
	position: relative;
	align-self: center;

	button {
		width: 18px;
		height: 18px;
		background: url(#{$url-img}/main/ico_help.png) no-repeat 0 0;
	}

	.tooltip {
		left: -27px;
		top: auto;
		bottom: 32px;
	}
}

.month_money {
	display: inline-flex;
	align-items: baseline;

	&.next_month {
		>.mon {
			font-weight: 200;

			>strong {
				margin-right: 0;
				padding-bottom: 0;
				border-bottom: 0;
				font-size: 20px;
			}
		}
	}

	>.mon {
		line-height: 1;
		font-weight: 400;
		font-size: 18px;
		color: #111;

		>strong {
			display: inline-block;
			margin-right: 4px;
			padding-bottom: 6px;
			border-bottom: 1px solid #000;
			font-weight: 600;
			font-size: 24px;
		}
	}
}

.label_moeny {
	display: flex;
	align-items: baseline;
	justify-content: center;
	font-weight: 400;
	font-size: 18px;
}

.sum_money {
	&.next_month_money {
		>a {
			font-size: 18px;

			>strong {
				margin-right: 5px;
				font-size: 30px;
			}
		}
	}

	>a,
	>span {
		display: inline-flex;
		align-items: baseline;
		font-weight: 400;
		font-size: 24px;
		color: #000;
	}

	>a {
		padding-right: 23px;
		background: url(#{$url-img}/main/ico_right_arrow.png) no-repeat 100% 12px;
	}

	strong {
		margin-right: 8px;
		font-weight: 600;
		font-size: 36px;
	}

	&.customer_no_data {
		>span {
			font-size: 18px;

			>strong {
				margin-right: 4px;
				font-size: 24px;
			}
		}
	}
}

.btn_round_ico {
	display: inline-flex;
	height: 36px;
	padding: 0 20px;
	border-radius: 20px;
	background: #f6f6f6;
	align-items: center;
	text-align: center;
	font-weight: 400;
	color: #333;

	&::after {
		display: inline-block;
		content: '';
		width: 19px;
		height: 19px;
		margin-left: 5px;
		background: url(#{$url-img}/main/ico_setting.png) no-repeat 0 0;
	}
}

.sec_dep_list {
	margin-top: 183px;
	padding-bottom: 110px;

	.deal_list {
		display: flex;

		>.l,
		>.r {
			flex: 1;
		}

		>.l {
			padding-right: 20px;
		}

		>.r {
			padding-left: 20px;
		}
	}

	.tit_money {
		display: flex;
		margin-bottom: 12px;
		line-height: 1;

		>h3 {
			margin-bottom: 0;
		}

		>.deal_money {
			display: inline-block;
			margin-left: auto;
			font-weight: 500;
			font-size: 24px;

			>strong {
				font-weight: 600;
				font-size: 30px;
			}
		}
	}
}

.sub_tit {
	margin-bottom: 20px;
	line-height: 1;
	font-weight: 600;
	font-size: 26px;
	color: #111;
}

.sec_card_list {
	padding: 171px 0 110px;
}

.use_list {

	&.card_use {
		>ul {
			height: 116px;
			padding: 0 50px;
			border-color: #b2cff0;
			background: #e5f1ff;

			>li {
				&::after {
					background: #b2cff0;
				}
			}
		}
	}

	&.fund_use {
		>ul {
			height: 130px;
			border-color: #9cddcd;
			background: #ebfbf7;

			>li {
				&::after {
					background: #9cddcd;
				}
			}
		}
	}

	>ul {
		display: flex;
		border-style: solid;
		border-width: 1px;
		border-radius: 5px;
		align-items: center;

		>li {
			position: relative;
			flex: 1;
			text-align: center;
			line-height: 1;

			&:not(:last-child) {
				&::after {
					content: '';
					position: absolute;
					right: 0;
					top: 50%;
					width: 1px;
					height: 70px;
					margin-top: -35px;
				}
			}

			strong {
				font-weight: 600;
				color: #000;
			}
		}
	}
}

.profit {
	font-weight: 400;
	font-size: 18px;
	color: #000;

	>.profit_money {
		position: relative;
		display: inline-block;
		font-size: 30px;

		&::before {
			display: inline-block;
			content: '';
			width: 0;
			height: 0;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			transform: translate(-6px, -4px);
		}

		&.upper {
			color: #ff3131;

			&+.profit_point {
				color: #ff3131;
			}

			&::before {
				border-bottom: 12px solid #ff0000;
			}
		}

		&.lower {
			color: #0069e1;

			&+.profit_point {
				color: #0069e1;
			}

			&::before {
				border-bottom: 12px solid #0069e1;
				transform: rotate(180deg);
			}
		}
	}

	>.profit_point {
		font-size: 18px;
	}
}

.sec_fund_list {
	padding: 200px 0 50px;

	.latest_fund_list {
		margin-top: 50px;

		>.cate_fund_list {
			&:not(:last-child) {
				margin-bottom: 50px;
			}
		}
	}
}

.sec_my_rec {
	padding: 55px 0 110px;

	.rec_cont {
		>ul {
			display: flex;

			>li {
				position: relative;
				flex: 1;

				padding: 37px 40px 0;
				border: 1px solid #ddd;
				border-radius: 5px 5px 5px 15px;

				&:not(:last-child) {
					margin-right: 30px;
				}
			}
		}

		&.dep_cont {
			>ul>li {
				height: 230px;
			}

			.pro_name {
				>a {
					margin-right: 5px;
					line-height: 1.1;

					>strong {
						font-size: 26px;
						color: #000;
					}

					&:hover {
						text-decoration: underline;
					}
				}

				>.evt_ico_box {
					display: inline-flex;
					vertical-align: top;

					>.evt_icon {
						margin-top: 4px;

						&:not(:last-child) {
							margin-right: 9px;
						}
					}
				}
			}

			.pro_percent {
				display: flex;
				position: absolute;
				left: 0;
				bottom: 43px;
				width: 100%;
				padding: 0 40px;
				align-items: baseline;

				>span {
					font-weight: 400;
					color: #111;
				}

				>strong {
					margin-left: auto;
					line-height: 1;
					font-weight: 600;
					font-size: 40px;
				}
			}
		}

		&.card_cont {
			>ul>li {
				padding-bottom: 38px;
			}

			.card_list_img {
				text-align: center;

				>img {
					border-radius: 15px;
				}
			}

			.card_list_name {
				margin: 20px 0;

				>a {
					display: block;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 2;
					overflow: hidden;
					height: 58px;
					word-break: break-all;
					line-height: 1.1;
					font-weight: 500;
					font-size: 26px;
					color: #000;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

.sec_fund_caution {
	padding: 40px 0 50px;
	background: #eefdf9;

	.tit_caution {
		padding-left: 45px;
		background: url(#{$url-img}/main/ico_tit_notice.png) no-repeat 0 2px;
		font-weight: 500;
		font-size: 22px;
		color: #111;
	}
}

.ico_link_list {
	display: flex;

	>li {
		flex: 1;
		border-radius: 7px;
		box-shadow: -6px 7px 17px 2px rgba(0, 0, 0, .02);
		background: #fff;

		&:not(:last-child) {
			margin-right: 30px;
		}

		>a {
			display: flex;
			height: 102px;
			padding-left: 123px;
			background-position: 41px 50%;
			background-repeat: no-repeat;
			flex-direction: column;
			justify-content: center;
			line-height: 1.2;
			font-weight: 400;
			font-size: 23px;
			color: #333;
		}
	}

	.fund_cau1 {
		background-image: url(#{$url-img}/main/ico_link_deco1.png);
	}

	.fund_cau2 {
		background-image: url(#{$url-img}/main/ico_link_deco2.png);
	}

	.fund_cau3 {
		background-image: url(#{$url-img}/main/ico_link_deco3.png);
	}
}

.tit_top {
	display: flex;
	align-items: end;

	>.l {
		margin-right: auto;

		>.tit_ico {
			display: inline-flex;
			margin-right: 16px;
			padding: 5px 0 0 45px;
			background-position: 0 0;
			background-repeat: no-repeat;
			font-size: 22px;
			color: #111;

			&.ico_rec {
				background-image: url(#{$url-img}/main/ico_hand.png);
			}

			&.ico_basket {
				background-position-y: 3px;
				background-image: url(#{$url-img}/main/ico_basket.png);
			}

			&.ico_interest {
				padding-left: 41px;
				background-position-y: 12px;
				background-image: url(#{$url-img}/main/ico_interest.png);
			}
		}

		>ul {
			display: inline-flex;
			font-weight: 300;
			font-size: 20px;
			color: #555;

			>li {
				&:not(:last-child) {
					margin-right: 9px;
				}
			}
		}
	}

	>.r {
		margin-left: auto;
	}
}

.txt_caution {
	padding-left: 25px;
	background: url(#{$url-img}/main/ico_caution.png) no-repeat 0 6px;
}

.product_list {
	>.fund_product_msg {
		display: flex;
		height: 215px;
		border: 1px solid #ddd;
		border-radius: 10px;
		align-items: center;
		justify-content: center;

		>p {
			display: inline-flex;
			align-items: center;
			font-weight: 400;

			&::before {
				display: inline-block;
				content: '';
				width: 24px;
				height: 24px;
				margin-right: 7px;
				background: url(#{$url-img}/main/ico_write.png) no-repeat 0 0;
			}
		}
	}

	>ul {
		display: flex;

		>li {
			position: relative;
			flex: 1;
			padding: 24px 29px;
			border: 1px solid #ddd;
			border-radius: 10px;

			&:not(:last-child) {
				margin-right: 20px;
			}

			>.inner {
				display: flex;
				height: 100%;
				flex-direction: column;
			}
		}

		.top {
			display: flex;

			>.r {
				margin-left: auto;
			}

			.pro_date {
				color: #333;
			}
		}

		.mid {
			flex: 1;
			-ms-flex-preferred-size: auto;
			margin-top: 12px;

			>strong {
				display: block;
				line-height: 1.3;
				word-break: break-all;
				font-weight: 400;
				font-size: 18px;
				color: #333;
			}
		}

		.btm {
			margin-top: 30px;
		}
	}

	.round_badge {
		font-weight: 500;
		font-size: 14px;
	}

	.lightbeige {
		color: #e2a116;
	}

	.lightpink {
		color: #f46e17;
	}

	.lightgreen {
		color: #6ac6b0;
	}
}

.round_badge {
	display: inline-flex;
	padding: 6px 10px;
	border-radius: 15px;
	align-items: center;
	line-height: 1;
}

.beige {
	background: #fff4d4;
}

.mint {
	background: #ebfbf7;
}

.lightpurple {
	background: #e5f1ff;
}

.lightbeige {
	background: #fff6e2;
}

.lightpink {
	background: #fff1e9;
}

.lightgreen {
	background: #ebfbf7;
}

.btn_explain.small {
	height: 25px;
}

.hashtag_list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -9px;
	line-height: 1.1;

	>li {
		margin: 0 3px 9px 0;
		font-size: 14px;
		color: #666;
	}
}

.btn_memo {
	display: inline-flex;
	vertical-align: top;
	align-items: center;
	font-weight: 200;
	font-size: 16px;
	color: #333;

	&::before {
		display: inline-block;
		content: '';
		width: 23px;
		height: 19px;
		margin-right: 2px;
		background: url(#{$url-img}/main/ico_memo_write.png) no-repeat 0 0;
	}

	&:disabled {
		color: #888;

		&::before {
			background-image: url(#{$url-img}/main/ico_memo_disable.png);
		}
	}
}

.th_tit {
	display: flex;
	padding: 0 10px;
	font-weight: 500;
	font-size: 18px;

	>.l {
		margin-right: auto;
	}

	>.r {
		margin-left: auto;
	}
}

.tbl_data.bg_th_beige+.tbl_data.bg_th_beige,
.tbl_data.bg_th_blue+.tbl_data.bg_th_blue {
	margin-top: -1px;
}

.tbl_data.bg_th_beige,
.tbl_data.bg_th_blue {
	table {
		border-top: 1px solid #111;
		border-bottom: 1px solid #111;
	}

	thead>tr>th {
		//padding: 17px 10px;
	}
}

.tbl_data.bg_th_beige {
	thead>tr>th {
		background: #fffbef;
	}
}

.tbl_data.bg_th_blue {
	thead>tr>th {
		background: #f4f9ff;
	}
}

.block {
	display: block;
}

.col_blue {
	color: #0069e1;
}

.col_red {
	color: #dd3927;
}

.fsize_18 {
	font-size: 18px;
}

.fsize_20 {
	font-size: 20px;
}

.fsize_24 {
	font-size: 24px;
}

.fsize_26 {
	font-size: 26px;
}

.fsize_30 {
	font-size: 30px;
}

.col_black {
	color: #000;
}

.col_darkblack {
	color: #111;
}

.col_darkgray {
	color: #333;
}

.col_gray {
	color: #888;
}