.sec_home {
	padding-top: 134px;
	background-color: #fffbef;
}

.mall_sec01 {


	.main_promotion {
		position: relative;

		.main_promotion_slide {
			overflow: hidden;
			height: 476px;

			.slick-slide {
				a {
					display: block;
					position: relative;
					height: 476px;

					>img {
						position: absolute;
						left: 50%;
						top: 0;
						transform: translateX(-50%);
					}
				}
			}
		}

		.rolling_info {
			display: flex;
			position: absolute;
			left: calc((100% - 1200px) / 2);
			bottom: 140px;
			padding-left: 20px;

			.nums {
				display: inline-block;
				vertical-align: middle;
				position: relative;

				strong {
					margin-right: 70px;
				}

				.bar {
					border-top: 1px solid #7f7c76;
					width: 50px;
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);

					span {
						border-top: 1px solid #000;
						position: absolute;
						left: 0;
						top: -1px;
						transition: all .3s ease-in-out;
					}
				}

				>* {
					font-weight: bold;
				}
			}
		}

	}
}