.sec_home {
	padding-top: 134px;
	background-color: #fffbef;
}

.mall_first {
	background: #fff;

	.best_promotion {
		position: relative;
		margin-top: -75px;
		background: #fff;
		border-radius: 10px;
		box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.08);

		.best {
			position: absolute;
			top: -22px;
			left: 0;
			background: #ff883b;
			border-radius: 20px 30px 30px 0;
			font-size: 18px;
			line-height: 44px;
			color: #fff;
			padding: 0 25px;

			strong {
				font-weight: 600;
			}
		}

		>ul {
			display: flex;
			padding: 50px 0;

			li {
				width: 25%;
				background-position: calc(100% - 30px) 100%;
				background-repeat: no-repeat;

				&.bg_dep {
					background-image:url(#{$url-img}/main/ico_mall_dep.png);
				}

				&.bg_ins {
					background-image:url(#{$url-img}/main/ico_mall_ins.png);
				}

				&.bg_card {
					background-image:url(#{$url-img}/main/ico_mall_card.png);
				}

				&.bg_fund {
					background-image:url(#{$url-img}/main/ico_mall_fund.png);
				}

				&:not(:first-child) {
					border-left: 1px solid #eee;
				}

				>a {
					display: block;
					padding: 8px 75px 30px 30px;
					height: 100%;

					h4 {
						font-size: 16px;
						line-height: 1;
						font-weight: 600;
						margin-bottom: 11px;
					}

					p {
						font-size: 20px;
						font-weight: 400;
						line-height: 1.4;
						color: #555;
					}
				}
			}
		}
	}
}

.mall_main_promotion {
	position: relative;

	.mall_promotion_slide {
		.slick-slide {
			overflow: hidden;
			height: 476px;

			a {
				display: block;
				position: relative;
				height: 476px;

				>img {
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%);
				}
			}

			img {
				max-width: none;
			}
		}
	}

	.rolling_info {
		position: absolute;
		left: calc((100% - 1200px) / 2);
		bottom: 140px;
	}
}

.rolling_info {
	display: flex;
	align-items: center;
	padding-left: 20px;

	.nums {
		display: inline-block;
		vertical-align: middle;
		position: relative;

		strong {
			margin-right: 70px;
		}

		.bar {
			border-top: 1px solid #7f7c76;
			width: 50px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			span {
				border-top: 1px solid #000;
				position: absolute;
				left: 0;
				top: -1px;
				transition: all .3s ease-in-out;
			}
		}

		>* {
			font-weight: bold;
		}
	}
}

.btn_ctrl {
	display: inline-block;
	vertical-align: middle;
	margin-left: 13px;

	button {
		width: 24px;
		height: 24px;
		line-height: 1000px;
		overflow: hidden;
		display: block;
		border-radius: 50%;
		background-position: 0 0;
		background-repeat: no-repeat;

		&.btn_pause {
			background-image: url(#{$url-img}/main/btn_pause.png);
		}

		&.btn_play {
			background-image: url(#{$url-img}//main/btn_play.png);
		}
	}
}

.mall_theme {
	.container {
		padding: 76px 0 70px;
	}

	h3 {
		font-size: 27px;
		line-height: 1;
		font-weight: 500;
		text-align: center;

		strong {
			font-weight: 600;
		}
	}

	ul {
		display: flex;
		margin-top: 44px;

		>li {
			width: calc((100%/3) - 10px);
			border-radius: 10px;
			background-repeat: no-repeat;
			background-position: 100% 100%;

			&.bg01 {
				background-image: url(#{$url-img}//main/bg_mall_theme01.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}//main/bg_mall_theme02.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}//main/bg_mall_theme03.png);
			}

			&:not(:first-child) {
				margin-left: 20px;
			}

			>a {
				display: block;
				padding: 40px 20px 42px;

				h4 {
					font-size: 22px;
					font-weight: 600;
					line-height: 1;
				}

				p {
					font-size: 18px;
					color: #555;
					font-weight: 400;
					line-height: 24px;

					span {
						display: inline-block;
						padding-bottom: 1px;
						border-bottom: 1px solid #666;
					}

					strong {
						color: #222;
					}
				}
			}
		}
	}
}

.mall_search {
	padding-bottom: 60px;

	.mall_search_box {
		display: flex;
		min-height: 210px;
		background: #fbe59b;
		padding: 40px 40px 43px;
		overflow: hidden;
		border-radius: 6px;

		.l,
		.r {
			flex: 1;
		}

		h3 {
			display: flex;
			align-items: center;
			font-size: 20px;
			color: #333;
			font-weight: 500;
			line-height: 1;

			&:before {
				content: '';
				display: inline-block;
				background-position: 0 0;
				background-repeat: no-repeat;
				margin-right: 5px;
				vertical-align: middle;
			}

			&.find:before {
				width: 25px;
				height: 26px;
				background-image: url(#{$url-img}/main/ico_tit_gift.png);
			}

			&.tag:before {
				width: 27px;
				height: 28px;
				background-image: url(#{$url-img}/main/ico_tit_tag.png);
			}
		}

		.product_search {
			position: relative;
			width: 494px;
			height: 70px;
			padding-right: 70px;
			border: 1px solid #111;
			border-radius: 6px;
			background: #fff;
			overflow: hidden;

			input[type=text] {
				width: 100%;
				height: 100%;
				font-size: 26px;
				background: #fff;
				color: #333;
				font-weight: 100;
				border: 0;
				padding: 0 20px;

				&::placeholder {
					color: #999;
				}
			}

			button {
				position: absolute;
				display: inline-block;
				right: 0;
				top: 0;
				width: 70px;
				height: 68px;
				background:url(#{$url-img}/main/btn_search.png) 50% 50% no-repeat;
			}
		}

		.l {
			position: relative;
			z-index: 1;
			padding-right: 128px;

			&:after {
				content: '';
				position: absolute;
				z-index: -1;
				right: 33px;
				top: 0;
				width: 166px;
				height: 170px;
				background:url(#{$url-img}/main/img_pro_search.png) 0 0 no-repeat;
			}

		}

		.r {
			h3 {
				a:after {
					content: '';
					display: inline-block;
					width: 7px;
					height: 13px;
					margin-left: 8px;
					background: url(#{$url-img}/main/ico_link_arrow.png) 0 0 no-repeat;
				}
			}

			ul {
				font-size: 0;

				li {
					display: inline-block;
					vertical-align: top;
					margin-right: 5px;
					margin-top: 10px;

					>a {
						display: block;
						padding: 0 10px;
						line-height: 30px;
						border-radius: 20px;
						border: 1px dashed #555;
						font-size: 16px;
						color: #555;
					}
				}
			}
		}
	}

	.mall_search_result {
		padding: 20px 40px 50px;
		background: #fffcf4;
	}
}

.mall_news {
	padding-bottom: 80px;

	.container {
		display: flex;

		h3 {
			font-size: 27px;
			font-weight: 600;
			line-height: 1;

			&:before {
				content: '';
				display: inline-block;
				background-position: 0 0;
				background-repeat: no-repeat;
				vertical-align: middle;
			}

			span {
				font-weight: 400;
			}
		}

		.news_con {
			width: 600px;

			.tit {
				display: flex;
				align-items: center;
				margin-bottom: 27px;

				h3 {
					display: flex;
					align-content: center;
					margin-right: auto;

					&:before {
						width: 30px;
						height: 31px;
						background-image:url(#{$url-img}/main/ico_tit_notice.png);
						margin-right: 13px;
					}
				}

				a {
					display: block;
					margin-left: auto;
					font-size: 14px;
					color: #555;

					&:after {
						content: '';
						display: inline-block;
						width: 17px;
						height: 7px;
						margin-left: 6px;
						background:url(#{$url-img}/main/ico_more_arrow.png) 0 0 no-repeat;
					}


				}
			}

			>ul {
				>li {
					&:not(:first-child) {
						margin-top: 37px;
					}

					>a {
						display: block;
						color: #333;
						font-weight: 400;

						h4 {
							font-size: 18px;
							font-weight: 600;
							line-height: 24px;
							max-height: 48px;
							display: -webkit-box;
							word-wrap: break-word;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						p {
							font-size: 15px;
							margin-top: 11px;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						span {
							display: block;
							font-size: 13px;
							color: #888;
							margin-top: 14px;
						}
					}
				}
			}
		}

		.pop_con {
			width: 540px;
			margin-left: auto;

			.tit {
				position: relative;
				margin-bottom: 23px;

				h3 {
					&:before {
						width: 34px;
						height: 36px;
						background-image:url(#{$url-img}/main/ico_tit_event.png);
						margin-right: 8px;
						vertical-align: bottom;
					}
				}

				.rolling_info {
					position: absolute;
					bottom: -3px;
					right: 0;

					.btn_ctrl {
						button {
							&.btn_pause {
								background-image: url(#{$url-img}/main/btn_pop_pause.png);
							}

							&.btn_play {
								background-image: url(#{$url-img}/main/btn_pop_play.png);
							}
						}
					}
				}
			}

			.mall_popzone_slide {
				.slick-slide a {
					display: block;
					border-radius: 6px;
				}
			}
		}
	}
}