.status_info {
	display: flex;
	padding: 24px 130px 24px 44px;
	align-items: center;

	>.l {
		display: flex;
		flex: 1;
		padding-right: 30px;
		align-items: center;

		>.count {
			width: 153px;
			height: 60px;
			margin-right: 25px;
			padding-left: 23px;
			border-radius: 40px;
			background: rgba(255, 255, 255, .5);
			line-height: 60px;
			font-size: 18px;
			font-weight: 400;
			color: #111;

			&::before {
				display: inline-block;
				content: '';
				width: 26px;
				height: 29px;
				background: url(#{$url-img}/main/ico_notice.png) no-repeat 0 0;
				vertical-align: middle;
			}

			>span {
				color: #d70000;
			}
		}

		>.current_status {
			>.date_time {
				font-weight: 400;
				color: #333;

				>span {
					position: relative;
					display: inline-block;
					height: 30px;
					margin-right: 9px;
					padding: 0 10px;
					background: #fff;
					border-radius: 20px;
					line-height: 30px;

					&::after {
						content: '';
						position: absolute;
						right: -5px;
						top: 50%;
						width: 0;
						height: 0;
						transform: translateY(-50%);
						border-top: 5px solid transparent;
						border-left: 6px solid #fff;
						border-bottom: 5px solid transparent;
					}
				}
			}

			>.status {
				font-size: 18px;

				>strong {
					font-weight: 600;
				}
			}
		}
	}

	>.r {
		>a:not(:last-child) {
			margin-right: 6px;
		}

		>.btn_outline_default {
			border-width: 0;
		}

		>.btn_talk {
			&::before {
				display: inline-block;
				content: '';
				width: 30px;
				height: 23px;
				margin-right: 6px;
				background: url(#{$url-img}/main/ico_talk.png) no-repeat 0 0;
			}
		}
	}
}

.main_promotion {
	position: relative;

	.slick-slide {
		overflow: hidden;
		height: 619px;

		a {
			display: block;
			position: relative;
			height: 619px;

			>img {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
			}
		}
	}

	img {
		max-width: none;
	}
}

.rolling_info {
	display: flex;
	position: absolute;
	left: calc((100% - 1200px) / 2);
	bottom: 0;

	>.nums {
		display: inline-block;
		position: relative;

		>strong {
			margin-right: 70px;
		}

		>.bar {
			border-top: 1px solid #b2b2b2;
			width: 50px;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			>span {
				border-top: 1px solid #000;
				position: absolute;
				left: 0;
				top: -1px;
				transition: all .3s ease-in-out;
			}
		}
	}
}