//예금 모바일웹
.titlebar_mobileweb {
	padding: 12px 15px;

	.btn_icon {
		width: 33px;
		height: 33px;
		border-radius: 16.5px;
		border: 1px solid #efefef;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
	}

	.tit_page {
		display: inline-flex;
		align-items: center;
	}
}


//이용가이드
.modal_guide {
	padding: 55px 20px 20px;

	.popup_inner {
		width: 100%;
		height: 100%;
		padding: 0 30px 60px;
		border-radius: 10px;
	}

	.popup_header {
		padding-left: 0;
		margin-left: -5px;
	}

	.popup_body {
		padding: 20px 0;
		height: 100%;
		overflow-y: inherit;

		.use_guide {
			position: relative;
			height: 100%;

			.guide_slider {
				height: calc(100% - 30px);
			}

			.item {
				background-color: #7f7f7f;
				height: calc(100vh - 215px);
				text-align: center;

				img {
					display: inline-block;
					//width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.slick {
			&-arrow {
				position: absolute;
				top: calc(50% - 23.5px);
				width: 22px;
				height: 47px;
				background-image: url(#{$url-img}/content/ico_chevron_right_lg.png);
				background-repeat: no-repeat;
				background-size: 22px 47px;
				background-position: 0 0;
				text-indent: -9999px;
				overflow: hidden;
			}

			&-prev {
				transform: rotate(-180deg);
				left: -35px;
			}

			&-next {
				right: -35px;
			}

			&-disabled {
				background-image: url(#{$url-img}/content/ico_chevron_right_lg_lightgray.png);
			}

			&-slider {
				height: 100%;
			}
		}

		.btn_ctrl {
			width: 100%;
			margin-top: 10px;

			>* {
				position: absolute;
			}

			>button {
				bottom: 1px;
				left: 50%;
				transform: translateX(-50%);
				text-indent: -999px;
				overflow: hidden;
			}

			.btn {
				&_play {
					width: 15px;
					height: 17px;
					background-image: url(#{$url-img}/content/ico_next.png);
					background-size: 15px 17px;
				}

				&_pause {
					width: 15px;
					height: 17px;
					background-image: url(#{$url-img}/content/ico_stop.png);
					background-size: 15px 17px;
				}
			}

			.ico {
				display: inline-block;
				width: 22px;
				height: 22px;
				background-image: url(#{$url-img}/content/ico_play_on.png);
				background-size: 22px 22px;
				vertical-align: middle;

				&.off {
					background-image: url(#{$url-img}/content/ico_play_off.png);
				}
			}

			.right {
				right: 0;
			}

			.slick {
				&-arrow {
					position: relative;
					width: 15px;
					height: 17px;
					background-image: url(#{$url-img}/content/ico_next.png);
					background-size: 15px 17px;
				}

				&-prev {
					transform: rotate(180deg);
					margin-right: 10px;
					left: 0;
				}

				&-next {
					right: 0;
				}
			}
		}
	}
}

//경영공시실
.tab_border {
	margin-bottom: 26px;

	.tab_list {
		&:after {
			content: '';
			clear: both;
			display: block;
		}

		li {
			float: left;
			width: calc(50% - 10px);
			height: 35px;
			line-height: 32px;
			text-align: center;
			color: $gray;
			border-radius: 5px;
			border: 1px solid #ddd;

			+li {
				margin-left: 10px;
			}

			a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}

			&.on {
				border-color: #111;
				color: #111;
			}
		}
	}
}

.btn_download {
	display: inline-flex;
	width: 13px;
	height: 12px;
	align-items: center;
	justify-content: center;
	background-image: url(#{$url-img}/content/ico_download_sm.png);
	background-size: 13px 12px;
}

.tbl_header {
	position: relative;
	margin-bottom: 15px;

	.tbl_year {
		text-align: center;
		font-size: 20px;
		font-weight: 400;
	}

	.btn {
		&_arrow {
			position: absolute;
			width: 9px;
			height: 15px;
			top: calc(50% - 8px);
			background-image: url(#{$url-img}/content/ico_chevron_right_black.png);
			background-size: 9px 15px;
			text-indent: -9999px;
			overflow: hidden;
			text-align: center;
		}

		&_next {
			right: 25%;
		}

		&_prev {
			left: 25%;
			transform: rotate(180deg);
		}
	}
}