//예금 모바일웹
.titlebar_mobileweb {
	padding: 12px 15px;

	.btn_icon {
		width: 33px;
		height: 33px;
		border-radius: 16.5px;
		border: 1px solid #efefef;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
	}

	.tit_page {
		display: inline-flex;
		align-items: center;
	}
}


//이용가이드
.modal_guide {
	padding: 55px 20px 20px;

	.popup_inner {
		width: 100%;
		height: 100%;
		padding: 0 30px 60px;
		border-radius: 10px;
	}

	.popup_header {
		padding-left: 0;
		margin-left: -5px;
	}

	.popup_body {
		padding: 20px 0;
		height: 100%;

		.use_guide {

			height: 100%;

			.guide_slider {
				height: calc(100% - 30px);
				margin-left: -5px
			}

			.slick-slide {
				margin-left: 10px;
			}

			.item {
				background-color: #7f7f7f;
				height: calc(100vh - 215px);
				text-align: center;

				img {
					display: inline-block;
					//width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.slick {
			&-arrow {
				position: absolute;
				top: calc(50% - 23.5px);
				width: 22px;
				height: 47px;
				background-image: url(#{$url-img}/content/ico_chevron_right_lg.png);
				background-repeat: no-repeat;
				background-size: 22px 47px;
				background-position: 0 0;
				text-indent: -9999px;
				overflow: hidden;
			}

			&-prev {
				transform: rotate(-180deg);
				left: -5px;
			}

			&-next {
				right: -5px;
			}

			&-disabled {
				background-image: url(#{$url-img}/content/ico_chevron_right_lg_lightgray.png);
			}

			&-slider {
				height: 100%;
			}
		}

		.btn_ctrl {
			position: relative;
			width: 100%;
			margin-top: 10px;

			>* {
				position: absolute;
			}

			>button {
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				text-indent: -999px;
				overflow: hidden;
			}

			.btn {
				&_play {
					width: 15px;
					height: 17px;
					background-image: url(#{$url-img}/content/ico_next.png);
					background-size: 15px 17px;
				}

				&_pause {
					width: 15px;
					height: 17px;
					background-image: url(#{$url-img}/content/ico_stop.png);
					background-size: 15px 17px;
				}
			}

			.ico {
				display: inline-block;
				width: 22px;
				height: 22px;
				background-image: url(#{$url-img}/content/ico_play_on.png);
				background-size: 22px 22px;
				vertical-align: middle;

				&.off {
					background-image: url(#{$url-img}/content/ico_play_off.png);
				}
			}

			.right {
				right: 0;
			}

			.slick {
				&-arrow {
					position: relative;
					width: 15px;
					height: 17px;
					background-image: url(#{$url-img}/content/ico_next.png);
					background-size: 15px 17px;
				}

				&-prev {
					transform: rotate(180deg);
					margin-right: 10px;
					left: 0;
				}

				&-next {
					right: 0;
				}
			}
		}
	}
}

//경영공시실
.tab_border {
	margin-bottom: 26px;

	.tab_list {
		&:after {
			content: '';
			clear: both;
			display: block;
		}

		li {
			float: left;
			width: calc(50% - 10px);
			height: 35px;
			line-height: 32px;
			text-align: center;
			color: $gray;
			border-radius: 5px;
			border: 1px solid #ddd;

			+li {
				margin-left: 10px;
			}

			a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}

			&.on {
				border-color: #111;
				color: #111;
			}
		}
	}
}

.btn_download {
	display: inline-flex;
	width: 13px;
	height: 12px;
	align-items: center;
	justify-content: center;
	background-image: url(#{$url-img}/content/ico_download_sm.png);
	background-size: 13px 12px;
}

.tbl_header {
	position: relative;
	margin-bottom: 15px;

	.tbl_year {
		text-align: center;
		font-size: 20px;
		font-weight: 400;
	}

	.btn {
		&_arrow {
			position: absolute;
			width: 9px;
			height: 15px;
			top: calc(50% - 8px);
			background-image: url(#{$url-img}/content/ico_chevron_right_black.png);
			background-size: 9px 15px;
			text-indent: -9999px;
			overflow: hidden;
			text-align: center;
		}

		&_next {
			right: 25%;
		}

		&_prev {
			left: 25%;
			transform: rotate(180deg);
		}
	}
}

//비대면서비스
.guide_top_txt {
	padding-left: 50px;
	margin-bottom: 25px;
	background-image: url(#{$url-img}/content/ico_guide_top01.png);
	background-position: 5px 5px;
	background-size: 36px 32px;
	background-repeat: no-repeat;

	&.guide_top_open {
		background-image:url(#{$url-img}/content/ico_guide_top02.png);
		background-size: 32px 32px;
	}

	dd {
		font-size: 12px;
	}

	.dl_notice {
		padding-left: 25px;
		background-image: url(#{$url-img}/common/ico_notice.png);
		background-size: 15px 15px;
		background-repeat: no-repeat;
		background-position: left 5px;
	}
}

$guide_info_height: 500px;

.guide_info_membership {
	height: $guide_info_height;
	padding: 12px 15px 20px;
	margin-bottom: 70px;
	border: 1px solid $border-base;
	border-radius: 15px;

	.guide_info_tit {
		display: block;
		margin-bottom: 17px;
		text-align: center;
		line-height: 20px;

		small {
			display: block;
			font-size: 12px;
			font-weight: 200;
		}
	}

	.guide_point {
		position: relative;
	}

	.guide_slider {
		width: 100%;
		//height: $guide_info_height - 90px;
		margin-left: -5px;

		.slick-slide {
			position: relative;
			margin-left: 10px;
		}

		.item {
			height: $guide_info_height - 90px;
			background: #f6f6f6;
			text-align: center;
			border-radius: 10px;
			overflow: hidden;
		}

		.slick-dots {
			position: absolute;
			bottom: -48px;
			display: flex;
			justify-content: center;
			width: 100%;

			li {
				flex: 0 0 10px;
				margin: 0 5px;
				line-height: 0;

				button {
					display: inline-block;
					width: 10px;
					height: 10px;
					border-radius: 5px;
					background-color: #bbb;
					text-indent: -9999px;
					overflow: hidden;
				}

				&.slick-active {
					button {
						background-color: $black;
					}
				}
			}
		}
	}
}

.box_row_list {
	margin: 0 -5px;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	>li {
		float: left;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: calc(33.333% - 10px);
		height: 120px;
		margin: 0 5px;
		border: 1px solid $border-base;
		border-radius: 7px;

		.ico {
			display: inline-block;
			width: 40px;
			height: 40px;
			background-repeat: no-repeat;
			background-position: center top;
			background-size: 40px 40px;

			&_acc_prep01 {
				background-image: url(#{$url-img}/content/ico_acc_prep01.png);
			}

			&_acc_prep02 {
				background-image: url(#{$url-img}/content/ico_acc_prep02.png);
			}

			&_acc_prep03 {
				background-image: url(#{$url-img}/content/ico_acc_prep03.png);
			}

		}

		strong {
			margin-top: 7px;
			height: 33px;
			text-align: center;
			line-height: 17px;
			vertical-align: top;
			font-weight: 400;
		}
	}
}

.step_col_list {
	>li {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 75px;
		background-color: $primary;
		border-radius: 10px;

		strong {
			align-self: center;
			margin: -2px auto 0;
			font-size: 20px;
			line-height: 20px;
			text-align: center;

			small {
				display: block;
				font-size: 12px;
				font-weight: 200;
				text-transform: uppercase;
			}
		}

		dl {
			width: calc(100% - 70px);
			padding: 14px 15px;
			border: 1px solid $border-base;
			border-left: 0;
			border-radius: 0 10px 10px 0;
			background-color: #fff;

			dt {
				font-weight: 400;
			}

			dd {
				color: $gray;
				font-size: 12px;
			}
		}

		+li {
			margin-top: 10px;
		}
	}
}

.btn_group {
	.btn_block {
		width: 100%;
	}
}

//mobileweb1Pages.scss
//기타/비대면서류제출

.slider_bar {
	width: 100%;
	position: relative;
	padding: 0 10px;

	.range_slider {
		width: 100%;

		.range_slider_range {
			width: 100%;
		}



		// Range Label
		.range_slider_value {
			display: inline-block;
			position: absolute;
			top: calc(50% - 35px);
			left: calc(0% - 5px);
			width: 100%;
			line-height: 20px;
			text-align: center;
			border-radius: 3px;
			padding: 5px 10px;
			margin-left: 8px;

			&::after {
				content: " 만원";
			}
		}
	}
}

.lh_22 {
	line-height: 20px;
}

.mt_8px {
	margin-top: 8px;
}

.txt_xs_10 {
	font-size: 10px;
}

.txt_light02 {
	font-weight: 300;
}

.popup_header {
	.tit_notice {
		position: relative;
		color: #333;
		display: flex;
		flex-direction: column;

		.ico_notice_yellow02 {
			display: block;
			background-repeat: no-repeat;
			background-position: center center;
			text-align: left;
			width: 20px;
			height: 20px;
			line-height: 20px;
			background-image: url(/resources/img/content/ico_notice_yellow02.png);
			background-size: 20px 20px;
		}
	}
}

.check_switch {
	&.switch_style02 {
		input {
			&:checked+label {
				width: 65px;
				padding-left: 20px;
				padding-right: 28px;
			}

			&+label {
				width: 65px;
				padding-left: 25px;
				padding-right: 28px;
			}
		}

	}
}

//mobileweb2Pages.scss

//비대면계좌개설, 신청내역조회

.txt_20px {
	font-size: 20px;
}

.txt_12px {
	font-size: 12px;
}

.txt_col_333 {
	color: #333333;
}

// 우체국 앱 서비스
.txt_container {
	.tit1 {
		display: flex;
		align-items: flex-start;

		.num {
			display: inline-flex;
			justify-content: center;
			width: 16px;
			height: 16px;
			background: #333333;
			border-radius: 50%;
			font-size: 10px;
			font-weight: 200;
			color: #ffffff;
			line-height: 14.5px;
			margin-top: 5px;
			margin-right: 4px;
		}
	}
}

.btn_box {
	a {
		&.btn_80px {
			width: 100%;
			height: 80px;
			border: 1px solid #dddddd;
			border-radius: 7px;
			padding: 30px 17px 30px 20px;
			font-size: 18px;
			font-weight: 500;
			color: #111111;
			display: flex;
			justify-content: space-between;
		}

		&:nth-child(1) {
			position: relative;
			padding-left: 60px;

			&:before {
				content: '';
				position: absolute;
				left: 20px;
				width: 25px;
				height: 20px;
				background: url(/resources/img/content/ico_passbook2.png) no-repeat;
				background-size: 100%;
			}
		}

		&:nth-child(2) {
			position: relative;
			padding-left: 60px;

			&:before {
				content: '';
				position: absolute;
				left: 20px;
				width: 25px;
				height: 20px;
				background: url(/resources/img/content/ico_checkcard.png) no-repeat;
				background-size: 100%;
			}
		}
	}
}

// 이용 가이드
.guide_bg {
	width: 100%;
	height: 245px;
	background: url(/resources/img/content/utility_bg06.png) no-repeat 50% 0;
	background-size: 120px 120px;
	text-align: center;
	padding-top: 135px;
}

.btn_custom_list {
	padding-bottom: 70px;

	ul {
		li {
			position: relative;

			a {
				width: 100%;
				height: 65px;
				border: 1px solid #dddddd;
				border-radius: 8px;
				padding: 20px 20px 20px 60px;
				font-size: 18px;
				font-weight: 500;
				color: #111111;
				display: flex;
				justify-content: space-between;

				strong {
					.txt_sm {
						display: block;
						font-weight: 300;
					}
				}
			}

			&:nth-child(1) {
				a {
					&:before {
						content: '';
						position: absolute;
						left: 20px;
						width: 25px;
						height: 25px;
						background: url(/resources/img/content/ico_customer1.png) no-repeat;
						background-size: cover;
					}
				}
			}

			&:nth-child(2) {

				a {
					&:before {
						content: '';
						position: absolute;
						left: 20px;
						width: 25px;
						height: 24.5px;
						background: url(/resources/img/content/ico_customer2.png) no-repeat;
						background-size: cover;
					}
				}
			}

			&:nth-child(3) {
				a {
					&:before {
						content: '';
						position: absolute;
						left: 23px;
						width: 20px;
						height: 25px;
						background: url(/resources/img/content/ico_customer3.png) no-repeat;
						background-size: cover;
					}
				}
			}

			&:nth-child(4) {
				a {
					&:before {
						content: '';
						position: absolute;
						left: 21.5px;
						width: 23.5px;
						height: 21.5px;
						background: url(/resources/img/content/ico_customer4.png) no-repeat;
						background-size: cover;
					}
				}
			}
		}
	}

	&.btn_row_list {
		ul {
			li {
				a {
					height: 80px;
					padding: 20px 17px 20px 60px;

					&:before {
						left: 20px;
						width: 25px;
						height: 22px;
						background: url(/resources/img/content/ico_passbook3.png) no-repeat;
						background-size: 100%;
					}
				}

				&:nth-child(2) {
					a {
						&:before {
							left: 21.5px;
							width: 23px;
							height: 20.5px;
							background: url(/resources/img/content/ico_checkcard2.png) no-repeat;
							background-size: 100%;
						}
					}
				}

				&:nth-child(3) {
					a {
						&:before {
							left: 20px;
							width: 25px;
							height: 22px;
							background: url(/resources/img/content/ico_passbook4.png) no-repeat;
							background-size: 100%;
						}
					}
				}

				&:nth-child(4) {
					a {
						&:before {
							left: 22px;
							width: 21px;
							height: 24.5px;
							background: url(/resources/img/content/ico_mall.png) no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}

		strong {
			.txt_sm {
				display: block;
				font-weight: 300;
			}
		}
	}
}

// 우체국 앱 서비스
.app_service {
	ul {
		>li {
			+li {
				margin-top: 15px;
			}

			&:nth-child(2) {
				.service_item {
					.service_cont {
						.img {
							width: 48px;
							height: 48.5px;
						}
					}
				}
			}

			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6) {
				.service_item {
					.service_cont {
						.img {
							width: 53px;
							height: 53px;
						}
					}
				}
			}
		}
	}

	.service_item {
		padding: 18px 20px 0;
		border: 1px solid $border-base;
		border-radius: 15px;
		box-shadow: 3px 4px 10px rgba(0, 0, 0, .06);

		.service_cont {
			display: flex;

			.img {
				display: inline-block;
				align-self: center;
				width: 49px;
				height: 49px;
				object-fit: cover;
			}

			strong {
				display: block;
				width: 100%;
				text-align: center;
			}

			dl {
				width: calc(100% - 49px);
				padding-left: 22px;

				dt {
					font-weight: 500;
					margin-bottom: 6px;
				}

				dd {
					font-size: 12px;
					color: $gray;
					line-height: 17px;
				}
			}
		}

		.btn_group {
			position: relative;
			display: flex;
			margin: 18px -20px 0;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				height: 1px;
				background-color: #eee;

			}

			>* {
				width: 50%;
				padding: 13px 0 14px;
				font-size: 12px;
				color: #333;
				line-height: 1;
				font-weight: 200;
				margin: 0;
			}

			.btn {
				position: relative;

				span {
					position: relative;
					padding-left: 25px;
					background-image: url(#{$url-img}/content/ico_appservice7.png);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 12px 11.5px;
				}

				&.btn_down {
					span {
						background-image: url(#{$url-img}/content/ico_appservice8.png);
						background-size: 11px 12px;
					}

					&:before {
						content: '';
						position: absolute;
						top: calc(50% - 9px);
						left: 0;
						width: 1px;
						height: 18px;
						background-color: #eee;
					}
				}

				&.btn_paper {
					span {
						background-image: url(#{$url-img}/content/ico_paperlist2.png);
						background-size: 11.5px 12px;
					}

					&:before {
						content: '';
						position: absolute;
						top: calc(50% - 9px);
						left: 0;
						width: 1px;
						height: 18px;
						background-color: #eee;
					}
				}

				&.btn_submit {
					span {
						background-image: url(#{$url-img}/content/ico_paperlist3.png);
						background-size: 11px 12px;
					}

					&:before {
						content: '';
						position: absolute;
						top: calc(50% - 9px);
						left: 0;
						width: 1px;
						height: 18px;
						background-color: #eee;
					}
				}
			}

			&.btn_1 {
				>* {
					width: 100%;
				}
			}
		}
	}

}

// 자주하는 질문
.fc_faq_box {
	padding-bottom: 80px;

	>ul {
		>li {
			border: 1px solid #ddd;
			border-radius: 5px;
			margin-top: 10px;

			&:first-child {
				margin-top: 0;
			}

			strong {
				position: relative;
				display: block;
				padding: 20px;
				padding-right: 50px;
				font-weight: 400;
				color: #111;
				font-size: 14px;

				&:before {
					content: "";
					display: block;
					position: absolute;
					right: 20px;
					top: 50%;
					margin-top: -10px;
					width: 21px;
					border: 1px solid #ddd;
					border-radius: 3px;
					height: 20px;
					background:url(#{$url-img-common}/ico_chevron_down_sm.png) center center no-repeat;
					background-size: 10px 6px;
				}
			}

			&.on {
				strong {
					&:before {
						transform: rotate(180deg)
					}
				}
			}

			.con {
				padding: 20px 20px 20px 25px;
				border-top: 1px solid #ddd;
				display: none;
				font-size: 14px;
				color: #555;

				* {
					font-size: 14px !important;
					color: #555 !important;
				}
			}
		}
	}
}

.fc_faq_box {
	.txt_h_2 {
		>li {
			border-radius: 8px;

			strong {
				line-height: 20px;
			}

			.con {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
}


// 고객센터 ARS서비스
.txt_between {
	letter-spacing: -1px;
}

.container {
	.service_step_list {
		margin-top: 17px;

		>li {
			height: 75px;

			+li {
				margin-top: 15px;
			}

			&:last-child {
				.box_step {
					&:after {
						display: none;
					}
				}
			}
		}

		.box_step {
			position: relative;
			width: 100%;
			height: 100%;
			display: table;
			padding: 10px 0;
			border-radius: 15px;
			border: 1px solid $border-base;

			>strong {
				display: table-cell;
				width: 70px;
				height: 50px;
				text-align: center;
				font-size: 22px;
				line-height: 1.3;
				vertical-align: middle;

				small {
					display: block;
					font-size: 12px;
					font-weight: 300;
				}
			}

			>span {
				display: table-cell;
				width: calc(100%- 70px);
				padding: 0 20px;
				vertical-align: middle;
				border-left: 1px solid $border-base;
			}

			&:after {
				content: '';
				position: absolute;
				left: 28px;
				bottom: -10px;
				width: 13px;
				height: 10px;
				background:url(#{$url-img}/content/img_step_arrow.png) center top;
				background-size: 13px 10px;
			}
		}
	}

	&.container1 {
		.bg_skin {
			background-color: #fef0e7;

			.box {
				margin: 0 2px 2px 2px;

				.txt_bold {
					font-size: 18px;
				}

				.btn {
					margin-top: -7px;
				}
			}
		}

		.stepbox_img {
			width: 14px;
			height: 13px;
			position: relative;
			margin-top: -7px;
			margin-left: 28px;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.section {
			.box_step {
				border-radius: 15px;
				padding: 10px 0 10px 0;

				ul {
					display: flex;
					align-items: center;

					li {
						padding: 6px 20px 9px 20px;

						&:nth-child(1) {
							width: 21.25%;
							border-right: 1px solid #dddddd;
							text-align: center;
							padding: 4px 20px;

							&:nth-child(1) {
								font-size: 12px;
							}

							.txt_bold {
								line-height: 25px;
							}
						}
					}
				}
			}
		}

		.section {
			.arsservicecode {
				.box_banner {
					width: 100%;
				}

				.centerline {
					width: 50%;
					height: 1500px;
					border-right: 1px solid #bbbbbb;
				}

				ul {
					li {
						&.box_border {
							width: 100%;
							border: 1px solid #bbbbbb;
							background: #ffffff;
							padding: 7px 20px 11.5px;
							text-align: center;

							&:nth-child(1) {
								margin-top: -1480px;

								&.startline {
									margin-top: -1500px;
								}
							}

							&:nth-child(8) {
								>strong {
									line-height: 19px;
								}
							}

							>strong {
								display: inline-block;
								width: 16px;
								height: 16px;
								background: #111111;
								border-radius: 50%;
								color: white;
								font-size: 10px;
								font-weight: 400;
								line-height: 15px;
							}

							>span {
								display: block;
								font-size: 14px;
								line-height: 14px;
								margin-top: 5px;
							}

							>ul {
								border-top: 1px solid #dddddd;
								margin-top: 11px;
								padding-top: 14px;
								padding-bottom: 6px;

								li {
									text-align: left;
									padding-left: 10px;
									color: #555555;
									line-height: 14px;
									margin-bottom: 10px;

									&:last-child {
										margin-bottom: 0;
									}

									strong {
										display: inline-block;
										width: 16px;
										height: 16px;
										border: 1px solid #dddddd;
										border-radius: 50%;
										font-size: 10px;
										font-weight: 500;
										text-align: center;
									}

									span {
										font-size: 14px;

									}
								}
							}
						}
					}
				}
			}
		}
	}

	&.container2 {
		display: none;

		.bg_skin {
			background-color: #fef0e7;

			.box {
				margin: 0 2px 2px 2px;

				.txt_bold {
					font-size: 18px;
				}

				.btn {
					margin-top: -7px;
				}
			}
		}

		.section {
			.box_step {
				border-radius: 15px;
				padding: 10px 0 10px 0;

				ul {
					display: flex;
					align-items: center;

					li {
						padding: 6px 20px 9px 20px;

						&:nth-child(1) {
							width: 21.25%;
							border-right: 1px solid #dddddd;
							text-align: center;
							padding: 4px 20px;

							&:nth-child(1) {
								font-size: 12px;
							}

							.txt_bold {
								line-height: 25px;
							}
						}
					}
				}
			}
		}

		.section {
			.arsservicecode {
				.box_banner {
					width: 100%;
				}

				.centerline {
					width: 50%;
					height: 1520px;
					border-right: 1px solid #bbbbbb;
				}

				ul {
					li {
						&.box_border {
							width: 100%;
							border: 1px solid #bbbbbb;
							background: #ffffff;
							padding: 7px 20px 11.5px;
							text-align: center;

							&:nth-child(1) {
								margin-top: -1500px;

								&.startline {
									margin-top: -1500px;
								}
							}

							>strong {
								display: inline-block;
								width: 16px;
								height: 16px;
								background: #111111;
								border-radius: 50%;
								color: white;
								font-size: 10px;
								font-weight: 400;
								line-height: 15px;
							}

							>span {
								display: block;
								font-size: 14px;
								line-height: 14px;
								margin-top: 5px;
							}

							>ul {
								border-top: 1px solid #dddddd;
								margin-top: 11px;
								padding-top: 14px;
								padding-bottom: 6px;

								li {
									text-align: left;
									padding-left: 10px;
									color: #555555;
									line-height: 14px;
									margin-bottom: 10px;

									&:last-child {
										margin-bottom: 0;
									}

									strong {
										display: inline-block;
										width: 16px;
										height: 16px;
										border: 1px solid #dddddd;
										border-radius: 50%;
										font-size: 10px;
										font-weight: 500;
										text-align: center;
									}

									span {
										font-size: 14px;

									}
								}
							}
						}
					}
				}
			}
		}
	}
}


// 고객센터
.aichatbot_topbox {
	display: flex;
	justify-content: space-between;

	li {
		&:first-child {
			font-size: 12px;
			line-height: 12px;
			color: #333333;
			font-weight: 400;

			p {
				font-size: 14px;
				line-height: 14px;
				margin-top: 8px;
			}
		}

		&:last-child {
			position: relative;
			top: -10px;
			right: 10px;
			width: 46.5px;
			font-size: 10px;
			font-weight: 500;
			text-align: center;
			color: #111111;

			a {
				.ico {
					margin-bottom: 2px;
				}
			}
		}
	}
}

.box_customer {
	background-color: #fdc61c;

	.txt_md {
		.ico {
			margin-right: 7px;
		}
	}

	dd {
		margin: 0 2px 2px 2px;
		padding: 0 18px 10px 18px;
		background-color: #fff;
		text-align: left;
		border-radius: 6px;

		>ul {
			border-bottom: 1px solid #dddddd;
			padding: 25px 10px 16px 10px;

			&:last-child {
				border-bottom: none;
			}

			>li {
				ul {
					li {
						color: #555555;
					}
				}
			}
		}

		.customer_item {
			position: relative;

			strong {
				font-size: 18px;
				line-height: 1;

				small {
					display: block;
					margin-bottom: 10px;
					font-size: 14px;
				}
			}

			a {
				position: absolute;
				top: 0;
				right: 0;

			}

			>ul {
				margin-top: 10px;
			}
		}
	}
}

// 예금상품 공시실
.tbl_p_8px {
	td {
		a {
			&.btn_sm {
				min-width: 40px;
				padding: 0;
			}
		}
	}

	th,
	td {
		padding-left: 7.5px;
		padding-right: 7.5px;
	}
}


.topbtn_box {
	display: flex;

	li {
		width: 50%;
		height: 35px;
		text-align: center;
		line-height: 33px;
		color: #555555;
		font-size: 14px;
		font-weight: 400;
		border: 1px solid #dddddd;
		border-radius: 5px;
		cursor: pointer;

		&:first-child {
			margin-right: 10px;
		}

		&.on {
			border: 1px solid #111111;
			color: #111111;
		}
	}
}

// 이벤트 
.suggestion_top {
	.top_banner {
		margin-bottom: -4px;
	}
}

.mobile_issuance_list {

	&.event_list,
	&.list_type3 {
		margin: 0;

		.list_item {
			display: block;
			padding: 15px 0;

			.item_date {
				>em {
					font-style: normal;
					margin-left: 8px;
				}
			}

			.item_cont {
				display: flex;
				flex-wrap: nowrap;

				.ico {
					display: inline-block;
					align-self: center;
					width: 27px;
					height: 28px;
					background-position: 0 0;
					background-repeat: no-repeat;
				}

				span {
					display: inline-block;
					width: 82%;

					em {
						display: block;
						font-style: normal;
					}

					strong {
						display: block;
						font-size: 16px;
						line-height: 18px;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}

		>li {
			border-bottom: 1px solid #eeeeee;

			&:nth-child(1) {
				.list_item {
					.item_cont {
						.ico_event01 {
							width: 25px;
							height: 26px;
							background-image: url(#{$url-img}/content/ico_event1.png);
							background-size: 100%;
							margin-left: 9px;
						}
					}
				}
			}

			&:nth-child(2) {
				.list_item {
					.item_cont {
						.ico_event02 {
							width: 25px;
							height: 26px;
							background-image: url(#{$url-img}/content/ico_event2.png);
							background-size: 100%;
							margin-left: 10px;
						}
					}
				}
			}

			&:nth-child(3) {
				.list_item {
					.item_cont {
						.ico_event03 {
							width: 24px;
							height: 25px;
							background-image: url(#{$url-img}/content/ico_event3.png);
							background-size: 100%;
							margin-left: 10px;
						}
					}
				}
			}

			&:nth-child(4) {
				.list_item {
					.item_cont {
						.ico_event03 {
							width: 24px;
							height: 25px;
							background-image: url(#{$url-img}/content/ico_event3.png);
							background-size: 100%;
							margin-left: 10px;
						}
					}
				}
			}
		}

		// 종료된 이벤트
		.list_item2 {
			display: block;
			padding: 18px 0 20px 0;

			.item_cont {
				>ul {
					li {
						font-size: 12px;
						font-weight: 300;
						line-height: 12px;
						color: #555555;

						&:nth-child(1) {
							margin-bottom: 7px;
						}

						span {
							display: inline-block;
							width: 53px;
						}
					}
				}

				strong {
					display: inline-block;
					font-size: 16px;
					line-height: 22px;
					white-space: normal;
					margin-bottom: 20px;
				}
			}
		}
	}

	// 새소식
	&.list_type2 {
		li {
			border-bottom: 1px solid #eeeeee;

			.btn {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				background-image: url(#{$url-img-common}/ico_chevron_right_md.png);
				background-repeat: no-repeat;
				background-size: 6px 10px;
				background-position: center right;

				.lab_status {
					margin-right: 7px;
					margin-top: -22px;
					font-size: 11px;
					width: 45px;
					padding: 0;
					letter-spacing: -0.5px;
					text-align: center;
				}

				.issuance_txt {
					width: 80%;

					strong {
						white-space: normal;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						font-size: 16px;
					}

					p {
						font-size: 12px;
						margin-top: 8px;
					}
				}
			}
		}
	}
}

// 이벤트 상세보기
.bbs_event_header {
	border-bottom: 1px solid #dddddd;
	padding-bottom: 18px;
	position: relative;

	.tit2 {
		width: 72%;
		margin-right: 10px;
		margin-bottom: 0;
	}

	.left {
		display: inline-block;
		position: absolute;
		top: 5px;
		right: 0;

		.lab_status {
			font-size: 11px;

			.ico_share {
				margin: 0;
			}
		}
	}

	.state_date {
		margin-top: 10px;
		color: #555555;
		font-size: 12px;
		line-height: 12px;
	}
}

.bbs_event_body {
	.event_img {
		width: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			-o-object-fit: cover;
			object-position: 50% 50%;
			-o-object-position: 50% 50%;
		}
	}
}

// 비대면 서류제출
.paperlist_topbox {
	font-size: 14px;
	font-weight: 400;
	color: #111111;
	position: relative;
	margin-left: 53px;

	&:before {
		content: '';
		position: absolute;
		left: -42px;
		top: 7px;
		width: 31.5px;
		height: 31px;
		background: url(/resources/img/content/ico_paperlist.png) no-repeat;
		background-size: 100%;
	}
}

.paperlist {
	margin-top: 30px;

	ul {
		li {
			&:last-child {
				.paperlist_item {
					margin-bottom: 0;

					.btn_group {
						>* {
							width: 100%;
						}

						.btn {
							&.btn_down {
								&:before {
									background: none;
								}
							}
						}
					}
				}
			}
		}
	}

	.paperlist_item {
		height: 94px;
		padding: 20px 20px 0;
		border: 1px solid $border-base;
		border-radius: 15px;
		box-shadow: 3px 4px 10px rgba(0, 0, 0, .06);
		margin-bottom: 10px;

		.paperlist_cont {
			text-align: center;
			font-size: 14px;
			line-height: 14px;
			color: #111111;
		}

		.btn_group {
			position: relative;
			display: flex;
			margin: 18px -20px 0;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 20px;
				width: calc(100% - 40px);
				height: 1px;
				background-color: #eee;
			}

			>* {
				width: 50%;
				padding: 13px 0 14px;
				font-size: 12px;
				color: #333;
				line-height: 1;
				font-weight: 200;
				margin: 0;
			}

			.btn {
				position: relative;

				span {
					position: relative;
					padding-left: 25px;
					background-image: url(#{$url-img}/content/ico_paperlist2.png);
					background-position: left center;
					background-repeat: no-repeat;
					background-size: 11.5px 12px;
				}

				&.btn_down {
					span {
						background-image: url(#{$url-img}/content/ico_paperlist3.png);
						background-size: 11px 12px;
					}

					&:before {
						content: '';
						position: absolute;
						top: calc(50% - 9px);
						left: 0;
						width: 1px;
						height: 18px;
						background-color: #eee;
					}
				}
			}
		}
	}
}

.container {
	&.top_border {
		border-top: 5px solid #f6f6f6;

		.tit1 {
			.ico {
				margin-bottom: 2px;
			}
		}
	}
}


// 구비서류안내
.papers_num {
	li {
		position: relative;
		left: 20px;
		font-size: 14px;
		line-height: 14px;
		color: #555;
		margin-bottom: 16px;

		.num {
			position: absolute;
			left: -20px;
			top: 0;
			display: inline-block;
			width: 16px;
			height: 16px;
			background: #333333;
			border-radius: 50%;
			text-align: center;
			line-height: 14px;
			font-size: 10px;
			color: #ffffff;
		}
	}
}

.txt_lg2 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 3px;
}

// 비회원안내
// .bul_notice_yellow {
// 	width: 20px;
// 	height: 20px;
// 	margin-right: 7.5px;
// }

.txt_10px {
	font-size: 10px;
	line-height: 13px;
}

// 비대면 서류제출 - 2.서류제출
.paperlist_topbox2 {
	font-size: 14px;
	font-weight: 400;
	color: #111111;
	position: relative;
	margin-left: 54px;

	&:before {
		content: '';
		position: absolute;
		left: -41px;
		top: 7px;
		width: 32px;
		height: 30.5px;
		background: url(/resources/img/content/ico_paperlist5.png) no-repeat;
		background-size: 100%;
	}
}

.req {
	display: inline-block;
	margin-left: 0;
	margin-bottom: 14px;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: currentColor;
	text-indent: -9999px;
}

.box {
	&.attach_box_file {
		white-space: normal;
		padding: 10px 10px 5px 10px;
		@include clearfix();

		//min-width: 320px;
		.count {
			font-size: 16px;
		}

		>ul {
			margin: 10px -5px 0 -5px;
			@include clearfix();

			>li {
				float: left;
				width: calc(33.33% - 10px);
				height: 93px;
				border-radius: 3px;
				margin-bottom: 10px;
				margin: 5px;
				font-size: 0;
				vertical-align: top;
				overflow: hidden;
				position: relative;

				img {
					width: 100%;
				}

				.btn_plus_circle {
					position: absolute;
					left: calc(50% - 10px);
					top: calc(50% - 10px);
					z-index: 40;
					width: 20px;
					height: 20px;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center;
					background-image: url(#{$url-img-common}/ico_plus_circle.png);
					text-indent: -9999px;
				}

				// &+li {
				// 	margin-bottom: 10px;
				// 	margin-right: 10px;
				// }

				&:not(.active) {
					background-color: #e5e5e5;
				}

				&:nth-child(3),
				&:nth-child(6),
				&:nth-child(9),
				&:nth-child(12) {
					margin-right: 0;
				}
			}
		}

		.icon_box {
			a {
				width: 25px;
				height: 25px;

				span {
					&.box {
						width: 25px;
						height: 25px;
						border-radius: 5px;
					}
				}

				&:first-child {
					span {
						&.box {
							padding: 2px 5px;

							img {
								width: 14px;
								height: 11.5px;
							}
						}
					}
				}

				&:last-child {
					span {
						&.box {
							padding: 2px 6.5px;

							img {
								width: 10px;
								height: 10px;
							}
						}
					}
				}
			}
		}
	}
}

.list1 {
	color: #555;
	font-size: $font-size-base;

	&.bul_invalid {
		>li {
			padding-left: 10px;

			&:before {
				content: '';
				display: block;
				box-sizing: border-box;
				position: absolute;
				left: 0;
				top: 10px;
				width: 2px;
				height: 2px;
				background-color: #d70000;
			}

			+li {
				margin-top: 6px;
			}

			.list {
				margin-top: 6px;
			}
		}
	}
}

.check_item {
	&.check_item2 {
		input[type=checkbox]+label {
			line-height: 20px;
			position: relative;

			.look_btn {
				position: absolute;
				top: 2px;
				width: 40px;
				height: 20px;
				font-size: 10px;
				line-height: 18px;
				padding-left: 10px;
				padding-right: 10px;
				border-radius: 4px;
				padding-top: 1px;
				padding-bottom: 3px;
				margin-left: 8px;
				background: #fbe59b;

				&.look_btn2 {
					display: none;
				}
			}
		}

		input[type=checkbox]:checked+label {
			line-height: 20px;
			position: relative;

			.look_btn {
				position: absolute;
				top: 2px;
				left: 246px;
				width: 40px;
				height: 20px;
				font-size: 10px;
				line-height: 18px;
				padding-left: 10px;
				padding-right: 10px;
				border-radius: 5px;
				padding-top: 1px;
				padding-bottom: 3px;
				margin-left: 8.5px;
				background: #fbe59b;

				&.look_btn2 {
					display: block;
				}

				&.look_btn1 {
					display: none;
				}
			}
		}
	}
}

// 첨부 이미지 확인
.container {
	&.container_box {
		height: 90%;

		.attach_img {
			border: 1px solid #bbbbbb;
			width: 100%;
			height: 100%;
			overflow-x: auto;

			img {
				width: 100%;
			}
		}
	}

	&.container_box2 {
		height: 83%;
		margin-bottom: 60px;

		.pdf_box {
			border: 1px solid #bbbbbb;
			width: 100%;
			height: 100%;
			overflow-x: auto;
			overflow: hidden;
		}
	}
}

// 주민번호뒷자리인증
.num_keyboard {
	height: 284px;
	text-align: center;
}

// 약관 내용 보기
.iframe_wrap2 {
	height: 500px;
	border: 1px solid #000;

	iframe {
		width: 100%;
		height: 100%;
	}
}

.complete_area {
	text-align: center;

	.complete_tit {
		display: block;
		margin-top: 20px;
		font-size: 18px;
		font-weight: 200;

		span {
			font-weight: 500;
		}
	}
}