//예금 모바일웹
.titlebar_mobileweb {
	padding: 12px 15px;

	.btn_icon {
		width: 33px;
		height: 33px;
		border-radius: 16.5px;
		border: 1px solid #efefef;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
	}

	.tit_page {
		display: inline-flex;
		align-items: center;
	}
}


//이용가이드
.popup_guide {
	padding: 55px 20px 20px;
}