//비대면계좌개설, 신청내역조회

// 휴대폰인증 팝업
.double_box2 {
	&.terms_box2 {
		.top {
			padding: 20px 19px;
		}

		.btm {
			div {
				div {
					align-items: flex-start;
					line-height: 20px;
				}
			}
		}

		.plus_chk {
			display: block;

			.check_item+.check_item {
				margin-left: 0;
			}

			.chk_item {
				margin-left: 3px;
				display: inline-block;

				input[type=checkbox]+label {
					padding-left: 25px;
					margin-right: 5px;
				}
			}
		}
	}

	.check_item {
		label {
			color: #111111;
		}

		&.simple_primary {
			>input[type=checkbox]+label {
				font-weight: 200;
				background-image: url(#{$url-img-common}/ico_check_off.png);
				background-position: 0 3px;
			}

			>input[type=checkbox]:checked+label {
				font-weight: 400;
				background-image: url(#{$url-img-common}/ico_check_primary.png);
			}
		}
	}
}

// 휴대폰번호 변경안내
.modal_popup {
	&.modal_alert {
		.popup_inner2 {
			border-radius: 8px;
			width: 320px;

			.popup_header {
				justify-content: center;
				height: 70px;

				~.popup_body {
					padding-top: 0;

					.phone_change {
						display: flex;
						line-height: 14px;
						margin-left: 7.5px;

						img {
							width: 29.5px;
							height: 36px;
						}

						.txt_spacing_sm {
							margin-left: 8px;
						}

						strong {
							font-size: 16px;
							font-weight: 700;
							color: #282593;
							line-height: 28px;
						}
					}

					.possible_txt {
						display: flex;
						justify-content: center;
						line-height: 20px;

						strong {
							font-size: 16px;
							font-weight: 700;
							color: #282593;
						}

						img {
							width: 20px;
							height: 22px;
						}
					}
				}
			}
		}
	}
}

.txt_10px {
	font-size: 10px;
	text-align: center;
}

.txt_red2 {
	color: #dc2222;
}

// 가입 전 중요사항 확인
.iframe_title {
	font-size: 16px;
	font-weight: 400;
	color: #111111;
	width: 205px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: right;

	&:before {
		content: '';
		position: absolute;
		top: 3px;
		left: 0;
		width: 21px;
		height: 21px;
		background: url(/resources/img/content/ico_iframe_title.png);
		background-size: 100%;
	}
}

// 결제계좌비밀번호확인
.tf_item_body {
	&.tf_item_between {
		justify-content: space-between;
	}
}

// 6. 신청완료_체크카드신청
.box {
	&.box_border {
		&.mt_7 {
			&.pt_5 {
				position: relative;

				p {
					margin-top: 58px;
					margin-left: 35px;
				}
			}
		}
	}
}

.card_name {
	line-height: 18px;
	font-weight: 500;

	img {
		width: 20px;
		height: 16.5px;
	}

	span {
		font-size: 18px;
		margin-left: 14px;
	}
}

.card_cont {
	margin-left: 5px;
	margin-top: 25px;
	padding-left: 25px;
	background-position: 0 0;
	background-repeat: no-repeat;

	dt {
		font-weight: 500;
		font-size: 16px;
		line-height: 16px;
		margin-bottom: 14px;
	}

	&.card_address {
		background-image: url(/resources/img/content/ico_checkcard4.png);
		background-size: 16px 18.5px;
	}

	&.card_day {
		background-image: url(/resources/img/content/ico_checkcard3.png);
		background-size: 15.5px 16px;
	}
}

.iframe_wrap {
	height: 430px;
	border: 1px solid #000;
	overflow: auto;

	iframe {
		width: 100%;
		height: 100%;
	}
}