// 마이페이지 - 김정연

// 공통 
.mypage_cate {
	position: absolute;
	top: 30px;
	min-width: 48px;
	height: 24px;
	border-radius: 30px;
	background: #333;
	padding: 0 10px;
	font-size: 11px;
	font-weight: 500;
	text-align: center;
	line-height: 24px;
	letter-spacing: -1px;
	color: #fff;

	&:after {
		content: '';
		position: absolute;
		right: -4px;
		top: 50%;
		transform: translateY(-50%);
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3px 0 3px 5px;
		border-color: transparent #333 transparent #333;
	}

	// 주황색 
	&.mypage_cate_primary {
		background: #ff883a;
		color: #111111;
		font-weight: 700;

		&:after {
			border-color: transparent #ff883a transparent #ff883a;
		}
	}
}


.modal_popup {
	&.modal_500 {
		.popup_inner {
			width: 500px;

			.popup_body {
				.tab_menu_type3 {
					ul {
						li {
							flex: 1 1 0;

							a {
								font-size: 16px;
								height: 46px;
								text-align: center;
								line-height: 46px;
							}
						}
					}
				}

				div {
					.popup_list {
						li {
							border-bottom: 1px solid #eee;
							padding: 25px 17px;
							position: relative;

							&:last-child {
								border-bottom: 1px solid #ddd;
							}

							a {
								display: block;

								strong {
									width: 80%;
									white-space: normal;
									display: -webkit-box;
									-webkit-line-clamp: 1;
									-webkit-box-orient: vertical;
									overflow: hidden;
								}

								.ico {
									position: absolute;
									right: 17px;
									top: 50%;
									transform: translateY(-50%);
								}
							}

							.bg_gray {
								position: absolute;
								right: 17px;
								top: 30px;
								padding: 0 12px;
								height: 23px;
								line-height: 23px;
								font-size: 11px;
								border-radius: 20px;
							}

							a {
								strong {
									font-size: 18px;
								}
							}

							// 마이페이지홈 - 이벤트목록
							&.event {
								position: relative;
								display: block;
								padding: 25px 17px 30px 17px;

								a {
									strong {
										margin-left: 65px;
									}
								}
							}

							// 마이페이지홈 - 새소식목록
							&.notice {
								position: relative;
								padding: 25px 17px;

								a {
									strong {
										margin-left: 65px;
										display: inline-block;
										width: 75%;
									}

									p {
										color: #666666;
										margin-left: 65px;
									}
								}
							}
						}
					}
				}

				// 마이페이지홈 - 증명서발급
				.popup_list2 {
					.flex_box {
						border-bottom: 1px solid #eee;
						padding: 25px 15px;

						&:nth-child(1) {
							border-top: 1px solid #111111;
						}

						a {
							padding: 0;
							box-shadow: none;
							display: flex;
							justify-content: space-between;
							align-items: center;
							width: 100%;

							p {
								font-size: 18px;
							}

							i {
								width: 10px;
								height: 20px;
								background-size: 100% 100%;
							}
						}
					}
				}

				// 마이페이지홈 - 이벤트,새소식상세
				.popup_con {
					padding: 0 15px;

					.tit {
						padding: 25px 0 30px;

						h4 {
							font-size: 18px;
							font-weight: 500;
						}

						.flex_box {
							background: none;
							border: none;
							border-radius: 0;
							padding: 0;

							.l {
								margin-right: auto;

								.txt_sm {
									color: #666666;
								}
							}

							.r {
								margin-left: auto;
								text-align: center;
								white-space: nowrap;

								.mypage_cate_con {
									position: relative;
									width: 48px;
									height: 24px;
									border-radius: 30px;
									background: #333;
									padding: 2px 10px;
									font-size: 11px;
									font-weight: 500;
									text-align: center;
									line-height: 24px;
									color: #fff;

									&:after {
										content: '';
										position: absolute;
										right: -4px;
										top: 50%;
										transform: translateY(-50%);
										display: inline-block;
										width: 0;
										height: 0;
										border-style: solid;
										border-width: 3px 0 3px 5px;
										border-color: transparent #333 transparent #333;
									}
								}

								.btn_share {
									display: inline-block;
									width: 30px;
									height: 30px;
									border-radius: 50%;
									background: url(/resources/img/content/ico_share2.png) 0 0 no-repeat;
									vertical-align: middle;
									padding: 0;
								}
							}
						}
					}

					.con {
						padding-bottom: 150px;
					}
				}
			}
		}

		// 마이페이지홈 - 알림종류설정
		.flex_box {
			background: none;
			border-radius: 0;
			font-size: 18px;
			font-weight: 500;

			.btn_mouse_toggle {
				>.switch {
					margin-right: 0;

					>input[type=checkbox]:checked+label {
						&:before {
							left: 71px;
						}

						.first {
							display: none;
						}

						.last {
							display: block;
						}
					}

					>label {
						width: 100px;
						height: 37px;
						border-radius: 20px;

						&:before {
							left: 8px;
							top: 8px;
							width: 21px;
							height: 21px;
						}

						.last {
							display: none;
						}

						.first {
							display: block;
						}
					}

					.first,
					.last {
						font-size: 16px;
						font-weight: 400;
						color: #111111;
						text-align: left;
						margin-left: 32px;
						line-height: 37px;
					}

					.first {
						margin-left: 38px;
					}
				}
			}
		}

		.push_chkbox {
			padding: 15px 20px;

			.check_item {
				display: block;
				margin-left: 0;
				margin-top: 18px;

				&:nth-child(1) {
					margin-top: 0;
				}

				>input[type=checkbox]:checked+label {
					color: #111111;
				}

				label {
					padding-bottom: 0;
					color: #666666;
					font-weight: 400;
				}
			}
		}
	}
}

// 나의메뉴관리
.mymenu_list2 {
	.box {
		padding: 18px 30px 28px 30px;
		background: #f6f6f6;

		.box {
			display: inline-block;
			padding: 2px 15px;
			border-radius: 20px;
			margin-right: 10px;
			background: #ffffff;
			margin-top: 10px;

			a {
				margin-left: 8px;
				height: 11px;

				.ico {
					width: 11px;
					height: 11px;
					margin-top: -5px;
				}
			}
		}
	}
}

.mymenu_list3 {
	padding-bottom: 100px;

	.box {
		padding: 35px 0;
		background: #f8f8f8;
		border: none;

		.container {
			display: flex;

			.item {
				width: 300px;
				border-right: 1px solid #eee;
				padding-left: 40px;

				&:last-child {
					border-right: none;
				}

				strong {
					font-size: 18px;
				}

				ul {
					flex-direction: column;
					margin-top: 15px;

					li {
						.check_item {
							>input[type=checkbox]:checked+label {
								color: #333333;
							}

							label {
								color: #666666;
							}
						}
					}
				}
			}
		}
	}
}

// 상품가입후기
.direct_detail2 {
	margin-top: 80px;

	.review_list {
		li {
			margin-top: 20px;
			border-radius: 10px;
			background: #fafafa;
			padding: 35px 30px;

			.review_tit {
				display: flex;
				justify-content: space-between;
				align-items: center;
				color: #333333;

				.tit {
					font-size: 18px;
					border-bottom: 1px solid #646464;
				}

				span {
					font-size: 16px;
					height: 15px;
					line-height: 15px;

					&.review_day {
						border-left: 1px solid #dddddd;
						padding-left: 10px;
						margin-left: 10px;

					}
				}
			}

			.review_con {
				margin-top: 25px;
				position: relative;
				color: #333333;

				.text {
					display: inline-block;
					width: 89%;
				}

				.btn {
					position: absolute;
					right: 0;
					top: -2px;
				}

				.text_box2 {
					position: relative;
					top: 5px;
					display: none;

					.list {
						li {
							padding: 0;
							padding-left: 15px;
							margin-top: 0;
						}
					}

					a {
						&.off {
							position: absolute;
							top: 210px;
							right: 110px;
						}

						&:nth-child(4) {
							position: absolute;
							top: 210px;
							right: 0;
						}
					}
				}
			}
		}
	}
}