/* 마이 페이지 */
.tab_menu1 {
	.tab_list {
		&.tab_list1 {
			li {
				width: 100%;
			}
		}
	}
}

.ins_bbs_list {

	&.list_notice {
		li {
			a {
				display: flex;
				align-items: flex-start;

				.lab_status {
					flex: 0 0 50px;
					margin-right: 5px;
				}

				p {
					flex: 1 1 auto;
					padding-right: 10px;
				}
			}
		}
	}

	li {
		border-bottom: 1px solid #eee;
		background-image: url(#{$url-img}/common/ico_chevron_right_md.png);
		background-repeat: no-repeat;
		background-position: center right;
		background-size: 6px 10px;

		&.continue {
			background-image: none;
			position: relative;

			.btn {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				display: inline;
				padding: 0 10px;
				font-size: 11px;
				background-color: #333;
			}
		}

		&:first-child {
			background-position-y: calc(50% - 5px);

			a {
				padding-top: 0;
			}
		}

		a {
			display: block;
			padding: 20px 0;

			strong {
				font-size: 16px;
			}

			span {
				font-size: 12px;
				display: inline-block;
				margin-top: 5px;
			}
		}
	}
}

.popup_footer {
	&.footer_full {
		padding: 0;

		.btn {
			border-radius: 0;
		}
	}
}

.content_event {
	.tit {
		display: flex;
		align-items: center;

		p {
			flex: 1 1 auto;

			strong {
				display: block;
				font-size: 16px;
			}

			.data {
				font-size: 12px;
				color: #555;
			}
		}

		.link_group {
			flex: 0 0 auto;
			text-align: right;

			.btn_link {
				padding: 8px;
				border-radius: 16px;
				background-color: #f6f6f6;
			}
		}
	}

	.image {
		img {
			width: 100%;
		}
	}
}

.certificate_list {
	li {
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}

		a {
			display: block;
			background-image: url(#{$url-img}/common/ico_chevron_right_xl.png);
			background-repeat: no-repeat;
			background-position: top 50% right 16px;
			background-size: 9px 15px;
			padding: 20px 16px;
			border: 1px solid #ddd;
			border-radius: 8px;
		}
	}
}

.menu_management {
	.menu_list {
		background-color: #fef0e7;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;
		padding: 20px;

		li {
			display: inline-block;
			background-color: $white;
			border-radius: 13px;
			line-height: 25px;
			padding: 0 15px;
			margin: 0 15px 10px 0;
			box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);

			.btn {
				display: inline;
				line-height: 22px;
				vertical-align: top;
				margin-left: 5px;

				.img_close {
					max-width: 8px;
				}
			}
		}
	}

	.gnb {
		margin-top: 10px;
		display: flex;

		.tab_list3 {
			flex: 0 0 auto;
			overflow-x: hidden;

			li {
				background-color: #f6f6f6;
				position: relative;

				&.on {
					position: relative;
					z-index: 1;
					background-color: #fff;
					overflow-x: hidden;
					box-shadow: 0 6px 24px rgba(0, 0, 0, 0.06);
				}

				.btn {
					padding: 20px;
					width: 100%;
					justify-content: left;
				}

				.content {
					position: absolute;
					right: 0;
				}
			}
		}

		.content_list {
			flex: 1 1 auto;

			.content {
				padding: 25px;

				.check_item {
					margin-top: 20px;
					display: block;

					&:first-child {
						margin-top: 0;
					}

					&+.check_item {
						margin-left: 0;
					}
				}
			}
		}
	}
}

.counseling_list {
	margin: 10px auto;

	&>li {
		border-top: 1px solid #ddd;
		padding-top: 10px;
		padding-bottom: 10px;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}

		.data {
			color: #666;
			font-size: 13px;
		}

		strong {
			font-size: 16px;
			font-weight: 500;
			display: block;
		}

		.classification {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		.content_txt {
			overflow-y: auto;
		}

		.content_txt_type1 {
			border: 1px solid #ddd;
			border-radius: 8px;
			padding: 15px;
			overflow-y: auto;
			font-size: 16px;
			color: #555;
			font-weight: 400;
		}

		.detail_list {
			li {
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 5px 0;

				em {
					font-style: normal;
					color: #666;
					font-size: 14px;
				}
			}
		}

		.txt_view {
			position: relative;
			padding-right: 20px;
			font-weight: 400;

			.btn {
				position: absolute;
				right: 0;
				top: 3px;
				padding: 5px;
			}

			.img_close {
				width: 8px;
			}
		}
	}
}

.both_side_layout {
	li {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 3px 0;

		em {
			font-style: normal;
			color: #555;
		}

		span {
			font-weight: 400;
			text-align: right;
		}
	}
}

.input_items {
	&.items_type1 {
		padding: 19px 10px 0;

		input {
			text-align: center;
		}
	}

	&.items_auto_type {
		.check_item {
			flex: 0 0 auto;
		}
	}
}

.check_item {
	&.item_type3 {
		max-width: 240px;
		white-space: normal;

		input[type="checkbox"] {
			&+label {
				display: inline-block;
				background-position: center left;
			}
		}
	}
}

.input_detail {
	margin: 10px -20px 0;
	display: block;
	border-top: 1px solid #ddd;
	padding: 10px 20px;

	strong {
		display: block;
	}

	&>span {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;

		em {
			font-style: normal;
		}
	}
}

.blit {
	&.blit_type {
		line-height: 50px;
	}
}