/* 신규고객 */

// TODO : 이곳에 스타일을 정의해 주세요.
// 클래스 네임 중복되지 않도록 네이밍은 2단어 이상으로 해주세요.

.cont_step+.cont_header {
	padding-top: 20px;
}

.customer_process_intro {
	p {
		margin: 138px 0 55px 0;
	}

	ul {
		position: relative;
		width: 874px;
		margin: 0 auto;
	}

	ul:after {
		content: "";
		display: block;
		clear: both;
	}

	li {
		float: left;
		padding: 0 0 0 30px;
		background-image: url("/resources/img/common/ico_arr_right_black@2x.png");
		background-size: 10px auto;
		background-repeat: no-repeat;
		background-position: 10px 53px;
		font-size: 16px;
		color: #111;
		text-align: center;
	}

	li span {
		display: block;
		height: 120px;
		width: 120px;
		margin: 0 0 12px 0;
		background: #fff;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border-radius: 100%;
		box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	}

	li:nth-child(1) {
		padding: 0;
	}

	li:nth-child(1) span {
		background-image: url("/resources/img/common/ico_customer_process1@2x.png");
		background-size: 44px auto;
	}

	li:nth-child(2) span {
		background-image: url("/resources/img/common/ico_customer_process2@2x.png");
		background-size: 34px auto;
	}

	li:nth-child(3) span {
		background-image: url("/resources/img/common/ico_customer_process3@2x.png");
		background-size: 37px auto;
	}

	li:nth-child(4) span {
		background-image: url("/resources/img/common/ico_customer_process4@2x.png");
		background-size: 48px auto;
	}

	li:nth-child(5) span {
		background-image: url("/resources/img/common/ico_customer_process5@2x.png");
		background-size: 41px auto;
	}

	li:nth-child(6) span {
		background-image: url("/resources/img/common/ico_customer_process6@2x.png");
		background-size: 44px auto;
	}

	.process_btn {
		margin: 68px 0 0 0;
	}
}

.apply_step {
	display: flex;
	align-items: center;
	padding: 20px 0;

	li {
		display: flex;
		align-items: center;
		height: 36px;
		margin-right: 5px;
		border-radius: 18px;
		background-color: #fff;
	}
}