/* 우체국고객 */

// 펀드상세정보
.fund_report_wrap {
	.box_info {
		position: relative;
		padding: 15px 20px;
		border: 1px solid $border-base;
		border-radius: 4px;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: -.01em;
	}

	.list {
		li {
			display: flex;
			justify-content: space-between;
			position: relative;
			margin: 40px -10px 0;

			&:before {
				content: '';
				position: absolute;
				top: -40px;
				left: 225px;
				width: 39px;
				height: 29px;
				background: url(#{$url-img}/content/bg_arr_down_primary@2x.png) no-repeat 0 0;
				background-size: auto 29px;
			}

			>div {
				flex: 1 1 50%;
				width: calc(50% - 10px);
				margin: 0 10px;
				border: 1px solid $border-base;
				border-radius: 4px;
			}
		}

		.left {
			display: flex;
			align-items: center;
			padding: 15px 20px;
			background-color: $bg-lightgray;
		}

		.flex_justify_between {
			width: calc(100% + 40px);
			margin: -15px -20px;
		}

		.flex_l {
			width: 175px;
			padding: 15px 20px;

			strong {
				color: $black;
				letter-spacing: -.05em;
			}
		}

		.num {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			border-radius: 50%;
			background-color: $gray;
			color: $white;
			font-size: $font-size-xxs;
		}

		.flex_r {
			display: flex;
			flex-direction: column;
			width: calc(100% - 175px);
			border-left: 1px solid $border-base;

			span {
				padding: 13px 15px;

				+span {
					border-top: 1px solid $border-base;
				}
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			min-height: 65px;

			span {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 1 1 50%;
				width: 100%;
				padding: 13px 15px;
				text-align: right;

				+span {
					border-top: 1px solid $border-base;
				}
			}
		}

		+.box_info {
			&:before {
				content: '';
				position: absolute;
				top: -41px;
				left: 215px;
				width: 39px;
				height: 29px;
				background: url(#{$url-img}/content/bg_arr_down_primary@2x.png) no-repeat 0 0;
				background-size: auto 29px;
			}
		}
	}
}

.content_wrap {
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;

	.item {
		flex: 1 1 50%;
		margin: 0 10px;
	}

	.info_item {
		flex: 0 0 auto;
		width: 46.7%;
	}
}

.box_chart {
	position: relative;
	border: 1px solid $border-base;
	border-radius: 6px;
	overflow: hidden;

	.chart_option {
		position: absolute;
		top: 19px;
		right: 19px;

		.check_item {
			input:checked {
				+label {
					font-weight: 200;
					color: $black;
				}
			}

			label {
				min-width: 50px;
				height: 25px;
				font-size: $font-size-xxs;
				color: $black;
			}

			+.check_item {
				margin-left: 1px;
			}
		}
	}
}

.chart_area {
	img {
		vertical-align: top;
	}
}

.txt_black {
	color: $black;
}

// TODO : 이곳에 스타일을 정의해 주세요.
// 클래스 네임 중복되지 않도록 네이밍은 2단어 이상으로 해주세요.