/* 우체국고객 */

// 펀드상세정보
.fund_report_wrap {
	.box_info {
		position: relative;
		padding: 15px 20px;
		border: 1px solid $border-base;
		border-radius: 4px;
		font-weight: 400;
		line-height: 1.6;
		letter-spacing: -.01em;
	}

	.list {
		li {
			display: flex;
			justify-content: space-between;
			position: relative;
			margin: 40px -10px 0;

			&:before {
				content: '';
				position: absolute;
				top: -40px;
				left: 225px;
				width: 39px;
				height: 29px;
				background: url(#{$url-img}/content/bg_arr_down_primary@2x.png) no-repeat 0 0;
				background-size: auto 29px;
			}

			>div {
				flex: 1 1 50%;
				width: calc(50% - 10px);
				margin: 0 10px;
				border: 1px solid $border-base;
				border-radius: 4px;
			}
		}

		.left {
			display: flex;
			align-items: center;
			padding: 15px 20px;
			background-color: $bg-lightgray;
		}

		.flex_justify_between {
			width: calc(100% + 40px);
			margin: -15px -20px;
		}

		.flex_l {
			width: 175px;
			padding: 15px 20px;

			strong {
				color: $black;
				letter-spacing: -.05em;
			}
		}

		.num {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			border-radius: 50%;
			background-color: $gray;
			color: $white;
			font-size: $font-size-xxs;
		}

		.flex_r {
			display: flex;
			flex-direction: column;
			width: calc(100% - 175px);
			border-left: 1px solid $border-base;

			span {
				padding: 13px 15px;

				+span {
					border-top: 1px solid $border-base;
				}
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			min-height: 65px;

			span {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				flex: 1 1 50%;
				width: 100%;
				padding: 13px 15px;
				text-align: right;

				+span {
					border-top: 1px solid $border-base;
				}
			}
		}

		+.box_info {
			&:before {
				content: '';
				position: absolute;
				top: -41px;
				left: 215px;
				width: 39px;
				height: 29px;
				background: url(#{$url-img}/content/bg_arr_down_primary@2x.png) no-repeat 0 0;
				background-size: auto 29px;
			}
		}
	}
}

.content_wrap {
	display: flex;
	justify-content: space-between;
	margin: 0 -10px;

	.item {
		flex: 1 1 50%;
		margin: 0 10px;
	}

	.info_item {
		flex: 0 0 auto;
		width: 46.7%;
	}
}

.box_chart {
	position: relative;
	border: 1px solid $border-base;
	border-radius: 6px;
	overflow: hidden;

	.chart_option {
		position: absolute;
		top: 19px;
		right: 19px;

		.check_item {
			input:checked {
				+label {
					font-weight: 200;
					color: $black;
				}
			}

			label {
				min-width: 50px;
				height: 25px;
				font-size: $font-size-xxs;
				color: $black;
			}

			+.check_item {
				margin-left: 1px;
			}
		}
	}
}

.chart_area {
	img {
		vertical-align: top;
	}
}

/* 우체국고객 */
.apply_step {
	&.old_customer {

		.on {
			border: 2px solid $primary;

			.num {
				background-image: url(#{$url-img}/content/bg_service2@2x.png);
			}
		}
	}
}

.service_item {
	.product_info_area {
		div {
			span {
				&.add_date {
					display: inline-block;
					margin-bottom: 8px;
					font-weight: 400;
					color: $black;
				}
			}
		}

		.recommend_area {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 45px;
			background: #f8f8f8;
			border-radius: 0 0 20px 20px;

			a {
				display: block;
				height: 45px;
				padding: 10px 0 0 38px;
				font-size: $font-size-xs;
				color: $black;

				.ico_arr_right_black_xs {
					width: 6px;
					height: 9px;
					margin-top: -2px;
					margin-right: 6px;
				}
			}
		}
	}

}

.customer_process_intro {
	&.process_num5 {
		ol {
			width: 724px;

			li {
				&:nth-child(1) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process1@2x.png);
					}
				}

				&:nth-child(2) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process3@2x.png);
					}
				}

				&:nth-child(3) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process4@2x.png);
					}
				}

				&:nth-child(4) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process5@2x.png);
					}
				}

				&:nth-child(5) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process6@2x.png);
					}
				}
			}
		}
	}

	&.process_num4 {
		ol {
			width: 570px;

			li {
				&:nth-child(1) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process1@2x.png);
					}
				}

				&:nth-child(2) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process4@2x.png);
					}
				}

				&:nth-child(3) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process5@2x.png);
					}
				}

				&:nth-child(4) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process6@2x.png);
					}
				}
			}
		}
	}

	&.process_num3 {

		ol {
			width: 428px;

			li {
				&:nth-child(1) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process4@2x.png);
					}
				}

				&:nth-child(2) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process5@2x.png);
					}
				}

				&:nth-child(3) {
					span {
						background-image: url(#{$url-img-common}/ico_customer_process6@2x.png);
					}
				}

			}
		}
	}

	&.process_use_btn {
		margin-bottom: 137px;
	}
}

.product_bottom_button {
	.btn_interest {
		padding-left: 41px;
		background-image: url(#{$url-img-common}/ico_star_off@2x.png);
		background-repeat: no-repeat;
		background-size: 21px 19px;
		background-position: 15px 10px;

		&.btn_primary {
			padding-left: 41px;
			background-image: url(#{$url-img-common}/ico_star_white@2x.png);
			background-repeat: no-repeat;
			background-size: 21px 19px;
			background-position: 15px 10px;
		}
	}
}

.type_btn_lg {
	&.height_md {
		label {
			height: 46px
		}
	}
}

.tbl {
	th {
		.gap {
			display: inline-block;
			margin: 0 11px;
			width: 1px;
			height: 15px;
			background: $darkgray;
			vertical-align: middle;
		}
	}
}

.tf_datepicker_lg {
	.datepicker {
		width: 100%;

		.tf {
			height: 60px;
		}
	}
}

.payment_method_wrap {
	display: flex;
	background: $bg-lightgray;
	border-radius: 6px;

	dl {
		position: relative;
		flex: 1 1 0;
		padding: 25px 0 7px 0;
		text-align: center;

		&:first-child {
			&:after {
				content: "";
				position: absolute;
				top: 25px;
				right: 0;
				width: 1px;
				height: 100px;
				background: #ddd;
			}

			dd {
				color: $red;
			}
		}

		dt {
			display: inline-block;
			padding-bottom: 5px;
			margin-bottom: 3px;
			border-bottom: 1px solid $black;
			font-size: $font-size-sm;
			color: $black;
		}

		dd {
			font-size: 70px;
			font-weight: 600;
			color: $black;
			line-height: 70px;

			span {
				font-size: 30px;
			}
		}
	}
}

.customer_electro_doc {
	&.doc_wide {
		margin: 0;

		.box_shadow {
			border: 1px solid $border-base;
		}
	}
}

.checkcard_result_message {
	margin-bottom: 23px;
	padding: 16px 20px 13px 60px;
	background: $bg-lightgray;
	border: none;
	text-align: left;

	p {
		margin-bottom: 18px;
		padding-left: 36px;
		background-image: url(#{$url-img-common}/ico_old_service14@2x.png);
		background-repeat: no-repeat;
		background-position: 0 4px;
		background-size: 27px auto;
	}

	dl {
		margin-bottom: 3px;

		dt {
			display: inline-block;
			width: 128px;
			height: 35px;
			margin: 0 8px 0 0;
			padding-left: 39px;
			line-height: 33px;
			border: 1px solid #eee;
			border-radius: 50px;
			font-size: $font-size-sm;
			font-weight: 500;
			letter-spacing: -0.05em;
			color: $black;
			background-color: $white;
			background-image: url(#{$url-img-common}/ico_old_service15@2x.png);
			background-repeat: no-repeat;
			background-position: 16px 7px;
			background-size: 17px auto;

			&:before {
				margin-right: 15px;
			}
		}

		dd {
			display: inline-block;
			font-size: $font-size-sm;
			font-weight: 400;
			color: $gray;
		}

		&+dl {
			dt {
				background-image: url(#{$url-img-common}/ico_old_service16@2x.png);
				background-repeat: no-repeat;
				background-position: 16px 7px;
				background-size: 17px auto;
			}
		}
	}

}

.elecbank_result_message {
	overflow: hidden;
	width: 590px;
	margin: 0 auto 50px;

	>div {
		float: left;
		width: 167px;

		&:first-child {
			p {
				margin-top: 6px;
				font-size: $font-size-xl;
				font-weight: 400;
				color: $black;
				text-align: left;
				letter-spacing: -0.05em;
				background-image: url(#{$url-img-common}/ico_phone_app@2x.png);
				background-repeat: no-repeat;
				background-position: 107px 8px;
				background-size: 40px auto;

				span {
					font-size: 22px;
					font-weight: 500;

					+span {
						font-weight: 400;
					}
				}
			}

		}

		+div {
			overflow: hidden;
			float: left;
			width: calc(100% - 167px);
			padding: 16px 0 15px 0;
			text-align: left;
			border-radius: 10px;
			background: $bg-lightgray;

			div {
				float: left;
				width: 50%;

				p {
					display: inline-block;
					margin-top: -8px;
					margin-right: 20px;
					padding-left: 40px;
					vertical-align: middle;
					text-align: left;
					color: $black;

					span {
						display: inline-block;
						margin-top: 1px;
						color: $gray;
					}

					+p {
						padding-left: 20px;
					}
				}

				img {
					display: inline-block;
					width: 54px;
					height: 54px;
					vertical-align: middle;
				}
			}
		}
	}

}

.elec_finance_form {
	padding: 20px 0;

	.container {
		display: flex;

		>div {
			flex: 1;

			.tf_item_row {
				.lab {
					min-width: 90px;
				}
			}

			&:nth-child(2) {
				margin: 0 20px;
			}
		}
	}
}

.list {
	&.checkcard_explain {
		margin-top: -11px;
	}
}

.olduser_top_btn {
	padding: 0 18px 0 15px;
	min-width: 150px;

	.ico {
		margin-right: 0 !important;

		&.ico_user_gray {
			width: 26px;
			height: 26px;
			background-image: url(#{$url-img-common}/ico_user_gray@2x.png);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 17px 20px;
		}

		&.ico_user {
			width: 26px;
			height: 26px;
			background-position: 50%;
			background-size: 17px 20px;
		}
	}

}

.opt {
	&.opt_lg {
		min-height: 60px;
	}
}




// TODO : 이곳에 스타일을 정의해 주세요.
// 클래스 네임 중복되지 않도록 네이밍은 2단어 이상으로 해주세요.