//온보딩

.popup_body {
	&.cont_onboard {
		overflow: hidden;

		.container {
			margin-top: 10px;


			.onboard_slider {
				margin-left: -5px;
				margin-right: -5px;

				.slick-slide {
					margin-left: 5px;
					margin-right: 5px;
				}

				.slick-dots {
					position: absolute;
					top: 0;
					left: calc(50% - 40px);

					li {
						display: inline-block;

						button {
							padding: 0 5px;
							font-size: 1px;
							color: transparent;

							&:after {
								content: '';
								display: block;
								width: 10px;
								height: 10px;
								border-radius: 5px;
								background-color: #bbb;
							}
						}

						&.slick-active {
							button {
								&:after {
									background-color: #000;
								}
							}
						}
					}
				}

				.onboard_item {
					margin-top: 68px;

					p {
						font-size: 18px;
						color: #111;
						font-weight: 200;
						line-height: 22px;
						text-align: center;
						margin-bottom: 47px;

						strong {
							display: block;
							font-weight: 500;
						}
					}

					.item {
						width: 100%;
						height: calc(100vh - 60px);
						border-radius: 50px 50px 0px 0px;
						border: 1px solid #ddd;
						overflow: hidden;

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}
				}
			}
		}
	}
}