.easy_certi_top {
	padding-top: 141px;
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: 50% 0;
	text-align: center;
	font-size: 20px;
	font-weight: 400;

	&.bg01 {
		background-image:url(#{$url-img}/content/bg_easy_certi01.png);
	}

	&.bg02 {
		background-image:url(#{$url-img}/content/bg_easy_certi02.png);
	}

	&.bg03 {
		background-image:url(#{$url-img}/content/bg_easy_certi03.png);
	}

	&.bg04 {
		background-image:url(#{$url-img}/content/bg_easy_certi04.png);
	}

	&.bg05 {
		background-image:url(#{$url-img}/content/bg_certi_issued01.png);
	}
}

.section {
	margin-top: 50px;
}

.txt20 {
	font-size: 20px;
}

.pass_certi_list {
	border: 1px solid #ddd;
	border-radius: 8px;

	>li {
		display: flex;
		padding: 0 19px 0 65px;
		align-items: center;
		height: 78px;
		background-repeat: no-repeat;
		background-position: 19px 50%;

		&:not(:first-child) {
			border-top: 1px solid #ddd;
		}

		&.bg01 {
			background-size: 27px;
			background-image:url(#{$url-img}/content/ico_pass01.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass01_on.png);
			}

			&.primary {
				background-image:url(#{$url-img}/content/ico_pass01_primary.png);
			}
		}

		&.bg02 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass02.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass02_on.png);
			}
		}

		&.bg03 {
			background-position: 22px 50%;
			background-size: 22px;
			background-image:url(#{$url-img}/content/ico_pass03.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass03_on.png);
			}
		}

		&.bg04 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass04.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass04_on.png);
			}
		}

		&.bg05 {
			background-size: 27px;
			background-image:url(#{$url-img}/content/ico_pass05.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass05_on.png);
			}
		}

		&.bg06 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass06.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass06_on.png);
			}
		}

		&.disabled {
			.l {
				color: #999;
			}

			.r .btn {
				background: #ddd;
			}
		}

		.l {
			flex: 1 1 auto;
			font-size: 18px;
			font-weight: 400;
		}

	}
}

.add_certi_box {
	.add_list {
		display: flex;

		a {
			flex: 1 1 auto;
		}
	}
}

.certi_box {
	font-weight: 500;
	text-align: center;
	border: 1px solid #ddd;

	&.border_b {
		border-color: #bbb;
	}

	&:before {
		content: '';
		display: inline-block;
		width: 18px;
		height: 12px;
		background:url(#{$url-img}/content/ico_check.png) 0 0 no-repeat;
		background-size: 18px;
		margin-right: 1px;
	}
}

.password_masking.gray {
	i {
		background: #999;
	}
}

.caution_box {
	background:url(#{$url-img}/content/ico_caution.png) 50% 0 no-repeat;
	background-size: 48px;
	padding-top: 60px;
	text-align: center;

	strong {
		display: block;
		line-height: 1;
		font-size: 22px;
		font-weight: 500;
	}

	&.sm {
		background-size: 35px;
		padding-top: 46px;
	}

	.txt {
		font-size: 18px;
	}
}

.num_list {
	>li {
		position: relative;
		padding-left: 13px;
		counter-increment: list;

		&:before {
			content: counter(list) ".";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.double_box {
	border: 1px solid #ddd;
	border-radius: 8px;

	.top {
		padding: 20px;
		font-weight: 400;
		font-size: 16px;

		&+.btm {
			border-top: 1px solid #ddd;
		}

		.check_item>input[type=checkbox]+label {
			display: inline-block;
			background-position: 0 3px;
		}

		&.top_link {
			display: block;
			padding: 20px 30px 20px 20px;
			background-image:url(#{$url-img}/content/ico_arr_black.png);
			background-repeat: no-repeat;
			background-position: calc(100% - 19px) 50%;
			background-size: 5px;
		}

		&.top_link02 {
			display: block;
			padding: 20px 30px 20px 20px;
			background-image:url(#{$url-img}/common/ico_chevron_down_md.png);
			background-repeat: no-repeat;
			background-position: calc(100% - 19px) 50%;
			background-size: 12px;
		}
	}

	.btm {
		padding: 20px;

		>div {
			display: flex;

			&+div {
				margin-top: 5px;
			}

			.l {
				margin-right: auto;
				color: #555;
			}

			.r {
				margin-left: auto;
				text-align: right;
			}
		}
	}

	&.terms_box {
		.top {
			padding: 24px 16px;

		}

		.btm {
			padding: 22px 20px 22px 24px;

			>div {
				&+div {
					margin-top: 6px;
				}
			}
		}
	}

	&.toggle {
		.top {
			padding: 0;

			.date {
				font-size: 13px;
				color: #666;
			}

			a {
				display: block;
				padding: 20px 50px 20px 20px;
				background-repeat: no-repeat;
				background-position: calc(100% - 19px) 50%;
				background-image:url(#{$url-img}/content/ico_toggle_down.png);
				background-size: 21px;
			}

			&.active {
				a {
					background-image:url(#{$url-img}/content/ico_toggle_up.png);
				}

				+.btm {
					display: block;
				}

				.price {
					>.r {
						display: none
					}
				}
			}

			.price {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}

		.btm {
			display: none;
		}
	}

	&.form_box {
		.btm {
			>div {
				align-items: center;

				&.align_top {
					align-items: flex-start;
				}
			}

			&+.btm {
				border-top: 1px solid #ddd;
			}

			.tf_item {
				border: 0;
				padding: 0;

				.tf_item_body {
					min-height: auto;

					.input_area {
						padding-top: 0;

						&.txt_input {
							display: flex;
							align-items: center;
							justify-content: flex-end;
							padding-right: 30px;

							input[type=text] {
								display: inline-block;
								font-size: 26px;
								font-weight: bold;
								height: 26px;
								text-align: right;
								letter-spacing: 0;
							}
						}
					}
				}
			}
		}
	}

	&.btm_toggle {
		position: relative;
		max-height: 325px;
		overflow: hidden;

		&.active {
			max-height: none;
			padding-bottom: 30px;
		}

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 30px;
			background: #fff;
		}

		.btn_toggle_more {
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -25px;
			width: 50px;
			height: 26px;
			background:url(#{$url-img}/content/ico_btm_toggle.png) 0 0 no-repeat;
			background-size: 50px;
			z-index: 1;
		}
	}
}

.btn_more {
	display: block;
	padding-right: 13px;
	background:url(#{$url-img}/content/ico_arr_primary.png) 100% 50% no-repeat;
	background-size: 6px;
}

.modal_popup.popup {
	flex-direction: column;
	align-items: normal;

	.popup_header {
		.popup_tit {
			font-size: 18px;
		}
	}

	.popup_footer {
		padding-top: 20px;
	}
}

.tf_double {
	display: flex;

	>div {
		position: relative;
		overflow: visible;
		flex: 1 1 auto;

		&:not(:first-child):before {
			content: '';
			position: absolute;
			top: 50%;
			left: -15px;
			width: 8px;
			height: 1px;
			background: #ddd;
		}

		&+div {
			margin-left: 20px;
		}
	}
}

.security_box {
	display: flex;

	>div {
		border-radius: 8px;
		overflow: hidden;
		text-align: center;

		&:not(:first-child) {
			margin-left: 10px;
		}

		flex: 1 1 auto;

		>strong {
			display: block;
			background: #fdc61c;
			font-size: 16px;
			font-weight: 500;
			line-height: 35px;
		}

		&:first-child {
			.con:after {
				content: '';
				margin-left: 7px;
			}
		}

		&:last-child {
			.con:before {
				content: '';
				margin-right: 7px;
			}
		}

		.con {
			background: #f6f6f6;
			border: 1px solid #ddd;
			border-radius: 0 0 8px 8px;
			padding: 10px 10px 14px;

			&:before,
			&:after {
				display: inline-block;
				width: 30px;
				height: 10px;
				background:url(#{$url-img}/content/ico_dot.png) 0 0 no-repeat;
				background-size: 30px;
			}

			>* {
				&:not(:first-child) {
					margin-left: 10px;
				}
			}

			input {
				width: 50px;
				height: 30px;
				font-size: 20px;
				font-weight: 600;
				border: 0;
				vertical-align: middle;
				text-align: center;
			}

			i {
				display: inline-block;
				vertical-align: middle;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #333;
			}
		}
	}
}

.otp_box {
	border: 2px solid #fdc61c;
	border-radius: 8px;
	background: #f6f6f6;
	text-align: center;

	a {
		display: block;
		padding: 20px;
	}

	i {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #ddd;

		&:not(:first-child) {
			margin-left: 15px;
		}

		&.on {
			background: #333;
		}
	}
}

.certi_info_box {
	padding-top: 39vw;
	background-repeat: no-repeat;
	background-size: 100% 33.5vw;
	background-position: 0 0;

	&.bg01 {
		background-image:url(#{$url-img}/content/img_certi01.png);
	}

	&.bg02 {
		background-image:url(#{$url-img}/content/img_certi02.png);
	}

	&.bg03 {
		background-image:url(#{$url-img}/content/img_certi03.png);
	}
}

.certi_list {
	>li {
		border: 1px solid #ddd;
		border-radius: 8px;

		&:not(:first-child) {
			margin-top: 10px;
		}

		a {
			position: relative;
			display: block;
			padding: 20px 25px 20px 84px;
			background:url(#{$url-img}/content/bg_certi_list.png) 19px 22px no-repeat;
			background-size: 48px;

			&:before {
				content: '';
				position: absolute;
				right: 19px;
				top: 50%;
				margin-top: -5px;
				width: 5px;
				height: 10px;
				background:url(#{$url-img}/content/ico_arr_black.png) 0 0 no-repeat;
				background-size: 5px;
			}

			strong {
				display: block;
				line-height: 1;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 5px;
			}

			>div {

				span {
					position: relative;
					font-size: 13px;
					color: #555;

					&:not(:first-child) {
						margin-left: 22px;

						&:before {
							content: '';
							position: absolute;
							left: -11px;
							top: 6px;
							width: 1px;
							height: 10px;
							background: #ddd;
						}
					}
				}
			}
		}
	}
}

.check_item {
	&.check {
		>input[type=radio] {
			+label {
				background-image: url(#{$url-img}/common/ico_checkbox_default.png);
			}

			&:checked+label {
				background-image: url(#{$url-img}/common/ico_checkbox_checked.png);
			}
		}
	}

	&.simple_primary {
		>input[type=radio] {
			+label {
				background-image: url(#{$url-img}/common/ico_check_off.png);
			}

			&:checked+label {
				background-image: url(#{$url-img}/common/ico_check_primary.png);
			}
		}
	}

	>input[type=checkbox]+label.d_i_b {
		background-position: 0 3px;
	}

	&.type_btn.simple_chk {
		input {
			+label {
				position: relative;
				justify-content: normal;
				padding: 0 10px !important;
				height: 40px;

				&:before {
					content: '';
					display: inline-block;
					width: 20px;
					height: 20px;
					background-image: url(#{$url-img}/common/ico_check_off.png);
					background-size: 20px auto;
					background-repeat: no-repeat;
					background-position: 0 0;
					margin-right: 5px;
				}
			}

			&:checked+label {
				&:before {
					background-image: url(#{$url-img}/common/ico_check_on.png);
				}
			}
		}

		&.sm {
			input+label {
				font-size: 12px;
				height: 25px;
				padding: 0 6px !important;

				&:before {
					margin: 0;
				}
			}
		}
	}
}

.password_dot {
	text-align: center;
	margin-top: 42px;
	font-size: 0;

	a {
		display: block;
		padding: 10px 0;
	}

	i {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: rgba(17, 17, 17, 0.1);

		&.on {
			background: #fdc61c;
		}

		&+i {
			margin-left: 15px;
		}
	}
}

.qr_wrap {
	margin-top: 140px;

	img {
		width: 100%;
	}
}

.count_num {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: #fdc61c;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-weight: 400;
	border-radius: 50%;
	margin-left: 8px;
}

.btn_refresh {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image:url(#{$url-img}/content/ico_refresh.png);
	background-size: 20px;
	margin-left: 5px;

	&.sm {
		width: 14px;
		height: 12px;
		background-image:url(#{$url-img}/content/ico_refresh02.png);
		background-size: 14px;
		margin-bottom: 2px;
	}
}

.price_total {
	p {
		color: #666;
		margin-bottom: 3px;
	}

	strong {
		line-height: 1;
		display: block;
		font-size: 30px;
		font-weight: 600;

		span {
			font-size: 23px;
			font-weight: 400;
		}
	}
}

.d_f {
	display: flex;
}

.holding_account {
	background: #f2f2f2;
	padding: 15px 0;

	ul {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding: 0 10px;

		>li {
			display: table-cell;
			text-align: center;
			font-size: 12px;
			color: #555;

			&:not(:first-child) {
				border-left: 1px solid #ddd;
			}

			span {
				display: block;
				font-size: 13px;
				color: #111;
				line-height: 1;

				strong {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
}

.account_list {
	>li {
		>a {
			display: block;
			padding: 22px 30px 22px 0;
			background-image:url(#{$url-img}/content/ico_toggle_down.png);
			background-repeat: no-repeat;
			background-position: 100% 50%;
			background-size: 21px;

			&.active {
				background-image:url(#{$url-img}/content/ico_toggle_up.png);
			}
		}
	}
}

.num_circle {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	line-height: 16px;
	background: #333;
	font-size: 11px;
	color: #fff;
	text-align: center;
}

.bg_txt {
	padding-top: 185px;
	background-repeat: no-repeat;
	background-size: 165px;
	background-position: 50% 0;
	text-align: center;

	&.utility_bg01 {
		background-image:url(#{$url-img}/content/utility_bg01.png);
	}

	&.utility_bg02 {
		background-image:url(#{$url-img}/content/utility_bg02.png);
	}

	&.utility_bg03 {
		background-image:url(#{$url-img}/content/utility_bg03.png);
	}

	&.utility_bg04 {
		background-image:url(#{$url-img}/content/utility_bg04.png);
	}
}

.link_list {
	>li {
		border: 1px solid #ddd;
		border-radius: 8px;

		&:not(:first-child) {
			margin-top: 10px;
		}

		a {
			display: block;
			padding: 23px 35px 23px 24px;
			background-image:url(#{$url-img}/common/ico_chevron_right_xl.png);
			background-position: calc(100% - 19px) 50%;
			background-size: 9px;
			background-repeat: no-repeat;
			font-size: 18px;
			font-weight: 500;
		}
	}

	&.sm {
		>li {
			a {
				font-size: 16px;
				font-weight: 400;
				background-image:url(#{$url-img}/content/ico_arr_black.png);
				background-size: 5px;
			}
		}
	}
}

.account_info_box {
	border-radius: 8px;
	background: #e5f2ff;

	a {
		display: flex;
		justify-content: space-between;
		padding: 17px 41px 20px 20px;
		background:url(#{$url-img}/content/account_arr.png) no-repeat;
		background-size: 11px;
		background-position: calc(100% - 20px) 50%;
	}

	.bank {
		display: block;
		width: 20px;
		height: 20px;
		margin-right: 5px;
		flex: 0 0 auto;

		// &.epost {
		// 	width: 14px;
		// 	margin-right: 8px;
		// 	font-size: 0;
		// 	padding-top: 4px;
		// }
	}

	.info {
		flex: 1 1 auto;
		font-weight: 400;

		>strong {
			display: block;
			line-height: 1;
			padding-top: 2px;
		}

		p {
			font-size: 16px;
			margin-top: 5px;
		}
	}

	.price {
		display: flex;
		margin-top: 5px;

		span,
		strong {
			display: block;
		}

		span {
			margin-right: auto;
			color: #666;
		}

		strong {
			margin-left: auto;
			font-weight: 400;
			word-break: break-all;
			text-align: right;
		}
	}
}

.toggle_box {
	border-bottom: 1px solid #ddd;

	>a {
		display: block;
		padding: 23px 30px 23px 0;
		background-image:url(#{$url-img}/content/ico_toggle_down.png);
		background-position: 100% 50%;
		background-repeat: no-repeat;
		background-size: 21px;

		&.active {
			padding-bottom: 22px;
			background-image:url(#{$url-img}/content/ico_toggle_up.png);

			&+.toggle_con {
				display: block;
			}
		}
	}

	.toggle_con {
		display: none;
		padding-bottom: 19px;

		a {
			display: block;

			label {
				color: #111;
			}

			i.arr {
				display: inline-block;
				width: 5px;
				height: 10px;
				background:url(#{$url-img}/content/ico_arr_black.png) 0 0 no-repeat;
				background-size: 5px;
				margin-left: 12px;
			}
		}
	}
}

.img_wrap {
	font-size: 0;

	img {
		width: 100%;
	}
}

.btn.btn_search {
	position: relative;
	color: #555;
	font-weight: 400;
	border-color: #ddd;

	&:before {
		content: '';
		display: inline-block;
		width: 15px;
		height: 15px;
		background:url(#{$url-img}/content/ico_search.png) 0 0 no-repeat;
		background-size: 15px;
		margin-right: 5px;
		flex: 0 0 auto;
	}
}

.tf_item .single {
	>label {
		background-position: 0 50% !important;
	}
}

.search_item {
	position: relative;
	border-radius: 4px;
	padding: 10px 50px 10px 21px;

	input[type=text] {
		width: 100%;
		height: 28px;
		color: #555;
		font-size: 14px;
	}

	a {
		position: absolute;
		display: block;
		top: 0;
		right: 0;
		width: 50px;
		height: 100%;
		background:url(#{$url-img}/content/ico_search.png) 50% 50% no-repeat;
		background-size: 15px;

	}
}

.btn_arr {
	display: block;
	width: 100%;
	padding-right: 15px;
	background:url(#{$url-img}/content/ico_arr_black.png) 100% 50% no-repeat;
	background-size: 5px;
}

.tbl.tbl_round {
	border-radius: 8px;
	border: 1px solid #ddd;

	table {
		border-width: 0;

		th,
		td {
			border-color: #ddd;
		}

		th {
			border-top: 0;
		}

		td {
			padding: 5px 17px;
			height: auto;
			text-align: left;
		}

		tbody tr:last-child th,
		td {
			border-bottom: 0;
		}

		tbody.no_border {
			tr:first-child td {
				padding-top: 20px;
			}

			tr:last-child td {
				padding-bottom: 20px;
			}

			td {
				border: 0;
			}
		}
	}
}

.check_item {

	&.txt_default {
		>label {
			color: #111;
		}
	}
}

.txt_line {
	line-height: 1;
}

.tf_item_wrap {
	border-radius: 8px;
	border: 1px solid #ddd;
	overflow: hidden;

	.tf_item {
		border: 0;
		border-radius: 0;
		padding: 15px 17px 15px 20px;

		&+.tf_item {
			border-top: 1px solid #ddd;
		}
	}

	.tf_item_body {
		&.align_top {
			align-items: flex-start;
		}

		.l {
			margin-right: auto;
			color: #666;
			font-size: 13px;
			font-weight: 400;
		}

		.r {
			display: inline-flex;
			justify-content: flex-end;
			margin-left: auto;
			text-align: right;

			&.column {
				flex-direction: column;
			}

			input[type=text] {
				width: 50%;
				display: inline-block;
				text-align: right;
				letter-spacing: 0;
				font-size: 26px;
				height: 26px;
				line-height: 26px;
				font-weight: bold;

				+span {
					display: inline-block;
					margin-left: 9px;

				}
			}

			a {
				display: inline-block;
				font-size: 26px;
				font-weight: bold;
				line-height: 1;

				+span {
					display: inline-block;
					margin-left: 9px;

				}
			}

			strong {
				display: inline-block;
				line-height: 1;
				font-size: 26px;
			}

			p {
				color: #666;
			}
		}
	}
}

.border_list {
	>li {
		padding: 20px 0;
		border-bottom: 1px solid #ddd;

		&:first-child {
			border-top: 1px solid #ddd;
		}

		>strong {
			display: block;
			line-height: 1;
			font-weight: 400;
			color: #000011;
			margin-bottom: 10px;
		}
	}

	&.link_more {
		>li {
			padding: 0;

			>a {
				display: block;
				padding: 18px 20px 20px 0;
				background:url(#{$url-img}/content/ico_arr_black.png) 100% 50% no-repeat;
				background-size: 5px;

				.tit {
					font-size: 16px;
					font-weight: 400;
					color: #333;

					.text_ellip {
						display: inline-block;
						max-width: 84%;
						white-space: nowrap;
						text-overflow: ellipsis;
						overflow: hidden;

						&.w100 {
							max-width: 100%;
						}
					}
				}
			}
		}
	}
}

.border0 {
	border: 0;
}

.border_t0 {
	border-top: 0 !important;
}

.tbl_input {
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 6px;
	width: 81px;
	height: 25px;
	padding: 0 17px;
}

.payment_box {
	display: flex;
	align-items: center;

	.l {
		margin-right: auto;
	}

	.r {
		margin-left: auto;
	}

	&.disabled {
		.l {
			strong {
				color: #999;
			}
		}

		.btn_primary {
			background: #ffedb5;
			color: #c3ba9a;
			cursor: default;
		}
	}
}

.card_info_list {
	>li {
		border: 1px solid #ddd;
		border-radius: 8px;

		.con {
			padding: 17px 20px 20px;
			background-image:url(#{$url-img}/content/ico_link_arr.png);
			background-position: calc(100% - 20px) 50%;
			background-repeat: no-repeat;
			background-size: 12px;

			a {
				position: relative;
				display: block;
				padding-right: 20px;
			}
		}

		&:not(:first-child) {
			margin-top: 10px;
		}





		.btn_layer {
			position: absolute;
			top: 50%;
			margin-top: -10px;
			right: 15px;
			width: 20px;
			height: 21px;
			background:url(#{$url-img}/content/ico_link_arr.png) 50% 0 no-repeat;
			background-size: 12px;
		}

		.tit {

			strong {
				display: block;
				line-height: 1;
				font-size: 23px;
				font-weight: 600;
			}
		}

		dl {

			dt,
			dd {
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
			}

			dt {
				color: #666;
				margin-right: 5px;
			}
		}

		.link_btn {
			display: table;
			width: 100%;
			background: #f2f2f2;
			border-radius: 0 0 8px 8px;

			a {
				position: relative;
				display: table-cell;
				line-height: 45px;
				text-align: center;
				font-size: 13px;
				font-weight: 400;

				&:not(:first-child):after {
					content: '';
					position: absolute;
					left: 0px;
					top: 50%;
					margin-top: -10px;
					width: 1px;
					height: 20px;
					background: #e6e6e6;
				}
			}
		}
	}

	&.banking {
		li>a {
			display: block;
			padding: 20px;
			background-image:url(#{$url-img}/content/ico_link_arr.png);
			background-position: calc(100% - 20px) 50%;
			background-repeat: no-repeat;
			background-size: 12px;
		}
	}

	&.user_list {
		&.chk li {
			padding-left: 50px;
		}

		li {
			position: relative;
			padding: 20px;

			>.check_item {
				position: absolute;
				left: 19px;
				top: 50%;
				margin-top: -11px;
			}
		}
	}
}

.sub_toggle {
	display: none;
	position: absolute;
	text-align: left;
	top: 6px;
	right: 33px;
	background: #f6f6f6;
	border-radius: 8px;
	padding: 20px;
	z-index: 10;
	font-size: 0;
	box-shadow: 2px 1px 17px 0px rgba(0, 0, 0, 0.3);

	&:after {
		content: '';
		position: absolute;
		right: -5px;
		top: 20px;
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 7px 0 6px 8px;
		border-color: transparent #f6f6f6 transparent #f6f6f6;
	}

	>div>a {
		display: block;
		min-width: 100px;
		padding: 9px 5px;
		font-size: 13px;
		font-weight: 400;
		border-top: 1px solid #ddd;

		&:first-child {
			border-top: 0;
		}
	}

	.btn_close_tooltip {
		position: absolute;
		right: 15px;
		top: 15px;
	}
}

.flex_btn {
	display: flex;
	flex-wrap: wrap;

	>a.btn {
		width: 50%;
		flex: 1 1 40%;
		margin-left: 0;
		margin-top: 10px;

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		&:nth-child(2n) {
			margin-left: 10px;
		}
	}
}

.flex_box {
	display: flex;
	align-items: center;

	&.align_start {
		align-items: flex-start;
	}

	&.align_end {
		align-items: flex-end;
	}

	.l {
		margin-right: auto;
	}

	.r {
		margin-left: auto;
		text-align: right;
	}
}

.txt_gray02 {
	color: #666;
}

.txt_size18 {
	font-size: 18px;
}

.txt_size0 {
	font-size: 0;
}

.ico_sms {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 11px;
	height: 7px;
	line-height: 7px;
	background-image:url(#{$url-img}/content/ico_sms.png);
	background-size: cover;
}

.ico_push {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	text-indent: -9999px;
	overflow: hidden;
	text-align: left;
	width: 12px;
	height: 11px;
	line-height: 11px;
	background-image:url(#{$url-img}/content/ico_push.png);
	background-size: cover;
}

.p_r {
	position: relative;
}

.search_date {
	background: #f6f6f6;

	a {
		position: relative;
		display: block;
		padding: 20px 60px 20px 40px;
		background:url(#{$url-img}/content/ico_search.png) 20px 50% no-repeat;
		background-size: 15px;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			right: 20px;
			margin-top: -3px;
			width: 10px;
			height: 6px;
			background:url(#{$url-img}/content/ico_chevron_down_sm_bold.png) 0 0 no-repeat;
			background-size: 10px;
		}
	}
}

.txt_blue {
	color: #0040d2;
}

.bg_darkgray {
	background: #333;
	color: #fff;
}

.cate_new {
	position: relative;
	display: inline-block;
	line-height: 16px;
	padding: 0 5px;
	background: #d70000;
	color: #fff;
	font-size: 10px;
	border-radius: 15px;
	margin-left: 10px;

	&:before {
		content: '';
		position: absolute;
		left: -3px;
		top: 50%;
		margin-top: -3px;
		display: inline-block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 3px 4px 3px 0;
		border-color: transparent #d70000 transparent #d70000;

	}
}

.view_box {
	.tit {
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;

		.date {
			font-size: 13px;
			color: #666;
			margin-top: 2px;
			font-weight: normal;
		}
	}

	.con {
		padding-top: 20px;
	}
}

.update_list {
	>li {
		font-size: 0;

		span {
			position: relative;
			display: inline-block;
			vertical-align: top;
			font-size: 13px;
			color: #555;

			&+span {
				padding-left: 12px;
			}

			&:nth-child(1) {
				width: 73px;
			}

			&:nth-child(2) {
				width: 75px
			}

			&:nth-child(3) {
				width: calc(100% - 150px);
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			&:not(:last-child):after {
				content: '';
				position: absolute;
				right: -6px;
				top: 50%;
				margin-top: -4px;
				width: 1px;
				height: 9px;
				background: #ddd;
			}
		}
	}
}

.service_fund_img {
	min-height: 59px;
	padding: 15px 0 0 102px;
	background:url(#{$url-img}/content/service_fund_img01.png) 13px 0 no-repeat;
	background-size: 81px;
}

.bg_lightgray02 {
	background: #f2f2f2;
}

.service_fund_manager {
	li {
		padding: 17vw 15px 0;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 100% 36vw;

		&:not(:first-child) {
			margin-top: 20px;
		}

		&.bg01 {
			background-image:url(#{$url-img}/content/service_fund_img05.png);
		}

		&.bg02 {
			background-image:url(#{$url-img}/content/service_fund_img06.png);
		}

		&.bg03 {
			background-image:url(#{$url-img}/content/service_fund_img07.png);
		}

		.con {
			background: #fff;
			border-radius: 6px;
			padding: 20px;
			color: #555;
		}
	}
}

.board_search {
	position: relative;
	border: 1px solid #ddd;
	padding: 14px 52px 14px 20px;
	border-radius: 4px;

	input {
		width: 100%;
		font-size: 14px;
	}

	.btn_search {
		position: absolute;
		right: 0;
		top: 0;
		width: 52px;
		height: 50px;
		background:url(#{$url-img}/content/ico_search.png) 50% no-repeat;
		background-size: 15px;
	}

}