.easy_certi_top {
	padding-top: 141px;
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: 50% 0;
	text-align: center;
	font-size: 20px;
	font-weight: 400;

	&.bg01 {
		background-image:url(#{$url-img}/content/bg_easy_certi01.png);
	}

	&.bg02 {
		background-image:url(#{$url-img}/content/bg_easy_certi02.png);
	}

	&.bg03 {
		background-image:url(#{$url-img}/content/bg_easy_certi03.png);
	}

	&.bg04 {
		background-image:url(#{$url-img}/content/bg_easy_certi04.png);
	}

	&.bg05 {
		background-image:url(#{$url-img}/content/bg_certi_issued01.png);
	}
}

.section {
	margin-top: 50px;
}

.txt20 {
	font-size: 20px;
}

.pass_certi_list {
	border: 1px solid #ddd;
	border-radius: 8px;

	>li {
		display: flex;
		padding: 0 19px 0 65px;
		align-items: center;
		height: 78px;
		background-repeat: no-repeat;
		background-position: 19px 50%;

		&:not(:first-child) {
			border-top: 1px solid #ddd;
		}

		&.bg01 {
			background-size: 27px;
			background-image:url(#{$url-img}/content/ico_pass01.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass01_on.png);
			}

			&.primary {
				background-image:url(#{$url-img}/content/ico_pass01_primary.png);
			}
		}

		&.bg02 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass02.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass02_on.png);
			}
		}

		&.bg03 {
			background-position: 22px 50%;
			background-size: 22px;
			background-image:url(#{$url-img}/content/ico_pass03.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass03_on.png);
			}
		}

		&.bg04 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass04.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass04_on.png);
			}
		}

		&.bg05 {
			background-size: 27px;
			background-image:url(#{$url-img}/content/ico_pass05.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass05_on.png);
			}
		}

		&.bg06 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass06.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass06_on.png);
			}
		}

		&.disabled {
			.l {
				color: #999;
			}

			.r .btn {
				background: #ddd;
			}
		}

		.l {
			flex: 1 1 auto;
			font-size: 18px;
			font-weight: 400;
		}

	}
}

.add_certi_box {
	.add_list {
		display: flex;

		a {
			flex: 1 1 auto;
		}
	}

	.box {
		font-weight: 500;
		text-align: center;

		&:before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 12px;
			background:url(#{$url-img}/content/ico_check.png) 0 0 no-repeat;
			background-size: 18px;
			margin-right: 1px;
		}
	}
}

.password_masking.gray {
	i {
		background: #999;
	}
}

.caution_box {
	background:url(#{$url-img}/content/ico_caution.png) 50% 0 no-repeat;
	background-size: 48px;
	padding-top: 60px;

	strong {
		display: block;
		line-height: 1;
		text-align: center;
		font-size: 22px;
		font-weight: 500;
	}
}

.num_list {
	>li {
		position: relative;
		padding-left: 13px;
		counter-increment: list;

		&:before {
			content: counter(list) ".";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.double_box {
	border: 1px solid #ddd;
	border-radius: 8px;

	.top {
		padding: 20px;
		font-weight: 400;
		font-size: 16px;

		&+.btm {
			border-top: 1px solid #ddd;
		}
	}

	.btm {
		padding: 20px;

		>div {
			display: flex;

			&+div {
				margin-top: 5px;
			}

			.l {
				margin-right: auto;
				color: #555;
			}

			.r {
				margin-left: auto;
				text-align: right;
			}
		}
	}

	&.terms_box {
		.top {
			padding: 24px 16px;

			.check_item>input[type=checkbox]+label {
				background-position: 0 3px;
			}
		}

		.btm {
			padding: 22px 20px 22px 24px;

			>div {
				&+div {
					margin-top: 6px;
				}

				.r {
					.btn_more {
						display: block;
						padding-right: 13px;
						background:url(#{$url-img}/content/ico_arr_primary.png) 100% 50% no-repeat;
						background-size: 6px;
					}
				}
			}
		}
	}

	&.toggle {
		.top {
			padding: 0;

			a {
				display: block;
				padding: 20px 50px 20px 20px;
				background-repeat: no-repeat;
				background-position: calc(100% - 19px) 50%;
				background-image:url(#{$url-img}/content/ico_toggle_down.png);
				background-size: 21px;
			}

			&.active {
				a {
					background-image:url(#{$url-img}/content/ico_toggle_up.png);
				}

				+.btm {
					display: block;
				}
			}
		}

		.btm {
			display: none;
		}
	}
}

.modal_full {
	position: fixed;
	width: 100%;
	height: 100%;

	.popup_inner {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		height: 100%;
	}

	.popup_header {
		flex: 0 0 auto;
	}

	.popup_body {
		flex: 1 1 auto;
		max-height: 100%;
		overflow-y: auto;
	}

	.popup_footer {
		flex: 0 0 auto;
	}

}

.modal_popup.popup {
	flex-direction: column;
	align-items: normal;

	.popup_footer {
		padding-top: 20px;
	}
}

.tf_double {
	display: flex;

	>div {
		position: relative;
		overflow: visible;
		flex: 1 1 auto;

		&:not(:first-child):before {
			content: '';
			position: absolute;
			top: 50%;
			left: -15px;
			width: 8px;
			height: 1px;
			background: #ddd;
		}

		&+div {
			margin-left: 20px;
		}
	}
}

.security_box {
	display: flex;

	>div {
		border-radius: 8px;
		overflow: hidden;
		text-align: center;

		&:not(:first-child) {
			margin-left: 10px;
		}

		flex: 1 1 auto;

		>strong {
			display: block;
			background: #fdc61c;
			font-size: 16px;
			font-weight: 500;
			line-height: 35px;
		}

		&:first-child {
			.con:after {
				content: '';
				margin-left: 7px;
			}
		}

		&:last-child {
			.con:before {
				content: '';
				margin-right: 7px;
			}
		}

		.con {
			background: #f6f6f6;
			border: 1px solid #ddd;
			border-radius: 0 0 8px 8px;
			padding: 10px 10px 14px;

			&:before,
			&:after {
				display: inline-block;
				width: 30px;
				height: 10px;
				background:url(#{$url-img}/content/ico_dot.png) 0 0 no-repeat;
				background-size: 30px;
			}

			>* {
				&:not(:first-child) {
					margin-left: 10px;
				}
			}

			input {
				width: 50px;
				height: 30px;
				font-size: 20px;
				font-weight: 600;
				border: 0;
				vertical-align: middle;
				text-align: center;
			}

			i {
				display: inline-block;
				vertical-align: middle;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background: #333;
			}
		}
	}
}

.otp_box {
	border: 2px solid #fdc61c;
	border-radius: 8px;
	background: #f6f6f6;
	text-align: center;

	a {
		display: block;
		padding: 20px;
	}

	i {
		display: inline-block;
		vertical-align: middle;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: #ddd;

		&:not(:first-child) {
			margin-left: 15px;
		}

		&.on {
			background: #333;
		}
	}
}

.certi_info_box {
	padding-top: 39vw;
	background-repeat: no-repeat;
	background-size: 100% 33.5vw;
	background-position: 0 0;

	&.bg01 {
		background-image:url(#{$url-img}/content/img_certi01.png);
	}

	&.bg02 {
		background-image:url(#{$url-img}/content/img_certi02.png);
	}

	&.bg03 {
		background-image:url(#{$url-img}/content/img_certi03.png);
	}
}

.certi_list {
	>li {
		border: 1px solid #ddd;
		border-radius: 8px;

		&:not(:first-child) {
			margin-top: 10px;
		}

		a {
			position: relative;
			display: block;
			padding: 20px 25px 20px 84px;
			background:url(#{$url-img}/content/bg_certi_list.png) 19px 22px no-repeat;
			background-size: 48px;

			&:before {
				content: '';
				position: absolute;
				right: 19px;
				top: 50%;
				margin-top: -5px;
				width: 5px;
				height: 10px;
				background:url(#{$url-img}/content/ico_arr_black.png) 0 0 no-repeat;
				background-size: 5px;
			}

			strong {
				display: block;
				line-height: 1;
				font-size: 16px;
				font-weight: 500;
				margin-bottom: 5px;
			}

			>div {

				span {
					position: relative;
					font-size: 13px;
					color: #555;

					&:not(:first-child) {
						margin-left: 22px;

						&:before {
							content: '';
							position: absolute;
							left: -11px;
							top: 6px;
							width: 1px;
							height: 10px;
							background: #ddd;
						}
					}
				}
			}
		}
	}
}

.check_item.check {
	>input[type=radio] {
		+label {
			background-image: url(#{$url-img}/common/ico_checkbox_default.png);
		}

		&:checked+label {
			background-image: url(#{$url-img}/common/ico_checkbox_checked.png);
		}
	}
}

.password_dot {
	text-align: center;
	margin-top: 42px;
	font-size: 0;

	a {
		display: block;
		padding: 10px 0;
	}

	i {
		display: inline-block;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		background: rgba(17, 17, 17, 0.1);

		&.on {
			background: #fdc61c;
		}

		&+i {
			margin-left: 15px;
		}
	}
}

.qr_wrap {
	margin-top: 140px;

	img {
		width: 100%;
	}
}

.count_num {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background: #fdc61c;
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-weight: 400;
	border-radius: 50%;
	margin-left: 8px;
}

.btn_refresh {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	background:url(#{$url-img}/content/ico_refresh.png) 0 0 no-repeat;
	background-size: 20px;
	margin-left: 5px;
}

.price_total {
	p {
		color: #666;
		margin-bottom: 3px;
	}

	strong {
		line-height: 1;
		display: block;
		font-size: 30px;
		font-weight: 600;

		span {
			font-size: 23px;
			font-weight: 400;
		}
	}
}

.d_f {
	display: flex;
}

.holding_account {
	background: #f2f2f2;
	padding: 15px 0;

	ul {
		display: table;
		table-layout: fixed;
		width: 100%;
		padding: 0 10px;

		>li {
			display: table-cell;
			text-align: center;
			font-size: 12px;
			color: #555;

			&:not(:first-child) {
				border-left: 1px solid #ddd;
			}

			span {
				display: block;
				font-size: 13px;
				color: #111;
				line-height: 1;

				strong {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}
}

.account_list {
	>li {
		a {
			display: block;
			padding: 22px 30px 22px 0;
			background-image:url(#{$url-img}/content/ico_toggle_down.png);
			background-repeat: no-repeat;
			background-position: 100% 50%;
			background-size: 21px;

			&.active {
				background-image:url(#{$url-img}/content/ico_toggle_up.png);
			}
		}
	}
}

.num_circle {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	line-height: 16px;
	background: #333;
	font-size: 11px;
	color: #fff;
	text-align: center;
}

.bg_txt {
	padding-top: 185px;
	background-repeat: no-repeat;
	background-size: 165px;
	background-position: 50% 0;
	text-align: center;

	&.dues_bg01 {
		background-image:url(#{$url-img}/content/dues_bg01.png);
	}
}

.link_list {
	>li {
		border: 1px solid #ddd;
		border-radius: 8px;

		&:not(:first-child) {
			margin-top: 10px;
		}

		a {
			display: block;
			padding: 23px 35px 23px 24px;
			background-image:url(#{$url-img}/common/ico_chevron_right_xl.png);
			background-position: calc(100% - 19px) 50%;
			background-size: 9px;
			background-repeat: no-repeat;
			font-size: 18px;
			font-weight: 500;
		}
	}
}