.box_gray {
	background: #fafafa;
}

.btm_result_box {
	display: none;
}

.tbl_over_scroll {
	overflow-x: scroll;
}

.ml6 {
	margin-left: 6px !important;
}

.mt3 {
	margin-top: 3px !important;
}

.border_r {
	border-right: 1px solid #ddd;
}

.border_b {
	border-bottom: 1px solid #eee;
}

.popup_box_gray {
	border-radius: 4px;
	padding: 20px;
	background-color: #f6f6f6;

	&.border_gray {
		border: 1px solid #ddd;
	}
}

.tab_menu_type3 {
	&.sm {
		ul>li {
			a {
				height: 46px;
				font-size: 16px;
				line-height: 44px;
				padding: 0 40px;
				text-align: center;
			}
		}
	}

	&.full {
		ul>li {
			flex: 1 1 0;

			a {
				text-align: center;
			}
		}
	}
}

.popup_search_box {
	position: relative;

	.tf {
		border: 1px solid #111;
		width: 100%;
		padding-right: 57px;
	}

	button {
		position: absolute;
		width: 57px;
		height: 100%;
		right: 0;
		top: 0;
		background: url(#{$url-img-common}/ico_search_bold.png) no-repeat center center;

	}
}

.greeting_list {
	overflow-y: scroll;
	border-top: 1px solid #111;
	border-bottom: 1px solid #ddd;

	ul {
		height: 294px;

		li {
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}

			a {
				display: block;
				height: 56px;
				padding: 0 15px;
				line-height: 54px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 16px;
				color: #333;
			}
		}
	}
}


.service_terms {
	border-top: 1px solid #111;
	padding-top: 30px;

	dl {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		dt {
			font-weight: 400;
			margin-bottom: 1px;
		}

		dd {
			padding-left: 5px;
		}
	}
}

.terms_wrap {
	.terms_con {
		border-top: 1px solid #111;
		border-bottom: 1px solid #111;
		padding: 40px 20px;
		max-height: 375px;
		overflow-y: scroll;

		strong {
			display: block;
			font-weight: 400;
			margin-bottom: 1px;
		}

		&+.tbl_row2 {
			border-bottom: none;
		}

	}

	.tbl_row2 {
		th {
			font-size: 18px;
			color: #111;
		}
	}

	&.scroll_none {
		.terms_con {
			max-height: none;
			overflow: visible;
		}
	}

	&.open_banking {
		background: #f3f3f3;

		.terms_con {
			border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;
			padding: 20px;
		}
	}
}

.tbl_row_data>table>tbody>tr>th>.necessary {
	margin-left: 2px;
	transform: translateY(-9px);
}

.box_tit {
	font-size: 18px;
	font-weight: 500;
}

.box.box_tbl {
	display: table;
	width: 100%;

	.l,
	.r {
		display: table-cell;
		vertical-align: middle;
	}

	.r {
		padding-left: 10px;
	}
}

.term_date {
	>div {
		position: relative;
		display: inline-block;

		&:not(:first-child) {
			margin-left: 65px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: -41px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.list1.txt_invalid {
	>li:before {
		background: #D70000;
	}
}

.agreement_box {
	border: 1px solid #ddd;
	padding: 40px 30px;
	border-radius: 4px;
}

.agreement_chk {

	.check_item {
		input {
			+label {
				color: #666;
			}

			&:checked+label {
				color: #111;
			}
		}
	}
}

.point_donation_txt {
	position: relative;
	text-align: center;
	font-size: 18px;

	strong {
		font-size: 40px;
		font-weight: 200;
		vertical-align: middle;
		font-family: "NotoSansKR";
	}

	&:before {
		content: '';
		display: inline-block;
		width: 60px;
		height: 60px;
		vertical-align: text-top;
		margin-right: 9px;
		background: url(#{$url-img-common}/ico_check_xl_primary.png) no-repeat center center;
		vertical-align: middle;
	}

	&.top:before {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
		vertical-align: top;
	}

	&.ico_xxl {
		strong {
			vertical-align: inherit;
			line-height: 1.4;
		}

		&:before {
			width: 100%;
			height: 90px;
			vertical-align: top;
			margin-bottom: 36px;
			background: url(#{$url-img-common}/ico_check_xxl_primary.png) no-repeat center center;
		}
	}

}

.card_number {
	>div {
		position: relative;
		display: inline-block;

		&:not(:first-child) {
			margin-left: 66px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-left: -39px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.mt120 {
	margin-top: 120px;
}

.mt130 {
	margin-top: 130px;
}

.tooltip_txt {
	position: relative;

	&.btn_info {
		overflow: visible;
		white-space: inherit;
	}

	>i {
		margin-bottom: 3px;
	}

	.tooltip {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: 0px;
		top: auto;
		bottom: 47px;
		z-index: 100;

		&.tooltip_right {
			left: calc(100% + 25px);
			bottom: auto;
			top: -10px;

			&:before {
				top: 17px;
				bottom: auto;
				left: -11px;
				transform: rotate(90deg);
			}
		}

		&.tooltip_top {
			bottom: auto;
			left: auto;
			top: 34px;
			right: 0;
			width: 450px;
			white-space: inherit;

			&:before {
				left: auto;
				bottom: auto;
				right: 7px;
				top: -12px;
				transform: rotate(180deg);
			}

			ul {
				li {
					line-height: 1.5;

					&:before {
						top: 9px;
					}
				}
			}
		}

		ul {
			font-size: 14px;
		}
	}

	&:hover {
		.tooltip {
			opacity: 1;
			visibility: visible;
		}
	}
}

.num_list {
	>li {
		position: relative;
		padding-left: 15px;
		counter-increment: list;

		&:before {
			content: counter(list) ".";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.email_box {
	.right {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-left: 31px;

		&:before {
			content: '@';
			position: absolute;
			left: -24px;
			top: 50%;
			margin-top: -17px;
		}
	}
}

.check_page {
	position: relative;

	&:before {
		display: block;
		width: px;
		height: px;
		background: url(#{$url-img-common}/ico_check_xl_primary.png) no-repeat center center;
	}
}

.qna_list {
	border-top: 1px solid #111;

	>li {
		border-bottom: 1px solid #111;
		color: #333;

		.qna_q {

			a {
				position: relative;
				display: block;
				padding: 26px 70px;
				background-image:url(#{$url-img-common}/ico_arr_down_sm.png);
				background-repeat: no-repeat;
				background-position: calc(100% - 20px) 37px;


				&:before {
					content: '';
					position: absolute;
					left: 20px;
					top: 20px;
					width: 40px;
					height: 40px;
					background: url(#{$url-img-common}/ico_question.png) no-repeat center center;
				}
			}

			&.active a {
				background-image:url(#{$url-img-common}/ico_arr_up_sm.png);
				background-repeat: no-repeat;
				background-position: calc(100% - 20px) 37px;
			}
		}

		.qna_a {
			position: relative;
			padding: 36px 40px 36px 110px;
			background: #f3f3f3;
			display: none;

			&:before {
				content: '';
				position: absolute;
				left: 60px;
				top: 34px;
				width: 40px;
				height: 40px;
				background: url(#{$url-img-common}/ico_answer.png) no-repeat center center;
			}

			&.on {
				display: block;
			}
		}
	}
}

.check_item input[type=radio]:disabled {
	+label {
		color: #aaa;
	}
}

.bar_wrap {
	font-size: 0;

	>div {
		position: relative;
		display: inline-block;
		font-size: 16px;

		&:not(:first-child) {
			margin-left: 30px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -20px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.login_certi_top {
	padding: 37px 57px 59px;
	background: #f6f6f6;

	h3 {
		font-size: 25px;
		font-weight: 400;
	}

	.txt {
		position: relative;
		padding-left: 80px;
		min-height: 57px;
		color: #555;

		&:before {
			content: '';
			position: absolute;
			left: 10px;
			top: 0;
			width: 49px;
			height: 57px;
			background: url(#{$url-img}/content/login_certi_img01.png) no-repeat top left;

		}
	}
}

.login_certi_list {
	@include clearfix;

	>li {
		position: relative;
		float: left;
		width: 580px;
		margin-right: 40px;
		margin-top: 40px;
		padding: 37px 58px 49px;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.05);
		background-repeat: no-repeat;
		transition: 0.2s ease-in-out;

		&.list01 {
			background-image:url(#{$url-img}/content/login_certi_img02.png);
			background-position: calc(100% - 59px) 69px;
		}

		&.list02 {
			background-image:url(#{$url-img}/content/login_certi_img03.png);
			background-position: calc(100% - 61px) 70px;
		}

		&.list03 {
			background-image:url(#{$url-img}/content/login_certi_img04.png);
			background-position: calc(100% - 60px) 68px;
		}

		&.list04 {
			background-image:url(#{$url-img}/content/login_certi_img05.png);
			background-position: calc(100% - 53px) 73px;
		}

		&.list05 {
			background-image:url(#{$url-img}/content/login_certi_img06.png);
			background-position: calc(100% - 60px) 69px;
		}

		&.list06 {
			background-image:url(#{$url-img}/content/login_certi_img07.png);
			background-position: calc(100% - 62px) 80px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 38px;
			right: 38px;
			width: 154px;
			height: 154px;
			background: #f3f3fa;
			border-radius: 50%;
			z-index: -1;
			transition: 0.2s ease-in-out;
		}

		&:after {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			width: 100%;
			height: 100%;
			border: 2px solid #fdc61c;
			border-radius: 4px;
			z-index: -1;
			opacity: 0;
			transition: 0.2s ease-in-out;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		h4 {
			font-size: 26px;
			font-weight: 400;
			margin-bottom: 6px;
			letter-spacing: -0.5px;
		}

		p {
			color: #333;
		}

		a {
			background: #eee;
			width: 120px;
			margin-top: 18px;
			transition: 0.2s ease-in-out;
		}

		&:hover {
			border-color: transparent;
			transition: 0.2s ease-in-out;

			&:before {
				background: #fef5e5;
				transition: 0.2s ease-in-out;
			}

			&:after {
				opacity: 1;
				transition: 0.2s ease-in-out;
			}

			a {
				background: #fdc61c;
				border-color: #fdc61c;
				color: #111;
				transition: 0.2s ease-in-out;
			}
		}
	}
}

.btn_help {
	min-width: 74px;
	height: 28px;
	padding: 5px 8px 6px 6px;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	background: #555;
	border-radius: 15px;
	margin-right: 8px;

	.ico {
		margin-top: 0;
	}
}

.cont_body.certi_abolition {
	width: 100%;
	background: #fafafa;

	.abolition_inner {
		width: 1200px;
		margin: 0 auto;
	}

	.abolition_con {
		@include clearfix;
		border-radius: 10px 10px 10px 40px;
		background: #fff;
		box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.1);
		margin-top: -30px;

		>div {
			float: left;
			position: relative;
			width: 50%;
			height: 515px;
			padding: 54px 80px 66px;
			color: #555;

			&:not(:first-child) {
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 50px;
					width: 1px;
					height: 395px;
					background: #eee;
				}
			}

			.txt {
				position: relative;
				height: 100%;

				&.bg01 {
					background: url(#{$url-img}/content/login_abolition_img01.png) no-repeat 100% 24px;
				}

				&.bg02 {
					background: url(#{$url-img}/content/login_abolition_img02.png) no-repeat 100% 24px;
				}

				>span {
					min-width: 100px;
					padding: 0 20px;
					background: #fafafa;
					border-radius: 15px;
				}

				h3 {
					font-size: 30px;
					color: #111;

					span {
						display: block;
						font-size: 20px;
						font-weight: 400;
					}
				}

				p {
					color: #333;
				}

				a {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 440px;

				}
			}
		}
	}
}

.num_list2 {
	>li {
		position: relative;
		padding-left: 29px;
		counter-increment: list;
		line-height: 1.75;

		&:before {
			content: counter(list);
			position: absolute;
			top: 6px;
			left: 0;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			line-height: 17px;
			color: #fff;
			background: #555;
			font-size: 12px;
			font-weight: 400;
			text-align: center;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.box_list {
	@include clearfix;

	>li {
		float: left;
		width: calc(100% / 3 - 9px);
		margin-right: 13px;
		margin-top: 13px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 39px 48px 30px;
		color: #333;
		background-position: calc(100% - 30px) calc(100% - 30px);
		background-repeat: no-repeat;

		&:nth-child(-n+3) {
			margin-top: 0;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&.bg01 {
			background-image: url(#{$url-img}/content/service_center_img01.png);
		}

		&.bg02 {
			background-image: url(#{$url-img}/content/service_center_img02.png);
		}

		&.bg03 {
			background-image: url(#{$url-img}/content/service_center_img03.png);
		}

		h4 {
			font-size: 23px;
			font-weight: 400;
			margin-bottom: 5px;
		}

		p {
			line-height: 24px;
		}

		a {
			width: 120px;
			margin-top: 17px;
		}
	}
}

.tit3 {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	padding-left: 30px;
	align-items: center;
	line-height: 1;
	margin-bottom: 25px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		width: 20px;
		height: 20px;
		background: url(#{$url-img-common}/ico_tit_arrow.png) no-repeat center center;
	}
}

.box {
	&.notice_red dt:before {
		background-image:url(#{$url-img-common}/ico_tit_box.png);
	}

	&.notice_box dt:before {
		background-image:url(#{$url-img-common}/ico_notice_box.png);
	}

	&.box_stop dt:before {
		background-image:url(#{$url-img-common}/ico_stop.png);
	}
}

.safe_icon_wrap {
	h3 {
		strong {
			display: inline-block;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background: #555;
			font-size: 20px;
			color: #fff;
			font-weight: 500;
			line-height: 27px;
			text-align: center;
			margin-right: 10px;
			font-family: "NotoSansKR";
		}
	}

	.safe_icon_con {
		background: #fafafa;
		padding: 32px 32px 30px;

		>ul {
			font-size: 0;
			text-align: center;

			>li {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin-right: 75px;

				&:not(:first-child):before {
					content: '';
					position: absolute;
					left: -38px;
					top: 26px;
					width: 3px;
					height: 43px;
					background:url(#{$url-img}/content/safe_dot.png) top center no-repeat;
				}


				&:nth-child(8n) {
					margin-right: 0;
				}

				.img {
					display: flex;
					width: 75px;
					height: 60px;
					background: #fff;
					text-align: center;
					justify-content: center;
					align-items: center;
					box-shadow: 4px 0 4px rgba(0, 0, 0, 0.02);
					border-radius: 10px;
					border: 1px solid #eee;
				}
			}
		}

		.txt {
			display: inline-block;
			text-align: left;
		}
	}
}

.check_item.safe_icon>input[type=radio] {
	+label {
		display: inline-block;
		padding-left: 0;
		padding-bottom: 37px;
		background-position: bottom center;
	}
}

.inline_block {
	display: inline-block;
}

.security_top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.l {
		width: 396px;

		>strong {
			font-size: 25px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: -0.05em;

			span {
				font-size: 28px;
				font-weight: 500;
			}
		}

		.security_level {
			font-size: 0;

			span {
				position: relative;
				display: inline-block;
				width: 131px;
				font-size: 13px;
				font-weight: 400;
				color: #555;
				text-align: center;
				padding-top: 18px;

				&:before {
					content: '';
					display: block;
					width: calc(100% - 1px);
					height: 6px;
					margin-bottom: 13px;
					border-right: 1px solid #eee;
				}

				&.on:after {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -12px;
					width: 25px;
					height: 32px;
					background-position: 50% 0;
					background-repeat: no-repeat;
				}

				&.level01 {
					&:before {
						background: #009973;
					}

					&:after {
						background-image:url(#{$url-img}/content/ico_security_level01.png);
					}
				}

				&.level02 {
					&:before {
						background: #0069e1;
					}

					&:after {
						background-image:url(#{$url-img}/content/ico_security_level02.png);
					}
				}

				&.level03 {
					&:before {
						background: #ff883a;
						border-right: 0;
					}

					&:after {
						background-image:url(#{$url-img}/content/ico_security_level03.png);
					}
				}
			}
		}

		.total {
			padding: 8px 10px;
			border-radius: 20px;
			background: #fff;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
			line-height: 1;
		}
	}

	.r {
		width: 650px;

		>ul {
			font-size: 0;

			li {
				display: inline-block;
				width: 100px;
				height: 96px;
				font-size: 14px;
				color: #444;
				padding: 63px 0 10px;
				background: #eee;
				border-radius: 10px;
				text-align: center;
				background-repeat: no-repeat;

				&:not(:first-child) {
					margin-left: 10px;
				}

				&.on {
					background-color: #fff;
					border: 2px solid #fdc61c;
					font-weight: 500;
					color: #111;
				}

				&.bg01 {
					background-position: 50% 14px;
					background-image:url(#{$url-img}/content/ico_security01.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security01_on.png);
					}
				}

				&.bg02 {
					background-position: 50% 20px;
					background-image:url(#{$url-img}/content/ico_security02.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security02_on.png);
					}
				}

				&.bg03 {
					background-position: 50% 11px;
					background-image:url(#{$url-img}/content/ico_security03.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security03_on.png);
					}
				}

				&.bg04 {
					background-position: 50% 10px;
					background-image:url(#{$url-img}/content/ico_security04.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security04_on.png);
					}
				}

				&.bg05 {
					background-position: 50% 9px;
					background-image:url(#{$url-img}/content/ico_security05.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security05_on.png);
					}
				}

				&.bg06 {
					background-position: 50% 8px;
					background-image:url(#{$url-img}/content/ico_security06.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security06_on.png);
					}
				}
			}
		}
	}
}

.security_list {
	>li {
		padding: 38px 29px 40px 220px;
		border: 1px solid #ddd;
		border-radius: 4px;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #333;

		&:not(:first-child) {
			margin-top: 30px;
		}

		&.bg01 {
			background-position: 47px 32px;
			background-image:url(#{$url-img}/content/security_img_01.png);
		}

		&.bg02 {
			background-position: 53px 56px;
			background-image:url(#{$url-img}/content/security_img_02.png);
		}

		&.bg03 {
			background-position: 52px 47px;
			background-image:url(#{$url-img}/content/security_img_03.png);
		}

		&.bg04 {
			background-position: 65px 35px;
			background-image:url(#{$url-img}/content/security_img_04.png);
		}

		&.bg05 {
			background-position: 50px 53px;
			background-image:url(#{$url-img}/content/security_img_05.png);
		}

		&.bg06 {
			background-position: 46px 53px;
			background-image:url(#{$url-img}/content/security_img_06.png);
		}

		.txt {
			h4 {
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 6px;
				color: #111;
			}

			ul {
				color: #333;
			}

			a {
				min-width: 120px;
				background: #eee;
				color: #444;
				font-size: 14px;
			}
		}

		.score {
			width: 190px;
			padding-left: 25px;
			text-align: center;

			strong {
				display: block;
				font-size: 30px;
				font-weight: 600;
				line-height: 1;
				margin-bottom: 20px;

			}

			.score_star {
				font-size: 0;

				>span {
					display: inline-block;

					&:not(:first-child) {
						margin-left: 4px;
					}
				}

				i {
					width: 29px;
					height: 27px;
					background-size: 100%;
				}
			}
		}
	}
}

.tab_ico {
	ul>li {
		&:not(:last-child) {
			a:before {
				position: static
			}
		}

		a {
			&:before {
				content: '';
				display: inline-block;
				margin-right: 7px;
				vertical-align: -4px;
				position: static;
			}
		}


		&:first-child a {
			&:before {
				width: 31px;
				height: 22px;
				background: url(#{$url-img-common}/ico_tab01.png) no-repeat center center;
			}

			&.current:before,
			&:hover:before {
				position: static;
				background: url(#{$url-img-common}/ico_tab01_on.png) no-repeat center center;
			}
		}


		&:last-child a {
			&:before {
				width: 25px;
				height: 24px;
				background: url(#{$url-img-common}/ico_tab02.png) no-repeat center center;
			}

			&.current:before,
			&:hover:before {
				background: url(#{$url-img-common}/ico_tab02_on.png) no-repeat center center;
			}
		}
	}
}

.txt_darkyellow {
	color: #986800;
}

.price_txt {
	font-family: 'SpoqaHanSans';
	font-weight: 600;
}

.total_account {
	&.active {
		.total_price {
			&:after {
				vertical-align: 4px;
				background: url(#{$url-img-common}/ico_arr_up_sm.png) 0 0 no-repeat;
			}
		}

		.account_con {
			display: block;
		}
	}

	.total_price {
		display: inline-block;
		padding-right: 0;
		font-size: 18px;
		letter-spacing: -0.05em;
		line-height: 1;

		&:after {
			content: '';
			display: inline-block;
			width: 13px;
			height: 7px;
			background: url(#{$url-img-common}/ico_arr_down_sm.png) 0 0 no-repeat;
			margin-left: 22px;
			vertical-align: middle;
		}

		strong {
			font-size: 19px;
			font-weight: 400;
			color: #111;
			font-family: 'SpoqaHanSans';
		}
	}

	.tbl_tit {
		border-bottom: 1px solid #111;
		margin-bottom: 0;
		padding-bottom: 20px;
	}

	.account_con {
		display: none;
		border-bottom: 1px solid #111;

		&.top_bor {
			border-top: 1px solid #111;
		}

		&.search_menu {
			border-bottom: 1px solid #ddd;

			.top {
				padding: 20px 20px;
			}
		}

		&.qna_list {
			border-bottom: 0;

			>li {
				border-top: 0 !important;
			}
		}

		&.cart_list {
			>li {
				border-bottom: 0;
			}
		}

		&.no_data>li {
			text-align: center;
			padding: 74px 20px 66px;

			span {
				display: inline-block;
				color: #333;

				&:before {
					content: '';
					display: inline-block;
					width: 18px;
					height: 18px;
					vertical-align: -3px;
					margin-right: 6px;
					background:url(#{$url-img}/common/ico_warning_gray.png) 0 0 no-repeat;
				}
			}
		}

		>li {
			&:not(:first-child) {
				border-top: 1px solid #ddd;
			}

			&.active {
				.top {
					padding: 35px 35px 20px;

					.btn_view {
						background: #fef5e5;
						color: #111;
						font-weight: 400;
					}
				}

				.btm {
					display: block;
				}
			}

			>.top {
				display: flex;
				padding: 35px 35px 30px;
				align-items: center;


				.l {
					margin-right: auto;

					.order_btn {
						display: inline-block;
						width: 36px;
						vertical-align: middle;
					}

					ul>li {
						display: inline-block;
						position: relative;
						line-height: 1;

						&:not(:first-child) {
							margin-left: 30px;

							&:after {
								content: '';
								position: absolute;
								top: 50%;
								left: -15px;
								width: 1px;
								height: 18px;
								margin-top: -9px;
								background: #ddd;
							}
						}
					}
				}

				.r {
					margin-left: auto;
					text-align: right;

					.price {
						font-size: 20px;
						display: flex;
						align-items: center;
						justify-content: flex-end;

						strong {
							font-size: 24px;
							font-weight: 400;
							font-family: 'SpoqaHanSans';
						}
					}
				}

			}

			.btm {
				display: none;
				background: #fafafa;
				padding: 16px 30px;
				text-align: right;

				button {
					display: inline-block;
					position: relative;
					color: #333;
					font-size: 16px;

					&:not(:first-child) {
						margin-left: 42px;

						&:before {
							content: '';
							position: absolute;
							left: -21px;
							top: 3px;
							width: 1px;
							height: 18px;
							background: #ddd;
						}
					}
				}
			}


		}
	}
}

.account_tit {
	line-height: 56px;
}

.num_circle {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #333;
	color: #fff;
	font-weight: 500;
	text-align: center;
	line-height: 23px;
	font-family: 'NotoSansKR';
}

.greeting_card {
	width: 500px;
	height: 276px;
	background-repeat: no-repeat;
	padding: 86px 50px;
	text-align: center;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
	border-radius: 20px;

	strong {
		display: block;
		font-size: 30px;
		line-height: 1;
		font-weight: 500;
		margin-bottom: 13px;
	}

	p {
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
	}

	&.bg01 {
		background-image: url(#{$url-img}/content/greeting_card01.png);
	}

	&.bg02 {
		background-image: url(#{$url-img}/content/greeting_card02.png);
	}

	&.bg03 {
		background-image: url(#{$url-img}/content/greeting_card03.png);
	}

	&.bg04 {
		background-image: url(#{$url-img}/content/greeting_card04.png);
	}

}

.bank_book_print {
	border-radius: 10px;
	background:url(#{$url-img}/content/bg_bank.png) 0 0;
	background-size: 100%;
	padding: 35px 90px 20px;
	border: 1px solid #ddd;

	ul>li {
		position: relative;
		padding-left: 215px;
		color: #d70000;

		&:not(:first-child) {
			margin-top: 19px;
		}

		strong {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 400;
			color: #111;
		}
	}

	.txt_blue {
		color: #323b8f;
	}
}

.btn_mouse_toggle.account {
	>.switch {
		>label {
			width: 100px;
			height: 30px;
			padding: 0 14px;
			text-align: left;

			&:before {
				left: calc(100% - 30px);
				width: 28px;
				height: 26px;
				z-index: 1;
			}

			span {
				display: inline-block;
				vertical-align: top;
				line-height: 30px;
				font-size: 14px;
				color: #444;
				transition: 0.3s ease;
			}
		}

		input[type=checkbox]:checked+label {

			//text-align: right;
			span {
				transition: 0.3s ease;
				transform: translateX(20px);
			}
		}
	}
}

.modal_popup.modal_700 .popup_inner {
	width: 700px;
}

.border_t0 {
	border-top: 0 !important;

}

.check_list_box.view_more {
	border-bottom: none;
}

.tbl_box {
	display: table;
	width: 100%;
	color: #333;
	border-bottom: 1px solid #ddd;

	.b1,
	.b2 {
		display: table-cell;
		height: 77px;
		vertical-align: middle;
		line-height: 1.4;
	}

	.b1 {
		width: 160px;
		padding-left: 20px;
		white-space: nowrap;
	}

	.b2 {
		padding-right: 20px;
		padding-left: 150px;
		text-align: right;
	}
}

.w95 {
	width: 95px;
}

.btn_white_link {
	background: #fff;
	font-size: 12px;
	color: #555;
	height: 20px;
	line-height: 18px;
	border: 1px solid #a2a2a2;
	padding: 0 10px;
	border-radius: 10px;

	&:after {
		content: '';
		display: inline-block;
		width: 3px;
		height: 5px;
		margin-left: 4px;
		background: url(#{$url-img}/content/link_arrow.jpg) 0 0 no-repeat;
	}
}

.box_img {
	position: relative;
	padding: 28px 30px 28px 120px;
	min-height: 120px;


	&.cart {
		display: flex;
		background: url(#{$url-img}/content/box_img_cart.jpg) 31px 28px no-repeat;
		align-items: center;
	}
}

.btn_outline_darkgray {
	border-color: #555;
}

.cart_list {
	border-top: 1px solid #111;

	>li {
		display: flex;
		border-bottom: 1px solid #eee;
		padding: 35px 35px 42px;
		align-items: center;

		.l {
			margin-right: auto;
			width: calc(100% - 680px);

			.category {
				>span {
					display: inline-block;
					padding: 0 14px;
					height: 28px;
					line-height: 27px;
					border-radius: 20px;
				}
			}

			.tit {
				position: relative;
				margin-top: 17px;

				h4 {
					font-size: 20px;
					font-weight: 400;
				}

				p {
					font-weight: 400;
					color: #333;
				}

				.check_item {
					position: absolute;
					left: -35px;
					top: 6px;
				}
			}

			.btm {
				margin-top: 40px;
				color: #555;

				>ul>li {
					display: inline-block;

					&:not(:first-child) {
						margin-left: 15px;
					}

					span {
						display: inline-block;
						height: 22px;
						line-height: 20px;
						padding: 0 5px;
						background: #f6f6f6;
						border: 1px solid #ddd;
						border-radius: 4px;
						margin-right: 8px;
						color: #555;
					}
				}

				em {
					display: inline-block;
					font-style: inherit;

				}
			}
		}

		.r {
			width: 680px;
			margin-left: auto;
			text-align: right;

			>ul {
				display: inline-block;
				vertical-align: middle;

				>li {
					position: relative;
					float: left;
					text-align: center;
					padding: 0 35px;

					&:first-child {
						padding-left: 0;
					}

					&:not(:first-child) {
						&:before {
							content: '';
							position: absolute;
							left: 0;
							top: 32px;
							width: 1px;
							height: 98px;
							background: #eee;
						}
					}

					.selectbox_wrap {
						color: #333;

						a {
							border: 1px solid #111;
						}
					}

					h5 {
						font-size: 14px;
						color: #555;
						font-weight: 200;
						line-height: 1;
					}

					>strong {
						display: block;
						font-size: 30px;
						font-weight: 400;
					}
				}
			}

			.btn_wrap {
				display: inline-block;
				width: 110px;
				margin-left: 20px;
				vertical-align: middle;

				a,
				button {
					width: 100%;
					height: 36px;
					border-color: #b2b2b2;
					padding-left: 42px;
					font-weight: 400;
					color: #111;
					margin-left: 0;
					background-repeat: no-repeat;

					&:not(:first-child) {
						margin-top: 5px;
					}

					&.btn01 {
						background-position: 12px 50%;
						background-image:url(#{$url-img}/content/cart_icon01.png);

						&:hover {
							background-color: #fdc61c;
							border-color: #fdc61c;
							background-image:url(#{$url-img}/content/cart_icon01_on.png);
						}
					}

					&.btn02 {
						background-position: 11px 50%;
						background-image:url(#{$url-img}/content/cart_icon02.png);

						&:hover {
							background-color: #fef5e5;
							background-image:url(#{$url-img}/content/cart_icon02_on.png);
						}
					}

					&.btn03 {
						background-position: 15px 50%;
						background-image:url(#{$url-img}/content/cart_icon03.png);

						&:hover {
							background-color: #fef5e5;
							background-image:url(#{$url-img}/content/cart_icon03_on.png);
						}
					}

					&.btn04 {
						background-position: 12px 50%;
						background-image:url(#{$url-img}/content/cart_icon04.png);

						&:hover {
							background-color: #fef5e5;
							background-image:url(#{$url-img}/content/cart_icon04_on.png);
						}
					}
				}
			}
		}



	}

	&.search_menu {
		>li {
			padding: 30px 20px;


			.l {
				width: calc(100% - 400px);

				.category span {
					font-size: 14px;
					font-weight: 400;
					padding: 0 8px;
				}

				.tit {
					.ico_item {
						display: inline-flex;
						width: 20px;
						height: 20px;
						//vertical-align: 8px;
						margin-left: 9px;
						background: url(#{$url-img}/content/ico_item.png) 0 0 no-repeat;
					}

					p {
						color: #555;
						font-weight: 200;
					}
				}
			}

			.r {
				width: 400px;

				ul>li {
					padding: 0;
				}

				.btn_wrap {
					margin-left: 110px;

					a,
					button {
						padding: 0 10px;
						text-align: center;
					}

					.bg_lightgray {
						border: 1px solid #ddd;
					}
				}

				.star {
					font-size: 0;

					span {
						display: inline-block;

						+span {
							margin-left: 2px;
						}

						>.ico {
							display: inline-block;
							width: 20px;
							height: 20px;

							&.star_primary {
								background: url(#{$url-img}/common/ico_star_primary_sm.png) 0 0 no-repeat;
							}

							&.star_gray {
								background: url(#{$url-img}/common/ico_star_gray_sm.png) 0 0 no-repeat;
							}

						}
					}
				}

				.item_rate {
					color: #555;
					margin-top: 11px;

					strong {
						font-weight: 200;
						line-height: 1;

						span {
							font-size: 20px;
						}
					}

					p {
						font-size: 14px;
					}
				}
			}
		}
	}
}

.cart_grade {
	font-size: 0;

	>span {
		display: block;
		font-size: 14px;
		color: #555;
		font-weight: 200;
		line-height: 1;
		margin-top: 5px;
	}
}

.cart_price_num {
	font-weight: 400;

	span {
		font-weight: 600;
		color: #ff3131;

		&.up:before {
			content: '';
			display: inline-block;
			margin-right: 5px;
			border-style: solid;
			border-width: 0 5px 9px 5px;
			border-color: transparent transparent #ff3131 transparent;
		}
	}
}

.txt_cart_red {
	color: #ff3131;
}

.bg_purple {
	background: #5628c2;
	color: #fff;
}

.bg_green {
	background: #009973;
	color: #fff;
}

.btn_tbl_write.cart {
	margin-top: -43px;
}

.modal_1100 .popup_inner {
	width: 1100px;
}

.border_circle {
	border: 1px solid #ddd;
	border-radius: 20px;
	height: 25px;
	line-height: 23px;
	font-size: 14px;
	color: #555;
	padding: 0 10px;
}

.btn_info {
	padding: 0 5px;
	height: 25px;
	//min-width: 136px;
	border: 1px solid #ddd;
	border-radius: 20px;
	background: #f6f6f6;
	font-size: 14px;
	color: #001111;

	span {
		font-weight: 200;
		line-height: 23px;
	}

	.ico {
		margin: 0;
	}
}

.myfund_box {
	.top {
		display: table;
		width: 100%;
		padding: 30px 170px;
		background: #f6f6f6;

		.l,
		.r {
			display: table-cell;
		}

		.l {
			.cell_tit {
				color: #333;
				font-weight: 500;
			}
		}

		.r {
			padding-left: 20px;
		}
	}

	.btm {
		padding: 30px;
		border-bottom: 1px solid #ddd;
	}
}

.txt_darkgray {
	color: #333;
}

.box.box_tendency {
	padding: 145px 30px 60px;
	background:url(#{$url-img}/content/tendency_img01.png) 50% 39px no-repeat;
}

.tendency_list {
	border-top: 1px solid #111;
	border-bottom: 1px solid #ddd;

	>li {
		padding: 30px 20px;

		&:not(:first-child) {
			border-top: 1px solid #eee;
		}

		.q_tit {
			margin-bottom: 9px;
		}

		.q_txt {
			padding-left: 26px;
			color: #333;
		}
	}
}


.q_num {
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 18px;
	margin-right: 8px;
	background: #555;
	color: #fff;
	font-size: 14px;
	border-radius: 50%;
}

.box_fund_result {
	padding: 0;

	.top {
		padding: 60px 30px;

		.btn {
			height: 50px;
			font-size: 16px;
		}
	}

	.con {
		display: inline-block;
		text-align: left;
		padding-left: 153px;
		background-position: 0 0;
		background-repeat: no-repeat;
		min-height: 116px;
		color: #333;

		&.bg01 {
			background-image:url(#{$url-img}/content/fund_tendency01.png);
		}

		&.bg02 {
			background-image:url(#{$url-img}/content/fund_tendency02.png);
		}

		&.bg03 {
			background-image:url(#{$url-img}/content/fund_tendency03.png);
		}

		&.bg04 {
			background-image:url(#{$url-img}/content/fund_tendency04.png);
		}

		&.bg05 {
			background-image:url(#{$url-img}/content/fund_tendency05.png);
		}

		h4 {
			line-height: 1;
			margin-bottom: 16px;
			font-weight: 300;
			font-size: 40px;

			span {
				font-weight: 500;
			}
		}
	}



	.btm {
		display: flex;
		align-items: center;
		background: #f6f6f6;
		padding: 40px 40px 40px 151px;
		border-top: 1px solid #ddd;

		.l {
			margin-right: auto;
			padding-left: 150px;
			background:url(#{$url-img}/content/tendency_img01.png) 0 0 no-repeat;

			ul>li {
				font-size: 18px;
				color: #333;
				line-height: 28px;
			}
		}

		.r {
			width: 260px;
			margin-left: auto;
			text-align: right;

			.btn {
				width: 100%;
				padding: 0 40px;
				text-align: center;
				margin-left: 0;
			}
		}
	}
}

.tbl_in_list {
	>li {
		line-height: 1.75;
	}
}

.tbl_top_search {
	background: #f3f3f3;
	padding: 25px;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 4px;

	.tf_search_txt {
		background: #fff;
	}

	.search_tbl_box {
		justify-content: center;
	}
}

.fund_data_box {
	background-repeat: no-repeat;
	padding-left: 270px;
	color: #333;

	strong {
		font-size: 35px;
		color: #111;
	}

	&.bg01 {
		min-height: 205px;
		background-position: 29px 29px;
		background-image:url(#{$url-img}/content/fund_data_bg01.png);
	}

	&.bg02 {
		background-position: 40px 28px;
		background-image:url(#{$url-img}/content/fund_data_bg02.png);
	}

	&.bg03 {
		background-position: 36px 25px;
		background-image:url(#{$url-img}/content/fund_data_bg03.png);
	}
}

.fund_data_img {
	background-repeat: no-repeat;
	background-position: 100% 50%;
	min-height: 170px;

	&.fund_structure {
		padding-top: 14px;
		background-image:url(#{$url-img}/content/fund_structure_img01.png);
	}

	&.fund_company01 {
		background-position: 100% 0;
		background-image:url(#{$url-img}/content/fund_company_img01.jpg);
	}

	&.fund_company02 {
		background-position: 100% 0;
		background-image:url(#{$url-img}/content/fund_company_img02.jpg);
	}
}

.flex_box {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.l {
		margin-right: auto;
	}

	.r {
		margin-left: auto;
		text-align: right;
		white-space: nowrap;
	}
}

.fund_manager_list {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	>li {
		background-position: 0 0;
		background-repeat: no-repeat;
		padding: 140px 20px 0;
		width: 360px;

		.txt {
			padding: 34px 48px;
			background: #fff;
			border-radius: 6px;
		}

		&.bg01 {
			background-image:url(#{$url-img}/content/fund_manager_bg01.jpg);
		}

		&.bg02 {
			background-image:url(#{$url-img}/content/fund_manager_bg02.jpg);
		}

		&.bg03 {
			background-image:url(#{$url-img}/content/fund_manager_bg03.jpg);
		}
	}
}

.fund_manger_btm {
	padding-left: 400px;
	background:url(#{$url-img}/content/fund_manager_img02.jpg) 0 0 no-repeat;

	>div {
		&:not(:first-child) {
			margin-top: 50px;
		}
	}
}

.img_list {
	@include clearfix;
	padding: 0 10px;

	>li {
		float: left;
		width: 282px;
		margin-right: 17px;
		margin-top: 40px;
		border: 1px solid #ddd;

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(-n+4) {
			margin-top: 0;
		}

		a {
			display: block;
		}

		.img {
			font-size: 0;
		}

		.tit {
			color: #333;
			font-weight: 400;
			text-align: center;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 77px;
		}
	}
}

.btn.tbl_view_btn {
	width: 130px;
	border: 1px solid #555;
	color: #111;
	font-weight: 400;
}

.new_buying_top {
	background: #fdc61c;
	border-radius: 30px 0 30px 0;
	overflow: hidden;
	display: flex;

	.l {
		width: 300px;
		background:url(#{$url-img}/content/fund_buying_bg.jpg) 0 0 no-repeat;
		text-align: center;
		padding: 38px 0 39px;

		span {
			display: inline-block;
			padding-bottom: 2px;
			border-bottom: 1px solid rgba(17, 17, 17, 0.5);
			font-size: 14px;
			font-weight: 500;
			margin-bottom: 12px;
		}

		>div {
			font-size: 0;
		}
	}

	.r {
		width: calc(100% - 300px);
		padding: 45px 37px 67px 60px;
		border: 4px solid #fdc61c;
		border-radius: 30px 0 30px 0;
		background: #fff;
		height: 340px;

		.tit {
			position: relative;
			padding-right: 150px;
			margin-bottom: 17px;

			h3 {
				font-size: 24px;
				font-weight: 500;
				line-height: 30px;

				&:before {
					content: '';
					display: block;
					width: 31px;
					height: 22px;
					background:url(#{$url-img}/content/ico_leaf_primary.png) 0 0 no-repeat;
					margin-bottom: -2px;
				}
			}

			.btn {
				position: absolute;
				right: 0;
				top: 16px;
				text-align: center;
			}
		}

		span {
			display: block;
			color: #333;
			margin-top: 20px;

			&:before {
				content: '';
				display: inline-block;
				width: 17px;
				height: 17px;
				background:url(#{$url-img}/content/ico_file.png) 0 0 no-repeat;
				margin-right: 6px;
				vertical-align: -2px;
			}
		}
	}
}

.tit1.tit_border {
	margin-bottom: 0;
	padding-bottom: 20px;
	border-bottom: 1px solid #111;
}

.select_cate {
	display: inline-block;
	line-height: 18px;
	font-size: 12px;
	color: #fff;
	background: #b60000;
	padding: 0 11px;
	border-radius: 10px;
	margin-left: 6px;
}

.check_item {
	&.inline_block {
		input[type=checkbox]+label {
			display: inline-block;
			background: url(#{$url-img}/common/ico_checkbox1_default.png) no-repeat 0 50%;
		}
	}

	&.red input[type=checkbox]+label {
		display: inline-block;
		background: url(#{$url-img}/content/ico_checkbox_red.png) no-repeat 0 6px;
	}

}

.fund_gray_box {
	background: #f6f6f6;
	border: 1px solid #fdc61c;
	border-radius: 4px;
	padding: 48px 58px;
}

.fund_buying_item {
	padding: 30px 100px 30px 141px;

	.l {
		display: flex;
		height: 350px;
		flex-direction: column;
		justify-content: space-between;
		padding: 60px 0 29px;


		.item_txt {
			font-size: 20px;
			font-weight: 500;
			background-repeat: no-repeat;
			background-position: 100% 0;
			min-height: 116px;
			padding: 20px 135px 0 0;

			.name {
				display: inline-block;
				font-size: 25px;
				line-height: 1;
			}

			strong {
				display: inline-block;
				padding-bottom: 7px;
				font-size: 35px;
				border-bottom: 2px solid;
				line-height: 1;
			}

			&.item02 {
				background-image:url(#{$url-img}/content/fund_tendency04.png);

				strong {
					color: #5628c2;
					border-color: #5628c2;
				}
			}

			p {
				font-size: 18px;
			}
		}

	}

	.r {
		text-align: center;
		background: #fff;
		padding: 29px 35px;
		border-radius: 10px;

		.tit {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-bottom: 9px;
			margin-bottom: 27px;
			border-bottom: 1px solid #111;

			span,
			strong {
				display: inline-block;
				line-height: 1;
			}

			span {
				font-size: 14px;
				font-weight: 400;
			}

			strong {
				font-size: 20px;
				font-weight: 500;
			}
		}

		.img {
			font-size: 0;
		}
	}

	.btn_fund_item {
		display: block;
		width: 340px;
		font-weight: 400;
		line-height: 46px;
		padding: 0 30px;
		background-color: #fdc61c;
		background-image:url(#{$url-img}/content/ico_arr_white.png);
		background-position: calc(100% - 20px) 50%;
		background-repeat: no-repeat;
		border-radius: 6px;
		text-align: left;

	}
}


.fund_buying_result {
	strong {
		font-size: 24px;
		font-weight: 500;
	}

	ul {
		display: flex;
		justify-content: space-between;
		margin-top: 48px;
		font-size: 0;

		li {
			position: relative;

			&:not(:first-child):before {
				content: '';
				position: absolute;
				left: -59px;
				top: 0;
				width: 1px;
				height: 195px;
				background: #eee;
			}

			&.risk {

				.r,
				.l {
					display: inline-block;
					vertical-align: middle;
				}

				.l {
					margin-right: 33px;
				}
			}

			&:last-child {
				padding-right: 125px;
				background-repeat: no-repeat;
				background-position: 100% 50px;
				background-image:url(#{$url-img}/content/fund_tendency01.png);
			}

			.tit {
				display: inline-block;
				font-size: 14px;
				color: #444;
				line-height: 1;
				padding-bottom: 7px;
				padding-right: 3px;
				border-bottom: 1px solid #a1a1a1;

				&:after {
					content: "";
					display: inline-block;
					width: 5px;
					height: 8px;
					margin-left: 9px;
					background:url(#{$url-img}/content/ico_arr_black.png) 0 center no-repeat;
				}
			}

			.grade {
				color: #666;
				margin-top: 33px;

				&.score {
					margin-top: 76px;
				}

				span {
					font-size: 30px;
					font-weight: 500;
					line-height: 1;

					strong {
						font-size: 80px;
					}
				}

				.cate {
					width: 160px;
					line-height: 35px;
					font-size: 18px;
					font-weight: 500;
					color: #fff;
					text-align: center;
					margin-top: 25px;
					border-radius: 20px;
				}

				&.grade04 {
					color: #4e8000;

					.cate {
						background: #4e8000;
					}
				}

				&.grade05 {
					color: #986800;

					.cate {
						background: #986800;
					}
				}
			}
		}
	}
}

.txt_brown {
	color: #986800;
}

.txt_green {
	color: #4e8000;
}

.fund_risk_list {
	padding: 39px 35px;

	>ul {
		display: flex;
		justify-content: space-between;

		li {
			background-repeat: no-repeat;
			background-position: 50% 0;
			padding: 120px 20px 0;
			width: 20%;
			font-size: 14px;
			color: #555;
			word-break: break-all;

			&:not(:first-child) {
				border-left: 1px solid #eee;
			}


			&.bg01 {
				background-image:url(#{$url-img}/content/fund_tendency01.png);
				padding-left: 0;
			}

			&.bg02 {
				background-image:url(#{$url-img}/content/fund_tendency02.png);
			}

			&.bg03 {
				background-image:url(#{$url-img}/content/fund_tendency03.png);
			}

			&.bg04 {
				background-image:url(#{$url-img}/content/fund_tendency04.png);
			}

			&.bg05 {
				background-image:url(#{$url-img}/content/fund_tendency05.png);
				padding-right: 0;
			}

			strong {
				display: block;
				text-align: center;
				font-size: 18px;
				color: #333;
				font-weight: 400;
				margin-bottom: 11px;
			}
		}
	}
}

.fund_guide {
	padding: 50px 30px 55px;

	ul {
		display: inline-block;
		margin-top: 46px;
		@include clearfix;

		li {
			float: left;
			background-repeat: no-repeat;
			background-position: 50% 0;
			padding-top: 170px;

			&:not(:first-child) {
				margin-left: 70px;
			}

			&.bg01 {
				background-image:url(#{$url-img}/content/fund_guide_img01.png);
			}

			&.bg02 {
				background-image:url(#{$url-img}/content/fund_guide_img02.png);
			}

			&.bg03 {
				background-image:url(#{$url-img}/content/fund_guide_img03.png);
			}

			.btn {
				width: 190px;
				height: 50px;
				font-size: 16px;
			}
		}
	}

	.check_item {
		input[type=checkbox]+label {
			font-size: 18px;
			color: #111;
			background: url(#{$url-img}/common/ico_checkbox1_default.png) no-repeat 0 3px;
		}
	}
}

.txt_gray>label {
	color: #555;
}

h3.tit1>.select_cate {
	vertical-align: 4px;
}

.table_box {
	display: table;
	width: 100%;

	.l,
	.r {
		display: table-cell;
		vertical-align: middle;
	}

	.l {
		width: 99%;
	}

	.r {
		width: 1%;
		padding-left: 30px;
		text-align: right;
		white-space: nowrap;
	}
}

.selectbox_wrap.black {
	dt>a {
		border: 1px solid #111;
	}
}

.txt_thin {
	font-weight: 200 !important;
}

.text_underline {
	text-decoration: underline;
}

.tbl_row1>table>thead>tr>th.view_tit_wrap {
	padding: 30px 20px 0;
}

.view_tit {
	display: table;
	width: 100%;

	.l,
	.r {
		display: table-cell;
		vertical-align: bottom;
	}

	.l {
		padding-bottom: 30px;
		font-weight: 400;
	}

	.r {
		font-size: 0;
		text-align: right;
		padding-bottom: 20px;

		span {
			position: relative;
			display: inline-block;
			font-size: 14px;
			margin-left: 20px;
			vertical-align: middle;
			color: #333;

			>i {
				vertical-align: middle;
				margin-right: 2px;
			}

			&:not(:first-child):after {
				content: '';
				position: absolute;
				top: 4px;
				left: -11px;
				width: 1px;
				height: 14px;
				background: #eee;
			}
		}
	}
}

.event_list {
	border-top: 2px solid #111;
	border-bottom: 1px solid #111;

	>li {
		padding: 30px 0 40px;
		display: table;
		width: 100%;

		&:not(:first-child) {
			border-top: 1px solid #ddd;
		}

		>div {
			display: table-cell;
			vertical-align: top;
		}

		.img {
			font-size: 0;
			width: 350px;
		}

		.txt {
			padding: 21px 0 0 70px;

			h3 {
				font-size: 25px;
				font-weight: 400;
			}

			.date {
				margin-top: 15px;
				font-size: 20px;
				font-family: 'NotoSansKR';

				span {
					display: inline-block;
					font-size: 16px;
					line-height: 35px;
					padding: 0 15px;
					background: #fdc61c;
					border-radius: 20px;
					margin-right: 14px;
					font-weight: 400;
				}
			}
		}
	}

}

.tab_menu_type1.tab04 {
	ul {
		display: block;
		font-size: 0;
		border-radius: 6px;
		overflow: hidden;

		>li {
			display: inline-block;
			width: 50%;
			border-top: 1px solid #fff;

			&:nth-child(-n+2) {
				border-top: 0;
			}

			&:nth-child(2n) a:after {
				display: none;
			}

			>a {
				border-radius: 0;
			}
		}

	}
}

.search_top {
	background: rgba(245, 245, 245, 0.8);
	border-radius: 10px 10px 10px 30px;
	padding: 50px 289px;

	.search_form {
		display: inline-block;
		width: 100%;
		height: 56px;
		box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.06);
		background: #fff;
		border-radius: 6px;
		@include clearfix;

		.selectbox_wrap {
			float: left;
			width: 127px;
			height: 100%;

			dt a {
				border: 0;

				>span {
					height: 100%;
					line-height: 56px;

					&:after {
						top: 25px;
					}
				}
			}

			dd {
				top: 57px;

				ul {
					border: 0;
				}
			}
		}

		.txt {
			position: relative;
			float: left;
			padding-right: 58px;
			height: 100%;
			width: calc(100% - 127px);

			input {
				width: 100%;
				border: 0;
				height: 100%;
				font-size: 18px;
				color: #666;
				font-weight: 200;
				padding: 0 14px;

				&::placeholder {
					color: #666;
				}
			}

			button {
				position: absolute;
				top: 0;
				right: 0;
				width: 58px;
				height: 100%;
				background: url(#{$url-img}/common/ico_search.png) no-repeat 50% 50%;
			}
		}

	}

	.search_word {
		margin-top: 13px;

		strong {
			display: inline-block;
			font-weight: 400;
			margin-right: 15px;
		}

		span {
			display: inline-block;
			padding: 0 13px;
			line-height: 30px;
			border-radius: 20px;
			border: 1px solid #d9d9d9;
			font-size: 14px;
			color: #333;

			&:not(:last-child) {
				margin-right: 2px;
			}
		}
	}
}

.search_result {
	text-align: center;
	font-size: 26px;
	color: #555;
	font-family: 'NotoSansKR';

	&:before {
		content: '';
		display: inline-block;
		width: 35px;
		height: 35px;
		margin-right: 9px;
		vertical-align: middle;
		background: url(#{$url-img}/common/ico_search_combine.png) no-repeat 0 0;
	}

	strong {
		font-weight: 400;
		color: #111;
	}
}

.post_num {
	display: inline-block;
	padding: 0 16px;
	line-height: 28px;
	font-size: 14px;
	background: #eee;
	border-radius: 20px;
	font-weight: 400;
}

.border0 {
	border: 0px !important;
}

.btn_more {
	width: auto;

	&:after {
		display: none;
	}
}

.account_menu_wrap {
	position: relative;


	.account_menu {
		display: none;
		position: absolute;
		top: 41px;
		left: 50%;
		transform: translateX(-50%);
		padding: 15px 24px;
		background: #fff;
		border: 1px solid #555;
		border-radius: 10px;
		text-align: center;

		&:before {
			content: '';
			position: absolute;
			top: -12px;
			left: 50%;
			margin-left: -10px;
			width: 20px;
			height: 12px;
			background: url(#{$url-img}/content/menu_arrow.png) no-repeat 0 0;
		}

		ul>li {
			padding: 14px 0;
			border-bottom: 1px solid #eee;
			line-height: 1;

			button,
			a {
				font-size: 16px;
				color: #333;
				font-weight: 200;
			}

			&:hover {

				button,
				a {
					font-weight: 500;
					color: #111;
				}
			}
		}
	}
}

.donation_angel {
	@include clearfix;

	>li {
		float: left;
		width: calc(25% - 19px);
		border: 1px solid #ddd;
		padding: 24px 30px;
		text-align: center;
		border-radius: 6px;

		&:not(:first-child) {
			margin-left: 25px;
		}

		strong {
			display: inline-block;
			font-size: 18px;
			font-weight: 400;
			line-height: 1;
			padding-bottom: 9px;
			border-bottom: 1px solid #7b7b7b;
			//margin-bottom: 17px;
		}

		.btn {
			padding: 0 18px;
		}
	}
}

.donation_bg {
	background-repeat: no-repeat;
	padding-right: 340px;

	&.bg01 {
		background-image: url(#{$url-img}/content/donation_info_bg01.jpg);
		background-position: calc(100% - 11px) 16px;
	}

	&.bg02 {
		background-image: url(#{$url-img}/content/donation_info_bg02.jpg);
		background-position: calc(100% - 44px) 50%;
	}

	&.bg03 {
		background-image: url(#{$url-img}/content/donation_info_bg03.jpg);
		background-position: calc(100% - 39px) 50%;
	}

	&.bg04 {
		background-image: url(#{$url-img}/content/donation_info_bg04.jpg);
		background-position: calc(100% - 64px) 50%;
	}
}

.check_list_box>.row_box>.b2 {
	ul.list2>li:before {
		top: 9px;
	}
}

.fund_more_info {

	.tit1>span,
	h5 {
		display: block;
		font-size: 24px;
		line-height: 1;
	}

	.info_box {
		border-top: 2px solid #111;
		background: #f6f6f6;
		padding: 30px 30px 40px;

		.top {
			align-items: flex-start;

			.txt_lg {
				margin-bottom: 13px;
			}

			.l,
			.r {
				width: calc(50% - 30px);
				text-align: left;
			}

			.scroll_txt {
				background: #fff;
				padding: 20px;
				overflow-y: scroll;
				height: 229px;
			}
		}

		ul {
			display: flex;
			flex-wrap: wrap;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;

			li {
				width: 25%;
				background: #fff;
				text-align: center;
				padding: 25px 20px 20px;
				height: 165px;
				font-size: 0;

				&:not(:nth-child(-n+4)) {
					border-top: 1px solid #ddd;
				}

				&:not(:nth-child(4n)) {
					border-right: 1px solid #ddd;
				}

				>span.tit {
					display: inline-block;
					min-width: 110px;
					border: 1px solid #ddd;
					border-radius: 20px;
					font-size: 14px;
					color: #333;
					padding: 0 10px;
					margin-bottom: 43px;
				}

				strong {
					display: block;
					font-size: 24px;
					font-weight: 400;
					line-height: 1;
				}

				p {
					font-size: 16px;
				}

				.txt_size18 {
					line-height: 1;
				}

				.btn {
					height: 24px;
					min-width: 40px;
					padding: 0 10px;
					border-color: #b2b2b2;

					&.btn_gray {
						background: #666;
						border-color: #666;
						color: #fff;
					}
				}

				.zero_grade {
					img+img {
						margin-left: 1px;
					}
				}
			}
		}
	}
}

.txt_size18 {
	font-size: 18px;
}

.txt_size24 {
	font-size: 24px;
}

.txt_white {
	color: #fff;
}

.fund_effective_date {
	position: relative;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 28px;
		width: calc(50% - 5px);
		height: 15px;
		border-radius: 20px;
	}

	&:before {
		left: 0;
	}

	&:after {
		right: 0;
	}

	.txt_color {
		font-weight: 400;
	}

	&.primary {

		&:before,
		&:after {
			background: #fdc61c;
		}

		.txt_color {
			color: #986800;
		}
	}

	&.blue {

		&:before,
		&:after {
			background: #0069e1;
		}

		.txt_color {
			color: #0069e1;
		}
	}

	.txt {
		display: flex;
		justify-content: space-between;
		position: relative;

		.center {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.txt+.txt {
		margin-top: 28px;
	}
}

.txt_darkblue {
	color: #0069e1 !important;
}

.fund_pf_top {
	align-items: flex-start;

	.l,
	.r {
		width: calc(50% - 17px);
	}

	.r {
		text-align: inherit;
	}

}

.fund_report {
	.tit {
		font-size: 28px;
		font-weight: 500;
		line-height: 1;
		padding-bottom: 30px;
		text-align: center;
		border-bottom: 1px solid #111;
	}

	.info {
		position: relative;
		border: 1px solid #111;
		padding: 13px 30px;
		border-radius: 6px;
		color: #333;
		font-weight: 400;

		&:before {
			content: '';
			position: absolute;
			bottom: -29px;
			left: 154px;
			width: 38px;
			height: 28px;
			background: url(#{$url-img}/content/fund_report_arr.png) 0 0 no-repeat;
		}
	}

	.report_list {
		display: table;
		border-spacing: 20px 38px;
		margin-left: -20px;
		width: calc(100% + 40px);

		li {
			display: table-row;

			&:not(:first-child) {
				margin-top: 38px;
			}

			.l,
			.r {
				display: table-cell;
				vertical-align: middle;
				border: 1px solid #ddd;
				border-radius: 6px;
			}

			.l {
				width: 345px;
				background: #f6f6f6;
				margin-right: auto;
				padding: 18px 19px;

				span {
					display: inline-block;
					font-size: 12px;
					color: #fff;
					background: #555;
					width: 18px;
					height: 18px;
					border-radius: 50%;
					line-height: 18px;
					margin-right: 10px;
					text-align: center;
				}

				strong {
					font-size: 18px;
					font-weight: 500;
				}

				&.half {
					display: table;
					padding: 0;
					border-spacing: 0px;

					>div {
						display: table-cell;
						width: 50%;
						vertical-align: middle;

						&:first-child {
							padding: 19px;
							border-right: 1px solid #ddd;
						}

						p {
							line-height: 46px;
							padding: 0 20px;

							&+p {
								border-top: 1px solid #ddd;
							}
						}
					}
				}
			}

			.r {
				//width: calc(100% - 365px);
				width: 285px;
				margin-left: auto;
				padding: 19px 15px;
				text-align: right;
				font-size: 18px;

				&.half {
					padding: 0;

					p {
						line-height: 46px;
						padding: 0 20px;

						&+p {
							border-top: 1px solid #ddd;
						}
					}
				}
			}
		}
	}
}