.easy_certi_top {
	padding-top: 141px;
	background-repeat: no-repeat;
	background-size: 120px;
	background-position: 50% 0;
	text-align: center;
	font-size: 20px;
	font-weight: 400;

	&.bg01 {
		background-image:url(#{$url-img}/content/bg_easy_certi01.png);
	}

	&.bg02 {
		background-image:url(#{$url-img}/content/bg_easy_certi02.png);
	}
}

.section {
	margin-top: 50px;
}

.txt20 {
	font-size: 20px;
}

.pass_certi_list {
	border: 1px solid #ddd;
	border-radius: 8px;

	>li {
		display: flex;
		padding: 0 19px 0 65px;
		align-items: center;
		height: 78px;
		background-repeat: no-repeat;
		background-position: 19px 50%;

		&:not(:first-child) {
			border-top: 1px solid #ddd;
		}

		&.bg01 {
			background-size: 27px;
			background-image:url(#{$url-img}/content/ico_pass01.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass01_on.png);
			}
		}

		&.bg02 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass02.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass02_on.png);
			}
		}

		&.bg03 {
			background-position: 22px 50%;
			background-size: 22px;
			background-image:url(#{$url-img}/content/ico_pass03.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass03_on.png);
			}
		}

		&.bg04 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass04.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass04_on.png);
			}
		}

		&.bg05 {
			background-size: 27px;
			background-image:url(#{$url-img}/content/ico_pass05.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass05_on.png);
			}
		}

		&.bg06 {
			background-size: 28px;
			background-image:url(#{$url-img}/content/ico_pass06.png);

			&.on {
				background-image:url(#{$url-img}/content/ico_pass06_on.png);
			}
		}

		&.disabled {
			.l {
				color: #999;
			}

			.r .btn {
				background: #ddd;
			}
		}

		.l {
			flex: 1 1 auto;
			font-size: 18px;
			font-weight: 400;
		}

	}
}

.add_certi_box {
	.add_list {
		display: flex;
	}

	.box {
		font-weight: 500;
		text-align: center;

		&:before {
			content: '';
			display: inline-block;
			width: 18px;
			height: 12px;
			background:url(#{$url-img}/content/ico_check.png) 0 0 no-repeat;
			background-size: 18px;
			margin-right: 1px;
		}
	}
}