/* 납입_보험료선납_결제하기 , 보험선택 */
.row_content {
	.row_inner {
		padding: 25px 35px;
	}

	.row_premium {
		border-top: 1px solid #f3f3f3;
		padding: 15px 35px;

		.premium_desc {
			line-height: 46px;
		}

		.opt {
			min-width: 95px;
		}
	}

	.row_list {
		border-top: 1px solid $black;
		border-bottom: 1px solid #e6e6e6;

		&>li {
			padding: 25px 35px;

			&+li {
				border-top: 1px solid #f3f3f3;
			}
		}

		li {
			.box1 {
				.box_tit {
					color: #737373;
				}
			}

			.d_f_c {
				display: flex;
				align-items: center;
				justify-content: space-between;

				.w_limit {
					flex: 0 0 420px;
				}
			}

			.d_f {
				display: flex;
				align-items: center;
			}

			.f_auto {
				flex: 1 1 auto;
			}

			.col_list {
				display: inline-flex;

				li {

					&+li {
						&:before {
							content: '';
							display: inline-block;
							margin: 0 20px;
							width: 1px;
							height: 11px;
							background-color: $border-base;
						}
					}

					.item_tit {
						color: #737373;
					}
				}
			}

			.tit_gray {
				color: #737373;
			}

			.row_line {
				border-top: 1px solid #f3f3f3;
				margin: 0 -35px;
				padding: 0 35px;
			}
		}
	}

	.row_list_b_n {
		border-top: 0;

		li {
			padding: 25px 0;
		}
	}

	.row_list_type {
		display: flex;
		align-items: center;
		justify-content: space-between;

		li {
			position: relative;
			width: calc(33.3333% - 30px);

			.btn {
				padding: 25px;
				text-align: center;
				border-radius: 16px;
				border: 1px solid $border-base;
				background-color: $bg-lightgray;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.ico {
				margin-right: 20px;
			}

			.on {
				background-color: transparent;
				font-weight: 500;
				border: 3px solid $black;

				&:after {
					content: '';
					display: block;
					width: 14px;
					height: 14px;
					position: absolute;
					right: 17px;
					top: 17px;
					background-color: #f46e16;
					border-radius: 10px;
				}
			}
		}
	}

	.d_f_b {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.col_item {
		&:first-child {
			flex: 1 1 auto;
		}
	}

	.d_f_c {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}