// 포스트페이1

// text
.txt_navy {
	color: $navy;
}

.txt_lightred {
	color: $lightred;
}

.txt18 {
	font-size: 18px !important;
}

// 가입

.titlebar {
	&.postpay {
		&.type2 {
			.right {
				margin-left: auto;
			}
		}
	}
}

.logo_postpay {
	width: 73px;
	height: 28px;
	padding-right: 10px;
	box-sizing: content-box;
}

.modal_popup {
	&.modal_alert {
		&.type2 {
			.popup_inner {
				width: 320px;
			}
		}
	}
}

.ico_notice_yellow {
	margin-right: 5px;
}

.ico_num_change {
	margin: 0 7px;
}

.img_txt {
	background-repeat: no-repeat;
	padding-left: 45px;
	font-size: 14px;
	color: #111;
	letter-spacing: -0.5px;


	&.num_change {
		background-image: url(#{$url-img}/content/ico_num_change.png);
		background-size: 30px 35px;
		background-position: 7px 7px;

	}
}

.popup_body_tit {
	display: block;
	font-size: 22px;
	line-height: 1.4;
	text-align: center;
}

.double_box {
	&.type2 {
		.top {
			padding: 13px 16px;
		}
	}
}

.list_row {
	display: block;
	width: 180px;
	margin: 20px auto 0;
}

a {
	&.bg_lightgray {
		display: block;
	}
}

.postpay {
	.toggle_con {
		>div {
			&+div {
				margin-top: 15px;
			}
		}
	}
}

.postpay {
	.check_item {
		margin-top: 10px;
		margin-right: 0;

		&:nth-child(2n) {
			margin-left: 10px !important;
		}

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		input {
			&+label {
				.ico {
					margin-left: 10px;
					margin-right: 6px;
				}
			}
		}

		label {
			height: 40px;
			justify-content: start;
		}
	}
}


.toggle_check_wrap {
	display: block;
	text-align: left;

	.sub_check_item {
		margin-top: 20px;
	}

	.bul_notice {
		margin-top: 10px;
		color: $gray;
		font-weight: 200;
	}
}

.chk_toggle {
	.input_items {
		flex-wrap: wrap;
		width: 100%;
		margin: 0;

		.check_item {
			flex: 1 1 40%;
		}
	}
}

.total_inquiry {
	margin-top: 20px;

	.box_control {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			width: 28px;
			height: 28px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 15px;

			&.month_prev {
				background-image: url(/resources/img/common/ico_cal_arr_left.png);
			}

			&.month_next {
				background-image: url(/resources/img/common/ico_cal_arr_right.png);
			}
		}

		.month_tit {
			font-size: 21px;
			font-weight: bold;
		}
	}

	.box_alret {
		padding: 5px 0;
		text-align: center;

		p {
			font-size: 10px;
			letter-spacing: -0.5px;
		}
	}
}

.inquiry_date {
	margin-top: 15px;
	margin-bottom: 10px;

	em {
		font-style: normal;
	}
}

.box_inquiry {
	position: relative;
	padding: 0 20px 20px;
	border: 1px solid #ddd;
	border-radius: 8px;

	.box_label {
		position: absolute;
		top: 0;
		left: 20px;
		padding: 3px 12px;
		border-radius: 0 0 8px 8px;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: -0.5px;

		&.transfer {
			background-color: $bg_transfer;
		}

		i {
			font-style: normal;
		}
	}

	.list_inquiry {
		&>div {
			display: flex;
			align-items: center;
			color: $gray;

			&>.l {
				margin-right: auto;

				strong {
					font-size: 16px;
					color: $black;
				}
			}

			&>.r {
				margin-left: auto;

				b {
					display: block;
					margin-top: 5px;
					font-style: normal;
					font-weight: 200;
				}

				.won {
					font-size: 18px;
					color: $black;
					font-weight: bold;

					.amount {
						font-size: 19px;
						font-style: normal;
					}
				}
			}

			&.title {
				margin: 5px 0;
			}
		}
	}
}