// 포스트페이2

/* postpay header */

@mixin orange_dot {
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: currentColor;
	color: #f46e16;
	text-indent: -9999px;
}

.titlebar {
	&.postpay {

		// type 1
		.right {
			padding-right: 10px;

			.btn {
				&+a {
					&:first-of-type {
						padding-left: 7px;
					}
				}
			}
		}

		.btn_icon {
			position: relative;
			padding-left: 5px;
			padding-right: 5px;

			.alert {
				display: none;
				@include orange_dot;
				position: absolute;
				top: 15px;
				right: 11px;

				&.on {
					display: block;
				}
			}
		}

		.left {
			padding-left: 20px;
		}

		// type3
		&.type3 {
			align-items: center;
			justify-content: start;

			.btn_icon {
				padding-left: 15px;
				padding-right: 9px;
			}

			// type 6
			&.type6 {
				justify-content: space-between;

				.left {
					padding: 0;
				}
			}
		}

		// type4,5
		.btn_default {
			&.popup_delete {
				padding: 0 12px;
				margin-left: 5px;
				border-radius: 50px;
			}
		}
	}
}

.black_num {
	display: inline-block;
	min-width: 16px;
	height: 16px;
	margin-left: 5px;
	padding: 0 4.5px;
	border-radius: 50%;
	background: $darkgray;
	font-size: 11px;
	color: $white;
	line-height: 15px;
	vertical-align: bottom;
}

//풀팝업 안의 datepicker
body {
	&.popup {
		>.modal_datepicker {
			.popup_inner {
				height: unset;
			}
		}
	}
}

/* postpay 클래스 */

.postpay {

	letter-spacing: -0.025em;

	/* 공통 */

	.view_box .tit.share_view {
		padding-right: 40px;
	}

	&.event_detail {
		.view_box .tit.share_view {
			padding-right: 80px;
		}
	}

	.d_flex {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.top_ico_txt {
		padding-left: 0;

		// letter-spacing: -0.05em;
		&::before {
			width: 50px;
			height: auto;
			background-position: center top;
		}
	}

	.view_box {
		margin-bottom: 20px;
		letter-spacing: 0;
	}

	.check_item {
		&.ml_0 {
			margin-left: 0 !important;
		}
	}

	// 양 옆으로 나뉘어진 리스트
	.double_box {
		&.type2 {
			li {
				line-height: 1;

				&+li {
					margin-top: 20px;
				}

				.r {
					font-weight: 400;
					letter-spacing: 0;
				}
			}
		}
	}

	.ls0 {
		letter-spacing: 0;
	}

	.lh1 {
		line-height: 1;
	}

	.highlight {
		position: relative;
		z-index: 0;

		&::after {
			content: '';
			display: inline-block;
			position: absolute;
			left: -1px;
			right: -1px;
			bottom: 3px;
			height: 5px;
			background: #fad973;
			z-index: -1;
		}
	}

	// 테두리와 바탕색이 없는 투명한 입력창, 지우기 버튼 있음
	.tf_item {
		&.transparent {
			padding: 0 12px;
			background: none;
			border: none;
			border-radius: 0;

			.tf_item_body {
				min-height: 50px;
				border-bottom: 1px solid $black;
				font-size: 23px;

				.input_area {
					padding-top: 0;

					input {
						height: 50px;
						font-size: 30px;
						font-weight: 700;

						&::placeholder {
							font-size: 23px;
							font-weight: 500;
						}
					}

					.btn_reset {
						top: 50%;
						right: 0;
						width: 20px;
						height: 20px;
						margin-top: 0;
						transform: translateY(-50%);

						.ico_reset {
							top: 0;
						}
					}
				}
			}
		}
	}

	// 버튼 + 체크박스 2개
	.wrap_btn_check {
		.btn {
			width: 100%;
		}

		.d_flex {
			justify-content: unset;

			.input_items {
				width: 50%;
				margin: 0;
				padding-left: 5px;
			}
		}
	}

	// 송금 영역 반으로 걸쳐진 bottom sheet
	.modal_bottom_sheet {

		&.half_fixed {

			.pop_header {
				font-size: 13px;
			}

			&.hide {
				top: calc(100vh - 180px);
				opacity: 1;
				align-items: unset;
				visibility: unset;
			}
		}
	}

	// 회색 상태표시 (버튼과 유사)
	.state {
		display: inline-block;
		padding: 5px 10px;
		border: 1px solid $border-base;
		border-radius: 4px;
		background: #e5e5e5;
		font-size: 10px;
		font-weight: 500;
		line-height: 1;
	}

	// notice 문장 아이콘 시계로 변경
	.bul_notice {
		&.timer {
			padding-left: 18px;

			&::before {
				top: 0;
				width: 12px;
				height: 12px;
				background: url(/resources/img/common/ico_timer_sm.png) no-repeat center / 12px;
			}
		}
	}

	// check 아이콘이 들어간 radio box
	.check_item {
		&.type_btn {
			input {
				&+label {
					justify-content: start;

					.ico {
						margin-left: 10px;
						margin-right: 6px;
						background-image: url(../../../resources/img/common/ico_check_off.png);
					}
				}

				&:checked+label .ico {
					background-image: url(../../../resources/img/common/ico_check_on.png);
				}
			}

			&.two_line {
				label {
					height: auto;
					padding: 12px 0 !important;
					line-height: 1.2;

					.add_line {
						display: block;
						margin-top: 5px;
					}
				}
			}
		}
	}


	@mixin my_ico {
		display: inline-block;
		background-repeat: no-repeat;
		background-position: center center;
		vertical-align: middle;
		overflow: hidden;
		text-indent: -9999px;
		text-align: left;
		background-size: cover;
	}

	.my_ico {
		@include my_ico;

		&.calendar_sm {
			width: 17px;
			height: 14px;
			background-image: url(/resources/img/content/ico_calnedar_sm.png);
			background-size: 17px 14px;
		}

		&.wallet_sm {
			width: 17px;
			height: 14px;
			background-image: url(/resources/img/content/ico_wallet_sm.png);
			background-size: 17px 14px;
		}

		&.wallet_sm {
			width: 17px;
			height: 14px;
			background-image: url(/resources/img/content/ico_wallet_sm.png);
			background-size: 17px 14px;
		}

		&.close_btn {
			width: 20px;
			height: 20px;
			background-image: url(/resources/img/content/ico_close_btn.png);
		}

		&.caution {
			width: 35px;
			height: 30px;
			background-image: url(/resources/img/content/ico_caution.png);
		}

		&.talk {
			width: 17px;
			height: 15px;
			background-image: url(/resources/img/content/ico_talk.png);
		}

		&.cercle_down {
			width: 13px;
			height: 13px;
			background-image: url(/resources/img/content/cercle_down.png);
		}

		&.has_point {
			background-image: url(/resources/img/content/ico_point_check1.png);
			width: 39px;
			height: 27px;
		}

		&.end_point {
			background-image: url(/resources/img/content/ico_point_check5.png);
			width: 31px;
			height: 27px;
		}
	}

	// toggle 인데 스스로도 check 박스이고 안애도 check 일 때
	.mypg_toggle_list {

		&.postpay_toggle {
			>ul {
				li {
					border: none;

					&:first-child {
						border-top: none;
					}

					.tog_tit {
						border-bottom: 1px solid $border-base;

						&.disabled {
							a {
								background-image: url(/resources/img/content/ico_toggle_down_disabled.png);
							}
						}

						&.done {
							a {
								background-image: url(/resources/img/content/ico_toggle_down_primary.png);
							}
						}

						&.open {
							border: none;

							+.tog_down_list {
								border-bottom: 1px solid $border-base;
							}

						}

					}

					&:last-child {
						.tog_tit {
							&.open {
								+.tog_down_list {
									border-bottom: none;
								}
							}
						}
					}

					.tog_down_list {
						padding: 0;

						.double_box {
							border: none;
							border-radius: 0;

							.btm {
								padding: 5px 0;

								>div {
									align-items: center;
									margin: 15px 0;

									&:first-child {
										margin-top: 0;
									}
								}

								label {
									font-weight: 200;
									height: auto;
								}

								input:checked {
									+label {
										font-weight: 400;
									}
								}
							}
						}
					}

					.tog_down_list {
						border-top: none;

						.tf_item {
							.tf_item_body {
								input {
									color: $gray;

									&::placeholder {
										color: $gray;
									}
								}

							}
						}

						.bul_notice {
							color: $gray;

							a {
								display: block;
								font-size: 11px;
								font-weight: 400;
								color: $lightgray;
								text-decoration: underline;
							}
						}

						.btn_outline_default {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
	}

	// form 이 나란히 두개가 들어올 때 사용
	.row_input {
		&.d_flex {
			>.tf_item {
				width: 100%;

				&:first-of-type {
					margin-right: 10px;
				}
			}
		}
	}

	// 검색인데 라벨이 위아래로 있을 때
	.board_search {
		border-radius: 8px;

		&.double {
			label {
				font-size: 13px;
			}

			.btn_search {
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}

	// input 줄에 설명이 함께 들어갈 때 사용
	.wrap_input_double {
		.tf_item {
			display: block;
			padding: 0;

			.tf_item_body {
				min-height: 35px;

				.input_area {
					padding-top: 0;
				}
			}
		}
	}

	// 탭 메뉴인데 비어있는 부분이 있을 때
	.tab_list {
		&.ghost {
			li {
				flex: 1;

				.black_num {
					display: inline-block;
					height: 16px;
					padding: 0 4.5px;
				}
			}
		}
	}

	// 원형 이미지 프로세스
	.circle_process {
		li {
			text-align: center;
			line-height: 1;
			flex: 1;

			.tit2 {
				margin-bottom: 3.5px;
			}

			.circle {
				position: relative;
				width: 50px;
				height: 50px;
				margin: 0 auto;
				border-radius: 50%;

				img {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
				}

				&::after {
					content: '';
					display: inline-block;
					position: absolute;
					left: 100%;
					right: -200%;
					top: 50%;
					transform: translateY(-50%);
					height: 3px;
				}
			}

			&.first {
				.circle {
					background: $primary;

					img {
						width: 24px;
						height: 24px;
					}

					&::after {
						background: $primary;
					}
				}
			}

			&.second {
				.circle {
					background: $white;
					border: 3px solid $primary;

					img {
						width: 29px;
						height: 23px;
					}

					&::after {
						left: 105%;
						right: -215%;
						background: $btn-xl-disable2;
					}
				}
			}

			&.third {
				.circle {
					background: $btn-xl-disable2;

					img {
						width: 20px;
						height: 23px;
					}
				}
			}
		}
	}

	// 송금 완료 중 요약 정보
	.rec_info {
		line-height: 1;
		padding: 27px 24px;

		>.d_flex {
			margin-bottom: 15px;
			/* 아닐 수 있음*/
			justify-content: unset;

			.tit1 {
				margin-bottom: 0;
				margin-right: 12px;
			}

			.input_items {
				margin: 0;

				.check_item {
					color: $black;

					label {
						min-height: 21px;
						line-height: 21px;
					}
				}
			}

			&.has_check {
				.tit1 {
					height: 23px;
				}
			}
		}

		.tit1 {
			// height: 23px;
			font-size: 16px;
			font-weight: 400;

			.highlight {
				font-size: 18px;
				font-weight: 500;
				display: inline-block;
				margin-bottom: 0;
				transform: translateY(1px);
			}

			&.mb_0 {
				&+span {
					letter-spacing: 0;
				}
			}
		}

		.ico_person {
			margin-right: 5px;
		}

		.price {
			display: flex;
			margin-top: 3px;
			align-items: center;

			>p {
				margin-right: 6px;
				font-size: 20px;
				font-weight: 500;

				span {
					font-size: 25px;
					font-weight: 700;
					letter-spacing: normal;
				}
			}

			.state {
				transform: translateY(2px);
			}
		}

		>p {
			&.mt_3 {
				letter-spacing: 0;

				&+p {
					letter-spacing: 0;
				}
			}
		}
	}

	// 팝업 하단 중 패딩이 있는 버튼이 두개일 때

	.btn_group_flex {
		&.margin_10 {
			>.btn {
				&+.btn {
					margin-left: 10px !important;
				}
			}
		}
	}

	// 그림자
	.shadow {
		position: relative;
		z-index: 1;
		box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, .1);
		background-color: $white;
	}

	.border_list {
		&.select {
			li {
				position: relative;

				>.btn {
					position: absolute;
					top: 15px;
					right: 0;
					font-weight: 400;
				}

				&:first-of-type {
					border-top: none;
				}
			}
		}
	}

	// input 라벨X 일 때
	.tf_item_body {
		&.single {
			min-height: 20px;

			.input_area {
				padding-top: 0;
			}
		}
	}

	// 더치페이 계산 박스
	.cal_box {
		font-size: 16px;
		font-weight: 400;
		padding: 18px 28px;

		.calc {
			display: flex;
			align-items: center;

			.tf_item {
				padding: 0 18px 0 10px;
			}

			.tf_item_body {
				display: inline-block;
				min-height: auto;

				.input_area {
					flex: unset;

					.tf {
						width: 150px;
						height: 35px;
						padding-right: 45px;
						font-size: 19px;
						text-align: right;
					}

					.bg {
						position: absolute;
						right: 25px;
						top: 50%;
						transform: translateY(-50%);
						font-size: 16px;
					}
				}
			}

			.part {
				padding-left: 6px;
				padding-right: 9px;

				.num {
					font-size: 19px;
					font-weight: 700;
				}
			}

			.code {
				margin-right: 15px;

				&+.num {
					margin-right: 6px;
				}
			}
		}

		.result {
			.num {
				margin-left: 15px;
				font-size: 19px;
			}
		}

		.num {
			font-weight: 700;
		}

		// 간격이 좁은 경우
		&.narrow {
			.code {
				margin-right: 8px;
			}

			.result {
				.num {
					margin-left: 6px;
					font-size: 19px;
				}
			}
		}
	}

	.member_list {
		border: 1px solid $border-base;
		border-radius: 8px;

		li {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			padding: 20px 20px 20px 55px;

			&+li {
				border-top: 1px solid $border-base;
			}

			.number {
				display: inline-block;
				position: absolute;
				left: 15px;
				top: 50%;
				transform: translateY(-50%);
				width: 25px;
				height: 25px;
				border-radius: 50%;
				background: #777;
				font-weight: 400;
				color: $white;
				text-align: center;
				line-height: 23px;
			}

			.name {
				margin-bottom: 10px;
			}

			.price {
				font-size: 19px;
				font-weight: 500;
				letter-spacing: 0;

				span {
					font-weight: 700;
				}
			}
		}

		&.type2 {
			.phone {
				padding-left: 20px;
				flex: 1;
				text-align: center;
				letter-spacing: 0;
			}
		}
	}

	.modal_bottom_sheet {
		&.name_check {
			.example {
				display: block;
			}

			.name {
				font-size: 24px;
			}

			.tf_item {
				&.transparent {
					width: 250px;
					margin: 0 auto;
				}
			}

			.tf_item_body {
				.input_area {
					input {
						font-size: 16px;

						&::placeholder {
							font-size: 16px;
							color: $gray;
						}
					}
				}
			}
		}
	}

	// 송금 영역의 연락처 사람 네모 리스트

	.persons_list {
		margin: 10px;

		li {
			margin-right: 10px;

			.box {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 60px;
				padding: 0;
				border-radius: 13px;

				span {
					margin-top: 3px;
					font-weight: 400;
				}

				&.add {
					background: $border-base;
				}
			}
		}

		&.not_slide {
			display: flex;
			flex-wrap: wrap;

			li {
				margin-right: 16px;
			}
		}
	}

	.remit_notice {
		.txt_r {
			&.txt_gray {
				letter-spacing: 0;
			}
		}
	}



	// 페이지별 css

	// 마이홈 - 알림함

	&.myhome_notice {

		.certi_list {

			&.sm {

				li {
					.tit1 {
						margin-bottom: 9px;
						line-height: 22px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}

					.date {
						display: block;
						font-size: 12px;
						color: $gray;
						line-height: 1;
						letter-spacing: 0;
					}

					a {
						padding: 15px 30px 20px 60px;
						background: url(/resources/img/content/bg_noti08.png) 17px 21px no-repeat;
						background-size: 29px;
					}

					&.ad {
						.tit1 {
							white-space: initial;
							overflow: unset;
							text-overflow: unset;
						}

						a {
							background-image: url(/resources/img/content/bg_noti10.png);
						}
					}

					&.notice {
						.tit1 {
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 2;
							white-space: initial;
							word-wrap: break-word;
						}

						a {
							background-image: url(/resources/img/content/bg_noti11.png);
						}
					}

					&.calender {
						a {
							background-image: url(/resources/img/content/bg_noti09.png);
						}
					}
				}
			}
		}
	}



	// 고객센터 - 홈

	&.info_home {

		.tt {
			&.d_flex {
				margin-bottom: 15px;
				align-items: start;

				.l {
					margin-top: 10px;
					color: $darkgray;
					line-height: 1;

					h3 {
						margin-bottom: 8px;
						font-weight: 400;
					}
				}

				.chat_bot {

					img {
						width: 46px;
						height: 46px;
					}

					span {
						display: block;
						font-size: 10px;
						line-height: 1;
						text-align: center;
					}
				}
			}

		}

		.info_list {
			li {
				padding: 0;
				line-height: 25px;

				a {
					display: block;
					padding: 20px;
				}

				.tit1 {
					display: inline-block;
					margin-left: 15px;
					margin-bottom: 0;

				}

				&+li {
					margin-top: 10px;
				}
			}

		}

		.service_tell {
			left: 20px;
			right: 20px;
			bottom: 20px;
			background: $primary;

			img {
				width: 17px;
				height: 15px;
				margin-right: 10px;
				vertical-align: middle;
			}

			>ul {
				border-radius: 6px 6px 0 0;
			}

			.day {
				padding-bottom: 18px;
				border-radius: 0 0 6px 6px;
				background: $white;
				color: $gray;
				// letter-spacing: -0.05em;
			}
		}
	}

	// 고객센터 - 자주하는 질문

	&.faq {
		.tab_menu2 {
			margin-top: 10px;
			margin-bottom: 50px;
		}

		#tab_cont02 {
			display: none;
		}
	}

	// 고객센터 - 종료된 이벤트

	&.event_detail {
		.lab_status {
			&.end {
				background: $btn-xl-disable2;
			}
		}
	}

	// 고객센터 - 이용 가이드

	&.use_guide {
		.easy_certi_top.bg06 {
			background-image: url(/resources/img/content/bg_guide.png);
			text-align: center;

			.txt_normal {
				display: inline-block;
				width: 50%;
			}
		}

		.service {
			text-align: center;

			.txt_gray {
				display: inline-block;
				width: 75%;
			}
		}

		.service_area {
			.service_list {
				li {
					a {
						.list_tit {
							background-size: 25px;
							background-repeat: no-repeat;
							background-position: 20px 50%;

							>span {
								display: block;

								&.txt_gray {
									font-weight: 200;
								}
							}

							&.barcode {
								background-image: url(/resources/img/content/ico_barcode.png);
							}

							&.wallet {
								background-image: url(/resources/img/content/ico_wallet.png);
							}

							&.withdraw {
								background-image: url(/resources/img/content/ico_withdraw.png);
							}
						}
					}
				}
			}
		}
	}

	// 고객센터 - 이용 약관

	.scroll_content {
		.l {
			width: 100%;

			a {
				display: block;

				.check_item {
					display: flex;
					align-items: center;

					.ico_document {
						margin-right: 12px;
					}
				}
			}
		}
	}



	// 고객센터 - 서비스 해지

	&.cancel {

		.service {
			text-align: center;
		}

		.easy_certi_top {
			&.bg06 {
				background-image: url(/resources/img/content/bg_wait.png);
			}

			&.bg07 {
				background-image: url(/resources/img/content/bg_money.png);
			}
		}

		.leftover {
			text-align: center;

			.leftover_num {
				margin-top: 10px;
				position: relative;
				font-size: 19px;
				font-weight: 400;
				color: #111;
				// letter-spacing: -0.05em;

				strong {
					font-size: 26px;
					letter-spacing: normal;
				}

				&::after {
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: -1px;
					z-index: -1;
					height: 8px;
					background: $bg-primary;
				}
			}
		}

		.check_list {
			margin-bottom: 20px;
			background: #f8f8f8;

			li {
				.check_item input[type=checkbox]+label {
					background-position-y: 3px;
				}

				&+li {
					margin-top: 12px;
				}
			}

		}

		.ico_document_check {
			display: inline-block;
			width: 20px;
			height: 21px;
			background: url(/resources/img/content/ico_document_check.png) no-repeat center / 20px 21px;
			vertical-align: middle;
		}

		.modal_popup.modal_alert {
			.popup_inner {
				height: auto;

				.popup_body {
					padding-bottom: 20px;

					.txt_c {
						margin-top: 15px;
					}
				}
			}
		}
	}

	// 전자지갑

	&.wallet {

		// 전자지갑 - 오픈뱅킹 연결
		.top_ico_txt {
			&.openbank {
				&::before {
					height: 40px;
					background-image: url(/resources/img/content/top_ico_bank.png);
				}
			}
		}

		// 전자지갑 - 카드 연결
		.top_ico_txt {
			&.card {
				&::before {
					height: 35px;
					background-image: url(/resources/img/content/top_ico_card.png);
				}
			}
		}

		.form_wrap {
			margin-top: 23px;
		}

		// 전자지갑 - 우체국계좌 연결
		.top_ico_txt {
			&.office {
				&::before {
					height: 33px;
					background-image: url(/resources/img/content/top_ico_office.png);
				}
			}
		}

		.toggle_btn_list {
			// letter-spacing: -0.05em;

			.d_flex {
				border-top: 1px solid $border-base;
				line-height: 1;

				p {
					font-weight: 400;

					&.number {
						margin-top: 5px;
						letter-spacing: normal;
					}
				}

				.toggle_btn {
					padding: 5.5px 10.5px;
					border: 1px solid $border-base;
					border-radius: 3.5px;
					font-size: 12px;
					font-weight: 500;
					color: $gray;
					line-height: 1;

					&.repre {
						margin-right: 3px;
					}

					&.active {
						border-color: $black;
						color: $black;
					}
				}

				&:last-of-type {
					border-bottom: 1px solid $border-base;
				}
			}
		}

		.wrap_notice {

			// letter-spacing: -0.05em;
			.ico_paperlist4 {
				transform: translateY(-2px);
				margin-right: 5px;
			}

			.my_ico {
				transform: translateY(-2px);
				margin-right: 6px;
			}

			.tit2 {
				line-height: 1;
				margin-bottom: 8px;
			}
		}

		.has_modal {
			.popup_inner {

				// letter-spacing: -0.05em;
				.desc {
					font-weight: 400;
					color: $gray;
				}

				.btn_md {
					padding: 22px 0;

					&.btn_default {
						color: $gray;
					}
				}
			}
		}

		// 전자지갑 - 포스트페이머니 충전
		&.charge {
			.box {
				&.info {
					background: $bg-lightprimary;
				}
			}

			.wrap_btn {
				.btn {
					width: 100%;

					&+.btn_lg {
						margin-left: 10px;
					}
				}
			}
		}
	}

	// 전자지갑 - 포스트페이머니 설정

	&.postmoney {

		.top_ico_txt {
			&.postmoney {
				&::before {
					height: 36px;
					background-image: url(/resources/img/content/top_ico_postmoney.png);
				}
			}
		}

		.account_info_box {
			a {
				padding-top: 16px;
				padding-bottom: 16px;

				.info {
					.name {
						display: block;
						padding-top: 2px;
						font-weight: 400;
						line-height: 1;
					}
				}
			}
		}

		.input_items {
			.check_item {
				label {
					justify-content: center;
				}
			}
		}

		.ico_sale {
			margin-right: 8px;
		}
	}

	.wrap_input_double {
		>div {
			display: flex;
			align-items: center;

			.tf_item {
				width: 130px;
				margin-right: 20px;

				.opt {
					padding-left: 16px;
					background-position: 100px center;
				}
			}

			.tit2 {
				margin-bottom: 0;
			}
		}
	}

	// 마이홈 - 설정

	&.setting {

		.bg_postpay_setting {

			&::before {
				margin-right: 7px;
				width: 41px;
				height: 27px;
				background-image: url(#{$url-img-content}/ico_postpay_setting.png);
				background-size: 41px 27px;
			}
		}

		.setting_box {
			&.lock {
				.box {
					&.box_border {
						padding: 0;

						>div,
						>ul {
							padding: 0 20px;

							&.d_flex {
								padding: 20px;
							}
						}

						.post_chk {
							&:checked {
								.toggle_hide {
									display: none;
								}
							}
						}

						.toggle_hide {

							.tit2 {
								margin-top: 20px;
								font-weight: 400;
							}
						}

						.settings {
							padding-bottom: 9px;

							.d_flex {
								width: 100%;
							}
						}
					}
				}


			}

			&.pw {
				.settings {
					padding: 3.5px 0;
				}
			}

			&.only {
				.settings {
					padding: 5px 0 3.5px;
				}
			}

			&.check {
				.settings {
					li {
						margin: 26px 0;
					}
				}
			}

			.check_switch label {
				min-width: 65px;
				padding-right: 9px;
			}

			.box.box_border {
				padding: 0 20px;

				>p:first-child {
					margin-top: 19px;
				}

				.d_flex {
					display: flex;
					align-items: center;
					justify-content: space-between;
					padding: 20px 0;
					border-bottom: 1px solid $border-base;

					.l {
						display: flex;
						align-items: center;

						>span {
							margin-right: 16px;
						}
					}

					&+.tit2 {
						margin-top: 20px;
						margin-bottom: 11px;
					}
				}

			}

			.tit1 {
				position: relative;

				>.check_switch {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.settings {

				li {
					display: flex;
					align-items: center;
					justify-content: space-between;
					height: 23px;
					// padding: 13px 0;
					margin: 11px 0;

					.l {
						line-height: 23px;

						.tit2 {
							font-weight: 400;
							vertical-align: middle;
						}

						.check_switch {
							vertical-align: middle;
						}
					}

					.r {
						line-height: 23px;
					}
				}

				.double_wrap {
					height: auto;

					.l,
					.r {
						line-height: 100%
					}
				}
			}

			.setting_icon {
				display: inline-block;
				width: 25px;
				height: 23px;
				margin-right: 12px;
				background: url(#{$url-img-content}/ico_settings_file.png) no-repeat center / 25px 23px;
				vertical-align: middle;

				&.wide {
					width: 35px;
					background-size: 35px 23px;
				}

				&.ico_settings_pw {
					background-image: url(#{$url-img-content}/ico_settings_pw.png);
				}

				&.ico_settings_pinger {
					background-image: url(#{$url-img-content}/ico_settings_pinger.png);
				}

				&.ico_settings_pattern {
					background-image: url(#{$url-img-content}/ico_settings_pattern.png);
				}

				&.ico_settings_pw_c {
					background-image: url(#{$url-img-content}/ico_settings_pw_change.png);
				}

				&.ico_settings_pw_r {
					background-image: url(#{$url-img-content}/ico_settings_pw_register.png);
				}

				&.ico_settings_lock {
					background-image: url(#{$url-img-content}/ico_settings_lock.png);
				}

				&.ico_settings_bill {
					background-image: url(#{$url-img-content}/ico_settings_bill.png);
				}

				&.ico_settings_chat {
					background-image: url(#{$url-img-content}/ico_settings_chat.png);
				}

				&.ico_settings_call {
					background-image: url(#{$url-img-content}/ico_settings_call.png);
				}

				&.ico_settings_phone_list {
					background-image: url(#{$url-img-content}/ico_settings_phone_list.png);
				}

				&.ico_settings_alert {
					background-image: url(#{$url-img-content}/ico_settings_alert.png);
				}

				&.ico_settings_camera {
					background-image: url(#{$url-img-content}/ico_settings_camera.png);
				}

				&.ico_settings_postpay {
					background-image: url(#{$url-img-content}/ico_settings_pay_postpay.png);
				}

				&.ico_settings_zero {
					background-image: url(#{$url-img-content}/ico_settings_pay_zero.png);
				}

				&.ico_settings_zero_check {
					background-image: url(#{$url-img-content}/ico_settings_pay_zero_check.png);
				}

				&.ico_settings_cookie {
					background-image: url(#{$url-img-content}/ico_settings_cookie.png);
				}

				&.ico_settings_data {
					background-image: url(#{$url-img-content}/ico_settings_data.png);
				}

				&.ico_settings_trash {
					background-image: url(#{$url-img-content}/ico_settings_trash.png);
				}

			}

			h3 {
				display: inline-block;
			}

			.double_line {
				display: inline-block;
				vertical-align: middle;

				h3 {
					display: block;
				}

				.desc {
					display: inherit;
					font-size: 10px;
				}

			}

			.txt_r {
				margin-top: 8px;

				.ico_chevron_up_sm {
					margin-bottom: 4px;
					margin-left: 5px;
					transform: rotate(90deg);
				}
			}

			.double_box {
				margin-top: 21px;
				padding: 15px 20px;

				>.txt_md {
					margin: 6px 0;
				}

				li {
					display: flex;
					align-items: center;
					justify-content: space-between;

					&::after {
						display: none;
					}
				}
			}
		}

	}

	//마이홈 - 포인트 박스
	&.point_box {
		.top_ico_txt {
			&.org {
				&::before {
					width: 31px;
					height: 32px;
				}
			}
		}

		.coupon_check {
			li {
				padding: 16px 0;

				.tit {
					font-size: 13px;
					font-weight: 400;
					color: $darkgray;

					.my_ico {
						margin-right: 4px;
						vertical-align: bottom;
					}
				}

				.point {
					font-size: 18px;
					font-weight: 700;
				}
			}
		}

		.check_item {
			&.tac {
				label {
					justify-content: center;
				}
			}

		}

		.point_result_list {
			.plus {
				color: #0000ff;
			}

			.minus {
				color: #dd3927;
			}
		}

	}



	// 고객센터 - 우체국 서비스 - 앱 서비스 목록

	&.app_guide {
		.app_list {
			.box_border {
				min-height: 135px;
				padding: 0;
				box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, .15);

				.info {
					&.d_flex {
						justify-content: start;
						align-items: center;
						margin: 0 20px;
						padding: 20px 0 18px;
						border-bottom: 1px solid $btn-xl-disable2;

						.l {
							margin-right: 20px;

							img {
								max-width: none;
								width: 48px;
								height: 48px;
							}
						}

						.tit1 {
							font-size: 14px;
							margin-bottom: 7px;
							line-height: 1;
						}

						.txt_gray {
							font-size: 12px;
							line-height: 17px;
						}
					}
				}

				.links {
					.tit2 {
						width: 100%;
						margin-bottom: 0;
						padding: 14px 0;
						font-size: 12px;
						text-align: center;

						&.l {
							position: relative;

							&::after {
								content: '';
								display: inline-block;
								position: absolute;
								right: 0;
								top: 50%;
								transform: translateY(-50%);
								height: 17px;
								width: 1px;
								border-right: 1px solid $btn-xl-disable2;
							}
						}

						.ico {
							margin-right: 15px;
						}
					}
				}

				&+li {
					margin-top: 15px;
				}
			}
		}
	}

	// 제로페이 체크인 : 문의 필요

	&.check_in {
		.full {
			.dimed {
				background: rgba($color: #000, $alpha: .8);
			}

			.popup_inner {
				position: relative;
				background: transparent;

				.popup_tit {
					position: fixed;
					top: 20px;
					left: 20px;
					font-size: 18px;
					font-weight: 500;
					color: #fff;
				}

				.qr_area {
					height: calc(100vh - 200px);

					.qr_tit2 {
						font-size: 16px;
					}
				}

				.btn_close_popup {
					display: block;
					right: 50%;
					transform: translateX(50%);
					bottom: 100px;
					top: auto;
					width: 50px;
					height: 50px;
					background-image: url(/resources/img/content/ico_close_btn_big.png);
					background-size: 50px;
				}
			}
		}
	}

	// 송금

	&.remit {

		.tf_item {
			&.transparent {
				padding: 0;
			}
		}

		.preview {
			display: flex;

			>div {
				flex: 1;
				visibility: hidden;

				&.show {
					visibility: visible;
				}

				&.book_view {
					margin-left: 10px;
					border: 1px solid $border-base;
					border-radius: 8px;

					.tf_item {
						border-radius: 0;
						background: none;
					}

					>div {
						padding-right: 12px;
						border: none;
					}

					>a {
						border-width: 1px 0 0 0;
						padding-top: 7px;
						padding-bottom: 7px;
					}
				}

				&.card_view {
					padding: 0 5px;
				}
			}

		}
	}

	// 송금 - 경조금배달

	&.delivery {

		.top_ico_txt {
			&.truck {
				&::before {
					height: 38px;
					background-image: url(/resources/img/content/top_ico_delivery.png);
				}
			}
		}

		.timer_wrap {
			display: flex;
			justify-content: end;

			.bul_notice {
				&.timer {
					font-size: 11px;
					line-height: 1;

					.arrive {
						display: block;
						margin-top: 3px;
					}
				}
			}
		}

		.input_items {
			margin: 0;
		}

		.under {
			display: flex;
			flex-direction: column;
			min-height: 50vh;

			.tab_menu {
				position: relative;

				.tab_list {
					margin-top: 32.5px;
				}

				.btn {
					position: absolute;
					right: 20px;
					bottom: 13px;
				}
			}

			.tab_cont {
				position: relative;
				flex: 1;

				.timer_wrap {
					position: absolute;
					right: 20px;
					bottom: 20px;
				}
			}
		}

		.box_inquiry {
			width: 100%;
			background: $white;

			.box_label {
				&.gray {
					background: $border-base;
				}
			}

			.list_inquiry {
				.name {
					.highlight {
						margin-left: 5px;
						vertical-align: middle;
					}
				}

				.lab_status {
					&.btn_round {
						border-radius: 10px;
					}
				}
			}
		}

		.rec_info {
			position: relative;

			>.day {
				position: absolute;
				right: 20px;
				letter-spacing: 0;
			}
		}

		.card_sel {
			>* {
				height: 70px;
				padding: 14px 20px;
				flex: 1;

				&:last-child {
					margin-left: 10px;
				}
			}

			>.board_search {
				display: flex;
				flex-direction: column;

				label {
					padding-bottom: 6px;
				}

				input {
					padding: 0;
				}
			}
		}

		.border_list {
			&.select {
				&+.tit2 {
					color: $darkgray;
				}
			}
		}

		.img_wrap {
			&+.bg_lightgray {
				color: $gray;
			}
		}

		.txt_area {
			position: relative;
			padding-bottom: 30px;

			.txt_amt {
				position: absolute;
				bottom: 10px;
				right: 10px;
			}

			textarea {
				white-space: unset;
				overflow-y: auto;
			}
		}

		.img_wrap {
			&.user_sample {
				position: relative;

				.user_word {
					// display: inline-block;
					position: absolute;
					left: 50%;
					top: 45%;
					transform: translateX(-50%);
					width: 80%;
					height: 72px;
					font-size: 3.5vw;
					font-weight: 500;
					color: $gray;
					text-align: center;
					overflow-y: auto;
				}
			}
		}

		.modal_bottom_sheet {
			.btn {
				.ico_chevron_right_sm {
					margin-left: 6px;
					margin-top: -1px;
					transform: rotate(90deg);
				}
			}
		}

		.row_input {
			.full {
				flex: 1;
			}

			.check_item {
				&.type_btn {
					label {
						width: 70px;
						height: 70px;
						justify-content: center;
					}
				}
			}
		}
	}

	// 송금받기
	&.receive {

		.top_ico_txt {
			&.hand {
				&::before {
					height: 36px;
					background-image: url(/resources/img/content/top_ico_receive.png);
				}
			}
		}

		.btn_round {
			&.arrow {
				height: 30px;
				font-weight: 400;
			}
		}

		.ico_chevron_right_sm {
			width: 6px;
			height: 10px;
			margin-left: 15px;
			transform: rotate(90deg);
		}

		.summary {
			text-align: center;
			line-height: 1;

			.name {
				font-size: 12px;
				font-weight: 400;

				.ico_person {
					width: 10px;
					height: 12px;
					margin-right: 3.5px;
					transform: translateY(-1.5px);
				}
			}

			.date {
				font-size: 12px;
				color: #777;
			}

			.price {
				display: inline-block;
				position: relative;
				font-size: 23px;
				font-weight: 400;

				span {
					font-size: 30px;
					font-weight: 700;
				}

				button {
					position: absolute;
					left: calc(100% + 10px);
					top: 50%;
					transform: translateY(-50%);
				}
			}

			.new_yellow {
				.btn {
					padding: 13px;
					border-radius: 8px;
					background: #ffd64a;
					white-space: unset;
					flex: 1;

					&+.btn {
						margin-left: 10px;
					}

					.ico {
						width: 25%;

						&.office {
							width: 35px;
							height: 26px;
							background: url(/resources/img/content/img_btn_yellow_01.png) no-repeat center / cover;
						}

						&.postpay {
							width: 29px;
							height: 30px;
							background: url(/resources/img/content/img_btn_yellow_02.png) no-repeat center / cover;
						}
					}
				}
			}
		}

	}

	// 송금 홈

	&.remit_home {

		.service_slider_area {
			.slick-list {
				margin: 0 -5px;
				overflow: unset;

				.slick-slide {
					margin: 0 5px;
				}
			}

			.slick-dots {
				bottom: -18px;
			}
		}

		.home_slide {
			.service_slider {
				padding: 16px 12px 12px 12px;
				border-radius: 9px;

				.price {
					font-size: 20px;
					font-weight: 400;
					line-height: 1.3;
					letter-spacing: -0.01em;

					span {
						font-size: 26px;
						font-weight: 700;
					}
				}

				.d_flex {
					&.aie {
						align-items: end;

						.account {
							font-size: 12px;
							color: $darkgray;

							// letter-spacing: -0.05em;
							span {
								letter-spacing: -0.025em;
							}
						}

						.state {
							padding: 5px;
							border-radius: 3px;
							background: $orange;
							font-size: 11px;
							line-height: 1;
							color: $bg-lightgray;
						}
					}
				}

				.d_flex {
					&.btn_wrap {
						margin-top: 28px;

						.btn {
							flex: 1;
							height: 44px;
							border-radius: 4px;
							background: rgba(255, 255, 255, .3);

							.ico {
								margin-right: 6px;
							}

							&+.btn {
								margin-left: 10px;
							}
						}
					}
				}

				&.office {
					background: #ffd549;
				}

				&.two {
					background: #7fd8d2;
				}

				&.three {
					background: #ffd549;
				}
			}
		}

	}

	.remit_menu_list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 12.5px;

		li {
			width: 33.3%;
			text-align: center;
			line-height: 1;

			>a {
				display: inline-block;
				width: 100%;
				height: 100%;
				padding-top: 7.5px;
				padding-bottom: 15px;
				font-weight: 400;
				color: $darkgray;

				img {
					width: 37px;
					height: 37px;
					margin-bottom: 5px;
				}
			}
		}
	}

	// 더치페이 멤버관리
	&.dutch_member {

		&.existing {
			.existing {
				display: block;
			}

			.new_group {
				display: none;
			}
		}

		&.new_group {
			.existing {
				display: none;
			}

			.new_group {
				display: block;
			}
		}


		.wrap_tit {
			justify-content: start;

			.tit1 {
				margin-left: 6px;
			}

			.desc {
				margin-left: 12px;
				font-size: 13px;
				color: #666;
			}
		}

		.sel_member {
			.slick-list {
				// margin: 0 -5px;
				height: 36px;

				.slick-track {
					top: 1px;

					.slick-slide {
						margin: 0 5px;
					}
				}
			}

			li {
				position: relative;
				// min-width: 85px;
				padding: 0 18px;
				border: 2px solid $primary;
				border-radius: 17.5px;
				text-align: center;

				.tit2 {
					line-height: 31px;
				}

				.my_ico {
					position: absolute;
					top: -3px;
					right: -6px;
				}
			}
		}

		.address {
			display: none;

			&.no_list {
				display: block;
			}
		}

		.before_sel {
			margin-top: 14px;
			display: none;
		}

		.no_sel {
			.before_sel {
				display: block;
			}

			.sel_member {
				display: none;
			}
		}

		.modal_bottom_sheet {
			.phone {
				font-size: 24px;
			}
		}
	}


	// 경조카드 함께 바텀 시트
	.modal_bottom_sheet {

		// 자주 쓰는 경조문 바텀 시트
		&.condolen {
			.tab_list {
				li {
					&.on {
						background: $bg-gray;
					}
				}
			}

			.border_list {
				li {
					&:first-child {
						border-top: none;
					}

					button {
						font-weight: 400;
					}
				}
			}
		}

		// 이렇게 보내져요 바텀 시트
		&.sample {
			.tit2 {
				font-weight: 400;
				color: $black;

				.cercle_down {
					margin-left: 6px;
				}
			}

			.d_flex {
				align-items: start;

				.circle {
					width: 40px;
					height: 40px;
					margin-right: 25px;
					border-radius: 50%;
					background: $bg-gray;
				}

				.card_preview {
					flex: 1;
				}
			}
		}
	}
}