// 포스트페이1

.postpay {

	//qr스캔
	.qr_tit {
		padding: 8px 0 20px 0;
		text-align: center;
	}

	.qr_wrap {
		width: 100%;
		margin-top: 0;

		img {
			max-width: 100%;
			border: 0;
		}
	}

	// .qr_tit2 {
	// 	padding: 31px 0;
	// 	color: $white;
	// 	text-align: center;
	// }

	// .qr_area {
	// 	height: 350px;
	// 	border-radius: 16px;
	// 	background: $darkgray;

	// 	.qr_frame {
	// 		position: relative;
	// 		width: 100%;
	// 		max-width: 275px;
	// 		height: 230px;
	// 		max-height: 300px;
	// 		margin: 0 auto;
	// 		border-radius: 8px;
	// 		background-color: rgba(255, 255, 255, .1);
	// 	}
	// }

	.payment_wrap {
		display: flex;
		justify-content: end;
		margin-top: 15px;

		.payment {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 90px;
			height: 70px;
			margin-left: 15px;
			border: 1px solid #ddd;
			border-radius: 8px;

			.payment_text {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 57px;
				height: 100%;
				line-height: 15px;
				padding-left: 35px;
				font-size: 13px;
				text-align: center;

				&.qr_payment_text {
					background: url(../../resources/img/content/ico_qr_payment.png) no-repeat 0 center / 26px 38px;
				}

				&.nfc_payment_text {
					background: url(../../resources/img/content/ico_nfc_payment.png) no-repeat 0 center / 26px 38px;
				}
			}
		}
	}

	.payment_bottom {
		border-radius: 10px 10px 0 0;
		box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, .15);

		a {
			display: block;
			padding-top: 27px;

			.container {
				.price {
					font-size: 26px;

					span {
						padding-left: 3px;
						font-size: 20px;
					}
				}

				.place {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					padding-bottom: 24px;

					.account {
						font-size: 12px;
						color: $darkgray;
					}

					.recent_payment {
						padding: 5px 6px;
						border-radius: 3px;
						background-color: $orange;
						font-size: 11px;
						color: $white;
					}
				}
			}
		}
	}

	.postpay_bottom_popup {

		.tf_item {
			padding: 9px 20px;
			background-color: $bg-lightgray;

			.tf_item_body {

				.input_area {
					display: flex;
					justify-content: space-between;
					padding-top: 0;

					.pay_info {
						font-size: 14px;
					}
				}


				i {
					position: relative;
					top: 2px;
				}
			}
		}

		.pay_price {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 25px 21px;

			.pay_price_tit {
				font-size: 13px;
				color: $gray;

			}

			.pay_price_cont {
				font-size: 26px;

				span {
					padding-left: 7px;
					font-size: 20px;
				}
			}
		}

		.pay_info_wrap {
			margin-bottom: 105px;
			padding: 20px 20px;
			border: 1px solid #ddd;
			border-radius: 8px;

			.pay_info2 {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 10px;

				.pay_info_tit {
					color: $gray;
				}
			}

			.pay_info2:last-child {
				margin-bottom: 0;
			}
		}
	}

	//QR결제
	.qr_tit3 {
		padding-top: 8px;
		padding-bottom: 5px;
		text-align: center;

	}

	.qr_tit4 {
		padding-bottom: 20px;
		text-align: center;
	}

	.box {
		&.box_qr {
			&.box_qr_postpay {
				position: relative;
				padding-top: 54px;
				padding-bottom: 30px;
				border-radius: 25px;

				.btn_time_limit {
					margin-top: 28px;
					padding: 15px 19px;
					font-size: 16px;
				}

				.btn_refresh_postpay {
					display: inline-block;
					position: absolute;
					top: 23px;
					right: 25px;
					width: 30px;
					height: 27px;
					background: url(../../resources/img/content/ico_refresh03.png) no-repeat center;
					background-size: 30px 27px;
					vertical-align: middle;
				}
			}
		}
	}

	//nfc결제
	.nfc_box {
		position: relative;
		width: 100%;
		height: 320px;
		margin: 27px auto 0 auto;
		border: 1px solid #ddd;
		border-radius: 25px;

		img {
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-40%, -50%);
			width: 86px;
			height: 102px;
		}
	}

	//결제완료
	.pay_done {
		padding: 30px 0 38px 0;
		text-align: center;

		// .check_done {
		// 	border-radius: 50%;
		// 	background-color: $primary;
		// 	width: 45px;
		// 	height: 45px;
		// 	display: inline-block;
		// 	margin: 0 auto;
		// 	text-align: center;
		// 	background-image: url(../../resources/img/content/ico_check_done.png);
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	background-size: 22px 17px;
		// }

		.txt_done {
			padding-top: 15px;
			font-size: 18px;
		}
	}

	.postpay_bottom_popup {
		.pay_info_wrap2 {
			margin-bottom: 46px;
		}
	}

	//QR결제코드확대팝업

	.barcode_popup {
		width: 403px;
		margin: 85px auto 0;
		transform: rotate(90deg);

		.barcode_img {
			width: 403px;
			height: 173px;
		}

		.postpay_img {
			width: 68px;
			height: 25px;
			padding-bottom: 50px;
		}

		.barcode_num {
			text-align: left;
		}
	}

	.code_popup {
		margin-top: 100px;
		text-align: center;

		.qr_img {
			width: 225px;
			height: 225px;
		}

	}

	.btn_wrap {
		position: relative;
		text-align: center;

		.btn_time_limit {
			height: none;
			margin-top: 198px;
			padding: 15px 15px 15px 18px;
			font-size: 16px;

			.btn_refresh_popup {
				display: inline-block;
				width: 15px;
				height: 13px;
				margin-left: 9px;
				background: url(../../resources/img/content/ico_refresh04.png) no-repeat 0 center;
				background-size: 15px 13px;

			}
		}
	}



	.btn_list {
		display: flex;
		justify-content: center;
		margin-top: 50px;
		text-align: center;

		button {
			margin-right: 10px;
			padding: 12px 19px;
			border-radius: 8px;
			background: $gray;
			color: $white;

			&.on {
				background: $lightgray2;
			}
		}
	}

	.bottom_text {
		margin-top: 18px;
		margin-bottom: 20px;
		text-align: center;
	}


	//교통카드
	.btn_group {
		&.btn_group_flex {
			&.btn_traffic {

				.btn+.btn {
					margin-left: 0;
				}
			}
		}
	}

	//이용약관
	.use_terms {
		padding: 300px 0;
		border-radius: 16px;
		background-color: $bg-lightgray2;
		font-size: 25px;
		text-align: center;
	}

	.btn_group_terms {

		.btn_default_zeropay {
			border: 1px solid $lightgray2;
			background-color: $white;

		}
	}

	//교통결제 웹뷰

	.web_view {
		padding: 305px 0;
		background-color: $bg-lightgray2;
		font-size: 25px;
		text-align: center;

	}

	//포스트페이 공통 바텀시트 슬라이드메뉴
	.postpay_bottom {
		padding-top: 18px;
		padding-bottom: 15px;
		border-radius: 16px 16px 0 0;
		box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, .15);

		.postpay_bottom_slider_area {
			width: 100%;

			.postpay_bottom_list {
				width: 100%;
				text-align: center;

				.postpay_bottom_slider {

					a {
						display: block;

						.tit {
							display: flex;
							flex-direction: column;
							padding-top: 28px;
							font-size: 12px;
							font-weight: 500;
							color: $lightgray;

							&.on {
								color: $darkgray;
							}

							&.purse {
								background: url(../../resources/img/content/ico_purse.png) no-repeat 50% 0 / 25px 25px;
							}

							&.calendar {
								background: url(../../resources/img/content/ico_calendar_un.png) no-repeat 50% 0 / 25px 25px;
							}

							&.pay {
								background: url(../../resources/img/content/ico_pay_un.png) no-repeat 50% 0 / 25px 25px;
							}

							&.remittance {
								background: url(../../resources/img/content/ico_remittance_un.png) no-repeat 50% 0 / 25px 25px;
							}

							&.event {
								background: url(../../resources/img/content/ico_remittance_un.png) no-repeat 50% 0 / 25px 25px;
							}

							&.inquiry {
								background: url(../../resources/img/content/ico_remittance_un.png) no-repeat 50% 0 / 25px 25px;
							}
						}
					}
				}
			}
		}
	}

	// 오른쪽 끝부분 흐려지는 효과를 주면 슬라이드를 가려서 일단 보류
	// .postpay_bottom_menu:after {
	// 	position: absolute;
	// 	top: 0px;
	// 	right:0;
	// 	content: "";
	// 	width: 100px;
	// 	height: 100%;
	// 	background: linear-gradient(to right, transparent 10%, rgba(255, 255, 255, 1));
	// 	// background: rgba(255, 255, 255, .3);
	// 	transform: rotate(10deg);
	// }

	//모임서비스 홈-안내
	.meeting_intro {
		margin-top: 8px;
		margin-bottom: 20px;
		margin-left: 7px;
		margin-right: 7px;
		background: url(../../resources/img/content/ico_class_people.png) no-repeat 0 center;
		background-size: 35px 23px;

		.meeting_intro_tit {
			margin-left: 50px;
			color: $darkgray;
		}
	}

	.meeting_invite {
		display: block;
		padding-top: 14px;
		padding-bottom: 14px;
		padding-left: 94px;
		background-image: url(../../resources/img/content/ico_deco.png);
		background-repeat: no-repeat;
		background-position: 42px center;
		background-size: 34px 24px;
		background-color: #fef5e5;

		.invite_tit {
			background: url(../../resources/img/content/ico_meeting_arr.png) no-repeat 120px center;
			background-size: 5px 9px;
		}

		.invite_des {
			font-size: 12px;
			color: $darkgray;
		}

		&.meeting_invite_alarm {
			background-image: url(../../resources/img/content/ico_letter.png);
			background-size: 29px 34px;
			background-color: #e5f7fe;

			.invite_tit {
				background: url(../../resources/img/content/ico_meeting_arr.png) no-repeat 152px center;
				background-size: 5px 9px;
			}
		}
	}

	.service_area {

		.service_tit {
			margin-bottom: 27px;
			font-size: 12px;
			color: $darkgray;
			text-align: center;

			strong {
				font-size: 16px;
			}
		}

		.service_list {
			.service_list_cont {
				margin-bottom: 16px;
				border: 1px solid $border-base;
				border-radius: 8px;

				a {
					display: block;
					padding-top: 21px;
					padding-bottom: 21px;

					.list_tit {
						display: block;
						position: relative;
						padding-left: 60px;
						padding-right: 25%;
						font-size: 18px;

						&.meet {
							background: url(../../resources/img/content/ico_class_plus.png) no-repeat 20px center;
							background-size: 25px 17px;
						}

						&.dues {
							background: url(../../resources/img/content/ico_piggy_bank.png) no-repeat 20px center;
							background-size: 21px 25px;
						}

						&.break_dues {
							background: url(../../resources/img/content/ico_medal.png) no-repeat 20px center;
							background-size: 15px 25px;
						}

						&.conversation {
							background: url(../../resources/img/content/ico_speech_bubble.png) no-repeat 20px center;
							background-size: 25px 20px;
						}
					}

					.list_tit:after {
						content: "";
						display: inline-block;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						right: 19px;
						width: 35px;
						height: 35px;
						border: 1px solid $black;
						border-radius: 50%;
						background: url(../../resources/img/content/ico_next.png) no-repeat 60% center / 15px 16px;
					}

				}
			}
		}
	}

	//모임서비스 모임상세
	.bg {
		background-color: $bg-lightgray;

		.service_top {
			background-color: $white;
			box-shadow: 0px 4px 10px -4px rgba(0, 0, 0, .1);

			.service_top_tit {
				display: flex;
				align-items: center;
				position: relative;
				margin-left: 25px;
				background: url(../../resources/img/content/ico_together1.png) no-repeat 0 center / 30px 30px;

				.tit_link {
					display: block;
					margin-right: 10px;
					padding-left: 35px;
					font-size: 16px;
					.tit_link_cont{
						
					}
				}

				.division {

					.manage {
						padding: 4px 17px 4px 6px;
						border-radius: 2px;
						background-image: url(../../resources/img/content/ico_manage.png);
						background-repeat: no-repeat;
						background-position: 36px center;
						background-size: 9px 9px;
						background-color: $black;
						font-size: 10px;
						color: $white;
					}

					.member {
						padding: 4px 9px 4px 9px;
						border-radius: 2px;
						background-color: $black;
						font-size: 10px;
						color: $white;
						text-align: center;
					}
				}
			}

			.target {
				margin-top: 5px;
				text-align: center;

				.target_date {
					font-size: 11px;
					color: $gray;

					.num {
						font-size: 12px;
					}
				}

				.target_amount {
					font-size: 20px;

					.num {
						padding-right: 2px;
						font-size: 26px;

					}
				}
			}

			.btn_group {
				text-align: center;

				.btn {
					padding: 10px 45px 10px 70px;
					border-radius: 5px;
					background-color: #ffd69a;
					font-size: 15px;
					color: $darkgray;

					&.con_btn {
						background-image: url(../../resources/img/content/ico_mini_bubble.png);
						background-repeat: no-repeat;
						background-position: 46px center;
						background-size: 15px 12px;
					}

					&.rem_btn {
						background-image: url(../../resources/img/content/ico_cash.png);
						background-repeat: no-repeat;
						background-position: 46px 55%;
						background-size: 18px 17px;
					}

					&.rem_btn2 {
						padding: 10px 35px 10px 56px;
						background-position: 32px 55%;
					}
				}

			}
		}

		.tab_area_meeting {

			.tab_list {
				li {
					span {
						position: relative;
						padding: 0 0;

						.alarm {
							position: relative;
							top: 1px;
							width: 16px;
							height: 16px;
							line-height: 16px;
							margin-left: 6px;
							padding: 4px 6px 7px;
							border-radius: 50%;
							background-color: $darkgray;
							font-size: 10px;
							color: $white;
						}
					}
				}
			}

			#tab_cont1 {
				.dues_list {
					.dues_list_cont {
						margin-bottom: 10px;
						padding: 29px 30px;
						border-radius: 10px;
						background-color: $white;

						.dues_tit {
							display: flex;
							justify-content: space-between;
							align-items: flex-start;

							.date {
								font-size: 13px;
							}

							.tit {
								font-size: 16px;
							}
						}

						.dues_detail {}
					}
				}
			}
		}
	}
}

//포스트페이랩 끝

//모임서비스 모임상세 헤더
.titlebar {
	&.postpay {
		&.type6 {
			.left {
				padding-left: 10px;
			}

			.right {
				padding-right: 20px;

				.btn {
					padding: 4px 10px 4px 30px;
					border: 1px solid $lightgray2;
					border-radius: 13px;
					background: url(../../resources/img/content/ico_service_info.png) no-repeat 10px center / 15px 15px;
					font-size: 12px;
				}
			}
		}
	}
}

//제로페이 헤더
.zeropay_header {
	display: flex;
	justify-content: space-between;

	.zeropay_tit {
		font-size: 18px;


		img {
			width: 62px;
			height: 18px;
			margin-right: 10px;
			vertical-align: -2px;
		}
	}
}

//포스트페이 QR결제 확대 팝업 헤더부분
.popup_tit_postpay {

	img {
		width: 68px;
		height: 25px;

	}
}

//교통결제 웹뷰 헤더부분

.popup_tit_postpay2 {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 500;

	img {
		margin-right: 10px;
	}
}

//포스트페이 바텀시트 팝업 헤더
.postpay_bottom_header {
	display: flex;
	flex: 1;
	justify-content: space-between;

	span {
		img {
			width: 68px;
			height: 25px;

		}
	}
}