// 포스트페이1

//qr스캔
.qr_tit {
	text-align: center;
	padding: 8px 0 20px 0;
}

.qr_tit2 {
	color: $white;
	text-align: center;
	padding: 31px 0;
}

.qr_area {
	background: $darkgray;
	height: 350px;
	border-radius: 16px;

	.qr_frame {
		width: 100%;
		max-width: 275px;
		height: 230px;
		max-height: 300px;
		border-radius: 8px;
		background-color: rgba(255, 255, 255, .1);
		margin: 0 auto;
		position: relative;

		.edge {
			img {
				width: 17px;
				height: 17px;
			}
		}

		.edge2 {
			img {
				position: absolute;
				right: 0;
			}
		}

		.edge3 {
			img {
				position: absolute;
				left: 0;
				bottom: 0;
			}
		}

		.edge4 {
			img {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}
	}
}

.pament_wrap {
	float: right;
	display: flex;
	margin-top: 15px;
	margin-bottom: 152px;

	.payment {
		width: 90px;
		height: 70px;
		border: 1px solid #ddd;
		border-radius: 8px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: 15px;

		.payment_text {
			font-size: 13px;
			width: 35px;
			text-align: center;
			line-height: 15px;
			padding-left: 8px;

		}
	}

	.qr_payment {
		img {
			width: 26px;
			height: 38px;
			vertical-align: -10PX;
		}
	}

	.nfc_payment {
		img {
			width: 26px;
			height: 38px;
			vertical-align: -10PX;
		}
	}
}

.payment_bottom {
	border-radius: 10px 10px 0 0;
	padding-top: 27px;
	box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, .15);
	// box-shadow: 0px -1px 35px 0px rgb(0 0 0 / 13%);
	// -webkit-box-shadow: 0px -1px 35px 0px rgb(0 0 0 / 13%);

	.container {
		.price {
			font-size: 26px;

			span {
				font-size: 20px;
				padding-left: 3px;
			}
		}

		.place {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding-bottom: 24px;


			.account {
				font-size: 12px;
				color: $darkgray;
			}

			.recent_payment {
				color: $white;
				font-size: 11px;
				padding: 5px 6px;
				background-color: $orange;
				border-radius: 3px;

			}
		}
	}
}

.postpay_bottom_popup {
	.popup_header {
		justify-content: space-between;

		span {
			img {
				width: 68px;
				height: 25px;

			}
		}
	}

	.tf_item {
		background-color: $bg-lightgray;
		padding: 9px 20px;

		.tf_item_body {

			.input_area {
				padding-top: 0;
				display: flex;
				justify-content: space-between;


				.pay_info {
					font-size: 14px;
				}
			}


			i {
				position: relative;
				top: 2px;
			}
		}
	}

	.pay_price {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 21px;

		.pay_price_tit {
			font-size: 13px;
			color: $gray;

		}

		.pay_price_cont {
			font-size: 26px;

			span {
				font-size: 20px;
				padding-left: 7px;
			}
		}
	}

	.pay_info_wrap {
		border: 1px solid #ddd;
		border-radius: 8px;
		padding: 20px 20px;
		margin-bottom: 105px;

		.pay_info2 {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 10px;

			.pay_info_tit {

				color: $gray;
			}
		}

		.pay_info2:last-child {
			margin-bottom: 0;
		}
	}
}

//QR결제
.qr_tit3 {
	text-align: center;
	padding-bottom: 5px;
	padding-top: 8px;
}

.qr_tit4 {
	text-align: center;
	padding-bottom: 20px;
}

.box {
	&.box_qr {
		&.box_qr_postpay {
			border-radius: 25px;
			padding-top: 54px;
			padding-bottom: 30px;
			position: relative;

			.btn_time_limit {
				font-size: 16px;
				padding: 15px 19px;
				margin-top: 28px;
			}

			.btn_refresh_postpay {
				background: url(../../resources/img/content/ico_refresh03.png) no-repeat center;
				background-size: 30px 27px;
				width: 30px;
				height: 27px;
				display: inline-block;
				vertical-align: middle;
				position: absolute;
				top: 23px;
				right: 25px;
			}
		}
	}
}

//QR결제코드확대팝업

.popup_tit_postpay {
	img {
		width: 68px;
		height: 25px;
	}
}

.popup_body_postpay {
	.barcode_top {
		transform: rotate(90deg);
		width: 403px;
		margin: 0 auto;

		.popup_header {
			padding: 0 2px 25px;
		}

		.barcode_popup {
			margin-top: 130px;

			.barcode_num {
				text-align: left;
			}
		}

	}

	.code_popup {
		text-align: center;
		margin-top: 100px;

		.qr_img {
			width: 225px;
			height: 225px;
		}

		.barcode_img {
			width: 403px;
			height: 173px;
		}

	}

	.btn_wrap {
		text-align: center;
		position: relative;

		.btn_time_limit {
			font-size: 16px;
			padding: 15px 15px 15px 18px;
			height: none;
			margin-top: 198px;

			.btn_refresh_popup {
				display: inline-block;
				background: url(../../resources/img/content/ico_refresh04.png) no-repeat 0 center;
				background-size: 15px 13px;
				width: 15px;
				height: 13px;
				margin-left: 9px;
			}
		}
	}

	.tab_menu3 {

		.tab_list {
			text-align: center;
			margin-top: 50px;
			display: flex;
			justify-content: center;

			li {
				margin-right: 10px;
				padding: 12px 19px;
				background: $gray;
				color: $white;
				border-radius: 8px;

				&.on {
					background: $lightgray2;
				}
			}
		}
	}

	.bottom_text {
		text-align: center;
	}
}

//nfc결제
.nfc_box {
	width: 100%;
	height: 320px;
	border: 1px solid #ddd;
	border-radius: 25px;
	margin: 27px auto 0 auto;
	position: relative;

	img {
		width: 86px;
		height: 102px;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-40%, -50%);
	}
}

//결제완료
.pay_done {
	padding: 30px 0 38px 0;
	text-align: center;

	.check_done {
		border-radius: 50%;
		background-color: $primary;
		width: 45px;
		height: 45px;
		display: inline-block;
		margin: 0 auto;
		text-align: center;

		img {
			width: 22px;
			height: 17px;
			margin-top: 50%;
			margin-left: 50%;
			transform: translate(-50%, -40%);
		}
	}

	.txt_done {
		font-size: 18px;
		padding-top: 15px;
	}
}

.postpay_bottom_popup {
	.pay_info_wrap2 {
		margin-bottom: 46px;
	}
}

//제로페이 헤더
.zeropay_header {
	display: flex;
	justify-content: space-between;

	.zeropay_tit {
		font-size: 18px;


		img {
			width: 62px;
			height: 18px;
			margin-right: 10px;
			vertical-align: -2px;
		}
	}
}

//이용약관
.use_terms {
	height: 100%;
	background-color: #f3f3f3;
	text-align: center;
	font-size: 25px;
	padding: 305px 0;
	border-radius: 16px;
}

.btn_group_terms {
	padding-top: 20px;

	.btn_default_zeropay {
		background-color: $white;
		border: 1px solid $lightgray2;
	}
}

//교통카드
.btn_group {
	&.btn_group_flex {
		&.btn_traffic {
			padding-top: 35px;

			.btn+.btn {
				margin-left: 0;
			}
		}
	}
}

//모임서비스 바텀시트
.postpay_bottom {
	padding-top: 18px;
	padding-bottom: 15px;
	border-radius: 16px 16px 0 0;
	box-shadow: 1px 1px 15px -1px rgba(0, 0, 0, .15);

	.postpay_bottom_menu {
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: space-between;

		li {

			p {
				color: $lightgray;
				font-size: 12px;
				font-weight: 500;
			}

			p.on {
				color: $darkgray;
			}
		}

		.purse {
			img {
				width: 23px;
				height: 18px;
			}
		}

		.calendar {
			img {
				width: 22px;
				height: 21px;
			}
		}

		.pay {
			img {
				width: 20px;
				height: 19px;
			}
		}

		.remittance {
			img {
				width: 19px;
				height: 18px;
			}
		}
	}
}