//포스트페이 : 퍼블 3

.popup_tit {
	&.txt_s18 {
		font-size: 18px;
	}

	span {
		&.link_arrow {
			margin-left: 13px;

			a {
				display: block;
				font-size: 14px;
				font-weight: 400;
				color: #555;
				background: url(/resources/img/content/ico_link_arrow_gray.png);
				background-repeat: no-repeat;
				background-size: 6px 10.5px;
				background-position: center right 0px;
				width: 62px;
			}
		}
	}
}

.cons_inner {
	.cons_box {
		&.box_inco {
			display: flex;
			flex-wrap: wrap;

			span {
				padding: 1px 11px 1px 11px;
				border-radius: 12.5px;
				background-color: #fff;
				border: 2px solid #bccbdb;
				font-size: 12px;
				color: #111;
				font-weight: 500;
				text-align: center;
				margin-right: 4.5px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}

		&.box_expe {
			display: flex;
			flex-wrap: wrap;

			span {
				padding: 1px 11px 1px 11px;
				border-radius: 12.5px;
				background-color: #fff;
				border: 2px solid #f8c1be;
				font-size: 12px;
				color: #111;
				font-weight: 500;
				text-align: center;
				margin-right: 4.5px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}

		&.box_exce {
			display: flex;
			flex-wrap: wrap;

			span {
				padding: 1px 11px 1px 11px;
				border-radius: 12.5px;
				background-color: #fff;
				border: 2px solid #dddddd;
				font-size: 12px;
				color: #111;
				font-weight: 500;
				text-align: center;
				margin-right: 4.5px;

				&:last-child {
					margin-right: 0px;
				}
			}
		}

		span {
			&.box_expe {
				padding: 1px 11px 1px 11px;
				border-radius: 12.5px;
				background-color: #fff;
				border: 2px solid #f8c1be;
				font-size: 12px;
				color: #111;
				font-weight: 500;
				text-align: center;
				margin-right: 4.5px;
				margin-bottom: 9.5px;
				display: inline-block;

				&:last-child {
					margin-right: 0px;
				}

			}

			&.box_exce {
				padding: 1px 11px 1px 11px;
				border-radius: 12.5px;
				background-color: #fff;
				border: 2px solid #dddddd;
				font-size: 12px;
				color: #111;
				font-weight: 500;
				text-align: center;
				margin-right: 4.5px;
				margin-bottom: 9.5px;
				display: inline-block;

				&:last-child {
					margin-right: 0px;
				}
			}
		}
	}

	&.bdr_t_type02 {
		border-top: 1px solid #e9e9e9;
		padding-top: 15px;
	}

	//list_cons
	.list_cons {
		padding: 11px 0px 0px 0px;

		.ico {
			&.ico_circle_card {
				display: inline-block;
				background: url(/resources/img/content/ico_circle_card.png);
				background-repeat: no-repeat;
				background-size: 30px 30px;
				width: 30px;
				height: 30px;
				position: absolute;
				margin-top: 3px;
			}
		}

		strong {
			display: block;
			font-size: 15px;
			color: #555;
			padding-left: 40px;

			.tag {
				display: block;
				font-size: 12px;
				line-height: 18px;
				color: #999;
				font-weight: 400;
			}
		}

		.info {
			width: 55%;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			span {
				font-size: 16px;
				line-height: 12px;
				color: #333;
				font-weight: bold;
				margin-right: 2px;

				span {
					font-size: 15px;
					font-weight: 400;
				}

				&.price_only {
					margin-right: 101px;
				}
			}

			.toggle_btn {
				display: inline-block;
				text-align: center;
				width: 45px;
				height: 25px;
				border-radius: 4px;
				border: 1px solid #ddd;
				font-size: 12px;
				color: #555;
				font-weight: 500;
				line-height: 23px;
				margin-left: 4.5px;

				&.active {
					border-radius: 4px;
					border: 1px solid #111;
					color: #111;
					font-weight: 500;
				}
			}
		}
	}
}

.bottom_search_area {
	width: 100%;
	height: 90px;
	filter: drop-shadow(0px -2.5px 2.5px rgba(0, 0, 0, 0.05));
	background-color: #fff;
	padding: 20px;

	.tf_item_body {
		min-height: auto;
		max-height: 50px;

		.input_area {
			display: flex;
			padding-top: 0px;

			.opt {
				width: 105px;

				&+.tf {
					padding-left: 18px;
					font-size: 16px;
					color: #666;
					font-weight: 300;
				}
			}
		}

		.btn_area {
			.btn_search {
				width: 15px;
				height: 15px;
				background: url(/resources/img/content/ico_search.png);
				background-size: 15px 15px;
				background-position: center center;
				background-repeat: no-repeat;
			}
		}
	}
}

.transparent_type02 {
	border: 0;
	border-bottom: 1px solid #111;
	border-radius: 0;
	margin-bottom: 5px;
	padding: 5px 4px 5px;

	.input_area {
		padding: 0;

		input {
			font-size: 16px;
			line-height: 22px;
			color: #555;
		}
	}
}

//list-set
.list_mt_7 {
	li+li {
		margin-top: 7px;
	}
}

.notice_aera {
	display: flex;
	flex-direction: column;

	p {

		position: relative;

		.ico {
			&.ico_notice {
				position: absolute;
				top: 6px;
			}
		}

		span {
			padding-left: 21px;
			display: block;
		}
	}
}

.btn_area {
	.btn_round_type {
		width: 100%;
		height: 55px;
		border-radius: 8px;
		background-color: #fff;
		border: 1px solid #bbb;

		.ico {
			&.ico_passbook2 {
				background: url(/resources/img/content/ico_passbook2.png);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 25px 20px;
				width: 25px;
				height: 20px;
				margin-right: 14px;
			}
		}
	}
}

.tit_icon {
	display: flex;

	.ico {
		&.ico_document_check {
			background: url(/resources/img/content/ico_document_check.png);
			background-size: 20px 21.5px;
			background-position: center center;
			width: 20px;
			height: 21.5px;
			display: inline-block;
		}

		&.ico_passbook2_sm {
			background: url(/resources/img/content/ico_passbook2_sm.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 20px 16px;
			width: 20px;
			height: 16px;
			margin-right: 7px;
			display: inline-block;
		}

		&.ico_clip {
			background: url(/resources/img/content/ico_clip.png);
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 18px 14px;
			width: 18px;
			height: 14px;
			margin-right: 7.5px;
			display: inline-block;
		}
	}
}

.postpay {
	&.cancel {
		.check_list {
			&.check_list_type02 {
				padding: 15px;

				li+li {
					margin-top: 9px;
				}
			}
		}
	}
}

.lh_21 {
	line-height: 21px;
}

.lh_25 {
	line-height: 25px;
}

.txt_sp {
	letter-spacing: -2px;
}

.bg_drop {
	width: 100%;
	height: 60px;
	filter: drop-shadow(0px 2.5px 2.5px rgba(0, 0, 0, 0.05));
	background-color: #fff;
}


a {
	&.link_arrow {
		display: block;
		font-size: 14px;
		color: #555;
		background: url(/resources/img/content/ico_link_arrow_gray.png);
		background-repeat: no-repeat;
		background-size: 6px 10.5px;
		background-position: center right 0px;
		padding-right: 10px;
	}
}


//set_channel
.set_channel {
	margin: 2px 0px 0px 10px;

	li {
		.tit_ico {
			strong {
				.ico {
					&.ico_set_postpay {
						background: url(/resources/img/content/ico_set_postpay_on.png);
						background-size: 22px 24px;
						background-position: center center;
						width: 22px;
						height: 24px;
						display: inline-block;
						vertical-align: middle;
						margin-right: 12px;
					}

					&.ico_set_internet {
						background: url(/resources/img/content/ico_set_internet_on.png);
						background-size: 25px 22px;
						background-position: center center;
						width: 25px;
						height: 22px;
						display: inline-block;
						vertical-align: middle;
						margin-right: 15px;
						margin-left: -3px;
					}

					&.ico_set_smartbank {
						background: url(/resources/img/content/ico_set_smartbank_on.png);
						background-size: 22px 24px;
						background-position: center center;
						width: 22px;
						height: 24px;
						display: inline-block;
						vertical-align: middle;
						margin-right: 15px;
					}
				}
			}

			&.off {
				strong {
					.ico {
						&.ico_set_postpay {
							background: url(/resources/img/content/ico_set_postpay_off.png);
							background-size: 22px 24px;
							background-position: center center;
							width: 22px;
							height: 24px;
							display: inline-block;
							// vertical-align: middle;
						}

						&.ico_set_internet {
							background: url(/resources/img/content/ico_set_internet_off.png);
							background-size: 25px 22px;
							background-position: center center;
							width: 25px;
							height: 22px;
							display: inline-block;
						}

						&.ico_set_smartbank {
							background: url(/resources/img/content/ico_set_smartbank_off.png);
							background-size: 22px 24px;
							background-position: center center;
							width: 22px;
							height: 24px;
							display: inline-block;
						}
					}
				}
			}
		}

		&+li {
			margin-top: 9px;
		}

		.check_switch {
			label {
				padding-right: 10px;
				padding-left: 22px;
			}

			input:checked+label {
				padding-right: 28px;
				padding-left: 13px;
			}
		}
	}
}


//모임서비스초대장
.box_invite {
	width: 77px;
	height: 81.5px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bg_lightblue02 {
	background-color: #e5f7fe;
}

.txt_lg_18 {
	font-size: 18px;
}

//모임 초대하기
.tab_menu {
	&.tab_menu3 {
		.tab_list {
			display: flex;

			li {
				flex: 1 1 25%;
				font-size: 14px;
				border: 1px solid #ddd;
				border-radius: 4px;
				color: #555;
				font-weight: 400;
				height: 35px;
				padding: 0 18px;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				vertical-align: middle;
				overflow: hidden;
				line-height: 17px;

				&+li {
					margin-left: 10px;
				}

				&.on {
					position: relative;
					border: 1px solid #111;
					color: #111;
					// background-color: #fff;
				}

				a {
					display: block;
				}
			}
		}

		&.menu3_type02 {
			.tab_list {
				li {
					height: 25px;
					font-size: 12px;
					position: relative;
					flex: 1 1 auto;
					background: url(/resources/img/content/ico_tab_check_gray.png);
					background-size: 11px 7.5px;
					background-repeat: no-repeat;
					background-position: center left 9px;
					padding-right: 21px;
					padding: 0px 20px 0px 15px;

					&.on {
						background: url(/resources/img/content/ico_tab_check.png);
						background-size: 11px 7.5px;
						background-repeat: no-repeat;
						background-position: center left 9px;
					}

					a {
						span {
							padding-left: 20px;
						}
					}

					&+li {
						margin-left: 2px;
					}
				}
			}
		}
	}
}

.txt_invite {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 15px;
	padding-bottom: 40px;

	.ico {
		&.ico_invite_bubble {
			background: url(/resources/img/content/ico_invite_bubble.png);
			background-position: center center;
			background-size: 17px 15px;
			background-repeat: no-repeat;
			width: 17px;
			height: 15px;
			display: inline-block;
			margin-right: 5px;
			// margin-top: 5px;
		}
	}
}

.bg_drop_top {
	width: 100%;
	height: auto;
	filter: drop-shadow(0px 2.5px 2.5px rgba(0, 0, 0, 0.05));
	background-color: #fff;
}

.invite_wrap {
	ul {
		li {
			border-bottom: 1px solid #f2f2f2;
			padding: 13px 0;

			.check_item {
				width: 100%;
				font-size: 16px;

				>input[type=checkbox] {
					position: absolute;
					width: 1px;
					height: 1px;
					opacity: 0;

					&+label {
						padding-left: 0;
						background-image: url(/resources/img/content/ico_star.png);
						background-position: right;
						background-repeat: no-repeat;
						background-size: 20px auto;
					}

					&:checked+label {
						background-image: url(/resources/img/content/ico_star_primary.png);
					}
				}

				label {
					display: block;
					color: #111;

					span {
						padding-left: 5px;
						color: #000011;
						min-width: 27%;
						display: inline-block;
					}

					em {
						// padding-left: 40px;
						font-style: normal;
					}
				}
			}

			&:first-child {
				border-top: 0;
				margin-top: 5px;
			}
		}
	}
}

.popup_footer {
	.fixed_invite_wrap {
		margin-left: -20px;
		margin-right: -20px;

		.btm_slide_menu {
			padding: 0px;
			border-radius: 0;
			box-shadow: none;

			.slick-list {
				overflow: hidden;

				.slick-track {
					opacity: 1;
					width: auto;
					transform: translate3d(0px, 0px, 0px);
				}
			}

			.slide_menu {
				background-color: #ccc;
				padding-top: 10px;
				text-align: center;
				padding: 10px 27px 10px 27px;
				position: relative;

				.slick-slide {
					margin: 0 10px 0 0px;
					min-width: 75px;

				}

				.slide_menu_li {
					&>button {
						display: block;
						height: 30px;
						width: 100%;
						min-width: 75px;
						border-radius: 15px;
						background-color: rgba(255, 255, 255, 0.3);
						padding: 5px 0;

						&.active {
							background-color: #fff;
							color: #111;
							font-weight: 500;
						}
					}

					&+li {
						margin-left: 5px;
					}
				}

			}



			.slick-slide {
				display: block;
				width: 75px;
				margin: 0 5px;
				float: left;
			}
		}

		.slick-prev {
			position: absolute;
			background: url(/resources/img/content/ico_slick_prev.png);
			background-size: 9.5px 16.5px;
			width: 9.5px;
			height: 16.5px;
			overflow: hidden;
			text-indent: -99999px;
			top: calc(50% - 7.5px);
			left: 10px;
		}

		.slick-next {
			position: absolute;
			background: url(/resources/img/content/ico_slick_next.png);
			background-size: 9.5px 16.5px;
			width: 9.5px;
			height: 16.5px;
			overflow: hidden;
			text-indent: -99999px;
			top: calc(50% - 7.5px);
			right: 10px;
		}

		.board_search {
			.tf {
				font-size: 16px;
				color: #666;
			}
		}
	}
}

.join_member {
	display: flex;
	flex-wrap: wrap;

	li {
		position: relative;
		display: inline-block;
		min-width: 75px;
		height: 35px;
		margin-bottom: 14px;
		margin-right: 8px;
		padding: 6px 13.5px 6px 16px;
		border-radius: 17.5px;
		background-color: #fff;
		border: 2px solid #fdc61c;
		line-height: 19px;


		span {
			text-align: center;
			font-size: 14px;
			color: #111;
			font-weight: 500;
		}

		button {
			.ico {
				&.ico_close_join {
					background: url(/resources/img/content/ico_close_join.png);
					background-size: 21px 21px;
					width: 21px;
					height: 21px;
					position: absolute;
					display: inline-block;
					top: -6px;
					right: -8px;
				}
			}

		}
	}
}

// 모임상세 회원
.tab_list {
	&.list_eq {
		li {
			flex: 1 1 33.3%;
		}
	}
}

//카드ocr 연결
.popup {
	&.popup_photo {
		position: relative;

		.popup_header {
			.popup_tit {
				color: #fff;

				&.tit_lg {
					font-size: 18px;
				}
			}

			.btn.btn_close_popup_white {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				width: 56px;
				height: 56px;
				background: url(/resources/img/content/ico_close_white.png) no-repeat center center;
				background-size: 15px 15px;
				display: inline-block;
				background-repeat: no-repeat;
				background-position: center center;
				overflow: hidden;
				text-indent: -9999px;
				overflow: hidden;
				text-align: left;
				overflow: hidden;
			}
		}

		.popup_body {
			.container {
				.txt_photo_guide {
					font-size: 16px;
					color: #fff;
					position: absolute;
					top: 23.8%;
					font-weight: 500;
					left: calc(50% - 107.4px);

					&.guide_bot {
						// width: 100%;
						top: 62%;
						left: calc(50% - 136.5px);
						text-align: center;
					}

				}
			}
		}

		.popup_footer {
			.txt_photo_guide {
				&.guide_bot02 {
					font-size: 16px;
					font-weight: 500;
					color: #fff;
					margin-bottom: 20px;
					text-align: center;
				}
			}
		}

		.filming_box {
			width: 300px;
			height: auto;
			position: absolute;
			top: calc(50% - 140px);
			left: calc(50% - 150px);
			z-index: -10;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}



//기존 수정
.top_ico_txt {
	&.office02 {
		align-items: center;
		height: 40px;

		&::before {
			width: 50px;
			height: 25px;
			background-image: url(/resources/img/content/ico_korea_post.png);
			background-position: center bottom;
			background-size: 35px 24px;
		}
	}
}

.toggle_btn {
	&.toggle_btn_md {
		width: 65px;
	}
}

.list_tit {
	&.break_dues02 {
		background: url(/resources/img/content/ico_medal.png) no-repeat 24px center;
		background-size: 15px 25px;
	}
}

.postpay {
	.service_top {
		&.top_style02 {
			.service_top_tit {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: 0px;

				.tit {
					display: flex;
					align-items: center;
					line-height: 34px;
					margin-right: 10px;
					padding-left: 0px;
					background: none;

					.tit_link {
						font-size: 16px;
					}

					.tit_user_bg {
						width: 30px;
						height: 30px;
						border-radius: 15px;
						display: block;
						background-color: #ffc56f;
						margin-right: 5px;
					}

					.ico {
						&.ico_together {
							display: inline-block;
							width: 30px;
							height: 30px;
							background: url(/resources/img/content/ico_together.png) no-repeat 0 50%/30px 30px;
							background-size: 23px 16px;
							background-position: center center;
							background-repeat: no-repeat;
						}
					}
				}

				.division {
					margin-top: 2px;
					padding: 0px 8px 0px 8px;
					border-radius: 3px;
					background-color: #111;
					font-size: 10px;
					font-weight: 300;
					font-weight: 400;
					color: #fff;
					text-align: center;

					&.manage {
						padding: 0px 16px 0px 6.5px;
						background-image: url(../../resources/img/content/ico_manage.png);
						background-repeat: no-repeat;
						background-position: 36px center;
						background-size: 9px 9px;
					}
				}
			}

			.target {
				.target_date {
					line-height: 9px;
				}

				.target_amount {
					.num {
						font-weight: 600;
					}
				}
			}

			.btn_group {
				word-spacing: 2px;

				.btn {
					padding: 10px 46px 10px 71px;

					&.con_btn {
						background-image: url(/resources/img/content/ico_mini_bubble.png);
						background-repeat: no-repeat;
						background-position: 47px center;
						background-size: 15px 12px;
					}

					&.rem_btn {
						background-image: url(/resources/img/content/ico_cash02.png);
						background-repeat: no-repeat;
						background-position: 47px 55%;
						background-size: 18px 17px;

						&.rem_btn2 {
							padding: 10px 33.41px 10px 58px;
							background-position: 34px 55%;
						}
					}
				}
			}
		}
	}
}

.box {
	&.box_list {
		width: 100%;
		// height: 330px;
		border-radius: 8px;
		background-color: #fff;
		border: 1px solid #ddd;
		padding: 0px;

		li {
			padding: 14.5px 15px 14.5px 19px;

			strong {
				font-size: 16px;
			}

			.btn_reset_red {
				background-image: url(/resources/img/content/ico_reset_red.png);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 21px 21px;
				display: inline-block;
				width: 21px;
				height: 21px;
				text-indent: -99999px;
				margin-right: 4px;
			}

			.lab_alarm {
				width: 94px;
				height: 25px;
				border-radius: 4px;
				background-color: #eee;
				font-size: 13px;
				text-align: center;
				line-height: 25px;
				color: #111;
				display: flex;
				align-items: center;
				justify-content: center;
				padding-left: 10px;

				.alarm {
					display: inline-block;
					width: 16px;
					height: 16px;
					line-height: 16px;
					margin-left: 10px;
					padding: 0;
					border-radius: 50%;
					background-color: #777;
					font-size: 10px;
					color: #fff;
					text-align: center;
					padding-right: 1px;
				}
			}

			&+li {
				border-top: 1px solid #ddd;

			}
		}
	}
}

//전자지갑 관리
.modal_popup {
	&.modal_wallet_set {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

		.dimed {
			background: rgba(0, 0, 0, 0.9);
			;
		}

		.popup_header {
			width: 100%;
			height: 50px;
			padding: 15px 0px;
			display: flex;
			justify-content: center;
			z-index: 1200;

			.tit1 {
				font-size: 18px;
				line-height: 24px;
				color: #fff;
				font-weight: 500;
				text-align: center;
				margin: 0;
			}
		}

		.popup_wallet_inner {
			width: 100%;
			height: 100%;
			position: relative;
			z-index: 1100;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			.wallet_inner {
				display: flex;
				flex-direction: column;
				overflow: scroll;
				width: 100%;

				.tit2 {
					font-size: 16px;
					line-height: 24px;
					color: #fff;
					font-weight: 500;
				}

				.top_inner {
					width: 100%;
					height: auto;
					padding: 0px 20px 0px 20px;

					.box_area {
						display: flex;

						.box_add_area {
							height: 95px;
							border-radius: 10px;
							background-color: #fff;
							flex: 1 1 33.3%;
							position: relative;

							.head_area {
								height: 100%;

								.ico {
									&.ico_wallet_post {
										width: 32.5px;
										height: 16px;
										background: url(/resources/img/content/ico_wallet_post.png) no-repeat center center;
										background-size: 32.5px 16px;
										display: inline-block;
										background-position: center center;
										position: absolute;
										left: calc(50% - 35px);
										top: calc(50% - 24px);
									}

									&.ico_wallet_openbank {
										width: 34px;
										height: 31px;
										background: url(/resources/img/content/ico_wallet_openbank.png) no-repeat center center;
										background-size: 34px 31px;
										display: inline-block;
										background-position: center center;
										position: absolute;
										left: calc(50% - 32px);
										top: calc(50% - 32px);
									}

									&.ico_wallet_card {
										width: 32px;
										height: 23px;
										background: url(/resources/img/content/ico_wallet_card.png) no-repeat center center;
										background-size: 32px 23px;
										display: inline-block;
										background-position: center center;
										position: absolute;
										left: calc(50% - 32px);
										top: calc(50% - 27px);
									}
								}

								span {
									position: absolute;
									right: calc(50% - 34px);
									top: calc(50% - 29px);
									font-size: 14px;
									color: #333;
									font-weight: 500;
								}
							}

							.bot_area {
								width: 100%;
								height: 35px;
								border-radius: 0px 0px 10px 10px;
								background-color: #eee;
								position: absolute;
								bottom: 0;
								display: flex;
								align-items: center;
								padding: 0px 10px;

								.btn_add {
									width: 100%;
									height: 100%;
									display: flex;
									align-items: center;
									justify-content: space-between;

									strong {
										font-size: 10px;
										line-height: 22px;
										color: #333;
										font-weight: 500;
										margin-bottom: 2px;
										letter-spacing: -1px;
									}

									.ico {
										display: flex;

										&.ico_wallet_add {
											width: 16px;
											height: 16px;
											background: url(/resources/img/content/ico_wallet_add.png) no-repeat center center;
											background-size: 16px 16px;
											display: inline-block;
											background-position: center center;
											position: absolute;
											right: 0;
										}
									}
								}

							}

							&+.box_add_area {
								margin-left: 17px;
							}
						}
					}

					.bul_notice_white {
						position: relative;
						padding-left: 22px;
						color: #fff;
						font-size: 14px;
						font-weight: 200;
						margin-top: 5px;

						&:before {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 0.3em;
							width: 15px;
							height: 15px;
							background: url(/resources/img/content/ico_notice_white.png) no-repeat;
							background-size: cover;
						}
					}
				}

				.body_inner {
					width: 100%;
					height: auto;
					margin-top: 20px;
					display: block;
					overflow: scroll;
					padding: 0px 20px 0px 20px;

					.box_area {
						display: flex;
						flex-direction: column;

						.box_add_area {
							width: 100%;
							height: 60px;
							border-radius: 10px;
							filter: drop-shadow(0px 2.5px 2.5px rgba(0, 0, 0, 0.05));
							background-color: #fff;
							padding: 0px 20px 0px 15px;
							display: flex;
							align-items: center;
							justify-content: space-between;


							.tit_area {
								display: flex;
								align-items: center;

								strong {
									font-size: 14px;
									color: #111;
									font-weight: 500;
									display: flex;
									flex-direction: column;
									line-height: 18px;

									span {
										font-size: 12px;
										color: #333;
										font-weight: 200;
									}
								}

								.ico {
									margin-right: 4px;
									width: 56px;

									&.ico_wallet_postpay {
										width: 56px;
										height: 21px;
										background: url(/resources/img/content/ico_wallet_postpay.png) no-repeat center center;
										background-size: 56px 21px;
										display: inline-block;
										background-position: center center;
									}

									&.ico_wallet_user {
										height: 22px;
										background: url(/resources/img/content/ico_wallet_user.png) no-repeat center center;
										background-size: 32px 22px;
										display: inline-block;
										background-position: center left 6px;
									}

									&.ico_wallet_menber {
										height: 25px;
										background: url(/resources/img/content/ico_wallet_menber.png) no-repeat center center;
										background-size: 29px 25px;
										display: inline-block;
										background-position: center left 6px;
									}

									&.ico_wallet_zeropay {
										height: 11px;
										background: url(/resources/img/content/ico_wallet_zeropay.png) no-repeat center center;
										background-size: 40px 11px;
										display: inline-block;
										background-position: center left 3px;
									}

									&.ico_wallet_card02 {
										height: 25px;
										background: url(/resources/img/content/ico_wallet_card02.png) no-repeat center center;
										background-size: 35px 25px;
										display: inline-block;
										background-position: center left 3px;
									}
								}
							}

							.btn_agree {
								width: 125px;
								height: 25px;
								border-radius: 12.5px;
								background-color: #fff;
								border: 1px solid #bbb;
								font-size: 12px;
								color: #111;
								font-weight: 500;
								text-align: center;
								line-height: 22px;
							}

							&+.box_add_area {
								margin-top: 15px;
							}
						}
					}
				}
			}
		}

		.popup_footer {
			width: 100%;
			min-height: 140px;
			position: relative;
			display: block;
			z-index: 2000;

			.btn_close_popup {
				display: block;
				position: absolute;
				top: calc(50% - 26.5px);
				right: calc(50% - 25.5px);
				width: 51px;
				height: 51px;
				background: url(/resources/img/content/ico_close_xl.png) no-repeat center center;
				background-size: 51px 51px;
				display: block;
				background-position: center center;
				text-indent: -9999px;
			}
		}
	}
}

.payment_wrap {
	&.wrap02 {
		position: relative;

		.payment {
			position: absolute;
			right: 0;
		}
	}
}

.password_masking {
	&.mask_darkgray {
		i {
			background-color: #999;
		}
	}
}

.memo_hash {
	&.hash_type02 {
		li {
			margin-right: 4.5px;
			margin-bottom: 9.5px;
			border-radius: 12.5px;
			padding: 0px 12px;

			&.blue {
				border: 2px solid #bccbdb;
			}
		}
	}
}