//포스트 페이 - 선영
$font-size-mxl : 20px;

.txt_mxl {
	font-size: $font-size-mxl !important;
}

.block {
	display: block !important;
}

.inline_block {
	display: inline-block !important;
}

.bd_top_line {
	border-top: 1px solid $border-base;
}

.txt_highlighter {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 100%;
		height: 5px;
		background-color: $primary;
		z-index: -1;
	}
}

.txt_c_guide {
	font-size: 16px;
	text-align: center;
	font-weight: 200;

	.txt_xxxl {
		font-size: 26px;
	}

}

.popup_header {
	.pop_tit2 {
		font-size: 18px;
		line-height: 20px;
	}
}

.finance_calendar {
	position: relative;
	margin-bottom: 120px;
}

.finance_header {
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	padding: 20px 0 25px;
	@include container;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05);
	z-index: 100;
	background-color: #fff;

	.total_price {
		display: flex;
		justify-content: space-between;

		em {
			font-style: normal;
			font-size: 16px;
		}

		>span {
			line-height: 1;
			font-size: 20px;
			font-weight: 500;

			strong {
				font-size: 26px;
			}
		}
	}
}

.fn_calendar {
	padding-top: 120px;
	padding-bottom: 20px;
	background-color: $bg-lightgray;

	.cal_header {
		@include container;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		.cal_l {
			float: left;
		}

		.cal_r {
			float: right;
		}

		.selectbox_wrap {
			height: 40px;

			dl {
				dt {
					a {
						font-size: 19px;
						font-weight: 500;

						span {
							margin-left: 7px;
							margin-right: 24px;

							&:after {
								right: 10px;
							}
						}
					}
				}
			}
		}

		.tab_cal {
			padding-top: 10px;

			li {
				float: left;
				text-align: center;
				width: 50px;
				height: 28px;
				background-image: url(#{$url-img}/content/img_cal_off.png);
				background-size: 41px 28px;
				background-repeat: no-repeat;

				a {
					display: block;
					padding-top: 3px;
					font-size: 11px;
					font-weight: 400;
					transform: rotate(-17deg);
				}

				&.on {
					background-image: url(#{$url-img}/content/img_cal_on.png);
				}
			}
		}
	}

	.cal_body {
		padding-left: 10px;
		padding-right: 10px;

		table {
			width: 100%;

			&.current {
				+.box_memo {
					.box_inner {
						display: none;
					}
				}
			}
		}

		thead {
			th {
				padding: 5px 0;
				color: #999;
				font-size: 13px;
				text-align: center;
				font-weight: 400;
			}
		}

		tbody {
			td {
				height: 53px;
				font-size: 16px;
				color: #555;
				vertical-align: top;
				text-align: center;

				&.on {
					.day {
						background-color: #111;
						color: #fff;
					}
				}

				.price {
					display: block;
					font-size: 10px;
					color: #333;
					align-self: center;
				}
			}
		}

		.hide {
			display: none;
		}

		.event {
			display: block;
			font-size: 11px;
			margin-top: 1px;
			letter-spacing: -.5px;
		}

		.day {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 34px;
			height: 34px;
			border-radius: 17px;
			font-weight: 400;
			cursor: pointer;

			&.today {
				background-color: #ff883a;
				color: #fff;
			}

			&.d_day {
				border-radius: 8px;
				background-color: #ffc56f;
			}

			&.bg {
				&_lightorange {
					background-color: #ffc56f;
				}

				&_darkblue {
					background-color: #7dbeea;
				}

				&_lightgreen {
					background-color: #a1e2a7;
				}
			}
		}
	}


	.date,
	small {
		font-size: 12px;
	}

	.box_memo {
		margin: 5px 10px 0;

		.bul_notice {
			font-size: 13px;
			//margin-left: -10px;
			letter-spacing: -.5px;
		}
	}


	.box_inner {
		display: none;
		background-color: #fff;
		border-radius: 15px;
		padding: 20px;

		&.show {
			display: block;
		}

		.date {
			display: block;
			margin-bottom: 16px;
		}
	}
}

.finance_body {
	padding-top: 5px;
	@include container;

	>div {
		display: none;
	}

	.detail_list {
		>li {
			padding: 20px 0 16px;
			border-bottom: 1px solid $border-base;

			>em {
				float: left;
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
			}

			>span {
				float: right;
				color: #111;
				font-weight: 500;
			}
		}
	}
}

.tag_group {
	.tag_list {
		display: inline-flex;
		flex-wrap: wrap;
		margin: -5px -2.5px;

		li {
			margin: 5px 2.5px;

			span {
				display: inline-block;
				height: 25px;
				padding: 0 15px;
				line-height: 21px;
				font-size: 12px;
				color: #111;
				border-radius: 12.5px;
				border-width: 2px;
				border-color: #f8c1be;
				border-style: solid;
				font-weight: 300;

				&:before {
					content: '#';
				}

				&.tag_gray {
					border-color: #ddd;
				}

				&.tag_blue {
					border-color: #bccbdb;
				}
			}
		}
	}
}

.flex_con_group {
	display: flex;
	justify-content: space-between;

	em {
		font-style: normal;
	}

	small {
		display: block;
	}

	.v_bottom {
		align-self: flex-end;
	}

	.v_center {
		align-self: center;
	}
}

.fn_list {
	&.bd_gray {
		>li {
			padding: 18px 0 14px;
			border-bottom: 1px solid $border-base;
		}
	}

	&.bd_top_line {
		li {
			&:last-child {
				border-bottom-width: 0;
			}
		}
	}

	li {
		+li {
			padding-top: 15px;
		}

		span {
			display: inline-block;
			vertical-align: middle;
			line-height: 1.2;

			&.date {
				font-size: 12px;
			}
		}

		.txt_sml {
			font-size: 12px;
		}

		small,
		.total_price {
			margin-top: 7px;
			color: #777;
			font-weight: 200;
		}

		.total_price {
			font-size: 11px;
			color: $gray;
		}

		em {
			display: block;
			font-style: normal;
			font-size: 15px;
			color: #555;
			font-weight: 400;

			&.tit {
				font-size: 16px;
				font-weight: 500;
				color: #111;
			}
		}

		.tag {
			margin-top: 4px;
			color: #999;
			font-size: 12px;

			&:before {
				content: '#';
			}
		}

		.box_round {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			margin-right: 10px;
			background-color: #e5e5e5;
			border-radius: 15px;
			//vertical-align: top;

			.ico {
				display: inline-block;
				width: 14px;
				height: 10px;
				background-image: url(#{$url-img}/content/ico_fn_card.png);
				background-size: 14px 10px;
				background-position: center center;
				background-repeat: no-repeat;

				&_fn_cash {
					background-image: url(#{$url-img}/content/ico_fn_cash.png);
				}

				&_fn_user {
					width: 20px;
					height: 12.5px;
					background-image: url(#{$url-img}/content/ico_fn_user.png);
					background-size: 20px 12.5px;
				}
			}

			&.bg_pink {
				background-color: #f5b6b8;
			}

			&.bg_lightgreen {
				background-color: #a1e2a7;
			}

			&.bg_lightblue {
				background-color: #7dbeea;
			}
		}

		.price {
			font-size: 16px;
		}
	}

	.inner_list {
		@include container;
	}
}

.chat_header {
	position: absolute;
	top: 56px;
	left: 0;
	width: 100%;
	z-index: 40;
	@include container;
	background-color: $primary;

	ul {
		height: 50px;
		padding-top: 10px;
		overflow-x: auto;
		white-space: nowrap;

		li {
			position: relative;
			display: inline-block;
			width: calc(25% - 4px);
			vertical-align: middle;
			font-size: 14px;
			text-align: center;


			&.on {
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
				background-color: #fff;
				font-weight: 500;
				border-radius: 15px;

				&::after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: -4px;
					width: 12.5px;
					height: 5px;
					background:url(#{$url-img}/content/bg_balloon_tail.png) 0 0 no-repeat;
					background-size: 12.5px 5px;
					transform: translateX(-50%);
				}
			}
		}
	}
}

//메세지
.chat_content {
	display: flex;
	flex-direction: column;
	padding: 70px 20px 60px;
	height: calc(100vh - 186px);
	overflow-y: auto;

	>time {
		display: block;
		//margin-bottom: 10px;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
	}

	.message {
		position: relative;
		margin: 7.5px 0;

		.balloon {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				width: 0;
				height: 0;
				border: 14px solid transparent;
				border-top: 0;
			}
		}

		&.notice {
			align-self: flex-end;
			margin: 15px 0;

			&_txt {
				text-align: center;
				font-size: 11px;
			}

			.balloon {
				width: 212px;
				padding: 20px;
				background-color: #fff;
				border-radius: 20px;
				border-radius: 20px 0 20px 20px;

				>* {
					display: block;
				}

				em {
					font-style: normal;
					font-weight: 400;
				}

				span {
					padding: 0;
				}

				.price {
					font-size: 19px;
					font-weight: 500;
				}

				.btn {
					display: block;
					margin-top: 10px;
					text-align: center;
					background-color: #e5e5e5;
				}

				&:after {
					border-right-width: 0;
					border-left-color: #fff;
					right: -5px;
				}
			}

			>* {
				font-size: 11px;

			}
		}

		.user {
			display: block;
			margin-bottom: 5px;
		}

		&.left {
			align-self: flex-start;

			.balloon {
				span {
					border-radius: 10px 20px 20px 20px;
				}

				&:after {
					border-left-width: 0;
					border-right-color: #fff;
					left: -5px;
				}
			}

			time {
				right: -35px;
			}
		}

		&.me {
			align-self: flex-end;

			.balloon {
				span {
					background-color: $primary;
					border-radius: 20px 10px 20px 20px;
					font-weight: 400;
				}

				&:after {
					border-right-width: 0;
					border-left-color: $primary;
					right: -5px;
				}
			}

			time {
				left: -35px;
			}
		}

		time {
			position: absolute;
			bottom: 0;
			font-size: 12px;
		}
	}

	.balloon {
		display: block;

		+.balloon {
			margin-top: 8px;
		}

		>span {
			display: inline-block;
			max-width: 270px;
			padding: 6px 15px;

			line-height: 22px;
			border-radius: 20px;
			background-color: #fff;
		}
	}
}

.chat_fixed_bottom {
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// width: 100%;
	box-shadow: -1px -2px 10px rgba(0, 0, 0, .2);

	.txt_guide_notice {
		position: absolute;
		top: -30px;
		left: 0;
		width: 100%;
		text-align: center;
	}

	.bul_notice {
		margin-bottom: 8px;
		font-size: 14px;
		text-align: center;

	}

	.chat_form_area {
		height: 60px;
		padding-top: 10px;
		@include container;
		background-color: $primary;
	}

	.chat_form {
		textarea {
			width: calc(100% - 45px);
			padding: 10px 20px 10px 40px;
			height: 40px;
			border-radius: 20px;
			background-color: #fff;
			background-image: url(#{$url-img}/content/ico_message.png);
			background-position: 10px center;
			background-size: 24px 19.5px;
			background-repeat: no-repeat;
			border: 0;
			vertical-align: middle;
		}

		.btn_submit {
			width: 40px;
			height: 40px;
			background-color: #e5841c;
			border-radius: 20px;
			text-indent: -9999px;
			overflow: hidden;
			font-size: 0;

			.ico_arr_up {
				width: 14.5px;
				height: 15px;
				background:url(#{$url-img}/content/ico_arrow_up_white.png) 0 0 no-repeat;
				background-size: 14.5px 15px;
			}
		}
	}

	.chat_info {
		@include container;
		height: 70px;
		background-color: #555;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.user_info {
			margin-left: 17px;

			.box_round {
				// position: absolute;
				// top: calc(50% - 17px);
				margin-left: -17px;
			}
		}

		.box_round {
			display: inline-block;
			padding: 0;
			width: 34px;
			height: 34px;
			line-height: 34px;
			font-size: 13px;
			text-align: center;
			border-radius: 17px;
			border: 1px solid #555;

			// @for $i from 0 to 9 {
			// 	&.box_round_#{$i+1} {
			// 		left:#{1 * $i * 24px};
			// 	}
			// }

			&_lg {
				width: 100px;
				height: 35px;
				border-radius: 17.5px;
				padding: 0;
				line-height: 31px;
				text-align: center;

				.ico_equal {
					display: inline-block;
					vertical-align: middle;
					width: 24px;
					height: 23px;
					background:url(#{$url-img}/content/ico_equal.png) 0 0 no-repeat;
					background-size: 24px 23px;
				}
			}
		}

	}
}

//전자지갑
.wallet_setting {
	position: relative;
	height: calc(100vh - 140px);
	overflow-y: auto;
	//min-height: calc(100vh - 435px);

	.card_wrap {
		position: relative;
		@include container;
		width: 100%;
	}

	.setting_area {
		position: absolute;
		top: 330px;
		width: 100%;
		z-index: 100;
		background-color: #fff;
		box-shadow: -2px -4px 5px rgba(0, 0, 0, 0.02);
	}

	.card_list {
		margin-top: 60px;

		.card_item {
			@for $i from 0 to 9 {
				&.card_item_#{$i+1} {
					top:#{1 * $i * 90px};
				}
			}
		}

		.card_item {
			position: absolute;
			top: 0;
			width: calc(100% - 40px);
			padding: 11px 22px 20px;
			background-color: $primary;
			border-radius: 8px;
			box-shadow: 4px 0 20px rgba(0, 0, 0, 0.1);

			.card_cash {
				display: block;
				font-size: 20px;
				font-weight: 400;

				strong {
					font-size: 26px;
					padding-right: 2px;
				}
			}

			.card_info {
				display: flex;
				justify-content: space-between;
				font-size: 12px;

				em {
					align-self: center;
					font-style: normal;

					u {
						padding-right: 14px;
						background:url(#{$url-img}/content/ico_chevron_right_sm_gray.png) calc(100% - 4px) center no-repeat;
						background-size: 5px 8px;
					}
				}

				.btn {
					font-size: 13px;
					height: 30px;
					border-radius: 15px;
					min-width: 50px;
				}

				.status {
					display: inline-block;
					padding: 0 6px;
					height: 20px;
					color: #fff;
					background-color: #e29926;
					border-radius: 4px;
					vertical-align: middle;
				}
			}

			.btn_group {
				display: flex;
				margin: 22px -4px 0;

				.btn {
					flex: 1 1 auto;
					height: 44px;
					background-color: rgba(255, 255, 255, .35);
					align-items: center;
					color: #111;
					border-radius: 8px;
					margin: 0 4px;
				}
			}

			.btn_select {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 25px;
				height: 25px;
				background-color: rgba(0, 0, 0, .2);
				border-radius: 12.5px;

				span {
					display: inline-block;
					background:url(#{$url-img}/content/ico_chevron_down_sm_white.png) 0 0 no-repeat;
					background-size: 10px 6px;
					width: 10px;
					height: 6px;
					text-indent: -999px;
					overflow: hidden;
				}

				&.on {
					span {
						transform: rotate(180deg);
					}
				}
			}

			&.card {
				padding-top: 20px;

				&:after {
					clear: both;
					content: '';
					display: block;
				}

				.left {
					float: left;
					width: 60%;

					.img {
						display: block;
						width: 123px;
						height: 78px;
						overflow: hidden;
						border-radius: 8px;
					}

					.card_num {
						display: block;
						margin-top: 15px;
						font-size: 12px;
						font-weight: 200;
					}
				}

				.right {
					float: right;
					width: 40%;
					text-align: right;

					.box_round_lg {
						display: inline-flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						width: 78px;
						height: 78px;
						border-radius: 39px;
						background-color: rgba(255, 255, 255, .35);
						font-size: 15px;
					}
				}
			}

			&.charge {
				background-color: #7fd8d2;
			}

			&.card {
				background-color: #84cfee;
			}

			&.default {
				background-color: $primary;
			}
		}
	}

	.set_list {
		margin-top: 15px;
		@include container;

		.item {
			position: relative;
			display: inline-flex;
			align-items: center;
			width: 100%;
			height: 70px;
			margin: 5px 0;
			padding: 20px 20px 20px 23px;
			border: 1px solid $border-base;
			border-radius: 8px;
			box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.05);
			background-color: #fff;
			background-image: url(#{$url-img}/content/ico_link_arr02.png);
			background-size: 9.5px 15px;
			background-position: calc(100% - 20px) center;
			background-repeat: no-repeat;

			&.side {
				justify-content: space-between;
				background-image: none;

				>span {
					height: 32px;
					line-height: 32px;

					>* {
						display: inline-block;
						vertical-align: middle;
					}
				}
			}

			.tit {
				font-size: 16px;
				font-weight: 500;
				line-height: 20px;
			}

			.desc {
				font-size: 12px;
				color: #333;
			}

			.img {
				width: 46px;
				height: 32px;
				margin-right: 15px;
				text-align: center;
				align-self: center;
				line-height: 32px;
			}

			.w_link {
				color: $gray;

				+.w_link {
					margin-left: 10px;
				}
			}

			.btn_close {
				position: absolute;
				top: -5px;
				right: -5px;
				width: 20px;
				height: 20px;
				background: url(#{$url-img}/content/btn_del.png);
				background-size: 20px 20px;
				text-indent: -9999px;
				overflow: hidden;
			}
		}

		.set_guide_txt {
			padding-left: 15px;
			font-size: 11px;
			color: #777;
			background:url(#{$url-img}/content/ico_setting_wallet.png) left center no-repeat;
			background-size: 12px 12px;
			text-align: center;
		}
	}
}

.postpay_slider {
	padding-left: 10px;

	&:not(.slick-slider) {
		margin-right: 20px;
	}

	.service_item {
		padding: 15px 13px;
		border: 1px solid $border-base;
		border-radius: 8px;
		margin-left: 10px;
		box-shadow: none;

		.txt_medium {
			.ico {
				display: inline-block;
				vertical-align: middle;
				width: 23px;
				height: 16px;
				background-image: url(#{$url-img}/content/ico_meeting_lg.png);
				background-size: 23px 16px;
			}

			.box {
				width: 30px;
				height: 30px;
				border-radius: 15px;

			}
		}
	}

	.slick {
		&-dots {
			margin-top: 5px;
			text-align: center;

			li {
				display: inline-block;
				width: 6px;
				height: 6px;
				border-radius: 3px;
				background-color: #eee;
				text-indent: -9999px;
				overflow: hidden;

				+li {
					margin-left: 2px;
				}

				&.slick-active {
					background-color: $gray;
				}
			}
		}


	}
}

.postpay {
	.postpay_top {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: #fff;
		box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05);
	}

	.bg_purple {
		.service_top_tit {
			.tit {
				background:url(#{$url-img}/content/ico_together3.png) no-repeat 0 50%/30px 30px;
			}
		}

		.btn_group {
			.btn {
				background-color: #dfe9ff;
			}
		}
	}

	.fn_calendar {
		padding-top: 276px;
	}

	&.bottom_fixed_area {
		height: 80px;
		background-color: transparent;
	}
}