// 포스트페이 - 김정연

.txt_12px {
	font-size: 12px;
	line-height: 12px;
}

.txt_18px {
	font-size: 18px;
	line-height: 22px;
}

.btn_outline_black {
	border: 1px solid #111111;
}

.swiper_box {
	button {
		width: 6px;
		height: 12px;
		background-size: 100% 100% !important;
		position: absolute;
		top: 6px;
		line-height: 1000px;
		overflow: hidden;
		z-index: 100;

		&.slick-prev {
			background:url(#{$url-img}/common/ico_prev01.png) 0 0 no-repeat;
			left: 20px;

		}

		&.slick-next {
			background:url(#{$url-img}/common/ico_next01.png) 0 0 no-repeat;
			right: 20px;
		}
	}

	.top {
		padding: 0 20px;
		text-align: center;
		display: inline-block;
		width: 100%;
		line-height: 21px;
	}

	.txt_notice2 {
		text-align: left;
		padding: 15px 17.5px 0;
		font-size: 13px;
		color: #555555;
	}

	.guide {
		background: #fef5e5;
		width: 100%;
		height: 25px;
		text-align: center;
		line-height: 25px;
		font-size: 10px;
		color: #111111;
	}

	.list_scroll {
		height: 555px;
		margin-top: 10px;
		overflow-y: auto;

		.list {
			padding: 17px 20px 20px 20px;

			.date {
				margin-bottom: 7px;
				display: block;
				font-size: 14px;
				font-weight: 500;
			}

			.box {
				padding: 0 20px 20px;

				.top_util {
					display: flex;
					justify-content: space-between;
					margin-bottom: 19px;

					.status {
						height: 25px;
						padding-left: 14px;
						padding-right: 14px;
						border-bottom-left-radius: 8px;
						border-bottom-right-radius: 8px;
						background: #ff9d46;
						font-size: 12px;
						font-weight: 400;
						text-align: center;
						line-height: 25px;
						color: #111111;

						&.yellow {
							background: #fdc61c;
						}

						&.pink {
							background: #ff8aa3;
						}

						&.sky {
							background: #92bbea;
						}

						&.green {
							background: #91b86a;
						}
					}

					.days {
						color: #555555;
						font-size: 12px;
						line-height: 12px;
						margin-top: 15px;
					}
				}

				.list_info {
					display: flex;
					justify-content: space-between;

					strong {
						font-weight: 500;

						&:first-child {
							font-size: 16px;
							line-height: 16px;
							margin-left: 3px;
						}

						&:nth-child(2) {
							font-size: 19px;
							font-weight: 700;
							line-height: 19px;
						}
					}
				}

				.group {
					font-size: 13px;
					line-height: 15px;
					margin-left: 3px;
					margin-bottom: 9px;
					color: #555555;
				}

				.address {
					font-size: 13px;
					line-height: 15px;
					margin-left: 3px;
					margin-top: 8px;
					color: #555555;
				}

				.bottom_util {
					display: flex;
					justify-content: space-between;
					align-items: flex-end;
					margin-left: -10px;
					margin-top: 5px;

					.hash {
						font-size: 12px;
						font-weight: 400;
						line-height: 12px;
						color: #555555;
						display: flex;
						flex-wrap: wrap;
						width: 60%;

						>.click {
							color: #986800;
						}
					}

					.btn_group {
						.btn_xs {
							padding: 0 7px;
							line-height: 17px;
							display: inline-block;

							&.yellow {
								background: #fad973;
								color: #111111;
							}
						}

						.btn_round {
							&.btn_xs {
								padding: 0 6.5px;
							}
						}
					}
				}
			}
		}
	}
}

.footer_message {
	position: fixed;
	bottom: 112px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: #ffffff;
	padding-top: 10px;
	padding-bottom: 20px;


	img {
		width: 30px;
		height: 30px;
	}

	span {
		font-size: 13px;
		font-weight: 400;
		line-height: 17px;
		color: #555555;
		margin-left: 10px;
	}
}

.reset_box {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	overflow-x: auto;

	span {
		font-size: 14px;
		line-height: 20px;
		color: #111111;
		margin-right: 26px;
		display: flex;
		flex-wrap: nowrap;


		&:first-child {
			margin-left: 8px;
		}
	}
}

.btn_group {
	>.btn_group_slide {
		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		overflow-x: auto;

		.check_item+.check_item {
			margin-left: 10px;
		}

		.check_item {
			&:last-child {
				margin-right: 10px;
			}

			&.type_btn {
				label {
					max-width: 75px;
					padding: 0 20px !important;
				}
			}
		}
	}
}

.tbl {
	&.tbl_type01 {
		td {
			&.td_height {
				height: 23px;
			}
		}
	}
}

.memo_hash {
	display: flex;
	flex-wrap: wrap;

	li {
		height: 25px;
		border: 2px solid #f8c1be;
		border-radius: 15px;
		padding: 0 14px;
		margin-right: 5px;
		margin-bottom: 10px;
		font-size: 12px;
		font-weight: 500;
		color: #111111;
		line-height: 20px;

		&.gray {
			border: 2px solid #dddddd;
		}
	}
}

.memo_input {
	margin-top: 32px;
	height: 45px;
	border-bottom: 1px solid #111111;

	input {
		width: 100%;
		height: 100%;
		border: none;
		font-size: 16px;
		color: #555555;
		padding-left: 10px;
	}
}

// 결제 - 제로페이
.postpay_bottom_header {
	span {
		&.popup_zeropay_img {
			width: 62px;
			height: 18px;
			margin-top: 5px;

			img {
				width: 100%;
				height: 100%;
			}
		}
	}
}


.popup_tit_zeropay {
	width: 62px;
	height: 18px;

	img {
		width: 100%;
		height: 100%;
	}
}

.btn_list_zero {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	text-align: center;

	button {
		margin-right: 10px;
		height: 35px;
		padding: 0 19px;
		border-radius: 8px;
		background: $gray;
		color: $white;

		&.on {
			background: $lightgray2;
		}
	}
}

.bottom_text_zero {
	margin-top: 17px;
	text-align: center;
	font-weight: 400;
}

.barcode_popup2 {
	width: 403px;
	height: 255px;
	margin: 90px auto;
	transform: rotate(90deg);

	.barcode_img {
		width: 403px;
		height: 173px;
	}

	.zeropay_img {
		width: 68px;
		height: 25px;
		padding-bottom: 58px;
	}

	.barcode_num {
		text-align: left;
	}
}

.btn_wrap {
	position: relative;
	text-align: center;

	.btn_time_limit2 {
		height: none;
		margin-top: 145px;
		padding: 15px 15px 15px 18px;
		font-size: 16px;

		.btn_refresh_popup {
			display: inline-block;
			width: 15px;
			height: 13px;
			margin-left: 9px;
			background: url(../../resources/img/content/ico_refresh04.png) no-repeat 0 center;
			background-size: 15px 13px;
		}
	}
}

// 비밀번호 표시
.password_masking2 {
	display: flex;
	justify-content: center;
	margin-top: 3px;

	i {
		display: inline-block;
		margin: 0 7.5px;
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background-color: #ddd;
	}

	&.active {
		i {
			background-color: #fdc61c;
		}
	}
}

.popup_tit_postpay01 {
	font-size: 18px;
	font-weight: 500;
}

.postpay_scroll {
	height: 750px;
	overflow-y: auto;
}