//포스트 페이 - 선영

.popup_header {
	.pop_tit2 {
		font-size: 18px;
		line-height: 20px;
	}
}

.finance_calendar {
	position: relative;
}

.finance_header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 0 25px;
	@include container;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05);
	z-index: 100;
	background-color: #fff;

	.total_price {
		display: flex;
		justify-content: space-between;

		em {
			font-style: normal;
			font-size: 16px;
		}

		>span {
			position: relative;
			line-height: 1;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: -2px;
				width: 100%;
				height: 5px;
				background-color: $primary;
				z-index: -1;
			}

			font-size: 20px;
			font-weight: 500;

			strong {
				font-size: 26px;
			}
		}
	}
}

.fn_calendar {
	padding-top: 93px;
	background-color: $bg-lightgray;

	.cal_header {
		@include container;

		&:after {
			content: '';
			display: block;
			clear: both;
		}

		.cal_l {
			float: left;
		}

		.cal_r {
			float: right;
		}

		.tab_cal {
			li {}
		}
	}

	.cal_body {
		table {
			width: 100%;
		}

		thead {
			th {
				padding: 5px 0;
				color: #999;
				font-size: 13px;
				text-align: center;
				font-weight: 400;
			}
		}

		tbody {
			td {
				height: 51px;
				font-size: 16px;
				color: #555;
				vertical-align: top;
				text-align: center;
			}
		}

		.day {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 34px;
			font-weight: 400;

			&.today {
				width: 34px;
				border-radius: 17px;
				background-color: #ff883a;
				color: #fff;
			}
		}

		.price {
			display: block;
			font-size: 10px;
			color: #333;
		}
	}
}

.finance_body {
	@include container;

	.cal_list {
		li {
			display: flex;
			justify-content: space-between;
			padding: 20px 0 16px;
			border-bottom: 1px solid $border-base;

			>em {
				font-size: 16px;
				font-style: normal;
				font-weight: 500;
			}

			>span {
				color: #111;
				font-weight: 500;
			}
		}
	}
}