// 포스트페이1

// text
.txt_navy {
	color: $navy;
}

.txt_lightred {
	color: $lightred;
}

.txt18 {
	font-size: 18px !important;
}

// 가입

.titlebar {
	&.postpay {
		&.type2 {
			.right {
				margin-left: auto;
			}
		}
	}
}

.logo_postpay {
	width: 73px;
	height: 28px;
	padding-right: 10px;
	box-sizing: content-box;
}

.ico_notice_yellow {
	margin-right: 5px;
}

.ico_num_change {
	margin: 0 7px;
}

.img_txt {
	background-repeat: no-repeat;
	padding-left: 45px;
	font-size: 14px;
	color: #111;
	letter-spacing: -0.5px;

	&.num_change {
		background-image: url(#{$url-img}/content/ico_num_change.png);
		background-size: 30px 35px;
		background-position: 7px 7px;

	}
}

.popup_body_tit {
	display: block;
	font-size: 22px;
	line-height: 1.4;
	text-align: center;
}

.list_row {
	position: relative;
	left: 50%;
	transform: translateX(-80px);
	display: block;
	width: 180px;
	margin-top: 20px;

	.txt_xs {
		padding-left: 5px;
	}
}

.join_wrap {
	.check_item {
		margin-top: 10px;
		margin-right: 0;
		margin-left: 0 !important;

		&+.check_item {
			margin-left: 0 !important;
		}

		&:nth-child(2n) {
			margin-left: 10px !important;
		}

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		input {
			&+label {
				.ico {
					margin-left: 10px;
					margin-right: 6px;
				}
			}
		}

		&.type_btn {
			label {
				height: 40px;
				justify-content: start;
			}
		}
	}

	.check_switch {
		label {
			min-width: 65px;
			padding-right: 9px;
		}
	}

	.double_box {
		&.terms_box {
			.top {
				padding: 13px 16px;

				.check_item {
					&>input[type=checkbox]+label {
						color: $black;
					}
				}
			}
		}

		.btm {
			padding: 17px 20px;
		}
	}

	.box_narrow {
		&>.txt_c {
			p {
				line-height: 1.4;
			}
		}
	}

	.toggle_con {
		.check_item {
			&>input[type=checkbox]+label {
				color: $black;
			}
		}
	}
}

a {
	&.bg_lightgray {
		display: block;
		padding: 13px 19px;
	}
}

.toggle_box {

	.input_items {
		flex-wrap: wrap;
		width: 100%;
		padding-top: 20px;
		margin: 0;

		.check_item {
			flex: 1 1 40%;

		}
	}

	&>a {
		padding: 17px 30px 17px 0;

		&.active {
			padding-bottom: 17px;
		}
	}
}

.toggle_check_wrap {
	display: block;
	text-align: left;

	.bul_notice {
		margin-top: 10px;
		color: $gray;
		font-weight: 200;
	}
}

.chk_toggle {
	&>div {
		margin-top: 20px;

		&>strong {
			display: block;
		}
	}

	&.hide {
		display: none;
	}
}

.scroll_container {
	.check_item {
		input[type=checkbox]+label {
			color: $black;
		}
	}

	.btn_sm {
		padding: 0 12px;
	}
}

.info_membership {
	position: relative;

	.bg_membership {
		padding-left: 50px;
		background-image: url(#{$url-img-content}/ico_membership.png);
		background-size: 36px;
		background-position: 5px 6px;
		background-repeat: no-repeat;
		letter-spacing: -0.5px;

		strong {
			font-size: 16px;
			font-weight: normal;
		}

		p {
			font-size: 12px;
			color: $gray;
		}
	}

	.box_info {
		padding: 20px;
		margin: 20px 0;
		border: 1px solid #ddd;
		border-radius: 16px;

		.top_info_txt {
			font-size: 12px;
			text-align: center;

			b {
				display: block;
				font-size: 14px;
			}
		}

		.info_cont {
			margin-top: 20px;
			border-radius: 16px;

			.slick_dots {
				display: flex;
				position: absolute;
				top: 440px;
				left: 50%;
				transform: translateX(-50%);

				li {
					width: 10px;
					height: 10px;
					background-color: $lightgray2;
					border-radius: 50%;

					&+li {
						margin-left: 10px;
					}
				}
			}
		}
	}
}

// 조회

.total_inquire {
	margin-top: 5px;

	.box_control {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			width: 50px;
			height: 50px;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: 12px;

			&.month_prev {
				background-image: url(/resources/img/common/ico_cal_arr_left.png);
			}

			&.month_next {
				background-image: url(/resources/img/common/ico_cal_arr_right.png);
			}
		}

		.month_tit {
			font-size: 21px;
			font-weight: bold;
		}
	}

	.box_alret {
		padding: 5px 0;
		text-align: center;

		p {
			font-size: 10px;
			letter-spacing: -0.5px;
		}
	}
}

.inquiry_date {
	margin-top: 10px;
	margin-bottom: 7px;

	em {
		font-style: normal;
	}
}

.box_inquiry {
	position: relative;
	padding: 0 20px 20px;
	border: 1px solid #ddd;
	border-radius: 8px;
	letter-spacing: -0.5px;

	.box_label {
		position: absolute;
		top: 0;
		left: 20px;
		padding: 3px 13px;
		margin-top: -1px;
		border-radius: 0 0 8px 8px;
		font-size: 12px;
		font-weight: normal;
		letter-spacing: -0.5px;

		&.transfer {
			background-color: $bg_transfer;
		}

		&.payment {
			background-color: $primary;
		}

		&.qr_transfer {
			background-color: $lightgreen;
		}

		&.dues {
			background-color: $pink;
		}

		i {
			font-style: normal;
		}
	}

	.list_inquiry {
		&>div {
			display: flex;
			align-items: center;
			color: $gray;

			&>.l {
				margin-right: auto;

				.name {
					font-size: 16px;
					color: $black;
				}

				.add_memo {
					font-size: 12px;

					&+.add_memo {
						margin-left: 5px;
					}
				}

				.address {
					line-height: 1.2;
				}
			}

			&>.r {
				margin-left: auto;

				.date {
					display: block;
					margin-top: 10px;
					font-size: 12px;
					font-style: normal;
					font-weight: 200;
				}

				.won {
					font-size: 18px;
					color: $black;
					font-weight: bold;

					.amount {
						font-size: 19px;
						font-style: normal;
					}
				}
			}

			&.title {
				margin: 7px 0 5px;
			}
		}

		.lab_status {
			border-radius: 4px;

			&.bg_lightgray {
				background-color: #e5e5e5 !important;
			}

			&.bg_lightyellow {
				background-color: $lightyellow;
			}
		}

	}
}

.popup_total_inquire {
	padding-top: 20px;
	padding-bottom: 20px;

	.bul_notice {
		margin-top: 5px;
		color: $gray;
		letter-spacing: -0.5px;

	}
}

.btm_slide_menu {
	padding: 25px 15px 20px;
	border-radius: 24px 24px 0 0;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);

	.slick-list {
		overflow: visible;
	}

	.slide_menu {
		padding-top: 10px;
		text-align: center;

		.slick-slide {

			margin: 0 5px;
		}

		.slide_menu_li {
			&>a {
				display: block;
				padding: 5px 0;
				border: 1px solid #ddd;
				border-radius: 4px;

				&.active {
					border: 1px solid #000;
				}
			}
		}
	}
}

// 송금
.rec_info {
	&>.box_item {
		align-items: center;
	}
}


.postpay {

	.toggle_check_wrap {
		display: block;
	}

	.top_ico_txt {
		align-items: center;

		&.qr_code {

			padding-left: 15px;
			padding-right: 15px;

			&::before {
				height: 36px;
				background-image: url(/resources/img/content/ico_qrcode.png);
				background-size: 30px 36px;
			}
		}
	}

	.accout {
		&>.tf_item {
			padding: 11px 20px 8px;
			background-color: $bg-lightgray;

			.input_area {
				padding-top: 0;
			}
		}
	}

	.section {
		.remitt_box {
			background-color: $white;

			>div {
				&.inner {
					&>.inner_total {
						padding-bottom: 0;
						margin-bottom: 0;
						border-bottom: 0;
					}
				}
			}

			.btn_group {
				&.btn_group_flex {
					width: 100%;
					padding: 0 10px;
				}
			}
		}
	}

	.qr_box {
		.qr_box_inner {
			display: table;
			table-layout: fixed;
			width: 100%;
			border-collapse: collapse;
			padding: 10px !important;

			.qr_item {
				display: block;
				position: relative;
				float: left;
				width: 280px I !important;
				padding: 0 27px 20px;
				margin: 0 auto;
				background-color: $white;
				border: 1px solid #ddd;
				border-radius: 16px;

				>span {
					display: block;
					padding-top: 10px;
					padding-bottom: 5px;
				}
			}

			.btn {
				&.btn_qr_close {
					display: block;
					position: absolute;
					top: -5px;
					right: -5px;
					width: 20px;
					height: 20px;
					background: url(/resources/img/content/btn_qr_close.png) no-repeat center center;
					background-size: cover;
				}
			}

			.btn_share {
				display: inline-flex;
				width: 32px;
				height: 32px;
				background: url(/resources/img/content/ico_share.png) no-repeat center center;
				background-size: cover;
			}

			//슬릭 수정

			.slick-slide {
				width: 280px !important;
				margin: 0 10px;
			}

			.slick-list {
				overflow: visible;
			}

		}
	}
}

.top_ico_txt {
	&.remit_accept {

		&::before {
			width: 46px;
			height: 30px;
			background-image: url(/resources/img/content/ico_remit_accept.png);
		}
	}
}

.modal_popup {
	&.modal_alert {
		.header_left {
			justify-content: start;
			padding: 35px 30px 30px;
		}
	}
}

.delivery {
	.tab_menu2 {
		.tab_list {
			li {
				&.on {
					background-color: $gray;
				}
			}

			a {
				span {
					height: 35px;
				}
			}
		}
	}

	.list_inquiry {
		.date {
			color: #777;

			em {
				&.lab_status {
					padding: 0 6px;
					margin-top: -3px;
					background-color: #777;
					color: $white;
					font-style: normal;
					border-radius: 10px;
					line-height: 13px;
				}
			}
		}
	}

	.top_ico_txt {
		&.letter_card {
			padding-left: 10px;
			padding-right: 10px;

			&::before {
				width: 30px;
				height: 34px;
				background-image: url(/resources/img/content/ico_letter_card.png);
			}
		}
	}

	.box_card {
		&>.card_slider {
			.slick-dots {
				display: flex;
				justify-content: center;
				position: absolute;
				bottom: -20px;
				width: 100%;

				li {
					flex: 0 0 10px;
					margin: 0 5px;
					line-height: 0;

					button {
						display: inline-block;
						width: 10px;
						height: 10px;
						border-radius: 50%;
						background-color: #e7e7e7;
						text-indent: -9999px;
						overflow: hidden;
					}

					&.slick-active {
						button {
							background-color: $gray;
						}
					}
				}
			}

			.item {
				img {
					width: 100%;
				}
			}
		}
	}

	.txt_area {
		&.msg_card {
			height: 100px;
			padding-bottom: 0;
		}
	}

	.txt_btm_border {
		border-bottom: 1px solid #999;
	}

	.bottom_fixed_area {
		&>.btn_group {
			&>.btm_slide {
				&.type2 {
					height: 50px;
				}
			}
		}
	}
}

.border_list {
	&>li {
		&.fav_li {
			padding: 0;

			&:first-child {
				border-top: 0;
			}

			&:last-child {
				border-bottom: 0;
			}

			.check_item {
				width: 100%;
				font-size: 16px;

				>input[type=checkbox]+label {
					padding-left: 5px;
					background-image: url(#{$url-img}/content/ico_star.png);
					background-position: right;
				}

				input[type=checkbox]:checked+label {
					background-image: url(#{$url-img}/content/ico_star_primary.png);
				}
			}

			label {
				display: block;
				padding: 15px 0;
				color: $black;

				em {
					padding-left: 40px;
					font-style: normal;
				}
			}
		}
	}
}

.favorit_wrap {
	.scroll_menu_box {
		position: relative;
		padding-right: 20px;
		padding-left: 20px;
		margin: 0 -20px;
		overflow: visible;
		background-color: #ccc;

		.scroll_menu_list {
			//width: 100%;
			padding: 10px 5px;

			.scroll_menu_li {
				//display: inline-block;
				background-color: #dbdbdb;
				border-radius: 15px;

				&.on {
					background-color: #fff;
					color: $black;
				}

				.btn {
					display: block;
					width: 100%;
					height: 30px;
					//padding: 0px 20px;
					text-align: center;
					line-height: 30px;
					font-size: 14px;
				}
			}

			.slick-list {
				margin: 0 -5px;
			}

			.slick-slide {
				margin: 0 5px;
			}
		}
	}

	.slick-arrow {
		position: absolute;
		top: 0;
		display: inline-block;
		width: 20px;
		height: 50px;
		z-index: 1;
		text-indent: -9999px;
		background-repeat: no-repeat;
		background-size: cover;

		&.slick-prev {
			left: -20px;
			background-image: url(/resources/img/content/ico_arrow_prev.png);

		}

		&.slick-next {
			right: -20px;
			background-image: url(/resources/img/content/ico_arrow_next.png);
		}
	}

	.postpay {
		&>.persons_list {
			margin: 10px 0px;

			li {
				margin: 0;
			}
		}

	}
}

.board_search {
	&>input {
		color: #666;
		font-size: 16px;
		font-weight: 200;
	}
}