// 상품

// 공통 스타일 지역 커스텀
.cont_product {
	$primary: #e12547;

	.btn_outline_default {
		border-color: #e0e0e0;
	}

	.txt_primary {
		color: $primary !important;
	}

	.btn_primary {
		background-color: $primary;
		color: #fff;
	}
}

// 콘텐츠 스타일 하단 정의
.calc_area {
	background-color: #49464d;
	color: #fff;
	padding: 22px 28px 22px 37px;
}

.calc_container {
	@include clearfix;

	.tit_calc {
		float: left;
		font-size: 25px;
		color: #bab9ba;
		font-weight: 200;
	}

	.form_controls {
		float: right;
	}
}

.product_header {
	display: flex;
	align-items: flex-end;

	.info_area {
		flex: 0 0 auto;
		width: 60%;
		font-size: 18px;
	}

	.price_area {
		flex: 1 1 auto;
		text-align: right;
	}
}