// 지급 - 김정연
.table_btn {
	display: block;
	margin-top: 5px;
}

.process_box {
	margin-top: 15px;
	height: 622.5px;
	margin-left: -20px;
	margin-right: -20px;

	ol {
		position: relative;
		width: 100%;
		height: 592.5px;
		overflow: auto;

		>li {
			&:first-child {
				position: absolute;
				left: 300px;
				box-shadow: 0 3px 5px 2px #f9f9f9;

				&:before {
					content: '';
					position: absolute;
					top: 49px;
					left: 50%;
					transform: translateX(-50%);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow1.png) no-repeat;
					background-size: 100% 100%;
				}
			}

			&:nth-child(2) {
				position: absolute;
				left: 300px;
				top: 72.5px;
				box-shadow: 0 3px 5px 2px #f9f9f9;

				&:before {
					content: '';
					position: absolute;
					top: 49px;
					left: 50%;
					transform: translateX(-50%);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow2.png) no-repeat;
					background-size: 100% 100%;
				}
			}

			&:nth-child(3) {
				position: absolute;
				left: 300px;
				top: 145.5px;
				box-shadow: 0 3px 5px 2px #f9f9f9;

				&:before {
					content: '';
					position: absolute;
					top: 93px;
					left: 50%;
					transform: translateX(-50%);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow1.png) no-repeat;
					background-size: 100% 100%;
				}

				&:after {
					content: '';
					position: absolute;
					top: 43%;
					left: 126px;
					transform: translateY(-50%);
					transform: rotate(270deg);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow1.png) no-repeat;
					background-size: 100% 100%;
				}

				span {
					display: block;
					text-align: left;
					margin-left: 14.5px;
				}

				>ul {
					li {
						position: absolute;
						left: 151px;
						top: 20px;
						box-shadow: 0 3px 5px 2px #f9f9f9;
					}
				}
			}

			&:nth-child(4) {
				position: absolute;
				left: 300px;
				top: 258.5px;
				box-shadow: 0 3px 5px 2px #f9f9f9;

				&:after {
					content: '';
					position: absolute;
					top: 40%;
					left: -14px;
					transform: translateX(-50%);
					transform: rotate(90deg);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow3.png) no-repeat;
					background-size: 100% 100%;
				}

				&:before {
					content: '';
					position: absolute;
					top: 72px;
					left: 50%;
					transform: translateX(-50%);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow3.png) no-repeat;
					background-size: 100% 100%;
				}

				span {
					position: absolute;
					left: -75px;
					top: 75.5px;
					line-height: 14px;
				}

				ul {
					li {
						&:nth-child(1) {
							position: absolute;
							left: -300px;
							top: 11px;
							box-shadow: 0 3px 5px 2px #f9f9f9;
						}

						&:nth-child(2) {
							position: absolute;
							left: -152px;
							top: 11px;
							box-shadow: 0 3px 5px 2px #f9f9f9;

							&:before {
								content: '';
								position: absolute;
								top: 40%;
								left: -14px;
								transform: translateX(-50%);
								transform: rotate(90deg);
								width: 18.5px;
								height: 11.5px;
								background: url(/resources/img/content/ico_arrow2.png) no-repeat;
								background-size: 100% 100%;
							}
						}
					}
				}
			}

			&:nth-child(5) {
				position: absolute;
				left: 300px;
				top: 353px;
				box-shadow: 0 3px 5px 2px #f9f9f9;

				&:before {
					content: '';
					position: absolute;
					top: 93px;
					left: 50%;
					transform: translateX(-50%);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow1.png) no-repeat;
					background-size: 100% 100%;
				}

				span {
					position: absolute;
					right: -75px;
					top: -20px;
					line-height: 14px;
				}
			}

			&:nth-child(6) {
				position: absolute;
				left: 300px;
				top: 469px;
				box-shadow: 0 3px 5px 2px #f9f9f9;

				&:after {
					content: '';
					position: absolute;
					top: 40%;
					left: -14px;
					transform: translateX(-50%);
					transform: rotate(90deg);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow2.png) no-repeat;
					background-size: 100% 100%;
				}

				&:before {
					content: '';
					position: absolute;
					top: 43%;
					left: 126px;
					transform: translateX(-50%);
					transform: rotate(270deg);
					width: 18.5px;
					height: 11.5px;
					background: url(/resources/img/content/ico_arrow2.png) no-repeat;
					background-size: 100% 100%;
				}

				span {
					position: absolute;
					line-height: 14px;

					&:nth-child(1) {
						left: -75px;
						top: 64.5px;
					}

					&:nth-child(3) {
						right: -75px;
						top: 86px;
					}
				}

				ul {
					&:nth-child(2) {
						li {
							&:nth-child(1) {
								position: absolute;
								left: -301px;
								top: -9.5px;
								box-shadow: 0 3px 5px 2px #f9f9f9;
							}

							&:nth-child(2) {
								position: absolute;
								left: -152px;
								top: 0;
								box-shadow: 0 3px 5px 2px #f9f9f9;

								&:before {
									content: '';
									position: absolute;
									top: 43%;
									left: -14px;
									transform: translateX(-50%);
									transform: rotate(90deg);
									width: 18.5px;
									height: 11.5px;
									background: url(/resources/img/content/ico_arrow1.png) no-repeat;
									background-size: 100% 100%;
								}
							}
						}
					}

					&:nth-child(4) {
						li {
							position: absolute;
							left: 151px;
							top: -18px;
							box-shadow: 0 3px 5px 2px #f9f9f9;
						}
					}
				}
			}
		}
	}
}

.orange_box {
	display: inline-block;
	border-radius: 10px;
	background: #ff883a;
	width: 132px;
	padding: 15px 0;
	color: #111111;
	text-align: center;
	font-weight: 400;
}

.white_box {
	display: inline-block;
	border: 1px solid #dddddd;
	border-radius: 10px;
	background: #ffffff;
	width: 132px;
	padding: 14px 0;
	color: #555555;
	text-align: center;
	font-weight: 400;
}

.gray_box {
	display: inline-block;
	border: 1px solid #dddddd;
	border-radius: 10px;
	background: #f6f6f6;
	width: 132px;
	padding: 14px 0;
	color: #555555;
	text-align: center;
	font-weight: 400;
}