// 상품

// 공통 스타일 지역 커스텀
.cont_product {
	$primary: #e12547;

	.btn_outline_default {
		border-color: #e0e0e0;
	}

	.txt_primary {
		color: $primary !important;
	}

	.btn_primary {
		background-color: $primary;
		color: #fff;
	}
}

// 콘텐츠 스타일 하단 정의
.calc_area {
	background-color: #49464d;
	color: #fff;
	padding: 22px 28px 22px 37px;
}

.calc_container {
	@include clearfix;

	.tit_calc {
		float: left;
		font-size: 25px;
		color: #bab9ba;
		font-weight: 200;
	}

	.form_controls {
		float: right;

		.inp_item {
			width: 145px;
			height: 45px;
			margin-right: 7px;
			padding: 0 15px;
			color: #000;
			font-size: 16px;
			vertical-align: middle;
			text-align: center;
			border: 0;
			border-radius: 4px;
		}

		.box_shadow {
			display: inline-block;
			border: 0;
			background-color: transparent;
			box-shadow: 6px 0 16px rgba(0, 0, 0, .29);
		}

		.check_item {
			input[type=radio] {

				+label {
					display: inline-block;
					width: 100px;
					padding: 8px 0 9px 40px;
					font-size: 16px;
					font-weight: 200;
					background-image: none;
					background-color: #c7c4cd;
					border-radius: 4px 0 0 4px;
				}

				&:checked {
					+label {
						padding-left: 52px;
						font-weight: bold;
						background-color: #fff;
						background-image:url(#{$url-img-common}/ico_radio_chk.png);
						background-position: 33px center;
					}
				}
			}


			+.check_item {
				margin-left: -4px;


				input[type=radio] {
					+label {
						border-radius: 0 4px 4px 0;
					}
				}
			}
		}

		button {
			box-shadow: 6px 0 16px rgba(0, 0, 0, .29);
		}
	}
}

.product_header {
	display: flex;
	align-items: flex-end;

	.info_area {
		flex: 0 0 auto;
		width: 60%;
		font-size: 18px;

		.selectbox_product_type3 {
			dl {
				dt {
					span {
						font-size: 36px;
					}
				}
			}
		}

		.info_cont {
			dd {
				color: #737373;
			}
		}
	}

	.price_area {
		flex: 1 1 auto;
		text-align: right;

		.price_cal {

			dt,
			dd {
				display: inline-block;
				font-size: 28px;
				line-height: 1.3;
				vertical-align: bottom;
			}

			dd {
				margin-left: 20px;

				strong {
					font-size: 50px;
					color: #e12547;
				}
			}
		}

		.selectbox_wrap.bd_none {
			dt {
				a {
					border: 0;

					span {
						font-weight: 500;

						&:after {
							right: 10px;
							background-image: url(#{$url-img-common}/ico_global_arrow.png);
							background-size: 7px 4px;
						}
					}
				}
			}

			dd {
				ul {
					//border: 1px solid #f7f7f7;
				}
			}
		}
	}

	.best_price {
		font-size: 20px;
		text-align: left;

		.form_controls {
			display: inline;

			select {
				width: 65px;
				border: none;
				font-weight: 500;
				font-size: 20px;
				appearance: none;
				background: transparent url(#{$url-img-common}/ico_arr_down_gray.png) 55px center no-repeat;

				&.txt_blue {
					color: #0d63ce;
				}
			}
		}

		em {
			font-style: normal;
			color: #000;
			font-weight: 500;
		}

		span,
		form {
			display: inline-block;

		}
	}
}