.btn_toggle {
	display: inline-flex;
	align-items: center;

	>.switch {
		display: inline-flex;

		>input[type=checkbox] {
			position: absolute;
			width: 1px;
			height: 1px;
			opacity: 0;
		}

		>input[type=checkbox]:checked+label {
			padding-left: 26px;
			background: #fdcc34;

			&::before {
				left: 5px;
			}
		}

		>label {
			display: inline-block;
			position: relative;
			//width: 60px;
			height: 23px;
			padding-left: 9px;
			border-radius: 15px;
			background: #ddd;
			transition: .3s ease;
			line-height: 23px;
			font-size: 12px;

			&::before {
				content: '';
				position: absolute;
				left: 42px;
				top: 5px;
				width: 13px;
				height: 13px;
				border-radius: 50%;
				background: #fff;
				transition: .3s ease;
			}
		}
	}
}

.login_toggle {
	>.switch {
		>input[type=checkbox]:checked+label {
			padding-left: 9px;
			background: #ddd;

			&::before {
				left: 42px;
			}

			>.btn_name_indi {
				display: inline-block;
			}

			>.btn_name_biz {
				display: none;
			}
		}

		>label {
			width: 60px;
			padding-left: 26px;
			background: #ddd;

			&::before {
				left: 5px;
			}
		}
	}

	.btn_name_indi {
		display: none;
	}
}

.login_top {
	display: flex;
	align-items: center;
	padding-bottom: 20px;

	>span {
		margin-right: auto;
		font-weight: 500;
		font-size: 16px;
	}
}

.login_cnt {
	padding: 20px 20px 70px;
	background: #f6f6f6;
}

.list_certi {
	>ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -45px;

		>li {
			width: 50%;
			margin-bottom: 45px;
			text-align: center;

			>a {
				display: block;
				background-repeat: no-repeat;
				background-position: 50% 0;
				font-weight: 500;

				&.btn_disabled {
					color: #999;
				}
			}
		}
	}

	.btn_finan {
		padding-top: 64px;
		background-image: url(#{$url-img}/content/ico_certi_finan_on.png);
		background-size: 48px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_finan_off.png);
		}
	}

	.btn_id_login {
		padding-top: 64px;
		background-image: url(#{$url-img}/content/ico_id_login_on.png);
		background-size: 48px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_id_login_off.png);
		}
	}

	.btn_common {
		padding-top: 64px;
		background-image: url(#{$url-img}/content/ico_certi_common_on.png);
		background-size: 48px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_common_off.png);
		}
	}

	.btn_finger {
		padding-top: 66px;
		background-image: url(#{$url-img}/content/ico_certi_finger_on.png);
		background-size: 55px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_finger_off.png);
		}
	}

	.btn_pattern {
		padding-top: 66px;
		background-position-y: 7px;
		background-image: url(#{$url-img}/content/ico_certi_pattern_on.png);
		background-size: 41px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_pattern_off.png);
		}
	}

	.btn_number {
		padding-top: 54px;
		background-image: url(#{$url-img}/content/ico_certi_number_on.png);
		background-size: 64px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_number_off.png);
		}
	}

	.btn_pass {
		padding-top: 54px;
		background-image: url(#{$url-img}/content/ico_certi_pass_on.png);
		background-size: 65px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_pass_off.png);
		}
	}

	.btn_kakao {
		padding-top: 63px;
		background-image: url(#{$url-img}/content/ico_certi_kakao_on.png);
		background-size: 65px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_kakao_off.png);
		}
	}

	.btn_pcode {
		padding-top: 63px;
		background-image: url(#{$url-img}/content/ico_certi_pcode_on.png);
		background-size: 46px;

		&.btn_disabled {
			background-image: url(#{$url-img}/content/ico_certi_pcode_off.png);
		}
	}
}

.certi_link {
	margin-top: 90px;

	>ul {
		display: flex;
		justify-content: center;

		>li {
			display: inline-flex;
			position: relative;
			padding: 0 12px;

			&:not(:first-child) {
				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 5px;
					width: 1px;
					height: 14px;
					background: #ccc
				}
			}

			>a {
				font-weight: 400;
				color: #333;
			}
		}
	}
}

.tab_login_info {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;

	>ul {
		display: flex;

		>li {
			flex: 1 1 0;

			>a {
				display: block;
				height: 50px;
				border-radius: 20px 20px 0 0;
				background: #fff;
				line-height: 50px;
				text-align: center;
				font-size: 14px;
				font-weight: 500;
				color: #000;

				>span {
					display: inline-block;
					padding-right: 19px;
					background-position: calc(100% - 1px) 50%;
					background-repeat: no-repeat;
					background-image: url(#{$url-img}/content/icon_circle_arrow_off.png);
					background-size: 13px;
				}
			}

			&+li {
				padding-left: 2px;
			}
		}
	}

	&.login_info_off {
		a {
			box-shadow: 0 -3px 20px -5px #c3c3c3;
		}
	}
}

.login_info_popup {
	.tab_login_info {
		position: absolute;
		top: -49px;
		bottom: auto;

		a {
			background: #f1f1f1;

			&.on {
				background: #fff;

				>span {
					background-color: #fff;
					background-image: url(#{$url-img}/content/icon_circle_arrow_on.png);
				}
			}


		}
	}

	.popup_inner {
		border-radius: 0 !important;
	}
}

.first_visit {
	>li {
		position: relative;
		border: 1px solid #ddd;
		border-radius: 10px;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&:nth-child(1) {
			background: url(#{$url-img}/content/ico_visit01.png) no-repeat 19px 50%;
			background-size: 34px;
		}

		&:nth-child(2) {
			background: url(#{$url-img}/content/ico_visit02.png) no-repeat 24px 50%;
			background-size: 26px;
		}

		&:nth-child(3) {
			background: url(#{$url-img}/content/ico_visit03.png) no-repeat 19px 50%;
			background-size: 34px;
		}

		>a {
			display: block;

			>.txt_visit1 {
				display: flex;
				width: calc(100% - 115px);
				min-height: 75px;
				padding: 0 10px 0 65px;
				align-items: center;
				line-height: 1.3;
				letter-spacing: -.5px;
				font-weight: 500;
				font-size: 13px;
			}

			>.txt_visit2 {
				position: absolute;
				display: flex;
				right: -1px;
				top: -1px;
				justify-content: flex-end;
				align-items: center;
				width: 113px;
				height: calc(100% + 2px);
				padding-right: 36px;
				border-radius: 0 10px 10px 0;
				background: #fdc61c url(#{$url-img}/content/icon_vsit_arrow.png) no-repeat calc(100% - 20px) 50%;
				background-size: 6px;
				text-align: right;
				line-height: 1.3;
				font-weight: 500;
				font-size: 13px;
			}
		}
	}
}

.cert_error {
	margin-top: 15px;
	padding: 20px 0;
	border-radius: 6px;
	background: #f6f6f6;
	text-align: center;

	strong {
		color: #d70000;
	}
}

.app_cert_step {
	display: flex;

	>li {
		position: relative;
		flex: 1 1 0;
		padding: 41px 0 13px;
		border: 1px solid #ddd;
		border-radius: 10px;
		text-align: center;
		font-weight: 400;
		font-size: 13px;
		color: #555;

		&:not(:last-child) {
			margin-right: 10px;
		}

		>span {
			position: absolute;
			left: -1px;
			top: -1px;
			width: calc(100% + 2px);
			height: 30px;
			border-radius: 10px 10px 0 0;
			background: #fdc61c;
			line-height: 30px;
			font-weight: 400;
			font-size: 12px;
			color: #111;
		}
	}
}

.btm_sheet_pwd {
	border: 0;

	.password_masking {
		justify-content: center;
	}

	.active i {
		background: #fdc61c;
	}

	.active .bg_gray {
		opacity: .1;
	}
}

.fingerprint-area {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url(#{$url-img}/content/img_fingerprint_area.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100px;
	height: 100px;
	background-size: 100px 100px;
	margin: 40px auto 0;

	img {
		max-width: 50%;
	}
}

.pattern_area {
	width: 190px;
	height: 190px;
	margin: 40px auto;
}

.agree_box1 {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;

	>.agree_list {

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		>.agree_check {
			display: flex;
			align-items: center;

			>span {
				margin-right: auto;

				>label {
					background-position-y: 3px;
				}
			}

			>a {
				width: 42px;
				height: 20px;
				margin-left: auto;
				background: url(#{$url-img}/content/ico_toggle_up.png) no-repeat 100% 50%;
				background-size: 21px;
			}

			&.agree_open {
				>a {
					background-image: url(#{$url-img}/content/ico_toggle_down.png);
				}
			}

			&.agree_open+.agree_txt {
				display: block;
			}
		}

		>.agree_txt {
			display: none;
			height: 100px;
			overflow-y: auto;
			margin-top: 16px;
			padding: 15px 20px;
			background: #f6f6f6;
			font-size: 13px;
			color: #555;
		}
	}
}

.pass_step {
	margin-top: 11px;

	>li {
		display: flex;
		position: relative;
		align-items: center;
		border: 1px solid #ddd;
		border-radius: 10px;
		font-weight: 400;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		>.step {
			display: flex;
			flex-direction: column;
			position: absolute;
			left: -1px;
			top: -1px;
			align-items: center;
			width: 70px;
			height: calc(100% + 2px);
			border-radius: 10px 0 0 10px;
			background: #fdc61c;
			justify-content: center;
			line-height: 1.2;

			>span {
				display: block;
				font-size: 20px;
			}
		}

		>.txt {
			display: flex;
			align-items: center;
			padding: 11px 15px 11px 85px;
			color: #555;
		}
	}
}

.cor_banking_info {
	display: flex;

	>li {
		position: relative;
		flex: 1 1 0;
		border: 1px solid #ddd;
		border-radius: 10px;
		background-position: 50% 20px;
		background-repeat: no-repeat;
		line-height: 1.3;

		&:nth-child(1) {
			background-image: url(#{$url-img}/content/ico_cor_bangking1.png);
			background-size: 40px;
		}

		&:nth-child(2) {
			background-image: url(#{$url-img}/content/ico_cor_bangking2.png);
			background-size: 46px;
		}

		&:not(:last-child) {
			margin-right: 10px;
		}

		>a {
			display: block;

			>.txt_cor1 {
				min-height: 138px;
				padding: 71px 0 77px;
				text-align: center;
				font-weight: 400;
			}

			>.txt_cor2 {
				display: flex;
				position: absolute;
				left: -1px;
				bottom: -1px;
				align-items: center;
				width: calc(100% + 2px);
				height: 60px;
				padding-left: 19px;
				border-radius: 0 0 10px 10px;
				background: #fdc61c url(#{$url-img}/content/icon_vsit_arrow.png) no-repeat calc(100% - 20px) 50%;
				background-size: 6px;
				font-weight: 500;
			}
		}
	}
}

.agree_box2 {
	border: 1px solid #ddd;
	border-radius: 10px;

	>.ag_top {
		border-bottom: 1px solid #ddd;
		padding: 19px 20px;

		.check_item>label {
			background-position-y: 3px;
			font-weight: 500;
			font-size: 16px;
			color: #111;
		}
	}

	>.ag_cnt {
		padding: 17px 20px;

		>.ag_list {
			>li {
				&:not(:last-child) {
					margin-bottom: 10px;
				}

				>a {
					display: block;
					background: url(#{$url-img}/content/ico_toggle_down.png) no-repeat 100% 50%;
					background-size: 21px;
					font-weight: 400;
					color: #111;

					&.open+div {
						display: block;
					}
				}

				>div {
					display: none;
					height: 100px;
					overflow-y: auto;
					margin-top: 8px;
					padding: 15px;
					background: #f6f6f6;
					font-size: 13px;
				}
			}
		}
	}
}

.bg_sms_certi {
	background-image: url(#{$url-img}/content/bg_sms_certi.png);
}

.bg_ars_certi {
	background-image: url(#{$url-img}/content/bg_ars_certi.png);
}

.certi_time {
	font-weight: 400;
	font-size: 16px;
	color: #0069e1;
}

.ars_certi_number {
	padding: 40px 0;
	border-radius: 10px;
	background: #f6f6f6;
	text-align: center;

	>strong {
		line-height: 1;
		font-size: 75px;
		color: #0069e1;
	}
}

.input_items .flex_auto {
	flex: auto;
}

.keypad {
	padding: 0;

	.btn_group {
		padding: 0 20px 20px;
	}
}

.btn_switch {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;

	>.switch {
		display: inline-flex;

		>input[type=checkbox] {
			position: absolute;
			width: 1px;
			height: 1px;
			opacity: 0;
		}

		>input[type=checkbox]:checked+label {
			background: #ffcb18;
			color: #111;

			&::before {
				left: calc((100% - 5px) - 13px);
			}
		}

		>label {
			display: inline-block;
			position: relative;
			width: 100%;
			padding-left: 9px;
			border-radius: 15px;
			background: #eee;
			transition: .3s ease;
			line-height: 23px;
			font-size: 12px;
			font-weight: 400;

			&::before {
				content: '';
				position: absolute;
				left: 5px;
				top: 50%;
				width: 13px;
				height: 13px;
				transform: translateY(-50%);
				border-radius: 50%;
				background: #fff;
				transition: .3s ease;
			}
		}
	}
}

.switc_style1 {
	>.switch {
		>input[type=checkbox]:checked+label {
			padding: 0 26px 0 15px;
			text-align: left;

			>.check_y {
				display: inline-block;
			}

			>.check_n {
				display: none;
			}
		}

		>label {
			height: 23px;
			padding: 0 15px 0 26px;
			text-align: right;
		}
	}

	.check_y {
		display: none;
	}
}

.switc_style2 {
	>.switch {
		>input[type=checkbox]:checked+label {
			padding: 0 26px 0 15px;
		}

		>label {
			width: 45px;
			height: 20px;
			padding: 0 15px 0 26px;
		}
	}
}

.account_amount {
	display: flex;
	padding-bottom: 30px;
	border-bottom: 1px solid #ddd;

	>.amount_label {
		flex: none;

		>span {
			display: inline-block;
			line-height: 1;
		}

		.req {
			display: inline-block;
			margin-left: 4px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: currentColor;
			vertical-align: top;
			text-indent: -9999px;
		}
	}

	>.amount_area {
		display: flex;
		position: relative;
		align-items: flex-start;
		margin-left: auto;
	}
}