/* 모바일 번호표 */
.mobile_issuance_list {
	margin-top: 28px;

	&.list_type {
		li {
			.btn {
				padding: 5px 0;
			}
		}
	}

	li {
		border-top: 1px solid #dddddd;

		&:last-child {
			border-bottom: 1px solid #dddddd;
		}

		.btn {
			padding: 20px 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-image: url(#{$url-img-common}/ico_chevron_right_xl.png);
			background-repeat: no-repeat;
			background-size: 9px 15px;
			background-position: center right;

			.issuance_img {
				max-width: 28px;
				margin: 3px 13px 0px 3px;

				img {
					vertical-align: middle;
				}
			}

			.issuance_buble {
				width: 36px;
				height: 33px;
				font-size: 10px;
				font-weight: 500;
				text-align: center;
				background: url(#{$url-img}/content/img_num_style03.png);
				background-size: 36px 33px;
				background-repeat: no-repeat;
				background-position: center center;
				margin-right: 10px;

				span {
					line-height: 32px;
					margin-left: -3px;
				}
			}

			.issuance_txt {
				color: #555;

				strong {
					font-size: 18px;
					font-weight: 500;
					color: #111;
					line-height: 28px;
				}

				p {
					font-size: 13px;
				}

				.state_num {
					font-size: 10px;
					margin-left: 5px;
					width: 16px;
					height: 16px;
					background-color: #333333;
					border-radius: 16px;
					color: $white;
					display: inline-block;
					text-align: center;
					line-height: 16px;
				}

				.state_list {
					display: flex;
					align-items: center;

					.state {
						position: relative;

						.state_num {
							margin-left: 5px;
							width: 16px;
							height: 16px;
							background-color: #333333;
							border-radius: 16px;
							color: $white;
							display: inline-block;
							text-align: center;
							line-height: 16px;
						}
					}

					.bar {
						width: 1px;
						height: 18px;
						background-color: #dddddd;
						margin: 0 20px;
					}
				}

				dl {
					font-size: 14px;
					line-height: 22px;
					color: $black;
					display: flex;


					dt {
						display: inline-block;
						font-weight: 500;
					}

					dd {
						font-weight: 400;
						margin-left: 4px;
						position: relative;

						&+dd {
							padding-left: 14px;

							&::before {
								content: '';
								width: 1px;
								height: 12px;
								display: inline-block;
								position: absolute;
								background-color: $black;
								top: calc(50% - 5px);
								left: 6px;
								// top: 0;
								// margin-left: 5px;
							}
						}
					}
				}
			}

			&.btn_style {
				padding: 17px 0;
			}
		}
	}
}

.search_area {
	width: 100%;
	margin: 0 auto;

	form {
		position: relative;


		.form_integrated_search {
			display: block;
			height: 50px;
			border-radius: 6px;
			margin: 0 -20px;

			&:after {
				@include clearfix();
			}

			.selectbox_wrap {
				float: left;
				height: 100%;

				&.active {
					dt {
						a {
							border-radius: 6px 6px 0 0;
						}
					}
				}

				dt {
					a {
						border: 0;
						border-radius: 6px;
						background-color: $white;

						span {
							line-height: 56px;
							height: 100%;

							&:after {
								top: 25px;
							}
						}
					}
				}

				dd {
					top: 57px;

					ul {
						border: 0;
					}
				}
			}

			.tf {
				width: 100%;
				border: 0;
				height: 100%;
				font-size: 18px;
				background-color: #f6f6f6;
				color: #666;
				padding-left: 20px;
				padding-right: 50px;

				&::placeholder {
					font-size: 16px;
					color: #666;
					font-weight: 200;
				}
			}

			.btn {
				position: absolute;
				right: -20px;
				top: 50%;
				transform: translateY(-50%);
				padding: 0;

				.ico_search {
					margin: 0;
				}
			}
		}
	}

	.row_recommend {

		.tag_tit {
			padding: 0px;
			font-size: 16px;
		}

		.tag_list {
			margin-top: 10px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.item_tag {
				padding-left: 13px;
				padding-right: 29px;
				border: 1px solid #d4d4d4;
				border-radius: 16px;
				margin: 0 2px;
				font-size: 12px;
				line-height: 22px;
				display: inline-block;
				position: relative;
				margin-bottom: 5px;

				.btn_close {
					position: absolute;
					top: 50%;
					margin-top: -15px;
					right: 2px;
					width: 30px;
					height: 30px;

					.ico_close_sm {
						border-radius: 15px;
					}

					.img_close {
						max-width: 16px;

						img {
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
}

.map_area {
	margin: 20px -20px 0;
	height: 100%;
}

.modal_map {
	.address_area {
		position: relative;
		padding: 20px 20px 15px;
		color: #111111;
		border-radius: 10px;

		strong {
			font-size: 20px;
			font-weight: 500;
			line-height: 20px;

			.distance {
				font-size: 16px;
				font-weight: 500;
				color: #555555;
			}
		}

		p {
			font-size: 12px;
		}

		.btn {
			background-color: transparent;
		}

		.phonenumber {
			margin-top: 5px;
			display: block;
			font-size: 14px;
			font-weight: 400;
			color: #111;
		}

		.check_switch {
			position: absolute;
			right: 20px;
			top: 20px;
		}

	}

	.waiting_list {
		display: flex;
		align-items: center;
		margin-top: 10px;

		.item {
			background-color: #f6f6f6;
			border-radius: 8px 0px 0px 8px;
			width: 100%;
			height: 56px;
			text-align: center;
			padding: 10px 0;
			font-size: 16px;
			color: #111;
			font-weight: 200;
			padding-left: 14px;
			padding-right: 14px;
			display: flex;
			align-items: center;

			strong {
				font-size: 24px;
				font-weight: 500;
				display: inline-block;
				margin-left: 14px;
			}

			span {
				font-weight: 400;
				font-size: 24px;
				margin-right: 50px;
			}

			&+.item {
				margin-left: 1px;
				font-size: 16px;
				color: #111;
				border-radius: 0px 8px 8px 0px;
			}
		}
	}
}

.signup_area {
	display: flex;
	margin-top: 20px;

	.content {
		width: 100%;
		min-height: 410px;
		position: relative;
		background-color: #f2f2f2;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #fff;
			width: 1px;
			height: 100%;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}

		.tit {
			text-align: center;
			background-color: $bg_primary;
			font-size: 16px;
			font-weight: 500;
			color: #111;
			padding: 10px 0;
		}

		.tit_l {
			border-radius: 8px 0 0 0;
		}

		.tit_r {
			border-radius: 0 8px 0 0;
		}

		.list_area {
			padding: 15px;

			.list {
				min-height: 162px;
			}

			.content_wait {
				width: 100%;
				margin-top: 20px;

				strong {
					display: block;
					text-align: center;
					padding: 5px 0;
					color: $white;
					font-size: 16px;
					font-weight: 500;
					background-color: #555;
					border-radius: 8px 8px 0 0;
				}

				p {
					width: 100%;
					background-color: $white;
					text-align: center;
					border-radius: 0 0 8px 8px;

					span {
						font-size: 80px;
						font-weight: 500;
						color: #111;
					}
				}
			}
		}
	}

	&.area_type2 {
		margin-right: -5px;
		margin-left: -5px;
		flex-wrap: wrap;

		.content {
			background-color: transparent;
			margin-right: 5px;
			margin-left: 5px;
			min-height: auto;
			width: calc(50% - 10px);

			&:after {
				display: none;
			}

			.content_wait {
				width: 100%;
				margin-top: 10px;

				strong {
					display: block;
					text-align: center;
					padding: 5px 0;
					color: $black;
					font-size: 16px;
					font-weight: 500;
					background-color: $bg_primary;
					border-radius: 8px 8px 0 0;
				}

				.wait_body {
					width: 100%;
					background-color: $white;
					text-align: center;
					border-radius: 0 0 8px 8px;
					border: 1px solid #ddd;
					border-top: none;

					p {
						font-size: 16px;
						font-weight: 500;
						color: #111;

						span {
							font-size: 70px;
							line-height: 84px;
						}
					}

					.btn_group {
						margin: 7px 17px 16px;
					}
				}
			}
		}
	}
}



.tit_type {
	font-size: 20px;
}

.storage_box_content {
	border: 1px solid #dddddd;
	background-color: #f2f2f2;
	border-radius: 8px;
	padding: 15px;
	text-align: center;

	&.disabled {
		background-color: #f2f2f2;

		p {
			opacity: 0.5;
		}

		strong {
			opacity: 0.5;
		}
	}

	p {
		display: block;
	}

	strong {
		display: block;
		font-size: 70px;
		line-height: 80px;
	}

	&.type02 {
		padding: 15px 15px 20px;

		p {
			margin-top: -2px;
		}

		strong {
			margin-top: -8px;
			margin-bottom: 3px;
		}
	}
}

.storage_area {
	display: flex;
	margin-top: 40px;

	&.disabled {
		background-color: #f2f2f2;

		.tit {
			opacity: 0.5;
		}

		.content_wait {
			opacity: 0.5;
		}
	}

	.content {
		width: 100%;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #dddddd;
			width: 1px;
			height: 100%;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}

		.tit {
			text-align: center;
			background-color: #555;
			font-size: 16px;
			font-weight: 400;
			color: $white;
			padding: 5px 0;
		}

		.tit_l {
			border-radius: 8px 0 0 0;
		}

		.tit_r {
			border-radius: 0 8px 0 0;
		}

		.content_wait {
			background-color: #fff;

			p {
				width: 100%;
				text-align: center;
				border-radius: 0 0 8px 8px;
				font-size: 16px;
				padding: 20px 0;

				span {
					font-size: 40px;
					font-weight: 500;
				}
			}
		}

		.wait_l {
			p {
				border-radius: 0 0 0 8px;
				border-left: 1px solid #dddddd;
				border-bottom: 1px solid #dddddd;
			}
		}

		.wait_r {
			p {
				border-radius: 0 0 8px 0;
				border-right: 1px solid #dddddd;
				border-bottom: 1px solid #dddddd;
			}
		}
	}

	&.type02 {
		display: flex;
		margin-top: 50px;

		&.disabled {
			background-color: #f2f2f2;

			.tit {
				opacity: 0.5;
			}

			.content_wait {
				opacity: 0.5;
			}
		}

		.content {
			width: 100%;
			position: relative;
			display: flex;
			flex: 1 1 50%;
			align-items: center;

			&:after {
				content: '';
				display: block;
				position: absolute;
				right: 0;
				top: 0;
				background-color: #dddddd;
				width: 1px;
				height: 100%;
			}

			&:last-child {
				&:after {
					content: none;
				}
			}

			.tit {
				width: 49%;
				text-align: center;
				background-color: #555;
				font-size: 16px;
				font-weight: 400;
				color: $white;
				padding: 15px 0;
				border-radius: 8px 0px 0px 8px;
			}

			.content_wait {
				width: 51%;
				border-radius: 0px 8px 8px 0px;
				border: 1px solid #ddd;
				background-color: #fff;
				border-left: none;

				p {
					width: 100%;
					text-align: center;
					font-size: 24px;
					padding: 8px 0;

					span {
						font-size: 24px;
						font-weight: 500;
					}
				}
			}

			.wait_l {
				p {
					border-radius: 0 0 0 8px;
					border-left: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
				}
			}

			.wait_r {
				p {
					border-radius: 0 0 8px 0;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
				}
			}
		}
	}
}

.notice_list {
	margin-top: 15px;

	li {
		display: flex;
		align-items: flex-start;

		.ico {
			flex: 0 0 auto;
			margin-right: 5px;
			margin-top: 5px;
		}
	}
}

.terms_list {
	li {
		border-top: 1px solid #ddd;
		padding: 10px 0;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}

	}
}

.state_list {
	display: flex;
	align-items: center;
	font-size: 13px;

	.state {
		position: relative;

		.state_num {
			margin-left: 5px;
			width: 16px;
			height: 16px;
			background-color: #333333;
			border-radius: 16px;
			color: $white;
			display: inline-block;
			text-align: center;
			line-height: 16px;
		}
	}

	.bar {
		width: 1px;
		height: 16px;
		background-color: #dddddd;
		margin: 0 20px;
	}
}

.terms_area {
	width: 100%;
	resize: none;
	border: 0;
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 100%;
	max-height: 450px;
	overflow-y: auto;
}

.attach_file_area {
	padding: 15px 0;
	border-top: 1px solid #ddd;
	margin-top: 10px;

	.btn_type {
		display: flex;
	}

	.img_area {
		max-width: 17px;
		flex: 0 0 auto;
		margin-right: 5px;

		img {
			vertical-align: middle;
		}
	}
}

//이용안내 페이지
.num_style2 {
	display: flex;
	align-items: center;

	.num {
		background: url(/resources/img/content/img_num_style02.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 39px 36px;
		width: 39px;
		height: 45px;
		text-align: center;
		color: #ffffff;
		font-size: 15px;
		font-weight: bold;
		position: relative;
		display: inline-flex;
		align-items: center;

		span {
			padding-left: 10px;
		}
	}

	.tit {
		padding-left: 6px;

		>span {
			display: block;
			line-height: 21px;
		}

		>strong {
			font-size: 14px;
			color: #333333;
			font-weight: 500;
		}
	}
}

.list_style {
	.img_area {
		margin-top: 7px;
		margin-bottom: 5px;

		img {
			width: 100%;
			border-radius: 7.5px;
		}
	}
}

//금융용어사전
.tf_item {
	&.search_item_sm {
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 4px;

		.tf_item_body {
			.tf {
				font-size: 14px;
				color: #555;
			}

			.ico {
				&.ico_search_gray {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}

.search_term {
	.term_list {
		display: flex;
		flex-wrap: wrap;

		.term_item {
			flex: 1 1 13%;
			// border: 1px solid #fff;
			margin-right: 1px;
			margin-bottom: 1px;

			input[type=radio] {
				position: absolute;
				opacity: 0;

				&+label {
					height: 34px;
					background-color: #f6f6f6;
					font-size: 14px;
					color: #555;
					font-weight: 400;
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 32px;
				}

				&:checked+label {
					border: 1px solid #ff883a;
					background-color: #fff;
					color: #111;
				}
			}

			&:first-child {
				input[type=radio] {
					&+label {
						border-radius: 4px 0 0 0;
					}
				}
			}

			&:nth-child(7) {
				input[type=radio] {
					&+label {
						border-radius: 0 4px 0 0;
						margin-right: 0px;
					}
				}
			}

			&:nth-child(8) {
				input[type=radio] {
					&+label {
						border-radius: 0 0 0 4px;
					}
				}
			}

			&:last-child {
				input[type=radio] {
					&+label {
						border-radius: 0 0 4px 0;
						margin-right: 0px;
					}
				}
			}

		}
	}
}

.cont_shadow {
	border-color: transparent;
	background-color: #fff;
	filter: drop-shadow(0px 2.5px 2.5px rgba(0, 0, 0, 0.05));
	z-index: 2;
}

.search_term_inner {
	z-index: 1;
	position: absolute;
	height: auto;
	width: 100%;

	.section {
		padding: 20px;
		// margin: 20px;
	}
}

.accordion_list {
	&.list_style2 {
		dl {
			dt {
				.acc_tit {
					padding: 16px 20px 19px 0;
				}

				.btn {
					top: calc(50% - 1px);
				}
			}

			dd {
				margin-top: -6px;
			}
		}
	}
}

// 모바일번호표 : 추가 스타일
.lh_28 {
	line-height: 28px;
}

.list {
	&.list_xs {
		margin-top: 15px;

		li+li {
			margin-top: 3px;
		}
	}
}

.check_switch {
	&.switch_sm {
		input {
			&+label {
				padding-right: 11px;
				padding-left: 24px;
			}

			&:checked+label {
				padding-left: 11px;
				padding-right: 24px;
			}
		}
	}
}

.time_info {
	margin-left: -10px;
	// margin-top: 20px;

	dl {
		width: 100%;
		height: 56px;
		border-radius: 8px;
		background-color: #f6f6f6;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 10px;
		padding: 20px 20px;

		dt {
			display: flex;
			align-items: center;

			.ico {
				width: 35px;
				height: 26px;
				display: inline-block;
				margin-right: 9px;

				&.ico_finance_time {
					background: url(#{$url-img}/content/ico_finance_time.png);
					background-size: 35px 26px;
					background-position: center center;
					background-repeat: no-repeat;
				}

				&.ico_post_time {
					background: url(#{$url-img}/content/ico_post_time.png);
					background-size: 35px 26px;
					background-position: center center;
					background-repeat: no-repeat;
				}
			}

			font-size: 18px;
			line-height: 48px;
			color: $black;
			font-weight: 500;

			&:after {
				content: '';
				display: inline-block;
				width: 1px;
				height: 18px;
				background-color: #bbb;
				margin-left: 20px;
				margin-right: 18px;
			}
		}

		dd {
			font-size: 18px;
			color: $black;
			font-weight: 500;
			letter-spacing: -1px;

			span {
				font-weight: 600;
			}
		}
	}
}

//모바일 번호표 : 이용안내
.ticket_info {
	margin-top: -3px;

	>li+li {
		margin-top: 35px;
	}

	.title {
		font-size: 16px;
		color: $black;
		font-weight: 500;
		display: flex;
		margin-left: -2px;

		.num {
			font-size: 8px;
			color: $black;
			font-weight: 500;
			text-align: center;
			background: url(#{$url-img}/content/ico_num_style04.png);
			background-size: 27px 24px;
			background-repeat: no-repeat;
			width: 27px;
			height: 24px;
			display: inline-block;
			line-height: 21px;
			padding-right: 3px;
			margin: 2px 1px 0px 0px;
		}
	}

	.img_area {
		width: 100%;
		height: 100%;
		border-radius: 8px;
		margin-top: 17px;
		margin-bottom: 6px;
		overflow: hidden;
		filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.05));
		border: 1px solid #ddd;
		display: flex;

		img {
			width: 100%;
			height: auto;
		}
	}
}


.ticket_tip {
	width: 100%;
	// height: 202px;
	border-radius: 8px;
	padding: 15px;
	background-color: #f6f6f6;
	margin-top: 25px;
	display: inline-block;

	strong {
		font-size: 16px;
		color: $black;
		font-weight: 500;
		margin-left: 5px;
		margin-right: 5px;
	}

	.img_area {
		width: 100%;
		height: auto;
		margin-top: 10px;
		background-color: #fff;
		display: flex;
		justify-content: center;

		img {
			width: 100%;
		}
	}
}

.btn {
	&.btn_close_popup {
		&.close_type {
			background: url(/resources/img/common/ico_close_up.png) no-repeat center center;
			background-size: 16px 10px;
			display: inline-block;
			background-repeat: no-repeat;
		}
	}

	&.btn_mt_7 {
		margin-top: 7px;
	}
}

.form_integrated_search {
	.tf {
		&.txt_gray2 {
			&::placeholder {
				color: #666 !important;
			}
		}
	}
}