/* 모바일 번호표 */
.mobile_issuance_list {
	margin-top: 25px;

	&.list_type {
		li {
			.btn {
				padding: 5px 0;
			}
		}
	}

	li {
		border-top: 1px solid #dddddd;

		&:last-child {
			border-bottom: 1px solid #dddddd;
		}

		.btn {
			padding: 20px 0;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-image: url(#{$url-img-common}/ico_chevron_right_xl.png);
			background-repeat: no-repeat;
			background-size: 9px 15px;
			background-position: center right;

			.issuance_img {
				max-width: 28px;
				margin-right: 10px;

				img {
					vertical-align: middle;
				}
			}

			.issuance_txt {
				color: #555;

				strong {
					font-size: 18px;
					font-weight: 500;
					color: #111;
				}

				p {
					font-size: 13px;
				}

				.state_num {
					font-size: 10px;
					margin-left: 5px;
					width: 16px;
					height: 16px;
					background-color: #333333;
					border-radius: 16px;
					color: $white;
					display: inline-block;
					text-align: center;
					line-height: 16px;
				}

				.state_list {
					display: flex;
					align-items: center;

					.state {
						position: relative;

						.state_num {
							margin-left: 5px;
							width: 16px;
							height: 16px;
							background-color: #333333;
							border-radius: 16px;
							color: $white;
							display: inline-block;
							text-align: center;
							line-height: 16px;
						}
					}

					.bar {
						width: 1px;
						height: 18px;
						background-color: #dddddd;
						margin: 0 20px;
					}
				}
			}
		}
	}
}

.search_area {
	width: 100%;
	margin: 0 auto;

	form {
		position: relative;


		.form_integrated_search {
			display: block;
			height: 56px;
			border-radius: 6px;
			margin: 0 -20px;

			&:after {
				@include clearfix();
			}

			.selectbox_wrap {
				float: left;
				height: 100%;

				&.active {
					dt {
						a {
							border-radius: 6px 6px 0 0;
						}
					}
				}

				dt {
					a {
						border: 0;
						border-radius: 6px;
						background-color: $white;

						span {
							line-height: 56px;
							height: 100%;

							&:after {
								top: 25px;
							}
						}
					}
				}

				dd {
					top: 57px;

					ul {
						border: 0;
					}
				}
			}

			.tf {
				width: 100%;
				border: 0;
				height: 100%;
				font-size: 18px;
				background-color: #f6f6f6;
				color: #666;
				padding-left: 20px;
				padding-right: 50px;
			}

			.btn {
				position: absolute;
				right: -20px;
				top: 50%;
				transform: translateY(-50%);
				padding: 0;

				.ico_search {
					margin: 0;
				}
			}
		}
	}

	.row_recommend {

		.tag_tit {
			padding: 0 5px;
			font-size: 16px;
		}

		.tag_list {
			margin-top: 10px;
			display: flex;
			align-items: center;

			.item_tag {
				padding-left: 12px;
				padding-right: 25px;
				border: 1px solid #d4d4d4;
				border-radius: 16px;
				margin: 0 2px;
				font-size: 12px;
				line-height: 22px;
				display: inline-block;
				position: relative;

				.btn_close {
					position: absolute;
					top: 50%;
					margin-top: -15px;
					right: -2px;
					width: 30px;
					height: 30px;

					.ico_close_sm {
						border-radius: 15px;
					}

					.img_close {
						max-width: 16px;

						img {
							padding-top: 5px;
						}
					}
				}
			}
		}
	}
}

.map_area {
	margin: 20px -20px 0;
	height: 100%;
}

.modal_map {
	.address_area {
		position: relative;
		padding: 20px;
		color: #111111;
		border-radius: 10px;

		strong {
			font-size: 20px;
			font-weight: 500;

			.distance {
				font-size: 16px;
				font-weight: 500;
				color: #555555;
			}
		}

		p {
			font-size: 12px;
		}

		.btn {
			background-color: transparent;
		}

		.phonenumber {
			margin-top: 5px;
			display: block;
			font-size: 14px;
			font-weight: 400;
			color: #111;
		}

		.check_switch {
			position: absolute;
			right: 20px;
			top: 20px;
		}

	}

	.waiting_list {
		display: flex;
		align-items: center;
		margin-top: 10px;

		.item {
			background-color: #f6f6f6;
			border-radius: 8px;
			width: 100%;
			text-align: center;
			padding: 10px 0;

			strong {
				font-size: 24px;
				font-weight: 500;
				display: inline-block;
				margin-left: 5px;
			}

			span {
				font-weight: 400;
				font-size: 24px;
			}

			&+.item {
				margin-left: 1px;
				font-size: 16px;
				color: #111;
			}
		}
	}
}

.signup_area {
	display: flex;
	margin-top: 20px;

	.content {
		width: 100%;
		min-height: 410px;
		position: relative;
		background-color: #f2f2f2;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #fff;
			width: 1px;
			height: 100%;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}

		.tit {
			text-align: center;
			background-color: $bg_primary;
			font-size: 16px;
			font-weight: 500;
			color: #111;
			padding: 10px 0;
		}

		.tit_l {
			border-radius: 8px 0 0 0;
		}

		.tit_r {
			border-radius: 0 8px 0 0;
		}

		.list_area {
			padding: 15px;

			.list {
				min-height: 162px;
			}

			.content_wait {
				width: 100%;
				margin-top: 20px;

				strong {
					display: block;
					text-align: center;
					padding: 5px 0;
					color: $white;
					font-size: 16px;
					font-weight: 500;
					background-color: #555;
					border-radius: 8px 8px 0 0;
				}

				p {
					width: 100%;
					background-color: $white;
					text-align: center;
					border-radius: 0 0 8px 8px;

					span {
						font-size: 80px;
						font-weight: 500;
						color: #111;
					}
				}
			}
		}
	}
}

.tit_type {
	font-size: 20px;
}

.storage_box_content {
	border: 1px solid #dddddd;
	background-color: #f2f2f2;
	border-radius: 8px;
	padding: 15px;
	text-align: center;

	&.disabled {
		background-color: #f2f2f2;

		p {
			opacity: 0.5;
		}

		strong {
			opacity: 0.5;
		}
	}

	p {
		display: block;
	}

	strong {
		display: block;
		font-size: 70px;
		line-height: 80px;
	}
}

.storage_area {
	display: flex;
	margin-top: 40px;

	&.disabled {
		background-color: #f2f2f2;

		.tit {
			opacity: 0.5;
		}

		.content_wait {
			opacity: 0.5;
		}
	}

	.content {
		width: 100%;
		position: relative;

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #dddddd;
			width: 1px;
			height: 100%;
		}

		&:last-child {
			&:after {
				content: none;
			}
		}

		.tit {
			text-align: center;
			background-color: #555;
			font-size: 16px;
			font-weight: 400;
			color: $white;
			padding: 5px 0;
		}

		.tit_l {
			border-radius: 8px 0 0 0;
		}

		.tit_r {
			border-radius: 0 8px 0 0;
		}

		.content_wait {

			p {
				width: 100%;
				background-color: #fff;
				text-align: center;
				border-radius: 0 0 8px 8px;
				font-size: 16px;
				padding: 20px 0;

				span {
					font-size: 40px;
					font-weight: 500;
				}
			}
		}

		.wait_l {
			p {
				border-radius: 0 0 0 8px;
				border-left: 1px solid #dddddd;
				border-bottom: 1px solid #dddddd;
			}
		}

		.wait_r {
			p {
				border-radius: 0 0 8px 0;
				border-right: 1px solid #dddddd;
				border-bottom: 1px solid #dddddd;
			}
		}
	}
}

.notice_list {
	margin-top: 15px;

	li {
		display: flex;
		align-items: flex-start;

		.ico {
			flex: 0 0 auto;
			margin-right: 5px;
			margin-top: 5px;
		}
	}
}

.terms_list {
	li {
		border-top: 1px solid #ddd;
		padding: 10px 0;

		&:last-child {
			border-bottom: 1px solid #ddd;
		}

	}
}

.state_list {
	display: flex;
	align-items: center;
	font-size: 13px;

	.state {
		position: relative;

		.state_num {
			margin-left: 5px;
			width: 16px;
			height: 16px;
			background-color: #333333;
			border-radius: 16px;
			color: $white;
			display: inline-block;
			text-align: center;
			line-height: 16px;
		}
	}

	.bar {
		width: 1px;
		height: 16px;
		background-color: #dddddd;
		margin: 0 20px;
	}
}

.terms_area {
	width: 100%;
	resize: none;
	border: 0;
	padding: 10px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 100%;
	max-height: 450px;
	overflow-y: auto;
}

.attach_file_area {
	padding: 15px 0;
	border-top: 1px solid #ddd;
	margin-top: 10px;

	.btn_type {
		display: flex;
	}

	.img_area {
		max-width: 17px;
		flex: 0 0 auto;
		margin-right: 5px;

		img {
			vertical-align: middle;
		}
	}
}

//이용안내 페이지
.num_style2 {
	display: flex;
	align-items: center;

	.num {
		background: url(/resources/img/content/img_num_style02.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 39px 36px;
		width: 39px;
		height: 45px;
		text-align: center;
		color: #ffffff;
		font-size: 15px;
		font-weight: bold;
		position: relative;
		display: inline-flex;
		align-items: center;

		span {
			padding-left: 10px;
		}
	}

	.tit {
		padding-left: 6px;

		>span {
			display: block;
			line-height: 21px;
		}

		>strong {
			font-size: 14px;
			color: #333333;
			font-weight: 500;
		}
	}
}

.list_style {
	.img_area {
		margin-top: 7px;
		margin-bottom: 5px;

		img {
			width: 100%;
			border-radius: 7.5px;
		}
	}
}

//금융용어사전
.tf_item {
	&.search_item_sm {
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 4px;

		.tf_item_body {
			.tf {
				font-size: 14px;
				color: #555;
			}

			.ico {
				&.ico_search_gray {
					width: 15px;
					height: 15px;
				}
			}
		}
	}
}

.search_term {
	.term_list {
		display: flex;
		flex-wrap: wrap;

		.term_item {
			flex: 1 1 13%;
			// border: 1px solid #fff;
			margin-right: 1px;
			margin-bottom: 1px;

			input[type=radio] {
				position: absolute;
				opacity: 0;

				&+label {
					height: 34px;
					background-color: #f6f6f6;
					font-size: 14px;
					color: #555;
					font-weight: 400;
					display: flex;
					align-items: center;
					justify-content: center;
					line-height: 32px;
				}

				&:checked+label {
					border: 1px solid #ff883a;
					background-color: #fff;
					color: #111;
				}
			}

			&:first-child {
				input[type=radio] {
					&+label {
						border-radius: 4px 0 0 0;
					}
				}
			}

			&:nth-child(7) {
				input[type=radio] {
					&+label {
						border-radius: 0 4px 0 0;
						margin-right: 0px;
					}
				}
			}

			&:nth-child(8) {
				input[type=radio] {
					&+label {
						border-radius: 0 0 0 4px;
					}
				}
			}

			&:last-child {
				input[type=radio] {
					&+label {
						border-radius: 0 0 4px 0;
						margin-right: 0px;
					}
				}
			}

		}
	}
}

.cont_shadow {
	border-color: transparent;
	background-color: #fff;
	filter: drop-shadow(0px 2.5px 2.5px rgba(0, 0, 0, 0.05));
	z-index: 2;
}

.search_term_inner {
	z-index: 1;
	position: absolute;
	height: auto;
	width: 100%;

	.section {
		padding: 20px;
		// margin: 20px;
	}
}

.accordion_list {
	&.list_style2 {
		dl {
			dt {
				.acc_tit {
					padding: 16px 20px 19px 0;
				}

				.btn {
					top: calc(50% - 1px);
				}
			}

			dd {
				margin-top: -6px;
			}
		}
	}
}