/* 직원 */
/*.wrapper_staff {}*/

// TODO : 이곳에 스타일을 정의해 주세요.
// 클래스 네임 중복되지 않도록 네이밍은 2단어 이상으로 해주세요.
.input_number {

	input[type="number"]::-webkit-outer-spin-button,
	input[type="number"]::-webkit-inner-spin-button {
		opacity: 1 !important;
	}
}

/* 직원 신청상세정보 */
.staff_apply_detail {
	display: flex;
	height: 100%;

	.info_box {
		flex: 1 1 auto;
		width: 50%;
		border-radius: 10px;

		+.info_box {
			margin-left: 20px;
		}

		&.left {
			border: 1px solid #ddd;
			box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.05);

			display: flex;
			flex-direction: column;

			.info_box_header {
				flex: 0 0 auto;
				padding: 30px 30px 25px;
				border-bottom: 4px solid #eee;

				.user_info {
					color: $black;

					.ico_lg_user {
						margin-top: -5px;
					}

					.btn {
						margin-top: -4px;
						padding: 0 16px 0 20px;
					}

					.user_name {
						position: relative;
						font-size: 24px;
						font-weight: 500;
						line-height: 1;
						letter-spacing: -0.05em;

						&:after {
							content: '';
							position: absolute;
							bottom: 1px;
							left: 0;
							right: 0;
							height: 10px;
							z-index: -1;
							background-color: #fad973;
						}
					}

					.user_num {
						font-size: $font-size-lg;
						font-weight: 500;
					}
				}

				&>div p {
					letter-spacing: -0.02em;
				}

				.uner_info_status {
					width: 65px;
					height: 26px;
					padding: 0;
					font-size: $font-size-xs;
					font-weight: 200;
					color: $gray;
					border-radius: 6px;
					background-color: #eee;
				}
			}

			.info_box_body {
				flex: 1 1 auto;
				padding: 16px 30px;
				overflow-y: auto;
			}

			.info_box_footer {
				flex: 0 0 auto;
				padding: 27px 30px;

				.ico {
					margin-top: -2px;
				}
			}
		}

		&.right {
			padding: 10px 0;
			background-color: #f9e7dd;
			overflow-y: hidden;

			>div {
				overflow-y: auto;
				height: 100%;
			}

			.timeline_box {
				min-height: 75px;
				padding: 19px 20px 15px 20px;
				border-top: 1px solid $white;

				.timeline_header {
					.ico {
						width: 36px;
						height: 36px;
						border-radius: 100%;
						background-size: 20px auto;
						background-color: $white;
					}

					>div {
						display: inline-block;
						margin-top: -2px;
						margin-left: 8px;
						vertical-align: middle;

						p {
							line-height: 13px;
							color: $gray;

							+p {
								margin-top: 3px;
								line-height: 16px;
								color: $black;
							}
						}
					}
				}

				&:first-child {
					border-top: none;
				}

				&:last-child {
					border-bottom: 1px solid $white;
				}
			}

			.timeline_con {
				margin-left: 44px;

				&.wide {
					margin-left: 0;
				}

				.box {
					position: relative;
					padding: 10px;
					min-height: 80px;
					border: 1px solid $white;

					.btn_link {
						position: absolute;
						bottom: 10px;
						right: 10px;
					}
				}

				.timeline_list {
					li {
						font-size: $font-size-sm;
					}
				}
			}
		}
	}
}

// 알림함 공지 상세 
.notice_detail {
	height: 100%;
	background: $bg-lightgray;
	border-radius: 10px;
	padding: 30px;
	overflow-y: auto;

	&>p {
		color: $black;
	}
}

.customer_status {
	ul {
		overflow: hidden;

		li {
			float: left;
			margin: 0 3px;
			padding: 6px;
			font-size: $font-size-xxs;
			font-weight: 200;
			border: 1px solid #ddd;
			border-radius: 4px;

			&.on {
				border: 1px solid #5d5e6d;
				background: #5d5e6d;
				color: #fff;
			}
		}
	}
}

.staff_clock {
	width: 56px;
	height: 56px;
	background-color: #f9e7dd;
	background-image: url(#{$url-img-common}/ico_clock_red2@2x.png);
	background-size: 33px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 100%;

	&+p {
		color: $black;
	}
}

.popup_header {
	.detail_status {
		padding: 0 9px;
		font-weight: 200;
		color: $black;
		border-radius: 5px;
		background: #ffebb5;

		&.case1 {
			background: #ffebb5;
		}

		&.case2 {
			background: #d6d0cc;
		}

		&.case3 {
			background: #c9d1df;
		}

		&.case4 {
			background: #cfdeea;
		}

		&.case5 {
			background: #d2e9e0;
		}

		&.case6 {
			background: #f5c9c2;
		}
	}
}

.popup_tit {
	&.notice_tit {
		max-height: 2em !important;
		line-height: 1.5em !important;
	}
}

.brd_top_default {
	border-top: 1px solid #ddd;
}

.add_data_list {
	height: 60px;
	border-top: 1px solid #ddd;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
	background: #fff;
	text-align: center;

	.btn {
		border-radius: 0 0 6px 6px;
	}
}

.tbl_data {
	.contact_detail_list {
		&.on {
			/*background: $primary;*/
			background: #fad973;
		}
	}

	.contact_detail_view {
		.flex_justify_between {
			&.half_width {
				>div {
					width: 49%;
				}
			}
		}

		td {
			padding: 15px;

			.box {
				padding: 12px 16px;
				min-height: 90px;
				border: none;
			}

			.list1 {
				li {
					padding-left: 6px;

					&:before {
						width: 3px;
						height: 3px;
						top: 10px;
						border-radius: 0;
					}
				}
			}
		}

	}

	th {
		&.bg_lightyellow {
			background-color: #fef5e5;
		}
	}

}

.tit_black {
	color: $black;
}

.quickmenu_check_area {
	margin-left: 20px;

	.check_item {
		min-width: 145px;
		margin-bottom: 5px;
	}

	&+.btn_group_main {
		margin-top: 110px;
	}
}

.btn_mt_100 {
	margin-top: 300px;
}

.btn_page_move {
	width: 95px;
	height: 30px;
	padding: 0 15px 0 30px;
	font-weight: 500;
	background-image: url(#{$url-img-common}/ico_page_move@2x.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.lab_status {
	&.lab_square {
		min-width: 70px;
		margin-right: 15px;
		border-radius: 4px;
		font-weight: 200;
	}
}

.notice_alam {
	margin: 60px 0 20px 0;
	text-align: center;
	font-size: $font-size-sm;
	color: $gray;

	p {
		padding-top: 45px;
		background-image: url(#{$url-img-common}/ico_notice_lightgray@2x.png);
		background-size: 40px 40px;
		background-repeat: no-repeat;
		background-position: 50% 0;
	}
}

.view_type_select {
	.ico_btn_list {
		width: 29px;
		height: 25px;
		line-height: 25px;
		background-image: url(#{$url-img-common}/ico_btn_list@2x.png);
		background-size: cover;
	}

	.ico_btn_chart_gray {
		width: 29px;
		height: 25px;
		line-height: 25px;
		background-image: url(#{$url-img-common}/ico_btn_chart_gray@2x.png);
		background-size: cover;
	}
}

.customer_total_profit {
	position: relative;

	&:after {
		content: '';
		display: block;
		clear: both;
	}

	dl {
		float: left;
		margin-right: 70px;

		dt {
			font-size: $font-size-sm;
			color: $gray;
		}

		dd {
			font-size: 35px;
			font-weight: 500;
			line-height: 35px;
			color: $black;

			span {
				font-size: 30px;
			}
		}
	}

	.myservice_list {
		float: left;
		padding: 0;

		li.on:nth-child(1) {
			a {
				background: #ffdd75;
			}

		}

		li.on:nth-child(2) {
			a {
				background: #ffa86f;
			}

		}

		li.on:nth-child(3) {
			a {
				background: #b8e9ce;
			}

		}

		li.on:nth-child(4) {
			a {
				background: #dcdee3;
			}

		}
	}
}

.graph_clock {
	margin-top: -30px;
}

.graph_chart_box1 {
	>div {
		width: 310px;

		&+div {
			width: 600px;
		}
	}
}

.graph_chart_box2 {


	.box {
		position: relative;
		width: 470px;
		height: 320px;
		border-radius: 40px 12px 12px 12px;
		margin-bottom: 20px;
		padding: 30px 35px 25px;
	}

	.graph_chart_area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 auto;
		padding-bottom: 4px;

		.left {
			flex: 0 0 auto;
			position: relative;
			width: 92px;
			height: 83px;
			background-repeat: no-repeat;
			background-size: cover;
			background-image: url(#{$url-img}/content/bg_service2@2x.png);


			@for $i from 1 to 10 {
				@include ico2x('service#{$i}_sm_on', 30px, 30px);
			}

			@for $i from 1 to 10 {
				@include ico2x('service#{$i}_sm_off', 30px, 30px);
			}

			&.insu {
				background-image: url(#{$url-img}/content/bg_service4@2x.png);
			}

			&.fund {
				background-image: url(#{$url-img}/content/bg_service6@2x.png);
			}

			&.loan {
				background-image: url(#{$url-img}/content/bg_service8@2x.png);
			}

			.inner {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				height: 100%;
				padding-right: 2px;
			}

			.text {
				font-size: $font-size-xs;
				font-weight: 300;
				color: $black;
				letter-spacing: -.03em;
			}

			.badge {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 2px;
				right: 6px;
				width: 22px;
				height: 22px;
				border-radius: 50%;
				background-color: $darkgray;
				font-size: $font-size-xxs;
				color: $white;
			}
		}

		.right {
			flex: 1 1 50%;

			.total {
				letter-spacing: -.05em;
				text-align: right;

				dt {
					margin: 0;
					font-size: $font-size-sm;
					font-weight: 200;
				}

				dd {
					font-size: 30px;
					line-height: 30px;
					font-weight: 500;

					span {
						font-size: 26px;
					}
				}
			}

		}
	}

	.graph_insu_detail {
		position: absolute;
		bottom: 0;
		overflow: hidden;
		width: 100%;
		margin: 0px -35px;
		background: $bg-lightgray;
		border-radius: 12px;

		dl {
			position: relative;
			float: left;
			width: 50%;
			height: 80px;
			text-align: center;

			dt {
				margin: 14px 0 0 0;
				font-size: $font-size-md;
				line-height: 14x;
				font-weight: 200;

				&:before {
					width: 0;
					margin: 0;
				}
			}

			dd {
				font-size: $font-size-xl;
				line-height: 20px;
				font-weight: 500;
			}

			&+dl:after {
				content: '';
				position: absolute;
				top: 20px;
				left: 0;
				width: 1px;
				height: 40px;
				background: $white;
			}
		}
	}
}

.tbl_side_full {
	.scroll_track {
		padding: 0;
	}
}

.box {
	&.notice_box {
		padding: 22px 30px;

		.lab_square {
			color: $black;
		}
	}
}

.box {
	&.box_brd_none {
		border: none;
	}
}

.tab_menu1 {
	+.tab_menu2 {
		.tab_list {
			.badge {
				padding-left: 3.1px;
			}
		}
	}
}

.txt_color_black {
	color: $black;
}

// TODO : 이곳에 스타일을 정의해 주세요.
// 클래스 네임 중복되지 않도록 네이밍은 2단어 이상으로 해주세요.