.sub_main_mall {
	.mall_promotion_slide .slick-slide {
		height: 457px;
	}

	.rolling_info {
		bottom: 79px;
	}
}

.mall_slide_cont {
	position: relative;
	padding-top: 74px;

	.product_name_box {
		>.pro_name {
			>.inner {
				padding-right: 470px;

				>strong {
					line-height: 1.2;
					font-size: 48px;
				}
			}

			.evt_ico_box {
				margin-left: 13px;
				vertical-align: 14px;

				>.evt_icon:not(:last-child) {
					margin-right: 11px;
				}
			}
		}

		>.exp {
			margin-top: 3px;
			font-size: 24px;
			color: #333;
		}

	}

	.product_card_img {
		position: absolute;
		right: 40px;
		top: 72px;
	}

	.product_link {
		position: absolute;
		left: 0;
		top: 237px;

		>a {
			display: inline-flex;
			min-width: 137px;
			height: 46px;
			padding: 0 10px;
			border: 1px solid #333;
			border-radius: 5px;
			align-items: center;
			justify-content: center;
			font-weight: 400;
		}
	}
}

.product_result {
	position: absolute;
	right: calc((100% - 1154px) / 2);
	top: 42px;
	z-index: 10;
	width: 382px;
	height: 337px;
	padding: 12px 13px 0 2px;
	border-radius: 10px 10px 10px 60px;
	box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, .1);
	background-position: 0 0;
	background-repeat: no-repeat;

	&::before {
		content: '';
		position: absolute;
		right: 14px;
		top: -12px;
		width: 35px;
		height: 50px;
		background: url(#{$url-img}/main/img_clip.png) no-repeat 0 0;
	}

	&.pro_dep {
		background: #fdc61c;
	}

	&.pro_fund {
		border-radius: 10px;
		background: #9cdccc;

		>.inner {
			background-image: url(#{$url-img}/main/bg_product_fund_result.png);
			background-position-x: 1px;
		}
	}

	>.inner {
		height: 323px;
		padding: 32px 30px 0;
		background: url(#{$url-img}/main/bg_product_result.png) no-repeat 0 0;
	}

	.tit_calc {
		display: inline-flex;
		margin-bottom: 20px;
		align-items: center;
		line-height: 1;
		font-size: 24px;
		font-weight: 500;

		&::before {
			display: inline-block;
			content: '';
			width: 30px;
			height: 30px;
			margin-right: 10px;
			background: url(#{$url-img}/main/ico_ins_calc.png) no-repeat 0 0;
		}
	}

	::-webkit-input-placeholder {
		text-align: left;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		text-align: left;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		text-align: left;
	}

	:-ms-input-placeholder {
		text-align: left !important;
	}

	.tf_txt {
		font-weight: 400;
		font-size: 18px;
	}

	.simul_point {
		margin-bottom: 30px;
		line-height: 1;

		>.si_date {
			margin-bottom: 11px;
			font-size: 14px;
			color: #666;
		}

		>.si_index {
			>em {
				font-style: normal;
				font-weight: 400;
				font-size: 35px;
				color: #111;
			}
		}
	}

	.profit {
		display: inline-block;
		margin-left: 12px;
		font-weight: 400;
		font-size: 16px;
		color: #000;

		.profit_money {
			position: relative;
			display: inline-block;
		}

		.profit_money::before {
			display: inline-block;
			content: '';
			width: 0;
			height: 0;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			transform: translate(-6px, -1px);
		}

		.profit_money.upper {
			color: #ff3131;
		}

		.profit_money.upper+.profit_point {
			color: #111;
		}

		.profit_money.upper::before {
			border-bottom: 9px solid #ff0000;
		}

		.profit_money.lower {
			color: #0069e1;
		}

		.profit_money.lower::before {
			border-bottom: 9px solid #0069e1;
			transform: translate(-6px, -1px) rotate(180deg);
		}
	}

	.simul_chart {
		padding: 25px 10px;
		border-radius: 10px;
		background: #fafafa;
	}
}



.product_category_menu {
	position: absolute;
	left: calc((100% - 1200px) / 2);
	bottom: -35px;
	width: 1200px;
	box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, .07);

	>ul {
		display: flex;
		overflow: hidden;
		border-radius: 7px;


		>li {
			flex: 1;

			&:not(:last-child) {
				>a {
					&::before {
						content: '';
						position: absolute;
						right: 0;
						top: 50%;
						z-index: 1;
						width: 1px;
						height: 18px;
						margin-top: -9px;
						background: #ddd;
					}
				}
			}

			>a {
				display: block;
				position: relative;
				height: 70px;
				background: #fff;
				text-align: center;
				line-height: 70px;
				font-weight: 400;
				font-size: 20px;

				&:hover,
				&.on {
					&::after {
						content: '';
						position: absolute;
						left: 0;
						top: 0;
						z-index: 2;
						width: 100%;
						height: 100%;
						background: #333;
					}

					>span {
						position: relative;
						z-index: 3;
						color: #fff;
					}
				}
			}
		}
	}
}

.rec_cont {
	>ul {
		display: flex;

		>li {
			position: relative;
			flex: 0 0 380px;
			max-width: 380px;

			padding: 37px 40px 0;
			border: 1px solid #ddd;
			border-radius: 5px 5px 5px 15px;

			&:not(:last-child) {
				margin-right: 30px;
			}
		}
	}

	&.dep_cont {
		>ul>li {
			height: 230px;
		}

		.pro_name {
			>a {
				margin-right: 5px;
				line-height: 1.1;

				>strong {
					font-size: 26px;
					color: #000;
				}

				&:hover {
					text-decoration: underline;
				}
			}

			>.evt_ico_box {
				display: inline-flex;
				vertical-align: top;

				>.evt_icon {
					margin-top: 4px;

					&:not(:last-child) {
						margin-right: 9px;
					}
				}
			}
		}

		.pro_percent {
			display: flex;
			position: absolute;
			left: 0;
			bottom: 40px;
			width: 100%;
			padding: 0 40px;
			align-items: baseline;

			>span {
				font-weight: 400;
				color: #111;
			}

			>strong {
				margin-left: auto;
				line-height: 1;
				font-weight: 600;
				font-size: 40px;
			}
		}
	}

	&.card_cont {
		>ul>li {
			padding-bottom: 38px;
		}

		.card_list_img {
			text-align: center;

			>img {
				border-radius: 15px;
			}
		}

		.card_list_name {
			margin: 20px 0;

			>a {
				display: block;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				overflow: hidden;
				height: 58px;
				word-break: break-all;
				line-height: 1.1;
				font-weight: 500;
				font-size: 26px;
				color: #000;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.tit_top {
	display: flex;
	align-items: end;

	>.l {
		margin-right: auto;

		>.tit_ico {
			display: inline-flex;
			align-items: center;
			line-height: 1;
			font-size: 22px;
			color: #111;

			&::before {
				display: inline-block;
				content: '';
				background-position: 0 0;
				background-repeat: no-repeat;
			}

			&.ico_sale::before {
				width: 35px;
				height: 38px;
				margin-right: 7px;
				background-image: url(#{$url-img}/main/ico_tit_sale.png);
			}

			&.ico_age::before {
				width: 34px;
				height: 34px;
				margin-right: 7px;
				background-image: url(#{$url-img}/main/ico_tit_age.png);
			}

			&.ico_event::before {
				width: 37px;
				height: 34px;
				margin-right: 7px;
				background-image: url(#{$url-img}/main/ico_event.png);
			}
		}

		>ul {
			display: inline-flex;
			font-weight: 300;
			font-size: 20px;
			color: #555;

			>li {
				&:not(:last-child) {
					margin-right: 9px;
				}
			}
		}

		>.tit_mall {
			font-size: 27px;
		}
	}

	>.r {
		margin-left: auto;
	}


}

.sub_mall_search {
	.mall_search_box .find_con.bg_search {
		padding-right: 54px;

		&::after {
			display: none;
		}
	}

	.mall_search_box .tag_con ul {
		margin-bottom: -8px;

		>li {
			margin: 0 12px 8px 0;

			>a {
				padding: 0;
				border: 0;
				line-height: 1;
				font-weight: 400;
				color: #111;
			}
		}
	}

	.mall_search_box>.my_product_find {
		flex: none;
		width: 265px;
		padding-left: 40px;

		>ul {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: -5px;

			>li {
				margin: 0 5px 5px 0;

				>button {
					display: inline-flex;
					height: 36px;
					padding: 0 10px;
					border: 1px solid #555;
					border-radius: 5px;
					background: #fff;
					align-items: center;
					justify-content: center;
					white-space: nowrap;
					font-weight: 400;
					font-size: 15px;

					&.on {
						border-color: #fdc61c;
						background: #fdc61c;
						font-weight: 400;
					}
				}
			}
		}
	}

	.my_product_find .product_find:before {
		width: 22px;
		height: 21px;
		background-image: url(#{$url-img}/main/ico_tit_find.png);
	}
}

.round_check_wrap {
	display: inline-block;
}

.round_check_btn {
	display: inline-block;
	overflow: hidden;
	vertical-align: top;

	&.lg {
		>.lab_box {
			overflow: hidden;
			border: 1px solid #a2a2a2;
			border-radius: 4px;

			>label {
				width: 73px;
				height: 44px;
				border: 1px solid #fff;
				font-size: 16px;
				color: #111;
			}
		}

		>input[type=radio]:checked+.lab_box {
			border-radius: 5px;
			border-color: #fdc822;

			>label {
				border-radius: 4px;
				border-color: #fdc822;

				&::before {
					display: inline-block;
					content: '';
					width: 13px;
					height: 11px;
					margin-right: 5px;
					background: url(#{$url-img}/main/ico_check_arrow.png) no-repeat 0 0;
				}
			}
		}

		&+.round_check_btn {
			margin-left: 5px;
		}
	}

	>input[type=radio]:checked+.lab_box {
		>label {
			border-color: #fdc61c;
			background: #fef5e5;
		}
	}

	>.lab_box {
		>label {
			display: inline-flex;
			width: 54px;
			height: 32px;
			border: 1px solid #a2a2a2;
			border-radius: 5px;
			background: #fff;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			color: #555;
		}
	}

	&+.round_check_btn {
		margin-left: 1px;
	}
}

.mall_product_list {
	display: flex;

	>li {
		flex: 0 0 380px;
		width: 380px;
		max-width: 380px; // IE 적용
		padding: 29px 40px 40px;
		border: 1px solid #ddd;
		border-radius: 10px 10px 10px 30px;

		&:not(:last-child) {
			margin-right: 30px;
		}

		>.inner {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	.top {
		display: flex;
		align-items: center;

		>.l {
			margin-right: auto;
		}

		>.r {
			margin-left: auto;
		}
	}

	.mid {
		//-ms-flex-preferred-size: auto;
		padding-top: 45px;
		line-height: 1.2;
	}

	.btm {
		border-top: 1px solid #ddd;
	}

	.pro_cat {
		display: inline-flex;
		height: 28px;
		padding: 0 10px;
		border-radius: 23px;
		background: #fef5e5;
		align-items: center;
		font-weight: 400;
	}

	.grade {
		display: inline-flex;
	}

	.category_group {
		justify-content: center;
	}

	.product_pick_name {
		text-align: center;

		>a {
			word-break: break-all;
			letter-spacing: -2px;
			font-weight: 500;
			font-size: 26px;
			color: #000;
		}

		>.evt_ico_box {
			margin-left: 7px;
			vertical-align: 7px;
		}
	}

	.product_card_name {
		>a {
			display: block;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			height: 65px;
		}

		.card_thum_img {
			margin-top: 15px;

			>img {
				border-radius: 5px;
			}
		}
	}

	.product_fund_name {
		>a {
			display: block;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			height: 65px;
		}
	}

	.product_hash_list {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -10px;

		>li {
			margin: 0 3px 10px 0;
			line-height: 1;
			font-size: 14px;
			color: #666;
		}
	}

	.product_des_list {
		>li {
			display: flex;
			align-items: center;


			>.l {
				margin-right: auto;
				font-weight: 400;
			}

			>.r {
				margin-left: auto;

				>strong {
					line-height: 1;
					font-weight: 600;
					font-size: 36px;
				}
			}
		}
	}
}

.category_group {
	display: flex;
	line-height: 1;

	>li {
		position: relative;
		margin-right: -1px;
		padding: 0 10px;

		&:first-child {
			padding-left: 0;
		}

		&:not(:last-child)::before {
			content: '';
			position: absolute;
			right: 0;
			top: 4px;
			width: 1px;
			height: 12px;
			background: #ddd;
		}
	}
}

.sec_mall_event {
	padding: 60px 0 100px;
}

.product_event_list {
	display: flex;

	>li {
		position: relative;
		flex: 0 0 585px;
		max-width: 585px;

		&:not(:last-child) {
			margin-right: 30px;
		}

		>button {
			position: absolute;
			right: 31px;
			top: 23px;
			width: 30px;
			height: 30px;
			background: url(#{$url-img}/main/btn_event_share.png) no-repeat 100% 50%;
		}
	}
}

.product_find_result {
	padding: 33px 20px;
	border-top: 1px solid #111;
	border-bottom: 1px solid #ddd;

	>.find_form {
		display: flex;
		align-items: center;

		>.l {
			display: flex;
			margin-right: auto;
			align-items: center;
		}

		>.r {
			margin-left: auto;
		}

		.form_txt {
			font-weight: 500;
			font-size: 20px;
		}

		.btn_fun {
			width: 156px;
		}
	}
}

.dep_result {
	padding-top: 30px;

	>.dep_res_msg {
		display: flex;
		height: 100px;
		border: 2px dashed #fedb6e;
		border-radius: 7px;
		background: #fff;
		align-items: center;
		justify-content: center;
		font-size: 20px;

		>strong {
			margin: 0 3px;
			font-size: 26px;
		}
	}

	>.dep_res_info {
		margin-top: 30px;
	}

	.top {
		display: flex;
		align-items: center;

		>.l {
			margin-right: auto;
			line-height: 1;

			>h4 {
				display: inline-flex;
				align-items: center;
				font-weight: 500;
				font-size: 26px;
				color: #000;

				&::before {
					display: inline-block;
					content: '';
					width: 33px;
					height: 34px;
					background: url(#{$url-img}/main/ico_hand.png) no-repeat 0 0;
				}
			}
		}

		>.r {
			margin-left: auto;
		}

		.btn_outline_default {
			height: 38px;
			font-weight: 400;
		}

		.btn_pd_share {
			display: inline-block;
			width: 38px;
			height: 38px;
			background: url(#{$url-img}/content/btn_pd_share.png) no-repeat 0 0;
			vertical-align: top;
		}
	}

	.mid {
		display: flex;
		padding-top: 20px;
		align-items: center;

		>.l {
			width: 424px;
			margin-right: auto;

			>ul {
				display: flex;
				height: 101px;
				border: 1px solid #ddd;
				border-radius: 10px;
				background: #fff;
				align-items: center;

				>li {
					position: relative;
					flex: 1;
					text-align: center;
					line-height: 1;
					color: #666;

					&:not(:last-child) {
						&::before {
							content: '';
							position: absolute;
							right: 0;
							top: 50%;
							width: 1px;
							height: 50px;
							margin-top: -25px;
							background: #ddd;
						}
					}

					>strong {
						display: block;
						margin-top: 10px;
						font-size: 22px;
						color: #111;
					}
				}
			}
		}

		>.r {
			margin-left: auto;

			>ul {
				>li {
					display: flex;
					align-items: center;
					line-height: 1;

					&:not(:last-child) {
						margin-bottom: 19px;
					}
				}

				.l {
					margin-right: auto;
					padding-right: 70px;
					color: #333;
				}

				.r {
					margin-left: auto;

					>strong {
						font-weight: 600;
						font-size: 32px;
					}
				}
			}
		}

		.t1 {
			color: #333;
		}

		.t2 {
			font-size: 14px;
			color: #666;
		}
	}
}

.btn_gray {
	background: #555;
	color: #fff;
}

.v_base {
	vertical-align: baseline;
}

.evt_ico_box {
	display: inline-flex;
}

.flex_box.align_end {
	align-items: flex-end;
}

.hashtag_list {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: -9px;
	line-height: 1.1;

	>li {
		margin: 0 3px 9px 0;
		font-size: 14px;
		color: #666;
	}
}

.sec_card {
	background: #e5f1ff;
}

.card_search_result {
	.product_name {
		display: block;
		padding-right: 190px;

		>strong {
			letter-spacing: -1px;
		}

		>.card_img {
			top: -20px;
		}
	}

	.evt_ico_box {
		vertical-align: 4px;

		>.evt_icon {
			margin-right: 8px;
		}
	}

	.product_hashtag {
		padding-right: 190px;
	}
}

.sec_fund {
	background: #ebfbf7;

	.product_link {
		top: 254px;
	}
}

.scroll_wrap {
	position: relative;

	&::before {
		content: '';
		width: 100%;
		height: 11px;
		background: #fff;
		position: absolute;
		left: 0;
		bottom: 0;
	}

	>.scroll_inner {
		width: 100%;
		overflow-x: auto;

		/* IE scrollbar */
		scrollbar-arrow-color: #e4e4e4; // 화살표 색상
		scrollbar-face-color: #fdc61c; // 표면 색상
		scrollbar-shadow-color: #fdc61c; //그림자 부분 색상
		scrollbar-track-color: #e4e4e4; // 트랙 색상

		/* wekbit 브라우저 scrollbar */

		// 스크롤바 넓이
		&::-webkit-scrollbar {
			height: 16px;
		}

		// 스크롤바 버튼
		&::-webkit-scrollbar-button:start:decrement,
		&::-webkit-scrollbar-button:end:increment {
			display: none;
		}

		// 트랙 색상
		&::-webkit-scrollbar-track {
			background: #efefef;
		}

		// 바 색상
		&::-webkit-scrollbar-thumb {
			background: #fdc61c;
		}
	}
}