// 계약사항 변경 - 부활청약

.tbl_row2 {
	&.type02 {
		&.num_tb {
			th {
				padding: 24px 20px 24px 50px;
				position: relative;
				font-weight: 400;
				letter-spacing: -0.5px;

				span {
					&.num {
						color: #fff;
						position: absolute;
						left: 20px;
						top: 29px;
						background: #555;
						border-radius: 50%;
						width: 20px;
						font-size: 14px;
						font-weight: 400;
						height: 20px;
						text-align: center;
						line-height: 18px;
					}
				}

				.num_list4 {
					margin-top: -3px;
				}

				.num6_chk {
					font-size: 0;
					margin-top: -5px;
					margin-top: 7px;

					li {
						display: inline-block;
						vertical-align: middle;
						margin: 6px 25px 0 0;

						input:disabled+label {
							background: none;

							&:before {
								content: "";
								display: block;
								position: absolute;
								left: 0;
								top: 3px;
								background: #f3f3f3;
								border: 1px solid #ddd;
								width: 22px;
								height: 22px;
								border-radius: 5px;
							}
						}

						label {
							font-size: 16px;
							color: #666;
							font-weight: 200;
						}
					}
				}
			}
		}
	}
}

.bottom_controll_areas2 {
	position: relative;
	margin-top: 70px;

	.list {
		.num {
			display: inline-block;
			vertical-align: middle;
			color: #fff;
			background: #555;
			border-radius: 50%;
			width: 20px;
			font-size: 14px;
			font-weight: 400;
			height: 20px;
			text-align: center;
			line-height: 18px;
			position: relative;
			top: -2px
		}
	}

	.btns {
		font-size: 0;
		position: absolute;
		right: 0;
		top: 0;

		li {
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;

			a {
				font-size: 14px;
				color: #fff;
				padding: 0 40px 0 20px;
				background: #555;
				border-radius: 30px;
				display: block;
				text-align: center;
				height: 32px;
				line-height: 30px;
				position: relative;

				&:before {
					content: "";
					display: block;
					border-left: 2px solid #fff;
					height: 10px;
					position: absolute;
					right: 24px;
					top: 50%;
					margin-top: -6px;
				}

				&:after {
					content: "";
					display: block;
					border-top: 2px solid #fff;
					width: 10px;
					position: absolute;
					right: 20px;
					top: 50%;
					margin-top: -2px;
				}

				&.del {
					&:before {
						display: none;
					}
				}
			}
		}
	}
}

.num_style_list2 {
	background: #f7f7f7;
	border-top: 1px solid #111;
	margin-top: 25px;

	.num_list {
		>li {
			position: relative;
			padding: 30px;
			padding-left: 50px;
			border-bottom: 1px solid #eee;

			&::before {
				display: none;
			}

			&:last-child {
				border-color: #ddd;
			}

			.chk {
				position: absolute;
				right: 20px;
				top: 27px;
			}

			.num {
				color: #fff;
				position: absolute;
				left: 20px;
				top: 34px;
				background: #555;
				border-radius: 50%;
				width: 20px;
				font-size: 14px;
				font-weight: 400;
				height: 20px;
				text-align: center;
				line-height: 18px;
			}

			.tit {
				display: block;
				margin-bottom: 20px;
				width: 700px;
			}

			>ul {
				font-size: 0;
				margin: -10px 0 0 -30px;

				li {
					display: inline-block;
					vertical-align: top;
					margin: 10px 0 0 30px;

					label {
						font-size: 16px;
						color: #666;
					}
				}
			}

			input[type="checkbox"]:disabled+label {
				background: none;

				&:before {
					content: "";
					display: block;
					position: absolute;
					left: 0;
					top: 3px;
					background: #f3f3f3;
					border: 1px solid #ddd;
					width: 22px;
					height: 22px;
					border-radius: 5px;
				}
			}


			.num_list {
				>li {
					border: 0;
					padding-top: 0;
					padding-bottom: 0;
					margin-top: 20px;
					padding-left: 30px;

					&:first-child {
						margin-top: 0;
					}

					.chk {
						top: 0px;
						right: 30px;
					}

					.num {
						background: #fff;
						color: #111;
						box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
						top: 5px;
						left: 0;
					}
				}
			}
		}
	}
}

.box {
	&.box_type2 {
		padding: 23px 30px 33px;

		dt {
			margin-bottom: 8px;
		}
	}
}

.contract_list {
	.tbl_row2 {
		&.type2 {
			tr {
				th {
					padding: 24px 20px !important;
					text-align: left;
					font-weight: 500;
					color: #333;

					&.pl_7 {
						padding-left: 35px !important;
					}
				}

				td {
					padding-left: 0 !important;

					&.pr_2 {
						padding-right: 10px !important;
					}
				}
			}
		}
	}
}

.car_chk {
	display: flex;
	flex-wrap: wrap;

	li {
		margin-right: 30px;
	}
}

.btn_darkgray {
	background: #555555;
	color: #ffffff;
	font-weight: 200;
}

.lab_status {
	&.type9 {
		background: #1e4a0d;
	}
}