// 정나원

//계약사항변경-부활청약 목록
.bg_lightgray2 {
	background-color: #f8f8f8;
}

.contract_list {

	.contract_item {
		&.type1 {
			padding: 0;

			a {
				padding: 15px 20px;
			}


			.in_detail {
				margin: 0;
				padding: 15px 20px;

				span {
					em {
						font-size: 12px;
					}

					strong {
						font-size: 12px;
						font-weight: 400;
					}
				}
			}
		}

		&.type2 {

			.in_detail {
				em {
					font-size: 14px;
					font-weight: 200;
					color: $gray;
				}

				strong {
					font-size: 14px;
					font-weight: 200;
				}
			}
		}
	}
}

.sum {
	margin-top: 15px;
	padding: 18px 19px 18px 0;
	border-radius: 8px;
	background: #fef0e7;
	text-align: right;

	.num {
		padding-left: 14px;
		color: #ce4900;
	}
}