.sub_main_mall {
	.mall_promotion_slide .slick-slide {
		height: 457px;
	}

	.rolling_info {
		bottom: 79px;
	}
}

.mall_slide_cont {
	position: relative;
	padding-top: 74px;

	.product_name_box {
		>.pro_name {
			>.inner {
				padding-right: 470px;

				>strong {
					line-height: 1.2;
					font-size: 48px;
				}
			}

			.evt_ico_box {
				margin-left: 13px;
				vertical-align: 14px;

				>.evt_icon:not(:last-child) {
					margin-right: 11px;
				}
			}
		}

		>.exp {
			margin-top: 3px;
			font-size: 24px;
			color: #333;
		}
	}

	.product_link {
		margin-top: 70px;

		>a {
			display: inline-flex;
			min-width: 137px;
			height: 46px;
			padding: 0 10px;
			border: 1px solid #333;
			border-radius: 5px;
			align-items: center;
			justify-content: center;
			font-weight: 400;
		}
	}
}

.product_result {
	position: absolute;
	right: calc((100% - 1154px) / 2);
	top: 42px;
	z-index: 10;
	width: 382px;
	height: 348px;
	padding: 57px 30px 0;
	background-position: 0 0;
	background-repeat: no-repeat;

	&.pro_dep {
		background-image: url(#{$url-img}/main/bg_dep_result.png);
	}

	>.tit_calc {
		display: inline-flex;
		margin-bottom: 20px;
		align-items: center;
		line-height: 1;
		font-size: 24px;
		font-weight: 500;

		&::before {
			display: inline-block;
			content: '';
			width: 30px;
			height: 30px;
			margin-right: 10px;
			background: url(#{$url-img}/main/ico_ins_calc.png) no-repeat 0 0;
		}
	}

	::-webkit-input-placeholder {
		text-align: left;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		text-align: left;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		text-align: left;
	}

	:-ms-input-placeholder {
		text-align: left !important;
	}

	.tf_txt {
		font-weight: 400;
		font-size: 18px;
	}
}

.product_category_menu {
	position: absolute;
	left: calc((100% - 1200px) / 2);
	bottom: -35px;
	width: 1200px;

	>ul {
		display: flex;

		>li {
			flex: 1;

			>a {
				display: block;
				height: 70px;
				text-align: center;
			}
		}
	}
}

.evt_ico_box {
	display: inline-flex;
}