// 서브메인 

.txt_gray2 {
	color: #666666;
}

.mypage_sec01 {
	position: relative;
	background: #fff;
	z-index: 1;

	&:after {
		content: '';
		position: absolute;
		top: 134px;
		left: 0;
		width: 100%;
		height: 404px;
		background: #ffede4;
		z-index: -1;
	}

	.container {
		padding: 60px 0;
	}

	.mypage_user {
		padding: 26px 0 26px 264px;
		min-height: 197px;
		background:url(#{$url-img}/main/img_submain38.png) no-repeat -2px 0;

		>span {
			display: block;
			display: flex;
			align-items: center;
		}

		.user {
			display: block;
			line-height: 1;
			font-size: 38px;
			letter-spacing: -1px;

			strong {
				display: inline-block;
				font-size: 38px;
			}
		}

		.lab_status {
			line-height: 23px;
			padding: 0 10px;
			min-width: 47px;

			&.bg_orange {
				background: #ff883a;
				color: #fff;
			}
		}

		.btn_gray {
			min-width: auto;
		}
	}

	.my_info {
		display: table;
		border-top: 1px solid #111;
		border-bottom: 1px solid #111;

		>li {
			display: table-cell;
			width: 110px;
			text-align: center;

			&:not(:first-child) {
				border-left: 1px solid #eee;
			}

			strong {
				display: block;
				padding: 13px 20px;
				color: #333;
				border-bottom: 1px solid #eee;
			}

			&.bg01 strong {
				background: #fff4d4;
			}

			&.bg02 strong {
				background: #ebfbf7;
			}

			&.bg03 strong {
				background: #e5f1ff;
			}

			>div {
				padding: 21px 10px;
				background: #fff;

				p {
					color: #333;
				}
			}
		}
	}

	.mypage_menu {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		border-radius: 5px 5px 5px 30px;
		padding: 37px 11px;
		box-shadow: 7px 8px 40px 0px rgba(0, 0, 0, 0.1);

		>li {
			flex: 1;
			background-repeat: no-repeat;
			background-position: 50% 0;
			min-width: 110px;

			>a {
				font-size: 18px;
				display: block;
				padding-top: 122px;
				text-align: center;
				font-weight: 400;
			}

			&.bg01 {
				background-image: url(#{$url-img}/main/img_submain39.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}/main/img_submain40.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}/main/img_submain41.png);
			}

			&.bg04 {
				background-image: url(#{$url-img}/main/img_submain42.png);
			}

			&.bg05 {
				background-image: url(#{$url-img}/main/img_submain43.png);
			}

			&.bg06 {
				background-image: url(#{$url-img}/main/img_submain44.png);
			}

			&.bg07 {
				background-image: url(#{$url-img}/main/img_submain45.png);
			}

			&.bg08 {
				background-image: url(#{$url-img}/main/img_submain46.png);
			}
		}
	}
}

.btn_link {
	&:after {
		content: '';
		display: inline-block;
		width: 8px;
		height: 14px;
		background: url(#{$url-img}/main/bul_arr_gray.png) no-repeat 0 1px;
		margin-left: 13px;
	}
}

.btn_gray {
	background-color: #555;
	color: #fff;
}

.btn_setting {
	padding: 0 20px;
	border-radius: 20px;
	line-height: 36px;
	color: #333;
	background: #f6f6f6;

	&:after {
		content: '';
		display: inline-block;
		width: 19px;
		height: 19px;
		background: url(#{$url-img}/main/img_submain47.png) no-repeat 0 0;
		margin-left: 6px;
	}
}

.mypage_sec02 {
	.tbl_tit {
		margin-bottom: 12px;
	}

	.tbl_data>table>tbody>tr:last-child>td {
		color: #666666;
	}
}

.mypage_sec03 {
	>.container.box {
		padding-top: 43px;
		padding-bottom: 47px;
	}

	.tit {
		display: flex;
	}

	.mypage_noti_list {
		>li {
			display: flex;
			color: #333;
			align-items: center;
			height: 32px;

			&:not(:first-child) {
				margin-top: 2px;
			}

			>div {
				background-position: 0 50%;
				background-repeat: no-repeat;
				margin-left: 28px;

				&.bg01 {
					background-image:url(#{$url-img}/main/ico_mypage_noti01.png);
				}

				&.bg02 {
					background-image:url(#{$url-img}/main/ico_mypage_noti02.png);
				}

				&.bg03 {
					background-image:url(#{$url-img}/main/ico_mypage_noti03.png);
				}

				&.bg04 {
					background-image:url(#{$url-img}/main/ico_mypage_noti04.png);
				}

				&.bg05 {
					background-image:url(#{$url-img}/main/ico_mypage_noti05.png);
				}
			}
		}
	}
}

.mypage_sec04 {
	.tbl_tit {
		margin-bottom: 12px;
	}

	.tbl_data>table>tbody>tr:last-child>td {
		color: #666666;
	}
}

.mypage_sec05 {
	.tbl_tit {
		margin-bottom: 12px;
	}

	.box {
		height: 190px;
		border: none;
		border-radius: 10px;
		position: relative;
		overflow: hidden;
		padding: 0;

		a {
			display: block;
			height: 100%;


			.img {
				position: absolute;
				top: 0;
				right: 0;
			}

			.tit {
				position: absolute;
				top: 48px;
				left: 40px;
				color: #ffffff;
				font-size: 32px;
				line-height: 32px;
			}

			.d_day {
				position: absolute;
				right: 30px;
				top: 30px;
				width: 60px;
				height: 35px;
				background: #fef0e7;
				border-radius: 20px;
				text-align: center;
				line-height: 32px;
				font-size: 16px;
				font-weight: 500;
			}

			.view {
				position: absolute;
				top: 112px;
				left: 40px;
				display: flex;

				span {
					height: 28px;
					padding: 0 14px;
					background: #0069e1;
					color: #ffffff;
					border-radius: 15px;
					font-size: 14px;
					line-height: 26px;
					margin-right: 6px;
				}
			}
		}
	}
}

.foreign_sec01 {
	background:#f5f5f5 url(#{$url-img}/main/bg_foreign.jpg) no-repeat 0 134px;
	background-size: auto 380px;

	.container {
		padding: 99px 0 60px;
	}

	.main_txt {
		text-align: center;
		font-size: 48px;
		line-height: 1.15;
		color: #fff;
		font-weight: 100;

		strong {
			font-weight: 500;
		}
	}

	// .foreign_slider_wrap {
	// 	padding: 30px 35px 21px 42px;
	// 	margin-top: 78px;
	// 	background: #fff;
	// 	border-radius: 6px 6px 6px 30px;
	// 	box-shadow: 15px 15px 40px rgba(0, 0, 0, 0.1);
	// 	font-size: 0;

	// 	.l,
	// 	.r {
	// 		display: inline-block;
	// 		vertical-align: middle;
	// 	}

	// 	.l {
	// 		width: 151px;
	// 	}

	// 	.r {
	// 		width: calc(100% - 151px);
	// 	}

	// 	h3 {
	// 		font-size: 26px;
	// 		font-weight: 400;
	// 		color: #333;
	// 		line-height: 1.4;
	// 		padding-top: 13px;

	// 		strong {
	// 			display: block;
	// 			font-weight: 600;
	// 		}
	// 	}

	// 	.foreign_slider {
	// 		border-left: 1px solid #ddd;
	// 		border-right: 1px solid #ddd;

	// 		li {
	// 			padding: 0 29px;
	// 			text-align: center;
	// 			color: #333;
	// 			font-weight: 400;
	// 			border-left: 1px solid #ddd;

	// 			.nation {
	// 				font-size: 22px;
	// 				line-height: 1;

	// 				span {
	// 					display: block;
	// 					font-weight: 100;
	// 					font-size: 18px;
	// 					color: #555;
	// 					margin-bottom: 5px;
	// 				}
	// 			}

	// 			.price {
	// 				font-size: 28px;
	// 				font-weight: 600;
	// 				margin-top: 10px;

	// 				span {
	// 					font-weight: 400;
	// 					font-size: 22px;
	// 				}
	// 			}
	// 		}

	// 		.slick-list {
	// 			margin-left: -1px;
	// 		}

	// 		.slick-arrow {
	// 			position: absolute;
	// 			top: 50%;
	// 			margin-top: -17px;
	// 			width: 35px;
	// 			height: 35px;
	// 			background-repeat: no-repeat;
	// 			background-position: 0 0;
	// 			font-size: 0;
	// 			line-height: 0;
	// 			z-index: 1;

	// 			&.slick-prev {
	// 				left: -17px;
	// 				background-image: url(#{$url-img}/main/btn_prev.png);

	// 				&.slick-disabled {
	// 					background-image: url(#{$url-img}/main/btn_prev_disabled.png);
	// 				}
	// 			}

	// 			&.slick-next {
	// 				right: -17px;
	// 				background-image: url(#{$url-img}/main/btn_next.png);

	// 				&.slick-disabled {
	// 					background-image: url(#{$url-img}/main/btn_next_disabled.png);
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.foreign_sec02 {
	background: #f5f5f5;
	padding-bottom: 90px;

	.box {
		float: left;
		width: calc(50% - 10px);
		padding: 40px 50px;
		margin-right: 20px;

		&:nth-child(2n) {
			float: right;
			margin-right: 0;
		}

		&:not(:nth-child(-n+2)) {
			margin-top: 20px;
		}


	}

	.foreign_tit {
		display: table-cell;
		height: 77px;
		padding-left: 86px;
		vertical-align: middle;
		font-size: 26px;
		line-height: 1;
		background-position: 0 0;
		background-repeat: no-repeat;

		&.tit01 {
			background-image:url(#{$url-img}/main/ico_foreign_tit01.png);
		}

		&.tit02 {
			display: flex;
			align-items: center;
			background-image:url(#{$url-img}/main/ico_foreign_tit02.png);
		}

		&.tit03 {
			background-image:url(#{$url-img}/main/ico_foreign_tit03.png);
		}

		&.tit04 {
			background-image:url(#{$url-img}/main/ico_foreign_tit04.png);
		}

		&.tit05 {
			background-image:url(#{$url-img}/main/ico_foreign_tit05.png);
		}

		p {
			margin-top: 6px;
		}

		p,
		span {
			font-size: 16px;
			color: #555;
			font-weight: 100;
		}
	}

	.foreign_link {
		display: flex;

		>li {
			flex: 1;

			&:not(:first-child) {
				border-left: 1px solid #ddd;
			}

			>a {
				display: block;
				text-align: center;
				background-repeat: no-repeat;
				background-position: 50% 0;
				padding: 103px 20px 0;
				font-size: 18px;
				font-weight: 400;
				color: #333;
				letter-spacing: -1px;

				&.bg01 {
					background-image:url(#{$url-img}/main/ico_foreign01.png);
				}

				&.bg02 {
					background-image:url(#{$url-img}/main/ico_foreign02.png);
				}
			}
		}
	}
}

.btn_more_link {
	display: inline-block;
	font-size: 14px;
	color: #555;

	&:after {
		content: '';
		display: inline-block;
		width: 17px;
		height: 7px;
		margin-left: 10px;
		background:url(#{$url-img}/main/ico_more_arrow.png) 0 0 no-repeat;
		vertical-align: 3px;
	}
}

.tbl_foreign {
	>table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		line-height: 1.3;
		border-bottom: 1px solid #111;

		>thead {
			tr {
				border-bottom: 1px solid #111;

				>th {
					padding: 10px;
					color: #333;
					font-weight: 400;
				}
			}
		}

		>tbody {
			tr {
				&:not(:last-child) {
					border-bottom: 1px solid #eee;
				}

				td {
					padding: 10px 20px;
					color: #333;
					font-weight: 400;
				}
			}
		}
	}
}

.point_tit {
	font-size: 24px;
	font-weight: 600;
	line-height: 1;
	color: #333;
	margin-bottom: 7px;

	&:before {
		content: '';
		display: block;
		width: 19px;
		height: 3px;
		margin-bottom: 3px;
		background: #fdc61d;
	}
}

.txt_spacing_xs {
	letter-spacing: -0.5px;
}

.sub_top_cont {
	background: #fff;
	padding: 50px;
	border-radius: 10px 10px 10px 30px;
	box-shadow: 6px 9px 40px 0 rgba(20, 20, 20, 0.1);

	&.blue {
		background: #bfd8fb;
	}

	h3 {
		line-height: 1;
		margin-bottom: 25px;
		font-size: 26px;
		font-weight: 600;
	}

	&.certi_cont {
		display: flex;

		>.l,
		>.r {
			width: 50%;
		}

		>.l {
			padding-right: 40px;
		}

		>.r {
			padding-left: 50px;
			border-left: 1px solid #eeeeee;
		}
	}
}

.bg_sub_main {
	background: #f3f3f3;

	.sub_first_section {
		position: relative;
		z-index: 1;
		background: #f3f3f3;

		&:before {
			content: '';
			position: absolute;
			top: 134px;
			left: 0;
			width: 100%;
			background: #fff;
			z-index: -1;
		}

		&.utility_sec01:before {
			height: 238px;
		}

		&.certi_sec:before {
			top: 0;
			height: 101px;
		}
	}
}

.product_add_cont {
	border: 2px dashed #fff;
	border-radius: 30px;
	padding: 30px;

	.add_txt {
		text-align: center;
		color: #555;
		font-weight: 400;

		&:before {
			content: '';
			display: block;
			width: 40px;
			height: 40px;
			background:url(#{$url-img}/main/ico_add.png) 0 0 no-repeat;
			margin: 0 auto 13px;
		}
	}

	.utility_add_list {
		>li:after {
			background-color: #fff;
		}
	}
}

.box.sub_main_box {
	padding: 50px;

	.tit1 {
		font-weight: 600;
		margin-bottom: 30px;
	}

	.link_banner {
		width: 100%;
		height: 516px;
		display: flex;
		flex-wrap: wrap;

		>a {
			position: relative;
			border-bottom: 1px solid #dddddd;
			border-left: 1px solid #dddddd;
			width: 50%;
			height: 50%;
			text-align: center;
			font-size: 18px;
			font-weight: 400;
			padding-top: 177px;

			&:nth-child(1) {
				border-left: 0;

				&::before {
					content: '';
					position: absolute;
					top: 56px;
					left: calc(50% - 55px);
					width: 110px;
					height: 110px;
					background: url(#{$url-img}/main/img_submain34.png);
					background-size: 100%;
				}
			}

			&:nth-child(2) {
				&::before {
					content: '';
					position: absolute;
					top: 56px;
					left: calc(50% - 55px);
					width: 110px;
					height: 110px;
					background: url(#{$url-img}/main/img_submain35.png);
					background-size: 100%;
				}
			}

			&:nth-child(3) {
				border-left: 0;
				border-bottom: 0;

				&::before {
					content: '';
					position: absolute;
					top: 56px;
					left: calc(50% - 55px);
					width: 110px;
					height: 110px;
					background: url(#{$url-img}/main/img_submain36.png);
					background-size: 100%;
				}
			}

			&:nth-child(4) {
				border-bottom: 0;

				&::before {
					content: '';
					position: absolute;
					top: 56px;
					left: calc(50% - 55px);
					width: 110px;
					height: 110px;
					background: url(#{$url-img}/main/img_submain37.png);
					background-size: 100%;
				}
			}
		}
	}
}

.utility_sec01 {
	.container {
		padding: 70px 0 50px;
	}
}

.utility_sec02 {
	.tit {
		font-size: 22px;
		font-weight: 500;
		line-height: 1;
		margin-bottom: 11px;
	}

	.btn_explain.foreign {
		justify-content: space-between;
		min-width: 232px;
	}
}

.utility_add_list {
	display: flex;
	flex-wrap: wrap;

	>li {
		position: relative;
		width: 20%;
		text-align: center;
		padding-top: 133px;
		background-repeat: no-repeat;
		background-position: 50% 0;

		&:not(:nth-child(-n+5)) {
			margin-top: 40px;
		}

		&:after {
			content: '';
			position: absolute;
			width: 110px;
			height: 110px;
			top: 0;
			left: 50%;
			margin-left: -55px;
			background-color: #f3f3f3;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			border-radius: 50%;
		}

		&.on:after {
			background-color: #fff;
		}

		h4 {
			font-size: 22px;
			font-weight: 500;
			color: #333;
			line-height: 1;
		}

		.btn {
			min-width: 78px;
			padding: 0 10px;
		}

		&.bg01:after {
			background-image: url(#{$url-img}/main/img_utility01.png);
		}

		&.bg02:after {
			background-image: url(#{$url-img}/main/img_utility02.png);
		}

		&.bg03:after {
			background-image: url(#{$url-img}/main/img_utility03.png);
		}

		&.bg04:after {
			background-image: url(#{$url-img}/main/img_utility04.png);
		}

		&.bg05:after {
			background-image: url(#{$url-img}/main/img_utility05.png);
		}

		&.bg06:after {
			background-image: url(#{$url-img}/main/img_utility06.png);
		}

		&.bg07:after {
			background-image: url(#{$url-img}/main/img_utility07.png);
		}

		&.bg08:after {
			background-image: url(#{$url-img}/main/img_utility08.png);
		}

		&.bg09:after {
			background-image: url(#{$url-img}/main/img_utility09.png);
		}

		&.bg10:after {
			background-image: url(#{$url-img}/main/img_utility10.png);
		}

		&.bg11:after {
			background-image: url(#{$url-img}/main/img_utility11.png);
		}

		&.bg12:after {
			background-image: url(#{$url-img}/main/img_utility12.png);
		}

		&.bg13:after {
			background-image: url(#{$url-img}/main/img_utility13.png);
		}

		&.bg14:after {
			background-image: url(#{$url-img}/main/img_utility14.png);
		}

		&.bg15:after {
			background-image: url(#{$url-img}/main/img_utility15.png);
		}

		&.bg16:after {
			background-image: url(#{$url-img}/main/img_utility16.png);
		}
	}
}

.alert_info_box {
	margin-top: 134px;
	background: #ffe9a6;

	.container {
		position: relative;
		padding: 30px 30px 32px 128px;

		&:before {
			content: '';
			position: absolute;
			top: 24px;
			left: 50px;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			background: #fff6da url(#{$url-img}/main/ico_alert_sm_primary.png) 14px 14px no-repeat;
		}

		p {
			line-height: 1;
		}
	}

	&+.sub_first_section {
		padding-top: 0;

		&:before {
			top: 0;
		}
	}
}

.last_sec {
	padding-bottom: 120px;
}

.certi_main {
	.sec_home {
		padding-top: 0;
	}
}

.certi_sec {
	.container {
		padding: 50px 0 60px;
	}

	.certi_cont {
		.certi_info_list {
			display: table;
			table-layout: fixed;
			width: 553px;
			margin-left: -27px;

			li {
				display: table-cell;
				background-repeat: no-repeat;
				background-position: 50% 0;

				>a {
					display: block;
					text-align: center;
					padding-top: 124px;
					font-size: 20px;
					line-height: 20px;
					font-weight: 400;
				}

				&.bg01 {
					background-image:url(#{$url-img}/main/img_submain19.png);
				}

				&.bg02 {
					background-image:url(#{$url-img}/main/img_submain20.png);
				}

				&.bg03 {
					background-image:url(#{$url-img}/main/img_submain21.png);
					background-position: 50% 14px;
				}

				&.bg04 {
					background-image:url(#{$url-img}/main/img_submain22.png);
				}
			}
		}
	}
}

.faq_list {
	>li {
		&:not(:first-child) {
			margin-top: 10px;
		}

		>a {
			position: relative;
			display: block;
			color: #555;
			padding-left: 50px;
			min-height: 40px;
			padding-top: 3px;

			strong {
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 40px;
				height: 40px;
				background: #ff883a;
				border-radius: 50%;
				text-align: center;
				line-height: 37px;
				font-size: 20px;
				font-weight: 500;
				color: #111;
			}
		}
	}

	&.type2 {
		>li {
			a {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

.btn_list02 {
	font-size: 0;

	>a {
		width: calc(50% - 8px);

		&+.btn {
			margin-left: 0;
		}

		&:nth-child(2n) {
			margin-left: 10px;
		}

		&:not(:nth-child(-n+2)) {
			margin-top: 10px;
		}
	}
}

.menu_info_txt {
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	font-weight: 400;

	&:before {
		content: '';
		display: inline-block;
		width: 24px;
		height: 24px;
		background: url(#{$url-img}/common/ico_tit_primary.png) 0 0 no-repeat;
		margin-right: 5px;
	}
}

.certi_menu {
	display: flex;
	flex-wrap: wrap;

	li {
		width: 33.33%;
		background-repeat: no-repeat;
		background-position: 50% 0;

		&:not(:nth-child(-n+3)) {
			margin-top: 30px;
		}

		>a {
			display: block;
			font-weight: 400;
			color: #333;
			line-height: 1.25;
			padding-top: 121px;
			text-align: center;
		}

		&.bg01 {
			background-image: url(#{$url-img}/main/img_submain23.png);
		}

		&.bg02 {
			background-image: url(#{$url-img}/main/img_submain24.png);
		}

		&.bg03 {
			background-image: url(#{$url-img}/main/img_submain25.png);
		}

		&.bg04 {
			background-image: url(#{$url-img}/main/img_submain26.png);
		}

		&.bg05 {
			background-image: url(#{$url-img}/main/img_submain27.png);
		}

		&.bg06 {
			background-image: url(#{$url-img}/main/img_submain28.png);
		}

		&.bg07 {
			background-image: url(#{$url-img}/main/img_submain29.png);
		}

		&.bg08 {
			background-image: url(#{$url-img}/main/img_submain30.png);
		}

		&.bg09 {
			background-image: url(#{$url-img}/main/img_submain31.png);
		}
	}
}

.certi_sec02 {
	padding-top: 70px;

	ul {
		display: flex;

		li {
			flex: 1;
			border: 1px solid #ddd;
			background-color: #ffffff;
			border-radius: 4px;
			background-repeat: no-repeat;
			background-position: calc(100% - 29px) calc(100% - 37px);
			box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05);

			&.bg01 {
				background-image: url(#{$url-img}/main/img_submain14.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}/main/img_submain33.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}/main/img_submain16.png);
			}

			&:not(:first-child) {
				margin-left: 20px;
			}

			>a {
				display: block;
				padding: 27px 120px 27px 30px;

				.tit1 {
					margin-bottom: 15px;
				}

				p {
					line-height: 1.5;
				}
			}
		}
	}
}

.caution_txt {
	color: #333;
	font-weight: 400;

	>span {
		position: relative;
		display: inline-block;
		font-size: 13px;
		padding: 0 11px;
		line-height: 29px;
		background: #fdc61d;
		color: #111;
		border-radius: 10px 20px 20px 10px;
		margin-right: 12px;
		vertical-align: middle;
		box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);

		&:before {
			content: '';
			position: absolute;
			right: -6px;
			top: 50%;
			margin-top: -3px;
			display: inline-block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 3px 0 3px 8px;
			border-color: transparent #fdc61d transparent #fdc61d;
		}
	}
}

.security_top.security_main {
	padding: 20px 50px;
	min-height: 140px;
	justify-content: center;

	>.l {
		width: auto;

		.security_level {
			>span {
				padding-top: 0;
				margin-top: 18px;
				font-size: 14px;

				&:before {
					border: 0;
					margin-bottom: 6px;
				}

				&.on:after {
					top: -18px;
				}

				&:not(:first-child) {
					border-left: 1px solid #eee;
				}
			}
		}

		.total {
			.txt_orange {
				color: #ff883a;
			}
		}
	}
}

.checklist_tit {
	position: relative;
	padding-left: 58px;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 42px;
		height: 48px;
		background: url(#{$url-img}/main/ico_checklist.png) 0 0 no-repeat;
	}
}

.security_check_list {
	display: flex;
	flex-wrap: wrap;

	>li {
		flex: 1 1 50%;
		font-size: 0;

		&:not(:nth-child(-n+2)) {
			margin-top: 32px;
		}

		.btn_mouse_toggle>.btn_name {
			font-size: 16px;
			font-weight: 400;
			color: #333;
		}
	}
}

.tell_tit {
	&:before {
		content: '';
		display: inline-block;
		width: 44px;
		height: 41px;
		margin-right: 16px;
		vertical-align: middle;
		background: url(#{$url-img}/main/ico_tell.png) 0 0 no-repeat;
	}
}

.tell_list {
	display: flex;

	>li {
		width: 153px;
		height: 140px;
		border: 1px solid #ddd;
		border-radius: 6px;
		padding: 25px 20px 15px 20px;
		background: #f6f6f6;

		&:not(:first-child) {
			margin-left: 20px;
		}

		>span,
		strong {
			display: block;
			line-height: 1;
			text-align: center;
		}

		span {
			color: #333333;
			line-height: 24px;
		}

		strong {
			font-size: 20px;
			line-height: 20px;
			font-weight: 600;
			color: #ff883a;
			margin-top: 17px;
		}
	}
}

.service_sec01 {
	position: relative;
	background: #f5f5f5;
	z-index: 1;

	.container {
		padding: 77px 0 71px;
	}

	&:before {
		content: '';
		position: absolute;
		top: 134px;
		left: 0;
		width: 100%;
		height: 500px;
		background: #21a69d;
		z-index: -1;
	}

	.tit {
		display: inline-flex;
		font-size: 60px;
		color: #fff;
		font-weight: 400;
		line-height: 1;

		&:before {
			content: '';
			display: inline-block;
			margin-right: 14px;
			width: 76px;
			height: 63px;
			background: url(#{$url-img}/main/img_submain01.png) 0 0 no-repeat;
		}
	}

	.search_form {
		display: flex;
		width: 760px;
		height: 70px;
		margin: 39px auto 0;
		border: 2px solid #fff;
		border-radius: 35px;
		overflow: hidden;

		input[type=text] {
			flex: 1;
			padding: 0 28px;
			background: transparent;
			height: 100%;
			font-size: 24px;
			color: #fff;
			font-weight: 100;
			border: 0;

			&::placeholder {
				color: #fff;
			}
		}

		button {
			display: inline-block;
			width: 88px;
			height: 68px;
			background: url(#{$url-img}/main/ico_search.png) 20px 50% no-repeat;
		}
	}

	.search_word {
		position: relative;
		display: flex;
		width: 760px;
		padding: 0 28px 0 31px;
		margin: 40px auto 0;

		.pop_word {
			display: inline-block;
			border-radius: 6px;
			line-height: 32px;
			padding: 0 14px 0 11px;
			margin-right: 8px;
			background: url(#{$url-img}/main/img_submain02.png) 100% 0 no-repeat;
		}

		.r {
			flex: 1;
			font-size: 0;
			text-align: left;

			>a {
				display: inline-block;
				padding: 0 10px;
				border: 1px dashed #fff;
				border-radius: 17px;
				height: 32px;
				line-height: 29px;
				font-size: 16px;
				color: #fff;

				&:not(:nth-child(6n)) {
					margin-right: 10px;
				}

				&:not(:nth-child(-n+6)) {
					margin-top: 10px;
				}
			}
		}

		.btn_explain {
			position: absolute;
			top: 0;
			right: -220px;
			min-width: 115px;
			justify-content: space-between;
		}
	}

	.counseling_cont {
		display: table;
		width: 100%;
		padding: 40px 50px;
		margin-top: 89px;
		border-radius: 5px 5px 5px 30px;

		>div {
			display: table-cell;
			height: 80px;
			vertical-align: middle;

			&:not(:first-child) {
				border-left: 1px solid #ddd;
			}

			&.counseling {
				width: 270px;
				padding: 0 30px 0 50px;

				&:first-child {
					width: 217px;
					padding-left: 0;
				}

				>a {
					position: relative;
					display: block;
					font-size: 20px;
					font-weight: 400;
					line-height: 24px;
					padding-left: 60px;
					background-position: 0 0;
					background-repeat: no-repeat;

					&:after {
						content: '';
						position: absolute;
						top: 50%;
						margin-top: -3px;
						right: 0;
						width: 17px;
						height: 7px;
						background:url(#{$url-img}/main/img_submain17.png);
					}

					&.bg01 {
						background-image:url(#{$url-img}/main/img_submain03.png);
					}

					&.bg02 {
						background-image:url(#{$url-img}/main/img_submain04.png);
					}

					&.bg03 {
						background-image:url(#{$url-img}/main/img_submain05.png);
					}
				}
			}

			&.info {
				padding-left: 38px;

				dl {
					&+dl {
						margin-top: 6px;
					}

					dt,
					dd {
						display: inline-block;
						vertical-align: top;
						color: #333;
					}

					dt {
						line-height: 23px;
						padding: 0 9px;
						font-size: 14px;
						margin-right: 6px;
						border-radius: 20px;

						&.ind {
							background: #ffe89c;
						}

						&.ins {
							background: #ffd1c1;
						}
					}

					dd {
						font-size: 20px;
						font-weight: 500;
						line-height: 1;
						letter-spacing: -0.5px;

						span {
							display: block;
							font-size: 18px;
							font-weight: 300;
							margin-top: 7px;
						}
					}
				}
			}
		}
	}
}

.service_sec02 {
	background: #f5f5f5;
	padding-bottom: 70px;

	.tit {
		text-align: center;
		font-size: 40px;
		font-weight: 100;
		line-height: 1;
	}

	.service_menu {
		display: flex;

		>li {
			flex: 1;
			text-align: center;
			background-repeat: no-repeat;
			background-position: 50% 0;

			&.bg01 {
				background-image: url(#{$url-img}/main/img_submain06.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}/main/img_submain07.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}/main/img_submain08.png);
			}

			&.bg04 {
				background-image: url(#{$url-img}/main/img_submain09.png);
			}

			&.bg05 {
				background-image: url(#{$url-img}/main/img_submain10.png);
			}

			&.bg06 {
				background-image: url(#{$url-img}/main/img_submain11.png);
			}

			&.bg07 {
				background-image: url(#{$url-img}/main/img_submain12.png);
			}

			>a {
				display: block;
				font-size: 18px;
				font-weight: 400;
				padding-top: 134px;
			}
		}
	}

	.customer_link_warp {
		display: flex;

		>div {
			flex: 1;
			background: #fff;
			border: 1px solid #ddd;
			border-radius: 4px;

			&:not(:first-child) {
				margin-left: 20px;
			}

			&:first-child {
				.customer_link {
					position: relative;

					&::after {
						display: block;
						content: '';
						position: absolute;
						bottom: 0;
						right: 40px;
						width: 188px;
						height: 154px;
						background: url(#{$url-img}/main/img_submain12.png) 0 0 no-repeat;
						background-size: 100%;
					}
				}
			}

			&:last-child {
				.customer_link {
					height: 100%;
					position: relative;
					overflow: hidden;

					&::after {
						content: '';
						position: absolute;
						top: 104px;
						right: 40px;
						width: 238px;
						height: 372px;
						background: url(#{$url-img}/main/img_submain13.png) 0 0 no-repeat;
						background-size: 100%;
					}
				}
			}

			.customer_link {
				height: 257px;
				padding: 40px 40px 30px;

				h4 {
					font-size: 30px;
					font-weight: 100;
					line-height: 1;

					strong {
						font-weight: 600;
					}
				}

				>ul {
					font-size: 0;
					margin-top: 24px;

					>li {
						width: 60%;
						display: inline-block;
						vertical-align: top;

						>a {
							position: relative;
							display: block;
							font-size: 16px;
							line-height: 36px;
							padding-left: 13px;

							&:before {
								content: '';
								position: absolute;
								top: 15px;
								left: 0;
								width: 8px;
								height: 9px;
								margin-right: 5px;
								vertical-align: top;
								background: url(#{$url-img}/main/img_submain18.png) 0 0 no-repeat;
							}
						}
					}
				}
			}

			.link_select {
				padding: 30px 40px 40px 40px;
				background: #e3f1ff;
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;

				h5 {
					font-size: 20px;
					font-weight: 500;
					line-height: 1;
				}
			}
		}
	}
}

.service_sec03 {
	padding-top: 70px;

	ul {
		display: flex;

		li {
			flex: 1;
			border: 1px solid #ddd;
			border-radius: 4px;
			background-repeat: no-repeat;
			background-position: calc(100% - 29px) calc(100% - 37px);
			box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.05);

			&.bg01 {
				background-image: url(#{$url-img}/main/img_submain14.png);
			}

			&.bg02 {
				background-image: url(#{$url-img}/main/img_submain15.png);
			}

			&.bg03 {
				background-image: url(#{$url-img}/main/img_submain16.png);
			}

			&:not(:first-child) {
				margin-left: 20px;
			}

			>a {
				display: block;
				padding: 27px 120px 27px 30px;

				h3 {
					margin-bottom: 15px;
				}

				p {
					line-height: 1.5;
				}
			}
		}
	}
}

.input_items {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	.type_btn02 {
		width: calc((50%/2) - 7px);
		margin-left: 0;

		&:not(:nth-child(4n)) {
			margin-right: 9px;
		}

		&:not(:nth-child(-n+4)) {
			margin-top: 12px;
		}
	}
}

.check_item.type_btn02 {
	input {
		&+label {
			display: flex;
			align-items: center;
			height: 46px;
			border: 1px solid #a2a2a2;
			background: #fff;
			justify-content: center;
			border-radius: 6px;
			padding-bottom: 0;
			color: #555;
		}

		&:checked {
			&+label {
				border: 2px solid #fdc61c;
				background: #fef5e5;
				color: #111;
			}
		}

		&:focus {
			&+label {
				border-radius: 6px;
			}
		}
	}
}