//계약사항변경_부활청약
.tit_req {
	display: inline-block;
	position: relative;
	margin-bottom: 2px;

	.req {
		position: absolute;
		display: inline-block;
		top: 5px;
		right: -10px;
		width: 5px;
		height: 5px;
		border-radius: 50%;
		background-color: currentColor;
		text-indent: -9999px;
		color: #f46e16;
		vertical-align: middle;
	}
}

.lh_24 {
	line-height: 24px;
}

.check_list02 {
	li {
		display: inline-block;
		vertical-align: top;
		margin: 10px 0 0 30px;
		width: calc(50% - 2px);
		margin-left: 0;

		.check_item {
			&.item2 {
				input {
					&+label {
						display: inline-block;
						background-position: top 4px left;
					}
				}
			}
		}
	}
}

.tf_item {
	.input_box {
		&.input_txt {
			input {
				width: calc(100% - 25px);
			}
		}
	}
}

.count_gray_box.none ol {
	.check_list {
		&.type_m {
			>li {
				margin: 12px 0 0 30px;
			}
		}
	}
}

.lh_22 {
	line-height: 22px;
}

.count_gray_box.next {
	.length2 {
		&.length2_type {
			.tf_item {
				width: calc(50% - 16px);
			}

			.txt_comma {
				margin-left: 4px;
				line-height: 65px;
			}
		}
	}
}

.btn_group_flex {
	.btn {
		&.chk_black {
			&:before {
				content: "";
				display: inline-block;
				width: 15px;
				height: 10px;
				background: url(#{$url-img}/common/ico_check_sm_black.png) 0 0 no-repeat;
				background-size: 100%;
				margin-right: 10px;
			}
		}
	}
}

.in_detail {
	span {
		.txt_xs {
			font-size: 12px !important;
		}
	}
}

.txt_xs_10 {
	font-size: 10px !important;
}

.btn_pt {
	position: relative;

	.btn_reset {
		position: absolute;
		top: -35px;
		left: calc(50% - 10px);
	}
}