// 스마트보험 서브메인 
// 고객센터 
.top_search_section {
	width: 100%;
	background: #eff2f9;
	padding: 30px 20px;

	>h3 {
		display: block;
		width: 100%;
		font-size: 22px;
		font-weight: 500;
		color: #111111;
		text-align: center;
		line-height: 18px;
	}

	form {
		background: #ffffff;
		border-radius: 30px;
		margin-top: 25px;
		width: 100%;
		height: 50px;

		.form_integrated_search {
			display: flex;
			justify-content: space-between;
			align-content: center;
			height: 50px;

			>.tf {
				width: 100%;
				height: 100%;
				padding-left: 21px;
				background: none;
				font-size: 16px;
				font-weight: 300;
			}

			>.btn {
				height: 100%;
				padding-right: 21px;

				.ico {
					margin: 0;
				}
			}
		}
	}

	.hashtag {
		margin-top: 5px;

		span {
			display: inline-block;
			height: 25px;
			font-size: 12px;
			line-height: 25px;
			border: 1px solid #bbbbbb;
			border-radius: 20px;
			margin-right: 5px;
			margin-top: 5px;

			&:last-child {
				margin-right: 0;
			}

			a {
				display: inline-block;
				width: 100%;
				height: 100%;
				padding: 0 15px;
			}
		}
	}
}

.container {
	&.submain_con {
		margin-top: 25px;

		.section {
			margin: 0;

			.box {
				padding: 15px 15px 20px;

				.top {
					border-bottom: 1px solid #eeeeee;
					display: flex;
					padding-bottom: 15px;

					>dt {
						width: 60px;
						height: 50px;
						background: #ffd1c1;
						border-radius: 10px;
						text-align: center;
						line-height: 50px;
						color: #111111;
						font-size: 14px;
						font-weight: 500;
					}

					>dd {
						margin-left: 15px;
						padding-top: 3px;

						>span {
							display: block;
							font-size: 18px;
							line-height: 18px;
							font-weight: 500;

							&:nth-child(2) {
								margin-top: 5px;
							}

							.txt_gray {
								font-weight: 200;
								letter-spacing: -0.5px;
							}

							.txt_default {
								font-weight: 500;
							}
						}
					}
				}

				.bottom {
					margin-top: 20px;

					ul {
						display: flex;

						li {
							width: 33.33%;
							text-align: center;
							position: relative;

							a {
								display: block;
								font-size: 13px;
								font-weight: 300;
								line-height: 13px;
								color: #333333;
								padding-top: 72px;

								&::before {
									content: '';
									position: absolute;
									top: 0;
									left: calc(50% - 30px);
									width: 60px;
									height: 60px;
								}
							}

							&:nth-child(1) {
								a {
									&::before {
										background: url(/resources/img/content/img_si_submain01.png) no-repeat;
										background-size: 100%;
									}
								}
							}

							&:nth-child(2) {
								a {
									&::before {
										background: url(/resources/img/content/img_si_submain02.png) no-repeat;
										background-size: 100%;
									}
								}
							}

							&:nth-child(3) {
								a {
									&::before {
										background: url(/resources/img/content/img_si_submain03.png) no-repeat;
										background-size: 100%;
									}
								}
							}
						}
					}
				}
			}

			&:nth-child(2) {
				>.box {
					padding: 20px 15px 0;

					ul {
						&.service_btn {
							display: flex;
							flex-wrap: wrap;

							li {
								width: 33.33%;
								position: relative;

								a {
									width: 100%;
									display: block;
									justify-content: center;
									margin-bottom: 20px;
									// border: 1px solid red;
									text-align: center;
									font-size: 13px;
									font-weight: 300;
									line-height: 13px;
									color: #333333;
									padding-top: 41px;

									&::before {
										content: '';
										position: absolute;
										top: 0;
										left: 50%;
										transform: translateX(-50%);
										height: 30px;
									}
								}

								&:first-child {
									a {
										&::before {
											width: 30px;
											background: url(/resources/img/content/img_si_submain04.png) no-repeat;
											background-size: 100% 100%;
										}
									}
								}

								&:nth-child(2) {
									a {
										&::before {
											width: 32px;
											background: url(/resources/img/content/img_si_submain05.png) no-repeat;
											background-size: 100% 100%;
										}
									}
								}

								&:nth-child(3) {
									a {
										&::before {
											width: 26px;
											background: url(/resources/img/content/img_si_submain06.png) no-repeat;
											background-size: 100% 100%;
										}
									}
								}

								&:nth-child(4) {
									a {
										&::before {
											width: 30px;
											background: url(/resources/img/content/img_si_submain07.png) no-repeat;
											background-size: 100% 100%;
										}
									}
								}

								&:nth-child(5) {
									a {
										&::before {
											width: 33px;
											background: url(/resources/img/content/img_si_submain08.png) no-repeat;
											background-size: 100% 100%;
										}
									}
								}

								&:nth-child(6) {
									a {
										&::before {
											width: 26px;
											background: url(/resources/img/content/img_si_submain09.png) no-repeat;
											background-size: 100% 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.center_menu_list {
	background: #f6f6f6;
	margin-top: 30px;
	padding: 25px 20px 30px;

	.box {
		padding: 0;

		.top {
			padding: 20px 15px;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					display: inline-block;
					width: 50%;
					font-size: 13px;
					font-weight: 400;
					line-height: 13px;
					color: #111111;
					margin-bottom: 18px;

					&:nth-child(3),
					&:nth-child(4) {
						margin-bottom: 0;
					}

					a {
						position: relative;
						padding-left: 14px;

						&:before {
							content: '';
							position: absolute;
							top: calc(50% - 2.25px);
							left: 5px;
							width: 3.5px;
							height: 4.5px;
							background: url(/resources/img/content/bul_rightarr.png) no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}

		.bottom {
			background: #e5f2ff;
			padding: 15px 20px 20px;
			border-bottom-left-radius: 8px;
			border-bottom-right-radius: 8px;

			.btn_wrap {
				display: flex;
				justify-content: space-between;

				.tf_item {
					border-radius: 5px;
					width: 100%;
					margin-right: 10px;

					&.tf_item_sm {
						display: inline-block;
						height: 35px;
						padding: 0 20px;

						.tf_item_body {
							min-height: 100%;
						}
					}
				}

				>.btn {
					min-width: 52.5px;
					padding: 0;
				}
			}
		}

		.all {
			padding: 20px 15px;

			ul {
				display: flex;
				flex-wrap: wrap;

				li {
					display: inline-block;
					width: 100%;
					font-size: 13px;
					font-weight: 400;
					line-height: 13px;
					color: #111111;
					margin-bottom: 18px;

					&:last-child {
						margin-bottom: 0;
					}

					a {
						position: relative;
						padding-left: 14px;

						&:before {
							content: '';
							position: absolute;
							top: calc(50% - 2.25px);
							left: 5px;
							width: 3.5px;
							height: 4.5px;
							background: url(/resources/img/content/bul_rightarr.png) no-repeat;
							background-size: 100%;
						}
					}
				}
			}
		}
	}
}

.btn_custom_list {
	padding: 30px 20px 20px;

	ul {
		li {
			border: 1px solid #dddddd;
			border-radius: 8px;
			margin-bottom: 10px;
			height: 94px;
			position: relative;

			a {
				display: block;
				width: 100%;
				height: 100%;
				padding: 20px;

				strong {
					margin-left: 55px;
					display: block;
					font-size: 14px;
					line-height: 14px;
					margin-top: -2px;
				}

				span {
					margin-left: 55px;
					display: block;
					font-size: 12px;
					line-height: 17px;
					margin-top: 8px;
				}

				&::before {
					content: '';
					position: absolute;
					top: 23.5px;
					left: 21px;
					width: 35px;
					height: 45px;
				}
			}

			&:nth-child(1) {
				a {
					&::before {
						background: url(/resources/img/content/img_si_submain10.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(2) {
				margin-bottom: 0;

				a {
					&::before {
						background: url(/resources/img/content/img_si_submain11.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}

// 마이페이지 
.txt_gray2 {
	color: #666666;
}

.top_info {
	background: #ffede4;
	height: 115px;
	padding: 20.5px 20px 25px;

	>span {
		display: flex;
		justify-content: space-between;
		align-content: center;
		height: 25px;

		span {
			display: block;
			font-size: 18px;
			line-height: 22px;

			&:first-child {
				margin-top: 1px;
			}
		}

		a {
			display: block;
			line-height: 23px;
		}
	}

	ul {
		margin-top: 4px;

		&.list {
			li {
				color: #555555;

				+li {
					margin-top: 0;
				}
			}
		}
	}
}

.mypage_btn_container {
	padding: 25px 5px;
	border-radius: 8px;
	border-bottom-left-radius: 24px;
	box-shadow: 0 5px 15px 3px #ececec;

	ul {
		width: 100%;
		margin: -15px 0;

		&:after {
			content: '';
			clear: both;
			display: block;
		}

		li {
			float: left;
			width: 25%;
			height: 62px;
			margin: 15px 0;
			position: relative;

			a {
				display: block;
				width: 100%;
				padding-top: 36px;

				::before {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
				}

				span {
					display: block;
					font-size: 13px;
					line-height: 15px;
					color: #333333;
					text-align: center;
				}
			}

			&:nth-child(1) {
				margin-bottom: 4px;

				a {

					::before {
						top: 1px;
						width: 27px;
						height: 26px;
						background: url(/resources/img/content/img_si_submain12.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(2) {
				a {
					::before {
						top: 1px;
						width: 24px;
						height: 24px;
						background: url(/resources/img/content/img_si_submain13.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(3) {
				a {
					::before {
						width: 27px;
						height: 25.5px;
						background: url(/resources/img/content/img_si_submain14.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(4) {
				a {
					::before {
						width: 24px;
						height: 28px;
						background: url(/resources/img/content/img_si_submain15.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(5) {
				a {
					padding-top: 34px;

					::before {
						width: 25.5px;
						height: 25px;
						background: url(/resources/img/content/img_si_submain16.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(6) {
				a {
					padding-top: 34px;

					::before {
						width: 24.5px;
						height: 27px;
						background: url(/resources/img/content/img_si_submain17.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(7) {
				a {
					padding-top: 34px;

					::before {
						width: 27px;
						height: 25.5px;
						background: url(/resources/img/content/img_si_submain18.png) no-repeat;
						background-size: 100%;
					}
				}
			}

			&:nth-child(8) {
				a {
					padding-top: 34px;

					::before {
						width: 27px;
						height: 25.5px;
						background: url(/resources/img/content/img_si_submain19.png) no-repeat;
						background-size: 100%;
					}
				}
			}
		}
	}
}

.slider_area2 {
	margin-top: 15px;
	width: 100%;
	padding-bottom: 15px;

	.insurance_slick {
		width: 100%;
		margin-left: 0px;

		a {
			position: relative;
			left: 0;
			width: 100%;
			display: block;
			z-index: 1;
			border: 1px solid #dddddd;
			border-radius: 8px;
			padding: 25px 25px 23px;

			strong {
				font-size: 18px;
				line-height: 18px;
			}

			p {
				font-size: 12px;
				line-height: 12px;
				color: #555555;
				margin-top: 8px;
			}

			span {
				display: block;
				font-size: 13px;
				line-height: 13px;
				margin-top: 15px;

				>strong {
					font-size: 25px;
					line-height: 15px;
				}
			}
		}
	}

	.slick-dots {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: -32px;
		z-index: 100;
		margin: -3.5px;
		display: flex !important;
		justify-content: center;
		align-items: center;
		line-height: 0;

		button {
			padding: 5px;
			vertical-align: top;
			font-size: 0;

			&:after {
				content: '';
				display: block;
				width: 7px;
				height: 7px;
				background-color: #959595;
				border-radius: 3.5px;
			}
		}

		.slick-active {
			button {
				padding: 5px 0;

				&:after {
					width: 20px;
					border-radius: 2px;
				}
			}
		}
	}

	.rolling_info {
		display: block;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		bottom: -15px;
		z-index: 2;
		color: #555;
		width: 160px;

		&.hide {
			display: none;
		}

		.nums {
			display: inline-block;
			vertical-align: middle;
			position: relative;
			top: -2px;
			margin-left: 102px;
			font-size: 10px;

			>* {
				font-weight: 200;
			}
		}

		.btn_ctrl {
			display: inline-block;
			vertical-align: middle;

			button {
				width: 25px;
				height: 25px;
				line-height: 1000px;
				overflow: hidden;
				display: block;
				border-radius: 50%;


				&.btn_pause {
					background:url(#{$url-img}/content/btn_rolling_pause.png) 0 0 no-repeat;
					background-size: 25px 25px;
				}

				&.btn_play {
					background:url(#{$url-img}/content/btn_rolling_play.png) 0 0 no-repeat;
					background-size: 25px 25px;
				}
			}
		}

		.calculate {
			display: block;
			text-align: center;
			font-size: 14px;
			font-weight: 500;
			padding: 15px 0;
			margin: -15px -20px;

			&:after {
				content: "";
				display: inline-block;
				width: 13px;
				height: 13px;
				vertical-align: middle;
				background:url(#{$url-img-common}/ico_chevron_round_up.png) 0 0 no-repeat;
				position: relative;
				top: -1px;
				background-size: 13px 13px;
			}
		}
	}
}

.event_banner {
	width: 100%;
	height: 145px;
	border-radius: 8px;
	margin-top: 15px;
	overflow: hidden;

	a {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;

		.img {
			position: absolute;
			top: 0;
			left: 0;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.tit {
			position: absolute;
			top: 23px;
			left: 25px;
			display: block;
			font-size: 18px;
			font-weight: 400;
			line-height: 22px;
			color: #ffffff;
		}

		.d_day {
			position: absolute;
			top: 20px;
			right: 20px;
			width: 50px;
			height: 25px;
			background: #ff883a;
			border-radius: 20px;
			text-align: center;
			font-size: 12px;
			font-weight: 500;
			line-height: 24px;
		}

		.view {
			position: absolute;
			bottom: 49px;
			left: 25px;
			height: 20px;
			display: flex;

			span {
				display: inline-block;
				height: 100%;
				font-size: 10px;
				color: #ffffff;
				background: #0069e1;
				border-radius: 24px;
				padding: 0 12px;
				margin-right: 5px;
				line-height: 18px;
			}
		}
	}
}

.swiper_box {
	.slick-slide {
		margin-left: 10px;
	}
}