.clfx {
	position: relative;
	@include clearfix;
}

.f_l {
	float: left !important;
}

.f_r {
	float: right !important;
}

.float-none {
	float: none !important;
}

.txt_l {
	text-align: left !important;
}

.txt_r {
	text-align: right !important;
}

.txt_c {
	text-align: center !important;
}

@include media-breakpoint-up(lg) {
	.txt_lg_left {
		text-align: left !important;
	}

	.txt_lg_right {
		text-align: right !important;
	}

	.txt_lg_center {
		text-align: center !important;
	}
}

@include media-breakpoint-down(md) {
	.txt_md_left {
		text-align: left !important;
	}

	.txt_md_right {
		text-align: right !important;
	}

	.txt_md_center {
		text-align: center !important;
	}
}

@include media-breakpoint-down(sm) {
	.txt_sm_left {
		text-align: left !important;
	}

	.txt_sm_right {
		text-align: right !important;
	}

	.txt_sm_center {
		text-align: center !important;
	}
}

.v_top {
	vertical-align: top !important;
}

.v_mid {
	vertical-align: middle !important;
}

.v_bot {
	vertical-align: bottom !important;
}

.flex_container {
	display: flex;
}

.flex_item_fit {
	flex: 0 0 auto;
}

.flex_justify_between {
	display: flex;
	justify-content: space-between;
}

.flex_justify_center {
	display: flex;
	justify-content: center;
}

.flex_justify_start {
	display: flex;
	justify-content: flex-start;
}

.flex_justify_end {
	display: flex;
	justify-content: flex-end;
}

.flex_align_center {
	display: flex;
	align-items: center;
}

.flex_align_start {
	display: flex;
	align-items: flex-start;
}

.flex_align_end {
	display: flex;
	align-items: flex-end;
}