@each $color,
$value in $colors {
	.txt_#{$color} {
		color: $value !important;
	}
}

@each $bg-color,
$value in $dark-bg-colors {
	.#{$bg-color} {
		background-color: $value !important;
		color: #fff;
	}
}

@each $bg-color,
$value in $light-bg-colors {
	.#{$bg-color} {
		background-color: $value !important;
	}
}

.bg_shadow {
	background-color: #fff;
	box-shadow: 0px 8px 38px 0px rgba(0, 0, 0, 0.07);
}