.d_n {
	display: none !important;
}

.d_b {
	display: block !important;
}

.d_i {
	display: inline !important;
}

.d_i_b {
	display: inline-block !important;
}

@if ($mode=='responsive') {
	.d_up_lg {
		@include media-breakpoint-down(md) {
			display: none !important;
		}
	}

	.d_up_md {
		@include media-breakpoint-down(sm) {
			display: none !important;
		}
	}

	.d_down_md {
		@include media-breakpoint-up(lg) {
			display: none !important;
		}
	}

	.d_down_sm {
		@include media-breakpoint-up(md) {
			display: none !important;
		}
	}
}