// 크기

.txt_sm {
	font-size: $font-size-sm !important;
}

.txt_md {
	font-size: $font-size-base !important;
}

.txt_lg {
	font-size: $font-size-lg !important;
	font-weight: 500;
}

.txt_xl {
	font-size: $font-size-xl !important;
	font-weight: 500;
}

.txt_xxl {
	font-size: $font-size-xxl !important;
	font-weight: 500;
	letter-spacing: -0.05em;
}

// 타이틀
.tit_cont {
	margin: 80px 0 40px;
	margin-right: 12px;
	color: $black;
	font-size: 40px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: -0.05em;
}

.tit1,
.tit2 {
	position: relative;
	align-items: center;
}

.tit1 {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 26px;
	color: $black;
	line-height: 1;
}

.tit2 {
	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	margin: 30px 0 15px; // TODO : 추후 쓰임새에 따라 수정 필요 (임의로 지정한 간격)
}

// 두께
.txt_light {
	font-weight: 200 !important;
}

.txt_normal {
	font-weight: normal !important;
}

.txt_medium {
	font-weight: 500 !important;
}

.txt_bold {
	font-weight: bold !important;
}

// 링크 텍스트
.link {
	text-decoration: underline;

	&:focus,
	&:hover {
		color: $primary;
	}
}

// 상태 라벨
.lab_status {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	min-width: 54px;
	padding: 0 14px;
	line-height: 28px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: normal;

	+.lab_status {
		margin-left: 6px;
	}
}