// 크기
.txt_xxs {
	font-size: $font-size-xxs !important;
}

.txt_xs {
	font-size: $font-size-xs !important;
}

.txt_sm {
	font-size: $font-size-sm !important;
}

.txt_md {
	font-size: $font-size-base !important;
}

.txt_lg {
	font-size: $font-size-lg !important;
	font-weight: 500;
}

.txt_xl {
	font-size: $font-size-xl !important;
	font-weight: 500;
}

.txt_xxl {
	font-size: $font-size-xxl !important;
	font-weight: 500;
	letter-spacing: -0.05em;
}

// 타이틀
.tit_page {
	color: $black;
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
}

.tit1,
.tit2 {
	position: relative;
	align-items: center;
}

.tit1 {
	margin: 30px 0 20px;
	font-weight: 500;
	font-size: 20px;
	color: $black;
	line-height: 1;
}

.tit2 {
	position: relative;
	margin: 30px 0 20px;
	padding-left: 24px;
	font-weight: 500;
	font-size: 18px;
	line-height: 1;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 18px;
		height: 18px;
		background: url(#{$url-img-common}/ico_arr_right_circle_black@2x.png) no-repeat;
		background-size: cover;
	}
}

// 두께
.txt_light {
	font-weight: 200 !important;
}

.txt_normal {
	font-weight: normal !important;
}

.txt_medium {
	font-weight: 500 !important;
}

.txt_bold {
	font-weight: bold !important;
}

// 상태 라벨
.lab_status {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	min-width: 60px;
	padding: 0 14px;
	height: 28px;
	border-radius: 14px;
	font-size: 14px;
	font-weight: 500;
	background-color: #fff;

	+.lab_status {
		margin-left: 6px;
	}

	&.outline_dep {
		border: 2px solid $primary;
	}

	&.outline_ins {
		border: 2px solid #ff883a;
	}
}