@charset "UTF-8";
/* 화면명1 */
/* UI 컴포넌트 가이드 */
.cont_header {
  text-align: center;
}

@media (min-width: 1025px) {
  .cont_header {
    margin: 0 0 65px;
    padding-top: 73px;
  }
  .cont_header .cont_title {
    font-size: 40px;
    line-height: 52px;
    font-family: "SpoqaHanSans", "NotoSansKR", "malgun gothic", Arial, sans-serif;
  }
}

@media (max-width: 1024.98px) {
  .cont_header {
    margin: 0 0 39.5px;
    padding-top: 36px;
  }
  .cont_header .cont_title {
    font-size: 24px;
    line-height: 29px;
    padding: 0 15px;
  }
}

@media (min-width: 1025px) {
  .cont_body {
    padding-bottom: 95px;
  }
}

.wrapper_html_guide .responsive_cont {
  display: none;
}

.wrapper_html_guide .cont_body {
  padding-bottom: 0;
}

.wrapper_html_guide .badge {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-top: .45em;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #f77120;
}

.wrapper_html_guide .row .col {
  display: tbl_cell;
  width: 1%;
}

.wrapper_html_guide .row .col:after {
  display: block;
  clear: both;
  content: '';
}

.wrapper_html_guide .row.row-auto {
  display: table;
  width: 100%;
}

.wrapper_html_guide .row.row-auto .col {
  width: auto;
}

.wrapper_html_guide .gutter-1 {
  margin-left: -2.5px;
  margin-right: -2.5px;
}

.wrapper_html_guide .gutter-1 .col {
  padding: 0 2.5px;
}

.wrapper_html_guide .gutter-1.row-auto {
  width: calc(100% + 10px);
}

.wrapper_html_guide .gutter-2 {
  margin-left: -5px;
  margin-right: -5px;
}

.wrapper_html_guide .gutter-2 .col {
  padding: 0 5px;
}

.wrapper_html_guide .gutter-2.row-auto {
  width: calc(100% + 20px);
}

.wrapper_html_guide .gutter-3 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.wrapper_html_guide .gutter-3 .col {
  padding: 0 7.5px;
}

.wrapper_html_guide .gutter-3.row-auto {
  width: calc(100% + 30px);
}

.wrapper_html_guide .gutter-4 {
  margin-left: -10px;
  margin-right: -10px;
}

.wrapper_html_guide .gutter-4 .col {
  padding: 0 10px;
}

.wrapper_html_guide .gutter-4.row-auto {
  width: calc(100% + 40px);
}

.wrapper_html_guide .gutter-5 {
  margin-left: -12.5px;
  margin-right: -12.5px;
}

.wrapper_html_guide .gutter-5 .col {
  padding: 0 12.5px;
}

.wrapper_html_guide .gutter-5.row-auto {
  width: calc(100% + 50px);
}

.wrapper_html_guide .gutter-6 {
  margin-left: -15px;
  margin-right: -15px;
}

.wrapper_html_guide .gutter-6 .col {
  padding: 0 15px;
}

.wrapper_html_guide .gutter-6.row-auto {
  width: calc(100% + 60px);
}

.wrapper_html_guide .gutter-7 {
  margin-left: -17.5px;
  margin-right: -17.5px;
}

.wrapper_html_guide .gutter-7 .col {
  padding: 0 17.5px;
}

.wrapper_html_guide .gutter-7.row-auto {
  width: calc(100% + 70px);
}

.wrapper_html_guide .gutter-8 {
  margin-left: -20px;
  margin-right: -20px;
}

.wrapper_html_guide .gutter-8 .col {
  padding: 0 20px;
}

.wrapper_html_guide .gutter-8.row-auto {
  width: calc(100% + 80px);
}

.wrapper_html_guide .gutter-9 {
  margin-left: -22.5px;
  margin-right: -22.5px;
}

.wrapper_html_guide .gutter-9 .col {
  padding: 0 22.5px;
}

.wrapper_html_guide .gutter-9.row-auto {
  width: calc(100% + 90px);
}

.wrapper_html_guide .gutter-10 {
  margin-left: -25px;
  margin-right: -25px;
}

.wrapper_html_guide .gutter-10 .col {
  padding: 0 25px;
}

.wrapper_html_guide .gutter-10.row-auto {
  width: calc(100% + 100px);
}

@media (min-width: 1025px) {
  .wrapper_html_guide #content {
    padding: 0 180px;
  }
}

@media (max-width: 1024.98px) {
  .wrapper_html_guide .syntaxhighlighter.html {
    display: none;
  }
}

.wrapper_html_guide .ico_list {
  padding: 15px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.wrapper_html_guide .ico_list .ico {
  background-color: rgba(255, 0, 0, 0.2);
}

.wrapper_html_guide .ico_list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px;
}

.wrapper_html_guide .ico_list li p {
  margin-top: 10px;
}

.guide_section:last-child {
  min-height: 100vh;
}

#guide_nav {
  position: fixed;
  left: 0;
  padding: 15px;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.95);
  line-height: 1.4;
}

#guide_nav .btn_collaspe {
  display: none;
}

#guide_nav .ico_xs-menu {
  width: 16px;
  height: 16px;
  line-height: 16px;
  background-image: url("/resources/_common/images/ico_xs-menu@2x.png");
}

#guide_nav .sidebar-title {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#guide_nav .nav-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

#guide_nav .guide_list {
  font-size: 14px;
}

#guide_nav li a small {
  opacity: .8;
  display: none;
}

#guide_nav li a .ico {
  margin-top: -2px;
}

#guide_nav li.on {
  font-weight: bold;
  color: #EFAE23;
}

#guide_nav .etc-link {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 8px;
}

#guide_nav .etc-link > li {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

#guide_nav .etc-link > li:only-child {
  border: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#guide_nav .etc-link > li ul {
  margin: 5px 0;
  font-weight: normal;
  font-size: 12px;
}

#guide_nav .quick-link {
  font-size: 13px;
}

#guide_nav .ico_external_link {
  width: 11px;
  height: 11px;
}

@media (max-width: 1024.98px) {
  #guide_nav {
    max-height: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition-duration: .3s;
            transition-duration: .3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    will-change: transform;
  }
  #guide_nav .btn_collaspe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    right: -28px;
    width: 28px;
    height: 28px;
    color: #fff;
    line-height: 0;
    opacity: .4;
    background-color: #000;
  }
  #guide_nav .btn_collaspe .close {
    display: none;
  }
  #guide_nav .btn_collaspe .close .ico {
    width: 14px;
    height: 14px;
  }
  #guide_nav .btn_collaspe .open {
    font-size: 12px;
    line-height: 1;
  }
  #guide_nav .nav-title {
    font-size: 14px;
  }
  #guide_nav .guide_list,
  #guide_nav .quick-link {
    font-size: 13px;
  }
  .sidebar_open #guide_nav {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .sidebar_open #guide_nav .btn_collaspe {
    right: 0;
  }
  .sidebar_open #guide_nav .btn_collaspe .close {
    display: block;
  }
  .sidebar_open #guide_nav .btn_collaspe .open {
    display: none;
  }
}

.code {
  border: 1px solid rgba(255, 0, 0, 0.2);
  padding: 4px 8px;
  border-radius: 2px;
  background-color: antiquewhite;
  font-family: 'Courier New', "malgungothic", Courier;
  font-size: 14px;
}

.tit_guide {
  font-size: 32px;
  font-family: "SpoqaHanSans", "NotoSansKR", "malgun gothic", Arial, sans-serif;
  letter-spacing: -0.03em;
  color: #222;
  margin: 80px 0 20px 0;
  padding: 15px 0 10px 15px;
  border-top: 2px solid rgba(34, 34, 34, 0.8);
  border-bottom: 1px dashed rgba(34, 34, 34, 0.2);
}

.tit_guide small {
  margin-left: 10px;
  color: #EFAE23;
}

@media (max-width: 1024.98px) {
  .tit_guide {
    font-size: 20px;
  }
}

.box_html_guide {
  margin-top: -20px;
  background-color: #f9f9f9;
  padding: 15px 20px;
}

.box_tbd {
  text-align: center;
  font-size: .30rem;
  color: #fff;
  line-height: 1.00rem;
}

.box_tbd:after {
  content: '디자인 수급예정';
}

.bg_setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px -5px;
}

.bg_setting span {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 150px;
  margin: 10px 5px;
  padding: 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  vertical-align: middle;
}

.score-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 15px 0;
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  padding: 20px 10px 15px;
}

.score-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.score-list strong {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
}

.score-list .easy-pie-chart {
  position: relative;
  width: 60px;
  height: 60px;
  color: #999;
}

.score-list .easy-pie-chart .percent {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
}
