@charset "UTF-8";
/* 메인 */
/* 보장분석신청 조회 */
.row-contract .txt_state {
  display: inline-block;
  background-color: #0069e1;
  color: #fff;
  padding: 7px 15px;
  border-radius: 14px;
}

.row-contract table tbody tr td {
  padding: 15px 20px;
}

.row-contract .row-gap {
  padding: 7px 0;
}

.row-contract .row-gap p + p:before {
  content: '';
  display: inline-block;
  margin: 0 10px;
  width: 1px;
  height: 11px;
  background-color: #ddd;
}

/* 보장분석신청 목록 */
/* 보장분석신청 완료 */
.image-lg .txt_sub_desc {
  font-size: 18px;
}

/* 보장분석신청 정보입력 */
.row-input-type .input-direct {
  width: 100%;
  max-width: 380px;
  height: 45px;
  border-radius: 6px;
  padding: 5px 15px;
  border: 1px solid #ddd;
}

td.bd_n {
  border-right: 0 !important;
}

td.bd_bottom {
  border-bottom: 1px solid #ddd !important;
}

th.top_dt {
  border-top: 1px solid #ddd;
}

.etc_txt {
  padding-left: 20px;
  position: relative;
  margin-top: 35px;
}

.etc_txt:before {
  content: "※";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}

.inline_info {
  font-size: 0;
  display: inline-block;
  vertical-align: top;
}

.inline_info.block {
  display: block;
  margin-top: 15px;
}

.inline_info * {
  display: inline-block;
  vertical-align: top;
}

.inline_info > span {
  font-size: 0;
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

.inline_info > span:before {
  content: "";
  display: block;
  border-left: 1px solid #ddd;
  height: 10px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
}

.inline_info > span:first-child {
  margin-left: 0;
}

.inline_info > span:first-child:before {
  display: none;
}

.inline_info > span em {
  color: #737373;
  font-size: 14px;
  font-style: normal;
  padding-right: 15px;
}

.inline_info > span a,
.inline_info > span span {
  color: #111;
  font-size: 14px;
  text-align: right;
  font-weight: 500;
}

.contract_list ul li {
  border-bottom: 1px solid #ddd;
  padding: 30px 35px 0;
}

.contract_list ul li:after {
  content: "";
  display: block;
  clear: both;
}

.contract_list ul li:first-child {
  border-top: 1px solid #606060;
}

.contract_list ul li .left_info {
  width: 560px;
  float: left;
}

.contract_list ul li .right_info {
  width: calc(100% - 560px);
  float: left;
  text-align: right;
}

.contract_list ul li .right_info .bottom {
  margin-top: 15px;
}

.contract_list ul li .right_info .bottom em {
  font-weight: 300;
}

.contract_list ul li .right_info .bottom .list_1 em {
  width: 65px;
  padding: 0;
  text-align: left;
}

.contract_list ul li .right_info .bottom .list_1 span {
  width: 100px;
}

.contract_list ul li .right_info .list_3 span {
  min-width: 75px;
}

.contract_list ul li > a {
  display: block;
  padding: 30px 35px;
  margin: -30px -35px 0;
}

.contract_list ul li > a:after {
  content: "";
  display: block;
  clear: both;
}

.contract_list ul li > a:hover .list_name {
  color: #FF883A;
}

.contract_list.left_big .left_info {
  width: 70%;
}

.contract_list.left_big .right_info {
  width: 30%;
}

.contract_list.left_small .left_info {
  width: 30%;
}

.contract_list.left_small .right_info {
  width: 70%;
}

.contract_list .tbl_row2 {
  clear: both;
  margin: 0px -35px;
  padding-top: 30px;
}

.contract_list .tbl_row2 table {
  border-top-color: #f3f3f3;
  border-bottom: 0;
}

.contract_list .tbl_row2 table th,
.contract_list .tbl_row2 table td {
  padding: 15px 35px !important;
}

.contract_list.special_info ul li .left_info {
  width: 49%;
}

.contract_list.special_info ul li .right_info {
  width: 51%;
}

.contract_list.special_info ul li .right_info .bottom > span em,
.contract_list.special_info ul li .right_info .bottom > span span {
  font-size: 16px;
}

.contract_list.special_info ul li .right_info .bottom > span.list_1 em {
  padding-left: 0;
}

.contract_list.special_info ul li .right_info .bottom > span.list_1 span {
  width: 120px;
}

.contract_list.special_info ul li .right_info .bottom > span.list_2 em {
  width: 90px;
  padding: 0;
  text-align: left;
  padding-left: 20px;
}

.contract_list.transfer_manage .left_info {
  width: 430px;
}

.contract_list.transfer_manage .left_info .inline_info > span {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.contract_list.transfer_manage .left_info .inline_info > span:before {
  display: none;
}

.contract_list.transfer_manage .left_info .inline_info > span span {
  height: 27px;
  line-height: 27px;
}

.contract_list.transfer_manage .right_info {
  width: calc(100% - 430px);
}

.contract_list.transfer_manage .right_info .list_3 span {
  min-width: inherit;
}

.contract_list .bottom_loan {
  border-top: 1px solid #f3f3f3;
  text-align: right;
  float: left;
  width: 100%;
  margin-top: 20px;
  padding: 20px 0 30px;
}

.contract_list .bottom_loan em {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  margin-left: 20px;
}

.contract_list .bottom_loan em:first-child {
  margin-left: 0;
}

.contract_list .bottom_loan span {
  font-size: 18px;
  line-height: 24px;
}

.contract_list .bottom_loan span.point {
  font-weight: bold;
  color: #0070c0;
}

.left_info .top_info .lab_status {
  color: #fff;
}

.left_info .top_info .lab_status.type1 {
  background: #0070c0;
}

.left_info .top_info .lab_status.type2 {
  background: #317c13;
}

.left_info .top_info .lab_status.type3 {
  background: #304d62;
}

.left_info .top_info .lab_status.type4 {
  background: #953735;
}

.left_info .top_info .lab_status.type5 {
  background: #28788e;
}

.left_info .top_info .lab_status.type6 {
  background: #6d6d6d;
}

.left_info .top_info .lab_status.type7 {
  background: #FF883A;
}

.left_info > a.list_name {
  color: #0070c0;
  font-weight: bold;
}

.left_info .list_name {
  display: block;
  font-size: 20px;
  line-height: 30px;
  color: #111;
  margin-top: 15px;
}

.contract_detail {
  position: relative;
  margin: 75px 0 65px;
}

.contract_detail .left_info {
  width: 850px;
}

.contract_detail .detail_name {
  display: block;
  font-size: 36px;
  line-height: 48px;
  margin: 5px 0;
}

.contract_detail .right_price_num {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contract_detail .right_price_num ul {
  overflow: hidden;
}

.contract_detail .right_price_num ul li {
  text-align: right;
  padding: 0 30px;
  float: left;
  position: relative;
}

.contract_detail .right_price_num ul li:before {
  content: "";
  display: block;
  border-left: 1px solid #ddd;
  height: 44px;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -22px;
}

.contract_detail .right_price_num ul li:first-child:before {
  display: none;
}

.contract_detail .right_price_num ul li:last-child {
  padding-right: 0;
}

.contract_detail .right_price_num ul li span {
  display: block;
  font-size: 16px;
  color: #555;
  line-height: 18px;
  margin-bottom: 5px;
}

.contract_detail .right_price_num ul li strong {
  font-weight: bold;
  font-size: 20px;
  display: block;
}

.empty_box {
  text-align: center;
  padding: 140px 0;
  border: 1px solid #eee;
  border-width: 1px 0;
  margin-top: 60px;
}

.empty_box i {
  display: inline-block;
  vertical-align: middle;
}

.empty_box p {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 30px;
}

.etc_box {
  background: #fff6f1;
  border-radius: 25px;
  padding: 30px;
  position: relative;
  margin-top: 60px;
}

.etc_box dl dt {
  font-size: 20px;
  line-height: 24px;
  color: #111;
  font-weight: 500;
  margin-bottom: 3px;
}

.etc_box dl dd {
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.etc_box a {
  font-size: 16px;
  display: block;
  width: 195px;
  padding: 15px 0;
  text-align: center;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #111;
  background: #fff;
  border-radius: 30px;
  font-weight: 400;
  -webkit-box-shadow: 3px 14px 40px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 3px 14px 40px 0 rgba(0, 0, 0, 0.06);
}

.etc_box a i {
  width: 7px;
  height: 13px;
  background-size: 100% 100%;
  margin-left: 30px;
}

.tbl_complex_data .tooltip_box {
  position: relative;
  display: inline-block;
}

.tbl_complex_data .tooltip_box i {
  cursor: pointer;
}

.tbl_complex_data .tooltip_box .tooltip_md {
  left: 60px;
  top: -95px;
  display: none;
}

.resurrection_info h3 {
  font-size: 20px;
  margin: 20px 0 5px;
  font-weight: 500;
}

.resurrection_info h3:first-child {
  margin-top: 0;
}

.resurrection_info .bg_lightgray {
  padding: 20px 0;
  text-align: center;
  border-radius: 5px 5px 5px 10px;
  margin-top: 15px;
}

.resurrection_info .bg_lightgray p {
  color: #555;
  font-size: 16px;
  line-height: 20px;
}

.resurrection_info .bg_lightgray p strong {
  color: #ce4900;
  font-size: 16px;
  line-height: 20px;
}

.resurrection_info .resurrection_list {
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 10px;
  padding: 30px 0;
}

.resurrection_info .resurrection_list ol {
  font-size: 0;
  text-align: center;
}

.resurrection_info .resurrection_list ol li {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  position: relative;
}

.resurrection_info .resurrection_list ol li:before {
  content: "";
  display: block;
  border: 2px solid #000;
  border-width: 2px 2px 0 0;
  width: 10px;
  height: 10px;
  position: absolute;
  left: -10px;
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.resurrection_info .resurrection_list ol li:first-child:before {
  display: none;
}

.resurrection_info .resurrection_list ol li span {
  display: block;
  margin-top: 17px;
  font-size: 16px;
  line-height: 17px;
}

.resurrection_info .resurrection_list ol li em {
  display: block;
  color: #ce4900;
  font-size: 12px;
  line-height: 14px;
  font-style: normal;
  font-weight: bold;
}

.resurrection_info .resurrection_list ol li:nth-child(2) span {
  margin-top: 5px;
}

.new_controlls {
  border: 0;
  padding: 0;
  margin: 90px 0 150px !important;
  position: relative;
}

.new_controlls:before {
  content: "";
  display: block;
  border-bottom: 1px solid #ebebeb;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
}

.new_controlls .inner {
  max-height: 185px;
}

.new_controlls .contract_detail {
  margin: 0;
}

.new_controlls .btn_more_white {
  width: 186px;
  margin-left: -93px;
}

.tb_scrolls_box {
  border-top: 1px solid #333;
  padding: 25px 30px;
  max-height: 180px;
  overflow-y: auto;
}

.contract_info {
  border-top: 1px solid #333;
  border-bottom: 1px solid #ddd;
}

.contract_info:after {
  content: "";
  display: block;
  clear: both;
}

.contract_info.alone {
  border-bottom: 1px solid #e8e8e8;
}

.contract_info .left_info {
  padding: 30px;
  float: left;
  width: 75%;
}

.contract_info .right_info {
  float: right;
  width: 23%;
  margin-top: 30px;
}

.contract_info .tbl_row2 {
  float: left;
  width: 100%;
}

.contract_info .tbl_row2 table {
  border-top-color: #f3f3f3;
  border-bottom: 0;
}

.contract_info.left_middle .left_info {
  width: 60%;
}

.contract_info.left_middle .right_info {
  width: 40%;
  text-align: right;
  padding-right: 30px;
}

.box .ambulance:before {
  background-image: url(../images/common/ico_tit_ambulance.png);
}

.box .add_certification:after {
  content: "";
  display: block;
  clear: both;
}

.box .add_certification li {
  float: left;
  border: 1px solid #a2a2a2;
  border-radius: 50px;
  background: #fff;
  margin-right: 10px;
}

.box .add_certification li a {
  font-size: 16px;
  padding: 18px 35px 18px 90px;
  display: block;
}

.box .add_certification li a.sms {
  background: url(../images/content/ico_certification1.png) left 35px center no-repeat;
}

.box .add_certification li a.ars {
  background: url(../images/content/ico_certification2.png) left 35px center no-repeat;
}

.transfer_info_box {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.transfer_info_box .top_radio {
  background: #fafafa;
  padding: 25px 35px;
  border-radius: 5px 5px 0 0;
}

.transfer_info_box table {
  border-top: 1px solid #ddd;
  border-bottom: 0;
}

.transfer_info_box table tbody tr {
  border: 0 !important;
}

.transfer_info_box table tbody tr th {
  padding-left: 40px;
}

.transfer_complete_box {
  text-align: center;
  padding: 100px 0 0;
}

.transfer_complete_box span {
  display: block;
  font-size: 40px;
  line-height: 44px;
  margin: 35px 0 15px;
}

.transfer_complete_box span strong {
  font-size: 40px;
  line-height: 44px;
}

.transfer_complete_box p {
  font-size: 18px;
  line-height: 22px;
  color: #555;
}
/*# sourceMappingURL=content.css.map */