@charset "UTF-8";
.wrapper {
  position: relative;
  overflow: hidden;
}

.skip_nav {
  display: block;
  position: absolute;
  top: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  z-index: 600;
}

.skip_nav:focus, .skip_nav:active {
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: #666;
}

.header {
  height: 134px;
  border-bottom: 1px solid #eee;
}

.header .logo {
  position: absolute;
  left: 20px;
  top: 50px;
}

.header .top_search {
  position: absolute;
  right: 84px;
  top: 72px;
}

.header .btn_top_search {
  width: 20px;
  height: 20px;
  background: url(../images/common/search_icon.png) no-repeat center center;
  display: block;
  text-indent: -9999px;
}

.header .total_menu_open {
  position: absolute;
  right: 20px;
  top: 67px;
}

.header .total_menu_open .btn_menu_open {
  position: relative;
  width: 30px;
  height: 30px;
}

.header .total_menu_open .btn_menu_open span {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 20px;
  height: 2px;
  background-color: #111;
  display: block;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  text-indent: -9999px;
}

.header .total_menu_open .btn_menu_open span:before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 2px;
  background-color: #111;
  display: block;
  content: "";
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.header .total_menu_open .btn_menu_open span:after {
  position: absolute;
  left: 0;
  top: 16px;
  width: 20px;
  height: 2px;
  background-color: #111;
  display: block;
  content: "";
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.header .header_inner {
  position: relative;
  text-align: center;
}

.header .util_menu {
  padding-top: 18px;
}

.header .util_menu:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.header .util_menu ul {
  float: left;
}

.header .util_menu ul li {
  float: left;
  position: relative;
  padding: 0 15px;
}

.header .util_menu ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background-color: #eae9e9;
  display: block;
  content: "";
}

.header .util_menu ul li a {
  font-size: 0.813em;
  color: #555;
}

.header .util_menu ul li:first-child:before {
  display: none;
}

.header .util_menu ul.member_menu li {
  padding: 0;
  margin-left: -1px;
}

.header .util_menu ul.member_menu li a {
  padding: 0 12px;
  height: 28px;
  line-height: 26px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.header .util_menu ul.member_menu li:last-child a {
  border-radius: 0 5px 5px 0;
}

.header .util_menu ul.member_menu li:before {
  display: none;
}

.header .gnb {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.header .gnb > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.header .gnb > ul > li {
  float: left;
  margin: 0 70px;
}

.header .gnb > ul > li > a {
  display: block;
  font-size: 1.25em;
}

/* 전체메뉴 */
/* 통합검색 */
.breadcrumb {
  border-bottom: 1px solid #eee;
}

.breadcrumb .breadcrumb_list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  color: #555;
}

.breadcrumb .breadcrumb_list > li {
  position: relative;
}

.breadcrumb .breadcrumb_list > li:first-child > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  height: 100%;
  padding: 0 13px;
  max-height: none;
}

.breadcrumb .breadcrumb_list > li:last-child {
  border-right: 1px solid #f2f2f2;
}

.breadcrumb .breadcrumb_list > li:last-child > a {
  color: #111;
  font-weight: 500;
}

.breadcrumb .breadcrumb_list > li:nth-child(n+2) {
  border-left: 1px solid #f2f2f2;
  min-width: 117px;
  background: url(/resources/insurance/images/common/ico_chevron-right-xs.png) no-repeat 0 center;
}

.breadcrumb .breadcrumb_list > li:nth-child(n+2) > a {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  max-height: 44px;
  line-height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  height: 100%;
  max-height: none;
  padding: 0 19px;
  border-radius: 0;
  text-align: left;
  font-size: 16px;
  background: #fff url(/resources/insurance/images/common/ico_chevron-down@2x.png) no-repeat right 10px center;
  background-size: 13px auto;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: color, border-color, -webkit-box-shadow;
  transition-property: color, border-color, -webkit-box-shadow;
  transition-property: color, border-color, box-shadow;
  transition-property: color, border-color, box-shadow, -webkit-box-shadow;
  will-change: color, border-color, box-shadow;
}

.breadcrumb .breadcrumb_list > li.on .sub_list_wrap {
  display: block;
}

.breadcrumb .sub_list_wrap {
  display: none;
  position: absolute;
  z-index: 10;
  left: -1px;
  right: 0;
  margin-top: 1px;
  min-width: 200px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  border-top: 0;
  font-size: 15px;
}

.breadcrumb .sub_list_wrap ul {
  padding: 15px 19px;
  font-size: 16px;
}

.breadcrumb .sub_list_wrap a {
  padding: 3px 0;
  position: relative;
  display: block;
  color: #111;
}

#content {
  min-height: calc(100vh - 479px);
}

.cont_header {
  max-width: 1200px;
  margin: auto;
  position: relative;
  padding: 80px 0 0;
  margin-bottom: 40px;
}

.cont_header:after {
  display: block;
  clear: both;
  content: '';
}

.cont_header .left {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_header .right {
  float: right;
}

.cont_header .tit_cont {
  display: inline-block;
  margin: 0 12px 0 0;
}

.cont_header .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_header .step li {
  color: #595959;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-left: 20px;
  line-height: 0;
}

.cont_header .step li .num {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 100%;
  color: transparent;
}

.cont_header .step li .txt {
  display: none;
}

.cont_header .step li.on .num {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 32px;
  border-radius: 100%;
}

.cont_header .step li.on .txt {
  display: inline;
}

.cont_header .step li.on ~ li .num {
  background-color: #ddd;
}

.cont_body {
  max-width: 1200px;
  margin: auto;
}

.footer {
  border-top: 1px solid #cbcbcb;
  height: 300px;
}

.footer .container {
  padding: 35px 0 60px;
}

.footer .sns_area {
  float: right;
  text-align: right;
}

.footer .sns_area ul {
  margin-bottom: 20px;
  padding-top: 20px;
}

.footer .sns_area li {
  margin-left: 12px;
  display: inline-block;
}

.footer .sns_area p {
  font-size: 0.875em;
  color: #555;
}

.footer .copyright {
  padding-top: 10px;
  color: #b1b1b1;
  font-size: 0.875em;
  font-weight: 20;
}

.footer .footer_cont {
  float: left;
}

.footer .footer_cont ul li {
  margin-bottom: 5px;
  color: #555;
  font-size: 0.875em;
  font-weight: 300;
}

.footer .footer_cont ul li:last-child {
  padding-top: 5px;
}

.footer .footer_cont ul li strong {
  font-weight: 400;
}

.footer .footer_menu {
  margin-bottom: 40px;
}

.footer .footer_menu ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.footer .footer_menu ul li {
  position: relative;
  padding: 0 32px;
  display: inline-block;
}

.footer .footer_menu ul li:first-child {
  padding-left: 0;
}

.footer .footer_menu ul li:first-child:before {
  display: none;
}

.footer .footer_menu ul li:last-child {
  padding-right: 0;
}

.footer .footer_menu ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  display: block;
  content: "";
}

.footer .footer_menu ul li a {
  font-size: 0.875em;
  color: #555;
}

.footer .footer_menu ul li a strong {
  font-weight: 500;
}
