//
// Icons : 보험
// 아이콘 이미지 저장위치 : resources/insurance/images/common/
// 

// 레이아웃
@include ico('home', 21px, 21px);

// 공통 컴포넌트
@include ico('datepicker');
@include ico('star_primary', 30px, 29px);
@include ico('star_gray', 30px, 29px);
@include ico('arr_down_sm', 13px, 7px);
@include ico('arr_left', 10px, 19px);
@include ico('arr_right', 10px, 19px);
@include ico('arr_circle_right_primary', 20px, 20px, );
@include ico('arr_circle_right_gray', 19px, 19px);
@include ico('plus_circle_primary', 16px, 16px);
@include ico('close_sm', 14px, 14px);
@include ico('close_lg', 26px, 26px);

@include ico('search', 18px, 18px);
@include ico('search_bold', 19px, 20px);

@include ico('mouse', 18px, 26px);
@include ico('settings', 13px, 14px);
@include ico('clock', 15px, 15px);
@include ico('rss_primary', 15px, 15px);
@include ico('tit_primary', 24px, 24px);
@include ico('check_primary', 24px, 24px);