//
// 보험 variables
//

// 사이트 기본 설정

$mode: desktop !default; // responsive, mobile, tablet;
$site : insurance !default;

// 경로
$url-img: "/resources/insurance/images" !default;
$url-img-common: "/resources/insurance/images/common" !default;

// COLORS
$primary: #FF883A !default;
$darkprimary: #CE4900 !default;
$bg-lightprimary: #FEF0E7 !default;

$btn-xl-disable1: #FFC39C !default;
$btn-xl-disable2: #eee !default;

$bg-primary: $primary !default;
$bg-darkprimary: $darkprimary !default;
$btn_primary: $primary !default;

// PC
// $spacing: 20px !default;
// $topnav-height: 50px !default;
// $header-util-height: 88px !default;
// $gnb-height: 51px !default;
$header-height: 134px !default;
// $header-height-closed: 78px !default;
// $breadcrumb-height: 56px !default;
// $footer-height: 188px !default;

// Mobile
// $mobile-spacing: 15px !default;
// $mobile-topnav-height: 35px !default;
// $mobile-header-height: 50px !default;
// $mobile-breadcrumb-height: 30px !default;
// $mobile-footer-height: 195px !default;
// $mobile-allmenu-header: 157px !default;
// $mobile-allmenu-footer: 50px !default;