@charset "utf-8";

// 
// 인터넷보험 콘텐츠
// 

// variables
@import "variables";
@import "../../_common/scss/variables";

// funtions
@import "../../_common/scss/breakpoints";
@import "../../_common/scss/mixins";

// pages
// [필독] SCSS 작업방법 안내
// 1. IA에 정의된 대메뉴별 path명과 맞춰 scss 파일 추가 후 사용
//    예) path명 + Pages
// 2. 반응형 사이트인 경우 breakpoint mixin 사용 필수 : 사용법 _guidePages.scss 참고
// 3. 색상값 등 변수 사용 필수 : _variables.scss 참고

@import "pages/homePages"; // 메인
@import "pages/lookupPages"; // 조회