@charset "utf-8";

// 
// 보험 PC웹 레이아웃
// 

// variables
@import "variables";
@import "../../_common/scss/variables";

// funtions
@import "../../_common/scss/breakpoints";
@import "../../_common/scss/mixins";

// layout
// TODO : 예금 레이아웃을 그대로 끌고옴 : 다른 부분 수정 필요
@import "../../deposit/scss/layout/base";
@import "../../deposit/scss/layout/header";
@import "../../deposit/scss/layout/allmenu"; // 헤더 내 전체검색
@import "../../deposit/scss/layout/globalSearch"; // 헤더 내 통합검색
@import "../../deposit/scss/layout/breadcrumb";
@import "../../deposit/scss/layout/content";
@import "../../deposit/scss/layout/footer";