/* 게시판 */

/* 광고 배너 영역 */
.ad-banner {
	margin-bottom: $spacing-md;
	border: 1px solid $border-base;
	text-align: center;
	background-color: $bg-lightgray;

	.ad-banner-link {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	img {
		vertical-align: top;
	}
}

/* 공지사항 박스 */
.box_notice {
	dd {
		font-size: $font-size-base;
	}

	@include media-breakpoint-up(lg) {
		margin-bottom: 20px;
		padding: 18px 19px;

		dt {
			margin-bottom: 7px;
			padding-left: 2px;
		}
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 23px;
		padding: 13px 15px 11px;

		dt {
			margin-bottom: 6px;
		}
	}
}

/* 검색폼 */
.box_search {
	background-color: $bg-lightgray;

	@include media-breakpoint-up(lg) {
		padding: 19px;
	}

	@include media-breakpoint-down(md) {
		padding: 14px;
	}
}

.search-form {
	.datepicker {
		.tf_datepicker {
			padding-right: 40px;
		}

		.btn {
			padding: 0 6px;
		}
	}

	.btn_area {
		.btn {
			.ico {
				margin-top: 1px;
			}
		}
	}

	table {
		th {
			padding: 10px 18px;
			font-weight: 400;
			text-align: left;
			white-space: nowrap;

			label {
				@include text-ellipsis(1, 22px);
				display: block;
				max-width: 56px;
			}
		}

		td {
			padding: 5px 0;
		}
	}

	@include media-breakpoint-up(lg) {
		.search-form-group {
			display: flex;
			justify-content: center;
		}

		.form_row {
			+.form_row {
				margin-left: 25px;
			}
		}

		.form_row_datepicker {
			flex-wrap: nowrap;

			.txt_item {
				padding: 0 3px;
			}
		}

		.form_row_keyword {
			flex-wrap: nowrap;

			.tf_item {
				+.tf_item {
					margin-left: 5px;
				}
			}
		}

		.form_row_toggle {
			.tf_item {
				width: 255px;
				text-align: right;
			}
		}

		.btn_area {
			.btn {
				min-width: 74px;
				padding: 0 10px;

				+.btn {
					margin-left: 1px;
				}
			}
		}

		table {
			width: calc(100% + 35px);
			margin: -5px -17px 0 -18px;
		}
	}

	@include media-breakpoint-down(md) {
		.tf {
			width: 100% !important;
		}

		.datepicker {
			display: block;
		}

		.form_row {
			+.form_row {
				margin-top: 10px;
			}

			.tf_item {
				&.md-full {
					margin-top: 0 !important;

					+.md-full {
						margin-top: 10px !important;
					}

					&.mt_md-1 {
						margin-top: 5px !important;
					}
				}
			}
		}

		.form_row_toggle {
			.btn {
				width: 100%;
			}
		}

		.btn_area {
			display: flex;

			.btn {
				flex: 1;
			}
		}

		table {
			display: inline-block;

			tbody {
				display: block;
			}

			tr {
				display: block;
			}

			th,
			td {
				display: block;
				float: left;
			}

			th {
				width: 75px;
				line-height: 30px;
				padding: 14px 18px 14px 0;
			}

			td {
				width: calc(100% - 75px);
			}
		}
	}
}

.sns-list-sm {
	display: flex;
	float: right;
	margin-left: auto;

	li {
		margin-left: 6px;

		a {
			display: block;
		}
	}

	img {
		height: 20px;
		vertical-align: top;
	}
}

/* 약관 동의 */
.terms-area {
	.box_terms {
		max-height: 108px;
		padding: 18px 19px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;

		.list2 {
			>li {
				&:before {
					height: 1px;
					background-color: $default;
				}

				+li {
					margin-top: 2px;
				}
			}
		}

		.list3 {
			>li {
				&:before {
					background-color: $default;
				}
			}
		}

		.txt_underline {
			text-decoration: underline;
		}
	}

	.terms-agree {
		overflow: visible;
	}

	.ckeck-item-custom {
		position: relative;
		padding-right: 30px;
	}

	input[type=checkbox] {
		+label {
			vertical-align: top;

			&:before {
				position: absolute;
				bottom: 0;
				right: -30px;
				margin: 0;
			}
		}
	}

	@include media-breakpoint-down(md) {
		.terms-agree {
			>.inner {
				flex-direction: column;

				>.col_item {
					margin-top: 0;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.terms-agree {
			>.inner {
				>.col_item {
					margin-top: 10px;
				}
			}
		}
	}
}

/* 게시판 상단 */
.list-info {
	margin: 28px 0 8px;

	@include media-breakpoint-down(md) {
		margin: 46px 0 13px;
	}
}

.cont_share {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;

	.btn {
		height: 29px;
		margin-left: 5px;
		border: 1px solid $border-base;
		border-radius: 3px;
	}

	.sns-list {
		display: flex;
	}

	.btn_like {
		padding: 0 10px;
		border-color: $bg-darkprimary;
		color: $white;
		background-color: $bg-darkprimary;

		.ico {
			margin-right: 5px;
		}
	}

	.btn_share {
		padding: 0 9px 0 5px;
	}

	.btn_print {
		min-width: 38px;
		padding: 0 5px;

		.ico {
			margin-right: 0;
		}
	}
}

/* 게시판 게시물이 없을 경우 */
.nodata-area {
	padding: 105px 0 108px;
	border-top: 1px solid $border-base;
	border-bottom: 1px solid $border-base;
	color: rgba(0, 0, 0, .66);
	text-align: center;

	.ico {
		margin-right: 4px;
	}

	@include media-breakpoint-down(md) {
		padding: 55px 0 58px;
	}
}

/* 게시판 일반형 목록 */
.ico_new {
	display: inline-block;
	width: 14px;
	height: 13px;
	line-height: 13px;
	border-radius: 2px;
	background-color: #ea401e;
	color: #fff;
	font-size: 11px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
}

.tbl_list {

	th,
	td {
		padding: 10px;
	}

	.cell-subject {
		text-align: left;

		a {
			display: inline-block;
			position: relative;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	.no-data {
		line-height: 60px;
		text-align: center;
	}

	.ico_reply-gray {
		margin: -8px 0 0 4px;
	}

	.ico_lock-gray {
		margin: 0 1px;
	}

	@include media-breakpoint-up(lg) {
		.cell-subject {
			white-space: nowrap;

			a {
				@include text-ellipsis(1, 22px);
				padding-right: 20px;
				vertical-align: middle;
			}
		}

		.ico_new {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
		}

		.icon-addon {
			+a {
				max-width: calc(100% - 21px);
			}
		}
	}

	@include media-breakpoint-down(md) {
		border-top: 0;

		table {
			width: 100%;
			margin-right: 0;
			border-bottom: 0;
		}

		colgroup,
		thead {
			display: none;
		}

		tbody {
			display: block;
			text-align: left !important;

			tr {
				display: block;
				border: 1px solid $border-base;
				border-radius: 10px;
				padding: 10px 13px 11px;

				+tr {
					margin-top: 15px;
				}
			}

			td {
				display: inline-block;
				vertical-align: middle;
				padding: 0 !important;
				border: 0 !important;
				height: auto !important;
				color: $gray;
			}

			.cell-no,
			.cell-file {
				display: none;
			}

			.cell-subject {
				display: block;
				margin-bottom: 7px;
				padding-left: 0;
				color: $default;

				&:before {
					display: none;
				}

				a {

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}

			.ico_new {
				margin: -3px 0 0 5px;
				vertical-align: middle;
			}

			.cell-date,
			.cell-hit {
				&:before {
					content: '';
					display: inline-block;
					width: 1px;
					height: 12px;
					margin: -2px 10px 0 6px;
					background-color: $border-dark;
					vertical-align: middle;
				}
			}

			.icon-addon {
				display: inline-block;
				width: 18px;
				margin-top: -2px;
				vertical-align: top;

				+a {
					display: inline-block;
					max-width: calc(100% - 22px);
				}
			}

			.no-data {
				display: block;
				line-height: 77px;

				.ico {
					margin-right: 2px;
				}
			}
		}
	}
}

/* 게시판 일반형 상세 */
.article-view {
	border-top: 1px solid $gray;

	.tbl {
		border-top: 0;

		table {
			border-bottom-color: $border-dark;
		}

		th,
		td {
			border-right-color: $border-base;
		}
	}

	.file-list {
		li {
			position: relative;
			padding-left: 24px;
		}

		.ico {
			position: absolute;
			top: 0;
			left: 0;
		}

		.btn {
			margin: -2px 0 0 5px;
		}
	}

	.file-attatch-desc {
		margin-left: -24px;
		padding-left: 100px;
		text-indent: -100px;
	}

	@include media-breakpoint-up(lg) {
		.tbl {
			th {
				background-color: $bg-lightgray;
			}
		}
	}

	@include media-breakpoint-down(md) {
		table {
			>tbody {
				>tr {
					&:first-child {
						>th {
							+td {
								+th {
									border-top: 1px solid #eee;
								}
							}
						}
					}
				}
			}
		}

		.file-attatch-desc {
			padding-left: 0;
			text-indent: 0;

			.tit,
			.content {
				display: block;
			}
		}
	}
}

.article-header {
	.info-area {
		padding: 14px 21px;
		border-bottom: 1px solid $border-base;
		background-color: $bg-lightgray;
	}

	.article-subject {
		font-size: $font-size-xl;

		&+.article-info {
			margin-bottom: -6px;
		}
	}

	.article-info {
		margin-top: 14px;
	}

	.info-list {
		display: flex;
		flex-wrap: wrap;
		padding: 8px 19px 7px;
		border-bottom: 1px solid $border-base;
		color: $gray;
		font-size: $font-size-sm;

		li {
			margin-right: 55px;
			padding: 3px 0;
		}

		.tit {
			color: $default;

			&:after {
				content: '';
				display: inline-block;
				width: 1px;
				height: 14px;
				margin: -2px 10px 0;
				vertical-align: middle;
				background-color: $border-base;
			}
		}
	}

	.file-list {
		padding: 10px 18px;
		border-bottom: 1px solid $border-base;

		li {
			position: relative;
			padding-left: 24px;
			font-size: $font-size-sm;
			line-height: 22px;

			.ico {
				position: absolute;
				top: 0;
				left: 0;
			}

			a:not(.btn) {

				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}

			+li {
				margin-top: 5px;
			}
		}
	}

	.file-shortcut {
		padding: 0;

		li {
			padding: 10px 19px 7px 43px;

			.ico {
				top: 10px;
				left: 19px;
			}

			.btn {
				margin: -2px 0 0 5px;
			}

			+li {
				margin-top: 0;
				border-top: 1px solid $border-base;
			}
		}
	}
}

.article-body {
	border-bottom: 1px solid $border-dark;
	line-height: 24px;

	.video-content {
		padding: 40px 0;
	}

	.faq-content {
		margin-top: -1px;
		margin-bottom: -1px;
		padding-top: 40px;
		border-top: 1px solid $border-dark;
	}

	+.article-tag {
		margin-top: -1px;
	}

	@include media-breakpoint-down(md) {
		.video-content {
			padding: 30px 0;
		}
	}
}

.article-conetnt {
	padding: 15px 20px 17px;
}

.article-nav {
	display: table;
	width: 100%;
	tbl_layout: fixed;
	margin-top: 40px;
	border-collapse: collapse;
	border-top: 1px solid $border-base;

	li {
		display: table-row;

		>* {
			display: table-cell;
			border-bottom: 1px solid $border-base;
			padding: 14px 10px;
		}

		span {
			width: 80px;
			color: $gray;
			vertical-align: middle;

			.ico {
				margin: -2px 0 0 5px;
			}
		}

		a {
			@include text-ellipsis(1, 21px);

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	+.article-tag {
		margin-top: -1px;
	}
}

.comment-area {
	margin-top: 40px;

	.comment-info {
		padding: 6px 15px;

		.tit {
			font-size: $font-size-lg;
		}

		.total {
			color: $primary;
		}
	}

	.comment-list {
		border-top: 1px solid $gray;

		li {
			position: relative;
			padding: 12px 44px 10px 15px;
			border-bottom: 1px solid $border-base;
			line-height: 24px;
		}

		.writer,
		.time {
			color: $gray;
		}

		.time {
			margin-top: 4px;
		}

		.btn_delete {
			position: absolute;
			top: 41px;
			right: 11px;
			min-width: 21px;
			height: 21px;
			padding: 0;
			border-color: $border-dark;

			.ico {
				margin-right: 0;
			}
		}
	}
}

.box_comment {
	margin-top: 30px;
	padding-top: 0;
	overflow: hidden;

	legend {
		padding: 9px 0 8px;
		font-size: $font-size-lg;
	}

	.comment-form {
		margin: 0 -19px -15px;
		padding: 19px 21px;
		background-color: $bg-lightgray;
	}

	.tf {
		padding-top: 9px;
		padding-bottom: 9px;
		border-radius: 3px;
	}

	.btn_md {
		height: 62px;
	}
}

/* 게시판 일반형 등록 */
.file-attatch-item {
	+.file-attatch-item {
		padding-top: $spacing-sm;
	}

	.col_item {
		flex: 1 1 50%;

		.tf {
			width: 100%;
		}
	}

	.col_item_fit {
		padding-left: 5px;
	}

	.form-file {
		display: none;
	}

	.file-desc {
		.btn {
			min-width: 40px;
			padding: 0;

			.ico {
				margin-right: 0;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		display: flex;

		>div {
			flex: 1;
		}

		.file-desc {
			padding-left: 20px;
			line-height: 1;
		}
	}

	@include media-breakpoint-down(md) {
		+.file-attatch-item {
			margin-top: 20px;
			padding-top: 10px;
			border-top: 1px solid $border-light;
		}

		.file-desc {
			display: block;
			margin-top: 10px;
			margin-bottom: -10px;
		}

		&:last-child {
			.file-desc {
				margin-bottom: 0;
			}
		}
	}
}

/* 게시판 답글형 상세 */
.reply-content {
	padding: 14px 20px 27px;
	border-top: 1px solid $border-base;
	background-color: $bg-lightgray;

	.tit {
		font-weight: 700;
	}

	.content {
		margin: 12px 0 0 15px;
	}
}

/* 게시판 요약형 목록 */
.article-info {
	display: flex;
	align-items: center;
	font-size: $font-size-sm;

	li {
		.ico {
			margin: -2px 1px 0 0;
		}

		+li {
			&:before {
				content: '';
				display: inline-block;
				width: 1px;
				height: 14px;
				margin: -2px 10px 0;
				vertical-align: middle;
				background-color: $border-base;
			}
		}
	}
}

.article-tag {
	display: flex;
	align-items: center;
	height: 41px;
	padding: 0 13px;
	border-top: 1px solid $border-base;

	.tit {
		width: 40px;
		height: 20px;
		margin-right: 10px;
		padding-left: 7px;
		color: $white;
		font-size: 13px;
		line-height: 20px;
		background: url(#{$url-img-common}/bg-tag@2x.png) no-repeat 0 50%;
		background-size: auto 20px;
	}

	.list {
		color: $gray;
		font-size: $font-size-sm;

		a {
			margin-right: 6px;

			&:before {
				content: '#';
			}

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}

.summary-list {
	.summary-header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 46px;
		padding: 0 11px;
		border-bottom: 1px solid $border-base;
		background-color: $bg-gray;

		.right {
			margin-left: auto;
		}
	}

	.category-label {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 25px;
		padding: 0 10px;
		color: $white;
		font-size: $font-size-sm;

		&.bg-blue {
			background-color: #429bf9;
		}

		&.bg-green {
			background-color: #4ba58d;
		}
	}

	.article-info {
		margin-right: 7px;
	}

	.cont_area {
		a {
			display: block;

			&:hover,
			&:focus {
				>* {
					text-decoration: underline;
				}
			}
		}

		.subject {
			display: inline-block;
			position: relative;
			padding-right: 20px;
			@include text-ellipsis(1, 28px);
			font-size: $font-size-xl;

			.ico_new {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
			}
		}

		.content {
			display: block;
			@include text-ellipsis(3, 24px);
			margin-top: 5px;
		}
	}

	&:not(.thumbnail-type) {
		>li {
			border-top: 1px solid $gray;
			border-bottom: 1px solid $border-dark;

			+li {
				margin-top: 30px;
			}
		}

		.cont_area {
			padding: 15px 11px 20px;
		}
	}

	&.thumbnail-type {
		border-top: 1px solid $gray;
		border-bottom: 1px solid $border-dark;

		>li {
			position: relative;
			height: 254px;
			padding: 30px 30px 30px 268px;

			+li {
				border-top: 1px solid $border-base;
			}
		}

		.thumb {
			display: block;
			position: absolute;
			top: 30px;
			bottom: 30px;
			left: 0;
			width: 246px;
			margin-right: 22px;
			border-radius: 10px;
			overflow: hidden;
			background-color: $bg-gray;

			&:before {
				content: '';
				position: absolute;
				top: calc(50% - 3px);
				left: calc(50% + 4px);
				width: 120px;
				height: 70px;
				transform: translate3d(-50%, -50%, 0);
				background: url(#{$url-img-common}/bg-noimage@2x.png) no-repeat 50% 50%;
				background-size: auto 70px;
			}

			img {
				position: absolute;
				top: 0;
				left: 0;
				max-width: none;
				height: 100%;
				width: 100%;
				object-fit: cover;
				z-index: 10;
			}
		}

		.cont_area {
			position: relative;
			height: 100%;

			.content {
				@include text-ellipsis(4, 24px);
			}
		}

		.article-info {
			position: absolute;
			bottom: 3px;
			left: 4px;

			li {
				+li {
					&:before {
						margin-right: 15px;
						margin-left: 15px;
					}
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&:not(.thumbnail-type) {
			>li {
				+li {
					margin-top: 40px;
				}
			}

			.cont_area {
				.subject {
					max-width: 898px;
				}
			}
		}

		&.thumbnail-type {
			.cont_area {
				.subject {
					max-width: 622px;
				}
			}
		}
	}

	@include media-breakpoint-down(sm) {
		.category-label {
			span {
				@include text-ellipsis(1, 19px);
				display: block;
				max-width: 120px;
			}
		}

		&.thumbnail-type {
			>li {
				height: auto;
				padding: 25px 0;
			}

			.thumb {
				position: relative;
				top: auto;
				bottom: auto;
				width: 100%;
				height: auto;
				margin-right: 0;
				padding-top: 78.86178%;
			}

			.cont_area {
				padding-top: 15px;
			}

			.article-info {
				position: static;
				margin-top: 12px;
			}
		}
	}
}

/* 게시판 갤러리형, 동영상형 목록 */
.thumbnail-list {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;

	>li {
		width: calc(33.33333% - 30px);
		margin: 15px;
		padding: 19px 19px 15px;
		border: 1px solid $border-base;
		border-radius: 20px;

		a {
			display: block;

			&:hover,
			&:focus {
				.subject {
					text-decoration: underline;
				}
			}
		}
	}

	.thumb {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		background-color: $bg-gray;

		&-gallery {
			padding-top: 78.86178%;
		}

		&-video {
			padding-top: 70.3252%;

			.icon-wrap {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, .5);
				z-index: 20;
			}

			.ico_play-black {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		&:before {
			content: '';
			position: absolute;
			top: calc(50% - 3px);
			left: calc(50% + 4px);
			width: 120px;
			height: 70px;
			transform: translate3d(-50%, -50%, 0);
			background: url(#{$url-img-common}/bg-noimage@2x.png) no-repeat 50% 50%;
			background-size: auto 70px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: none;
			height: 100%;
			width: 100%;
			object-fit: cover;
			z-index: 10;
		}
	}

	.subject {
		display: inline-block;
		position: relative;
		@include text-ellipsis(1, 22px);
		margin-top: 7px;
		padding-right: 18px;
	}

	.ico_new {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}

	.info-area {
		@include clearfix;
		margin-top: 3px;
	}

	.date {
		float: left;
		color: $gray;
	}

	.sns-list {
		display: flex;
		float: right;
		margin-left: auto;

		li {
			margin-left: 6px;

			a {
				display: block;
			}
		}

		img {
			height: 20px;
			vertical-align: top;
		}
	}

	@include media-breakpoint-up(lg) {
		max-width: 950px;
	}

	@include media-breakpoint-down(md) {
		margin: -10px;

		>li {
			width: calc(33.33333% - 20px);
			margin: 10px;
		}
	}

	@include media-breakpoint-down(sm) {
		>li {
			width: calc(100% - 20px);
		}
	}
}

/* 게시판 갤러리형 상세 */
.gallery-content {
	max-width: 920px;
	padding: 30px 0;

	+.article-conetnt {
		padding-top: 25px;
		border-top: 1px solid $border-base;
	}

	@include media-breakpoint-down(md) {
		padding: 20px 0;
	}
}

.gallery-slider-for {
	flex-wrap: nowrap;
	padding-bottom: 30px;
	border-bottom: 1px solid $border-base;

	.item {
		vertical-align: middle;

		img {
			position: static;
			width: 664px;
			height: 449px;
			margin: 0 auto;
			vertical-align: top;
		}
	}

	&:not(.slick-slider) {
		display: flex;
		overflow: hidden;

		.item {
			flex: 0 0 auto;
			width: 100%;
			text-align: center;
		}
	}

	@include media-breakpoint-down(md) {
		padding-bottom: 20px;
	}

	@include media-breakpoint-down(sm) {
		.item {
			position: relative;
			width: 100%;
			padding-top: 67.62048%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				max-width: none;
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
	}
}

.box_gallery {
	margin-top: 30px;
	padding: 19px 83px;
	background-color: $bg-gray;

	@include media-breakpoint-down(md) {
		margin-top: 20px;
		padding: 15px 35px;
	}
}

.gallery-slider-nav {
	position: relative;

	.item {
		position: relative;
		vertical-align: middle;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: none;
			height: 100%;
			width: 100%;
			border: 1px solid $border-base;
			border-radius: 10px;
			object-fit: cover;
		}
	}

	&.slick-slider {
		.slick-track {
			margin: 0;
		}

		.slick-arrow {
			position: absolute;
			top: 50%;
			flex: 0 0 auto;
			width: 60px;
			height: 60px;
			text-indent: -9999px;
			text-align: left;
			transform: translateY(-50%);
			overflow: hidden;
			background-repeat: no-repeat;
			background-position: 50% 50%;
		}

		.slick-prev {
			left: -73px;
			background-image: url(#{$url-img}/ico_chevron-lg-left-gray.png);
		}

		.slick-next {
			right: -73px;
			background-image: url(#{$url-img}/ico_chevron-lg-right-gray.png);
		}

		.slick-slide {
			cursor: pointer;
		}

		.slick-current {
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border: 2px solid $bg-primary;
				border-radius: 10px;
			}
		}

		.item {
			padding-top: 78.36%;
		}
	}

	&:not(.slick-slider) {
		display: flex;
		margin: -15px;
		overflow: hidden;

		.item {
			position: relative;
			flex: 0 0 auto;
			width: calc(33.33333% - 30px);
			margin: 15px;
			padding-top: 23.23%;

			img {
				position: absolute;
				top: 0;
				left: 0;
				max-width: none;
				height: 100%;
				width: 100%;
				border: 1px solid $border-base;
				border-radius: 10px;
				object-fit: cover;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		&.slick-slider {
			.slick-list {
				margin: -15px;
			}

			.slick-slide {
				margin: 15px;
			}
		}
	}

	@include media-breakpoint-down(md) {
		&.slick-slider {
			.slick-arrow {
				width: 35px;
				height: 35px;
				background-size: auto 25px;
			}

			.slick-prev {
				left: -35px;
			}

			.slick-next {
				right: -35px;
			}

			.slick-list {
				margin: 0 -5px;
			}

			.slick-slide {
				margin: 0 5px;
			}
		}

		&:not(.slick-slider) {
			margin: -10px;

			.item {
				width: calc(33.33333% - 10px);
				margin: 5px;
			}
		}
	}
}

/* 게시판 동영상형 상세 */
.video-content {
	.video-desc {
		padding: 0;
		overflow: hidden;
	}

	.video-desc-inner {
		max-height: 286px;
		padding: 15px 19px;
		font-size: $font-size-sm;
		line-height: 22px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	@include media-breakpoint-up(lg) {
		display: flex;

		.video-area {
			flex: 1 1 50%;
			height: 286px;
		}

		.video-desc {
			flex: 0 0 auto;
			width: 408px;
			margin-left: 30px;
		}
	}

	@include media-breakpoint-down(md) {
		.video-area {
			position: relative;
			padding-top: 56.07843%;

			iframe {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}

		.video-desc {
			margin-top: 20px;
		}
	}
}

/* 게시판 웹진형 목록 */
.webzine-list {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;

	>li {
		width: calc(50% - 30px);
		margin: 15px;
		padding: 19px;
		border: 1px solid $border-base;
		border-radius: 20px;
		background-color: $bg-lightgray;
	}

	.thumb {
		display: block;
		position: relative;
		border: 1px solid $lightgray;

		&:before {
			content: '';
			position: absolute;
			top: calc(50% - 3px);
			left: calc(50% + 4px);
			width: 120px;
			height: 70px;
			transform: translate3d(-50%, -50%, 0);
			background: url(#{$url-img-common}/bg-noimage@2x.png) no-repeat 50% 50%;
			background-size: auto 70px;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			max-width: none;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}

	.info-area {
		.subject {
			display: block;
			line-height: 22px;
			letter-spacing: -.5px;
		}

		.date,
		.part,
		.count {
			display: block;
			line-height: 24px;
		}

		.btn_down {
			padding: 0 10px;
		}
	}

	@include media-breakpoint-up(lg) {
		max-width: 950px;

		>li {
			position: relative;
			height: 320px;
			padding-left: 239px;
		}

		.thumb {
			position: absolute;
			top: 19px;
			left: 19px;
			bottom: 19px;
			width: 200px;
		}

		.info-area {
			position: relative;
			height: 100%;
			padding-top: 8px;

			.date {
				margin-top: 16px;
			}

			.count {
				margin-top: 24px;
			}
		}

		.btn_down {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

	@include media-breakpoint-down(md) {
		margin: -10px;

		>li {
			width: calc(33.33333% - 20px);
			margin: 10px;
		}

		.thumb {
			width: 100%;
			padding-top: 140%;
		}

		.info-area {
			padding-top: 15px;

			.date {
				margin-top: 7px;
			}
		}

		.btn_down {
			margin-top: 10px;
		}
	}

	@include media-breakpoint-down(sm) {
		>li {
			width: calc(100% - 30px);
		}
	}
}

/* 게시판 아코디언형 목록 */
.toggle_list {
	position: relative;
	border-top: 1px solid $gray;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 1px;
		background-color: $border-dark;
	}

	.toggle_title {
		.btn {
			display: flex;
			justify-content: flex-start;
			position: relative;
			width: 100%;
			min-height: 50px;
			padding: 10px 71px 10px 21px;
			border-bottom: 1px solid $border-base;
			white-space: normal;

			.toggle_info {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;
			}

			&:before,
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 20px;
				width: 16px;
				height: 2px;
				margin-top: -1px;
				transition-duration: .3s;
				background-color: $gray;
			}

			&:after {
				transform: rotate(90deg);
			}
		}

		&.on {
			background-color: $bg-lightprimary;

			.btn {

				&:before,
				&:after {
					transform: rotate(180deg);
				}
			}
		}

		.tit {
			display: inline-flex;
			font-weight: 400;
			font-size: $font-size-xl;
		}

		.date {
			flex: 0 0 auto;
			padding-left: 10px;
			font-size: $font-size-sm;
		}
	}

	.toggle_content {
		display: none;
		max-width: 920px;
		border-bottom: 1px solid $border-base;
	}

	@include media-breakpoint-down(md) {
		.toggle_title {
			.btn {
				height: auto;

				.toggle_info {
					flex-direction: column;
					align-items: flex-start;
				}
			}

			.date {
				margin-top: 5px;
				margin-left: 0;
				padding-left: 0;
			}
		}
	}
}

.btn_toggle_all {
	position: relative;

	padding-right: 41px;
	padding-left: 13px;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 18px;
		right: 14px;
		width: 16px;
		height: 2px;
		transition-duration: .2s;
		background-color: $darkprimary;
	}

	&:after {
		transform: rotate(90deg);
	}

	.txt_close {
		display: none;
	}

	&.on {

		&:before,
		&:after {
			transform: rotate(180deg);
		}

		.txt_close {
			display: block;
		}

		.txt_open {
			display: none;
		}
	}
}

.corona-info {
	padding: 22px;
	text-align: center;

	img {
		vertical-align: top;
	}

	@include media-breakpoint-up(lg) {
		img {
			max-width: 578px;
		}
	}
}

/* 게시판 아코디언형 상세 */
.faq-content {
	.btn_toggle_all {
		padding: 0 10px;

		&:before,
		&:after {
			display: none;
		}
	}

	.toggle_title {
		.btn {
			height: auto;
			min-height: 50px;
			padding-right: 58px;

			&:before {
				display: none;
			}

			&:after {
				top: calc(50% - 5px);
				width: 16px;
				height: 10px;
				transform: none;
				background: url(#{$url-img-common}/ico_chevron-lg-down-gray@2x.png) no-repeat 50% 50%;
				background-size: auto 10px;
			}
		}

		&.on {
			background-color: $bg-lightgray;

			+.toggle_content {
				background-color: $bg-lightgray;

			}
		}
	}

	.toggle_content {
		padding: 15px 51px;
	}

	.question,
	.answer {
		display: flex;

		dt {
			display: flex;
			flex: 0 0 auto;
			align-items: center;
			justify-content: center;
			width: 26px;
			height: 26px;
			border-radius: 50%;
			color: $white;
			font-size: $font-size-sm;
		}
	}

	.question {
		dt {
			margin-right: 4px;
			background-color: $darkprimary;
		}
	}

	.answer {
		dt {
			margin-top: 5px;
			margin-right: 9px;
			background-color: $bg-primary;
		}

		dd {
			max-width: calc(100% - 35px);
		}
	}

	@include media-breakpoint-down(md) {
		.toggle_content {
			padding: 15px 21px;
		}
	}
}

/* 강조구문 페이지 */
.consent-collection-area {
	@include media-breakpoint-down(md) {
		max-height: 400px;
		margin: -15px -19px;
		padding: 15px 19px;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}
}