//
// Global variables
//

// 사이트 기본 설정

$mode: desktop !default; // responsive, mobile, tablet;
$site : deposit !default; // 복사 원본 사이트 디렉토리

// COLORS
$white: #fff !default;
$lightgray: #999 !default;
$gray: #555 !default;
$darkgray: #333 !default;
$black: #111 !default;
$red: #D70000 !default;

$default: $black !default;
$primary: #FDC61C !default;
$darkprimary: #C78800 !default;
$secondary: #f77120 !default;
$invalid: $red !default;
$valid: #009973 !default;

$bg-primary: $primary !default;
$bg-darkprimary: $darkprimary !default;
$bg-lightprimary: #FEF5E5 !default;

$bg-gray: #555 !default;
$bg-lightgray: #f6f6f6 !default;

$border-base: #ddd !default;
$border-light: #f2f2f2 !default;
$border-dark: #aaa !default;
$border-active: $primary;

$btn_primary: $primary !default;
$placeholder-color: #959595;
$disabled-color: #c2c2c2;

// END COLORS

$colors: () !default;
$colors: map-merge(("default": $default,
		"white": $white,
		"primary": $primary,
		"darkprimary": $darkprimary,
		"invalid": $invalid,
		"valid": $valid,
		"red": $red,
		"gray": $gray,
		"lightgray": $lightgray,
		"darkgray": $darkgray,
	),
	$colors);

$dark-bg-colors: () !default;
$dark-bg-colors: map-merge(("bg_default": $default,
		"bg_primary": $bg_primary,
		"bg_darkprimary": $bg_darkprimary,
		// "bg_invalid": $invalid,
		// "bg_valid": $valid,
		"bg_gray": $bg-gray,
	),
	$dark-bg-colors);

$light-bg-colors: () !default;
$light-bg-colors: map-merge(("bg_lightgray": $bg-lightgray,
		"bg_lightprimary": $bg-lightprimary,
		"bg_white": #fff,
	),
	$light-bg-colors);

// 글꼴
$letter-spacing: 0 !default;
$letter-spacing-mobile: 0 !default;

$font-family-base: // -apple-system,
// BlinkMacSystemFont,
'SpoqaHanSans',
// "Noto Sans KR",
// "Noto Sans CJK KR",
"NotoSansKR",
"malgun gothic",
Arial,
sans-serif !default;

$font-family-title: $font-family-base !default;
$font-family-mobile: $font-family-base;

// $font-size-xs: 12px !default;
$font-size-sm: 14px !default;
$font-size-base: 16px !default;
$font-size-lg: 20px !default;
$font-size-xl: 26px !default;
$font-size-xxl: 40px !default;

// breakpoints
$grid-breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1025px,
	xl: 1200px,
	xxl: 1600px) !default;

//
// 그리드
// 

$min-width: 360px !default;
$max-width: 1200px !default;

// PC
$spacing: 50px !default;
$topnav-height: 50px !default;
$header-util-height: 88px !default;
$gnb-height: 51px !default;
// $header-height: $topnav-height+$header-util-height+$gnb-height !default;
$header-height: 135px !default;
$header-height-closed: 78px !default;
$breadcrumb-height: 45px !default;
$footer-height: 300px !default;

$spacing-lg: 50px;
$spacing-md: 20px;
$spacing-sm: 10px;

$form-height: 46px;

// Mobile
$mobile-spacing: 15px !default;
$mobile-topnav-height: 35px !default;
$mobile-header-height: 50px !default;
$mobile-breadcrumb-height: 30px !default;
$mobile-footer-height: 195px !default;
// $mobile-allmenu-header: 157px !default;
// $mobile-allmenu-footer: 50px !default;