@mixin text-ellipsis($row:2, $line-height: 20px, $height-fixed: false) {
	@if $row>1 {
		display: -webkit-box;
		-webkit-line-clamp: $row;
		-webkit-box-orient: vertical;
		white-space: normal;
	}

	@else {
		max-width: 100%;
		white-space: nowrap;
	}

	@if $height-fixed {
		height: $row * $line-height;
		max-height: none;
	}

	@else {
		max-height: $row * $line-height;
	}

	line-height: $line-height;
	text-overflow: ellipsis;
	overflow: hidden;
}

@mixin clearfix {
	&:after {
		display: block;
		clear: both;
		content: '';
	}
}

@mixin ir {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
	overflow: hidden;

	// text-indent: -9999px;
	font-size: 1px;
	color: transparent;

	overflow: hidden;
	text-align: left;
}

// 아이콘
@mixin ico($name, $w:21px, $h:21px, $url: #{$url-img-common}) {
	.ico_#{$name} {
		@include ir;
		width: $w;
		height: $h;
		line-height: $h;
		background-image: url('#{$url}/ico_#{$name}.png');
		background-size: cover;
	}
}

// @mixin ico_lg($name) {
// 	.ico_#{$name} {
// 		width: 60px;
// 		height: 60px;
// 		line-height: 60px;
// 		background-image: url('#{$url}/ico_lg-#{$name}.png');
// 	}

// 	@if ($mode=='responsive') {
// 		@include media-breakpoint-up(lg) {
// 			.ico_#{$name} {
// 				width: 60px;
// 				height: 60px;
// 				line-height: 60px;
// 				background-image: url('#{$url}/ico_lg-#{$name}.png');
// 			}
// 		}

// 		@include media-breakpoint-down(md) {
// 			.ico_#{$name} {
// 				width: 40px;
// 				height: 40px;
// 				line-height: 40px;
// 				background-image: url('#{$url}/ico_lg-#{$name}@2x.png');
// 			}
// 		}
// 	}
// }

// // PC 모바일 겸용 아이콘 : 이미지 2배수 저장 @2x
// @mixin ico2x($name, $w:25px, $h:25px, $url: #{$url-img-common}) {
// 	.ico_#{$name} {
// 		width: $w;
// 		height: $h;
// 		line-height: $h;
// 		background-image: url('#{$url}/ico_#{$name}@2x.png');
// 	}
// }

// // PC 모바일 이미지 별도 저장시 : 모바일 이미지만 @2x
// @mixin ico2($name, $w:21px, $h:21px, $w-m:$w, $h-m:$h, $url: #{$url-img-common}) {
// 	@include media-breakpoint-up(lg) {
// 		.ico_#{$name} {
// 			width: $w;
// 			height: $h;
// 			line-height: $h;
// 			background-image: url('#{$url}/ico_#{$name}.png');
// 		}
// 	}

// 	@include media-breakpoint-down(md) {
// 		.ico_#{$name} {
// 			width: $w-m;
// 			height: $h-m;
// 			line-height: $h-m;
// 			background-image: url('#{$url}/ico_#{$name}@2x.png');
// 		}
// 	}
// }

@mixin container {
	padding-left: $spacing;
	padding-right: $spacing;
}

@mixin label-focus($border-radius: false) {
	&:focus {
		+label {
			outline: 1px dotted #000;

			@if ($border-radius) {
				border-radius: $border-radius;
			}
		}
	}

	// IE 처리
	&:not(:focus-visible) {
		+label {
			outline: 0;
		}
	}
}