@charset "utf-8";

// 
// 콘텐츠 스타일 정의
//

// variables
@import "variables";

// funtions
@import "breakpoints";
@import "mixins";

// contents
// [필독] SCSS 작업방법 안내
// 1. IA에 정의된 메뉴별(기획문서 구분 기준)로 path명과 맞춰 scss 파일 추가 후 사용
//    예) _대메뉴.scss 파일 추가
// 2. 반응형 사이트인 경우 breakpoint mixin 사용 필수 : 사용법 _guidePages.scss 참고
// 3. 색상값 등 변수 사용 필수 : _variables.scss 참고

@import "pages/homePages"; // 메인 
@import "pages/insurancePages"; // 스마트 보험 
@import "pages/loginPages"; // 로그인 안내 페에지 
@import "pages/loanrepaymentPages"; // 대출상환 페이지
@import "pages/servicecenterPages"; // 고객센터 페이지
@import "pages/customerservicePages"; // 고객센터_고객지원 
@import "pages/customerservicefaqPages"; // 고객센터_자주하는질문 