@charset "utf-8";

// 
// PC웹 레이아웃
// 

// variables
@import "variables";

// funtions
@import "breakpoints";
@import "mixins";

// layout
@import "layout/base";
@import "layout/header";
@import "layout/allmenu"; // 헤더 내 전체검색
@import "layout/globalSearch"; // 헤더 내 통합검색
@import "layout/quickmenu";
@import "layout/breadcrumb";
@import "layout/content";
@import "layout/footer";