@charset "UTF-8";
/* 메인 */
<<<<<<< HEAD
.ico_check_on {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -9999px;
  overflow: hidden;
  text-align: left;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-image: url("/resources/img/common/ico_check_on.png");
  background-size: cover;
}

=======
>>>>>>> 54bf816cc55450689fa898f8ce30e867db8dd909
.btn.btn_full {
  width: 100% !important;
}

.list.spacing_mt_5 > li:not(:first-child) {
  margin-top: 25px;
}

.list.list_reference > li {
  padding-left: 16px;
  position: relative;
}

.list.list_reference > li::before {
  content: "※";
  position: absolute;
  left: 0;
  top: 0;
}

.list.list_status > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list.list_status > li > span {
  line-height: 2;
}

.list.list_status > li .cate {
  text-align: left;
  margin-right: auto;
  color: #555;
}

.list.list_status > li .val {
  text-align: right;
  margin-left: auto;
}

h3.tit2.score_tit {
  float: left;
  width: calc(100% - 65px);
}

.box {
  position: relative;
}

.box .score_mark {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  margin-left: 20px;
  padding: 13px;
  border-radius: 100%;
  background-color: #FDC61C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1;
  font-size: 12px;
}

.box .score_mark strong {
  height: 18px;
  font-size: 20px;
  font-weight: bold;
}

.box .score_mark + *:after {
  display: block;
  clear: both;
  content: '';
}

.box_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.box_item > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  border-radius: 14px;
  background-color: #f2f2f2;
  position: relative;
  background-position-x: center;
  background-repeat: no-repeat;
}

.box_item > li > span {
  width: 100%;
  height: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 500;
}

.box_item > li.on {
  background-color: #fff;
  border-color: #FDC61C;
}

.box_item.item_col_3 > li {
  width: calc(100% / 3 - 20px / 3);
  padding-top: calc(100% / 3 - 20px / 3 - 39px);
}

.box_item.item_col_3 > li:nth-child(n+4) {
  margin-top: calc(20px / 3);
}

.flex_eq > * {
  -ms-flex-preferred-size: 50% !important;
      flex-basis: 50% !important;
}

.security_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.security_level > span {
  width: 100%;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  position: relative;
}

.security_level > span::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  top: 20px;
}

.security_level > span.current::after {
  content: "";
  width: 25px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.security_level > span:not(:first-child) {
  margin-left: 1px;
}

.security_level > span:first-child::before {
  border-radius: 2px 0 0 2px;
  background-color: #009973;
}

.security_level > span:first-child::after {
  background-image: url("/resources/img/common/ico_round_marker_valid.png");
}

.security_level > span:nth-child(2)::before {
  background-color: #0069e1;
}

.security_level > span:nth-child(2)::after {
  background-image: url("/resources/img/common/ico_round_marker_blue.png");
}

.security_level > span:last-child::before {
  border-radius: 0 2px 2px 0;
  background-color: #ff883a;
}

.security_level > span:last-child::after {
  background-image: url("/resources/img/common/ico_round_marker_secondary.png");
}

.security_score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.security_score > span {
  width: 100%;
  font-size: 16px;
}

.security_score > span > em {
  font-style: normal;
  font-size: 18px;
}

<<<<<<< HEAD
.security_service > li {
  background-position-y: calc(50% - 11px);
}

.security_service > li:nth-child(1) {
  background-image: url(/resources/img/content/bg_security_serv01.png);
  background-size: 55px 49px;
}

.security_service > li:nth-child(1).on {
  background-image: url(/resources/img/content/bg_security_serv01_on.png);
}

.security_service > li:nth-child(2) {
  background-image: url(/resources/img/content/bg_security_serv02.png);
  background-size: 49px 37px;
}

.security_service > li:nth-child(2).on {
  background-image: url(/resources/img/content/bg_security_serv02_on.png);
}

.security_service > li:nth-child(3) {
  background-image: url(/resources/img/content/bg_security_serv03.png);
  background-size: 43px 44px;
}

.security_service > li:nth-child(3).on {
  background-image: url(/resources/img/content/bg_security_serv03_on.png);
}

.security_service > li:nth-child(4) {
  background-image: url(/resources/img/content/bg_security_serv04.png);
  background-size: 56px 43px;
}

.security_service > li:nth-child(4).on {
  background-image: url(/resources/img/content/bg_security_serv04_on.png);
}

.security_service > li:nth-child(5) {
  background-image: url(/resources/img/content/bg_security_serv05.png);
  background-size: 51px 39px;
}

.security_service > li:nth-child(5).on {
  background-image: url(/resources/img/content/bg_security_serv05_on.png);
}

.security_service > li:nth-child(6) {
  background-image: url(/resources/img/content/bg_security_serv06.png);
  background-size: 55px 55px;
}

.security_service > li:nth-child(6).on {
  background-image: url(/resources/img/content/bg_security_serv06_on.png);
}

=======
>>>>>>> 54bf816cc55450689fa898f8ce30e867db8dd909
.easy_certi_top {
  padding-top: 141px;
  background-repeat: no-repeat;
  background-size: 120px;
  background-position: 50% 0;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.easy_certi_top.bg01 {
  background-image: url(/resources/img/content/bg_easy_certi01.png);
}

.easy_certi_top.bg02 {
  background-image: url(/resources/img/content/bg_easy_certi02.png);
}

.section {
  margin-top: 50px;
}

.txt20 {
  font-size: 20px;
}

.pass_certi_list {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.pass_certi_list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 19px 0 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 78px;
  background-repeat: no-repeat;
  background-position: 19px 50%;
}

.pass_certi_list > li:not(:first-child) {
  border-top: 1px solid #ddd;
}

.pass_certi_list > li.bg01 {
  background-size: 27px;
  background-image: url(/resources/img/content/ico_pass01.png);
}

.pass_certi_list > li.bg01.on {
  background-image: url(/resources/img/content/ico_pass01_on.png);
}

.pass_certi_list > li.bg02 {
  background-size: 28px;
  background-image: url(/resources/img/content/ico_pass02.png);
}

.pass_certi_list > li.bg02.on {
  background-image: url(/resources/img/content/ico_pass02_on.png);
}

.pass_certi_list > li.bg03 {
  background-position: 22px 50%;
  background-size: 22px;
  background-image: url(/resources/img/content/ico_pass03.png);
}

.pass_certi_list > li.bg03.on {
  background-image: url(/resources/img/content/ico_pass03_on.png);
}

.pass_certi_list > li.bg04 {
  background-size: 28px;
  background-image: url(/resources/img/content/ico_pass04.png);
}

.pass_certi_list > li.bg04.on {
  background-image: url(/resources/img/content/ico_pass04_on.png);
}

.pass_certi_list > li.bg05 {
  background-size: 27px;
  background-image: url(/resources/img/content/ico_pass05.png);
}

.pass_certi_list > li.bg05.on {
  background-image: url(/resources/img/content/ico_pass05_on.png);
}

.pass_certi_list > li.bg06 {
  background-size: 28px;
  background-image: url(/resources/img/content/ico_pass06.png);
}

.pass_certi_list > li.bg06.on {
  background-image: url(/resources/img/content/ico_pass06_on.png);
}

.pass_certi_list > li.disabled .l {
  color: #999;
}

.pass_certi_list > li.disabled .r .btn {
  background: #ddd;
}

.pass_certi_list > li .l {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 18px;
  font-weight: 400;
}

.add_certi_box .add_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.add_certi_box .box {
  font-weight: 500;
  text-align: center;
}

.add_certi_box .box:before {
  content: '';
  display: inline-block;
  width: 18px;
  height: 12px;
  background: url(/resources/img/content/ico_check.png) 0 0 no-repeat;
  background-size: 18px;
  margin-right: 1px;
}
