@charset "UTF-8";
/* 메인 */
/* 스마트 보험 */
.section {
  margin-top: 45px;
}

.over_tab.tab_menu {
  margin: 0 -20px 15px;
}

.over_tab.tab_menu:after, .over_tab.tab_menu:before {
  display: none !important;
}

.bottom_fixed_area .insurance_list .empty {
  text-align: center;
  padding: 40px 0;
  font-size: 13px;
  line-height: 15px;
  color: #555;
}

.bottom_fixed_area .insurance_list ul {
  padding: 20px;
}

.bottom_fixed_area .insurance_list ul li {
  font-size: 0;
  padding: 7px 0px;
}

.bottom_fixed_area .insurance_list ul li span {
  float: left;
  width: calc(100% - 150px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
}

.bottom_fixed_area .insurance_list ul li strong {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  padding: 0 3px 0 7px;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.bottom_fixed_area .insurance_list ul li button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.bottom_fixed_area .total_payment a {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: block;
  padding: 14px 20px;
  background: #f2f2f2;
}

.bottom_fixed_area .total_payment a:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #555;
  border-width: 2px 2px 0 0;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bottom_fixed_area .total_payment a em {
  margin-left: 10px;
  color: #ce4900;
  font-weight: bold;
  font-style: normal;
}

.bottom_fixed_area .total_payment a.active:before {
  margin-top: -10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.complete_txt {
  text-align: center;
  padding: 20px 0 30px;
}

.complete_txt strong {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.complete_txt strong span {
  font-size: 22px;
  font-weight: 400;
}

.complete_txt p {
  font-size: 13px;
  line-height: 20px;
  color: #555;
  margin-top: 5px;
}

.contract_list {
  padding: 10px 0 20px;
}

.contract_list > ul > li {
  margin-top: 20px;
  position: relative;
}

.contract_list > ul > li > a {
  display: block;
}

.contract_list > ul > li:first-child {
  margin-top: 0;
}

.contract_list > ul > li .list_name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  font-weight: 500;
}

.contract_list > ul > li .evidence_contract {
  font-size: 0;
  padding-top: 7px;
  display: table;
  width: 100%;
}

.contract_list > ul > li .evidence_contract .blit {
  display: table-cell;
  vertical-align: middle;
  font-style: normal;
  width: 1%;
  padding-right: 10px;
}

.contract_list > ul > li .evidence_contract .blit .lab_status {
  color: #fff;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type1 {
  background: #0070c0;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type2 {
  background: #317c13;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type3 {
  background: #304d62;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type4 {
  background: #953735;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type5 {
  background: #28788e;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type6 {
  background: #6d6d6d;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type7 {
  background: #FF883A;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type8 {
  background: #8e7009;
}

.contract_list > ul > li .evidence_contract .info {
  padding: 4px 0;
  display: table-cell;
  vertical-align: middle;
}

.contract_list > ul > li .evidence_contract .info > span {
  display: block;
  margin-top: 3px;
}

.contract_list > ul > li .evidence_contract .info > span:first-child {
  margin-top: 0;
}

.contract_list > ul > li .evidence_contract .info > span strong {
  color: #666;
  min-width: 55px;
  padding-right: 15px;
  font-size: 11px;
  font-weight: 200;
  line-height: 13px;
}

.contract_list > ul > li .evidence_contract .info > span span {
  font-size: 11px;
  line-height: 13px;
}

.contract_list > ul > li .in_detail {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
}

.contract_list > ul > li .in_detail:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  position: absolute;
  left: -19px;
  top: 0;
  right: -19px;
}

.contract_list > ul > li .in_detail span {
  display: block;
  overflow: hidden;
  margin-top: 4px;
}

.contract_list > ul > li .in_detail span:first-child {
  margin-top: 0;
}

.contract_list > ul > li .in_detail span em {
  float: left;
  font-style: normal;
  font-size: 12px;
  color: #666;
  font-weight: 200;
}

.contract_list > ul > li .in_detail span strong {
  float: right;
  font-size: 12px;
  color: #111;
  font-weight: 500;
}

.contract_list > ul > li .tf_item {
  margin-top: 15px;
}

.contract_list .total_price {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  padding: 15px 0;
}

.contract_list .total_price.round_color {
  background: #fef0e7;
  border-radius: 8px;
  padding-right: 15px;
  margin-top: 15px;
}

.contract_list .total_price strong {
  color: #ce4900;
}

.btn_group.length2 {
  font-size: 0;
  margin-top: 15px;
}

.btn_group.length2 a {
  width: calc(50% - 5px);
  margin-left: 4px;
}

.btn_group.length2 a:first-child {
  margin-left: 0;
}

.payment_way .tab {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.payment_way .tab li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.payment_way .tab li:first-child {
  margin-left: 0;
}

.payment_way .tab li a {
  height: 35px;
  line-height: 33px;
  display: block;
  color: #555;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.payment_way .tab li.on {
  border-color: #FF883A;
}

.payment_way .tab li.on a {
  color: #111;
}

.add_certification .tab {
  overflow: hidden;
  margin-bottom: 15px;
}

.add_certification .tab li {
  margin-left: 10px;
  background: #FF883A;
  float: left;
  width: calc(50% - 5px);
  text-align: center;
  border-radius: 10px;
}

.add_certification .tab li:nth-child(1) {
  margin-left: 0;
}

.add_certification .tab li a {
  display: block;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
}

.add_certification .tab li a:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  position: relative;
  top: 3px;
  margin-right: 7px;
  background: url(/resources/img/content/ico_certification1.png) 0 0 no-repeat;
  background-size: 100% 100% !important;
}

.add_certification .tab li:nth-child(2) a:before {
  background: url(/resources/img/content/ico_certification2.png) 0 0 no-repeat;
}

.add_certification .list {
  padding-bottom: 80px;
}

.ico.right_center {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
}
