@charset "UTF-8";
/* 메인 */
.header_main {
  height: 80px;
  border-bottom: 0;
  background-color: transparent;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
}

.scrolled .header_main {
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.sec_home {
  padding-top: 80px;
  background-color: #fffbef;
}
