.cont_join .btn_primary {
  background-color: #131e32;
  color: #fff;
}

.cont_product .btn_outline_default {
  border-color: #e0e0e0;
}

.cont_product .txt_primary {
  color: #e12547 !important;
}

.cont_product .btn_primary {
  background-color: #e12547;
  color: #fff;
}

.calc_area {
  background-color: #49464d;
  color: #fff;
  padding: 22px 28px 22px 37px;
}

.calc_container:after {
  display: block;
  clear: both;
  content: '';
}

.calc_container .tit_calc {
  float: left;
  font-size: 25px;
  color: #bab9ba;
  font-weight: 200;
}

.calc_container .form_controls {
  float: right;
}

.product_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product_header .info_area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60%;
  font-size: 18px;
}

.product_header .price_area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.apply_header {
  padding: 50px 50px 0;
}

.apply_header .tit_cont_apply {
  text-align: center;
  font-size: 34px;
  line-height: 1;
}

.apply_sec {
  padding: 30px 50px 40px;
}

.apply_sec + .apply_sec {
  border-top: 15px solid #f7f7f7;
}
