@charset "UTF-8";
/* 메인 */
.btn.btn_full {
  width: 100%;
}

.box {
  position: relative;
}

.box .score_mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  padding: 13px;
  border-radius: 100%;
  background-color: #FDC61C;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  line-height: 1;
  font-size: 12px;
  position: absolute;
  right: 19px;
  top: 20px;
}

.box .score_mark strong {
  font-size: 20px;
  font-weight: bold;
}

.box_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.box_item > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  border-style: solid;
  border-width: 2px;
  border-color: #f2f2f2;
  border-radius: 14px;
  background-color: #f2f2f2;
  position: relative;
}

.box_item > li > span {
  width: 100%;
  height: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 14px;
  font-weight: 500;
}

.box_item > li.active {
  background-color: #fff;
  border-color: #FDC61C;
}

.box_item > li::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

.box_item.item_col_3 > li {
  width: calc(100% / 3 - 20px / 3);
  padding-top: calc(100% / 3 - 20px / 3 - 39px);
}

.box_item.item_col_3 > li:nth-child(n+4) {
  margin-top: calc(20px / 3);
}

.security_level {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.security_level > span {
  width: 100%;
  padding-top: 30px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  position: relative;
}

.security_level > span::before {
  content: "";
  width: 100%;
  height: 6px;
  position: absolute;
  left: 0;
  top: 20px;
}

.security_level > span.current::after {
  content: "";
  width: 25px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.security_level > span:not(:first-child) {
  margin-left: 1px;
}

.security_level > span:first-child::before {
  border-radius: 2px 0 0 2px;
  background-color: #009973;
}

.security_level > span:first-child::after {
  background-image: url("/resources/img/common/ico_round_marker_valid.png");
}

.security_level > span:nth-child(2)::before {
  background-color: #0069e1;
}

.security_level > span:nth-child(2)::after {
  background-image: url("/resources/img/common/ico_round_marker_blue.png");
}

.security_level > span:last-child::before {
  border-radius: 0 2px 2px 0;
  background-color: #ff883a;
}

.security_level > span:last-child::after {
  background-image: url("/resources/img/common/ico_round_marker_secondary.png");
}

.security_score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.security_score > span {
  width: 100%;
  font-size: 16px;
}

.security_score > span > em {
  font-style: normal;
  font-size: 18px;
}
