@charset "UTF-8";
.cont_join .btn_primary {
  background-color: #131e32;
  color: #fff;
}

.cont_join .txt_blue {
  color: #0d63ce;
}

.cont_join .txt_default {
  color: #333;
}

.cont_join .s_tit1 {
  font-size: 23px;
  color: #333;
  font-weight: 500;
}

.box_join {
  padding: 50px 0 45px;
  border: 1px solid #e3e3e3;
}

.box_join ol,
.box_join ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_join .join_item {
  display: inline-block;
  width: 33%;
  vertical-align: top;
}

.box_join .join_item dt {
  position: relative;
  display: block;
  padding-top: 71px;
  color: #0d63ce;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.box_join .join_item dt:after {
  content: '';
  position: absolute;
  top: 0;
  left: calc(50% - 24px);
  width: 48px;
  height: 57px;
  background-image: url(/resources/img/content/ico_login_certification01.png);
  background-size: 48px 57px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.box_join .join_item dd {
  color: #333;
  font-weight: 500;
  text-align: center;
  line-height: 18px;
}

.box_join .join_item dd small {
  display: block;
  font-weight: 200;
}

.box_join .join_item:nth-child(2) dt:after {
  left: calc(50% - 35px);
  width: 65px;
  height: 58px;
  background-image: url(/resources/img/content/ico_login_certification04.png);
  background-size: 65px 58px;
  background-position: 0 0;
}

.box_join .join_item:nth-child(3) dt:after {
  left: calc(50% - 30px);
  width: 60px;
  height: 57px;
  background-image: url(/resources/img/content/ico_login_certification05.png);
  background-size: 60px 57px;
  background-position: 0 0;
}

.box_join .join_item .tooltip.tooltip_md {
  display: none;
}

.box_join .tooltip_box {
  position: relative;
  display: inline-block;
}

.step_list > li {
  width: calc(100% / 5);
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.step_list > li span {
  margin-top: 10px;
}

.step_list > li:last-child:after {
  display: none;
}

.step_list > li:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: calc(50% - 6px);
  width: 7px;
  height: 12px;
  background: url(/resources/img/common/ico_arr_right_sm.png) right center no-repeat;
  background-size: 7px 12px;
}

.ref_note li {
  position: relative;
  font-size: 16px;
  padding-left: 20px;
}

.ref_note li:before {
  position: absolute;
  top: 0;
  left: 0%;
  display: inline-block;
  content: '※';
}

.inline-block > * {
  display: inline-block;
}

.inline-block .block {
  display: block;
}

/* 보험료 추천 */
.box_inner {
  height: 520px;
  overflow-y: auto;
}

.product_list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 30px 15px;
  border-bottom: 4px solid #f7f7f7;
}

.product_list > li:last-child {
  border-bottom: none;
}

.product_list .product_info {
  width: calc(100% - 300px);
}

.product_list .product_info:after {
  content: '';
  clear: both;
  display: inline-block;
}

.product_list .product_info .left {
  float: left;
  width: 60%;
}

.product_list .product_info .right {
  float: right;
  text-align: right;
  font-size: 16px;
}

.product_list .product_info .block_line {
  display: block;
}

.product_list .product_info .block_line span {
  position: relative;
  padding: 0 14px 0 10px;
}

.product_list .product_info .block_line span em {
  font-style: normal;
  font-weight: 400;
}

.product_list .product_info .block_line span:after {
  content: '';
  position: absolute;
  top: calc(50% - 6px);
  right: 0;
  width: 1px;
  height: 12px;
  background-color: #ddd;
}

.product_list .product_info .block_line span:last-child {
  padding-right: 0;
}

.product_list .product_info .block_line span:last-child:after {
  display: none;
}

.product_list .product_info .product_tit {
  display: inline-block;
  font-size: 24px;
}

.product_list .product_info .product_tit .ico_new_red {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 23px;
  margin-top: -5px;
  margin-left: 15px;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-weight: 500;
  font-size: 11px;
  background-color: #d70000;
  vertical-align: middle;
}

.product_list .product_info .product_tit .ico_new_red:before {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: -2px;
  width: 3px;
  height: 3px;
  border-left: 4px solid #d70000;
  border-bottom: 4px solid #d70000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.product_list .product_info .tag_group {
  display: block;
}

.product_list .product_info .tag_group span {
  font-size: 16px;
  margin: 0 5px;
  font-weight: 200;
  color: #0d63ce;
}

.product_list .product_info .tag_group span:first-child {
  margin-left: 5px;
  padding-left: 0;
}

.product_list .product_info .tag_group span:before {
  content: '# ';
  display: inline-block;
}

.product_list .product_info .btn_round {
  height: 30px;
  border-radius: 15px;
  border: 1px solid #dfdfdf;
  font-weight: 200;
  letter-spacing: -5;
}

.product_list .product_info .price {
  display: inline-block;
  padding-left: 6px;
  font-size: 20px;
  vertical-align: middle;
}

.product_list .product_info .price strong {
  padding-left: 10px;
  font-size: 30px;
  line-height: 37px;
  color: #e12547;
}

.product_btn_group {
  width: 300px;
  padding-left: 20px;
}

.product_btn_group:after {
  content: '';
  display: block;
  clear: both;
}

.product_btn_group a {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc((100% - 10px) / 3);
  padding: 11px 30px 0;
}

.product_btn_group a span {
  display: block;
  margin-top: 3px;
}

.product_btn_group a:hover {
  color: #ce4900;
}

.product_btn_group a:after {
  content: '';
  position: absolute;
  top: 20px;
  right: 0;
  width: 1px;
  height: 32px;
  background: #e4e4e4;
}

.product_btn_group a:last-child::after {
  display: none;
}

.direct_tit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.direct_tit .s_tit2 {
  display: inline-block;
  font-size: 26px;
  color: #000;
  font-weight: 400;
}

.direct_tit span em {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 5px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
  text-align: center;
  font-style: normal;
  border: 0;
  border-radius: 11px;
  background-color: #555;
}

.direct_area .direct_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.direct_area .direct_list li {
  position: relative;
  width: calc(33.333% - 20px);
  margin: 0 10px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 25px;
  -webkit-box-shadow: 3.374px 14.616px 40px 0px rgba(0, 0, 0, 0.06);
          box-shadow: 3.374px 14.616px 40px 0px rgba(0, 0, 0, 0.06);
}

.direct_area .direct_list li strong {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-height: 25px;
  height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.direct_area .direct_list li:hover:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 79px;
  height: 79px;
  background-image: url("/resources/img/content/img_direct_hover.png");
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 10;
}

.direct_area .direct_list .btn_block {
  display: block;
  text-align: right;
  font-weight: 200;
  padding-right: 15px;
  background-image: url(/resources/img/common/ico_arr_right_sm.png);
  background-size: 7px 12px;
  background-position: right 10px;
  background-repeat: no-repeat;
}

.box_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px;
}

.box_product > dl {
  position: relative;
  padding-left: 98px;
  background-image: url(/resources/img/content/ico_product_item01.png);
  background-repeat: no-repeat;
  background-position: 28px center;
  background-size: 41px 39px;
  width: calc(100% / 4);
}

.box_product > dl:after {
  position: absolute;
  content: '';
  top: calc(50% - 23px);
  right: 0;
  width: 1px;
  height: 46px;
  background-color: #ebebeb;
}

.box_product > dl dt {
  font-weight: 200;
  color: #7a7a7a;
}

.box_product > dl:nth-child(2) {
  background-image: url(/resources/img/content/ico_product_item02.png);
  background-size: 47px 41px;
}

.box_product > dl:nth-child(3) {
  background-image: url(/resources/img/content/ico_product_item03.png);
  background-size: 48px 43px;
}

.box_product > dl:nth-child(4) {
  background-image: url(/resources/img/content/ico_product_item04.png);
  background-size: 45px 43px;
}

.box_product > dl:nth-child(4):after {
  display: none;
}

.box_product_cont .tab_menu_type1 ul li a {
  height: 80px;
  font-size: 19px;
  line-height: 80px;
  color: #6e6e6e;
  background: #fff;
  border-bottom: 4px solid #333;
}

.box_product_cont .tab_menu_type1 ul li a:after {
  background-color: #e5e5e5;
}

.box_product_cont .tab_menu_type1 ul li:first-child a {
  border-radius: 6px 0 0 0px;
}

.box_product_cont .tab_menu_type1 ul li:last-child a {
  border-radius: 0 6px 0 0;
}

.box_product_cont .tab_menu_type1 ul li:last-child a.current {
  background: #333;
  color: #fff;
}

.box_product_cont .tab_menu_type1 ul li:last-child:hover a {
  background: #333;
  color: #fff;
}

.box_product_cont .tab_cont {
  display: none;
  min-height: 753px;
}

.box_product_cont .tab_cont .tab_inner {
  padding: 50px;
}

.box_product_cont .tab_cont .tab_inner .infographic_area {
  text-align: center;
}

.selectbox_product_type3 dt {
  font-weight: 400 !important;
}

.selectbox_product_type3 dt a {
  border: 0;
  font-size: 22px;
  background-color: transparent;
}

.selectbox_product_type3 dt a span {
  margin-left: 0 !important;
  font-size: 22px;
}

.selectbox_product_type3 dt a span:before {
  content: '';
  position: absolute;
  right: 4px;
  top: calc(50% - 10px);
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 1px solid #9d9d9d;
  background-color: #fff;
}

.selectbox_product_type3 dt a span:after {
  top: calc(50% - 3px);
  right: 12px;
  width: 5px;
  height: 5px;
  background-image: none;
  border-right: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.selectbox_product_type3 dd {
  border-radius: 5px;
}

.selectbox_product_type3 dd ul {
  border-radius: 6px;
  border-top-color: #000;
}

.selectbox_product_type3.active dt a {
  border: 0;
}

.selectbox_product_type4 dt {
  font-weight: 400 !important;
}

.selectbox_product_type4 dt a {
  border: 0;
  font-size: 20px;
  background-color: transparent;
}

.selectbox_product_type4 dt a span {
  margin-right: 20px;
  margin-left: 0 !important;
  font-size: 20px;
}

.selectbox_product_type4 dt a span:after {
  top: calc(50% - 3px);
  right: 12px;
  width: 5px;
  height: 5px;
  background-image: none;
  border-right: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.selectbox_product_type4 dd {
  border-radius: 5px;
}

.selectbox_product_type4 dd ul {
  border-radius: 6px;
  border-top-color: #000;
}

.selectbox_product_type4.active dt a {
  border: 0;
}

.selectbox_product_type4.txt_blue dt a span {
  color: #116cdd;
}

/* 본인인증 */
.box_login {
  margin: 0 89px 0 52px;
  padding: 50px;
}

.box_login dl {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.box_login dl dt,
.box_login dl dd {
  display: table-cell;
  font-size: 18px;
}

.box_login dl dt {
  width: 136px;
  font-weight: 400;
}

.box_login dl dd {
  width: calc(100% - 140px);
}

.box_login .inp_item {
  padding: 15px 20px;
  height: 54px;
  color: #666;
  font-size: 18px;
  border: 0;
}

.box_login .form_control span {
  display: inline-block;
  margin-left: 30px;
  width: 164px;
}

.box_login .form_control span + span {
  position: relative;
  margin-left: 30px;
}

.box_login .form_control span + span:before {
  content: '';
  position: absolute;
  top: 25px;
  left: -18px;
  width: 4px;
  height: 1px;
  background-color: #b6b6b6;
}

/* 체크박스, 라디오버튼 */
.form_controls:after {
  content: '';
  display: block;
  clear: both;
}

.form_controls .check_item.button {
  float: left;
  width: 118px;
  margin: 0;
  background-color: #f6f6f6;
  text-align: center;
  height: 46px;
}

.form_controls .check_item.button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 43px;
  background-color: #ebecf0;
}

.form_controls .check_item.button input[type=radio] + label {
  padding-left: 0;
  background: none;
}

.form_controls .check_item.button input + label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  line-height: 1.2;
}

.form_controls .check_item.button input + label small {
  display: block;
  font-size: 14px;
  font-weight: 200;
}

.form_controls .check_item.button input:checked + label {
  content: '';
  position: absolute;
  top: -2px;
  right: 0;
  width: 100%;
  height: 50px;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  background-color: #2e71e8;
  border-radius: 8px;
  -webkit-box-shadow: 5px 0 21px rgba(0, 0, 0, 0.29);
          box-shadow: 5px 0 21px rgba(0, 0, 0, 0.29);
}

.form_controls .check_item.button:last-child::after {
  display: none;
}

.form_controls.select {
  position: relative;
}

.form_controls.select .check_item_box {
  display: block;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fff;
}

.form_controls.select .check_item_box:after {
  content: '';
  display: block;
  position: absolute;
  top: 20px;
  right: 15px;
  width: 13px;
  height: 7px;
  background-image: url(/resources/img/common/ico_arr_down_sm.png);
  background-position: 0 0;
  background-repeat: no-repeat;
}

.form_controls.select .check_item_box .check_item {
  width: 100%;
  height: 44px;
  line-height: 44px;
  border-radius: 5px;
}

.form_controls.select .check_item_box .check_item input + label {
  height: 44px;
}

.form_controls.select .check_item_box .check_item input:checked + label {
  background-color: #fff;
  border-radius: 5px;
}

.form_controls.select ul {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  min-height: 202px;
  overflow-y: auto;
  z-index: 1;
  border: 1px solid #333;
  border-top: 1px solid #eee;
  border-radius: 0 0 6px 6px;
}

.form_controls.select ul li:last-child .check_item {
  border-radius: 0 0 5px 5px;
}

.form_controls.select .check_item {
  width: 100%;
  height: 50px;
  float: none;
  background-color: #fff;
}

.form_controls.select .check_item input + label {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 27px 0 15px !important;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-align: left;
}

.form_controls.select .check_item input + label small {
  display: inline;
}

.form_controls.select .check_item input:checked + label {
  top: 0;
  padding: 0 27px 0 15px;
  background-color: #f3f3f3;
  color: #333;
  font-size: 16px;
  font-weight: 200;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form_controls.select.active .check_item_box {
  border: 1px solid #000;
}

.check_item.red.circle input[type=radio]:checked + label {
  background-image: url(/resources/img/common/ico_radio_checked2.png);
}

.check_item.red.circle > input[type=checkbox]:checked + label {
  background-image: url(/resources/img/common/ico_check_red.png);
}

.inp_item {
  width: 100%;
  padding: 15px 20px;
  height: 46px;
  color: #666;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login_area .btn_login_crt {
  position: relative;
  display: inline-block;
  width: 130px;
  padding-top: 150px;
  text-align: center;
}

.login_area .btn_login_crt:before {
  content: '';
  position: absolute;
  top: 40px;
  left: calc(50% - 24px);
  width: 48px;
  height: 57px;
  background-image: url(/resources/img/content/ico_login_certification01.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 48px 57px;
}

.login_area .btn_login_crt span {
  padding-top: 153px;
  padding-left: 0;
  background: none;
}

.login_area .btn_login_crt span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  height: 130px;
  border-radius: 115px;
  border: 1px solid #e3e3e3;
}

.login_area .btn_login_crt:hover:after {
  content: '';
  position: absolute;
  top: -12px;
  left: calc(50% - 16px);
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-image: url(/resources/img/content/ico_login_certichek.png);
}

.login_area .btn_login_crt:nth-child(2):before {
  left: calc(50% - 22px);
  width: 44px;
  height: 54px;
  background-image: url(/resources/img/content/ico_login_certification02.png);
  background-size: 44px 54px;
}

.login_area .btn_login_crt:nth-child(3):before {
  left: calc(50% - 31px);
  width: 62px;
  height: 46px;
  background-image: url(/resources/img/content/ico_login_certification03.png);
  background-size: 62px 46px;
}

/* 보험료 계산 */
.header_price {
  display: block;
  height: 180px;
  padding-top: 30px;
  margin: 0 50px 60px;
  text-align: right;
  border-bottom: 1px solid #bbb;
}

.header_price .price_tit {
  font-size: 40px;
  display: inline-block;
  font-weight: 200;
}

.header_price .price {
  font-size: 35px;
}

.header_price .price strong {
  font-size: 40px;
}

.header_price p {
  font-size: 14px;
  line-height: 22px;
  color: #727272;
}

.table_product table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table_product th {
  padding-left: 30px;
  height: 72px;
  text-align: left;
  font-weight: 400;
  background: url(/resources/img/content/ico_bul_table.png) 0 center no-repeat;
  background-size: 17px 17px;
}

.table_product th.v_top {
  background-position: 0 7px;
}

.table_product2 table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1px solid #ddd;
}

.table_product2 th {
  padding: 13px 0;
  font-weight: 400;
  color: #333;
  border-bottom: 1px solid #ddd;
  background-color: #fafafa;
}

.table_product2 td {
  padding: 17px 10px;
  border-bottom: 1px solid #eee;
}

.table_product2 td em {
  font-style: normal;
}

.cont_product .btn_outline_default {
  border-color: #e0e0e0;
}

.cont_product .txt_primary {
  color: #e12547 !important;
}

.cont_product .btn_primary {
  background-color: #e12547;
  color: #fff;
}

.calc_area {
  background-color: #49464d;
  color: #fff;
  padding: 22px 28px 22px 37px;
}

.calc_container:after {
  display: block;
  clear: both;
  content: '';
}

.calc_container .tit_calc {
  float: left;
  font-size: 25px;
  color: #bab9ba;
  font-weight: 200;
}

.calc_container .form_controls {
  float: right;
}

.calc_container .form_controls .inp_item {
  width: 145px;
  height: 45px;
  margin-right: 7px;
  padding: 0 15px;
  color: #000;
  font-size: 16px;
  vertical-align: middle;
  text-align: center;
  border: 0;
  border-radius: 4px;
}

.calc_container .form_controls .box_shadow {
  display: inline-block;
  border: 0;
  background-color: transparent;
  -webkit-box-shadow: 6px 0 16px rgba(0, 0, 0, 0.29);
          box-shadow: 6px 0 16px rgba(0, 0, 0, 0.29);
}

.calc_container .form_controls .check_item input[type=radio] + label {
  display: inline-block;
  width: 100px;
  padding: 8px 0 9px 40px;
  font-size: 16px;
  font-weight: 200;
  background-image: none;
  background-color: #c7c4cd;
  border-radius: 4px 0 0 4px;
}

.calc_container .form_controls .check_item input[type=radio]:checked + label {
  padding-left: 52px;
  font-weight: bold;
  background-color: #fff;
  background-image: url(/resources/img/common/ico_radio_chk.png);
  background-position: 33px center;
}

.calc_container .form_controls .check_item + .check_item {
  margin-left: -4px;
}

.calc_container .form_controls .check_item + .check_item input[type=radio] + label {
  border-radius: 0 4px 4px 0;
}

.calc_container .form_controls button {
  -webkit-box-shadow: 6px 0 16px rgba(0, 0, 0, 0.29);
          box-shadow: 6px 0 16px rgba(0, 0, 0, 0.29);
}

.product_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.product_header .info_area {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 60%;
  font-size: 18px;
}

.product_header .info_area .selectbox_product_type3 dl dt span {
  font-size: 36px;
}

.product_header .info_area .info_cont dd {
  color: #737373;
}

.product_header .price_area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: right;
}

.product_header .price_area .price_cal dt,
.product_header .price_area .price_cal dd {
  display: inline-block;
  font-size: 28px;
  line-height: 1.3;
  vertical-align: bottom;
}

.product_header .price_area .price_cal dd {
  margin-left: 20px;
}

.product_header .price_area .price_cal dd strong {
  font-size: 50px;
  color: #e12547;
}

.product_header .price_area .selectbox_wrap.bd_none dt a {
  border: 0;
}

.product_header .price_area .selectbox_wrap.bd_none dt a span {
  font-weight: 500;
}

.product_header .price_area .selectbox_wrap.bd_none dt a span:after {
  right: 10px;
  background-image: url(/resources/img/common/ico_global_arrow.png);
  background-size: 7px 4px;
}

.product_header .best_price {
  font-size: 20px;
  text-align: left;
}

.product_header .best_price .form_controls {
  display: inline;
}

.product_header .best_price .form_controls select {
  width: 65px;
  border: none;
  font-weight: 500;
  font-size: 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent url(/resources/img/common/ico_arr_down_gray.png) 55px center no-repeat;
}

.product_header .best_price .form_controls select.txt_blue {
  color: #0d63ce;
}

.product_header .best_price em {
  font-style: normal;
  color: #000;
  font-weight: 500;
}

.product_header .best_price span,
.product_header .best_price form {
  display: inline-block;
}

.bg_lightgray2 {
  background: #fafafa;
}

.apply_header {
  padding: 50px 50px 0;
}

.apply_header .tit_cont_apply {
  text-align: center;
  font-size: 34px;
  line-height: 1;
}

.apply_sec {
  padding: 30px 50px 40px;
}

.apply_sec + .apply_sec {
  border-top: 15px solid #f7f7f7;
}

.apply_sec .list_empty {
  border: 1px solid #eee;
  border-width: 1px 0;
  text-align: center;
  padding: 50px 0;
}

.apply_sec .list_empty p {
  display: inline-block;
}

.apply_sec .list_empty p:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 3px;
  width: 18px;
  height: 18px;
  background: url(/resources/img/common/ico_emp.png) 0 0 no-repeat;
}

.apply_sec .txt_r .ico_warning_gray {
  position: relative;
  top: -3px;
}

.apply_sec .total_price {
  margin-top: 40px;
  text-align: right;
}

.apply_sec .total_price p {
  font-size: 26px;
  line-height: 30px;
  color: #555;
  font-weight: 400;
}

.apply_sec .total_price p strong {
  font-size: 26px;
  line-height: 30px;
  color: #ce4900;
  letter-spacing: -2px;
  margin-left: 10px;
}

.apply_sec .resident_num {
  position: relative;
}

.apply_sec .resident_num .btn_mouse_pwd {
  padding-left: 30px;
}

.apply_sec .resident_num .btn_mouse_pwd:before {
  content: '';
  position: absolute;
  left: 7px;
  top: 50%;
  width: 11px;
  height: 1px;
  margin-top: -1px;
  background: #ddd;
}

.apply_sec .add_certification:after {
  content: "";
  display: block;
  clear: both;
}

.apply_sec .add_certification li {
  float: left;
  border: 1px solid #ddd;
  border-radius: 20px;
  background: #fff;
  margin-right: 30px;
}

.apply_sec .add_certification li a {
  font-size: 16px;
  padding: 33px 120px 33px 180px;
  display: block;
}

.apply_sec .add_certification li a.sms {
  background: url(/resources/img/content/ico_certification1.png) left 130px center no-repeat;
}

.apply_sec .add_certification li a.ars {
  background: url(/resources/img/content/ico_certification2.png) left 130px center no-repeat;
}

.apply_sec .apply_chk_box .all_chk {
  font-size: 26px;
  font-weight: bold;
}

.apply_sec .apply_chk_box .all_chk label {
  background-position: left center !important;
  color: #ce4900;
}

.apply_sec .apply_chk_box .in_list {
  border-top: 1px solid #111;
  border-bottom: 1px solid #ddd;
  background: #fafafa;
  margin-top: 10px;
}

.apply_sec .apply_chk_box .in_list > div {
  position: relative;
  padding: 25px 20px;
  border-top: 1px solid #eee;
}

.apply_sec .apply_chk_box .in_list > div:first-child {
  border: 0;
}

.apply_sec .apply_chk_box .in_list > div .check_item label {
  font-weight: 400;
  padding-left: 30px;
  display: block;
  background-position: left center;
}

.apply_sec .apply_chk_box .in_list > div .check_item label.bold {
  font-weight: bold;
}

.apply_sec .apply_chk_box .in_list > div p {
  padding: 35px 40px 0;
  word-break: keep-all;
}

.apply_sec .apply_chk_box .in_list > div .btn {
  position: absolute;
  right: 30px;
  top: 50%;
  top: 17px;
}

.apply_sec .apply_chk_box .in_list > div .chk_list {
  font-size: 0;
  padding: 20px 0 0 10px;
}

.apply_sec .apply_chk_box .in_list > div .chk_list li {
  display: inline-block;
  margin-left: 30px;
}

.apply_sec .apply_chk_box .in_list > div .chk_list li input:disabled + label {
  background: none;
}

.apply_sec .apply_chk_box .in_list > div .chk_list li input:disabled + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  width: 22px;
  height: 22px;
  border-radius: 5px;
}

.apply_sec .apply_chk_box .in_list > div .chk_list li label {
  font-size: 16px;
  color: #666;
}

.apply_sec .tit2 .ico_tit_arrow {
  position: relative;
  top: -3px;
}

.apply_sec .signature p {
  letter-spacing: -.5px;
  margin-top: 30px;
}

.apply_sec .signature p:first-child {
  margin-top: 0;
}

.apply_sec .signature p input {
  height: 32px;
  line-height: 32px;
  margin: 0 10px;
}

.apply_sec .signature p.txt_primary {
  font-weight: 400;
  font-size: 18px;
}

.apply_sec .signature p.input_txt {
  border: 2px solid #111;
  padding: 10px 25px;
  background: #fff;
  border-radius: 5px;
  font-weight: 400;
}

.apply_sec .signature p .ico_arr_circle_bullet {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url(/resources/img/content/ico_arr_circle_bullet.png) 0 0 no-repeat;
  position: relative;
  top: -3px;
  margin-right: 5px;
}

.apply_sec .tbl_row2.num_tb th {
  padding-left: 50px;
  position: relative;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.apply_sec .tbl_row2.num_tb th span.num {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 29px;
  background: #555;
  border-radius: 50%;
  width: 20px;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  text-align: center;
  line-height: 18px;
}

.apply_sec .num6_chk {
  font-size: 0;
  margin-top: -5px;
  margin-top: 10px;
}

.apply_sec .num6_chk li {
  display: inline-block;
  vertical-align: middle;
  margin: 5px 25px 0 0;
}

.apply_sec .num6_chk li input:disabled + label {
  background: none;
}

.apply_sec .num6_chk li input:disabled + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  width: 22px;
  height: 22px;
  border-radius: 5px;
}

.apply_sec .num6_chk li label {
  font-size: 16px;
  color: #666;
  font-weight: 200;
}

.apply_sec .check_item input[type="radio"]:disabled + label {
  color: #aaa;
}

.apply_sec .check_item input[type="radio"]:disabled + label:before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  border: 1px solid #dedede;
  border-radius: 50%;
  background: #f3f3f3;
  position: absolute;
  left: 0;
  top: 2px;
}

.apply_sec .bottom_controll_areas {
  position: relative;
  margin-top: 70px;
}

.apply_sec .bottom_controll_areas .list .num {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  background: #555;
  border-radius: 50%;
  width: 20px;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  text-align: center;
  line-height: 18px;
  position: relative;
  top: -2px;
}

.apply_sec .bottom_controll_areas .btns {
  font-size: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.apply_sec .bottom_controll_areas .btns li {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.apply_sec .bottom_controll_areas .btns li a {
  font-size: 14px;
  color: #fff;
  padding: 0 40px 0 20px;
  background: #555;
  border-radius: 30px;
  display: block;
  text-align: center;
  height: 32px;
  line-height: 30px;
  position: relative;
}

.apply_sec .bottom_controll_areas .btns li a:before {
  content: "";
  display: block;
  border-left: 2px solid #fff;
  height: 10px;
  position: absolute;
  right: 24px;
  top: 50%;
  margin-top: -6px;
}

.apply_sec .bottom_controll_areas .btns li a:after {
  content: "";
  display: block;
  border-top: 2px solid #fff;
  width: 10px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -2px;
}

.apply_sec .bottom_controll_areas .btns li a.del:before {
  display: none;
}

.apply_sec.pop {
  padding: 0;
}

.apply_sec .btn_gray_type {
  color: #fff;
  background-color: #555;
}

.box.normal {
  border: 0;
  padding: 0;
}

.popup_body .state_info ul {
  font-size: 0;
  text-align: center;
  margin: 20px 0;
  padding: 0 50px;
}

.popup_body .state_info ul li {
  display: inline-block;
  width: 20%;
  position: relative;
  padding-top: 40px;
}

.popup_body .state_info ul li:first-child:before {
  border-radius: 7px 0 0 7px;
}

.popup_body .state_info ul li:last-child::before {
  border-radius: 0 7px 7px 0;
  margin-right: 0;
}

.popup_body .state_info ul li span {
  font-size: 18px;
  line-height: 20px;
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.popup_body .state_info ul li:before {
  content: "";
  display: block;
  width: calc(100% - 1px);
  height: 15px;
  margin-right: 1px;
}

.popup_body .state_info ul li .evaluation_image {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popup_body .state_info ul li:nth-child(1):before {
  background: #23a6d2;
}

.popup_body .state_info ul li:nth-child(2):before {
  background: #64bc54;
}

.popup_body .state_info ul li:nth-child(3):before {
  background: #efcf1c;
}

.popup_body .state_info ul li:nth-child(4):before {
  background: #f5933e;
}

.popup_body .state_info ul li:nth-child(5):before {
  background: #ee3f24;
}

.popup_body .bottom_blit_txt {
  margin-top: 10px;
}

.popup_body .bottom_blit_txt li {
  padding-left: 12px;
  text-indent: -12px;
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.num_style_list {
  background: #f7f7f7;
  border-top: 1px solid #111;
  margin-top: 25px;
}

.num_style_list .num_list > li {
  position: relative;
  padding: 30px;
  padding-left: 50px;
  border-bottom: 1px solid #eee;
}

.num_style_list .num_list > li:last-child {
  border-color: #ddd;
}

.num_style_list .num_list > li .chk {
  position: absolute;
  right: 20px;
  top: 27px;
}

.num_style_list .num_list > li .num {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 34px;
  background: #555;
  border-radius: 50%;
  width: 20px;
  font-size: 14px;
  font-weight: 400;
  height: 20px;
  text-align: center;
  line-height: 18px;
}

.num_style_list .num_list > li .tit {
  display: block;
  margin-bottom: 20px;
  width: 700px;
}

.num_style_list .num_list > li > ul {
  font-size: 0;
  margin: -10px 0 0 -30px;
}

.num_style_list .num_list > li > ul li {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0 0 30px;
}

.num_style_list .num_list > li > ul li label {
  font-size: 16px;
  color: #666;
}

.num_style_list .num_list > li input[type="checkbox"]:disabled + label {
  background: none;
}

.num_style_list .num_list > li input[type="checkbox"]:disabled + label:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 3px;
  background: #f3f3f3;
  border: 1px solid #ddd;
  width: 22px;
  height: 22px;
  border-radius: 5px;
}

.num_style_list .num_list > li .num_list > li {
  border: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 20px;
  padding-left: 30px;
}

.num_style_list .num_list > li .num_list > li:first-child {
  margin-top: 0;
}

.num_style_list .num_list > li .num_list > li .chk {
  top: 0px;
  right: 30px;
}

.num_style_list .num_list > li .num_list > li .num {
  background: #fff;
  color: #111;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  top: 5px;
  left: 0;
}

.num_indent > li {
  padding-left: 20px;
  text-indent: -20px;
  margin-top: 10px;
}

.num_indent > li:first-child {
  margin-top: 0;
}

.transfer_complete_box {
  text-align: center;
  padding: 50px 0;
}

.transfer_complete_box > span {
  display: block;
  font-size: 40px;
  line-height: 48px;
  margin: 35px 0 15px;
}

.transfer_complete_box > span strong {
  font-size: 40px;
  line-height: 44px;
}

.transfer_complete_box p {
  font-size: 18px;
  line-height: 22px;
  color: #555;
}

.transfer_complete_box p span {
  color: #ce4900;
  font-size: 18px;
  line-height: 22px;
}

/* 위험직종등급표 */
.box_apply {
  margin-top: 50px;
  padding: 35px 40px 40px;
  border-radius: 30px;
  border: 1px solid #ddd;
}

.box_apply .inner:after {
  content: '';
  display: block;
  clear: both;
}

.box_apply .tab_menu {
  float: left;
  width: 240px;
}

.box_apply .tab_menu ul li {
  position: relative;
  margin-top: 5px;
  height: 34px;
}

.box_apply .tab_menu ul li input[type=radio] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.box_apply .tab_menu ul li input[type=radio] + label {
  display: block;
  width: 100%;
  padding: 0 20px;
  font-weight: 400;
  line-height: 34px;
  border-radius: 17.5px;
}

.box_apply .tab_menu ul li input[type=radio]:checked + label {
  font-weight: bold;
  background-color: #ff883a;
}

.box_apply .tab_cont {
  width: calc(100% - 240px);
  padding: 0 0 0 40px;
  height: 400px;
  overflow-y: auto;
}

.box_apply .tab_cont strong {
  display: block;
  margin-top: 25px;
  font-weight: 500;
}

.box_apply .tab_cont strong:first-child {
  margin-top: 0;
}
