@charset "UTF-8";
/* 메인 */
/* 스마트 보험 */
.txt_emphasis {
  color: #ce4900;
}

.section {
  margin-top: 45px;
}

.over_tab.tab_menu {
  margin: 0 -20px 15px;
}

.over_tab.tab_menu:after, .over_tab.tab_menu:before {
  display: none !important;
}

.bottom_fixed_area .insurance_list .empty {
  text-align: center;
  padding: 40px 0;
  font-size: 13px;
  line-height: 15px;
  color: #555;
}

.bottom_fixed_area .insurance_list ul {
  padding: 20px;
}

.bottom_fixed_area .insurance_list ul li {
  font-size: 0;
  padding: 7px 0px;
}

.bottom_fixed_area .insurance_list ul li span {
  float: left;
  width: calc(100% - 150px);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
}

.bottom_fixed_area .insurance_list ul li strong {
  display: inline-block;
  vertical-align: middle;
  width: 125px;
  padding: 0 3px 0 7px;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
}

.bottom_fixed_area .insurance_list ul li button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
}

.bottom_fixed_area .total_payment a {
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: block;
  padding: 14px 20px;
  background: #f2f2f2;
}

.bottom_fixed_area .total_payment a:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border: 2px solid #555;
  border-width: 2px 2px 0 0;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -3px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.bottom_fixed_area .total_payment a em {
  margin-left: 10px;
  color: #ce4900;
  font-weight: bold;
  font-style: normal;
}

.bottom_fixed_area .total_payment a.active:before {
  margin-top: -10px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.complete_txt {
  text-align: center;
  padding: 20px 0 30px;
}

.complete_txt strong {
  font-weight: 200;
  font-size: 22px;
  letter-spacing: -0.5px;
}

.complete_txt strong span {
  font-size: 22px;
  font-weight: 400;
}

.complete_txt p {
  font-size: 13px;
  line-height: 20px;
  color: #555;
  margin-top: 5px;
}

.contract_list {
  padding: 10px 0 20px;
}

.contract_list > ul > li {
  margin-top: 20px;
  position: relative;
}

.contract_list > ul > li > a {
  display: block;
}

.contract_list > ul > li:first-child {
  margin-top: 0;
}

.contract_list > ul > li .list_name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  font-weight: 500;
}

.contract_list > ul > li .evidence_contract {
  font-size: 0;
  padding-top: 7px;
  display: table;
  width: 100%;
}

.contract_list > ul > li .evidence_contract .blit {
  display: table-cell;
  vertical-align: middle;
  font-style: normal;
  width: 1%;
  padding-right: 10px;
}

.contract_list > ul > li .evidence_contract .blit .lab_status {
  color: #fff;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type1 {
  background: #0070c0;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type2 {
  background: #317c13;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type3 {
  background: #304d62;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type4 {
  background: #953735;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type5 {
  background: #28788e;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type6 {
  background: #6d6d6d;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type7 {
  background: #FF883A;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type8 {
  background: #8e7009;
}

.contract_list > ul > li .evidence_contract .blit .lab_status.type9 {
  background: #1e4a0d;
}

.contract_list > ul > li .evidence_contract .info {
  padding: 4px 0;
  display: table-cell;
  vertical-align: middle;
}

.contract_list > ul > li .evidence_contract .info > span {
  display: block;
  margin-top: 3px;
}

.contract_list > ul > li .evidence_contract .info > span:first-child {
  margin-top: 0;
}

.contract_list > ul > li .evidence_contract .info > span strong {
  color: #666;
  min-width: 55px;
  padding-right: 15px;
  font-size: 11px;
  font-weight: 200;
  line-height: 13px;
}

.contract_list > ul > li .evidence_contract .info > span span {
  font-size: 11px;
  line-height: 13px;
}

.contract_list > ul > li .in_detail {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-top: 10px;
}

.contract_list > ul > li .in_detail:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  position: absolute;
  left: -19px;
  top: 0;
  right: -19px;
}

.contract_list > ul > li .in_detail span {
  display: block;
  overflow: hidden;
  margin-top: 4px;
}

.contract_list > ul > li .in_detail span:first-child {
  margin-top: 0;
}

.contract_list > ul > li .in_detail span em {
  float: left;
  font-style: normal;
  font-size: 12px;
  color: #666;
  font-weight: 200;
}

.contract_list > ul > li .in_detail span strong {
  float: right;
  font-size: 12px;
  color: #111;
  font-weight: 500;
}

.contract_list > ul > li .tf_item {
  margin-top: 15px;
}

.contract_list .total_price {
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  padding: 15px 0;
}

.contract_list .total_price.round_color {
  background: #fef0e7;
  border-radius: 8px;
  padding-right: 15px;
  margin-top: 15px;
}

.contract_list .total_price strong {
  color: #ce4900;
}

.contract_list .contract_item {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.contract_list .contract_item .inline_block {
  padding: 13px 20px 8px;
  font-size: 16px;
}

.contract_list .contract_item .inline_block > * {
  display: inline-block;
  font-style: normal;
}

.contract_list .contract_item .inline_block.block {
  display: block;
}

.contract_list .contract_item .inline_block:after {
  display: block;
  content: '';
  clear: both;
}

.contract_list .contract_item .inline_block em {
  float: left;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contract_list .contract_item .inline_block .price {
  float: right;
}

.contract_list .contract_item .inline_block .price:after {
  content: '원';
  display: inline-block;
  color: #111;
  font-weight: 200;
}

.contract_list .contract_item .list_name {
  padding: 12px 20px 5px;
  font-weight: 400;
  line-height: 24px;
}

.contract_list .contract_item .evidence_contract {
  padding: 0 20px;
}

.contract_list .contract_item .in_detail {
  margin-top: 8px;
  padding: 12px 20px;
}

.contract_list .contract_item .in_detail:before {
  left: 0;
  right: 0;
}

.contract_list .contract_item .in_detail.toggle {
  height: 60px;
  padding-bottom: 40px;
  overflow: hidden;
}

.contract_list .contract_item .in_detail.toggle.on {
  height: 100% !important;
}

.contract_list .contract_item .in_detail.toggle.on .btn_more.circle:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-position: center 8px;
}

.contract_list .contract_item .in_detail.toggle .btn_more.circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
}

.contract_list .contract_item .in_detail.toggle .btn_more.circle:before {
  content: '';
  position: absolute;
  left: calc(50% - 25px);
  width: 50px;
  height: 25px;
  background-image: url("/resources/img/common/ico_chevron_down_sm.png");
  background-repeat: no-repeat;
  background-size: 10px 6px;
  background-position: center 12px;
}

.contract_list .contract_item .in_detail.toggle .btn_more.circle:after {
  content: '';
  width: 50px;
  height: 25px;
  border-radius: 25px 25px 0 0;
  background-color: #eee;
}

.contract_list .contract_item .bg_lightgray {
  background-color: #f8f8f8 !important;
}

.contract_list .contract_item .bg_lightgray:before {
  border-color: #f2f2f2;
}

.contract_list .contract_item .detail_round {
  border-radius: 0 0 8px 8px;
}

.contract_list.list_chk .contract_item .list_name {
  padding: 12px 38px 5px 20px;
}

.contract_list.list_chk .check_item {
  position: absolute;
  top: 15px;
  right: 10px;
}

.contract_list.list_chk .in_detail strong {
  font-weight: 200;
}

.btn_group.length2 {
  font-size: 0;
  margin-top: 15px;
}

.btn_group.length2 a {
  width: calc(50% - 5px);
  margin-left: 4px;
}

.btn_group.length2 a:first-child {
  margin-left: 0;
}

.payment_way .tab {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.payment_way .tab li {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20%;
          flex: 1 1 20%;
  margin-left: 5px;
  border: 1px solid #ddd;
  border-radius: 30px;
}

.payment_way .tab li:first-child {
  margin-left: 0;
}

.payment_way .tab li a {
  height: 35px;
  line-height: 33px;
  display: block;
  color: #555;
  font-size: 14px;
  width: 100%;
  text-align: center;
}

.payment_way .tab li.on {
  border-color: #FF883A;
}

.payment_way .tab li.on a {
  color: #111;
}

.add_certification .tab {
  overflow: hidden;
  margin-bottom: 15px;
}

.add_certification .tab li {
  margin-left: 10px;
  background: #FF883A;
  float: left;
  width: calc(50% - 5px);
  text-align: center;
  border-radius: 10px;
}

.add_certification .tab li:nth-child(1) {
  margin-left: 0;
}

.add_certification .tab li a {
  display: block;
  padding: 15px 0;
  font-size: 16px;
  font-weight: 500;
}

.add_certification .tab li a:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 21px;
  position: relative;
  top: 3px;
  margin-right: 7px;
  background: url(/resources/img/content/ico_certification1.png) 0 0 no-repeat;
  background-size: 100% 100% !important;
}

.add_certification .tab li:nth-child(2) a:before {
  background: url(/resources/img/content/ico_certification2.png) 0 0 no-repeat;
}

.add_certification .list {
  padding-bottom: 80px;
}

.ico.right_center {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -10px;
}

.empty-box {
  padding: 60px 0;
  text-align: center;
}

.empty-box p {
  font-size: 13px;
  color: #555555;
  font-weight: 200;
}

/* 보험 상세 */
.contract_detail {
  padding: 20px;
  border-bottom: 12px solid #eeeeee;
}

.contract_detail .list_name {
  display: block;
  font-size: 18px;
  line-height: 20px;
  color: #111;
  font-weight: 500;
}

.contract_detail .evidence_contract {
  font-size: 0;
  padding-top: 7px;
  display: table;
  width: 100%;
}

.contract_detail .evidence_contract .blit {
  display: table-cell;
  vertical-align: middle;
  font-style: normal;
  width: 1%;
  padding-right: 10px;
}

.contract_detail .evidence_contract .blit .lab_status {
  color: #fff;
}

.contract_detail .evidence_contract .blit .lab_status.type1 {
  background: #0070c0;
}

.contract_detail .evidence_contract .blit .lab_status.type2 {
  background: #317c13;
}

.contract_detail .evidence_contract .blit .lab_status.type3 {
  background: #304d62;
}

.contract_detail .evidence_contract .blit .lab_status.type4 {
  background: #953735;
}

.contract_detail .evidence_contract .blit .lab_status.type5 {
  background: #28788e;
}

.contract_detail .evidence_contract .blit .lab_status.type6 {
  background: #6d6d6d;
}

.contract_detail .evidence_contract .blit .lab_status.type7 {
  background: #FF883A;
}

.contract_detail .evidence_contract .blit .lab_status.type8 {
  background: #8e7009;
}

.contract_detail .evidence_contract .blit .lab_status.type9 {
  background: #1e4a0d;
}

.contract_detail .evidence_contract .info {
  padding: 4px 0;
  display: table-cell;
  vertical-align: middle;
}

.contract_detail .evidence_contract .info > span {
  display: block;
  margin-top: 5px;
}

.contract_detail .evidence_contract .info > span:first-child {
  margin-top: 0;
}

.contract_detail .evidence_contract .info > span strong {
  color: #666;
  min-width: 55px;
  padding-right: 15px;
  font-size: 11px;
  font-weight: 200;
  line-height: 13px;
}

.contract_detail .evidence_contract .info > span span {
  font-size: 12px;
  line-height: 13px;
}

.contract_detail .in_detail {
  position: relative;
  display: block;
  margin-top: 10px;
  padding-top: 13px;
}

.contract_detail .in_detail span {
  display: block;
  overflow: hidden;
  margin-top: 4px;
}

.contract_detail .in_detail span:first-child {
  margin-top: 0;
}

.contract_detail .in_detail span em {
  float: left;
  font-style: normal;
  font-size: 14px;
  color: #666;
  font-weight: 200;
}

.contract_detail .in_detail span strong {
  float: right;
  font-size: 12px;
  color: #111;
  font-weight: 500;
}

/* 실효계약부활 팝업 */
.step_box {
  padding: 30px 0;
  border-radius: 8px;
  border: 1px solid #dddddd;
}

.step_box ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.step_box ol li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 15px 0;
}

.step_box ol li:first-child:after {
  display: none;
}

.step_box ol li:after {
  position: absolute;
  content: '';
  top: 18px;
  left: 0;
  width: 5px;
  height: 10px;
  background-image: url("/resources/img/common/ico_chevron_right_md.png");
  background-repeat: no-repeat;
  background-size: 5px 10px;
  background-position: center center;
}

.step_box ol li > span {
  font-size: 14px;
  line-height: 1.3;
  margin-top: 13px;
}

.step_box ol li > span em {
  display: block;
  font-style: normal;
  font-size: 11px;
  color: #ce4900;
}

/* 완전판매 모니터링 */
.sale_process {
  counter-reset: num;
}

.sale_process li {
  position: relative;
}

.sale_process li:before {
  content: counter(num);
  position: absolute;
  top: 14px;
  left: 20px;
  counter-increment: num;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  z-index: 30;
}

.sale_process li:after {
  content: '';
  position: absolute;
  top: 14px;
  left: 15px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #333;
}

.sale_process li:first-child dl {
  border-top: 1px solid #eee;
}

.sale_process dl {
  display: table;
  table-layout: fixed;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.sale_process dl dt {
  display: table-cell;
  width: 135px;
  padding: 10px 20px 10px 35px;
  background-color: #f6f6f6;
  border-right: 1px solid #eee;
  letter-spacing: -.5px;
}

.sale_process dl dd {
  display: table-cell;
  padding: 10px 15px;
  font-weight: 400;
  letter-spacing: -.5px;
}

.service_list {
  margin-top: 15px;
  padding-top: 13px;
  border-top: 1px solid #f2f2f2;
}

.service_list li {
  font-weight: 300;
  letter-spacing: -.5px;
}

.txt_note_gray {
  font-size: 13px;
  letter-spacing: -.5px;
  font-weight: 200;
}

/* 인풋 예외 타입 */
.tf_item_ex {
  display: block;
  padding: 14px 19px 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.tf_item_ex.disabled {
  background-color: #f2f2f2;
}

.tf_item_ex.disabled > * {
  opacity: .4;
}

.tf_item_ex .tf_item_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 39px;
}

.tf_item_ex .tf_item_body .tf {
  background: none;
}

.btn_more_gray {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80px;
  padding: 0 12px;
  height: 24px;
  border: 1px solid transparent;
  font-size: 12px;
  font-weight: 200;
  border-radius: 12px;
  color: #fff;
  background-color: #555;
}

.btn_more_gray:after {
  display: inline-block;
  content: '';
  width: 10px;
  height: 5px;
  margin-top: 1px;
  background: url(/resources/img/common/ico_chevron_down_white_sm.png) no-repeat;
  background-size: 10px 5px;
}

.bd_btm {
  padding: 0 0 17px 0;
  border-bottom: 1px solid #ddd;
}

.btn_block {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn_block:after {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  background: url(/resources/img/common/ico_chevron_right_gray_sm.png) no-repeat;
  background-size: 6px 10px;
  background-position: right center;
}

.btn_block dt {
  font-size: 12px;
}

.btn_block dd {
  font-size: 11px;
  color: #555;
}

/* 버튼 - 하단 넓이 100% */
.btn_btm_group {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn_btm_group .btn_outline_default {
  width: 100%;
  height: 35px;
}

.btn_btm_group .btn_outline_gray {
  border-color: #ddd;
  height: 50px;
  border-radius: 8px;
}
