@charset "UTF-8";
.w93per{
  width: 93%;
}
ul.list.list3 .freecoun{padding-left: 0 !important; counter-reset: list-number;}
.list1 > li.freecoun{
  font-size: 16px !important;
  color: #555;
}

.freecoun .list3 {
  padding-left: 19px !important  ;
}
.freecoun .list3 > li.ref:before {
  content: '※';
}
.freecoun .list3 > li.ref{
  padding-left: 15px;
  margin-left: -6px;
}

.list1 li.freecoun:before{
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0 !important;;
  top: 0px !important;;
  width: 0 !important;
  height: 0 !important;
  background-color: none !important;
  font-size: 15px !important;
  color: #555555;
}

/*
.list1 > li.freecoun:before{
  counter-increment: var-count;
  content:counter(var-count);
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0 !important;;
  top: 0px !important;;
  width: 0 !important;
  height: 0 !important;
  background-color: none !important;
  font-size: 15px !important;
  color: #555555;
}
*/