@charset "UTF-8";
.wrapper {
  position: relative;
  overflow: hidden;
  padding-top: 56px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  background-color: #fff;
}

.scrolled .header {
  -webkit-box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
          box-shadow: 5px 0 15px rgba(0, 0, 0, 0.05);
}

.titlebar {
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titlebar .left,
.titlebar .right {
  padding: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.titlebar .btn_icon {
  padding: 0 12px;
  margin: 0;
  height: 56px;
}

.titlebar .right .btn_icon + .btn_icon {
  margin-left: -4px;
}

.titlebar .tit_page {
  color: #111;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.05em;
}

/* 전체메뉴 */
.cont_body {
  padding: 20px;
}

.input_step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 20px;
  font-size: 13px;
}

.input_step li {
  color: #595959;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-left: 10px;
  line-height: 0;
}

.input_step li .num {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 100%;
  color: transparent;
}

.input_step li .txt {
  display: none;
}

.input_step li.on .num {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 25px;
  border-radius: 100%;
}

.input_step li.on .txt {
  display: inline;
}

.input_step li.on ~ li .num {
  background-color: #ddd;
}

.bottom_fixed_area {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: #fff;
}

.bottom_fixed_area .bottom_toggle {
  position: relative;
}

.bottom_fixed_area .toggle_btn_area {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.bottom_fixed_area .btn_toggle {
  display: block;
}

.bottom_fixed_area .btn_group {
  margin: 0;
}

.bottom_fixed_area .btn_group .btn {
  margin: 0 !important;
}

.footer {
  border-top: 1px solid #cbcbcb;
  height: 200px;
  overflow: hidden;
}
