@charset "UTF-8";
html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 1024px;
  overflow: hidden;
}

.wrapper > :not(#content) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow-y: auto;
}

.wrapper .btn_close_page {
  position: absolute;
  right: 14px;
  top: 10px;
  width: 54px;
  height: 54px;
}

hr {
  display: block;
  height: 10px;
  border: 0;
  background-color: #ddd;
}

/* 헤더 컨테이너 */
.titlebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 74px;
  line-height: 1;
  padding-left: 14px;
  padding-right: 14px;
}

.use_close_btn .titlebar {
  padding-right: 68px;
}

.titlebar .left,
.titlebar .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlebar .btn_icon {
  width: 54px;
  height: 54px;
}

.titlebar .tit_page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titlebar .tit_page:first-child {
  margin-left: 10px;
}

.titlebar .tit_page .user_name {
  position: relative;
  padding-bottom: 5px;
}

.titlebar .tit_page .user_name:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: -1;
  background-color: #fad973;
}

.titlebar .tit_page .user_num {
  font-size: 20px;
  font-weight: 500;
}

#content {
  padding-bottom: 50px;
}

.footer {
  overflow: hidden;
}
