body {
  background-color: #f7f7f7;
}

.wrapper_type2 {
  width: 1100px;
  margin: auto;
  padding-bottom: 80px;
}

.btn_close_type2 {
  position: fixed;
  right: 30px;
  top: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
}

.header_type2 {
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_type2 .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 23px;
  font-weight: 500;
}

.header_type2 .logo .tit_page {
  margin-bottom: 3px;
}

.header_type2 .menu_list .btn {
  color: #333;
  font-weight: 200;
}

.header_type2 .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_type2 .step li {
  color: #595959;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-left: 20px;
  line-height: 0;
}

.header_type2 .step li .num {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 100%;
  color: transparent;
}

.header_type2 .step li .txt {
  display: none;
}

.header_type2 .step li.on .num {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 32px;
  border-radius: 100%;
}

.header_type2 .step li.on .txt {
  display: inline;
}

.header_type2 .step li.on ~ li .num {
  background-color: #ddd;
}

.container {
  width: 1100px;
  margin: auto;
}

#container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1100px;
  margin: auto;
}

#content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(100% - 260px);
          flex: 1 1 calc(100% - 260px);
  /* flex: 1 1 auto*/
}

.cont_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
}

.cont_header .tit_cont_type2 {
  text-align: center;
  font-size: 32px;
  font-weight: 200;
}

.cont_body {
  padding: 0 50px 50px;
}

.sidebar {
  width: 260px;
  background-color: #f8f8f8;
}

.sidebar_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  background-color: #131e32;
  color: #fff;
  padding: 0 30px;
}

.sidebar_header .sub_tit {
  color: #979da9;
  margin-bottom: 5px;
}

.sidebar_header .sidebar_tit {
  line-height: 35px;
  font-weight: normal;
}

.sidebar_list li {
  border-bottom: 1px solid #eaeaea;
}

.sidebar_list li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 150px;
  opacity: .8;
  font-size: 18px;
}

.sidebar_list li.on {
  border-bottom-color: transparent;
}

.sidebar_list li.on a {
  background-color: #fff;
  opacity: 1;
}

.sidebar_list li.on a span {
  font-weight: 400;
}

.sidebar_list li.active {
  position: relative;
  padding: 17px 25px 16px;
  height: 150px;
  background-color: #2b3a55;
  color: #fff;
  font-size: 18px;
}

.sidebar_list li.active ul {
  margin-top: 6px;
}

.sidebar_list li.active ul > li {
  font-size: 16px;
  line-height: 24px;
  border: none;
  color: #cfd1d6;
}

.sidebar_list li.active .btn_edit {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 24px;
  height: 24px;
  background: url(/resources/img/content/ico_edit_white.png) 0 0 no-repeat;
  background-size: 24px 24px;
}

.category {
  position: absolute;
  top: 0;
  width: 110px;
  right: -145px;
  line-height: 1;
}

.category .category_tit {
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  background-color: #f7f7f7;
  padding-right: 8px;
}

.category .category_list {
  margin-top: -5px;
  padding: 20px 0 15px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  font-size: 18px;
  line-height: 40px;
  color: #646464;
}

.category .category_list li {
  position: relative;
}

.category .category_list li.on {
  color: #ce4900;
  font-weight: 300;
}

.category .category_list li.on:before {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: -18px;
  width: 10px;
  height: 9px;
  background-image: url(/resources/img/common/ico_asterisk_sm_primary.png);
  background-size: 10px 9px;
  background-position: center center;
  background-repeat: no-repeat;
}

.footer_type2 {
  margin-top: 40px;
}

.footer_type2:after {
  display: block;
  clear: both;
  content: '';
}

.logo_epost {
  float: right;
}
