/* 전체메뉴 공통 */
.allmenu {
	.dimed {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 1500;
		background-color: rgba(#000, .5);
		box-shadow: 1px 6px 17px 0px rgba(0, 0, 0, 0.3);

		visibility: hidden;
		opacity: 0;
		transition-duration: .3s;
	}

	.allmenu_inner {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1500;

		visibility: hidden;
		opacity: 0;
		transform: translateX(100%);
		transition-duration: .3s;

		display: flex;
		flex-direction: column;
		width: 300px;
		background-color: #fff;

		.allmenu_header {
			flex: 0 0 auto;
		}

		.allmenu_body {
			flex: 1 1 auto;
			overflow-y: auto;
		}

		.btn_allmenu_close {
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 15px;
			height: 56px;
			margin: 0;
		}
	}

	.allmenu_open & {
		.dimed {
			opacity: 1;
			visibility: visible;
		}

		.allmenu_inner {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
		}
	}
}

.allmenu_header {
	display: flex;
	align-items: center;
	padding-right: 50px;
	padding-left: 20px;
	height: $titlebar-height;

	.allmenu_title {
		font-size: 18px;
		font-weight: 500;
	}

	.welcome {
		font-size: 14px;
		font-weight: 200;
		margin-left: 5px;
	}

	.btn_icon_round {
		width: 33px;
		height: 33px;
		border-radius: 50%;
		border: 1px solid #efefef;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.05);
	}

	.header_top_area {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 $spacing + 30px 0 $spacing;
		height: $titlebar-height;

		.allmenu_title {
			display: flex;
			align-items: center;

			.name {
				font-size: 16px;
				font-weight: normal;
			}
		}

		.toolbar {
			.alert_badge {
				position: absolute;
				transform: translateX(55%);
				top: 15px;
			}

			.btn_icon {
				position: relative;
				padding: 0 5px;
				margin: 0;
				height: $titlebar-height;
			}
		}
	}
}

.allmenu_body {
	padding: 0 20px 20px;
}

.allmenu-open {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	overflow: hidden;
}

/* 풀시트 공통 */
.allmenu_full {
	.allmenu_inner {
		width: 100%;
	}

	.allmenu_header {
		display: block;
		height: auto;
		padding: 0;
		border-bottom: 6px solid #f3f3f3;

		.login_info {
			display: flex;
			align-items: center;
			margin-top: -8px;
			margin-bottom: 15px;
			padding: 0 $spacing;

			.last_access {
				margin-left: 4px;
				font-size: 11px;
				color: #333;
			}
		}

		.header_search_area {
			padding: 0 $spacing;

			fieldset {
				position: relative;
				display: flex;
				border: 1px solid rgb(221, 221, 221);
				border-radius: 5px;
				background-color: rgb(255, 255, 255);
				height: 38px;

				.tf {
					flex: 1 1 auto;
					height: 100%;
					background-color: transparent;
					padding: 0 20px;
					font-size: 14px;
				}

				.btn_menu_search {
					flex: 0 0 auto;
					height: 100%;
					padding: 0 10px;
				}
			}
		}

		// 뱅킹홈
		.header_quick_area {
			ul {
				display: flex;
				text-align: center;
				font-size: 13px;
				line-height: 17px;
				padding: 0 10px;
				color: #333;

				li {
					flex: 1 1 auto;
				}

				a {
					display: block;
					padding: 15px 0 20px;
					font-size: 13px;
					font-weight: 500;
				}
			}

			.icon {
				display: block;
				margin: auto;
				width: 40px;
				height: 40px;
			}
		}

		// 모바일웹
		.header_quick_box {
			border-top: 1px solid #f3f3f3;

			ul {
				display: flex;
				text-align: center;
				font-size: 13px;
				line-height: 1;
				padding: 15px;
			}

			li {
				flex: 1 1 20%;
				margin: 5px;
			}

			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				background-color: #ffefbc;
				height: 80px;
				padding: 0 0 5px;
				border-radius: 8px;
				font-size: 13px;
				font-weight: 500;

				.icon {
					margin: 0;
					width: 40px;
					height: 40px;
					margin-bottom: 3px;
				}
			}
		}
	}

	.allmenu_body {
		position: relative;
		padding: 0;
		display: flex;
	}

	// 다국어
	&.allmenu_en {
		.header_quick_area {
			margin-top: 15px;

			ul {
				position: relative;
				margin-bottom: -6px;
				background-color: #e5f2ff;

				.icon {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 5px;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					background-color: #fff;

					img {
						width: 40px;
						height: 40px;
					}
				}

				a {
					font-weight: normal;
					padding: 15px 0;
				}
			}
		}

		.lnb_title {
			display: flex;
			align-items: center;
			margin-top: 5px;
			font-size: 15px;
			font-weight: normal;
		}

		.link_btn_list {
			margin: 5px -5px 5px;
		}
	}
}

.gnb_area {
	flex: 0 0 auto;
	width: $gnb-1depth-width;
	overflow-y: auto;
	background-color: #f6f5f1;

	>ul {
		>li {
			>a {
				display: flex;
				align-items: center;
				height: 50px;
				font-size: 16px;
				padding: 0 15px;
			}

			&.on {
				background-color: #fff;
				font-weight: 500;
				line-height: 1.4;

				span {
					border-bottom: 2px solid $primary;
				}
			}
		}
	}

	.main_menu {
		background-color: #eae7de;
	}

	.center_menu {
		background-color: #dfddd7;
	}

	+.lnb_area {
		position: absolute;
		flex: 1 1 auto;
		left: $gnb-1depth-width;
		right: 0;
		top: 0;
		bottom: 0;
	}
}

.lnb_area {
	display: flex;
	flex-direction: column;
	background-color: #fff;

	&:only-child {
		flex: 1 1 auto;
	}
}

.lnb_header {
	flex: 0 0 auto;
	margin: 0 20px 0 15px;
	padding: 12px 0 10px;
	border-bottom: 3px solid #f3f3f3;

	.link_btn_list {
		display: flex;
		flex-wrap: wrap;
		margin: -3px -5px;

		.btn {
			padding: 0 9px;
			height: 30px;
			border-radius: 30px;
			border: 1px solid #ddd;
			font-size: 12px;
			margin: 3px 5px;
		}
	}
}

.lnb_list {
	flex: 1 1 auto;
	padding: 0 20px 10px 15px;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	&:first-child {
		padding-top: 10px;
	}

	>li {
		position: relative;
		margin-top: 15px;
		margin-bottom: 20px;

		>a {
			display: block;
			font-size: 16px;
			font-weight: 500;
		}

		>.btn_favor {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		>ul {
			margin-top: 2px;
			padding-left: 10px;

			>li {
				display: flex;
				justify-content: space-between;

				>a {
					flex: 1 1 auto;
					padding: 8px 0;
					line-height: 1.2;

					span {
						vertical-align: middle;
					}
				}

				.btn_favor {
					flex: 0 0 auto;
					margin-right: -10px;
					padding: 0 10px;
				}
			}
		}
	}
}

/* 진행중인 다이렉트 */
.allmenu_direct {
	.direct_status {
		background-color: $gray;
		display: flex;
		justify-content: space-between;

		background-color: #49464d;
		padding: 18px 20px;
		border-radius: 8px;
		color: #fff;

		font-size: 16px;
		line-height: 1.2;
	}

	.direct_ongoing_list {
		font-size: 16px;
		border-bottom: 1px solid $border-base;

		dt {
			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-weight: 500;
				padding: 18px 0;
				line-height: 20px;

				&:after {
					flex: 0 0 auto;
					content: '';
					width: 20px;
					height: 20px;
					border-radius: 4px;
					border: 1px solid #ddd;
					background: url(#{$url-img-common}/ico_chevron_down_sm.png) no-repeat center center;
					background-size: 10px auto;
				}
			}

			&.on {
				a {
					&:after {
						transform: rotate(180deg);
					}
				}

				+dd {
					display: block;
				}
			}
		}

		dd {
			display: none;

			+dt {
				border-top: 1px solid $border-base;
			}
		}
	}

	.direct_step {
		li {
			position: relative;
			display: flex;
			align-items: flex-start;
			margin-bottom: 30px;

			&:before {
				content: '';
				position: absolute;
				width: 1px;
				left: 7px;
				top: 26px;
				bottom: -30px;
				background-color: #f1f0f1;
			}

			&:last-child {
				&:before {
					display: none;
				}
			}

			.icon_area {
				display: flex;
				align-items: center;
				margin-right: 15px;
			}

			.num {
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				width: 15px;
				height: 15px;
				margin-top: -2px;
				font-size: 8px;
				line-height: 1;

				background-color: #49464d;
				color: #fff;

				margin-right: 12px;
			}

			.item_tit {
				display: flex;
				align-items: center;
				font-size: 13px;
				line-height: 20px;
				font-weight: 500;
			}

			.item_cont {
				margin-top: 5px;
				font-size: 10px;
				line-height: 14px;

				.bar {
					display: inline-block;
					margin: 0 6px;
					vertical-align: middle;
					width: 1px;
					height: 8px;
					overflow: hidden;
					color: #eaeaea;
					background-color: currentColor;
				}
			}

			&.on {
				.num {
					color: #111;
					background-color: $primary;
				}

				.item_cont {
					display: none;
				}

				~li {
					.num {
						color: #636363;
						background-color: $border-light;
					}

					.ico,
					.cont_area {
						opacity: .5;
					}

					.item_cont {
						display: none;
					}
				}
			}
		}
	}

	.btn_warning {
		display: flex;
		justify-content: flex-start;
		padding: 15px 0;
		font-size: 16px;
		font-weight: 500;
	}
}

/* 포스트페이 하프시트 */
.allmenu_postpay {
	.welcome {
		font-size: 14px;
	}

	.allmenu_inner {
		width: 280px;
	}

	.postpay_oveview {
		position: relative;
		padding: $spacing;

		.bg {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: #fffbef;
			height: 100px;
		}
	}

	.postpay_money_box {
		position: relative;
		background: #ffe9a6 url(#{$url-img}/layout/bg_postpaybox.png) no-repeat;
		background-position: right 15px top 20px;
		background-size: 61px auto;
		border-radius: 12px;
		padding: 20px;

		dt {
			font-size: 12px;
			line-height: 1;
			margin-bottom: 9px;
		}

		.cash {
			display: flex;
			align-items: center;
			font-size: 20px;
			line-height: 1;
			font-weight: 500;

			.num {
				font-size: 26px;
				font-weight: bold;
			}

			span {
				margin-left: 4px;
			}
		}

		.status {
			display: flex;
			margin: 20px -10px 0;
			text-align: center;
			font-weight: normal;
			line-height: 1;

			li {
				flex: 1 1 auto;

				+li {
					border-left: 1px solid #959595;
				}
			}

			.tit {
				display: block;
				font-size: 10px;
				color: #555;
				margin-bottom: 6px;
			}
		}
	}

	.postpay_status {
		display: flex;
		flex-wrap: wrap;
		margin: 5px -10px 0 -8px;
		font-size: 12px;
		line-height: 1;

		li {
			flex: 1 1 50%;
			@include clearfix;
			padding: 0 10px 0 8px;
			margin-top: 15px;

			&:nth-child(even) {
				border-left: 1px solid #ddd;
			}
		}

		.tit {
			color: $gray;
			font-weight: normal;
		}

		.val {
			float: right;
			font-weight: 500;
		}
	}

	.allmenu_header {
		display: block;
		height: auto;
		padding: 0;
		border-bottom: 6px solid #f3f3f3;
	}

	.lnb_header {
		margin: 0;
		padding: 0;
		border-bottom: 6px solid #f3f3f3;

		.lnb_list {
			padding: 5px $spacing;

			li {
				display: flex;
				justify-content: space-between;
				margin: 15px 0;
			}
		}
	}

	.allmenu_body {
		padding: 0;

		.lnb_list {
			>li {
				margin: 15px 0;

				>ul {
					>li {
						>a {
							padding: 10px 0;
						}
					}
				}
			}
		}
	}
}