.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: $min-width;
	height: 100vh;
	overflow: hidden;

	.header,
	.footer {
		flex: 0 0 auto;
	}

	#content {
		flex: 1 1 auto;
		overflow-y: auto;
	}
}