.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: $min-width;
	height: 100%;

	>:not(#content) {
		flex: 0 0 auto;
	}

	#content {
		flex: 1 1 auto;
		overflow-y: auto;
	}

	.btn_close_page {
		position: absolute;
		right: 14px;
		top: ($header-height - $lg-btn-size) * 0.5;
		width: $lg-btn-size;
		height: $lg-btn-size;
	}

	.bottom_fixed_area {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
	}

	&_user_common {
		background: $bg-lightprimary;
	}

	&_user_new {
		background: $bg-lightblue;
	}

	&_user_old {}
}


hr {
	display: block;
	height: 10px;
	border: 0;
	background-color: $border-base;
}