html,
body,
.wrapper {
	height: 100%;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: $min-width;
	overflow: hidden;

	>:not(#content) {
		flex: 0 0 auto;
	}

	#content {
		flex: 1 1 auto;
		overflow-y: auto;
	}

	.btn_close_page {
		position: absolute;
		right: 14px;
		top: ($header-height - $lg-btn-size) * 0.5;
		width: $lg-btn-size;
		height: $lg-btn-size;
	}
}

hr {
	display: block;
	height: 10px;
	border: 0;
	background-color: $border-base;
}