.breadcrumb {
	padding-top: 153px;

	.breadcrumb_list {
		flex: 1 1 auto;
		display: flex;
		//height: $breadcrumb-height - 1;
		height: 34px;
		justify-content: flex-end;
		color: $gray;
		// padding: 0 $spacing;

		>li {
			position: relative;

			&:first-child {
				>a {
					display: flex;
					align-items: center;
					font-size: 13px;
					height: 100%;
					padding: 0 13px;
					max-height: none;

					&:hover {
						//background-color: $primary;

						.ico_home {
							//background-image: url(#{$url-img-common}/ico_home_black.png)
						}
					}
				}
			}

			&:last-child {
				//border-right: 1px solid $border-light;

				>a {
					color: $default;
					font-weight: 500;
				}
			}

			&:nth-child(n+2) {
				//border-left: 1px solid $border-light;
				//min-width: 105px;
				//padding-left: 28px;
				//background: url(#{$url-img-common}/ico_arr_right_sm.png) no-repeat 0 50%;
				padding: 0 7px 0 13px;
				background: url(#{$url-img-common}/ico_arr_right_sm.png) no-repeat 0 50%;

				>a {
					display: inline-block;
					position: relative;
					@include text-ellipsis(1, $breadcrumb-height - 1);
					max-width: 200px;
					//height: 100%;
					padding: 8px 33px 8px 15px;
					max-height: none;
					border-radius: 20px;
					background-image: url(#{$url-img-common}/ico_arr_circle_down.png);
					background-repeat: no-repeat;
					background-position: calc(100% - 10px) 50%;
					line-height: 1;
					text-align: left;
					vertical-align: top;
					font-size: 18px;

					//background: #fff url(#{$url-img-common}/ico_arr_down_sm.png) no-repeat right 20px center;


					transition-duration: .2s;
					transition-property: color, border-color, box-shadow;
					will-change: color, border-color, box-shadow;
				}
			}

			&:last-child {
				padding-right: 0;
			}

			&.on {
				&:nth-child(n+2) {
					>a {
						//background-image: url(#{$url-img-common}/ico_arr_up_sm.png);
						//background-color: $primary;

						background-color: $primary;
						background-image: url(#{$url-img-common}/ico_arr_circle_down_on.png);
						font-weight: 500;
						color: $black;
					}

					.sub_list_wrap {
						display: inline-table;
					}
				}
			}
		}
	}

	.sub_list_wrap {
		display: none;
		position: absolute;
		z-index: 10;
		left: 50%;
		right: 0;
		transform: translateX(-50%);
		margin-top: 56px;
		width: calc(100% + 1px);
		min-width: 115px;
		overflow-y: auto;
		border: 1px solid $gray;
		border-radius: 10px;
		box-shadow: 0 7px 17px 0 #dcdcdc;
		background-color: $white;

		ul {
			overflow-y: auto;
			max-height: 500px;
			padding: 23px 24px 19px;
			font-size: 16px;

			>li {
				padding: 0 17px;

				&:not(:last-child) {
					margin-bottom: 11px;
					padding-bottom: 13px;
					border-bottom: 1px solid #eee;
				}
			}
		}

		a {
			display: block;
			position: relative;
			line-height: 1.3;
			white-space: nowrap;
			text-align: center;
			font-weight: 200;
			color: $darkgray;

			&:hover {
				font-weight: 500;
				color: $black;
			}
		}

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			width: 0;
			height: 0;
			margin-left: -10px;
			border-style: solid;
		}

		&::before {
			top: -22px;
			border-color: transparent transparent $gray transparent;
			border-width: 11px;
		}

		&::after {
			top: -21px;
			border-color: transparent transparent $white transparent;
			border-width: 11px;
		}
	}
}