// 콘텐츠 컨테이너
#content {
	// min-height: calc(100vh - #{$header-height + $footer-height + $breadcrumb-height});
	padding-bottom: 50px;
}

.cont_inner {
	display: flex;
	flex-direction: column;
	height: 100%;

	.cont_header {
		flex: 0 0 auto;
		padding-top: 55px;
	}

	.cont_body {
		flex: 1 1 auto;
		margin: 0 $spacing 0;
		overflow-y: auto;

		&.box_shadow {
			margin: 35px 80px 0;
		}

		&:last-child {
			margin-bottom: 80px;
		}
	}

	.cont_footer {
		flex: 0 0 auto;
		padding: 40px 0 30px;
	}
}