.quick_menu_box>.quick_menu_list>li>a {
	position: relative;

	&::after {
		position: absolute;
		right: 0;
		top: 50%;
		content: '';
		width: 5px;
		height: 10px;
		margin-top: -5px;
		background: url(#{$url-img-common}/ico_chevron_right_sm.png) no-repeat 0 0;
	}
}

.quick_menu_box {
	>.quick_menu_list {
		>li {
			>a {
				&:hover {
					font-weight: 400;
					color: #111;
				}
			}
		}
	}

	.ico_dep_guide {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit01.png);
	}

	.ico_dep_cus {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit02.png);
	}

	.ico_dep_acc {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit03.png);
	}

	.ico_dep_transper {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit04.png);
	}

	.ico_dep_card {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit05.png);
	}

	.ico_dep_fund {
		background-image: url(#{$url-img-common}/ico_quickmenu_deposit06.png);
	}

	.ico_fund_inv {
		background-image: url(#{$url-img-common}/ico_quickmenu_fund_inv.png);
	}

	.ico_fund_guide {
		background-image: url(#{$url-img-common}/ico_quickmenu_fund_guide.png);
	}

	.ico_fund_sch {
		background-image: url(#{$url-img-common}/ico_quickmenu_fund_search.png);
	}

	.ico_fund_buy {
		background-image: url(#{$url-img-common}/ico_quickmenu_fund_buy.png);
	}

	.ico_fund_resale {
		background-image: url(#{$url-img-common}/ico_quickmenu_fund_resale.png);
	}

	.ico_fund_term {
		background-image: url(#{$url-img-common}/ico_quickmenu_fund_term.png);
	}

	.ico_card_guide {
		background-image: url(#{$url-img-common}/ico_quickmenu_card_guide.png);
	}

	.ico_card_list {
		background-image: url(#{$url-img-common}/ico_quickmenu_card_list.png);
	}

	.ico_card_paystub {
		background-image: url(#{$url-img-common}/ico_quickmenu_card_paystub.png);
	}

	.ico_fund_use {
		background-image: url(#{$url-img-common}/ico_quickmenu_card_use.png);
	}

	.ico_fund_declare {
		background-image: url(#{$url-img-common}/ico_quickmenu_card_declare.png);
	}

	.ico_fin_ann {
		background-image: url(#{$url-img-common}/ico_quickmenu_fin_ann.png);
	}
}


.quick_my_menu {
	position: relative;
	margin-bottom: 9px;
	padding: 6px 23px 20px;
	border: 1px solid #ddd;
	border-radius: 7px;
	background: #fff;

	>ul {
		&.hidden_menu {
			height: 165px;
			overflow: hidden;

			&+.btn_menu_more {
				&::after {
					transform: rotate(180deg);
				}
			}
		}

		>li {
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}

			>a {
				display: block;
				position: relative;
				padding: 7px;
				font-size: 14px;
				color: #666;

				&:hover {
					font-weight: 400;
					color: #986800;
				}

				&::before {
					position: absolute;
					left: 0;
					top: 16px;
					content: '';
					width: 2px;
					height: 2px;
					background: #000;
				}
			}
		}
	}

	.btn_menu_more {
		display: flex;
		position: absolute;
		left: 50%;
		bottom: -10px;
		transform: translateX(-50%);
		width: 100px;
		height: 25px;
		border: 1px solid #ddd;
		border-radius: 15px;
		background: #fff;
		align-items: center;
		justify-content: center;
		font-size: 12px;
		color: #555;

		&::after {
			display: inline-block;
			content: '';
			width: 9px;
			height: 5px;
			margin-left: 7px;
			background: url(#{$url-img-common}/ico_quick_more_arrow.png) no-repeat 0 0;
		}
	}
}

.latest_product {
	padding: 13px 15px;
	border: 1px solid #ddd;
	border-radius: 7px;
	background: #fff;

	.latest_product_box {
		display: block;

		>.top {
			font-size: 14px;
			color: #666;
		}

		>.btm {
			margin-top: 7px;
			text-align: center;
			line-height: 1;

			>strong {
				font-size: 18px;
				color: #d70000;
			}
		}
	}

	.latest_product_btn {
		display: flex;
		margin-top: 8px;
		justify-content: center;

		>button {
			display: inline-flex;
			width: 31px;
			height: 25px;
			border: 1px solid #ddd;
			border-radius: 5px;
			align-items: center;
			justify-content: center;

			&::before {
				display: inline-block;
				content: '';
				background-position: 0 0;
				background-repeat: no-repeat;
			}

			&:not(:last-child) {
				margin-right: 2px;
			}
		}

		.btn_latest_product::before {
			width: 10px;
			height: 10px;
			background-image: url(#{$url-img-common}/ico_quick_product_more.png);
		}

		.btn_latest_prev::before {
			width: 7px;
			height: 12px;
			background-image: url(#{$url-img-common}/ico_quick_product_prev.png);
		}

		.btn_latest_next::before {
			width: 7px;
			height: 12px;
			background-image: url(#{$url-img-common}/ico_quick_product_next.png);
		}
	}
}

.product_pop_btn {
	margin-top: 10px;

	>ul {
		>li {
			&:not(:last-child) {
				margin-bottom: 5px;
			}

			>a {
				display: flex;
				height: 35px;
				border-radius: 5px;
				align-items: center;
				justify-content: center;
				font-size: 14px;
				color: #111;
			}
		}
	}

	.pdt_compare {
		background: #fae6a4;
	}

	.pdt_view {
		background: #ddd;
	}
}