.footer {
	border-top: 1px solid #cbcbcb;
	height: $footer-height;
	overflow: hidden;

	.container {
		padding: 35px 0 60px;
	}

	.sns_area {
		float: right;
		text-align: right;

		ul {
			margin-bottom: 20px;
			padding-top: 20px;
		}

		li {
			margin-left: 12px;
			display: inline-block;
		}

		p {
			font-size: 0.875em;
			color: #555;
		}
	}

	.copyright {
		padding-top: 10px;
		color: #b1b1b1;
		font-size: 0.875em;
		font-weight: 20;
	}

	.footer_cont {
		float: left;

		ul {
			li {
				margin-bottom: 5px;
				color: #555;
				font-size: 0.875em;
				font-weight: 300;

				&:last-child {
					padding-top: 5px;
				}

				strong {
					font-weight: 400;
				}
			}
		}
	}

	.footer_menu {
		margin-bottom: 40px;

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;

			li {
				flex: 1 0 auto;
				text-align: center;
				position: relative;

				&:first-child {
					flex: 0 0 auto;
					text-align: left;
					padding-right: 32px;

					&:before {
						display: none;
					}
				}

				&:last-child {
					flex: 0 0 auto;
					text-align: right;
					padding-left: 32px;
				}

				&:before {
					position: absolute;
					left: 0;
					top: 50%;
					width: 1px;
					height: 10px;
					transform: translateX(-45%);
					background-color: #ddd;
					display: block;
					content: "";
				}

				a {
					font-size: 0.875em;
					color: #555;

					strong {
						font-weight: 500;
					}
				}
			}
		}
	}
}