.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.logo {
	position: absolute;
	left: 0;
	top: 9px;
}

.header_top {
	position: relative;
}

.util_menu {
	display: flex;
	padding: 25px 0 0 137px;

	>.l {
		margin-right: auto;
	}

	>.r {
		margin-left: auto;

		>.util_btn:not(:first-child) {
			margin-left: 6px;
		}
	}

	.box_user_login {
		>.user_name {
			display: inline-flex;
			position: relative;
			padding-left: 26px;
			background: url(#{$url-img-common}/ico_clover.png) no-repeat 0 50%;
			font-weight: 400;
			font-size: 13px;
			color: $gray;

			>strong {
				margin-right: 5px;
				font-weight: 600;
				color: #ff883a;
			}

			>.msg_alert {
				position: relative;
				width: 20px;
				height: 21px;
				margin-left: 7px;
				background: url(#{$url-img-common}/ico_alert.png) no-repeat 0 0;

				>span {
					display: block;
					position: absolute;
					left: 10px;
					top: -4px;
					min-width: 17px;
					padding: 2px 3px;
					border-radius: 50%;
					background: #ff883a;
					line-height: 1;
					text-align: center;
					font-size: 13px;
					color: #fff;
				}
			}
		}

		>.util_btn {
			vertical-align: top;
		}

		>.connect_time {
			margin: 0 5px 0 18px;
			align-items: center;
			font-family: NotoSansKR;

			>span {
				&::before {
					display: inline-block;
					content: '';
					width: 15px;
					height: 15px;
					margin: 7px 3px 0 0;
					background: url(#{$url-img-common}/ico_time.png) no-repeat 0 0;
					vertical-align: top;
				}

				>strong {
					color: #f46e16;
				}

				>button {
					color: $gray;
				}

				>strong,
				>button {
					font-weight: 200;
				}
			}
		}
	}

	.util_btn {
		display: inline-flex;
		border: 1px solid #ddd;
		border-radius: 6px;
		background-color: #fff;

		>a,
		>span {
			display: block;
			position: relative;
			height: 28px;
			padding: 0 10px;
			line-height: 27px;
			font-size: 13px;
			color: $gray;
		}

		>a {
			>span {
				position: relative;
				z-index: 1;
			}

			&.on,
			&:hover,
			&:focus {
				color: $black;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}

			&:not(:last-child) {
				border-right: 1px solid #ddd;
			}

			&:first-child {
				&::before {
					border-radius: 6px 0 0 6px;
				}
			}

			&:last-child {
				&::before {
					border-radius: 0 6px 6px 0;
				}
			}
		}

		.btn_icon {
			>span {
				&::before {
					display: inline-block;
					content: '';
					width: 11px;
					height: 15px;
					margin: 6px 4px 0 0;
					vertical-align: top;
				}
			}
		}

		.btn_mypg>span::before {
			background: url(#{$url-img-common}/ico_mypage.png) no-repeat;
		}

		.btn_logout>span::before {
			background: url(#{$url-img-common}/ico_logout.png) no-repeat;
		}
	}

	.bg_type1 {
		a {

			&.on,
			&:hover,
			&:focus {
				&::before {
					left: -1px;
					top: -1px;
					border: 1px solid $primary;
					background: $primary;
				}
			}
		}
	}

	.bg_type2 {
		a {

			&.on,
			&:hover,
			&:focus {
				&::before {
					left: 0;
					top: 0;
					background: $bg-lightprimary;
				}

			}
		}
	}

	.box_single>a::before {
		border-radius: 6px !important;
	}

	.global-list {
		display: inline-flex;
		margin-left: 14px;
		padding-right: 8px;

		>a {
			display: block;
			position: relative;
			padding-right: 12px;
			line-height: 1;
			font-weight: 400;
			font-size: 13px;
			color: $gray;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 5px;
				width: 7px;
				height: 4px;
				background: url(#{$url-img-common}/ico_global_arrow.png) no-repeat 0 0;
			}
		}
	}
}

.gnb {
	height: 81px;
	padding: 28px 160px 0 0;

	>ul {
		display: flex;

		>li {
			flex: 1 1 0;

			>a {
				display: block;
				position: relative;
				height: 49px;
				text-align: center;
				line-height: 1;
				font-weight: 400;
				font-size: 20px;

				&::before {
					content: '';
					position: absolute;
					bottom: -1px;
					left: 50%;
					z-index: 1000;
					transform: translateX(-50%);
					width: 0;
					height: 2px;
					overflow: hidden;
					background: #101010;
					transition: .2s ease-in-out;
				}

				&.current,
				&:focus,
				&:hover {
					&::before {
						width: 45px;
					}


				}
			}
		}
	}

	.layer_memu_box {
		display: none;
		position: absolute;
		left: 0;
		top: 133px;
		z-index: 100;
		width: 100%;
		border-top: 1px solid #eee;
		background: $white;
		box-shadow: 0 10px 16px 0 #f9f9f9;

		.menu_wrap {
			width: 1200px;
			max-height: calc(100vh - 125px);
			overflow-y: auto;
			margin: 0 auto;
			padding: 50px 0 75px;
		}

		.menu_list {
			display: inline-block;
			width: calc(98.8% / 5);
			margin-top: 60px;
			padding-right: 20px;
			vertical-align: top;

			>.tit,
			>strong {
				display: block;
				margin-bottom: 11px;
				line-height: 1;
				font-weight: 400;
				font-size: 20px;
				color: $black;
			}

			>ul {
				>li {
					>a {
						display: inline-block;
						word-break: keep-all;
						line-height: 1.4;

						&:hover,
						&:focus {
							text-decoration: underline;
							color: $darkprimary;
						}
					}

					&:not(:last-child) {
						margin-bottom: 5px;
					}
				}
			}

			&:nth-child(-n+5) {
				margin-top: 0;
			}
		}
	}

	.open {
		display: block;
	}
}

.btn_header_search {
	position: absolute;
	right: calc((100% - 1200px) / 2 + (60px));
	top: 80px;

	>button {
		width: 19px;
		height: 20px;
		background: url(#{$url-img-common}/ico_search_bold.png) no-repeat 0 0;
		vertical-align: top;
	}
}

.btn_allmenu {
	position: absolute;
	right: calc((100% - 1200px) / 2);
	top: 80px;

	>button {
		width: 20px;
		height: 18px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		vertical-align: top;
	}
}

.btn_allmenu i {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: $black;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

// .btn_allmenu i:nth-child(1) {
//   top: 0px;
// }

// .btn_allmenu i:nth-child(2), .btn_allmenu i:nth-child(3) {
//   top: 8px;
// }

// .btn_allmenu i:nth-child(4) {
//   top: 16px;
// }

// .btn_allmenu.open i:nth-child(1) {
//   top: 18px;
//   width: 0%;
//   left: 50%;
// }

// .btn_allmenu.open i:nth-child(2) {
//   -webkit-transform: rotate(45deg);
//   -moz-transform: rotate(45deg);
//   -o-transform: rotate(45deg);
//   transform: rotate(45deg);
// }

// .btn_allmenu.open i:nth-child(3) {
//   -webkit-transform: rotate(-45deg);
//   -moz-transform: rotate(-45deg);
//   -o-transform: rotate(-45deg);
//   transform: rotate(-45deg);
// }

// .btn_allmenu.open i:nth-child(4) {
//   top: 18px;
//   width: 0%;
//   left: 50%;
// }

.btn_allmenu i:nth-child(1) {
	top: 0px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.btn_allmenu i:nth-child(2) {
	top: 8px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.btn_allmenu i:nth-child(3) {
	top: 16px;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

.btn_allmenu.open i:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 1px;
	left: 3px;
}

.btn_allmenu.open i:nth-child(2) {
	width: 0;
	opacity: 0;
}

.btn_allmenu.open i:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 15px;
	left: 3px;
}