.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	background-color: #fff;

	.scrolled & {
		box-shadow: 5px 0 15px rgba(#000, .05);
	}
}

.titlebar {
	height: $titlebar-height;
	display: flex;
	justify-content: space-between;

	.left,
	.right {
		padding: 0 3px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.btn_icon {
		position: relative;
		padding: 0 12px;
		margin: 0;
		height: $titlebar-height;
	}

	.right {
		.btn_icon {
			+.btn_icon {
				margin-left: -4px;
			}
		}

		.alert_badge {
			position: absolute;
			transform: translateX(55%);
			top: 15px;
			min-width: 12px;
			height: 12px;
			padding: 0 3px;
			border-radius: 6px;
			background-color: #ff883a;
			text-align: center;
			font-size: 9px;
			line-height: 12px;
			color: #fff;
		}
	}

	.tit_page {
		color: $black;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -0.05em;
	}

	.gnb {
		display: flex;
		margin: 0 -7px;
		font-size: 16px;
		line-height: 1;

		li {
			margin: 0 7px;

			&.on {
				a {
					font-weight: 500;

					&:after {
						left: -2px;
						right: -2px;
					}
				}
			}
		}

		a {
			position: relative;
			padding: 2px 0;

			&:after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 50%;
				right: 50%;
				height: 2px;
				background-color: $primary;
				transition-duration: .3s;
				transition-property: background-color, left, right;
			}
		}
	}
}

.titlebar_type3 {
	background-color: #383838;

	.tit_page {
		color: #fff;
		font-size: 16px;
		line-height: 20px;
	}
}