/* 헤더 컨테이너 */
.header {
	// border-bottom: 1px solid #eee;
	background-color: #fff;

	.titlebar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: $header-height;
		line-height: 1;
		padding-left: 14px;
		padding-right: 14px;
	}

	.left,
	.right {
		display: flex;
		align-items: center;
	}

	.btn_icon {
		width: 56px;
		height: 56px;
	}
}