.header {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: $header-height;
	border-bottom: 1px solid #eee;
	background-color: #fff;
}

.logo {
	position: absolute;
	left: 0;
	top: 9px;
}

.header_top {
	position: relative;
}

.util_menu {
	display: flex;
	padding: 25px 0 0 137px;

	>.l {
		margin-right: auto;
	}

	>.r {
		margin-left: auto;

		>.util_btn:not(:first-child) {
			margin-left: 6px;
		}
	}

	.box_user_login {
		>.user_name {
			display: inline-flex;
			position: relative;
			padding-left: 26px;
			background: url(#{$url-img-common}/ico_clover.png) no-repeat 0 50%;
			font-weight: 400;
			font-size: 13px;
			color: $gray;

			>strong {
				margin-right: 5px;
				font-weight: 600;
				color: #ff883a;
			}

			>.msg_alert {
				position: relative;
				width: 20px;
				height: 21px;
				margin-left: 7px;
				background: url(#{$url-img-common}/ico_alert.png) no-repeat 0 0;

				>span {
					display: block;
					position: absolute;
					left: 10px;
					top: -4px;
					min-width: 17px;
					padding: 2px 3px;
					border-radius: 50%;
					background: #ff883a;
					line-height: 1;
					text-align: center;
					font-size: 13px;
					color: #fff;
				}
			}
		}

		>.util_btn {
			vertical-align: top;
		}

		>.connect_time {
			margin: 0 5px 0 18px;
			align-items: center;
			font-family: NotoSansKR;

			>span {
				&::before {
					display: inline-block;
					content: '';
					width: 15px;
					height: 15px;
					margin: 7px 3px 0 0;
					background: url(#{$url-img-common}/ico_time.png) no-repeat 0 0;
					vertical-align: top;
				}

				>strong {
					color: #f46e16;
				}

				>button {
					color: $gray;
				}

				>strong,
				>button {
					font-weight: 200;
				}
			}
		}
	}

	.util_btn {
		display: inline-flex;
		border: 1px solid #ddd;
		border-radius: 6px;
		background-color: #fff;

		>a,
		>span {
			display: block;
			position: relative;
			height: 28px;
			padding: 0 10px;
			line-height: 27px;
			font-size: 13px;
			color: $gray;
		}

		>a {
			>span {
				position: relative;
				z-index: 1;
			}

			&.on,
			&:hover,
			&:focus {
				color: $black;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
				}
			}

			&:not(:last-child) {
				border-right: 1px solid #ddd;
			}

			&:first-child {
				&::before {
					border-radius: 6px 0 0 6px;
				}
			}

			&:last-child {
				&::before {
					border-radius: 0 6px 6px 0;
				}
			}
		}

		.btn_icon {
			>span {
				&::before {
					display: inline-block;
					content: '';
					width: 11px;
					height: 15px;
					margin: 6px 4px 0 0;
					vertical-align: top;
				}
			}
		}

		.btn_mypg>span::before {
			background: url(#{$url-img-common}/ico_mypage.png) no-repeat;
		}

		.btn_logout>span::before {
			background: url(#{$url-img-common}/ico_logout.png) no-repeat;
		}
	}

	.bg_type1 {
		a {

			&.on,
			&:hover,
			&:focus {
				&::before {
					left: -1px;
					top: -1px;
					border: 1px solid $primary;
					background: $primary;
				}
			}
		}
	}

	.bg_type2 {
		a {

			&.on,
			&:hover,
			&:focus {
				&::before {
					left: 0;
					top: 0;
					background: $bg-lightprimary;
				}

			}
		}
	}

	.box_single>a::before {
		border-radius: 6px !important;
	}

	.global-list {
		display: inline-flex;
		margin-left: 14px;
		padding-right: 8px;

		>a {
			display: block;
			position: relative;
			padding-right: 12px;
			line-height: 1;
			font-weight: 400;
			font-size: 13px;
			color: $gray;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 5px;
				width: 7px;
				height: 4px;
				background: url(#{$url-img-common}/ico_global_arrow.png) no-repeat 0 0;
			}
		}
	}
}

.gnb {
	height: 81px;
	padding-top: 28px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	.gnb_list {
		display: flex;
		width: calc(100% - 500px);

		>li {
			flex: 1 1 auto;

			>a {
				display: block;
				position: relative;
				height: 49px;
				text-align: center;
				line-height: 1;
				font-weight: 400;
				font-size: 20px;

				&::before {
					content: '';
					position: absolute;
					bottom: -1px;
					left: 50%;
					z-index: 1000;
					transform: translateX(-50%);
					width: 0;
					height: 2px;
					overflow: hidden;
					background: #101010;
					transition: .2s ease-in-out;
				}

				&.current,
				&:focus,
				&:hover {
					&::before {
						width: 45px;
					}


				}
			}
		}
	}

	.layer_memu_box {
		display: none;
		position: absolute;
		left: 0;
		top: 133px;
		z-index: 100;
		width: 100%;
		border-top: 1px solid #eee;
		background: $white;
		box-shadow: -6px 10px 17px -5px rgba(0, 0, 0, .1);

		.menu_wrap {
			width: 1200px;
			max-height: calc(100vh - 125px);
			overflow-y: auto;
			margin: 0 auto;
			padding: 50px 0 75px;
		}

		.menu_list {
			display: inline-block;
			width: calc(98.8% / 5);
			margin-top: 60px;
			padding-right: 20px;
			vertical-align: top;

			>.tit,
			>strong {
				display: block;
				margin-bottom: 11px;
				line-height: 1;
				font-weight: 400;
				font-size: 20px;
				color: $black;
			}

			>ul {
				>li {
					>a {
						display: inline-block;
						word-break: keep-all;
						line-height: 1.4;

						&:hover,
						&:focus {
							text-decoration: underline;
							color: $darkprimary;
						}
					}

					&:not(:last-child) {
						margin-bottom: 5px;
					}

					>ul {
						padding: 5px 0 5px 10px;

						>li {
							line-height: 24px;

							>a {
								position: relative;
								padding-left: 10px;
								font-size: 16px;
								line-height: 24px;

								&:before {
									content: '';
									position: absolute;
									left: 0;
									top: 12px;

									width: 3px;
									height: 3px;
									background-color: currentColor;
								}

								&:hover {
									color: $primary;
								}
							}
						}
					}
				}
			}

			&:nth-child(-n+5) {
				margin-top: 0;
			}
		}
	}

	.open {
		display: block;
	}

	.icon_menu {
		display: flex;
		margin-right: 205px;
		font-size: 18px;
		line-height: 1;
		font-weight: 400;

		li {
			margin-left: 30px;
		}

		.ico {
			margin-top: -2px;
			margin-right: 4px;
		}
	}
}

.btn_mybox {
	position: absolute;
	right: calc(50% - 600px + 120px);
	top: 84px;

	.btn {
		position: relative;
		vertical-align: top;
		overflow: visible;
	}

	.badge {
		position: absolute;
		right: -6px;
		top: -6px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: $primary;
		overflow: hidden;
	}
}

.btn_header_search {
	position: absolute;
	right: calc(50% - 600px + 60px);
	top: 84px;

	.btn {
		width: 19px;
		height: 20px;
		background: url(#{$url-img-common}/ico_search_bold.png) no-repeat 0 0;
		vertical-align: top;
	}
}

.btn_allmenu {
	position: absolute;
	right: calc(50% - 600px);
	top: 84px;

	.btn {
		width: 20px;
		height: 18px;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		vertical-align: top;
	}
}

.btn_allmenu i {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: $black;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.btn_allmenu i:nth-child(1) {
	top: 0px;
	transform-origin: left center;
}

.btn_allmenu i:nth-child(2) {
	top: 8px;
	transform-origin: left center;
}

.btn_allmenu i:nth-child(3) {
	top: 16px;
	transform-origin: left center;
}

.btn_allmenu.open i:nth-child(1) {
	transform: rotate(45deg);
	top: 1px;
	left: 3px;
}

.btn_allmenu.open i:nth-child(2) {
	width: 0;
	opacity: 0;
}

.btn_allmenu.open i:nth-child(3) {
	transform: rotate(-45deg);
	top: 15px;
	left: 3px;
}

.lookup_container {
	margin-top: -4px;
	padding: 25px 50px;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #ddd;
	background-color: #fff;
	border-radius: 0 0 15px 15px;
	box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05);

	.f_l {
		strong {
			font-size: 24px;
		}
	}

	.ico_search_inquire {
		vertical-align: text-top;

	}

	.btn_unfold {
		padding: 0 25px;
		border-radius: 20px;

		&.on {
			.ico {
				background-image: url("/resources/img/common/ico_arr_up_sm.png");
			}
		}
	}

	.lookup_list {
		padding: 10px 20px;
		display: none;

		&.on {
			display: block;
		}

		>li {
			&+li {
				padding-top: 15px;
			}
		}

		li {
			display: flex;

			.depth {
				flex: 0 0 auto;
				display: flex;
				align-items: center;

				.ico_paging_next {
					margin-top: 2px;
				}
			}

			&>ul {
				display: flex;
				flex: 1 1 100%;
				margin-left: 100px;

				li {
					flex: 0 1 25%;
					width: 25%;

					a {
						&:hover {
							color: $primary;
						}
					}
				}
			}
		}

	}
}