//
// Global variables
//

// 사이트 기본 설정

$mode: mobile !default; // responsive, mobile, tablet;

$url-img: "/resources/smart/img" !default;
$url-img-common: "/resources/smart/img/common" !default;

// COLORS
$white: #fff !default;
$lightgray: #999 !default;
$gray: #555 !default;
$darkgray: #333 !default;
$black: #111 !default;
$red: #D70000 !default;
$green: #007c5d !default;
$blue: #0069e1 !default;

$default: $black !default;
$primary: #FDC61C !default;
$darkprimary: #986800 !default;
$secondary: #f77120 !default;
$invalid: $red !default;
$valid: #009973 !default;

$bg-primary: $primary !default;
$bg-darkprimary: $darkprimary !default;
$bg-lightprimary: #FEF5E5 !default;

$bg-gray: #555 !default;
$bg-lightgray: #f6f6f6 !default;

$border-base: #ddd !default;
$border-light: #f2f2f2 !default;
$border-dark: #aaa !default;
$border-active: $default;

$btn_primary: $primary !default;
$placeholder-color: #959595;
$disabled-color: #c2c2c2;
$btn-xl-disable1: #FFF1BF !default;
$btn-xl-disable2: #eee !default;

// END COLORS

$colors: () !default;
$colors: map-merge(("default": $default,
		"white": $white,
		"primary": $primary,
		"darkprimary": $darkprimary,
		"invalid": $invalid,
		"valid": $valid,
		"red": $red,
		"gray": $gray,
		"lightgray": $lightgray,
		"darkgray": $darkgray,
	),
	$colors);

$dark-bg-colors: () !default;
$dark-bg-colors: map-merge(("bg_default": $default,
		"bg_darkprimary": $bg_darkprimary,
		// "bg_invalid": $invalid,
		// "bg_valid": $valid,
		"bg_gray": $bg-gray,
		"bg_red": $red,
		"bg_green": $green,
		"bg_blue": $blue,
	),
	$dark-bg-colors);

$light-bg-colors: () !default;
$light-bg-colors: map-merge(("bg_primary": $bg_primary,
		"bg_lightgray": $bg-lightgray,
		"bg_lightprimary": $bg-lightprimary,
		"bg_white": #fff,
	),
	$light-bg-colors);

// 글꼴
$letter-spacing: 0 !default;
$letter-spacing-mobile: 0 !default;

$font-family-base: // -apple-system,
// BlinkMacSystemFont,
'SpoqaHanSans',
// "Noto Sans KR",
// "Noto Sans CJK KR",
"NotoSansKR",
"malgun gothic",
Arial,
sans-serif !default;

$font-family-title: $font-family-base !default;
$font-family-mobile: $font-family-base;

// $font-size-xs: 12px !default;
$font-size-sm: 13px !default;
$font-size-base: 14px !default;
$font-size-lg: 16px !default;
$font-size-xl: 22px !default;
// $font-size-xxl: 40px !default;

// breakpoints
$grid-breakpoints: (xs: 0,
	sm: 576px,
	md: 768px,
	lg: 1025px,
	xl: 1200px,
	xxl: 1600px) !default;

//
// 그리드
// 

$min-width: 360px !default;
$max-width: 1200px !default;

// $header-height: 56px !default;
$titlebar-height: 56px !default;
$footer-height: 200px !default;

$spacing: 20px !default;
$spacing-lg: 50px;
$spacing-md: 15px;
// $spacing-sm: 10px;

$form-height: 35px;