#container {
	@include container;
	@include clearfix;

	@include media-breakpoint-up(lg) {
		display: flex;
		align-items: flex-start;
		// justify-content: space-between;
		padding-top: 40px;
		padding-bottom: 95px;

		#sidebar {
			flex: 0 0 auto;
			margin-right: 60px;
		}

		#content {
			flex: 1 1 auto;
		}

		#widget {
			flex: 0 0 auto;
			margin-left: 30px;
			margin-top: 35px;
		}
	}

	@include media-breakpoint-down(md) {
		padding-bottom: $spacing-lg;
	}
}