//
// Icons
// 아이콘 이미지 저장위치 : resources/img/common/
// @include ico('아이콘명', width, height);
//

// 레이아웃
@include ico('back', 28px, 28px);
@include ico('home', 28px, 28px);
@include ico('allmenu', 28px, 28px);
@include ico('leave', 28px, 28px);
@include ico('leave_white', 28px, 28px);
@include ico('allmenu_list', 18px, 15px);
@include ico('logout_bold', 19px, 17px);

// 공통 컴포넌트
@include ico('datepicker', 16px, 16px);
@include ico('arr_circle_right', 13px, 13px);

@include ico('help_sm', 12px, 12px);
@include ico('tip_sm', 11px, 11px);
@include ico('warning_sm', 12px, 12px);
@include ico('warning_sm_red', 12px, 12px);
@include ico('plus_sm', 9px, 9px);
@include ico('check_sm_gray', 10px, 7px);

@include ico('plus_md', 10px, 10px);
@include ico('reset', 20px, 20px);
@include ico('chevron_right_xs_bold', 4px, 6px);
@include ico('chevron_right_sm', 5px, 9px);
@include ico('chevron_right_md', 6px, 10px);
@include ico('chevron_down_md', 12px, 7px);
@include ico('chevron_left_xl', 9px, 15px);
@include ico('chevron_right_xl', 9px, 15px);
@include ico('chevron_primary_bold_left', 10px, 18px);
@include ico('chevron_primary_bold_right', 10px, 18px);

@include ico('close_sm', 12px, 12px);
@include ico('close', 15px, 15px);
@include ico('notice', 15px, 15px);
@include ico('notice_red', 15px, 15px);
@include ico('help', 15px, 15px);

// 다이렉트
@include ico('direct_step1', 26px, 26px);
@include ico('direct_step2', 26px, 26px);
@include ico('direct_step3', 26px, 26px);
@include ico('direct_step4', 26px, 26px);
@include ico('direct_step5', 26px, 26px);

@include ico('search_bank', 30px, 30px);
@include ico('teg8', 42px, 34px);
@include ico('teg9', 42px, 34px);

@include ico('share', 32px, 32px);

// 금융상품몰 메인
@include ico('settings_sm_gray', 17px, 16px);
@include ico('comment_white', 21px, 16px);
@include ico('alarm', 19px, 22px);
@include ico('turn_back', 20px, 20px);
@include ico('prd_share', 16px, 17px);


//메뉴
@include ico('share_md', 15.5px, 16.5px);
@include ico('customer_md', 17px, 15.5px);

//고객포털
@include ico('alert', 20px, 20.5px);
@include ico('like_sm', 16px, 15px);
@include ico('bank_sm', 15px, 15px);
@include ico('ins_sm', 13px, 15.5px);
@include ico('fund_sm', 15.5px, 12.5px);
@include ico('card_sm', 15px, 11px);
@include ico('best_only', 19.5px, 19.5px);
@include ico('best_sale', 17.5px, 19.5px);
@include ico('al_birth', 24.5px, 19px);
@include ico('al_grade', 23.5px, 19px);
@include ico('al_notice', 22.5px, 20.5px);