.paging {
	clear: both;
	margin-top: 38px;
	text-align: center;
	font-size: 0;

	a,
	strong {
		display: inline-block;
		min-width: 36px;
		height: 36px;
		line-height: 36px;
		margin: 0 3px;
		padding: 0 5px;
		vertical-align: middle;
		font-size: 16px;
		color: $gray;
	}

	a {
		color: #666;
		transition-duration: .2s;
		transition-property: box-shadow;

		&:hover,
		&:focus {
			font-weight: 400;
			color: $black;
		}

		&:first-child {
			margin-right: 18px;
		}

		&:last-child {
			margin-left: 18px;
		}
	}

	strong {
		font-weight: 400;
		font-size: 20px;
		color: $black;
	}

	.dir {
		width: 36px;
		height: 36px;
		overflow: hidden;
		border: 1px solid $border-base;
		line-height: 36px;
		text-indent: 50px;
		white-space: nowrap;
		border-radius: 6px;
		background: url(#{$url-img-common}/ico_paging_fst.png) no-repeat center center;


		&.fst {
			background-image: url(#{$url-img-common}/ico_paging_fst.png);

			&+a {
				margin: 0 18px 0 -10px;
			}
		}

		&.prev {
			background-image: url(#{$url-img-common}/ico_paging_prev.png);
		}

		&.next {
			margin-left: 18px;
			background-image: url(#{$url-img-common}/ico_paging_next.png);

			&+.lst {
				margin-left: 3px;
			}
		}

		&.lst {
			background-image: url(#{$url-img-common}/ico_paging_lst.png);
		}
	}
}