.tooltip {
	position: absolute;
	left: $spacing;
	right: $spacing;
	z-index: 450;
	padding: 14px 27px 14px 15px;
	border-radius: 8px;
	background-color: rgb(254, 245, 229);
	box-shadow: 1px 6px 18px 0px rgba(0, 0, 0, 0.3);
	margin-top: 13px;

	.btn_close_tooltip {
		position: absolute;
		right: 0;
		top: 5px;
		padding: 15px;
	}
}