.error-page {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	@include media-breakpoint-up(md) {
		.wrapper_error {
			max-width: 800px;
			margin: 0 50px 50px;
		}

		.logo {
			padding: 0 15px;
		}

		.box {
			padding: 40px;
		}
	}

	@include media-breakpoint-down(sm) {
		.wrapper_error {
			max-width: 500px;
			padding: $mobile-spacing;
			word-break: keep-all;
			text-align: center;
		}

		.col_item {
			margin-top: 15px !important;
		}

		.artwork {
			margin-top: 10px;
			width: 100px;
		}
	}
}