/* 계좌 정보 박스 */
.acc_info_area {
	position: relative;
	padding: $spacing $spacing 0;
	margin-bottom: 15px;
	font-size: 15px;

	&.theme_light {
		.acc_box {
			box-shadow: 2px 7px 20px 0px rgba(0, 0, 0, 0.08);
		}
	}

	&.theme_dark {

		.tit,
		.acc_num,
		.balance_area,
		.acc_box_footer .btn {
			color: #fff !important;
		}

		.ico_submenu {
			background-image: url(#{$url-img-common}/ico_submenu_white.png);
		}
	}

	.bg {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: 177px;
		z-index: -1;

		transition-duration: .3s;
		transition-property: background-color;
	}

	.acc_box {
		display: flex;
		flex-direction: column;
		position: relative;
		border-radius: 12px;
		padding: 20px;

		transition-duration: .3s;
		transition-property: background-color;
	}

	.acc_box_header {
		flex: 0 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.info {
			flex: 1 1 auto;

			.tit {
				font-size: 15px;
				font-weight: normal;
				letter-spacing: -0.025em;
				line-height: 1.2;
				word-break: break-all;
			}

			.acc_num {
				margin-top: 2px;
				font-size: 12px;
				color: #666;
			}
		}

		.toolbar {
			flex: 0 0 auto;
			margin-left: 5px;
		}
	}

	.acc_box_body {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 0 15px;
		text-align: center;
		font-size: 13px;
		line-height: 1;

		&.box_round {
			padding: 22px 0;
			border-radius: 6px;
		}

		.balance_num {
			font-size: 28px;
			font-weight: bold;
		}

		.txt_xl {
			font-size: 23px;
			font-weight: normal;
		}

		.add_quick {
			display: none;
			margin-top: 8px;
			margin-bottom: -2px;

			>* {
				vertical-align: middle;
				margin: 2px;
			}

			.btn_sm {
				padding: 0 10px;
			}
		}
	}

	.acc_box_footer {
		flex: 0 0 auto;
		padding-top: 20px;

		.btn_area {
			text-align: center;
			display: flex;

			.btn {
				display: block;
				flex: 1 1 20%;
				font-weight: 500;
				font-size: 15px;
				color: $default;

				+.btn {
					&:before {
						content: '';
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 1px;
						height: 17px;
						background-color: #959595;
					}
				}
			}
		}
	}

	&_home {
		.bg {
			background-color: #fffbef;

			&_biz_default {
				background-color: #e9f2fc;
			}

			&.biz_lightblue {
				background-color: #ebf4fe;
			}
		}

		.acc_box {
			background-color: #fff;
		}
	}

	&_deposit {
		.bg {
			background-color: #fffbef;
		}

		.acc_box {
			// height: 233px;
			background-color: #aae706;
		}

		&.biz {
			.bg {
				background-color: #e5f1ff;
			}

			.acc_box {
				background-color: #b2cff0;
			}
		}
	}

	&_card {
		.bg {
			background-color: #e5f1ff;
		}

		.acc_box {
			background-color: #b2cff0;
		}
	}

	&_fund {
		.bg {
			background-color: #ebfbf7;
		}

		.acc_box {
			background-color: #9ddece;
		}

		.acc_box_body {
			background-color: #ebfbf7;
		}

		.point_updown {
			>* {
				vertical-align: middle;
			}
		}

		.invest_principal {
			display: flex;
			justify-content: center;
			margin-top: 10px;

			dt {
				margin-right: 10px;
			}
		}

		&.biz {
			.bg {
				background-color: #e5f1ff;
			}

			.acc_box {
				background-color: #b2cff0;
			}

			.acc_box_body {
				background-color: #ebf4fe;
			}
		}
	}

	&_openbanking {
		.bg {
			background-color: #f2eafe;
		}

		.acc_box {
			background-color: #d7c8f5;
		}

		.acc_box_header {
			position: relative;
			padding-left: 46px;

			.emblem {
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 36px;
				height: 36px;
				background-color: #fff;
				border-radius: 50%;
				overflow: hidden;

				img {
					width: 23px;
					height: 23px;
					object-fit: cover;
				}
			}
		}

		.btn_acc_view {
			line-height: 28px;
		}
	}

	&_en_home {
		.bg {
			height: 448px;
			background-color: #e5f2ff;
		}

		.acc_box {
			background-color: #3a82ca;
			color: #fff;
		}

		.acc_num {
			color: #fff !important;
		}

		.acc_box_footer {
			.btn_area {
				.btn {
					color: #fff;
					font-size: 16px;
					font-weight: normal;

					+.btn {
						&:before {
							background-color: #fff;
						}
					}
				}
			}
		}
	}
}