//
// Buttons
// 

.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;

	font-family: $font-family-base;
	font-weight: normal;

	+.btn {
		margin-left: 1px;
	}

	+.btn_lg,
	+.btn_xl {
		margin-left: 6px;
	}

	.ico {
		flex: 0 0 auto;
		margin-top: 1px;

		&:first-child {
			margin-right: 5px;
		}

		&:only-child {
			margin-left: 0;
			margin-right: 0;
		}
	}

	.ico_l,
	.ico_r {
		position: absolute;
	}

	.ico_l {
		left: 20px;
	}

	.ico_r {
		right: 20px;
	}

	*+.ico {
		margin-left: 5px;
	}

	&[disabled],
	&.btn_disabled {
		opacity: .3;
	}
}

// 크기
.btn_xs,
.btn_sm,
.btn_md,
.btn_lg,
.btn_xl {
	border: 1px solid transparent;
	// border-radius: 6px;
}

.btn_xs {
	min-width: 40px;
	height: 20px;
	padding: 0 10px;
	font-size: 10px;
	font-weight: 500;
	border-radius: 4px;
}

.btn_sm {
	min-width: 50px;
	height: 25px;
	padding: 0 15px;
	font-size: 12px;
	font-weight: 500;
	border-radius: 4px;
}

.btn_md {
	min-width: 75px;
	height: $form-height;
	padding: 0 18px;
	font-size: 14px;
	font-weight: 500;
	border-radius: 4px;
}

.btn_lg {
	height: 55px;
	font-size: 16px;
	font-weight: 500;
	padding: 0 30px;
	border-radius: 8px;
}

.btn_xl {
	height: 60px;
	font-size: 16px;
	font-weight: 500;
	padding: 0 30px;
	letter-spacing: -0.05em;
}

.btn_icon {
	min-width: auto;

	.ico {
		margin: 0 !important;
	}
}

// 형태
// .btn_block {
// 	display: flex;
// 	width: 100%;
// }

.btn_round {
	border-radius: 50px;
}

// 색상
.btn_default {
	color: $default;
	background-color: #e5e5e5;
	// border-color: #ddd;
}

.btn_darkgray {
	color: #fff;
	background-color: #555;
}

.btn_primary {
	color: $default;
	background-color: $btn_primary;
}

.btn_outline_default {
	color: $default;
	border-color: #bbb;
	background-color: #fff;
}

.btn_outline_primary {
	color: $default;
	border-color: $primary;
	background-color: #fff;
}

.btn_shadow {
	color: $default;
	background-color: #fff;
	box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.06);
}

.btn_period {
	border: 1px solid #ddd;
	background: #fff;
	color: #555;
	font-weight: normal;
	min-width: auto;
	padding: 0;

	&.active {
		color: $default;
		border-color: currentColor;
	}
}

.btn_outline_darkgray {
	color: $default;
	border-color: #555;
	background-color: #fff;
}

.btn_period {
	border: 1px solid #ddd;
	background: #fff;
	color: #555;
	font-weight: normal;
	min-width: auto;
	padding: 0;

	&.active {
		color: $default;
		border-color: currentColor;
	}
}