//
// Buttons
// 

.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	vertical-align: middle;
	white-space: nowrap;
	overflow: hidden;

	font-family: $font-family-base;
	font-weight: normal;
	line-height: 1;

	+.btn {
		margin-left: 1px;
	}

	+.btn_lg,
	+.btn_xl {
		margin-left: 6px;
	}

	.ico {
		flex: 0 0 auto;

		&:only-child {
			margin-left: 0;
			margin-right: 0;
		}
	}

	&:disabled {
		opacity: .4;
	}
}

.btn_xs,
.btn_sm,
.btn_md {
	.ico {
		&:first-child {
			margin-right: 5px;
		}
	}

	*+.ico {
		margin-left: 5px;
	}
}

.btn_lg,
.btn_xl {
	.ico {
		margin-top: 2px;

		&:first-child {
			margin-right: 10px;
		}
	}

	*+.ico {
		margin-left: 10px;
	}
}

// 크기
.btn_xs,
.btn_sm,
.btn_md,
.btn_lg,
.btn_xl {
	border: 1px solid transparent;
	border-radius: 6px;
}

.btn_xs {
	height: 25px;
	padding: 0 8px;
	font-size: 12px;
	border-radius: 4px;
	font-weight: 200;
}

.btn_sm {
	min-width: 90px;
	height: 30px;
	padding: 0 16px;
	font-size: 13px;
	font-weight: 200;
	letter-spacing: -0.05em;
}

.btn_md {
	min-width: 60px;
	height: $form-height;
	padding: 0 15px;
	font-size: $font-size-base;
	font-weight: normal;
}

.btn_lg {
	min-width: 120px;
	height: 46px;
	padding: 0 30px;
	font-size: 16px;
	font-weight: normal;
}

.btn_xl {
	min-width: 150px;
	height: 56px;
	font-size: 18px;
	font-weight: 500;
	padding: 0 40px;
}

.btn_icon {
	min-width: auto;

	.ico {
		margin: 0 !important;
	}
}

// 형태
// .btn_block {
// 	display: flex;
// 	width: 100%;
// }

.btn_round {
	border-radius: 50px;
}

// 색상
.btn_default {
	color: #444;
	background-color: #eee;
	border-color: #ddd;
}

.btn_primary {
	color: $default;
	background-color: $btn_primary;
}

.btn_black {
	color: #fff;
	background-color: #111;
}

.btn_darkgray {
	color: #fff;
	background-color: #555;
}

.btn_outline_default {
	color: $black;
	border-color: #bbb;
	background-color: #fff;

	&.btn_sm {
		border-color: #ddd;
	}

	&.btn_xl {
		border-color: #001111;
	}
}

.btn_outline_lightgray {
	color: $black;
	border-color: #bbb;
	background-color: #f6f6f6;

	&.btn_sm {
		border-color: #ddd;
	}

	&.btn_xl {
		background-color: #eee;
	}
}

.btn_link {
	font-size: 13px;
	font-weight: normal;
	border-bottom: 1px solid currentColor;
}

.btn_search {
	min-width: auto;
	padding-left: 20px;
	padding-right: 25px;
}

.btn_more {
	min-width: 100px;
	height: 30px;
	padding: 0 16px;
	font-size: 13px;
	font-weight: 300;

	.ico {
		margin-left: 10px;
	}
}