$datepicker-border-color: #111;
$datepicker-width: 425px;

.datepicker {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	.tf_datepicker {
		padding-right: 45px;
	}

	.ui-datepicker-trigger,
	.btn {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 14px;
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			display: block;

			.tf_datepicker {
				width: 100% !important;
			}
		}
	}
}

#ui-datepicker-div {
	display: none;
	position: absolute;
	width: $datepicker-width;
	padding: 35px 20px 20px;
	border: 1px solid $datepicker-border-color;
	border-radius: 6px;
	font-size: 16px;
	line-height: 1;
	background-color: #fff;
	z-index: 1500 !important;

	.datepicker & {
		left: auto !important;
		top: auto !important;
	}

	caption {
		height: 0;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}

	table {
		table-layout: auto;
		width: 100%;
		border: 0px solid #000;
		text-align: center;
		color: $default;

		th {
			height: 30px;
			background: none;
			text-align: center;
			font-weight: normal;
		}

		td {
			height: 45px;
			padding: 0 !important;
			margin: 0;
			text-align: center;
			border: 0;
		}

		tbody {
			td {
				&.ui-datepicker-today {
					a {
						background-color: #666;
						color: #fff;
					}
				}

				a.ui-state-active {
					background-color: $primary;
					color: $default !important;
					font-weight: bold;
				}

				a {
					width: 39px;
					height: 39px;
					line-height: 39px;
					border-radius: 50%;
					display: block;
					margin: auto;
					color: $default;
					text-decoration: none;

					&:hover {
						background-color: $bg-lightgray;
					}

					&.ui-state-active {
						background-color: $primary !important;
						color: $default !important;
						font-weight: bold;
					}
				}
			}
		}
	}

	.ui-datepicker-title {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 25px;
		font-size: 26px;
		line-height: 45px;
		font-weight: 500;
		text-align: center;

		a {
			font-size: inherit;
		}

		select {
			font-size: inherit;
			font-weight: inherit;
			appearance: none;
			border: 0;

			&::-ms-expand {
				display: none;
			}

			option {
				font-size: 16px;
			}
		}

		.ui-datepicker-month {
			margin-left: 10px;
		}
	}

	.ui-datepicker-calendar {
		table-layout: fixed;

		th {
			font-size: 16px;
		}

		td {
			color: #999;

			a {
				color: $default;
			}
		}

		th,
		td {
			font-size: 14px;

			&:first-child {
				a {
					color: #ff883a;
				}
			}
		}
	}

	.ui-datepicker-prev,
	.ui-datepicker-next {
		margin-top: 6px;
		width: 36px;
		height: 36px;
		background: url(#{$url-img-common}/ico_cal_arr_left.png) no-repeat center center;
		text-indent: -9999px;
		text-align: left;

		overflow: hidden;

		// &:hover {
		// 	background-color: $primary;
		// }
	}

	.ui-datepicker-prev {
		float: left;
		margin-left: 50px;
	}

	.ui-datepicker-next {
		float: right;
		margin-right: 50px;
		background-image: url(#{$url-img-common}/ico_cal_arr_right.png);
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			// right: $mobile-spacing !important;
			// left: auto !important;

			left: 50% !important;
			margin-left: -$datepicker-width * 0.5 !important;
		}
	}
}