$datepicker-border-color: #111;
$datepicker-width: 425px;

.datepicker {
	position: relative;
	display: inline-block;
	vertical-align: middle;

	.tf_datepicker {
		padding-right: 45px;
	}

	.btn {
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0 14px;
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			display: block;

			.tf_datepicker {
				width: 100% !important;
			}
		}
	}
}

#inseq-datepicker {
	position: absolute;
	width: $datepicker-width;
	padding: 35px 20px 20px;
	border: 1px solid $datepicker-border-color;
	border-radius: 6px;
	font-size: 16px;
	line-height: 1;
	background-color: #fff;
	z-index: 1500;

	.datepicker & {
		left: auto !important;
		top: auto !important;
	}

	caption {
		height: 0;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}

	table {
		table-layout: auto;
		width: 100%;
		border: 0px solid #000;
		text-align: center;
		color: $default;

		th {
			height: 30px;
			background: none;
			text-align: center;
			font-weight: normal;
		}

		td {
			height: 45px;
			padding: 0 !important;
			margin: 0;
			text-align: center;
			border: 0;
		}

		tbody {
			td {

				a {
					width: 39px;
					height: 39px;
					line-height: 39px;
					border-radius: 50%;
					display: block;
					margin: auto;
					color: $default;
					text-decoration: none;

					&:hover {
						background-color: $bg-lightgray;
					}

					&.today {
						background-color: $primary;
						color: $default !important;
						font-weight: bold;
					}
				}
			}
		}
	}

	#tableCalendarTitle,
	#tableMonthTitle,
	#tableYearTitle {
		margin-bottom: 25px;

		td {
			font-size: 26px;
			font-weight: 500;

			a {
				font-size: inherit;
			}
		}
	}

	#tableCalendar {
		th {
			font-size: 16px;
		}

		// th,
		td {
			font-size: 14px;

			&:first-child {
				color: #ff883a;

				a {
					color: inherit;
				}
			}

			// &:last-child {
			// 	color: #0072cf;

			// 	a {
			// 		color: inherit;
			// 	}
			// }
		}
	}

	.prev,
	.next {
		margin-top: 2px;
		width: 36px;
		height: 36px;
		background: url(#{$url-img-common}/ico_cal_arr_left.png) no-repeat center center;
		text-indent: -9999px;
		text-align: left;

		overflow: hidden;

		// &:hover {
		// 	background-color: $primary;
		// }
	}

	.prev {
		float: left;
		margin-left: 50px;
	}

	.next {
		float: right;
		margin-right: 50px;
		background-image: url(#{$url-img-common}/ico_cal_arr_right.png);
	}

	.btn-cal-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: 5px;

		a {
			display: block;
			width: 20px;
			height: 20px;
			// opacity: .5;
			color: transparent;
			background: url(#{$url-img-common}/ico_close_sm.png) no-repeat center center;
		}
	}

	@if ($mode=='responsive') {
		@include media-breakpoint-down(sm) {
			// right: $mobile-spacing !important;
			// left: auto !important;

			left: 50% !important;
			margin-left: -$datepicker-width * 0.5 !important;
		}
	}
}