$datepicker-border-color: #111;
$datepicker-width: calc(100% - $spacing * 2);

// .datepicker {
// 	position: relative;
// 	display: inline-block;
// 	vertical-align: middle;

// 	.tf_datepicker {
// 		padding-right: 45px;
// 	}

// 	.btn {
// 		position: absolute;
// 		right: 0;
// 		top: 0;
// 		bottom: 0;
// 		padding: 0 14px;
// 	}

// 	@if ($mode=='responsive') {
// 		@include media-breakpoint-down(sm) {
// 			display: block;

// 			.tf_datepicker {
// 				width: 100% !important;
// 			}
// 		}
// 	}
// }

#inseq-datepicker {
	// position: fixed;
	// left: 0;
	// right: 0;
	// top: 0;
	// bottom: 0;
	// z-index: 1100;
	// width: $datepicker-width;
	// padding: 30px 0 0;
	font-size: 16px;
	line-height: 1;
	z-index: 1500;

	caption {
		height: 0;
		font-size: 0;
		line-height: 0;
		overflow: hidden;
	}

	table {
		table-layout: auto;
		width: 100%;
		border: 0px solid #000;
		text-align: center;
		color: $default;

		th {
			height: 30px;
			background: none;
			text-align: center;
			font-weight: normal;
		}

		td {
			height: 35px;
			padding: 0 !important;
			margin: 0;
			text-align: center;
			border: 0;
		}

		tbody {
			td {

				a {
					width: 29px;
					height: 29px;
					line-height: 29px;
					border-radius: 50%;
					display: block;
					margin: auto;
					color: $default;
					text-decoration: none;

					&:hover {
						background-color: $bg-lightgray;
					}

					&.today {
						background-color: $primary;
						color: $default !important;
						font-weight: bold;
					}
				}
			}
		}
	}

	#tableCalendarTitle,
	#tableMonthTitle,
	#tableYearTitle {
		margin-bottom: 15px;

		td {
			font-size: 20px;
			font-weight: 400;

			a {
				font-size: inherit;
			}
		}
	}

	#tableCalendar {
		th {
			font-size: 16px;
		}

		// th,
		td {
			font-size: 14px;

			&:first-child {
				color: $red;

				a {
					color: inherit;
				}
			}

			&:last-child {
				color: $blue;

				a {
					color: inherit;
				}
			}
		}
	}

	.prev,
	.next {
		margin-top: 2px;
		width: 28px;
		height: 28px;
		background: url(#{$url-img-common}/ico_cal_arr_left.png) no-repeat center center;
		background-size: 15px 15px;
		text-indent: -9999px;
		text-align: left;
		overflow: hidden;
	}

	.prev {
		float: left;
		margin-left: 40px;
	}

	.next {
		float: right;
		margin-right: 40px;
		background-image: url(#{$url-img-common}/ico_cal_arr_right.png);
	}

	.btn-cal-close {
		position: absolute;
		top: 0;
		right: 0;
		padding: $spacing;

		a {
			display: block;
			width: 15px;
			height: 15px;
			// opacity: .5;
			color: transparent;
			background: url(#{$url-img-common}/ico_close.png) no-repeat center center;
			background-size: 15px auto;
		}
	}

	margin-top: 15px;
	margin-left: -19px;

	@include media-breakpoint-down(sm) {
		// right: $mobile-spacing !important;
		// left: auto !important;
		margin-left: 0;
		left: $spacing !important;
		right: $spacing !important;
	}
}