// 
// Forms
// 

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear {
	display: none;
}

.tf,
.opt {
	max-width: 100%;
	height: $form-height;
	border: 1px solid $border-base;
	border-radius: 6px;
	padding: 5px 15px;
	line-height: $form-height - 12px;
	appearance: none;
	text-align: left;
	background: #fff;
	font-size: $font-size-base;
	vertical-align: middle;
	font-weight: 200;
	transition-duration: .2s;
	transition-property: color, border-color, box-shadow;
	will-change: color, border-color, box-shadow;
	color: #666;

	&::-ms-clear {
		display: none;
	}

	&.full {
		width: 100%;
	}

	&.inline {
		width: auto !important;
	}

	&:focus {
		// outline: 0;
		color: #333;
		position: relative;
		border-color: $black;
	}

	&::-webkit-input-placeholder {
		color: #666;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: #666 !important;
		opacity: 1;
	}

	&:disabled,
	&[readonly=readonly],
	&.readonly {
		background-color: #f3f3f3;
		opacity: 1;

		&::-ms-value {
			color: $disabled-color !important;
		}
	}

	&:disabled {
		color: #666;

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}

	&:read-only:not(select):not(button) {
		// color: $disabled-color;
		background-color: $bg-lightgray;
		opacity: 1;
	}

	// iOS 핀치줌 방지
	@include media-breakpoint-down(md) {
		font-size: 16px;
	}
}

.opt {
	max-width: 100%;
	line-height: normal;
	padding-right: 30px;
	background: #fff url(#{$url-img-common}/ico_arr_down_sm.png) no-repeat right 10px center;
	background-size: 13px auto;
	color: $darkgray;

	&::-ms-expand {
		display: none;
	}
}

.opt+.btn {
	margin-left: 6px;
}

textarea.tf {
	width: 100%;
	height: 200px;
	padding: 13px 20px;
	border: 1px solid $border-base;
	border-radius: 6px;
	line-height: inherit;
	resize: none;
	font-weight: 200;
	font-size: 16px;
	color: $darkgray;

	&:focus {
		color: #333;
		position: relative;
		border-color: $border-active;
	}

	&::placeholder {
		font-weight: 200;
		font-size: 16px;
		color: $darkgray;
	}
}

.check_item {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	>input[type=radio],
	>input[type=checkbox] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
	}

	>input[type=radio]+label {
		padding-left: 33px;
		background-position: 0 0;
		background-repeat: no-repeat;
		background-image: url(#{$url-img-common}/ico_radio_default.png);
	}

	>input[type=radio]:checked+label {
		background-image: url(#{$url-img-common}/ico_radio_checked.png);
	}

	&.single {
		>input[type=radio]+label {
			display: inline-block;
			width: 24px;
			height: 24px;
			overflow: hidden;
			padding: 0;
			background: url(#{$url-img-common}/ico_radio_default.png) no-repeat 0 0;
			vertical-align: top;
			font-size: 0;
		}

		>input[type=radio]:checked+label {
			background-image: url(#{$url-img-common}/ico_radio_checked.png);
		}
	}

	&.square {
		>input[type=checkbox]+label {
			padding-left: 33px;
			background: url(#{$url-img-common}/ico_checkbox1_default.png) no-repeat 0 1px;
		}

		>input[type=checkbox]:checked+label {
			background-image: url(#{$url-img-common}/ico_checkbox1_checked.png);
		}

		&.single {
			>input[type=checkbox]+label {
				display: inline-block;
				width: 24px;
				height: 24px;
				overflow: hidden;
				padding: 0;
				background: url(#{$url-img-common}/ico_checkbox1_default.png) no-repeat 0 0;
				vertical-align: top;
				font-size: 0;
			}

			>input[type=checkbox]:checked+label {
				background-image: url(#{$url-img-common}/ico_checkbox1_checked.png);
			}
		}
	}

	&.circle {
		>input[type=checkbox]+label {
			padding-left: 33px;
			background: url(#{$url-img-common}/ico_checkbox2_default.png) no-repeat 0 0;
		}

		>input[type=checkbox]:checked+label {
			background-image: url(#{$url-img-common}/ico_checkbox2_checked.png);
		}
	}

	>label {
		padding-bottom: 2px;
		cursor: pointer;
		color: $darkgray;
	}
}

.check_item+.check_item {
	margin-left: 26px;
}

.form_group {
	// position: relative;
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	.datepicker,
	.tf,
	.opt,
	.selectbox_wrap {
		display: table-cell;
		width: 100% !important;
	}

	.form_addon {
		display: table-cell;
		width: 1%;
		padding-left: 10px;
		vertical-align: middle;

		&+.tf {
			margin-left: 9px;
			border-right: 1px solid $border-base;
		}
	}

	@include media-breakpoint-down (md) {
		max-width: none !important;
	}
}

.form_row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.txt_item {
		flex: 0 0 auto;
		padding: 0 10px;
	}

	.tf_item {

		+.tf_item {
			margin-left: 10px;
		}

		.tf {
			width: 100%;
		}
	}

	@include media-breakpoint-up(lg) {
		.tf_item {
			display: block;
			flex: 0 0 auto;
		}
	}

	@include media-breakpoint-down(md) {
		max-width: none !important;

		.txt_item {
			padding: 0 5px;
		}

		.tf_item {
			flex: 1 1 10%;

			&.md-full {
				flex: 1 1 100%;
				margin: 15px 0 0 !important;
				flex-basis: 100%;
				width: 100%;
			}
		}

	}
}

.form_group_file {
	display: block;
	max-width: 500px;

	label {
		display: inline-block;
	}

	.form-file {
		display: none;
	}

	.tf {
		display: inline-block;
		margin: 0 .05rem;
		max-width: calc(100% - 1.64rem);
	}
}

// 입력폼 관련 컴포넌트
.txt_guide,
p.txt_guide {
	// position: relative;
	// padding-left: 1em;
	color: $darkprimary;
	font-size: 14px;
	margin: 10px 0 0;
}

.req {
	color: $darkprimary;
	vertical-align: middle;

	// @include media-breakpoint-up(lg) {
	// 	position: absolute;
	// 	margin-left: -11px;
	// }
}

.selectbox_wrap {

	&.selectbox_board {
		min-width: 120px;
		height: 29px;

		dt a {
			border: 0;

			>span {
				height: 29px;
				line-height: 1;

				&::after {
					top: 5px;
				}
			}
		}

		&.active {
			dt a {
				border: 0;
			}

			dd {
				top: 29px;

				>ul {
					>li {
						&:first-child>a {
							border-top-color: #111;
						}

						>a {
							>span {
								height: 35px;
								line-height: 35px;
							}
						}
					}
				}
			}
		}
	}

	&.selectbox_sm {
		height: 32px;

		dt a {
			height: 32px;
			font-size: 14px;
			color: $darkgray;

			>span {
				height: 32px;
				margin: 0 45px 0 15px;
				line-height: 30px;

				&::after {
					top: 13px;
				}
			}
		}

		&.active {
			dt a {
				border-radius: 6px 6px 0 0;
			}

			dd {
				top: 31px;
				font-size: 14px;

				a span {
					height: 32px;
					line-height: 32px;
				}
			}
		}
	}

	position: relative;
	display: inline-block;
	height: 46px;
	text-align: left;
	z-index: 99;
	vertical-align: middle;

	dl {
		position: relative;
	}

	dt a {
		display: block;
		border: 1px solid $border-base;
		border-radius: 6px;
		background: $white;

		>span {
			display: block;
			margin: 0 40px 0 15px;
			height: 44px;
			line-height: 44px;
			color: $darkgray;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 20px;
				right: 15px;
				width: 13px;
				height: 7px;
				background: url(#{$url-img-common}/ico_arr_down_sm.png) no-repeat 0 0;
			}
		}
	}

	dd {
		display: none;
		position: absolute;
		left: 0;
		top: 45px;
		width: 100%;
		background: #fff;

		ul {
			max-height: 202px;
			overflow-y: auto;
			border: 1px solid $darkgray;
			border-top: 1px solid #eee;
			border-radius: 0 0 6px 6px;
		}

		a {
			display: block;
			background: $white;

			&:hover {
				background: #f3f3f3;

				>span {
					color: $darkgray;
				}
			}

			>span {
				color: #666;
			}
		}

		li {
			&:last-child a {
				border-radius: 0 0 5px 5px;
			}
		}

		a span {
			display: block;
			margin: 0 27px 0 15px;
			height: 50px;
			line-height: 50px;
		}

		li.active a {
			background: #f3f3f3;

			>span {
				color: $darkgray;
			}
		}
	}

	&.error {
		dt a {
			border-color: #d70000;
		}
	}

	&.active {
		z-index: 100;

		dd {
			display: block;
		}

		dt a {
			border: 1px solid #333;
			border-radius: 6px 6px 0 0;

			span {
				&:after {
					background: url(#{$url-img-common}/ico_arr_up_sm.png) no-repeat 0 0;
				}
			}
		}
	}

	&.disabled dt {
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
		}
	}

	&.disabled a {
		background: #f3f3f3;

		>span {
			color: #666;
		}
	}

	&.error a {
		//border: 1px solid #d70000;
	}
}

// .selectbox_wrap+.btn {
// 	margin-left: 6px;
// }

.btn_inline_box {
	display: inline-block;
	margin-left: 6px;
}

.selectbox_wrap+.selectbox_wrap {
	margin-left: 6px;
}

.btn_mouse_pwd {
	position: relative;
	display: inline-block;

	>input[type=text] {
		width: 358px;
		padding-right: 40px;
	}

	>button {
		position: absolute;
		right: 0;
		top: 0;
		width: 38px;
		height: 100%;
		background: url(#{$url-img-common}/ico_mouse.png) no-repeat 50% 50%;
	}
}

.trans_money {
	>input[type=text] {
		width: 358px;
	}

	>.btn_trans_money {
		margin-top: 10px;

		>.btn_default {
			border-color: $black;
		}
	}
}

.mulit_date_box {
	>.btn_date {
		margin-bottom: 10px;

		>.btn_default {
			border-color: $black;
		}
	}
}

.datepicker_box {
	>span:first-child+.datepicker {
		position: relative;
		margin-left: 27px;

		&::before {
			content: '';
			position: absolute;
			left: -20px;
			top: 50%;
			width: 11px;
			height: 1px;
			margin-top: -1px;
			background: $border-base;
		}
	}

	input[type=text] {
		width: 170px;
	}
}

.phone_number {
	display: inline-block;

	>div {
		display: inline-block;

		&:not(:first-child) {
			position: relative;
			margin-left: 27px;
		}

		&:nth-child(2),
		&:nth-child(3) {
			&::before {
				content: '';
				position: absolute;
				left: -20px;
				top: 50%;
				width: 11px;
				height: 1px;
				margin-top: -1px;
				background: $border-base;
			}
		}
	}
}

.transfer_day {
	display: inline-block;
	margin-left: 26px;

	>.selectbox_wrap {
		margin-right: 14px;
	}
}

.address_form {

	>.add1,
	>.add2 {
		margin-top: 10px;
	}
}

input.error {
	border-color: #d70000;
}

.error_info {
	margin-top: 10px;
	line-height: 1;
	font-size: 14px;
	color: #d70000;
}

// 토글형 체크박스
.check_switch {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	font-size: 16px;
	font-weight: 400;

	label {
		position: relative;
		display: inline-flex;
		align-items: center;
		min-width: 85px;
		border-radius: 18px;
		min-height: 37px;
		text-align: center;
		background-color: #eee;
		padding-right: 18px;
		padding-left: 32px;

		color: #555;
		white-space: nowrap;

		transition-duration: .3s;
		transition-property: background-color;

		&:after {
			content: '';
			position: absolute;
			top: 8px;
			left: 5px;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background-color: #fff;
			transition-duration: .3s;
		}

		span {
			display: block;
			line-height: 23px;
		}

		.txt_checked {
			display: none;
			opacity: 0;
			transition-duration: .3s;
			transition-timing-function: ease-in;
		}
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked+label {
			color: #111;
			background-color: $bg_primary;
			padding-left: 18px;
			padding-right: 32px;

			&:after {
				left: calc(100% - 25px);
			}

			.txt_uncheck {
				display: none;
				opacity: 0;
			}

			.txt_checked {
				display: inline;
				opacity: 1;
			}
		}
	}
}

.check_switch_sm {
	label {
		min-width: 45px;
		height: 19px;

		&:after {
			left: 3px;
			top: 3px;
		}
	}

	input {
		&:checked+label {
			&:after {
				left: calc(100% - 16px);
			}
		}
	}
}