// 
// Forms
// 

.tf {
	max-width: 100%;
	height: $form-height;
	border: 1px solid $border-base;
	border-radius: 6px;
	padding: 5px 15px;
	line-height: $form-height - 12px;
	appearance: none;
	text-align: left;
	background: #fff;
	font-size: $font-size-base;
	vertical-align: middle;
	font-weight: 200;
	transition-duration: .2s;
	transition-property: color, border-color, box-shadow;
	will-change: color, border-color, box-shadow;
	color: $default;

	&::-ms-clear {
		display: none;
	}

	&.full {
		width: 100%;
	}

	&.inline {
		width: auto !important;
	}

	&:focus {
		position: relative;
		position: relative;
		border-color: #111;
		outline: none;
	}

	&::-webkit-input-placeholder {
		color: #666;
		opacity: 1;
	}

	&:-ms-input-placeholder {
		color: #666 !important;
		opacity: 1;
	}

	&:disabled,
	&[readonly=readonly],
	&.readonly {
		background-color: #f3f3f3;
		opacity: 1;

		&::-ms-value {
			color: $disabled-color !important;
		}
	}

	&:disabled {
		color: #666;

		&:hover,
		&:focus {
			box-shadow: none;
		}
	}

	&.error {
		border-color: $invalid;
	}

	&:read-only:not(select):not(button) {
		background-color: #eee;
	}
}

textarea.tf {
	width: 100%;
	height: auto;
	padding: 13px 20px;
	border: 1px solid $border-base;
	border-radius: 6px;
	line-height: inherit;
	resize: none;
	font-weight: 200;
	font-size: 16px;
	color: $darkgray;

	&:focus {
		position: relative;
	}

	&::placeholder {
		font-weight: 200;
		font-size: 16px;
		color: $darkgray;
	}
}

.opt {
	position: relative;
	display: inline-block;
	text-align: left;
	height: $form-height;
	z-index: 99;
	vertical-align: middle;

	dl {
		position: relative;
	}

	dt {
		a {
			height: $form-height;
			color: $darkgray;
			display: block;
			border: 1px solid $border-base;
			border-radius: 6px;
			background: $white;

			>span {
				display: block;
				margin: 0 40px 0 15px;
				height: $form-height - 2;
				line-height: $form-height - 2;
				color: $darkgray;

				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 15px;
					right: 15px;
					width: 13px;
					height: 7px;
					background: url(#{$url-img-common}/ico_arr_down@2x.png) no-repeat 0 0;
					background-size: 13px auto;
				}
			}
		}
	}

	dd {
		display: none;
		position: absolute;
		left: 0;
		top: 45px;
		width: 100%;
		background: #fff;

		ul {
			max-height: 202px;
			overflow-y: auto;
			border: 1px solid $darkgray;
			border-top: 1px solid #eee;
			border-radius: 0 0 6px 6px;
		}

		a {
			display: block;
			background: $white;

			&:hover {
				background: #f3f3f3;

				>span {
					color: $darkgray;
				}
			}

			>span {
				color: #666;
			}
		}

		li {
			&:last-child a {
				border-radius: 0 0 5px 5px;
			}
		}

		a span {
			display: block;
			margin: 0 27px 0 15px;
			height: 50px;
			line-height: 50px;
		}

		li.active a {
			background: #f3f3f3;

			>span {
				color: $darkgray;
			}
		}
	}

	&.active {
		z-index: 100;

		dd {
			display: block;
			top: $form-height - 1;

			a {
				span {
					height: $form-height;
					line-height: $form-height;
				}
			}
		}

		dt {
			a {
				border: 1px solid #333;
				border-radius: 6px 6px 0 0;

				span {
					&:after {
						transform: rotate(180deg);
					}
				}
			}
		}
	}

	&.error {
		dt a {
			border-color: #d70000;
		}
	}

	&.disabled {
		a {
			background: #f3f3f3;

			>span {
				color: #666;
			}
		}
	}
}

.error_info {
	margin-top: 10px;
	line-height: 1;
	color: $invalid;
}

.check_item {
	display: inline-block;
	position: relative;
	vertical-align: middle;

	+.check_item {
		margin-left: 26px;
	}

	>input[type=radio],
	>input[type=checkbox] {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;
		@include label-focus;
	}

	label {
		line-height: 20px;
		display: inline-block;
		vertical-align: top;
		background-size: 20px 20px;
		background-position: 0 0;
		border-radius: 3px;
		background-repeat: no-repeat;
	}

	>input[type=checkbox] {
		+label {
			padding-left: 26px;
			background-image: url(#{$url-img-common}/ico_checkbox_default@2x.png);
		}

		&:checked {
			+label {
				background-image: url(#{$url-img-common}/ico_checkbox_checked@2x.png);
			}
		}

		&:disabled {
			+label {
				background-image: url(#{$url-img-common}/ico_checkbox_disabled@2x.png);
			}
		}
	}

	>input[type=radio] {
		+label {
			padding-left: 26px;
			background-image: url(#{$url-img-common}/ico_radio_default@2x.png);
		}

		&:checked {
			+label {
				background-image: url(#{$url-img-common}/ico_radio_checked@2x.png);
			}
		}

		&:disabled {
			+label {
				background-image: url(#{$url-img-common}/ico_radio_disabled@2x.png);
			}
		}
	}

	&.single {
		>input[type=checkbox] {
			+label {
				width: 20px;
				height: 20px;
				padding: 0;
				vertical-align: top;
				font-size: 1px;
				color: transparent;
				white-space: nowrap;
			}
		}

		>input[type=radio] {
			+label {
				display: inline-block;
				width: 20px;
				height: 20px;
				overflow: hidden;
				padding: 0;
				background-image: url(#{$url-img-common}/ico_radio_default@2x.png);
				vertical-align: top;
				font-size: 0;
			}

			&:checked+label {
				background-image: url(#{$url-img-common}/ico_radio_checked@2x.png);
			}
		}
	}

	>label {
		padding-bottom: 2px;
		cursor: pointer;
		color: $darkgray;
	}

	&.type_btn {
		+.type_btn {
			margin-left: 4px;
		}

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			height: $form-height;
			font-size: 14px;
			border-radius: 4px;

			min-width: 60px;
			padding: 0 10px !important;
			border: 1px solid #ddd;
			background: #fff !important;
			color: #555;
			font-weight: normal;
		}

		input:checked+label {
			color: $default;
			font-weight: 500;
			border-color: currentColor;
		}
	}

	&.type_btn_sm {
		+.type_btn_sm {
			margin-left: 4px;
		}

		label {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 25px;
			font-size: 12px;
			border-radius: 4px;

			min-width: 60px;
			padding: 0 10px !important;
			border: 1px solid #ddd;
			background: #fff !important;
			color: #555;
			font-weight: normal;
		}

		input:checked+label {
			color: $default;
			font-weight: 500;
			border-color: currentColor;
		}
	}

	&.type_btn_round {
		label {
			display: flex;
			align-items: center;
			justify-content: center;

			height: 46px;
			font-size: 16px;
			border-radius: 23px;

			border: 1px solid #ddd;
			background: #fff !important;
			color: #555;
			font-weight: normal;
			min-width: auto;
			padding: 0 !important;
		}

		input:checked+label {
			color: $default;
			font-weight: 500;
			border-color: #111;
		}
	}
}

.form_group {
	// position: relative;
	display: table;
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	.datepicker,
	.tf,
	.opt,
	.selectbox_wrap {
		display: table-cell;
		width: 100% !important;
	}

	.form_addon {
		display: table-cell;
		width: 1%;
		padding-left: 10px;
		vertical-align: middle;

		&+.tf {
			margin-left: 9px;
			border-right: 1px solid $border-base;
		}
	}

	@include media-breakpoint-down (md) {
		max-width: none !important;
	}
}

.req {
	color: transparent;
	vertical-align: top;
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: $orange;
}

.btn_inline_box {
	display: inline-block;
	margin-left: 6px;
}

// 토글형 체크박스
.check_switch {
	display: inline-flex;
	vertical-align: middle;
	align-items: center;
	font-size: 14px;
	font-weight: normal;

	label {
		position: relative;
		display: inline-flex;
		align-items: center;
		min-width: 80px;
		border-radius: 18px;
		min-height: 26px;
		text-align: center;
		background-color: #eee;
		padding-right: 18px;
		padding-left: 32px;

		color: #555;
		white-space: nowrap;

		transition-duration: .3s;
		transition-property: background-color;

		&:after {
			content: '';
			position: absolute;
			top: 5px;
			left: 5px;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			background-color: #fff;
			transition-duration: .3s;
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
		}

		span {
			display: block;
			line-height: 23px;
		}

		.txt_checked {
			display: none;
			opacity: 0;
			transition-duration: .3s;
			transition-timing-function: ease-in;
		}
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:focus {
			+label {
				outline: 1px dotted #000;
			}
		}

		&:not(:focus-visible) {
			+label {
				outline: 0;
			}
		}

		&:checked+label {
			color: #111;
			background-color: $bg_primary;
			padding-left: 18px;
			padding-right: 32px;

			&:after {
				left: calc(100% - 25px);
			}

			.txt_uncheck {
				display: none;
				opacity: 0;
			}

			.txt_checked {
				display: inline;
				opacity: 1;
			}
		}
	}
}

// 입력요소 가로 배치
.input_items {
	display: flex;
	align-items: center;
	margin: 0 -5px;

	+.input_items {
		margin-top: 13px;
	}

	>* {
		margin: 0 5px;
	}

	.btn,
	.check_item {
		flex: 1 1 20%;
	}

	.btn_md {
		min-width: auto !important;
		height: $form-height;
		font-size: 14px;
		font-weight: 500;
		border-radius: 4px;
	}

	.text {
		flex: 0 0 auto;
	}

	.tf,
	.opt {
		flex: 1 1 auto;
	}

	.tf_email_id {
		width: 40%;
		flex: 0 0 auto;
	}

	.check_item {
		+.check_item {
			margin-left: 5px !important;
		}
	}
}