//
// Icons
// 아이콘 이미지 저장위치 : resources/img/common/
// @include ico2x('아이콘명', width, height);
//

.ico {
	@include ir;
}

// 헤더 내 아이콘
@include ico2x('lg_back', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_expand', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_collapse', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_leave', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_close', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_user', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_pdf', $lg-icon-size, $lg-icon-size);

@include ico2x('lg_user_white', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_expand_white', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_collapse_white', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_leave_white', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_close_white', $lg-icon-size, $lg-icon-size);
@include ico2x('lg_doc_white', $lg-icon-size, $lg-icon-size);

// 공통 컴포넌트
@include ico2x('arr_down', 13px, 7px);
@include ico2x('arr_down_white', 13px, 7px);
@include ico2x('arr_left_double', 10px, 13px);
@include ico2x('arr_right_black_xs', 4px, 6px);
@include ico2x('arr_right_black', 7px, 12px);
@include ico2x('arr_right_circle_black', 18px, 18px);
@include ico2x('arr_right_circle_primary', 18px, 18px);
@include ico2x('bold_mail', 24px, 24px);
@include ico2x('bold_tablet', 24px, 24px);
@include ico2x('bold_tel', 24px, 24px);
@include ico2x('bold_user', 24px, 24px);
@include ico2x('btn_chart', 29px, 25px);
@include ico2x('btn_list_gray', 29px, 25px);
@include ico2x('camera_white', 50.5px, 40.5px);
@include ico2x('check_black', 13px, 10px);
@include ico2x('check_circle', 20px, 20px);
@include ico2x('check_circle_white', 20px, 20px);
@include ico2x('check_lg_red', 60px, 60px);
@include ico2x('check_primary', 20px, 20px);
@include ico2x('check_xl_primary', 70px, 70px);
@include ico2x('checkbox_checked', 10px, 9px);
@include ico2x('clock_black', 15px, 15px);
@include ico2x('clock_gray', 15px, 15px);
@include ico2x('close', 20px, 20px);
@include ico2x('close_white', 15px, 15px);
@include ico2x('datepicker', 16px, 16px);
@include ico2x('doc_check', 24px, 24px);
@include ico2x('doc_xs', 18px, 18px);
@include ico2x('mail', 31px, 31px);
@include ico2x('notice_default', 16px, 16px);
@include ico2x('notice_gray', 16px, 16px);
@include ico2x('notice_red', 16px, 16px);
@include ico2x('pencil_xs_white', 12px, 12px);
@include ico2x('search_lg_white', 20px, 20px);
@include ico2x('search_sm', 15px, 15px);
@include ico2x('search_xs', 12px, 12px);
@include ico2x('user', 23px, 28px);