//
// Icons
// 아이콘 이미지 저장위치 : resources/img/common/
// @include ico('아이콘명', width, height);
//

// 레이아웃
@include ico('back', 28px, 28px);
@include ico('home', 28px, 28px);
@include ico('allmenu', 28px, 28px);
@include ico('leave', 28px, 28px);
@include ico('leave_white', 28px, 28px);
@include ico('allmenu_list', 18px, 15px);

// 공통 컴포넌트
@include ico('datepicker', 16px, 16px);
@include ico('arr_circle_right', 13px, 13px);

@include ico('help_sm', 12px, 12px);
@include ico('tip_sm', 11px, 11px);
@include ico('warning_sm', 12px, 12px);
@include ico('warning_sm_red', 12px, 12px);
@include ico('plus_sm', 9px, 9px);
@include ico('check_sm_gray', 10px, 7px);

@include ico('plus_md', 10px, 10px);
@include ico('reset', 20px, 20px);
@include ico('chevron_right_xs_bold', 4px, 6px);
@include ico('chevron_right_sm', 5px, 9px);
@include ico('chevron_right_md', 6px, 10px);
@include ico('chevron_down_md', 12px, 7px);
@include ico('chevron_left_xl', 9px, 15px);
@include ico('chevron_right_xl', 9px, 15px);
@include ico('chevron_primary_bold_left', 10px, 18px);
@include ico('chevron_primary_bold_right', 10px, 18px);

@include ico('close_sm', 12px, 12px);
@include ico('close', 15px, 15px);
@include ico('notice', 15px, 15px);
@include ico('notice_red', 15px, 15px);
@include ico('help', 15px, 15px);

// 다이렉트
@include ico('direct_step1', 26px, 26px);
@include ico('direct_step2', 26px, 26px);
@include ico('direct_step3', 26px, 26px);
@include ico('direct_step4', 26px, 26px);
@include ico('direct_step5', 26px, 26px);

//모바일웹
@include ico('mobileweb_home', 19px, 16px);
@include ico('mobileweb_allmenu', 15px, 10px);

//포스트 페이
@include ico('alert', 28px, 28px);
@include ico('postpay_home', 28px, 28px);
@include ico('chevron_right_sm_gray', 5px, 10px);
@include ico('check_off', 20px, 20px);
@include ico('notice_yellow', 20px, 20px);