//
// Icons
// 아이콘 이미지 저장위치 : resources/img/common/
// @include ico('아이콘명', width, height);
//

// 레이아웃
@include ico('home', 21px, 21px);
@include ico('home_black', 21px, 21px);
@include ico('home_white', 21px, 21px);

// 공통 컴포넌트
@include ico('star', 19px, 18px);
@include ico('star_primary', 30px, 29px);
@include ico('star_gray', 30px, 29px);

@include ico('arr_up_sm', 13px, 7px);
@include ico('arr_up_sm_white', 13px, 7px);
@include ico('arr_down_sm', 13px, 7px);
@include ico('arr_down_sm_white', 13px, 7px);
@include ico('arr_left', 10px, 19px);
@include ico('arr_right', 10px, 19px);
@include ico('arr_circle_right_primary', 20px, 20px);
@include ico('arr_circle_right_gray', 19px, 19px);
@include ico('arr_round_down', 25px, 24px);
@include ico('arr_round_up', 25px, 24px);
@include ico('arr_top', 20px, 11px);
@include ico('arr_bottom', 20px, 11px);
@include ico('close_sm', 14px, 14px);
@include ico('close_lg', 26px, 26px);
@include ico('paging_next', 7px, 13px);
@include ico('document_popup', 20px, 20px);

@include ico('search', 18px, 18px);
@include ico('search_bold', 19px, 20px);
@include ico('search_combine', 35px, 35px);
@include ico('search_combine_primary', 35px, 35px);
@include ico('datepicker', 16px, 16px);
@include ico('refresh_round', 21px, 21px);

@include ico('plus_circle_primary', 16px, 16px);
@include ico('mouse', 18px, 26px);
@include ico('settings', 13px, 14px);
@include ico('time', 15px, 15px);
@include ico('rss_primary', 15px, 15px);
@include ico('pdf', 16px, 16px);
@include ico('pdf_lg', 36px, 42px);
@include ico('save_lg', 35px, 35px);
@include ico('tit_primary', 24px, 24px);
@include ico('warning_gray', 18px, 18px);
@include ico('warning_red', 18px, 18px);
@include ico('hit', 18px, 13px);
@include ico('cal', 17px, 16px);

@include ico('check_primary', 24px, 24px);
@include ico('check_lg_primary', 40px, 40px);
@include ico('check_xl_primary', 60px, 60px);
@include ico('check_xxl_primary', 90px, 90px);
@include ico('confirm_xxl_primary', 96px, 87px);
@include ico('alert_xxl_primary', 96px, 87px);
@include ico('alert_xxl_primary', 96px, 87px);

@include ico('help', 18px, 18px);
@include ico('circle_up', 36px, 36px);
@include ico('circle_down', 36px, 36px);
@include ico('cart_compare', 20px, 19px);
@include ico('item', 20px, 20px);
@include ico('help2', 18px, 18px);