//
// Icons
// 아이콘 이미지 저장위치 : resources/img/common/
// @include ico('아이콘명', width, height);
//

// 레이아웃
@include ico('back', 28px, 28px);
@include ico('home', 28px, 28px);
@include ico('allmenu', 28px, 28px);
@include ico('alert', 28px, 28px);
@include ico('leave', 28px, 28px);
@include ico('settings', 28px, 28px);
@include ico('leave_white', 28px, 28px);
@include ico('allmenu_list', 18px, 15px);
@include ico('star_off', 20px, 20px);
@include ico('star_on', 20px, 20px);
@include ico('xs_traffic', 15px, 15px);
@include ico('xs_zero', 15px, 15px);
@include ico('xs_class', 15px, 15px);
@include ico('xs_membership', 15px, 15px);

// 공통 컴포넌트
@include ico('datepicker', 16px, 16px);
@include ico('arr_circle_right', 13px, 13px);

@include ico('help_sm', 12px, 12px);
@include ico('tip_sm', 11px, 11px);
@include ico('warning_sm', 12px, 12px);
@include ico('warning_sm_red', 12px, 12px);
@include ico('plus_sm', 9px, 9px);
@include ico('check_sm_gray', 10px, 7px);

@include ico('plus_md', 10px, 10px);
@include ico('reset', 20px, 20px);
@include ico('chevron_right_xs_bold', 4px, 6px);
@include ico('chevron_right_sm', 5px, 9px);
@include ico('chevron_right_md', 6px, 10px);
@include ico('chevron_down_md', 12px, 7px);
@include ico('chevron_left_xl', 9px, 15px);
@include ico('chevron_right_xl', 9px, 15px);
@include ico('chevron_primary_bold_left', 10px, 18px);
@include ico('chevron_primary_bold_right', 10px, 18px);

@include ico('close_sm', 12px, 12px);
@include ico('close', 15px, 15px);
@include ico('notice', 15px, 15px);
@include ico('notice_red', 15px, 15px);
@include ico('help', 15px, 15px);

// 뱅킹 메인
@include ico('settings_sm_gray', 17px, 16px);
@include ico('comment_white', 21px, 16px);
@include ico('alarm', 19px, 22px);
@include ico('submenu', 3px, 15px);
@include ico('submenu_white', 3px, 15px);
@include ico('point_up', 10px, 10px);
@include ico('point_down', 10px, 10px);
@include ico('quot_primary', 22px, 15px);
@include ico('quot_blue', 22px, 15px);
@include ico('refresh', 20px, 20px);
@include ico('refresh_white', 20px, 20px);
@include ico('bank_ibk_sm_circle', 20px, 20px);

// 다이렉트
@include ico('direct_step1', 26px, 26px);
@include ico('direct_step2', 26px, 26px);
@include ico('direct_step3', 26px, 26px);
@include ico('direct_step4', 26px, 26px);
@include ico('direct_step5', 26px, 26px);

// 모바일웹
@include ico('mobileweb_home', 19px, 16px);
@include ico('mobileweb_allmenu', 15px, 10px);

// 포스트페이
@include ico('alert', 28px, 28px);
@include ico('postpay_home', 28px, 28px);
@include ico('chevron_right_sm_gray', 5px, 10px);
@include ico('check_off', 20px, 20px);
@include ico('notice_yellow', 20px, 20px);
@include ico('chevron_up_sm', 10px, 6px);
@include ico('back2', 29px, 29px);
@include ico('settings2_qna', 25px, 25px);
@include ico('settings2_guide', 25px, 25px);
@include ico('settings2_app', 25px, 25px);
@include ico('pin', 23px, 21px);
@include ico('document', 14px, 17px);
@include ico('download', 12px, 12px);
@include ico('guide', 12px, 12px);

@include ico('play', 35px, 35px);
@include ico('search_gray', 15px, 15px);
@include ico('cal_arr_right', 9px, 15px);
@include ico('customer5', 17px, 15.5px);
@include ico('share', 32px, 32px);
@include ico('paperlist4', 19px, 18px);
@include ico('download2', 13px, 11px);
@include ico('aichatbot', 46.5px, 46.5px);
@include ico('notice_yellow', 20px, 20px);
@include ico('sale', 18px, 18px);
@include ico('person', 15px, 18px);
@include ico('error_lg', 30px, 30px);
@include ico('timer_sm', 12px, 12px);
@include ico('remit', 18px, 16px);
@include ico('qr_sm', 13px, 13px);
@include ico('hash_tag', 10px, 10px);
@include ico('write', 10px, 10px);
@include ico('close_white', 50px, 50px);

@include ico('prev01', 6px, 12px);
@include ico('next01', 6px, 12px);
@include ico('error', 35px, 30px);
@include ico('error02', 30px, 30px);

@include ico('wallet_transfer', 18px, 16px);
@include ico('wallet_qr', 13px, 13px);

@include ico('pushtalk', 16px, 15px);
@include ico('home_plus', 15px, 15px);
@include ico('nfc_thumb', 14px, 11px);


//메인
@include ico('search_acc_black', 16px, 16.5px);
@include ico('search_card_black', 16.5px, 13px);
@include ico('seeting_acc_black', 15px, 15px);
@include ico('search_fund_black', 14.5px, 16px);
@include ico('warning_note', 15px, 13.5px);