.image {
	text-align: center;

	img {
		max-width: 100%;
		vertical-align: top;
	}
}

.infographic,
.infographic-lg {
	@include media-breakpoint-down(sm) {
		img {
			width: 100%;
		}
	}
}

.infographic {
	.image {
		border: 1px solid $border-base;
		border-radius: 20px;
		padding: 20px;

		img {
			border-radius: 10px;
		}
	}

	@include media-breakpoint-up(md) {
		figcaption {
			padding: 10px;
		}
	}

	@include media-breakpoint-down(sm) {
		figcaption {
			margin-top: $spacing-sm;
		}
	}
}

.infographic-lg {
	text-align: center;

	@include media-breakpoint-up(md) {
		img {
			vertical-align: top;
		}

		.image {
			border: 1px solid $border-base;
			border-radius: 20px;
			padding: 30px;

			img {
				border-radius: 15px;
			}
		}

		&.fit {
			.image {
				display: inline-block;
			}
		}
	}

	@include media-breakpoint-only(md) {
		.image {
			padding: 20px;
		}
	}
}