/* 불릿 시스템 */

.list {
	>li {
		position: relative;
		@include clearfix;

		&:before {
			content: '';
			position: absolute;
			left: 0;
		}
	}

	.btn {
		vertical-align: baseline;
	}
}

.list1 {
	color: #555;
	font-size: $font-size-base;

	>li {
		padding-left: 10px;

		&:before {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 10px;
			width: 2px;
			height: 2px;
			background-color: #555;
		}

		+li {
			margin-top: 6px;
		}

		.list {
			margin-top: 6px;
		}
	}
}

// .list2 {
// 	font-size: $font-size-base;

// 	>li {
// 		padding-left: 15px;

// 		&:before {
// 			width: 5px;
// 			height: 6px;
// 			top: 12px;
// 			background: url(#{$url-img-common}/bul_list2.png) no-repeat;
// 		}

// 		+li {
// 			margin-top: 3px;
// 		}

// 		.list {
// 			margin-top: 5px;
// 		}
// 	}
// }

.list2 {
	font-size: $font-size-sm;
	line-height: 1.72;

	>li {
		padding-left: 9px;

		&:before {
			content: '-';
		}
	}
}

// .dl_list {
// 	dt {
// 		line-height: 1;
// 		font-weight: 500;
// 		font-size: 14px;
// 		margin-bottom: 6px;

// 		.ico {
// 			margin-top: -2px;
// 		}
// 	}
// }