/* 불릿 시스템 */

.list {
	line-height: $line-height-base;

	>li {
		position: relative;
		@include clearfix;

		&:before {
			content: '';
			position: absolute;
			left: 0;
		}
	}

	.btn {
		vertical-align: baseline;
	}
}

.list1 {
	color: #555;
	font-size: $font-size-base;

	>li {
		padding-left: 15px;

		&:before {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			left: 0;
			top: 9px;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: #333;
		}
	}
}

.list2 {
	font-size: $font-size-base;

	>li {
		padding-left: 14px;

		&:before {
			width: 4px;
			height: 6px;
			top: 9px;
			background: url(#{$url-img-common}/ico_arr_right_black_xs@2x.png) no-repeat;
			background-size: cover;
		}
	}
}

.list3 {
	font-size: $font-size-sm;
	line-height: 1.72;

	>li {
		padding-left: 9px;

		&:before {
			content: '-';
		}
	}
}

.list4 {
	color: #555;
	font-size: 14px;

	>li {
		padding-left: 10px;

		+li {
			margin-top: 10px;
		}

		&:before {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			left: 2px;
			top: 9px;
			width: 2px;
			height: 2px;
			background-color: currentColor;
		}
	}
}

.bul_check {
	position: relative;
	padding-left: 30px;
	font-size: 16px;
	font-weight: normal;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: .15em;
		width: 20px;
		height: 20px;
		background: url(#{$url-img-common}/ico_check_primary@2x.png) no-repeat;
		background-size: cover;
	}
}

.bul_arrow_bold {
	font-weight: normal;

	&:before {
		width: 4px;
		height: 6px;
		background-image: url(#{$url-img-common}/ico_chevron_right_xs_bold.png);
	}
}

.bul_notice,
.bul_notice_gray,
.bul_notice_red,
.bul_notice_white {
	position: relative;
	padding-left: 22px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: .21em;
		width: 16px;
		height: 16px;
		background: url(#{$url-img-common}/ico_notice_default@2x.png) no-repeat;
		background-size: cover;
	}
}

.bul_notice_gray {
	&:before {
		background-image: url(#{$url-img-common}/ico_notice_gray@2x.png);
	}
}

.bul_notice_red {
	color: $red;

	&:before {
		background-image: url(#{$url-img-common}/ico_notice_red@2x.png);
	}
}

.bul_notice_white {
	color: $white;

	&:before {
		background-image: url(#{$url-img-common}/ico_notice_white@2x.png);
	}
}