$popup-title-height: 60px;
$popup-mobile-title-height: 50px;

$popup-size: (alert: 300px,
	sm: 400px,
	md: 600px,
	lg: 900px,
	// xl: 880px,
	// xxl: 1200px,
);

/* 모달, 윈도우 팝업 공통 */
.popup_header {
	display: flex;
	align-items: center;
	height: $popup-title-height;
	padding: 0 30px;
	line-height: 1;
	// font-family: $font-family-title;

	.popup_tit {
		display: inline-flex;
		align-items: center;
		vertical-align: middle;
		letter-spacing: -0.05em;
		font-size: 22px;
		font-weight: 500;
		color: $black;
	}
}

.popup_body {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 10px 30px 40px;

	.btn_group {
		margin-top: 25px;
		text-align: center;
	}
}

.popup_footer {
	position: relative;
	padding: 20px 50px;
	border-radius: 0 0 10px 10px;
	background-color: $bg-lightgray;

	font-size: $font-size-sm;
	color: $gray;
	line-height: 22px;

	&.not-open-today {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-lightgray;
	}
}

.btn_close_popup {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: $popup-title-height;
	height: $popup-title-height;
	background: url(#{$url-img-common}/ico_close2@2x.png) no-repeat center center;
	background-size: 20px auto;

	@include ir;
	text-decoration: none;
	overflow: hidden;

	// &:focus,
	// &:active {
	// 	@include ir;
	// 	top: 0;
	// 	right: 0;
	// 	width: auto;
	// 	height: auto;
	// 	width: 30px;
	// 	height: 30px;
	// 	background: url(#{$url-img-common}/ico_close_sm.png) no-repeat center center;
	// }
}

// .popup_header~.btn_close_popup {
// 	@include ir;
// 	right: 0;
// 	width: $popup-title-height;
// 	height: $popup-title-height;
// 	background: url(#{$url-img-common}/ico_close_lg.png) no-repeat center center;

// 	@if ($mode=='responsive') {
// 		@include media-breakpoint-down(md) {
// 			.modal_popup & {
// 				width: 48px;
// 				height: $popup-mobile-title-height;
// 			}
// 		}
// 	}
// }

/* 모달 팝업 */
.modal_open {
	overflow: hidden;
}

.modal_popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 950;
	display: flex;
	justify-content: center;
	align-items: center;

	.dimed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000, 0.5);
	}

	.popup_inner {
		position: relative;
		z-index: 1100;
		width: 600px;
		transition-duration: 0.3s;
		transition-property: transform;
		background-color: #fff;

		&:focus {
			outline: 0;
			// box-shadow: 0 0 20px 5px rgba(#fff, .2);
		}
	}

	&.hide {
		opacity: 0;
		visibility: hidden;

		.popup_inner {
			transform: translateY(-50px);
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
		transition-duration: 0.3s;

		.popup_inner {
			transform: translateY(0);
		}
	}

	@each $size,
	$width in $popup-size {
		&.modal_#{$size} {
			.popup_inner {
				width: $width;
			}
		}
	}

	// 알림창 팝업
	&.modal_confirm {
		z-index: 960;
	}

	&.modal_alert {
		z-index: 970;
	}

	&.modal_alert,
	&.modal_confirm {
		.popup_inner {
			width: 300px;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		}

		.popup_header {
			height: 40px;
			justify-content: center;
			align-items: flex-end;
		}

		.popup_body {
			padding: 25px;
			word-break: keep-all;
		}

		.btn_group {
			margin-top: 15px;
			display: flex;
			justify-content: center;

			.btn {
				flex: 1 1 20%;
				width: 150px;
				max-width: 150px;
				margin: 5px;
			}
		}

		.btn_close_popup {
			&:not(:focus) {
				width: 1px;
				height: 1px;
				background: none;
			}
		}
	}

	.popup_inner {
		border-radius: 10px;
		overflow: hidden;
	}

	.popup_body {
		max-height: calc(100vh - 200px);
	}
}

/* 윈도우 팝업 */
.popup {
	height: 100%;
	overflow: hidden;

	.popup_inner {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		height: 100%;
	}

	.popup_body {
		flex: 1 1 auto;
		max-height: 100%;

		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.popup_footer {
		flex: 0 0 auto;
	}
}