.tbl {
	position: relative;
	letter-spacing: 0;

	table {
		width: 100%;
		border-collapse: collapse;
	}
}

.tbl_scroll_x {
	.container & {
		margin: 0 -1 * $spacing;
	}

	.scroll_track {
		position: relative;
		padding: 0 $spacing;
		overflow-x: auto;
	}
}

.tbl_scroll_y {

	.scroll_track {
		padding: 0;
	}

	&.tbl_scroll_x {
		.inner {
			padding: 0 $spacing;
		}
	}

	.inner {
		display: flex;
		flex-direction: column;
	}

	.thead,
	.tbody {
		overflow-x: hidden;
		overflow-y: scroll;
	}

	.thead {
		flex: 0 0 auto;
	}

	.tbody {
		flex: 1 1 auto;
		border-top: hidden;
		text-align: center;

		table {
			border-top: hidden;
		}
	}
}

.tbl_data {
	// overflow: hidden;
	// overflow-x: auto;

	&.tbl_round {
		border: 1px solid $border-base;
		border-radius: 8px;
		overflow: hidden;

		table {
			border-style: hidden;
		}
	}

	table {
		border-style: solid hidden solid;
		border-width: 1px 0 1px;
		border-color: $border-base;
	}

	th,
	td {
		height: 45px;
		padding: 10px 15px;
		border: 1px solid $border-base;
	}

	th {
		background-color: #f6f6f6;
		line-height: 18px;
		text-align: left;
		font-weight: 500;

		small {
			display: inline-block;
			font-size: 12px;
			line-height: 15px;
		}
	}

	td {
		font-weight: normal;
	}

	// tbody {
	// 	th {}
	// }

	thead,
	thead~tbody,
	thead~tfoot {

		th,
		td {
			text-align: center;
		}
	}
}

.search_form {
	position: relative;
	margin-bottom: 30px;

	&:not(.opened) {
		.tbl_search {
			tr:not(:first-child) {
				display: none;
			}
		}
	}

	&.opened {
		.inner {
			height: auto;
		}

		.btn_search_more {
			.ico {
				transform: rotate(180deg);
			}
		}
	}

	.inner {
		display: flex;
		background-color: $bg-lightprimary;
		border-bottom: 1px solid $primary;
		height: 76px;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.08);
	}

	.tbl_search {
		flex: 1 1 auto;
	}

	.btn_search {
		flex: 0 0 auto;
		margin: 15px $spacing 15px 5px;
	}

	.btn_search_more {
		position: absolute;
		left: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-left: -55px;
		color: #fff;
		background-color: #555;
		border-radius: 0 0 6px 6px;
		width: 110px;
		height: 30px;

		.ico {
			margin-left: 10px;
		}
	}
}

.tbl_search {
	padding: 10px;

	th,
	td {
		height: 55px;
	}

	th {
		text-align: left;
		padding-left: 20px;
		padding-right: 15px;
		font-weight: normal;
		color: $black;
	}
}