/* 탭메뉴 */

.tab_menu {
	white-space: nowrap;

	// 마진 겹침 현상 해결
	// &:before,
	// &:after {
	// 	content: '';
	// 	display: table;
	// }

	.tab_list {
		display: flex;

		li {
			flex: 1 1 25%;
		}

		a {
			span {
				padding: 25px;
			}
		}
	}

	&:not(.tab_equal_div) {
		.tab_list {
			font-size: 0;
			overflow-x: auto;

			li {
				display: inline-block;
				font-size: $font-size-base;
			}
		}
	}

	&.scroll_enable {

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
		}

		&:before {
			top: 10px;
			right: 0;
			width: 65px;
			height: 28px;
			border-radius: 14px;
			background-color: rgb(255, 255, 255);
			box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.11);
		}
	}
}

.tab_menu1 {
	position: relative;

	.tab_list {
		text-align: center;
		line-height: 1.2;

		li {
			border-bottom: 1px solid #ddd;
			font-size: $font-size-base;

			&.on {
				border-bottom: 2px solid $default;
				font-weight: 500;
			}
		}

		a {
			display: block;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 25px;
				height: 48px;
			}
		}
	}
}