/* 탭메뉴 */
.tab_menu {
	white-space: nowrap;

	.tab_list {
		a {
			position: relative;
		}

		.badge {
			white-space: nowrap;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 20px;
			font-style: normal;
			line-height: 1;
			margin: 0 0 0 5px;
			width: auto;
			vertical-align: auto;
		}
	}
}

.tab_menu1 {
	position: relative;
	margin-bottom: 30px;

	.tab_list {
		display: flex;
		text-align: center;
		line-height: 1.2;
		border-bottom: 1px solid $black;
		border-left: 1px solid $border-base;

		li {
			width: 16.666666%;
			font-size: 16px;
			background-color: #fff;
			border-top: 1px solid $border-base;
			border-right: 1px solid $border-base;

			&.on {
				position: relative;
				color: #fff;
				font-weight: 500;
				border-color: $black;

				a {
					background-color: $black;
				}
			}
		}

		a {
			display: block;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 45px;
			}
		}

		.badge {
			min-width: 22px;
			height: 22px;
			padding: 0 8px;
			color: $black;
			font-size: 12px;
			font-weight: 500;
			background-color: $primary;
		}
	}

	&.col_drop {
		flex-wrap: wrap;
	}
}

.tab_menu2 {
	margin-bottom: 20px;

	.tab_list {
		display: flex;
		font-weight: normal;
		color: #555;

		li {
			min-width: 100px;

			&.on {
				a {
					color: $black;
					background-color: $primary;
					box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
				}

				span {
					padding: 0 30px;

					&:before {
						content: '';
						width: 13px;
						height: 10px;
						margin-right: 7px;
						background-color: red;
						background: url(#{$url-img-common}/ico_check_black@2x.png) no-repeat;
						background-size: cover;
					}
				}

				+li {
					a {
						&:before {
							display: none;
						}
					}
				}
			}

			&:not(.on):not(:first-child) {
				a {
					&:before {
						content: '';
						position: absolute;
						top: 50%;
						width: 1px;
						height: 13px;
						margin-top: -7px;
						background-color: #ddd;
					}
				}
			}
		}

		a {
			display: block;
			position: relative;
			border-radius: 17px;
		}

		span {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 34px;
			padding: 0 25px;
		}

		.badge {
			min-width: 18px;
			height: 18px;
			padding: 0 3px;
			color: #fff;
			background-color: $darkgray;
			font-size: 10px;

			&.off {
				background-color: #666;
			}
		}
	}
}

.tab_menu3 {
	position: relative;
	border-bottom: 3px solid $primary;
	display: flex;
	justify-content: space-between;
	padding: 0 $spacing;

	.container & {
		margin: 0 -1 * $spacing;
	}

	.toolbar {
		flex: 0 0 1;
	}

	.tab_list {
		flex: 1 1 auto;
		display: flex;
		text-align: center;
		line-height: 1.2;

		li {
			min-width: 160px;
			margin-right: 1px;
			font-size: 16px;
			color: #555;
			background-color: #fff;

			&.on {
				position: relative;
				font-size: 18px;
				font-weight: 500;
				color: $black;

				a {
					margin-top: -5px;
					border-color: transparent;
					background-color: $primary;

					span {
						height: 48px;
					}
				}
			}
		}

		a {
			display: block;
			border: 1px solid $border-base;
			border-bottom: 0;
			border-radius: 10px 10px 0 0;

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 43px;
			}
		}

		.badge {
			min-width: 22px;
			height: 22px;
			padding: 0 3px;
			color: $black;
			font-size: 12px;
			font-weight: 500;
			background-color: $primary;
		}
	}
}

.tab_cont {
	display: none;
}