.tbl {
	position: relative;

	table {
		width: 100%;
		border-collapse: collapse;
	}
}

.tbl {
	.scroll_track {
		overflow-y: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
	}

	table {
		border-style: solid hidden solid;
		border-width: 1px 0 1px;
		border-color: #eee;
	}

	th,
	td {
		height: 45px;
		padding: 10px 15px;
		border: 1px solid #eee;
	}

	th {
		background-color: #f6f6f6;
		font-weight: 200;
		line-height: 18px;
		text-align: left;

		small {
			display: inline-block;
			font-size: 12px;
			line-height: 15px;
		}
	}

	td {
		font-weight: normal;
	}

	tbody {
		th {
			vertical-align: top;
		}
	}

	thead,
	thead~tbody,
	thead~tfoot {

		th,
		td {
			text-align: center;
		}
	}
}