.thumb-circle {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	overflow: hidden;

	width: 200px;
	height: 200px;
	background-color: #e6e6e6;

	img {
		position: absolute;
		top: -6%;
		left: -9%;
		right: -9%;
		width: 118%;
		max-width: none;
	}

	.no-thumb {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.no-thumb {
	display: inline-block;
	vertical-align: middle;

	width: 80px;
	height: 80px;

	background: url(#{$url-img-common}/no-thumb.png) no-repeat;
	background-size: cover;

	@include media-breakpoint-down(md) {
		width: 50px;
		height: 50px;
	}
}