/* 상단 알람 레이어 */
.layer_top_alarm {
	// 레이어 공통
	background-color: #ffe9a6;

	&.bg_lightgray {
		background-color: #eaeaea !important;
	}

	.container {
		position: relative;
		padding: 20px;
	}

	.btn_close_alarm {
		position: absolute;
		right: 12px;
		top: 10px;
	}

	// 레이어 본문 내 콘텐츠
	.alarm_cont {
		display: flex;

		.icon {
			flex: 0 0 auto;
			margin-right: 5px;
			width: 42px;
			height: 42px;
			border-radius: 50%;
			overflow: hidden;

			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
		}

		.cont {
			flex: 1 1 auto;

			.status {
				display: flex;
				align-items: center;
				font-size: 12px;
				margin-bottom: 2px;
			}

			.subject {
				font-size: 15px;
				letter-spacing: -0.04em;
				line-height: 1.2;
				margin-bottom: 5px;
			}
		}
	}
}