.box_otp_card {
	padding: 70px 40px 80px 490px;
	border: 1px solid $border-base;
	border-radius: 4px;
	background-color: #fafafa;
	background-image: url(#{$url-img}/content/img_otp_card.png);
	background-repeat: no-repeat;
	background-position: 60px 50%;

	.box_otp_inner {
		position: relative;

		.otp_card_num {
			height: 32px;
			line-height: 32px;

			>input[type=password] {
				width: 210px;
				height: 32px;
				margin-left: 10px;
				vertical-align: top;
			}
		}
	}
}

.btn_right_top {
	position: absolute;
	right: 0;
	top: 0;
}

.btn_block_box{
	.btn{
		&:not(:first-child){
			margin-top: 4px;
		}
	}
}
.tbl_united{
	table{
		border-style: solid none none;
	}
	&:last-child{
		table{
			border-style: solid none solid;
		}
	}
}

.tbl_united + .tbl_row_data{
	>table{
		border-style: none none solid;
		>tbody{
			>tr{
				&:first-child{
					>th{
						border-top: 1px solid #ddd !important;
					}
					>td{
						border-top: 1px solid #eee !important;
					}
				}
			}
		}
	}
}