.box_gray {
	background: #fafafa;
}

.btm_result_box {
	display: none;
}

.tbl_over_scroll {
	overflow-x: scroll;
}

.ml6 {
	margin-left: 6px !important;
}

.btn_mouse_pwd+.btn {
	margin-left: 6px;
}

.border_r {
	border-right: 1px solid #ddd;
}

.popup_box_gray {
	border-radius: 4px;
	padding: 20px;
	background-color: #f6f6f6;
}

.tab_menu_type3.sm {
	ul>li {
		flex: 1 1 0;

		a {
			height: 46px;
			font-size: 16px;
			line-height: 44px;
			padding: 0 10px;
			text-align: center;
		}
	}
}

.popup_search_box {
	position: relative;

	.tf {
		border: 1px solid #111;
		width: 100%;
		padding-right: 57px;
	}

	button {
		position: absolute;
		width: 57px;
		height: 100%;
		right: 0;
		top: 0;
		background: url(#{$url-img-common}/ico_search_bold.png) no-repeat center center;

	}
}

.greeting_list {
	overflow-y: scroll;
	border-top: 1px solid #111;
	border-bottom: 1px solid #ddd;

	ul {
		height: 294px;

		li {
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}

			a {
				display: block;
				height: 56px;
				padding: 0 15px;
				line-height: 54px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 16px;
				color: #333;
			}
		}
	}
}