.box_gray {
	background: #fafafa;
}

.btm_result_box {
	display: none;
}

.tbl_over_scroll {
	overflow-x: scroll;
}

.ml6 {
	margin-left: 6px !important;
}

.border_r {
	border-right: 1px solid #ddd;
}

.popup_box_gray {
	border-radius: 4px;
	padding: 20px;
	background-color: #f6f6f6;
}

.tab_menu_type3.sm {
	ul>li {
		flex: 1 1 0;

		a {
			height: 46px;
			font-size: 16px;
			line-height: 44px;
			padding: 0 10px;
			text-align: center;
		}
	}
}

.popup_search_box {
	position: relative;

	.tf {
		border: 1px solid #111;
		width: 100%;
		padding-right: 57px;
	}

	button {
		position: absolute;
		width: 57px;
		height: 100%;
		right: 0;
		top: 0;
		background: url(#{$url-img-common}/ico_search_bold.png) no-repeat center center;

	}
}

.greeting_list {
	overflow-y: scroll;
	border-top: 1px solid #111;
	border-bottom: 1px solid #ddd;

	ul {
		height: 294px;

		li {
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}

			a {
				display: block;
				height: 56px;
				padding: 0 15px;
				line-height: 54px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 16px;
				color: #333;
			}
		}
	}
}

.service_terms {
	border-top: 1px solid #111;
	padding-top: 30px;

	dl {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		dt {
			font-weight: 400;
			margin-bottom: 1px;
		}

		dd {
			padding-left: 5px;
		}
	}
}

.tbl_row_data>table>tbody>tr>th>.necessary {
	margin-left: 2px;
	transform: translateY(-9px);
}

.box_tit {
	font-size: 18px;
	font-weight: 500;
}

.box.box_tbl {
	display: table;
	width: 100%;

	.l,
	.r {
		display: table-cell;
		vertical-align: middle;
	}

	.r {
		padding-left: 10px;
	}
}

.term_date {
	>div {
		position: relative;
		display: inline-block;

		&:not(:first-child) {
			margin-left: 65px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: -41px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.list1.txt_invalid {
	>li:before {
		background: #D70000;
	}
}

.agreement_box {
	border: 1px solid #ddd;
	padding: 40px 30px;
	border-radius: 4px;
}

.agreement_chk {

	.check_item {
		input {
			+label {
				color: #666;
				font-weight: 500;
			}

			&:checked+label {
				color: #111;
				font-size: 18px;
			}
		}
	}
}

.point_donation_txt {
	position: relative;
	text-align: center;
	font-size: 40px;

	&:before {
		content: '';
		display: inline-block;
		width: 60px;
		height: 60px;
		vertical-align: text-top;
		margin-right: 9px;
		background: url(#{$url-img-common}/ico_check_xl_primary.png) no-repeat center center;
	}

}

.card_number {
	>div {
		position: relative;
		display: inline-block;

		&:not(:first-child) {
			margin-left: 66px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-left: -39px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.mt130 {
	margin-top: 130px;
}

.tooltip_txt {
	position: relative;

	.tooltip {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: 0px;
		top: auto;
		bottom: 47px;
		z-index: 10;

		ul {
			font-size: 14px;
		}
	}

	&:hover {
		.tooltip {
			opacity: 1;
			visibility: visible;
		}
	}
}

.num_list {
	>li {
		position: relative;
		padding-left: 13px;
		counter-increment: list;

		&:before {
			content: counter(list) ".";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.email_box {
	.selectbox_wrap {
		position: relative;
		margin-left: 31px;

		&:before {
			content: '@';
			position: absolute;
			left: -24px;
			top: 50%;
			margin-top: -17px;
		}
	}
}