.box_gray {
	background: #fafafa;
}

.btm_result_box {
	display: none;
}

.tbl_over_scroll {
	overflow-x: scroll;
}

.ml6 {
	margin-left: 6px !important;
}

.border_r {
	border-right: 1px solid #ddd;
}

.popup_box_gray {
	border-radius: 4px;
	padding: 20px;
	background-color: #f6f6f6;
}

.tab_menu_type3.sm {
	ul>li {
		flex: 1 1 0;

		a {
			height: 46px;
			font-size: 16px;
			line-height: 44px;
			padding: 0 10px;
			text-align: center;
		}
	}
}

.popup_search_box {
	position: relative;

	.tf {
		border: 1px solid #111;
		width: 100%;
		padding-right: 57px;
	}

	button {
		position: absolute;
		width: 57px;
		height: 100%;
		right: 0;
		top: 0;
		background: url(#{$url-img-common}/ico_search_bold.png) no-repeat center center;

	}
}

.greeting_list {
	overflow-y: scroll;
	border-top: 1px solid #111;
	border-bottom: 1px solid #ddd;

	ul {
		height: 294px;

		li {
			&:not(:last-child) {
				border-bottom: 1px solid #eee;
			}

			a {
				display: block;
				height: 56px;
				padding: 0 15px;
				line-height: 54px;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
				font-size: 16px;
				color: #333;
			}
		}
	}
}


.service_terms {
	border-top: 1px solid #111;
	padding-top: 30px;

	dl {
		&:not(:last-child) {
			margin-bottom: 40px;
		}

		dt {
			font-weight: 400;
			margin-bottom: 1px;
		}

		dd {
			padding-left: 5px;
		}
	}
}

.terms_wrap {
	.terms_con {
		border-top: 1px solid #111;
		border-bottom: 1px solid #111;
		padding: 40px 20px;
		max-height: 375px;
		overflow-y: scroll;

		strong {
			display: block;
			font-weight: 400;
			margin-bottom: 1px;
		}

		&+.tbl_row2 {
			border-bottom: none;
		}
	}

	.tbl_row2 {
		th {
			font-size: 18px;
			color: #111;
		}
	}

	&.scroll_none {
		.terms_con {
			max-height: none;
			overflow: visible;
		}
	}
}

.tbl_row_data>table>tbody>tr>th>.necessary {
	margin-left: 2px;
	transform: translateY(-9px);
}

.box_tit {
	font-size: 18px;
	font-weight: 500;
}

.box.box_tbl {
	display: table;
	width: 100%;

	.l,
	.r {
		display: table-cell;
		vertical-align: middle;
	}

	.r {
		padding-left: 10px;
	}
}

.term_date {
	>div {
		position: relative;
		display: inline-block;

		&:not(:first-child) {
			margin-left: 65px;

			&:after {
				content: '';
				position: absolute;
				top: 50%;
				left: -41px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.list1.txt_invalid {
	>li:before {
		background: #D70000;
	}
}

.agreement_box {
	border: 1px solid #ddd;
	padding: 40px 30px;
	border-radius: 4px;
}

.agreement_chk {

	.check_item {
		input {
			+label {
				color: #666;
			}

			&:checked+label {
				color: #111;
			}
		}
	}
}

.point_donation_txt {
	position: relative;
	text-align: center;
	font-size: 40px;

	&:before {
		content: '';
		display: inline-block;
		width: 60px;
		height: 60px;
		vertical-align: text-top;
		margin-right: 9px;
		background: url(#{$url-img-common}/ico_check_xl_primary.png) no-repeat center center;
	}

	&.top:before {
		width: 100%;
		margin-right: 0;
		margin-bottom: 40px;
		vertical-align: top;
	}

}

.card_number {
	>div {
		position: relative;
		display: inline-block;

		&:not(:first-child) {
			margin-left: 66px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-left: -39px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.mt120 {
	margin-top: 120px;
}

.mt130 {
	margin-top: 130px;
}

.tooltip_txt {
	position: relative;

	.tooltip {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		left: 0px;
		top: auto;
		bottom: 47px;
		z-index: 10;

		ul {
			font-size: 14px;
		}
	}

	&:hover {
		.tooltip {
			opacity: 1;
			visibility: visible;
		}
	}
}

.num_list {
	>li {
		position: relative;
		padding-left: 15px;
		counter-increment: list;

		&:before {
			content: counter(list) ".";
			position: absolute;
			top: 0;
			left: 0;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.email_box {
	.right {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		margin-left: 31px;

		&:before {
			content: '@';
			position: absolute;
			left: -24px;
			top: 50%;
			margin-top: -17px;
		}
	}
}

.check_page {
	position: relative;

	&:before {
		display: block;
		width: px;
		height: px;
		background: url(#{$url-img-common}/ico_check_xl_primary.png) no-repeat center center;
	}
}

.qna_list {
	border-top: 1px solid #111;

	>li {
		border-bottom: 1px solid #111;
		color: #333;

		.qna_q {

			a {
				position: relative;
				display: block;
				padding: 26px 70px;
				background-image:url(#{$url-img-common}/ico_arr_down_sm.png);
				background-repeat: no-repeat;
				background-position: calc(100% - 20px) 37px;


				&:before {
					content: '';
					position: absolute;
					left: 20px;
					top: 20px;
					width: 40px;
					height: 40px;
					background: url(#{$url-img-common}/ico_question.png) no-repeat center center;
				}
			}

			&.active a {
				background-image:url(#{$url-img-common}/ico_arr_up_sm.png);
				background-repeat: no-repeat;
				background-position: calc(100% - 20px) 37px;
			}
		}

		.qna_a {
			position: relative;
			padding: 36px 40px 36px 110px;
			background: #f3f3f3;
			display: none;

			&:before {
				content: '';
				position: absolute;
				left: 60px;
				top: 34px;
				width: 40px;
				height: 40px;
				background: url(#{$url-img-common}/ico_answer.png) no-repeat center center;
			}

			&.on {
				display: block;
			}
		}
	}
}

.check_item input[type=radio]:disabled {
	+label {
		color: #aaa;
	}
}

.bar_wrap {
	font-size: 0;

	>div {
		position: relative;
		display: inline-block;
		font-size: 16px;

		&:not(:first-child) {
			margin-left: 30px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: -20px;
				width: 11px;
				height: 1px;
				background: #ddd;
			}
		}
	}
}

.login_certi_top {
	padding: 37px 57px 59px;
	background: #f6f6f6;

	h3 {
		font-size: 25px;
		font-weight: 400;
	}

	.txt {
		position: relative;
		padding-left: 80px;
		min-height: 57px;
		color: #555;

		&:before {
			content: '';
			position: absolute;
			left: 10px;
			top: 0;
			width: 49px;
			height: 57px;
			background: url(#{$url-img}/content/login_certi_img01.png) no-repeat top left;

		}
	}
}

.login_certi_list {
	@include clearfix;

	>li {
		position: relative;
		float: left;
		width: 580px;
		margin-right: 40px;
		margin-top: 40px;
		padding: 37px 58px 49px;
		border: 1px solid #ddd;
		border-radius: 4px;
		box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.05);
		background-repeat: no-repeat;
		transition: 0.2s ease-in-out;

		&.list01 {
			background-image:url(#{$url-img}/content/login_certi_img02.png);
			background-position: calc(100% - 59px) 69px;
		}

		&.list02 {
			background-image:url(#{$url-img}/content/login_certi_img03.png);
			background-position: calc(100% - 61px) 70px;
		}

		&.list03 {
			background-image:url(#{$url-img}/content/login_certi_img04.png);
			background-position: calc(100% - 60px) 68px;
		}

		&.list04 {
			background-image:url(#{$url-img}/content/login_certi_img05.png);
			background-position: calc(100% - 53px) 73px;
		}

		&.list05 {
			background-image:url(#{$url-img}/content/login_certi_img06.png);
			background-position: calc(100% - 60px) 69px;
		}

		&.list06 {
			background-image:url(#{$url-img}/content/login_certi_img07.png);
			background-position: calc(100% - 62px) 80px;
		}

		&:before {
			content: '';
			position: absolute;
			top: 38px;
			right: 38px;
			width: 154px;
			height: 154px;
			background: #f3f3fa;
			border-radius: 50%;
			z-index: -1;
			transition: 0.2s ease-in-out;
		}

		&:after {
			content: '';
			position: absolute;
			top: -2px;
			left: -2px;
			width: 100%;
			height: 100%;
			border: 2px solid #fdc61c;
			border-radius: 4px;
			z-index: -1;
			opacity: 0;
			transition: 0.2s ease-in-out;
		}

		&:nth-child(2n) {
			margin-right: 0;
		}

		&:nth-child(-n+2) {
			margin-top: 0;
		}

		h4 {
			font-size: 26px;
			font-weight: 400;
			margin-bottom: 6px;
			letter-spacing: -0.5px;
		}

		p {
			color: #333;
		}

		a {
			background: #eee;
			width: 120px;
			margin-top: 18px;
			transition: 0.2s ease-in-out;
		}

		&:hover {
			border-color: transparent;
			transition: 0.2s ease-in-out;

			&:before {
				background: #fef5e5;
				transition: 0.2s ease-in-out;
			}

			&:after {
				opacity: 1;
				transition: 0.2s ease-in-out;
			}

			a {
				background: #fdc61c;
				border-color: #fdc61c;
				color: #111;
				transition: 0.2s ease-in-out;
			}
		}
	}
}

.btn_help {
	min-width: 74px;
	height: 28px;
	padding: 5px 8px 6px 6px;
	font-size: 14px;
	font-weight: 200;
	color: #fff;
	background: #555;
	border-radius: 15px;
	margin-right: 8px;

	.ico {
		margin-top: 0;
	}
}

.cont_body.certi_abolition {
	width: 100%;
	background: #fafafa;

	.abolition_inner {
		width: 1200px;
		margin: 0 auto;
	}

	.abolition_con {
		@include clearfix;
		border-radius: 10px 10px 10px 40px;
		background: #fff;
		box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.1);
		margin-top: -30px;

		>div {
			float: left;
			position: relative;
			width: 50%;
			height: 515px;
			padding: 54px 80px 66px;
			color: #555;

			&:not(:first-child) {
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 50px;
					width: 1px;
					height: 395px;
					background: #eee;
				}
			}

			.txt {
				position: relative;
				height: 100%;

				&.bg01 {
					background: url(#{$url-img}/content/login_abolition_img01.png) no-repeat 100% 24px;
				}

				&.bg02 {
					background: url(#{$url-img}/content/login_abolition_img02.png) no-repeat 100% 24px;
				}

				>span {
					min-width: 100px;
					padding: 0 20px;
					background: #fafafa;
					border-radius: 15px;
				}

				h3 {
					font-size: 30px;
					color: #111;

					span {
						display: block;
						font-size: 20px;
						font-weight: 400;
					}
				}

				p {
					color: #333;
				}

				a {
					position: absolute;
					bottom: 0;
					left: 0;
					width: 440px;

				}
			}
		}
	}
}

.num_list2 {
	>li {
		position: relative;
		padding-left: 29px;
		counter-increment: list;
		line-height: 1.75;

		&:before {
			content: counter(list);
			position: absolute;
			top: 6px;
			left: 0;
			width: 18px;
			height: 18px;
			border-radius: 50%;
			line-height: 17px;
			color: #fff;
			background: #555;
			font-size: 12px;
			font-weight: 400;
			text-align: center;
		}

		&:nth-child(n+10) {
			padding-left: 25px;
		}
	}
}

.box_list {
	@include clearfix;

	>li {
		float: left;
		width: calc(100% / 3 - 9px);
		margin-right: 13px;
		margin-top: 13px;
		border: 1px solid #ddd;
		border-radius: 4px;
		padding: 39px 48px 30px;
		color: #333;
		background-position: calc(100% - 30px) calc(100% - 30px);
		background-repeat: no-repeat;

		&:nth-child(-n+3) {
			margin-top: 0;
		}

		&:nth-child(3n) {
			margin-right: 0;
		}

		&.bg01 {
			background-image: url(#{$url-img}/content/service_center_img01.png);
		}

		&.bg02 {
			background-image: url(#{$url-img}/content/service_center_img02.png);
		}

		&.bg03 {
			background-image: url(#{$url-img}/content/service_center_img03.png);
		}

		h4 {
			font-size: 23px;
			font-weight: 400;
			margin-bottom: 5px;
		}

		p {
			line-height: 24px;
		}

		a {
			width: 120px;
			margin-top: 17px;
		}
	}
}

.tit3 {
	position: relative;
	font-size: 20px;
	font-weight: 500;
	padding-left: 30px;
	align-items: center;
	line-height: 1;
	margin-bottom: 25px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 1px;
		width: 20px;
		height: 20px;
		background: url(#{$url-img-common}/ico_tit_arrow.png) no-repeat center center;
	}
}

.box.notice_box dt:before {
	background-image:url(#{$url-img-common}/ico_tit_box.png);
}

.safe_icon_wrap {
	h3 {
		strong {
			display: inline-block;
			width: 28px;
			height: 28px;
			border-radius: 50%;
			background: #555;
			font-size: 20px;
			color: #fff;
			font-weight: 500;
			line-height: 27px;
			text-align: center;
			margin-right: 10px;
			font-family: "NotoSansKR";
		}
	}

	.safe_icon_con {
		background: #fafafa;
		padding: 32px 32px 30px;

		>ul {
			font-size: 0;
			text-align: center;

			>li {
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin-right: 75px;

				&:not(:first-child):before {
					content: '';
					position: absolute;
					left: -38px;
					top: 26px;
					width: 3px;
					height: 43px;
					background:url(#{$url-img}/content/safe_dot.png) top center no-repeat;
				}


				&:nth-child(8n) {
					margin-right: 0;
				}

				.img {
					display: flex;
					width: 75px;
					height: 60px;
					background: #fff;
					text-align: center;
					justify-content: center;
					align-items: center;
					box-shadow: 4px 0 4px rgba(0, 0, 0, 0.02);
					border-radius: 10px;
					border: 1px solid #eee;
				}
			}
		}

		.txt {
			display: inline-block;
			text-align: left;
		}
	}
}

.check_item.safe_icon>input[type=radio] {
	+label {
		display: inline-block;
		padding-left: 0;
		padding-bottom: 37px;
		background-position: bottom center;
	}
}

.inline_block {
	display: inline-block;
}

.security_top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.l {
		width: 396px;

		>strong {
			font-size: 25px;
			font-weight: 400;
			line-height: 32px;
			letter-spacing: -0.05em;

			span {
				font-size: 28px;
				font-weight: 500;
			}
		}

		.security_level {
			font-size: 0;

			span {
				position: relative;
				display: inline-block;
				width: 131px;
				font-size: 13px;
				font-weight: 400;
				color: #555;
				text-align: center;
				padding-top: 18px;

				&:before {
					content: '';
					display: block;
					width: calc(100% - 1px);
					height: 6px;
					margin-bottom: 13px;
					border-right: 1px solid #eee;
				}

				&.on:after {
					content: '';
					position: absolute;
					top: 0;
					left: 50%;
					margin-left: -12px;
					width: 25px;
					height: 32px;
					background-position: 50% 0;
					background-repeat: no-repeat;
				}

				&.level01 {
					&:before {
						background: #009973;
					}

					&:after {
						background-image:url(#{$url-img}/content/ico_security_level01.png);
					}
				}

				&.level02 {
					&:before {
						background: #0069e1;
					}

					&:after {
						background-image:url(#{$url-img}/content/ico_security_level02.png);
					}
				}

				&.level03 {
					&:before {
						background: #ff883a;
						border-right: 0;
					}

					&:after {
						background-image:url(#{$url-img}/content/ico_security_level03.png);
					}
				}
			}
		}

		.total {
			padding: 8px 10px;
			border-radius: 20px;
			background: #fff;
			box-shadow: 0 0 3px rgba(0, 0, 0, 0.05);
			line-height: 1;
		}
	}

	.r {
		width: 650px;

		>ul {
			font-size: 0;

			li {
				display: inline-block;
				width: 100px;
				height: 96px;
				font-size: 14px;
				color: #444;
				padding: 63px 0 10px;
				background: #eee;
				border-radius: 10px;
				text-align: center;
				background-repeat: no-repeat;

				&:not(:first-child) {
					margin-left: 10px;
				}

				&.on {
					background-color: #fff;
					border: 2px solid #fdc61c;
					font-weight: 500;
					color: #111;
				}

				&.bg01 {
					background-position: 50% 14px;
					background-image:url(#{$url-img}/content/ico_security01.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security01_on.png);
					}
				}

				&.bg02 {
					background-position: 50% 20px;
					background-image:url(#{$url-img}/content/ico_security02.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security02_on.png);
					}
				}

				&.bg03 {
					background-position: 50% 11px;
					background-image:url(#{$url-img}/content/ico_security03.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security03_on.png);
					}
				}

				&.bg04 {
					background-position: 50% 10px;
					background-image:url(#{$url-img}/content/ico_security04.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security04_on.png);
					}
				}

				&.bg05 {
					background-position: 50% 9px;
					background-image:url(#{$url-img}/content/ico_security05.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security05_on.png);
					}
				}

				&.bg06 {
					background-position: 50% 8px;
					background-image:url(#{$url-img}/content/ico_security06.png);

					&.on {
						background-image:url(#{$url-img}/content/ico_security06_on.png);
					}
				}
			}
		}
	}
}

.security_list {
	>li {
		padding: 38px 29px 40px 220px;
		border: 1px solid #ddd;
		border-radius: 4px;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #333;

		&:not(:first-child) {
			margin-top: 30px;
		}

		&.bg01 {
			background-position: 47px 32px;
			background-image:url(#{$url-img}/content/security_img_01.png);
		}

		&.bg02 {
			background-position: 53px 56px;
			background-image:url(#{$url-img}/content/security_img_02.png);
		}

		&.bg03 {
			background-position: 52px 47px;
			background-image:url(#{$url-img}/content/security_img_03.png);
		}

		&.bg04 {
			background-position: 65px 35px;
			background-image:url(#{$url-img}/content/security_img_04.png);
		}

		&.bg05 {
			background-position: 50px 53px;
			background-image:url(#{$url-img}/content/security_img_05.png);
		}

		&.bg06 {
			background-position: 46px 53px;
			background-image:url(#{$url-img}/content/security_img_06.png);
		}

		.txt {
			h4 {
				font-size: 20px;
				font-weight: 400;
				margin-bottom: 6px;
				color: #111;
			}

			ul {
				color: #333;
			}

			a {
				min-width: 120px;
				background: #eee;
				color: #444;
				font-size: 14px;
			}
		}

		.score {
			width: 190px;
			padding-left: 25px;
			text-align: center;

			strong {
				display: block;
				font-size: 30px;
				font-weight: 600;
				line-height: 1;
				margin-bottom: 20px;

			}

			.score_star {
				font-size: 0;

				>span {
					display: inline-block;

					&:not(:first-child) {
						margin-left: 4px;
					}
				}

				i {
					width: 29px;
					height: 27px;
					background-size: 100%;
				}
			}
		}
	}
}

.tab_ico {
	ul>li {
		a {
			&:before {
				content: '';
				display: inline-block;
				margin-right: 7px;
				vertical-align: -4px;
			}
		}


		&:first-child a {
			&:before {
				width: 31px;
				height: 22px;
				background: url(#{$url-img-common}/ico_tab01.png) no-repeat center center;
			}

			&.current:before,
			&:hover:before {
				background: url(#{$url-img-common}/ico_tab01_on.png) no-repeat center center;
			}
		}


		&:last-child a {
			&:before {
				width: 25px;
				height: 24px;
				background: url(#{$url-img-common}/ico_tab02.png) no-repeat center center;
			}

			&.current:before,
			&:hover:before {
				background: url(#{$url-img-common}/ico_tab02_on.png) no-repeat center center;
			}
		}
	}
}

.txt_darkyellow {
	color: #986800;
}

.price_txt {
	font-family: 'SpoqaHanSans';
	font-weight: 600;
}

.total_account {
	&.active {
		.total_price {
			background: url(#{$url-img-common}/ico_arr_up_sm.png) center right no-repeat;
		}

		.account_con {
			display: block;
		}
	}

	.total_price {
		display: inline-block;
		padding-right: 36px;
		font-size: 18px;
		letter-spacing: -0.05em;
		line-height: 1;
		background: url(#{$url-img-common}/ico_arr_down_sm.png) center right no-repeat;

		strong {
			font-size: 19px;
			font-weight: 400;
			color: #111;
			font-family: 'SpoqaHanSans';
		}
	}

	.tbl_tit {
		border-bottom: 1px solid #111;
		margin-bottom: 0;
		padding-bottom: 20px;
	}

	.account_con {
		display: none;
		border-bottom: 1px solid #111;

		&.top_bor {
			border-top: 1px solid #111;
		}

		>li {
			&:not(:first-child) {
				border-top: 1px solid #ddd;
			}

			&.active {
				.top {
					padding: 35px 35px 20px;

					.btn_view {
						background: #fef5e5;
						color: #111;
						font-weight: 400;
					}
				}

				.btm {
					display: block;
				}
			}

			>.top {
				display: flex;
				padding: 35px 35px 30px;


				.l {
					margin-right: auto;

					.order_btn {
						display: inline-block;
						width: 36px;
						vertical-align: middle;

					}
				}

				.r {
					margin-left: auto;
					text-align: right;

					.price {
						font-size: 20px;
						display: flex;
						align-items: center;
						justify-content: flex-end;

						strong {
							font-size: 24px;
							font-weight: 400;
							font-family: 'SpoqaHanSans';
						}
					}
				}

			}

			.btm {
				display: none;
				background: #fafafa;
				padding: 16px 30px;
				text-align: right;

				button {
					display: inline-block;
					position: relative;
					color: #333;
					font-size: 16px;

					&:not(:first-child) {
						margin-left: 42px;

						&:before {
							content: '';
							position: absolute;
							left: -21px;
							top: 3px;
							width: 1px;
							height: 18px;
							background: #ddd;
						}
					}
				}
			}


		}
	}
}

.account_tit {
	line-height: 56px;
}

.num_circle {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: #333;
	color: #fff;
	font-weight: 500;
	text-align: center;
	line-height: 23px;
	margin-left: 5px;
	font-family: 'NotoSansKR';
}

.greeting_card {
	width: 500px;
	height: 276px;
	background-repeat: no-repeat;
	padding: 86px 50px;
	text-align: center;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.05);
	border-radius: 20px;

	strong {
		display: block;
		font-size: 30px;
		line-height: 1;
		font-weight: 500;
		margin-bottom: 13px;
	}

	p {
		font-size: 20px;
		line-height: 28px;
		font-weight: 400;
	}

	&.bg01 {
		background-image: url(#{$url-img}/content/greeting_card01.png);
	}

	&.bg02 {
		background-image: url(#{$url-img}/content/greeting_card02.png);
	}

	&.bg03 {
		background-image: url(#{$url-img}/content/greeting_card03.png);
	}

	&.bg04 {
		background-image: url(#{$url-img}/content/greeting_card04.png);
	}

}

.bank_book_print {
	border-radius: 10px;
	background:url(#{$url-img}/content/bg_bank.png) 0 0;
	background-size: 100%;
	padding: 35px 90px 20px;
	border: 1px solid #ddd;

	ul>li {
		position: relative;
		padding-left: 215px;
		color: #d70000;

		&:not(:first-child) {
			margin-top: 19px;
		}

		strong {
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 400;
			color: #111;
		}
	}

	.txt_blue {
		color: #323b8f;
	}
}

.btn_mouse_toggle.account {
	>.switch {
		>label {
			width: 100px;
			height: 30px;
			padding: 0 14px;
			text-align: left;

			&:before {
				left: calc(100% - 30px);
				width: 28px;
				height: 26px;
				z-index: 1;
			}

			span {
				display: inline-block;
				vertical-align: top;
				line-height: 30px;
				font-size: 14px;
				color: #444;
				transition: 0.3s ease;
			}
		}

		input[type=checkbox]:checked+label {

			//text-align: right;
			span {
				transition: 0.3s ease;
				transform: translateX(20px);
			}
		}
	}
}

.modal_popup.modal_700 .popup_inner {
	width: 700px;
}

.borer_t0 {
	border-top: none !important;

}

.check_list_box.view_more {
	border-bottom: none;
}

.tbl_box {
	display: table;
	width: 100%;
	color: #333;
	border-bottom: 1px solid #ddd;

	.b1,
	.b2 {
		display: table-cell;
		height: 77px;
		vertical-align: middle;
		line-height: 1.4;
	}

	.b1 {
		width: 160px;
		padding-left: 20px;
		white-space: nowrap;
	}

	.b2 {
		padding-right: 20px;
		padding-left: 150px;
		text-align: right;
	}
}

.w95 {
	width: 95px;
}

.btn_white_link {
	background: #fff;
	font-size: 12px;
	color: #555;
	height: 20px;
	line-height: 18px;
	border: 1px solid #a2a2a2;
	padding: 0 10px;
	border-radius: 10px;

	&:after {
		content: '';
		display: inline-block;
		width: 3px;
		height: 5px;
		margin-left: 4px;
		background: url(#{$url-img}/content/link_arrow.jpg) 0 0 no-repeat;
	}
}

.box_img {
	position: relative;
	padding: 28px 30px 28px 120px;
	min-height: 120px;


	&.cart {
		display: flex;
		background: url(#{$url-img}/content/box_img_cart.jpg) 31px 28px no-repeat;
		align-items: center;
	}
}

.btn_outline_darkgray {
	border-color: #555;
}

.cart_list {
	border-top: 1px solid #111;

	>li {
		display: flex;
		border-bottom: 1px solid #eee;
		padding: 35px 35px 42px;
		align-items: center;

		.l {
			margin-right: auto;

			.category {
				>span {
					display: inline-block;
					padding: 0 14px;
					height: 28px;
					line-height: 27px;
					border-radius: 20px;
				}
			}

			.tit {
				position: relative;
				margin-top: 17px;

				h4 {
					font-size: 20px;
					font-weight: 400;
				}

				p {
					font-weight: 400;
					color: #333;
				}

				.check_item {
					position: absolute;
					left: -35px;
					top: 4px;
				}
			}

			.btm {
				margin-top: 40px;
				color: #555;

				>ul>li {
					display: inline-block;

					&:not(:first-child) {
						margin-left: 15px;
					}

					span {
						display: inline-block;
						height: 22px;
						line-height: 20px;
						padding: 0 5px;
						background: #f6f6f6;
						border: 1px solid #ddd;
						border-radius: 4px;
						margin-right: 8px;
						vertical-align: middle;
						color: #555;
					}
				}

				em {
					display: inline-block;
					font-style: inherit;

				}
			}
		}

		.r {
			margin-left: auto;
			text-align: right;

			.btn_wrap {
				display: inline-block;
				width: 110px;

				a,
				button {
					width: 100%;
					height: 36px;
					border-color: #b2b2b2;
					padding-left: 42px;
					font-weight: 400;
					color: #111;
					margin-left: 0;
					background-repeat: no-repeat;

					&:not(:first-child) {
						margin-top: 5px;
					}

					&.btn01 {
						background-position: 12px 50%;
						background-image:url(#{$url-img}/content/cart_icon01.png);

						&:hover {
							background-color: #fdc61c;
							background-image:url(#{$url-img}/content/cart_icon01_on.png);
						}
					}

					&.btn02 {
						background-position: 11px 50%;
						background-image:url(#{$url-img}/content/cart_icon02.png);

						&:hover {
							background-color: #fef5e5;
							background-image:url(#{$url-img}/content/cart_icon02_on.png);
						}
					}

					&.btn03 {
						background-position: 15px 50%;
						background-image:url(#{$url-img}/content/cart_icon03.png);

						&:hover {
							background-color: #fef5e5;
							background-image:url(#{$url-img}/content/cart_icon03_on.png);
						}
					}
				}
			}
		}



	}
}

.bg_purple {
	background: #5628c2;
	color: #fff;
}