@font-face {
	font-family: 'pass';
	font-style: normal;
	font-weight: 400;
	src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAATsAA8AAAAAB2QAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABWAAAABwAAAAcg9+z70dERUYAAAF0AAAAHAAAAB4AJwANT1MvMgAAAZAAAAA/AAAAYH7AkBhjbWFwAAAB0AAAAFkAAAFqZowMx2N2dCAAAAIsAAAABAAAAAQAIgKIZ2FzcAAAAjAAAAAIAAAACAAAABBnbHlmAAACOAAAALkAAAE0MwNYJ2hlYWQAAAL0AAAAMAAAADYPA2KgaGhlYQAAAyQAAAAeAAAAJAU+ATJobXR4AAADRAAAABwAAAAcCPoA6mxvY2EAAANgAAAAEAAAABAA5gFMbWF4cAAAA3AAAAAaAAAAIAAKAE9uYW1lAAADjAAAARYAAAIgB4hZ03Bvc3QAAASkAAAAPgAAAE5Ojr8ld2ViZgAABOQAAAAGAAAABuK7WtIAAAABAAAAANXulPUAAAAA1viLwQAAAADW+JM4eNpjYGRgYOABYjEgZmJgBEI2IGYB8xgAA+AANXjaY2BifMg4gYGVgYVBAwOeYEAFjMgcp8yiFAYHBl7VP8wx/94wpDDHMIoo2DP8B8kx2TLHACkFBkYA8/IL3QB42mNgYGBmgGAZBkYGEEgB8hjBfBYGDyDNx8DBwMTABmTxMigoKKmeV/3z/z9YJTKf8f/X/4/vP7pldosLag4SYATqhgkyMgEJJnQFECcMOGChndEAfOwRuAAAAAAiAogAAQAB//8AD3jaY2BiUGJgYDRiWsXAzMDOoLeRkUHfZhM7C8Nbo41srHdsNjEzAZkMG5lBwqwg4U3sbIx/bDYxgsSNBRUF1Y0FlZUYBd6dOcO06m+YElMa0DiGJIZUxjuM9xjkGRhU2djZlJXU1UDQ1MTcDASNjcTFQFBUBGjYEkkVMJCU4gcCKRTeHCk+fn4+KSllsJiUJEhMUgrMUQbZk8bgz/iA8SRR9qzAY087FjEYD2QPDDAzMFgyAwC39TCRAAAAeNpjYGRgYADid/fqneL5bb4yyLMwgMC1H90HIfRkCxDN+IBpFZDiYGAC8QBbSwuceNpjYGRgYI7594aBgcmOAQgYHzAwMqACdgBbWQN0AAABdgAiAAAAAAAAAAABFAAAAj4AYgI+AGYB9AAAAAAAKgAqACoAKgBeAJIAmnjaY2BkYGBgZ1BgYGIAAUYGBNADEQAFQQBaAAB42o2PwUrDQBCGvzVV9GAQDx485exBY1CU3PQgVgIFI9prlVqDwcZNC/oSPoKP4HNUfQLfxYN/NytCe5GwO9/88+/MBAh5I8C0VoAtnYYNa8oaXpAn9RxIP/XcIqLreZENnjwvyfPieVVdXj2H7DHxPJH/2/M7sVn3/MGyOfb8SWjOGv4K2DRdctpkmtqhos+D6ISh4kiUUXDj1Fr3Bc/Oc0vPqec6A8aUyu1cdTaPZvyXyqz6Fm5axC7bxHOv/r/dnbSRXCk7+mpVrOqVtFqdp3NKxaHUgeod9cm40rtrzfrt2OyQa8fppCO9tk7d1x0rpiQcuDuRkjjtkHt16ctbuf/radZY52/PnEcphXpZOcofiEZNcQAAeNpjYGIAg///GBgZsAF2BgZGJkZmBmaGdkYWRla29JzKggxD9tK8TAMDAxc2D0MLU2NjENfI1M0ZACUXCrsAAAABWtLiugAA) format('woff');
}

.btn.v_base {
	vertical-align: baseline;
}

.fx_align_center {
	align-items: center;
}

.tbl_scroll_y {
	height: 375px;
	overflow-y: auto;

	&.tbl_tab {
		height: 368px;
	}
}

.tbl_tab {
	>table {
		border-top-width: 1px;
		border-bottom-color: #ddd;

		>thead th {
			padding: 15px 0;
			border-bottom-color: #ddd;
		}

		>tbody td {
			padding: 15px 10px;
			border-bottom-color: #eee;
		}
	}
}

.box_security_card {
	padding: 45px 0 50px 50px;
	border: 1px solid $border-base;
	border-radius: 4px;
	background-color: #fafafa;
	background-image: url(#{$url-img}/content/img_security_card.png);
	background-repeat: no-repeat;
	background-position: calc(100% - 149px) 50%;
}

.security_card_inner {
	color: $darkgray;

	>p {
		margin-bottom: 25px;
		line-height: 1.4;
	}
}

.security_card_num {
	>span {
		display: inline-block;
		vertical-align: middle;
	}

	>.txt_security {
		margin-right: 20px;

		>strong {
			font-weight: 400;
			color: #efae23;
		}
	}

	>.security_masking {
		background-image: url(#{$url-img}/content/img_masking.png);
		background-position-y: 50%;
		background-repeat: no-repeat;

		>input[type=password] {
			padding: 0;
			line-height: 32px;
			color: #000;
			font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
			font-size: 18px;
		}

		&.mas_r {
			padding-right: 28px;
			background-position-x: 100%;
		}

		&.mas_l {
			padding-left: 28px;
			background-position-x: 0;
		}
	}

	>.btn_security {
		margin-left: 9px;
	}
}

.otp_card_num {
	>input[type=password] {
		padding: 0 0 0 10px;
		line-height: 32px;
		color: #000;
		font-family: 'pass', 'Roboto', Helvetica, Arial, sans-serif;
		font-size: 18px;
	}
}

.btn_mouse {
	width: 18px;
	height: 26px;
	background: url(#{$url-img-common}/ico_mouse.png);
	vertical-align: top;
}

.btn.fx_w150 {
	width: 150px;
}

.txt_sms {
	line-height: 1.4;
	font-weight: 400;
	color: $darkgray;
}

.corded_phone::after {
	display: none;
}

.transfer_double_cell {
	display: flex;
	margin-top: 20px;
	border-top: 1px solid $border-base;

	>div {
		flex: 1 1 0;

		>strong,
		>span {
			height: 54px;
			line-height: 54px;
		}

		>strong {
			float: left;
			width: 156px;
			border-right: 1px solid $border-base;
			background: #f3f3f2;
			text-align: center;
		}

		>span {
			display: block;
			overflow: hidden;
			padding-right: 10px;
			text-align: right;
		}
	}
}

.payment_write_box {
	padding: 30px 25px;
	border: 1px solid #ddd;

	.fx_lr {
		margin-bottom: 0;

		.tit1 {
			margin-bottom: 0;
			align-self: center;
		}
	}
}

.bdr_btm_line {
	border-bottom-color: #b7b7b7 !important;
}

.btn_payment {
	width: 40px;
	height: 40px;
	background: url(#{$url-img-common}/ico_arr_up_sm.png) no-repeat 100% 50%;

	&.on {
		background-image: url(#{$url-img-common}/ico_arr_down_sm.png);
	}
}

@media print {

	.header,
	.breadcrumb,
	.footer,
	.cont_header_right,
	.paging {
		display: none !important;
	}

	.wrapper {
		min-width: 1000px;
	}

	#content {
		min-height: auto;
	}

	.cont_body {
		width: 1000px;
		padding-bottom: 0;
	}

	.btn_tbl_write {
		margin-top: 30px;
	}

	.modal_popup {
		position: static;
		display: block;
	}

	.modal_popup .popup_inner {
		overflow: visible;
	}

	.popup_body {
		overflow-y: visible;
		max-height: 100%;
		padding: 0;
		width: 100%;
	}

	.popup_header,
	.popup_footer,
	.popup_body .btn_group {
		display: none;
	}
}