.btn.v_base {
	vertical-align: baseline;
}

.tbl_scroll_y {
	height: 370px;
	overflow: auto;
}

.tbl_tab {
	>table {
		border-top-width: 1px;
		border-bottom-color: #ddd;

		>thead th {
			padding: 15px 0;
			border-bottom-color: #ddd;
		}

		>tbody td {
			padding: 15px 10px;
			border-bottom-color: #eee;
		}
	}
}

@media print {

	.header,
	.breadcrumb,
	.footer {
		display: none;
	}
}