//
// Global variables
//

// 사이트 기본 설정

$mode: desktop !default; // responsive, mobile, tablet;
$site : deposit !default; // 복사 원본 사이트 디렉토리

// 경로
$url-img: "/resources/deposit/images" !default;

// PC
// $spacing: 20px !default;
// $topnav-height: 50px !default;
// $header-util-height: 88px !default;
// $gnb-height: 51px !default;
$header-height: 134px !default;
// $header-height-closed: 78px !default;
// $breadcrumb-height: 56px !default;
// $footer-height: 188px !default;

// Mobile
// $mobile-spacing: 15px !default;
// $mobile-topnav-height: 35px !default;
// $mobile-header-height: 50px !default;
// $mobile-breadcrumb-height: 30px !default;
// $mobile-footer-height: 195px !default;
// $mobile-allmenu-header: 157px !default;
// $mobile-allmenu-footer: 50px !default;