@charset "utf-8";

// 
// 예금 공통 스타일
// 

// variables
@import "variables";
@import "../../_common/scss/variables";

// funtions
@import "../../_common/scss/breakpoints";
@import "../../_common/scss/mixins";

// Components
@import "../../_common/scss/inuix";

// Common Contents
@import "../../_common/scss/contents/errorPages";
@import "../../_common/scss/contents/bbsSkinPages";

.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}