// 카테고리

.category {
	position: absolute;
	top: 0;
	width: 110px;
	right: -145px;
	line-height: 1;

	.category_tit {
		font-size: 14px;
		font-weight: 200;
		display: inline-block;
		background-color: #f7f7f7;
		padding-right: 8px;
	}

	.category_list {
		margin-top: -8px;
		padding: 20px 0 15px;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		font-size: 18px;
		line-height: 40px;
	}
}