// 콘텐츠 컨테이너

#content {
	flex: 1 1 calc(100% - 260px);
	/* flex: 1 1 auto*/
}

.cont_header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 150px;

	.tit_cont_type2 {
		text-align: center;
		font-size: 32px;
		font-weight: 200;
	}
}

.cont_body {
	padding: 0 50px 50px;
}