// 새창형 헤더

.header_type2 {
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.logo {
		display: flex;
		align-items: flex-end;
		font-size: 23px;
		font-weight: 500;

		.tit_page {
			margin-bottom: 3px;
		}
	}

	.menu_list {

		.btn {
			color: $darkgray;
			font-weight: 200;
		}
	}

	.step {
		display: flex;
		align-items: center;

		li {
			color: #595959;
			font-weight: 400;
			letter-spacing: -0.05em;
			margin-left: 20px;
			line-height: 0;

			.num {
				display: inline-block;
				width: 10px;
				height: 10px;
				background: $gray;
				border-radius: 100%;
				color: transparent;
			}

			.txt {
				display: none;
			}

			&.on {
				.num {
					display: inline-block;
					width: 32px;
					height: 32px;
					margin-right: 8px;
					background: $gray;
					color: $white;
					text-align: center;
					line-height: 32px;
					border-radius: 100%;
				}

				.txt {
					display: inline;
				}

				~li {
					.num {
						background-color: $border-base;
					}
				}
			}
		}
	}
}