.sidebar {
	width: 260px;
	background-color: #f8f8f8;
}

.sidebar_header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 150px;
	background-color: #131e32;
	color: #fff;
	padding: 0 30px;

	.sub_tit {
		color: #979da9;
		margin-bottom: 5px;
	}

	.sidebar_tit {
		line-height: 35px;
		font-weight: normal;
	}
}

.sidebar_list {
	li {
		border-bottom: 1px solid #eaeaea;

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 150px;
		}

		&.on {
			border-bottom-color: transparent;

			a {
				background-color: #fff;
			}
		}
	}
}