.sidebar {
	width: 260px;
	background-color: #f8f8f8;
}

.sidebar_header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 150px;
	background-color: #131e32;
	color: #fff;
	padding: 0 30px;

	.sub_tit {
		color: #979da9;
		margin-bottom: 5px;
	}

	.sidebar_tit {
		line-height: 35px;
		font-weight: normal;
	}
}

.sidebar_list {
	li {
		border-bottom: 1px solid #eaeaea;

		a {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 150px;
			opacity: .8;
			font-size: 18px;
		}

		&.on {

			a {
				background-color: #fff;
				opacity: 1;

				span {
					font-weight: 400;
				}
			}
		}

		&.active {
			position: relative;
			padding: 17px 25px 16px;
			height: 150px;
			background-color: #2b3a55;
			color: #fff;
			font-size: 18px;
			border-bottom: 1px solid #3d4b63;

			&:last-child {
				border-bottom: 1px solid #eaeaea;
			}

			ul {
				margin-top: 6px;

				>li {
					font-size: 16px;
					line-height: 24px;
					border: none;
					color: #cfd1d6;
				}
			}

			.btn_edit {
				position: absolute;
				top: 20px;
				right: 20px;
				display: block;
				width: 24px;
				height: 24px;
				background:url(#{$url-img}/content/ico_edit_white.png)0 0 no-repeat;
				background-size: 24px 24px;
			}
		}

		&:last-child {
			border-bottom: transparent;
		}
	}
}