@charset "utf-8";

//
// UI 컴포넌트 가이드
//

// variables
$url-img-guide: "/resources/smart/_guide/images" !default;
$mode: responsive !default; // responsive, mobile, tablet;

@import "../../scss/variables";
@import "../../scss/breakpoints";
@import "../../scss/mixins";

// pages
// [필독] SCSS 작업방법 안내
// 1. IA에 정의된 대메뉴별 path명과 맞춰 scss 파일 추가 후 사용
//    예) path명 + Pages
// 2. 반응형 사이트인 경우 breakpoint mixin 사용 필수 : 사용법 _guidePages.scss 참고
// 3. 색상값 등 변수 사용 필수 : _variables.scss 참고

@import "pages/guidePages";