/* 간격 */

/* 주요 마진셋 */
.mt_lg {
	margin-top: $spacing-lg !important;
}

.mb_lg {
	margin-bottom: $spacing-lg !important;
}

.mt_md {
	margin-top: $spacing-md !important;
}

.mb_md {
	margin-bottom: $spacing-md !important;
}

.ml_md {
	margin-left: $spacing-md !important;
}

.mr_md {
	margin-right: $spacing-md !important;
}

.mt_sm {
	margin-top: $spacing-sm !important;
}

.mb_sm {
	margin-bottom: $spacing-sm !important;
}

.ml_sm {
	margin-left: $spacing-sm !important;
}

.mr_sm {
	margin-right: $spacing-sm !important;
}

/* 간격 Preset */
$dirs: (top: t, left: l, right: r, bottom: b);
$total: 21;
$gap: 5px;

@for $i from 0 to $total {
	.m_#{$i} {
		margin: $i * $gap !important;
	}
}

@for $i from 0 to $total {
	.p_#{$i} {
		padding: $i * $gap !important;
	}
}

@each $dir,
$value in $dirs {
	@for $i from 0 to $total {
		.m#{$value}_#{$i} {
			margin-#{$dir}: $i * $gap !important;
		}
	}
}

@each $dir,
$value in $dirs {
	@for $i from 0 to $total {
		.p#{$value}_#{$i} {
			padding-#{$dir}: $i * $gap !important;
		}
	}
}

@if ($mode=='responsive') {

	// PC 전용 마진
	@include media-breakpoint-up(lg) {
		@for $i from 0 to $total {
			.m_lg_#{$i} {
				margin: $i * $gap !important;
			}
		}

		@for $i from 0 to $total {
			.p_lg_#{$i} {
				padding: $i * $gap !important;
			}
		}

		@each $dir,
		$value in $dirs {
			@for $i from 0 to $total {
				.m#{$value}_lg_#{$i} {
					margin-#{$dir}: $i * $gap !important;
				}
			}
		}

		@each $dir,
		$value in $dirs {
			@for $i from 0 to $total {
				.p#{$value}_lg_#{$i} {
					padding-#{$dir}: $i * $gap !important;
				}
			}
		}
	}

	// 모바일 전용 마진
	@include media-breakpoint-down(md) {
		@for $i from 0 to $total {
			.m_md_#{$i} {
				margin: $i * $gap !important;
			}
		}

		@for $i from 0 to $total {
			.p_md_#{$i} {
				padding: $i * $gap !important;
			}
		}

		@each $dir,
		$value in $dirs {
			@for $i from 0 to $total {
				.m#{$value}_md_#{$i} {
					margin-#{$dir}: $i * $gap !important;
				}
			}
		}

		@each $dir,
		$value in $dirs {
			@for $i from 0 to $total {
				.p#{$value}_md_#{$i} {
					padding-#{$dir}: $i * $gap !important;
				}
			}
		}
	}
}

/* 탭메뉴 하단 간격 */
.tab_menu1 {
	@include media-breakpoint-up(lg) {
		margin-bottom: 50px;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 40px;
	}
}

.tab_menu2 {
	@include media-breakpoint-up(lg) {
		margin-bottom: 40px;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 30px;
	}
}

.tab_menu_box {
	@include media-breakpoint-up(lg) {
		margin-bottom: 0;
	}

	@include media-breakpoint-down(md) {
		margin-bottom: 0;
	}
}

/* 체크박스 간격 */
.ckeck-item,
.ckeck-item-custom {
	vertical-align: middle;
	line-height: 20px;

	+.ckeck-item,
	+.ckeck-item-custom {
		margin-left: 26px;

		@include media-breakpoint-down(md) {
			margin-left: 11px;
		}
	}
}