// 크기

.txt_sm {
	font-size: $font-size-sm !important;
}

.txt_md {
	font-size: $font-size-base !important;
}

.txt_lg {
	font-size: $font-size-lg !important;
}

.txt_xl {
	font-size: $font-size-xl !important;
	font-weight: 500;
}

// .txt_xxl {
// 	font-size: $font-size-xxl !important;
// }

// 타이틀
.tit1,
.tit2 {
	position: relative;
	display: flex;
	align-items: center;

	&:before {
		flex: 0 0 auto;
		content: '';
	}

	.btn {
		// position: relative;
		vertical-align: initial;
		flex: 0 0 auto;
	}
}

.tit1 {
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 26px;
	line-height: 1;
	color: $black;
}

.tit2 {
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
}

// 두께

.txt_light {
	font-weight: 300 !important;
}

.txt_normal {
	font-weight: normal !important;
}

.txt_medium {
	font-weight: 500 !important;
}

.txt_bold {
	font-weight: bold !important;
}

// 링크 텍스트
.link {
	text-decoration: underline;

	&:focus,
	&:hover {
		color: $primary;
	}
}

.txt_unit {
	color: $gray;
	text-align: right;
	margin-bottom: 5px;
	font-size: $font-size-sm;
}

mark {
	background-color: transparent;
	box-shadow: inset 0px -10px #b7f5f3;
}