// 크기

.txt_sm {
	font-size: $font-size-sm !important;
}

.txt_md {
	font-size: $font-size-base !important;
}

.txt_lg {
	font-size: $font-size-lg !important;
}

.txt_xl {
	font-size: $font-size-xl !important;
}

// .txt_xxl {
// 	font-size: $font-size-xxl !important;
// 	font-weight: 500;
// 	letter-spacing: -0.05em;
// }

// 타이틀

.tit1,
.tit2 {
	position: relative;
	align-items: center;

	.ico {
		margin-top: -2px;
	}
}

.tit1 {
	margin-bottom: 15px;
	font-weight: 500;
	font-size: 16px;
	color: $black;
}

.tit2 {
	margin-bottom: 12px;
	font-weight: 500;
	font-size: 14px;
	color: $darkgray;
}

// 두께
.txt_light {
	font-weight: 200 !important;
}

.txt_normal {
	font-weight: normal !important;
}

.txt_medium {
	font-weight: 500 !important;
}

.txt_bold {
	font-weight: bold !important;
}

// 링크 텍스트
.link {
	text-decoration: underline;

	&:focus,
	&:hover {
		color: $primary;
	}
}

// 상태 라벨
.lab_status {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0 9px;
	line-height: 18px;
	border-radius: 10px;
	font-size: 10px;
	font-weight: normal;

	+.lab_status {
		margin-left: 6px;
	}

	&.outline_blue {
		color: $blue;
		border-color: currentColor;
	}

	&.outline_red {
		color: $red;
		border-color: currentColor;
	}
}