@charset "UTF-8";
.wrapper {
  position: relative;
  overflow: hidden;
  min-width: 1200px;
}

.skip_nav {
  display: block;
  position: absolute;
  top: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  z-index: 600;
}

.skip_nav:focus, .skip_nav:active {
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: #666;
}

.header {
  height: 134px;
  border-bottom: 1px solid #eee;
}

.header .hd_top {
  position: relative;
}

.header .logo {
  position: absolute;
  left: 0;
  top: 9px;
}

.header .util_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0 0 137px;
}

.header .util_menu > .l {
  margin-right: auto;
}

.header .util_menu > .r {
  margin-left: auto;
}

.header .util_menu > .r > .util_btn:not(:first-child) {
  margin-left: 6px;
}

.header .util_menu .box_user_login > .user_name {
  font-weight: 400;
  font-size: 0.813em;
  color: #555;
}

.header .util_menu .box_user_login > .user_name > strong {
  font-weight: 600;
  color: #ff883a;
}

.header .util_menu .box_user_login > .connect_time {
  margin: 0 5px 0 18px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: NotoSansKR;
}

.header .util_menu .box_user_login > .connect_time > span::before {
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  margin: 7px 3px 0 0;
  background: url(/resources/deposit/images/common/ico_time.png) no-repeat;
  vertical-align: top;
}

.header .util_menu .box_user_login > .connect_time > span > strong {
  color: #f46e16;
}

.header .util_menu .box_user_login > .connect_time > span > button {
  color: #555;
}

.header .util_menu .box_user_login > .connect_time > span > strong, .header .util_menu .box_user_login > .connect_time > span > button {
  font-weight: 200;
}

.header .util_menu .util_btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.header .util_menu .util_btn > a, .header .util_menu .util_btn > span {
  display: block;
  position: relative;
  height: 28px;
  padding: 0 10px;
  line-height: 27px;
  font-weight: 200;
  font-size: 0.813em;
  color: #555;
}

.header .util_menu .util_btn > a > span {
  position: relative;
  z-index: 1;
}

.header .util_menu .util_btn > a.on, .header .util_menu .util_btn > a:hover, .header .util_menu .util_btn > a:focus {
  color: #111;
}

.header .util_menu .util_btn > a.on::before, .header .util_menu .util_btn > a:hover::before, .header .util_menu .util_btn > a:focus::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.header .util_menu .util_btn > a:not(:last-child) {
  border-right: 1px solid #ddd;
}

.header .util_menu .util_btn > a:first-child::before {
  border-radius: 6px 0 0 6px;
}

.header .util_menu .util_btn > a:last-child::before {
  border-radius: 0 6px 6px 0;
}

.header .util_menu .util_btn .btn_icon > span::before {
  display: inline-block;
  content: '';
  width: 11px;
  height: 15px;
  margin: 6px 4px 0 0;
  vertical-align: top;
}

.header .util_menu .util_btn .btn_mypg > span::before {
  background: url(/resources/deposit/images/common/ico_mypage.png) no-repeat;
}

.header .util_menu .util_btn .btn_logout > span::before {
  background: url(/resources/deposit/images/common/ico_logout.png) no-repeat;
}

.header .util_menu .bg_type1 a.on::before, .header .util_menu .bg_type1 a:hover::before, .header .util_menu .bg_type1 a:focus::before {
  left: -1px;
  top: -1px;
  border: 1px solid #fdc61c;
  background: #fdc61c;
}

.header .util_menu .bg_type2 a.on::before, .header .util_menu .bg_type2 a:hover::before, .header .util_menu .bg_type2 a:focus::before {
  left: 0;
  top: 0;
  background: #fef5e5;
}

.header .util_menu .box_single > a::before {
  border-radius: 6px !important;
}

.header .util_menu .global-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 14px;
}

.header .util_menu .global-list > a {
  position: relative;
  padding-right: 12px;
  line-height: 1;
  font-weight: 400;
  font-size: 0.813em;
  color: #555;
}

.header .util_menu .global-list > a::before {
  content: '';
  position: absolute;
  right: 0;
  top: 4px;
  width: 7px;
  height: 4px;
  background: url(/resources/deposit/images/common/ico_global_arrow.png);
}

.header .gnb {
  padding: 28px 165px 0 0;
}

.header .gnb > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .gnb > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}

.header .gnb > ul > li > a {
  display: block;
  position: relative;
  height: 49px;
  text-align: center;
  line-height: 1;
  font-weight: 400;
  font-size: 1.25em;
}

.header .gnb > ul > li > a::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 50%;
  z-index: 1000;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 2px;
  overflow: hidden;
  background: #101010;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.header .gnb > ul > li > a.current::before, .header .gnb > ul > li > a:focus::before, .header .gnb > ul > li > a:hover::before {
  width: 45px;
}

.header .gnb .layer_mn {
  display: none;
  position: absolute;
  left: 0;
  top: 133px;
  z-index: 100;
  width: 100%;
  border-top: 1px solid #eee;
  background: #fff;
  -webkit-box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
}

.header .gnb .layer_mn .menu_wrap {
  width: 1200px;
  max-height: calc(100vh - 125px);
  overflow-y: auto;
  margin: 0 auto;
  padding: 50px 0 75px;
}

.header .gnb .layer_mn .menu_list {
  display: inline-block;
  width: calc(98.8% / 5);
  margin-top: 60px;
  padding-right: 20px;
  vertical-align: top;
}

.header .gnb .layer_mn .menu_list > strong {
  display: block;
  margin-bottom: 9px;
  line-height: 1;
  font-weight: 400;
  font-size: 1.25em;
  color: #111;
}

.header .gnb .layer_mn .menu_list > ul > li > a {
  display: inline-block;
  word-break: keep-all;
  line-height: 1.4;
  font-weight: 200;
}

.header .gnb .layer_mn .menu_list > ul > li > a:hover, .header .gnb .layer_mn .menu_list > ul > li > a:focus {
  text-decoration: underline;
  color: #c78800;
}

.header .gnb .layer_mn .menu_list > ul > li:not(:last-child) {
  margin-bottom: 5px;
}

.header .gnb .layer_mn .menu_list:nth-child(1), .header .gnb .layer_mn .menu_list:nth-child(2), .header .gnb .layer_mn .menu_list:nth-child(3), .header .gnb .layer_mn .menu_list:nth-child(4), .header .gnb .layer_mn .menu_list:nth-child(5) {
  margin-top: 0;
}

.header .gnb .open {
  display: block;
}

/* 전체메뉴 */
/* 통합검색 */
.breadcrumb {
  border-bottom: 1px solid #eee;
}

.breadcrumb .breadcrumb_list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  color: #555;
}

.breadcrumb .breadcrumb_list > li {
  position: relative;
}

.breadcrumb .breadcrumb_list > li:first-child > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  height: 100%;
  padding: 0 13px;
  max-height: none;
}

.breadcrumb .breadcrumb_list > li:first-child > a:hover {
  background-color: #FDC61C;
}

.breadcrumb .breadcrumb_list > li:first-child > a:hover .ico_home {
  background-image: url(/resources/deposit/images/common/ico_home_black.png);
}

.breadcrumb .breadcrumb_list > li:last-child {
  border-right: 1px solid #f2f2f2;
}

.breadcrumb .breadcrumb_list > li:last-child > a {
  color: #111;
  font-weight: 500;
}

.breadcrumb .breadcrumb_list > li:nth-child(n+2) {
  border-left: 1px solid #f2f2f2;
  min-width: 117px;
}

.breadcrumb .breadcrumb_list > li:nth-child(n+2) > a {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  max-height: 44px;
  line-height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  height: 100%;
  max-height: none;
  padding: 0 58px 0 19px;
  border-radius: 0;
  text-align: left;
  font-size: 16px;
  background: #fff url(/resources/deposit/images/common/ico_arr_down_sm.png) no-repeat right 20px center;
  background-size: 13px auto;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: color, border-color, -webkit-box-shadow;
  transition-property: color, border-color, -webkit-box-shadow;
  transition-property: color, border-color, box-shadow;
  transition-property: color, border-color, box-shadow, -webkit-box-shadow;
  will-change: color, border-color, box-shadow;
}

.breadcrumb .breadcrumb_list > li.on:nth-child(n+2) > a {
  background-image: url(/resources/deposit/images/common/ico_arr_up_sm.png);
  background-color: #FDC61C;
}

.breadcrumb .breadcrumb_list > li.on:nth-child(n+2) .sub_list_wrap {
  display: block;
}

.breadcrumb .sub_list_wrap {
  display: none;
  position: absolute;
  z-index: 10;
  left: -1px;
  right: 0;
  margin-top: 1px;
  min-width: 200px;
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  border-top: 0;
  font-size: 15px;
}

.breadcrumb .sub_list_wrap ul {
  padding: 15px 19px;
  font-size: 16px;
}

.breadcrumb .sub_list_wrap a {
  padding: 3px 0;
  position: relative;
  display: block;
  color: #111;
}

#content {
  min-height: calc(100vh - 479px);
}

.cont_header {
  width: 1200px;
  margin: auto;
  position: relative;
  padding: 80px 0 0;
  margin-bottom: 40px;
}

.cont_header:after {
  display: block;
  clear: both;
  content: '';
}

.cont_header .left {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_header .right {
  float: right;
}

.cont_header .tit_cont {
  display: inline-block;
  margin: 0 12px 0 0;
}

.cont_header .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_header .step li {
  color: #595959;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-left: 20px;
  line-height: 0;
}

.cont_header .step li .num {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 100%;
  color: transparent;
}

.cont_header .step li .txt {
  display: none;
}

.cont_header .step li.on .num {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 32px;
  border-radius: 100%;
}

.cont_header .step li.on .txt {
  display: inline;
}

.cont_header .step li.on ~ li .num {
  background-color: #ddd;
}

.cont_body {
  width: 1200px;
  margin: auto;
}

.footer {
  border-top: 1px solid #cbcbcb;
  height: 300px;
  overflow: hidden;
}

.footer .container {
  padding: 35px 0 60px;
}

.footer .sns_area {
  float: right;
  text-align: right;
}

.footer .sns_area ul {
  margin-bottom: 20px;
  padding-top: 20px;
}

.footer .sns_area li {
  margin-left: 12px;
  display: inline-block;
}

.footer .sns_area p {
  font-size: 0.875em;
  color: #555;
}

.footer .copyright {
  padding-top: 10px;
  color: #b1b1b1;
  font-size: 0.875em;
  font-weight: 20;
}

.footer .footer_cont {
  float: left;
}

.footer .footer_cont ul li {
  margin-bottom: 5px;
  color: #555;
  font-size: 0.875em;
  font-weight: 300;
}

.footer .footer_cont ul li:last-child {
  padding-top: 5px;
}

.footer .footer_cont ul li strong {
  font-weight: 400;
}

.footer .footer_menu {
  margin-bottom: 40px;
}

.footer .footer_menu ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.footer .footer_menu ul li {
  position: relative;
  padding: 0 32px;
  display: inline-block;
}

.footer .footer_menu ul li:first-child {
  padding-left: 0;
}

.footer .footer_menu ul li:first-child:before {
  display: none;
}

.footer .footer_menu ul li:last-child {
  padding-right: 0;
}

.footer .footer_menu ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  display: block;
  content: "";
}

.footer .footer_menu ul li a {
  font-size: 0.875em;
  color: #555;
}

.footer .footer_menu ul li a strong {
  font-weight: 500;
}
