.wrapper {
  position: relative;
  overflow: hidden;
}

.header {
  height: 135px;
  border-bottom: 1px solid #eee;
}

.header .skip_nav {
  display: block;
  position: absolute;
  top: 0;
  margin-bottom: -1px;
  width: 100%;
  height: 1px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  z-index: 600;
}

.header .skip_nav:focus, .header .skip_nav:active {
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: #666;
}

.header .logo {
  position: absolute;
  left: 20px;
  top: 50px;
}

.header .top_search {
  position: absolute;
  right: 84px;
  top: 72px;
}

.header .btn_top_search {
  width: 20px;
  height: 20px;
  background: url(../images/common/search_icon.png) no-repeat center center;
  display: block;
  text-indent: -9999px;
}

.header .total_menu_open {
  position: absolute;
  right: 20px;
  top: 67px;
}

.header .total_menu_open .btn_menu_open {
  position: relative;
  width: 30px;
  height: 30px;
}

.header .total_menu_open .btn_menu_open span {
  position: absolute;
  left: 10px;
  top: 6px;
  width: 20px;
  height: 2px;
  background-color: #111;
  display: block;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  text-indent: -9999px;
}

.header .total_menu_open .btn_menu_open span:before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 20px;
  height: 2px;
  background-color: #111;
  display: block;
  content: "";
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.header .total_menu_open .btn_menu_open span:after {
  position: absolute;
  left: 0;
  top: 16px;
  width: 20px;
  height: 2px;
  background-color: #111;
  display: block;
  content: "";
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}

.header .header_inner {
  position: relative;
  text-align: center;
}

.header .util_menu {
  padding-top: 18px;
}

.header .util_menu:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.header .util_menu ul {
  float: left;
}

.header .util_menu ul li {
  float: left;
  position: relative;
  padding: 0 15px;
}

.header .util_menu ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -5px;
  width: 1px;
  height: 10px;
  background-color: #eae9e9;
  display: block;
  content: "";
}

.header .util_menu ul li a {
  font-size: 0.813em;
  color: #555;
}

.header .util_menu ul li:first-child:before {
  display: none;
}

.header .util_menu ul.member_menu li {
  padding: 0;
  margin-left: -1px;
}

.header .util_menu ul.member_menu li a {
  padding: 0 12px;
  height: 28px;
  line-height: 26px;
  display: block;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.header .util_menu ul.member_menu li:last-child a {
  border-radius: 0 5px 5px 0;
}

.header .util_menu ul.member_menu li:before {
  display: none;
}

.header .gnb {
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}

.header .gnb > ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.header .gnb > ul > li {
  float: left;
  margin: 0 70px;
}

.header .gnb > ul > li > a {
  display: block;
  font-size: 1.25em;
}

@media (max-width: 1024.98px) {
  .allmenu-open {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

#mobile-allmenu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#mobile-allmenu:before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#mobile-allmenu .allmenu-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  max-width: 414px;
  -webkit-transform: translateX(-414px);
          transform: translateX(-414px);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#mobile-allmenu .top-bar {
  height: 35px;
  padding: 5px;
  background: #428cf0;
}

#mobile-allmenu .allmenu-title {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  padding: 0 10px;
}

#mobile-allmenu .language-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

#mobile-allmenu .language-list a {
  display: block;
  height: 25px;
  padding: 0 5px;
  border-radius: 5px;
}

#mobile-allmenu .language-list li {
  position: relative;
  padding: 0 10px;
}

#mobile-allmenu .language-list li:after {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -8px;
  width: 2;
  height: 15px;
  content: '';
  border-right: 1px dashed #307ad2;
}

#mobile-allmenu .language-list li.on a {
  width: 64px;
  background-color: #004a85;
}

#mobile-allmenu .user-menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  overflow: hidden;
  padding: 0 15px;
  border-bottom: 1px solid #ddd;
}

#mobile-allmenu .user-menu li + li {
  margin-left: 20px;
}

#mobile-allmenu .user-menu .btn {
  height: 39px;
}

#mobile-allmenu .menu-area {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  background: #fff;
}

#mobile-allmenu .allmenu-list {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 160px;
  border-right: 1px solid #e3e3e3;
}

#mobile-allmenu .allmenu-list li {
  border-bottom: 1px solid #e3e3e3;
}

#mobile-allmenu .allmenu-list li a {
  display: block;
  padding: 14px 10px 13px 16px;
  font-size: 17px;
  font-family: "SpoqaHanSans", "NotoSansKR", "malgun gothic", Arial, sans-serif;
  font-weight: 500;
  color: #222;
}

#mobile-allmenu .allmenu-list li.on {
  padding-left: 0;
}

#mobile-allmenu .allmenu-list li.on a {
  width: 160px;
  position: relative;
  padding-right: 8px;
  color: #fff;
  background-color: #004a85;
  border-bottom: 0;
}

#mobile-allmenu .allmenu-list li.on a:after {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  right: -8px;
  margin-top: -8px;
  width: 0px;
  height: 0px;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 0;
  border-left: 8px solid #004a85;
}

#mobile-allmenu .allmenu-lnb {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: calc(100% - 160px);
  padding: 0 15px 30px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#mobile-allmenu .allmenu-lnb h3 {
  display: block;
  padding: 15px 8px 12px 5px;
  border-bottom: 2px solid #004a85;
  font-family: "SpoqaHanSans", "NotoSansKR", "malgun gothic", Arial, sans-serif;
  font-size: 18px;
  color: #EFAE23;
  line-height: 22px;
}

#mobile-allmenu .allmenu-lnb h3 a {
  display: block;
}

#mobile-allmenu .lnb-item {
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#mobile-allmenu .lnb-item .on:before {
  background-color: #EFAE23;
}

#mobile-allmenu .lnb-item .on > a {
  font-weight: bold;
  color: #EFAE23;
}

#mobile-allmenu .lnb-item .on > a:before {
  background-color: #EFAE23;
}

#mobile-allmenu .lnb-item > ul > li.collapse > a {
  position: relative;
  padding-right: 30px;
}

#mobile-allmenu .lnb-item > ul > li.collapse > a:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -4px;
  width: 14px;
  height: 8px;
  background: url(/resources/_common/images/ico_chevron-up-black@2x.png) no-repeat right center;
  background-size: 14px auto;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: .5;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#mobile-allmenu .lnb-item > ul > li.collapse.on > a:after {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  opacity: 1;
}

#mobile-allmenu .lnb-item > ul > li.on > a {
  color: #333;
}

#mobile-allmenu .lnb-item > ul > li > a {
  display: block;
  padding: 10px 5px;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  line-height: 19px;
}

#mobile-allmenu .lnb-item > ul > li > ul {
  display: none;
}

#mobile-allmenu .lnb-item > ul > li > ul:before {
  display: block;
  height: 8px;
  content: '';
}

#mobile-allmenu .lnb-item > ul > li > ul:after {
  display: block;
  height: 8px;
  content: '';
  border-bottom: 1px solid #ddd;
}

#mobile-allmenu .lnb-item > ul > li > ul > li {
  padding-left: 15px;
  position: relative;
}

#mobile-allmenu .lnb-item > ul > li > ul > li:before {
  position: absolute;
  left: 15px;
  top: 11px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #707070;
  content: '';
}

#mobile-allmenu .lnb-item > ul > li > ul > li.collapse > a {
  position: relative;
  padding-right: 35px;
}

#mobile-allmenu .lnb-item > ul > li > ul > li.collapse > a:before, #mobile-allmenu .lnb-item > ul > li > ul > li.collapse > a:after {
  content: '';
  position: absolute;
  width: 11px;
  height: 1px;
  right: 20px;
  top: 50%;
  margin-top: -1px;
  background-color: #707070;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#mobile-allmenu .lnb-item > ul > li > ul > li.collapse > a:after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#mobile-allmenu .lnb-item > ul > li > ul > li.collapse.on > a:before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#mobile-allmenu .lnb-item > ul > li > ul > li.collapse.on > a:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#mobile-allmenu .lnb-item > ul > li > ul > li > a {
  display: block;
  padding: 3px 5px 3px 10px;
  font-size: 15px;
  line-height: 19px;
}

#mobile-allmenu .lnb-item > ul > li > ul ul {
  display: none;
  margin-bottom: 5px;
}

#mobile-allmenu .lnb-item > ul > li > ul ul li {
  padding-left: 10px;
}

#mobile-allmenu .lnb-item > ul > li > ul ul li a {
  position: relative;
  font-size: 14px;
  padding: 2px 5px 2px 9px;
}

#mobile-allmenu .lnb-item > ul > li > ul ul li a:before {
  position: absolute;
  left: 0;
  top: 11px;
  width: 4px;
  height: 2px;
  background: #666;
  content: '';
}

#mobile-allmenu .lnb-item:last-child {
  min-height: 100%;
}

#mobile-allmenu .btn_allmenu-close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 15px;
  height: 35px;
}

#mobile-allmenu .btn_allmenu-close .ico {
  margin-top: -1px;
}

.allmenu-open #mobile-allmenu {
  opacity: 1;
  visibility: visible;
}

.allmenu-open #mobile-allmenu:before {
  opacity: 1;
  visibility: visible;
}

.allmenu-open #mobile-allmenu .allmenu-inner {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media (min-width: 1025px) {
  #mobile-allmenu {
    display: none;
  }
}

#desktop-allmenu .popup_body {
  position: relative;
  height: calc(100vh - 200px);
  margin-bottom: 30px;
}

#desktop-allmenu .allmenu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
  height: 46px;
  margin: 0 -5px;
}

#desktop-allmenu .allmenu-list li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 15%;
  margin: 0 5px;
}

#desktop-allmenu .allmenu-list li a {
  display: block;
  border: 1px solid #e3e3e3;
  font-size: 18px;
  height: 44px;
  max-width: 100%;
  white-space: nowrap;
  height: 44px;
  max-height: none;
  line-height: 44px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: keep-all;
  color: #333;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
}

#desktop-allmenu .allmenu-list li.on a {
  position: relative;
  color: #EFAE23;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid #428cf0;
}

#desktop-allmenu .allmenu-list li.on:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -6px;
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid #428cf0;
  border-bottom: 0;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}

#desktop-allmenu .allmenu-body {
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  bottom: 0;
  padding: 0 30px;
  overflow-y: auto;
}

#desktop-allmenu .lnb-wrap {
  padding-top: 28px;
}

#desktop-allmenu .lnb-wrap:last-child {
  min-height: 100%;
}

#desktop-allmenu .lnb-wrap .lnb-title {
  height: 38px;
  margin-bottom: 12px;
  line-height: 38px;
}

#desktop-allmenu .lnb-wrap .lnb-title h3 {
  display: inline-block;
  vertical-align: top;
  font-weight: 500;
  font-family: "SpoqaHanSans", "NotoSansKR", "malgun gothic", Arial, sans-serif;
  font-size: 24px;
  color: #333;
}

#desktop-allmenu .lnb-wrap .lnb-title p {
  display: inline-block;
  vertical-align: top;
  margin-left: 5px;
  padding-top: 2px;
  font-size: 16px;
  color: #666;
}

#desktop-allmenu .lnb-wrap .lnb-list {
  border-top: 1px solid #428cf0;
  border-bottom: 1px solid #428cf0;
}

#desktop-allmenu .lnb-wrap .lnb-list > li {
  position: relative;
}

#desktop-allmenu .lnb-wrap .lnb-list > li + li {
  border-top: 1px dashed rgba(255, 255, 255, 0.5);
  margin-top: -1px;
}

#desktop-allmenu .lnb-wrap .lnb-list > li + li:after {
  content: '';
  display: block;
  position: absolute;
  top: -1px;
  right: 0;
  left: 180px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

#desktop-allmenu .lnb-wrap .lnb-list > li > ul {
  display: tbl_cell;
  height: 45px;
  vertical-align: middle;
  padding: 8px 0 8px 20px;
  font-size: 15px;
}

#desktop-allmenu .lnb-wrap .lnb-list > li > a {
  display: tbl_cell;
  height: 45px;
  vertical-align: middle;
  width: 180px;
  padding: 0 15px 0 20px;
  color: #fff;
  font-size: 16px;
  background-color: #428cf0;
}

#desktop-allmenu .lnb-wrap .lnb-list:not(.lnb-list-dropdown) > li > ul > li {
  float: left;
  line-height: 30px;
  margin-right: 15px;
}

#desktop-allmenu .lnb-wrap .lnb-list:not(.lnb-list-dropdown) > li > ul > li > a {
  display: inline-block;
}

#desktop-allmenu .lnb-wrap .lnb-list:not(.lnb-list-dropdown) > li > ul > li > a:before {
  display: inline-block;
  width: 3px;
  height: 3px;
  margin: -1px 6px 0 0;
  vertical-align: middle;
  background-color: #0e1013;
  content: '';
}

#desktop-allmenu .lnb-wrap .lnb-list:not(.lnb-list-dropdown) > li > ul > li > a:hover, #desktop-allmenu .lnb-wrap .lnb-list:not(.lnb-list-dropdown) > li > ul > li > a:focus {
  color: #EFAE23;
  text-decoration: underline;
}

#desktop-allmenu .lnb-wrap .lnb-list:not(.lnb-list-dropdown) > li > ul > li.collapse ul {
  display: none;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul {
  padding: 5px 15px;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li {
  position: relative;
  float: left;
  width: 185px;
  margin: 10px 5px;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li > a {
  display: block;
  border: 1px solid #dadada;
  max-width: 100%;
  white-space: nowrap;
  max-height: 38px;
  line-height: 38px;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 15px;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li ul {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  border: 1px solid #428cf0;
  border-top: 0;
  background-color: #fff;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li ul a {
  display: block;
  padding: 5px 15px;
  line-height: 20px;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li ul a:hover, #desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li ul a:focus {
  background-color: #dfedff;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li.collapse > a {
  position: relative;
  padding-right: 20px;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li.collapse > a:after {
  content: '';
  position: absolute;
  right: 9px;
  top: 50%;
  margin-top: -3px;
  width: 13px;
  height: 7px;
  background: url(/resources/_common/images/ico_chevron-down@2x.png) no-repeat;
  background-size: cover;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li.collapse.on > a {
  border-color: #428cf0;
  background-color: #428cf0;
  color: #fff;
}

#desktop-allmenu .lnb-wrap .lnb-list.lnb-list-dropdown > li > ul > li.collapse.on > a:after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-image: url(/resources/_common/images/ico_chevron-down-white@2x.png);
}

#desktop-allmenu .site-link-area {
  position: relative;
  margin-bottom: -1px;
  border-top: 1px solid #428cf0;
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 10px;
}

#desktop-allmenu .site-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#desktop-allmenu .site-link li {
  margin-left: 20px;
}

#desktop-allmenu .site-link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  border: 1px solid #eee;
  border-radius: 10px;
  font-size: 18px;
  padding: 0 10px;
  height: 58px;
}

#desktop-allmenu .site-link a:hover {
  border-color: #428cf0;
}

#desktop-allmenu .site-link .text {
  margin-left: 10px;
}

@media (max-width: 1024.98px) {
  #desktop-allmenu {
    display: none !important;
  }
}

#breadcrumb .breadcrumb_list li.on .sub_list_wrap {
  display: block;
}

#breadcrumb .sub_list_wrap {
  display: none;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  max-height: 500px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-top: 0;
}

#breadcrumb .sub_list_wrap a {
  position: relative;
  display: block;
  color: #111;
}

@media (min-width: 1025px) {
  #breadcrumb {
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
  }
  #breadcrumb .breadcrumb_list {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 55px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #breadcrumb .breadcrumb_list > li {
    position: relative;
    margin-top: -1px;
  }
  #breadcrumb .breadcrumb_list > li:first-child {
    margin-left: 18px;
  }
  #breadcrumb .breadcrumb_list > li:first-child > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
  }
  #breadcrumb .breadcrumb_list > li:last-child > a {
    color: #111;
  }
  #breadcrumb .breadcrumb_list > li:nth-child(n+2) {
    margin-left: 12px;
    padding-left: 18px;
    background: url(/resources/_common/images/ico_chevron-right-xs.png) no-repeat 0 center;
  }
  #breadcrumb .breadcrumb_list > li:nth-child(n+2) > a {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    max-height: 23px;
    line-height: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 260px;
    max-height: 35px;
    padding: 5px 30px 5px 15px;
    border: 1px solid #dadada;
    border-radius: 0;
    text-align: left;
    font-size: 16px;
    color: #555;
    background: #fff url(/resources/_common/images/ico_chevron-down@2x.png) no-repeat right 10px center;
    background-size: 13px auto;
    -webkit-transition-duration: .2s;
            transition-duration: .2s;
    -webkit-transition-property: color, border-color, -webkit-box-shadow;
    transition-property: color, border-color, -webkit-box-shadow;
    transition-property: color, border-color, box-shadow;
    transition-property: color, border-color, box-shadow, -webkit-box-shadow;
    will-change: color, border-color, box-shadow;
  }
  #breadcrumb .sub_list_wrap {
    left: 18px;
    font-size: 15px;
  }
  #breadcrumb .sub_list_wrap ul {
    padding: 15px 19px;
    font-size: 16px;
  }
  #breadcrumb .sub_list_wrap a {
    padding: 3px 0;
  }
}

@media (max-width: 1024.98px) {
  #breadcrumb {
    background-color: #004a84;
    color: #fff;
  }
  #breadcrumb .container {
    padding: 0;
  }
  #breadcrumb .breadcrumb_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #breadcrumb .breadcrumb_list > li {
    position: relative;
    display: none;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }
  #breadcrumb .breadcrumb_list > li:nth-child(3), #breadcrumb .breadcrumb_list > li:nth-child(4) {
    display: block;
  }
  #breadcrumb .breadcrumb_list > li:nth-child(4):before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 15px;
    margin-top: -7px;
    background-color: rgba(255, 255, 255, 0.15);
  }
  #breadcrumb .breadcrumb_list > li > a {
    display: block;
    line-height: 30px;
    padding: 0 15px;
    font-size: 13px;
  }
  #breadcrumb .breadcrumb_list > li > a:after {
    content: '';
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    width: 18px;
    height: 18px;
    margin-top: -9px;
    border-radius: 50%;
    background: #1a3251 url(/resources/_common/images/ico_chevron-down-sm-white@2x.png) no-repeat center center/9px 5px;
  }
  #breadcrumb .breadcrumb_list > li.on a:after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  #breadcrumb .sub_list_wrap {
    border-color: #004a84;
  }
  #breadcrumb .sub_list_wrap ul {
    padding: 12px 14px;
    font-size: 16px;
  }
}

#container {
  max-width: 1200px;
  margin: auto;
}

#container:after {
  display: block;
  clear: both;
  content: '';
}

@media (min-width: 1025px) {
  #container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 40px;
    padding-bottom: 95px;
  }
  #container #sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-right: 60px;
  }
  #container #content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  #container #widget {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin-left: 30px;
    margin-top: 35px;
  }
}

@media (max-width: 1024.98px) {
  #container {
    padding-bottom: 55px;
  }
}

@media (min-width: 1025px) {
  #container {
    min-height: calc(100vh - 491px);
  }
}

@media (min-width: 1025px) {
  #breadcrumb.d_down_sm + #container {
    min-height: calc(100vh - 435px);
  }
}

@media (min-width: 1025px) {
  #content {
    min-height: calc(100vh - 435px);
  }
  .fixed-header #content {
    min-height: calc(100vh - 378px);
  }
}

@media (min-width: 1025px) and (min-width: 1025px) {
  #container #content {
    min-height: auto;
  }
}

@media (max-width: 1024.98px) {
  #content {
    min-height: calc(100vh - 245px);
  }
}

.cont_header {
  position: relative;
  max-width: 1200px;
  margin: auto;
  padding-top: 80px;
  margin-bottom: 40px;
}

.cont_header .left {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_header .right {
  float: right;
}

.cont_header .cont_title {
  display: inline-block;
  color: #111;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  margin-right: 12px;
}

.cont_header .step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cont_header .step li {
  color: #595959;
  font-weight: 400;
  letter-spacing: -0.05em;
  margin-left: 20px;
  line-height: 0;
}

.cont_header .step li .num {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #555;
  border-radius: 100%;
  color: transparent;
}

.cont_header .step li .txt {
  display: none;
}

.cont_header .step li.on .num {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  background: #555;
  color: #fff;
  text-align: center;
  line-height: 32px;
  border-radius: 100%;
}

.cont_header .step li.on .txt {
  display: inline;
}

.cont_header .step li.on ~ li .num {
  background-color: #ddd;
}

.footer {
  border-top: 1px solid #cbcbcb;
  height: 300px;
}

.footer .container {
  padding: 35px 0 60px;
}

.footer .sns_area {
  float: right;
  text-align: right;
}

.footer .sns_area ul {
  margin-bottom: 20px;
  padding-top: 20px;
}

.footer .sns_area li {
  margin-left: 12px;
  display: inline-block;
}

.footer .sns_area p {
  font-size: 0.875em;
  color: #555;
}

.footer .copyright {
  padding-top: 10px;
  color: #b1b1b1;
  font-size: 0.875em;
  font-weight: 20;
}

.footer .footer_cont {
  float: left;
}

.footer .footer_cont ul li {
  margin-bottom: 5px;
  color: #555;
  font-size: 0.875em;
  font-weight: 300;
}

.footer .footer_cont ul li:last-child {
  padding-top: 5px;
}

.footer .footer_cont ul li strong {
  font-weight: 400;
}

.footer .footer_menu {
  margin-bottom: 40px;
}

.footer .footer_menu ul:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.footer .footer_menu ul li {
  position: relative;
  padding: 0 32px;
  display: inline-block;
}

.footer .footer_menu ul li:first-child {
  padding-left: 0;
}

.footer .footer_menu ul li:first-child:before {
  display: none;
}

.footer .footer_menu ul li:last-child {
  padding-right: 0;
}

.footer .footer_menu ul li:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background-color: #ddd;
  display: block;
  content: "";
}

.footer .footer_menu ul li a {
  font-size: 0.875em;
  color: #555;
}

.footer .footer_menu ul li a strong {
  font-weight: 500;
}
