//금융리포트 메인

.titlebar {
	.al_c {
		align-self: center;
	}
}

.report_sec {
	padding: 30px 20px;
	border-top: 12px solid #f6f6f6;

}

.ecrm_area {
	background-color: $bg_lightgray;
	border-radius: 3px;
	text-align: center;
}