//금융리포트 메인

.titlebar {
	.al_c {
		align-self: center;
	}
}

.report_sec {
	padding: 24px 20px;
	border-top: 12px solid #f6f6f6;


}

.ecrm_area {
	.inner_scroll {
		overflow-x: scroll;
		padding: 20px;
		height: auto;
		background-color: #f6f6f6;
		white-space: nowrap;


		li {
			display: inline-block;
			width: 245px;
			margin: 0 4px;
			vertical-align: middle;

			.item {
				display: block;
				width: 100%;
				height: 150px;
				padding: 20px;
				background-color: #fff;
				border-radius: 8px;
				box-shadow: 4px 3px 7px rgba(0, 0, 0, .06);
			}
		}
	}

	.label {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		min-width: 50px;
		height: 20px;
		margin-bottom: 10px;
		border-radius: 10px;
		background-color: #fff6e2;
		color: #dc990a;
		font-size: 12px;

		&_red {
			background-color: #fff1e9;
			color: #f46e17;
		}

		&_green {
			background-color: #ebfbf7;
			color: #93d5c4;
		}

		&_blue {
			background-color: #f2f8ff;
			color: #3786e9;
		}
	}

	.tit {
		@include text-ellipsis(3, 23px);
		font-size: 20px;
		font-weight: 400;
		font-size: 16px;
	}
}