//금융리포트 메인

.titlebar {
	.al_c {
		align-self: center;
	}
}

.layer_alarm_area {
	position: relative;

	.layer_top_alarm {
		.container {
			display: flex !important;
			align-items: center;
			height: 140px;

			.alarm_cont {
				.cont {
					.subject {
						font-size: 16px;
					}

					.desc {
						font-size: 14px;
						line-height: 1;
					}
				}
			}


			&.bg_lightblue {
				background-color: #daeafb;
			}
		}
	}

	.btn_close_alarm {
		position: absolute;
		right: 12px;
		top: 10px;
	}

	.slick-dots {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		line-height: 1;

		li {
			display: inline-block;
			padding: 0 3px;

			&.slick-active {
				button {
					background: #777777;
				}
			}
		}

		button {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background: #fff;
			overflow: hidden;
			text-indent: -1000%;
		}
	}
}

.report_tit01 {
	margin-bottom: 30px;
	font-size: 16px;
}

.report_tit02 {
	margin-bottom: 17px;
	font-size: 15px;
	color: $darkgray;
}

.report_subtit {
	margin-bottom: 10px;
	font-size: 14px;
	color: $gray;
	font-weight: 300;

	.num {
		font-size: 15px;
		color: $black;
		font-weight: 500;
	}
}

.report_sec {
	position: relative;
	padding: 21px 20px 24px;
	border-top: 12px solid #f6f6f6;

	.section_header {
		.btn_more_gray {
			padding-right: 10px;
			font-size: 13px;
			color: #777;
			background:url(#{$url-img}/main/ico_chevron_right_md_light.png) right 5px no-repeat;
			background-size: 6px 10px;
		}
	}

	.flex_group {
		display: flex;
		justify-content: space-between;

		>* {
			font-style: normal;
			color: $darkgray;
		}

		em {
			font-size: 14px;
		}

		strong {
			font-size: 15px;
		}

	}

	.btn_xsm {
		min-width: 37px;
		height: 20px;
		padding: 0 6px;
		font-size: 12px;
		line-height: 20px;
		border-radius: 10px;
		color: #777;
	}

	.tag_area {
		.hash_tag_list {
			li {
				.hash_tag {
					display: inline-block;
					min-width: 50px;
					height: 25px;
					padding: 0 10px;
					line-height: 26px;
					font-size: 11px;
					border-radius: 12.5px;
					color: $white;
					background-color: #7d7e8a;

					&::before {
						display: none;
					}

					&.bg_lightgray {
						background-color: #e5e5e5 !important;
						color: $gray;
					}
				}
			}
		}
	}

	.hash_tag_list {
		display: flex;
		flex-wrap: wrap;
		margin: -4px -2px;

		li {
			margin: 4px 2px;

			.hash_tag {
				font-size: 12px;
				color: #777;

				&::before {
					content: '#';
				}
			}
		}
	}

	.chart_area {
		padding-left: 20px;
		padding-right: 20px;

		img {
			object-fit: cover;
		}
	}

	.chart_detail {
		margin-top: 35px;

		li {
			position: relative;
			display: flex;
			padding-left: 17px;
			justify-content: space-between;
			color: $gray;

			em {
				font-style: normal;

				.per {
					padding-left: 5px;
					font-size: 12px;
					color: #999;
				}
			}

			.bul {
				position: absolute;
				top: 50%;
				left: 0;
				width: 7px;
				height: 7px;
				border-radius: 3.5px;
				background-color: $bg_gray;
				transform: translateY(-50%);

				&.bg_yellow {
					background-color: #fcc772;
				}

				&.bg_lightblue {
					background-color: #5694d6;
				}

				&.bg_blue {
					background-color: #496ebe;
				}

				&.bg_green {
					background-color: #6ac6b0;
				}

				&.bg_lightorange {
					background-color: #ffd2b3;
				}

				&.bg_darkgray {
					background-color: #ddd;
				}
			}

			strong {
				color: $darkgray;
				font-weight: 400;
			}

			+li {
				margin-top: 11px;
			}
		}

		.row_list {
			li {
				display: inline-block;

				+li {
					margin-left: 16px;
				}
			}
		}
	}

	.inner_scroll {
		overflow-x: scroll;
		margin-left: -20px;
		margin-right: -20px;
		padding: 20px;
		height: auto;
		background-color: #f6f6f6;
		white-space: nowrap;

		&.deposit {
			background-color: #fff6e2;
		}

		&.ins {
			background-color: #fff1e9;
		}

		&.fund {
			background-color: #ebfbf7;
		}

		&.card {
			background-color: #f2f8ff;
		}

		&.bg_n {
			padding-top: 0;
			//padding-bottom: 0;
			background-color: transparent;

			.box_list {
				li {
					border: 1px solid $border-base;
					box-shadow: none;
				}
			}
		}
	}

	.box_list {
		margin: 0 -4px;
		//display: flex;
		//width: calc(100% + 20px);

		>li {
			display: inline-block;
			//	flex: 0 0 auto;
			width: 245px;
			margin: 0 4px;
			vertical-align: middle;
			border-radius: 8px;
			background-color: #fff;
			box-shadow: 4px 3px 7px rgba(0, 0, 0, .06);
			overflow: hidden;

			.item {
				display: block;
				width: 100%;
				min-height: 120px;
				padding: 20px;

				&_md {
					height: auto;
				}

				&_hash {
					padding-top: 16px;

					.prd_info {
						margin-top: 15px;
					}
				}
			}

			.item_header {
				&:after {
					content: '';
					display: block;
					clear: both;
				}

				.label {
					float: left;
				}

				.grade_badge {
					float: right;
					width: 39px;
					height: 26px;
					background-image: url(#{$url-img}/main/bg_grade01.png);
					background-size: cover;
					background-position: 0 0;
					background-repeat: no-repeat;
					text-align: center;
					font-size: 12px;

					&_two {
						background-image: url(#{$url-img}/main/bg_grade02.png);
					}

					&_tree {
						background-image: url(#{$url-img}/main/bg_grade03.png);
					}
				}
			}

			.date {
				display: block;
				margin-top: 10px;
				font-size: 12px;
				color: #777;
				line-height: 1
			}

			.hash_tag_list {
				margin: 7px -1px 0;
				display: block;

				&:after {
					content: '';
					display: block;
					clear: both;
				}

				li {
					float: left;
					line-height: 1.1;
					margin: 0 1px;

					.hash_tag {
						color: #666;
					}
				}
			}

			.sup {
				display: block;
				font-size: 14px;
				line-height: 1;
				color: #777;
				margin-bottom: 10px;

				>em {
					position: relative;
					display: inline-block;
					padding-right: 6px;
					margin-right: 6px;
					font-style: normal;
					line-height: 1;
					border-right: 1px solid $border-base;
				}
			}

			&:last-child {
				margin-right: 20px;
			}
		}


		.label {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			min-width: 45px;
			padding: 0 5px;
			height: 25px;
			margin-bottom: 10px;
			border-radius: 12.5px;
			background-color: #fff6e2;
			color: #dc990a;
			font-size: 12px;
			font-weight: bold;

			&_red {
				background-color: #fff1e9;
				color: #f46e17;
			}

			&_green {
				background-color: #ebfbf7;
				color: #93d5c4;
			}

			&_blue {
				background-color: #f2f8ff;
				color: #3786e9;
			}
		}

		.tit {
			@include text-ellipsis(3, 23px);
			font-size: 20px;
			font-weight: 400;
			font-size: 16px;

			&_md {
				height: 43px;
				line-height: 23px;
			}
		}

		.prd_info {
			margin-top: 10px;
			display: table;

			dt {
				display: table-cell;
				font-size: 13px;
				color: #777;
			}

			.total {
				display: table-cell;
				width: 100%;
				text-align: right;
				font-size: 18px;

				strong {
					font-weight: 300;
				}
			}

			&.txt_r {
				display: block;
				line-height: 1;

				.total {
					display: inline-block;
				}
			}
		}
	}

	&.user_info {
		padding-top: 15px;
		border-top: 0;

		.box_shadow {
			border: 1px solid #eee;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
		}

		.point_list {
			li {
				.btn.bg_lightgray {
					background-color: #f2f2f2 !important;
				}

				+li {
					margin-top: 12px;
				}
			}
		}
	}

	&.product_sec {
		padding-bottom: 100px;

		.prd_body {
			margin-top: 65px;
		}

		.btn_group {
			position: absolute;
			left: 50%;
			bottom: 25px;
			transform: translateX(-50%);

			.btn {
				&.on {
					i {
						margin-top: -2px;
						transform: rotate(180deg);
					}
				}
			}
		}

		.chart_area {
			text-align: center;
		}

		.total_price {
			margin-top: 22px;
			padding-top: 17px;
			border-top: 1px solid #f2f2f2;
			color: $darkgray;

			em {
				font-size: 14px;
				color: $gray;
			}
		}

		.prd_list {
			margin: -3px;

			&:after {
				content: '';
				clear: both;
				display: block;
			}

			li {
				float: left;
				width: calc(25% - 6px);
				margin: 3px;

				.item {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 60px;
					border-radius: 8px;
					background-color: #e9e9e9;

					.ico {
						display: inline-block;
						width: 30px;
						height: 26px;
						background-position: center center;
						background-repeat: no-repeat;

						&_product_01 {
							background-image: url(#{$url-img}/main/ico_product_01.png);
							background-size: 26px 22.5px;
						}

						&_product_02 {
							background-image: url(#{$url-img}/main/ico_product_02.png);
							background-size: 26px 25px;
						}

						&_product_03 {
							background-image: url(#{$url-img}/main/ico_product_03.png);
							background-size: 24px 23px
						}

						&_product_04 {
							background-image: url(#{$url-img}/main/ico_product_04.png);
							background-size: 24.5px 25px;
						}

						&_product_05 {
							background-image: url(#{$url-img}/main/ico_product_05.png);
							background-size: 13.5px 25px;
						}

						&_product_06 {
							background-image: url(#{$url-img}/main/ico_product_06.png);
							background-size: 25px 22.5px
						}

						&_product_07 {
							background-image: url(#{$url-img}/main/ico_product_07.png);
							background-size: 24.5px 24px;
						}

						&_product_08 {
							background-image: url(#{$url-img}/main/ico_product_08.png);
							background-size: 22px 25px;
						}
					}

					strong {
						padding-top: 3px;
						font-size: 13px;
						color: #aaa;
					}
				}

				&.on {
					.item {
						background-color: #fff6e2;

						.ico {
							&_product_01 {
								background-image: url(#{$url-img}/main/ico_product_on_01.png);
							}

							&_product_02 {
								background-image: url(#{$url-img}/main/ico_product_on_02.png);
							}

							&_product_03 {
								background-image: url(#{$url-img}/main/ico_product_on_03.png);
							}

							&_product_04 {
								background-image: url(#{$url-img}/main/ico_product_on_04.png);
							}

							&_product_05 {
								background-image: url(#{$url-img}/main/ico_product_on_05.png);
							}

							&_product_06 {
								background-image: url(#{$url-img}/main/ico_product_on_06.png);
							}

							&_product_07 {
								background-image: url(#{$url-img}/main/ico_product_on_07.png);
							}

							&_product_08 {
								background-image: url(#{$url-img}/main/ico_product_on_08.png);
							}
						}

						strong {
							color: $darkgray;
						}
					}
				}
			}
		}
	}

	&.sub_main_box {
		padding-bottom: 20px;

		.grad_area {
			&:after {
				content: '';
				display: block;
				clear: both;
			}

			.current_score {
				display: block;
				margin-top: 8px;
				font-size: 15px;
				font-weight: 600;
				color: $black !important;
				text-align: center;

				&:after {
					content: '';
					display: inline-block;
					width: 6px;
					height: 10px;
					background: url(#{$url-img}/main/bul_arr_gray_sm.png) no-repeat 0 0;
					margin-left: 3px;
				}
			}

			.l {
				width: 50%;
				float: left;
			}

			.r {
				position: relative;
				float: right;
				width: 50%;

				&:after {
					position: absolute;
					top: 17px;
					left: 0;
					content: '';
					width: 1px;
					height: 65px;
					background-color: #eee;
				}
			}
		}

		.grade_score {
			flex: 1;
			margin-top: 25px;

			.top {
				.grade_star {
					&:before {
						content: '';
						display: inline-block;
						width: 14px;
						height: 14px;
						background: url(#{$url-img}/main/ico_grade_star.png) no-repeat 0 0;
						margin-right: 3px;
						vertical-align: middle;
					}
				}
			}

			.grade_list {
				display: flex;
				position: relative;
				z-index: 1;
				margin-left: 5px;
				margin-right: 5px;

				&:before {
					content: '';
					position: absolute;
					z-index: -1;
					width: 100%;
					height: 8px;
					top: 0;
					left: 0;
					background: #f6f6f6;
				}

				>li {
					flex: 1;
					position: relative;
					display: table;
					font-size: 14px;
					text-align: center;
					margin-left: -5px;


					>strong,
					>span {
						display: block;
						line-height: 1;
						font-weight: 200;
						margin-top: 15px;
						font-size: 12px;
						color: #777;
					}

					&:first-child {
						flex: 0 0 auto;
						padding: 0 20px 0;
					}

					&:last-child {
						flex: 0 0 auto;
						padding: 0;
						margin-right: -5px;
					}

					&:before {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 8px;
						border-radius: 10px;
						background: #fdc61c;
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 50%;
						margin-left: -4px;
						width: 8px;
						height: 8px;
						border-radius: 50%;
						background: #ecb91a;
						z-index: 2;
					}

					&.on {
						strong {
							font-weight: 600;
						}

						&:before {
							z-index: 1;
						}

						&:after {
							background: #ecb91a;
						}

						~li {
							&:before {
								background: #f6f6f6;
							}

							&:after {
								background: #e5e5e5;
							}
						}
					}
				}
			}

			.date {
				margin-top: 30px;
				font-size: 11px;
				color: #999;
				text-align: right;

				em {
					font-style: normal;
				}
			}
		}

		.grade_category {
			text-align: center;

			>div {
				position: relative;
				display: inline-block;
				padding: 0 0 9px 0;

				&:before {
					content: '';
					position: absolute;
					top: -1px;
					left: -22px;
					z-index: 1;
					width: 43px;
					height: 43px;
					background-size: cover;
					background-position: 0 0;
					background-repeat: no-repeat;
				}

				strong {
					display: block;
					border-radius: 50%;
					width: 86px;
					height: 86px;
					line-height: 86px;
					text-align: center;
					font-size: 16px;
					font-weight: 600;
				}

				span {
					position: absolute;
					bottom: 0;
					left: 50%;
					display: block;
					height: 25px;
					padding: 0 10px;
					line-height: 25px;
					font-size: 12px;
					font-weight: 600;
					background: #fff;
					box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
					border-radius: 12.5px;
					transform: translateX(-50%);
				}
			}

			p {
				font-size: 13px;
				font-weight: 400;
				color: #999;
			}

			&.indi {
				>div {
					&:before {
						background-image: url(#{$url-img}/main/ico_grade_indi.png);
					}
				}

				strong {
					background: #fdc61c;
				}

				span {
					color: #dc990a;
				}
			}

			&.insure {
				>div {
					&:before {
						background-image: url(#{$url-img}/main/ico_grade_insure.png);
					}
				}

				strong {
					background: #ff883a;
				}

				span {
					color: #f46e17;
				}
			}

			&.card {
				>div {
					&:before {
						background-image: url(#{$url-img}/main/ico_grade_card.png);
					}
				}

				strong {
					background: #62cfe8;
				}

				span {
					color: #62cfe8;
				}
			}

			&.fund {
				>div {
					&:before {
						background-image: url(#{$url-img}/main/ico_grade_fund.png);
					}
				}

				strong {
					background: #67d987;
				}

				span {
					color: #67d987;
				}
			}
		}

	}

	&.best_sec {
		padding-bottom: 0;

		.accordian_area {
			margin-left: -20px;
			margin-right: -20px;

			>dl {
				>dt {
					border-bottom: 1px solid #eeeeee;

					&.on {
						.arrow_area {
							transform: rotate(180deg);
							overflow: hidden;
						}
					}
				}

				>dd {
					display: none;
					padding: 30px 20px;
					overflow: hidden;
					border-bottom: 1px solid #eeeeee;

					.inner_scroll.only {
						margin-top: -30px;
						margin-bottom: -30px;
					}

					.flex_chart_group {
						>* {
							flex: 1 1 auto;
						}
					}

					.chart_detail {
						margin-top: 5px;
					}

					.chart_total {
						margin-bottom: 20px;

						strong {
							display: inline-block;
							font-size: 18px;
							line-height: 1;
						}

						.date {
							display: inline-block;
							margin-left: 5px;
							font-size: 12px;
							color: #777;
						}
					}

					.flex_group {
						margin-bottom: 10px;

						+.flex_group {
							margin-top: -6px;
						}
					}

					.tab_menu_type1.md {
						ul {
							li {
								a {
									height: 50px;
									line-height: 50px;
								}
							}
						}
					}
				}

				.acc_btn {
					position: relative;
					display: table;
					width: 100%;
					padding: 25px 20px 15px;
					font-size: 16px;

					.img_area {
						display: table-cell;
						width: 52px;
						height: 52px;
						vertical-align: middle;
					}

					.content_area {
						display: table-cell;
						padding-left: 15px;
						text-align: left;
					}

					strong {
						font-weight: 300;

						>span {
							font-weight: 500;
						}
					}

					.hash_group {
						li {
							display: inline-block;

							+li {
								margin-left: 8px;
							}
						}

						.hash_tag {
							color: #777;
							font-size: 12px;

							&:before {
								content: '#';
							}


						}
					}

					.arrow_area {
						position: absolute;
						right: 20px;
						top: 50%;
						width: 20px;
						height: 11px;
						background-image: url(#{$url-img-common}/ico_chevron_down_md_light.png);
						background-size: 12px 6px;
						background-position: right center;
						background-repeat: no-repeat;
						transform: translateY(-50%);
					}
				}

				&:last-child {
					>dt {
						border-bottom-width: 0;

						&.on {
							border-bottom-width: 1px;
						}
					}

					>dd {
						border-bottom-width: 0;
					}
				}
			}
		}
	}
}

.report_header {
	padding-left: $spacing;
	padding-right: $spacing;

	.flex_group {
		display: flex;
		justify-content: space-between;
	}

	.user_name {
		align-self: center;
		font-size: 18px;
		font-weight: 200;
	}

	.btn_icon {
		position: relative;
		padding: 0 15px;
		margin: 0;
		height: $titlebar-height;
	}

	@at-root .alert_badge {
		min-width: 15px;
		height: 15px;
		padding: 0 3px;
		border-radius: 7.5px;
		background-color: #ff883a;
		text-align: center;
		font-size: 10px;
		line-height: 12px;
		color: #fff;
	}

	.alert_badge {
		position: absolute;
		transform: translateX(55%);
		top: 15px;
	}
}

.financial_detail {
	display: none;
	margin-top: 30px;
	padding-top: 40px;

	margin-right: -20px;
	margin-left: -20px;
	border-top: 3px solid $border-base;

	.block {
		display: block;
	}

	.btn_xsm {
		height: 25px;
		padding: 0 15px;
		border-radius: 12.5px;
		background-color: #e5e5e5;
		color: $black;
	}

	.detail_header {
		margin-bottom: 45px;

		ul {
			display: flex;
			justify-content: space-around;
		}

		li {
			a {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				width: 78px;
				height: 78px;
				border-radius: 50%;
				background-color: #f6f6f6;
				border: 1px solid #eee;

				.ico {
					display: inline-block;
					width: 28px;
					height: 27px;
					background-position: left bottom;
					background-repeat: no-repeat;

					&_rep_dep {
						background-image: url(#{$url-img}/main/ico_rep_dep.png);
						background-size: 28px 23.5px;
					}

					&_rep_ins {
						background-image: url(#{$url-img}/main/ico_rep_ins.png);
						background-size: 24px 24px;
					}

					&_rep_fund {
						background-image: url(#{$url-img}/main/ico_rep_fund.png);
						background-size: 24px 21.5px;
					}
				}

				strong {
					font-size: 13px;
					padding-top: 9px;
					line-height: 1;
				}
			}

			&.on {
				a {
					background-color: #fff;
					box-shadow: 0 0 10px rgba(0, 0, 0, .1);

					.ico {
						&_rep_dep {
							background-image: url(#{$url-img}/main/ico_rep_dep_on.png);
							background-size: 28px 27px;
						}

						&_rep_ins {
							background-image: url(#{$url-img}/main/ico_rep_ins_on.png);
							background-size: 26.5px 26.5px;
						}

						&_rep_fund {
							background-image: url(#{$url-img}/main/ico_rep_fund_on.png);
							background-size: 26.5px 24px;
						}
					}
				}
			}
		}
	}

	.flex_group {
		margin-top: 20px;

		>.assets_area {
			width: 100%;
			text-align: center;
		}
	}

	.assets_area {
		position: relative;

		>* {
			display: block;
			font-style: normal;
			text-align: center;
		}

		.sup {
			font-size: 15px;

			&_sm {
				font-size: 13px;
			}
		}

		.price {
			font-size: 26px;

			&_sm {
				font-size: 20px;

				span {
					font-weight: 200;
				}
			}

			span {
				font-weight: 200;
			}
		}

		+.assets_area {
			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 33px;
				background-color: #eee;
			}
		}
	}

	.empty_area {
		margin: 55px 0 45px;
		text-align: center;

		strong {
			display: block;
			font-size: 15px;
			font-weight: 300;
		}
	}

	.list_header {
		padding-bottom: 15px;

		.header_l {
			.tit {
				font-size: 16px;
				font-weight: 200;

				strong {
					font-weight: 500
				}

				;
			}
		}

		.btn_more_gray {
			padding-right: 10px;
			font-size: 13px;
			color: #777;
			align-self: flex-end;
			background:url(#{$url-img}/main/ico_chevron_right_md_light.png) right 5px no-repeat;
			background-size: 6px 10px;
		}
	}

	.assets_list {
		margin-top: 33px;
		margin-bottom: 8px;

		.list_line {
			>li {
				padding: 20px 0 16px;
				border-bottom: 1px solid $border-base;
				background:url(#{$url-img}/main/ico_chevron_right_light.png) calc(100% - 10px) center no-repeat;
				background-size: 5px 10px;

				.sup {
					display: block;
					font-size: 14px;
					line-height: 1;
					font-style: normal;
					color: $gray;
				}

				.price {
					display: block;
					margin-top: 4px;
					font-size: 16px;
				}
			}
		}
	}
}

.ecrm_area {}