/* 금융상품몰 메인 */

/* 메인 본문 */

// 이곳에 정의

/* 자주 찾는 메뉴 */
.sec_mall_favor {
	background-color: #f6f6f6;

	.favor_menu_box {
		border-radius: 0 0 40px 40px;
		background-color: #ffe080;
		overflow: hidden;
		// height: auto !important; // TODO : 제거 예정
		padding: 15px 0 25px;

		.favor_menu_list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
			font-size: 13px;
			line-height: 1;
			font-weight: normal;
			padding: 0 15px;
			margin-bottom: 20px;

			a {
				position: relative;
				display: block;
			}

			.icon {
				display: block;
				margin: auto;
				width: 56px;
				height: 56px;
				margin-bottom: 7px;
			}

			.badge {
				position: absolute;
				top: 18px;
				right: 30px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #ff883a;
				font-size: 1px;
				color: transparent;
			}
		}

		.mall_service_list,
		.mall_service_btns {
			visibility: hidden;
		}

		.mall_service_list {
			margin: 0 15px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
			font-size: 13px;
			line-height: 1;
			font-weight: normal;
			padding: 15px;

			border-radius: 10px 10px 35px 35px;
			background-color: rgba(#fff, .47);

			.icon {
				display: block;
				margin: auto;
				width: 45px;
				height: 45px;
			}
		}

		.mall_service_cont {
			display: none;
		}

		.mall_service_slider {
			.item {
				position: relative;
				border-radius: 10px 10px 35px 35px;
				background-color: rgba(#fff, .47);
				padding: 15px 15px 20px;
				height: 296px;

				.btn_turn_back {
					position: absolute;
					right: 15px;
					top: 15px;
				}
			}

			.slick-list {
				padding: 0 15px;
			}

			.slick-slide {
				margin: 0 3px;
			}
		}

		.mall_service_btns {
			padding: 15px 15px 0;
		}

		&.opened {

			.mall_service_list,
			.mall_service_btns {
				visibility: visible;
			}

			+.btn_box_handler {
				.ico {
					transform: rotate(180deg);
				}
			}
		}
	}

	.btn_box_handler {
		position: relative;
		display: block;
		margin: auto;
		text-align: center;
		width: 130px;
		height: 21px;
		margin-top: -1px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='107px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 224, 128)' d='M101.999,0.57 C103.666,0.38 105.333,0.19 106.999,0.0 C101.765,0.104 96.925,0.759 92.480,2.653 C81.924,7.152 77.613,17.659 68.500,19.608 C54.858,22.525 50.248,8.453 42.999,4.67 C38.333,2.731 33.666,1.394 29.0,0.57 C-65.666,0.57 101.999,0.57 101.999,0.57 Z'/%3E%3C/svg%3E");

		.ico {
			vertical-align: top;
			margin-top: 6px;
		}
	}
}

/* 판매량 best */
.sales_area {
	background-color: #f6f6f6;

	.d_flex {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			position: relative;

			&.finance_tit {
				padding-left: 30px;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 5px;
					top: 3px;
					width: 20px;
					height: 24px;
					background-image: url(#{$url-img}/content/ico_event_benefits_sm.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;

				}
			}
		}

		a {
			font-size: 13px;

			.ico_chevron_right_sm {
				margin-bottom: 2px;
				margin-left: 2px;
			}
		}
	}

	.sales_list {
		margin-top: 10px;
		padding: 0 0 10px 15px;

		.slick-track {
			padding: 0 0 25px;
		}

		.slick-slide {
			width: 267px;
			height: 166px;
			padding: 0 10px 0 0;
			border-radius: 8px;

			.sales_item {
				position: relative;
				padding: 20px;
				background-color: $white;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

				.state {
					border-radius: 12px;
					line-height: 24px;
					padding: 0 10px;

					&.deposit {
						background-color: #fff6e2;
						color: #dc990a;
					}

					&.insurance {
						background-color: #fff1e9;
						color: #f46e17;
					}
				}

				.link {
					position: absolute;
					display: inline-block;
					right: 10px;
					top: 10px;
				}
			}
		}
	}
}

/* 이벤트 배너 */
.sec_event_banner {
	// background-color: $blue;
	margin-top: 25px;

	.container {

		.d_flex {
			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				font-size: 13px;
			}
		}

		h3 {
			position: relative;

			&.finance_tit {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 5px;
					top: 3px;
					width: 20px;
					height: 25px;
					background-image: url(#{$url-img}/content/ico_finance_sm.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;

				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 5px;
				top: 3px;
				width: 17px;
				height: 18px;
				background-image: url(#{$url-img}/content/ico_sm_event.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

			}

			&.txt_normal {
				padding-left: 30px;
			}
		}
	}

	.event_slide {
		margin-top: 10px;
		padding: 0 0 0 15px;

		.slick-slide {
			width: 220px;
			padding: 0 5px;
		}
	}

	.theme_slide {
		margin-top: 10px;
		padding: 0 0 0 15px;

		.slick-slide {
			width: 168px;
			padding: 0 5px;
		}
	}

	.slick-dots {
		text-align: center;

		li {
			display: inline-block;

			button {
				padding: 0 5px;
				font-size: 1px;
				color: transparent;

				&:after {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 3px;
					background-color: #ddd;
				}
			}

			&.slick-active {
				button {
					&:after {
						background-color: #777;
					}
				}
			}
		}
	}
}


/* 퀵메뉴설정 레이어팝업 */
.quickmenu_list_all {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 15px;
	column-gap: 20px;
	margin-top: 25px;
	margin-bottom: 20px;

	li {
		border-radius: 8px;
		height: 65px;
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked {
			+label {
				border-color: $primary;
				font-weight: bold;
			}
		}
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
		border-radius: 8px;
		border: 1px solid $border-base;

		font-weight: 500;
		font-size: 12px;
		line-height: 1;

		.icon {
			display: block;
			width: 40px;
			height: 40px;
		}

		span {
			margin-bottom: 5px;
		}
	}

	.ui-sortable-helper {
		background-color: rgba(253, 198, 28, 0.451);

		label {
			background-color: rgba(255, 255, 255, 0.702);
		}
	}

	.sortable-placeholder {
		background-color: #fdc61c;
	}
}


//금융상품몰홈 상세
.layer_top_alarm {
	.alarm_cont {
		.alarm_btn_area {
			margin-left: 10px;

			.btn_md {
				padding: 0 10px;
				line-height: 15px;
			}
		}
	}
}

.sec_mall_favor {
	.favor_menu_box {
		height: 473px;

		.favor_menu_list {
			padding: 0 20px;
			margin-top: 4px;
		}

		.mall_service_list {
			padding: 17px 5px;

			li {
				// margin-bottom: 4px;

				span {
					margin: 3px 10px;
					display: block;
					font-size: 13px;
					line-height: 16px;
					color: #111;
					text-align: center;
					min-height: 32px;
				}

				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					margin-bottom: 20px;
				}
			}
		}

		// 슬릭
		@at-root .mall_service_slider {
			.item {
				position: relative;
				padding: 16px 20px 20px;
				margin-top: 2px;
			}

			.item_header {
				h3.tit {
					margin-top: -2px;
					display: flex;
					align-items: center;
					font-size: 16px;
					// line-height: 48px;
					color: #111;
					font-weight: 500;

					.ico {
						width: 33px;
						height: 33px;
						display: inline-block;
						background-repeat: no-repeat;
						margin-right: 5px;

						&.ico_mall_service1 {
							background: url(#{$url-img}/content/ico_mall_service1_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service2 {
							background: url(#{$url-img}/content/ico_mall_service2_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service3 {
							background: url(#{$url-img}/content/ico_mall_service3_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service4 {
							background: url(#{$url-img}/content/ico_mall_service4_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service5 {
							background: url(#{$url-img}/content/ico_mall_service5_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service6 {
							background: url(#{$url-img}/content/ico_mall_service6_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service7 {
							background: url(#{$url-img}/content/ico_mall_service7_sm.png);
							background-size: 33px 33px;
						}

						&.ico_mall_service8 {
							background: url(#{$url-img}/content/ico_mall_service8_sm.png);
							background-size: 33px 33px;
						}
					}
				}
			}

			.btn_turn_back {
				right: 17px;
				top: 21px;
			}

			.product_find_result {
				padding: 27px 6px;

				.find_form {
					.round_check_wrap {
						display: flex;
						justify-content: center;

						.round_check_btn {
							display: inline-block;
							margin-right: 1.25px;

							input[type=radio] {
								opacity: 0;
								width: 0;
								height: 0;

								&+label {
									width: 58px;
									height: 35px;
									border-radius: 4px;
									background-color: #fff;
									border: 1px solid #bbb;
									display: inline-block;
									text-align: center;
									font-size: 14px;
									color: #111;
									font-weight: 500;
									line-height: 32px;
									box-sizing: border-box;
								}

								&:checked {
									&+label {
										border: 1px solid #fdc61c;
										background-color: #fdc61c;
									}
								}
							}
						}

						.form_txt {
							margin-left: 5px;
							line-height: 36px;
						}
					}

					.form_txt {
						font-size: 18px;
						color: #111;
						font-weight: 200;
						text-align: center;

						span {
							font-size: 25px;
							font-weight: 600;
						}
					}

					.form_range {
						margin-top: 20px;
						padding: 15px 0 20px;

						.form_range_form {
							width: 100%;
							height: 3px;
							background-color: #fff;
							border-radius: 5px;
							background-image: linear-gradient(#fdc61c, #fdc61c);
							background-size: 0% 100%;
							background-repeat: no-repeat;

							&::-webkit-slider-thumb {
								appearance: none;
								cursor: pointer;
								width: 20px;
								height: 20px;
								border-radius: 10px;
								background: #fdc61c;
								box-shadow: none;
							}

							// &::-webkit-slider-runnable-track {
							// 	height: 3px;
							// 	background-color: #fdc61c;
							// }

							// &.form02 {
							// 	background-size: 0.5% 100%;
							// }
						}

						.form_range_value {
							display: none;
						}

						// .form_range_min,
						// .form_range_max {
						// 	display: none;
						// }

						span {
							font-size: 12px;
							color: #333;
							text-align: center;
							bottom: -11px;

							.f_l {
								margin-left: -3px;
							}

							.f_r {
								margin-right: -3px;
							}
						}
					}
				}
			}

			//내게 맞는 펀드
			.step_box {
				.list {
					margin-top: 6px;
					color: #555;
					font-weight: 200;

					li {
						line-height: 20px;
					}
				}

				.step_tit {
					font-size: 15px;
					font-weight: 400;
					color: #111;
					position: relative;
					padding-left: 56px;
					margin-top: 17px;
					display: inline-block;

					.txt_bubble {
						width: 62px;
						height: 34px;
						background: url(#{$url-img}/content/bg_balloon_yellow_r.png);
						background-repeat: no-repeat;
						background-size: cover;
						position: absolute;
						top: -5px;
						left: -5px;
						display: inline-block;
						font-size: 13px;
						line-height: 31px;
						color: #111;
						font-weight: 500;
						padding-left: 13px;
					}
				}

				.check_item_bar {
					display: flex;
					margin-left: -14px;
					margin-right: -16px;

					.check_item {
						width: 100%;
						justify-content: center;
						position: relative;
						// z-index: 20;
						display: inline-flex;
						margin-left: 0;

						&>input[type=radio] {
							position: absolute;
							width: 1px;
							height: 1px;
							opacity: 0;

							&+label {
								padding: 24px 0 0 0;
								background-image: url(#{$url-img}/content/ico_radio_white.png);
								background-position: center 0;
								font-size: 12px;
								color: #111;
								font-weight: 300;
								text-align: center;
							}

							&:checked+label {
								background-image: url(#{$url-img}/content/ico_radio_checked.png);
								color: #111;
								font-weight: 500;
							}
						}

						&+.check_item::before {
							content: "";
							width: calc(100% - 10px);
							height: 2px;
							background-color: #fff;
							position: absolute;
							right: calc(50% + 10px);
							top: 9.5px;
							z-index: -3;
						}
					}
				}

				//보험간편설계
				.tab_area {
					display: flex;
					justify-content: space-between;
					margin-top: -6px;
					margin-bottom: 37px;

					.radio_item {
						width: 25%;
						height: 35px;

						&+.radio_item {
							margin-left: 6px;
						}

						input {
							opacity: 0;
							width: 0;
							height: 0;

							&+label {
								min-width: 68.5px;
								width: 100%;
								height: 35px;
								border-radius: 4px;
								background-color: #fff;
								border: 1px solid #ddd;
								display: inline-block;
								text-align: center;
								line-height: 33px;
								font-size: 14px;
								color: #555;
								font-weight: 500;
							}

							&:checked {
								&+label {
									background-color: #fdc61c;
									border: 1px solid #fdc61c;
									color: #111;
								}
							}
						}
					}
				}

				.member_info {
					&>h4 {
						font-size: 14px;
						color: #333;
						font-weight: 500;
						position: relative;

						.req {
							display: inline-block;
							margin-left: 4px;
							width: 5px;
							height: 5px;
							border-radius: 50%;
							background-color: currentColor;
							text-indent: -99999px;
							color: #f46e16;
							vertical-align: middle;
							position: absolute;
							top: 6px;
						}
					}

					.info_inner {
						display: flex;

						&>.tf_item {

							width: 50%;
							height: 35px;
							border-radius: 4px;
							background-color: #fff;
							border: 1px solid #ddd;
							margin-top: 5px;
							padding: 7px 19px 9px;
							display: inline-block;

							.input_area {
								padding-top: 0px;

								.tf {
									font-size: 12px;
									color: #999;

									&::placeholder {
										font-size: 12px;
										color: #999;
									}
								}
							}
						}

						.input_items {
							width: calc(50% - 6px);
							display: flex;
							margin-top: 5px;
							margin-right: 3px;
							margin-left: 1px;

							.radio_item {
								flex: 1 1 20%;
								display: inline-block;
								position: relative;
								margin-right: 1px;

								&>input[type=radio] {
									position: absolute;
									width: 1px;
									height: 1px;
									opacity: 0;

									&+label {
										min-width: 68.5px;
										width: 100%;
										height: 35px;
										border-radius: 4px;
										background-color: #fff;
										border: 1px solid #ddd;
										font-size: 14px;
										font-weight: 400;
										color: #555;
										text-align: center;
										display: inline-block;
										line-height: 34px;
									}

									&:checked {
										&+label {
											border: 1px solid #555;
											color: #111;
											font-size: 14px;
											color: #111;
										}
									}
								}

							}
						}
					}
				}

				//보험보장분석
				.clfx {
					.line_link {
						margin-top: -1px;
						margin-right: -1px;

						a {
							position: relative;
							font-size: 12px;
							color: #333;

							&:after {
								content: '';
								width: 70px;
								height: 1px;
								background-color: #333;
								position: absolute;
								bottom: 0px;
								left: 2px;
							}
						}
					}
				}

				.step_tit {
					&.tit_type2 {
						margin-top: 10px;
						min-height: 47px;

						.txt_bubble {
							top: 0px;
						}
					}
				}

				.check_item_agree {
					display: flex;
					margin-top: 22px;

					.check_item {
						width: 100%;
						justify-content: center;
						position: relative;
						display: inline-flex;
						margin-left: 0;

						&>input[type=radio] {
							position: absolute;
							width: 1px;
							height: 1px;
							opacity: 0;

							&+label {
								padding: 0 0 0 30px;
								background-image: url(#{$url-img}/content/ico_radio_unchecked.png);
								background-position: 0 0;
								font-size: 14px;
								color: #111;
								font-weight: 400;
								text-align: center;
								line-height: 21px;
								margin-right: 16px;
							}

							&:checked+label {
								background-image: url(#{$url-img}/content/ico_radio_checked.png);
								color: #111;
							}
						}
					}
				}
			}

			//연령대
			.hash_tag {
				margin-top: 5px;
				display: flex;
				flex-wrap: wrap;
				line-height: 18px;

				li {
					display: inline-block;
					margin-right: 7px
				}

				font-size: 14px;
				color: #555;
				font-weight: 200;
			}

			.agepick_area {
				width: 100%;
				display: flex;
				flex-direction: column;
				position: absolute;
				bottom: 20px;
				left: 0;
				padding-left: 20px;
				padding-right: 20px;

				.pick_box {
					width: 100%;

					&+.pick_box {
						margin-top: 5px;
					}

					&>a {
						width: 100%;
						height: 90px;
						border-radius: 5px;
						background-color: #fff;
						display: flex;
						align-items: center;

						.ico {
							width: 52px;
							height: 52px;
							display: inline-block;
							margin-left: 14px;
							margin-right: 16px;


							&.ico_pick_best {
								background: url(#{$url-img}/content/ico_pick_best.png);
								background-size: 52px 52px;
								background-repeat: no-repeat;
								top: calc(50% - 27px);
								left: 14px;
							}

							&.ico_pick_select {
								background: url(#{$url-img}/content/ico_pick_select.png);
								background-size: 52px 52px;
								background-repeat: no-repeat;
							}
						}

						strong {
							font-size: 16px;
							line-height: 21px;
							color: #333;
							font-weight: 400;
							padding-right: 20px;
							padding-bottom: 4px;

							span {
								font-weight: 600;
							}
						}
					}
				}
			}

			.lifecycle {
				margin-top: 30px;
				background: url(#{$url-img}/content/bg_graph02.png);
				background-repeat: no-repeat;
				background-size: cover;
				width: calc(100% - 40px);
				height: 100%;
				height: 140px;
				border-radius: 10px;
				background-color: #fff;
				display: inline-block;
				position: absolute;
				bottom: 20px;
				left: 20;

				&>a {
					width: 100%;
					height: 100%;
					display: inline-block;
					position: relative;

					.ico {
						width: 52px;
						height: 52px;
						display: inline-block;
						position: absolute;

						&.ico_lifecycle {
							background: url(#{$url-img}/content/ico_lifecycle.png);
							background-size: 52px 52px;
							background-repeat: no-repeat;
							top: calc(50% - 45px);
							left: calc(50% - 26px);
						}
					}

					>strong {
						display: block;
						padding: 87px 20px 20px;
						text-align: center;
						font-size: 16px;
						color: #333;
						font-weight: 400;

						span {
							font-weight: 600;
						}
					}
				}
			}

			.btn_area {
				display: flex;
				justify-content: center;
				margin-top: -4px;
				position: absolute;
				left: calc(50% - 43.5px);
				bottom: 20px;

				.btn {
					min-width: 87px;
					border-radius: 17.5px;
					background-color: #555;
					font-size: 14px;
					color: #fff;
					font-weight: 500;
					text-align: center;
					padding-bottom: 1px;
				}
			}

			.slick-list {
				padding: 0 13px;
			}
		}

		.mall_service_btns {
			font-size: 12px;
			line-height: 16px;
			color: #333;
			padding: 13px 19px 0;

			ul {
				li {
					display: inline-block;
					margin-right: 4px;
				}
			}

			.tag_area {
				margin-top: 5px;
				margin-right: -5px;

				a {
					font-size: 12px;
					color: #333;
					position: relative;

					&:before {
						content: '';
						width: 14px;
						height: 14px;
						display: inline-block;
						position: absolute;
						background: url(#{$url-img}/content/ico_tag.png)no-repeat;
						background-size: 14px 14px;
						top: 3px;
						left: -17px;
					}

					&:after {
						content: '';
						width: 76.5px;
						height: 1px;
						background-color: #333;
						position: absolute;
						bottom: -2px;
						left: -17px;
					}
				}
			}

			.btn_area {
				margin-top: 22px;

				a {
					// width: 294px;
					height: 25px;
					border-radius: 12.5px;
					border: 1px solid #111;
					padding: 2px 24px 4px 9px;
					position: relative;
					color: #111;
					font-weight: 500;

					&:after {
						content: '';
						width: 5px;
						height: 10px;
						background: url(#{$url-img}/content/ico_arr_black_r.png);
						background-size: 5px 10px;
						display: inline-block;
						position: absolute;
						top: calc(50% - 5px);
						right: 10px;
					}

					&+a {
						margin-left: 8px;
					}
				}
			}
		}
	}

	.btn_box_handler {
		background-repeat: no-repeat;
	}
}

.sales_area {
	padding-top: 18px;

	.d_flex {
		padding-left: 15px;
		padding-right: 15px;

		h3.finance_tit {
			padding-left: 27px;
			font-size: 15px;
			color: #333;
			font-weight: 500;

			&::before {
				top: 0;
			}

			strong {
				font-weight: 600;
			}
		}

		a {
			font-size: 14px;
			color: #666;
		}
	}

	.sales_list {
		padding: 0 0 6px 20px;

		.slick-slide {
			width: 257px;

			.sales_item {
				.link {
					right: 14px;
					top: 12px;
				}

				height: 166px;
				border-radius: 8px;
			}

			.state {
				min-width: 44px;
				height: 24px;
				border-radius: 12px;
				font-size: 12px;
				font-weight: 600;
				padding: 0 12px;
				display: inline-block;

				&.deposit {
					color: #dc990a;
				}

				&.insurance {
					color: #f46e17;
				}
			}

			strong {
				display: block;
				margin-top: 10px;
				font-size: 18px;
				font-weight: 500;
				height: 55px;
				overflow: hidden;
			}

			.hash_tag {
				margin-top: 4px;
				max-height: 50px;
				overflow: hidden;
				line-height: 17px;
				letter-spacing: -1px;

				li {
					display: inline-block;
					font-size: 12px;
					color: #777;
					margin-right: 4px;

					// &:first-child {
					// 	margin-left: 0px;
					// }
				}
			}
		}
	}
}

.sec_event_banner {
	margin-top: 32px;

	.container {
		h3 {
			padding-left: 20px;
			font-size: 15px;
			color: #333;
			font-weight: 500;

			&:before {
				left: 0px;
				top: 1px;
			}

			&.finance_tit {
				padding-left: 22px;

				&:before {
					left: 1px;
					top: -2px;
				}

				strong {
					font-weight: 600;
				}
			}
		}
	}

	.theme_slide {
		.slick-list {
			.slick-slide {
				width: 157px;
				padding: 0 3px;

				img {
					object-fit: cover;
				}
			}
		}
	}

	.event_slide {
		padding-bottom: 15px;
	}
}

//팝업
.popup_body {
	&.result_box {
		padding-bottom: 15px;

		>.container.after_line {
			position: relative;

			.txt_que {
				font-size: 16px;
				line-height: 22px;
				color: #111;
				font-weight: 200;
				text-align: center;

				span {
					font-weight: 600;
				}
			}

			.bubble_box {
				margin-top: 10px;
				padding-bottom: 15px;

				.box {
					width: 100%;
					height: 71px;
					border-radius: 8px;
					background-color: #ffefbc;
					display: block;
					position: relative;
					padding: 13px 19px;
					line-height: 23px;

					p {
						font-size: 16px;
						color: #111;
						text-align: right;
						font-weight: 200;
						letter-spacing: -.5px;

						span {
							font-weight: 600;
						}
					}

					&:after {
						content: '';
						width: 61px;
						height: 50px;
						display: inline-block;
						position: absolute;
						background: url(#{$url-img}/content/bg_bubblearr.png);
						background-repeat: no-repeat;
						background-size: 61px 50px;
						background-position: center center;
						top: 66px;
						right: 7px;

					}
				}

				.txt_notice {
					font-size: 14px;
					line-height: 22px;
					color: #555;
					font-weight: 200;
					margin-top: 7px;
					letter-spacing: -.5px;

					.ico_notice {
						margin-right: 6px;
					}
				}
			}

			&::after {
				content: '';
				width: 100%;
				height: 12px;
				display: inline-block;
				background-color: #f6f6f6;
				padding: 0;
				position: absolute;
				margin-left: -20px;
				z-index: 10;
				margin-bottom: 15px;
			}
		}

		>.container.cont_body {
			margin-top: 10px;
			padding-bottom: 0;
			position: relative;

			.saving_tit {
				font-size: 16px;
				color: #111;
				font-weight: 500;

				&::before {
					content: '';
					width: 21.5px;
					height: 21px;
					display: inline-block;
					background: url(#{$url-img}/content/ico_saving_sm.png);
					background-repeat: no-repeat;
					background-size: 21.5px 21px;
					margin: -4px 3px 0px -1px;
					vertical-align: middle;
				}

				.txt_bubble {
					width: 32px;
					height: 17px;
					display: inline-block;
					position: absolute;
					background: url(#{$url-img}/content/bg_balloon_red_l.png);
					background-repeat: no-repeat;
					background-size: 32px 17px;
					font-size: 9px;
					line-height: 16.5px;
					color: #fff;
					font-weight: 500;
					padding-left: 6px;
					top: calc(50% - 8.5px);
					margin-left: 4px;
				}
			}

			.share_link {
				width: 32px;
				height: 32px;
				border-radius: 32px;
				background-color: #f6f6f6;
				text-indent: -9999px;
				position: absolute;
				right: 20px;
				top: 19px;
				background: url(#{$url-img}/content/ico_link_btn.png);
				background-repeat: no-repeat;
				background-size: 32px 32px;
			}

			.rate_list {
				width: 100%;
				height: 68.5px;
				border-radius: 3.5px;
				border: 1px solid #ddd;
				padding: 15px 0px;

				ul {
					display: flex;
					justify-content: space-around;

					li {
						display: flex;
						flex-direction: column;
						width: 33.3%;

						&+li {
							position: relative;

							&::before {
								content: '';
								display: inline-block;
								width: 1px;
								height: 23px;
								background: #eee;
								position: absolute;
								left: 0;
								top: calc(50% - 11.5px);
							}
						}

						span {
							font-size: 11px;
							color: #666;
							text-align: center;
							line-height: 14px;
						}

						strong {
							font-size: 14px;
							color: #111;
							font-weight: 500;
							text-align: center;
							line-height: 26px;
						}
					}
				}
			}

			.btn_morelink {
				.ico {
					&.ico_tell_arr {
						width: 5px;
						height: 9px;
						display: inline-block;
						background: url(#{$url-img}/content/ico_tell_arr.png);
						background-repeat: no-repeat;
						background-size: 5px 8.5px;
						background-position: center center;
						margin-left: 4px;
					}
				}
			}

			.amount_list {
				margin-top: 15px;

				width: 100%;

				li {
					line-height: 24px;
					height: 60px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					position: relative;

					&::before {
						content: '';
						display: inline-block;
						width: 100%;
						height: 1px;
						background-color: #eee;
						position: absolute;
						top: 0;
					}

					&:last-child {
						margin-bottom: -5px;
					}

					&>span {
						font-size: 13px;
						color: #666;
						line-height: 13px;

						.sub_txt {
							font-size: 11px;
						}
					}

					strong {
						font-size: 26px;
						color: #111;
						font-weight: 600;

						span {
							font-size: 20px;
							font-weight: 400;
							margin-left: 4px;
						}
					}
				}
			}
		}
	}
}