/* 금융상품몰 메인 */

/* 메인 본문 */

// 이곳에 정의

/* 자주 찾는 메뉴 */
.sec_mall_favor {
	background-color: #f6f6f6;

	.favor_menu_box {
		border-radius: 0 0 40px 40px;
		background-color: #ffe080;
		overflow: hidden;
		// height: auto !important; // TODO : 제거 예정
		padding: 15px 0 25px;

		.favor_menu_list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
			font-size: 13px;
			line-height: 1;
			font-weight: normal;
			padding: 0 15px;
			margin-bottom: 20px;

			a {
				position: relative;
				display: block;
			}

			.icon {
				display: block;
				margin: auto;
				width: 56px;
				height: 56px;
				margin-bottom: 7px;
			}

			.badge {
				position: absolute;
				top: 18px;
				right: 30px;
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: #ff883a;
				font-size: 1px;
				color: transparent;
			}
		}

		.mall_service_list,
		.mall_service_btns {
			visibility: hidden;
		}

		.mall_service_list {
			margin: 0 15px;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			text-align: center;
			font-size: 13px;
			line-height: 1;
			font-weight: normal;
			padding: 15px;

			border-radius: 10px 10px 35px 35px;
			background-color: rgba(#fff, .47);

			.icon {
				display: block;
				margin: auto;
				width: 45px;
				height: 45px;
			}
		}

		.mall_service_cont {
			display: none;
		}

		.mall_service_slider {
			.item {
				position: relative;
				border-radius: 10px 10px 35px 35px;
				background-color: rgba(#fff, .47);
				padding: 15px 15px 20px;
				height: 296px;

				.btn_turn_back {
					position: absolute;
					right: 15px;
					top: 15px;
				}
			}

			.slick-list {
				padding: 0 15px;
			}

			.slick-slide {
				margin: 0 3px;
			}
		}

		.mall_service_btns {
			padding: 15px 15px 0;
		}

		&.opened {

			.mall_service_list,
			.mall_service_btns {
				visibility: visible;
			}

			+.btn_box_handler {
				.ico {
					transform: rotate(180deg);
				}
			}
		}
	}

	.btn_box_handler {
		position: relative;
		display: block;
		margin: auto;
		text-align: center;
		width: 130px;
		height: 21px;
		margin-top: -1px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='107px' height='20px'%3E%3Cpath fill-rule='evenodd' fill='rgb(255, 224, 128)' d='M101.999,0.57 C103.666,0.38 105.333,0.19 106.999,0.0 C101.765,0.104 96.925,0.759 92.480,2.653 C81.924,7.152 77.613,17.659 68.500,19.608 C54.858,22.525 50.248,8.453 42.999,4.67 C38.333,2.731 33.666,1.394 29.0,0.57 C-65.666,0.57 101.999,0.57 101.999,0.57 Z'/%3E%3C/svg%3E");

		.ico {
			vertical-align: top;
			margin-top: 6px;
		}
	}
}

/* 판매량 best */
.sales_area {
	background-color: #f6f6f6;

	.d_flex {
		padding: 0 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h3 {
			position: relative;

			&.finance_tit {
				padding-left: 30px;

				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 5px;
					top: 3px;
					width: 20px;
					height: 24px;
					background-image: url(#{$url-img}/content/ico_event_benefits_sm.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;

				}
			}
		}

		a {
			font-size: 13px;

			.ico_chevron_right_sm {
				margin-bottom: 2px;
				margin-left: 2px;
			}
		}
	}

	.sales_list {
		margin-top: 10px;
		padding: 0 0 10px 15px;

		.slick-track {
			padding: 0 0 25px;
		}

		.slick-slide {
			width: 267px;
			height: 166px;
			padding: 0 10px 0 0;
			border-radius: 8px;

			.sales_item {
				position: relative;
				padding: 20px;
				background-color: $white;
				box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);

				.state {
					border-radius: 12px;
					line-height: 24px;
					padding: 0 10px;

					&.deposit {
						background-color: #fff6e2;
						color: #dc990a;
					}

					&.insurance {
						background-color: #fff1e9;
						color: #f46e17;
					}
				}

				.link {
					position: absolute;
					display: inline-block;
					right: 10px;
					top: 10px;
				}
			}
		}
	}
}

/* 이벤트 배너 */
.sec_event_banner {
	// background-color: $blue;
	margin-top: 25px;

	.container {

		.d_flex {
			display: flex;
			justify-content: space-between;
			align-items: center;

			a {
				font-size: 13px;
			}
		}

		h3 {
			position: relative;

			&.finance_tit {
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: 5px;
					top: 3px;
					width: 20px;
					height: 25px;
					background-image: url(#{$url-img}/content/ico_finance_sm.png);
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;

				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				left: 5px;
				top: 3px;
				width: 17px;
				height: 18px;
				background-image: url(#{$url-img}/content/ico_sm_event.png);
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

			}

			&.txt_normal {
				padding-left: 30px;
			}
		}
	}

	.event_slide {
		margin-top: 10px;
		padding: 0 0 0 15px;

		.slick-slide {
			width: 220px;
			padding: 0 5px;
		}
	}

	.theme_slide {
		margin-top: 10px;
		padding: 0 0 0 15px;

		.slick-slide {
			width: 168px;
			padding: 0 5px;
		}
	}

	.slick-dots {
		text-align: center;

		li {
			display: inline-block;

			button {
				padding: 0 5px;
				font-size: 1px;
				color: transparent;

				&:after {
					content: '';
					display: block;
					width: 6px;
					height: 6px;
					border-radius: 3px;
					background-color: #ddd;
				}
			}

			&.slick-active {
				button {
					&:after {
						background-color: #777;
					}
				}
			}
		}
	}
}


/* 퀵메뉴설정 레이어팝업 */
.quickmenu_list_all {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 15px;
	column-gap: 20px;
	margin-top: 25px;
	margin-bottom: 20px;

	li {
		border-radius: 8px;
		height: 65px;
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked {
			+label {
				border-color: $primary;
				font-weight: bold;
			}
		}
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
		border-radius: 8px;
		border: 1px solid $border-base;

		font-weight: 500;
		font-size: 12px;
		line-height: 1;

		.icon {
			display: block;
			width: 40px;
			height: 40px;
		}

		span {
			margin-bottom: 5px;
		}
	}

	.ui-sortable-helper {
		background-color: rgba(253, 198, 28, 0.451);

		label {
			background-color: rgba(255, 255, 255, 0.702);
		}
	}

	.sortable-placeholder {
		background-color: #fdc61c;
	}
}