/* 금융상품몰 메인 */

/* 메인 본문 */

// 이곳에 정의









/* 퀵메뉴설정 레이어팝업 */
.quickmenu_list_all {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 15px;
	column-gap: 20px;
	margin-top: 25px;
	margin-bottom: 20px;

	li {
		border-radius: 8px;
		height: 65px;
	}

	input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 0;

		&:checked {
			+label {
				border-color: $primary;
				font-weight: bold;
			}
		}
	}

	label {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: 100%;
		border-radius: 8px;
		border: 1px solid $border-base;

		font-weight: 500;
		font-size: 12px;
		line-height: 1;

		.icon {
			display: block;
			width: 40px;
			height: 40px;
		}

		span {
			margin-bottom: 5px;
		}
	}

	.ui-sortable-helper {
		background-color: rgba(253, 198, 28, 0.451);

		label {
			background-color: rgba(255, 255, 255, 0.702);
		}
	}

	.sortable-placeholder {
		background-color: #fdc61c;
	}
}