//모바일번호표
dl {
	&.mobile_issuance_box {
		dt {
			line-height: 28px;
		}
	}
}

ul {
	&.mobile_issuance_list {
		margin-top: 20px;

		li {
			border-top: 1px solid #ddd;

			&:last-child {
				border-bottom: 1px solid #ddd;
			}

			a {
				&.btn {
					padding: 20px 0px 22px 0px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					background-image: url(../../../resources/smart/img/content/ico_link_arr02.png);
					background-repeat: no-repeat;
					background-size: 9px 15px;
					background-position: center right;

					.issuance_img {
						max-width: 28px;
						margin: 5px 13px 0px 3px;

						img {
							vertical-align: middle;
						}
					}

					.issuance_txt {
						strong {
							font-size: 18px;
							line-height: 29px;
						}

						p {
							font-size: 13px;
							color: #555;

							&.state_list {
								display: flex;

								.state {
									position: relative;

									.state_num {
										margin-left: 2.5px;
										width: 16px;
										height: 16px;
										background-color: #333;
										border-radius: 16px;
										color: #fff;
										display: inline-block;
										text-align: center;
										line-height: 15px;
										font-size: 10px;
									}
								}

								.bar {
									width: 1px;
									height: 16.5px;
									background-color: #ddd;
									margin: 2px 20px 0 20px;
								}
							}
						}
					}

					&.btn_type02 {
						.issuance_img {
							max-width: 28.5px;
							margin: 0px 12.5px 0px 3px;
						}

						.issuance_txt {
							display: flex;
							align-items: flex-end;

							strong {
								line-height: 26px;
							}

							.state_num {
								font-size: 10px;
								margin-left: 4px;
								margin-bottom: 4px;
								width: 16px;
								height: 16px;
								background-color: #333333;
								border-radius: 16px;
								color: #fff;
								display: inline-block;
								text-align: center;
								line-height: 15px;
							}
						}
					}
				}
			}
		}
	}
}

//모바일번호표발급신청
.txt_s20 {
	font-size: 20px;
}

.signup_area {
	display: flex;
	margin-top: 30px;

	.content {
		width: 100%;
		min-height: 410px;
		position: relative;
		background-color: #f2f2f2;

		&.con_r {
			border-radius: 0 0 0 8px;
		}

		&.con_l {
			border-radius: 0 0 8px 0;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #fff;
			width: 1px;
			height: 100%;
		}

		.tit {
			text-align: center;
			background-color: #fdc61c;
			font-size: 16px;
			font-weight: 500;
			color: #111;
			padding: 5px 0 5px 0;

			&.tit_l {
				border-radius: 8px 0 0 0;
			}

			&.tit_r {
				border-radius: 0 8px 0 0;
			}
		}

		.list_area {
			padding: 15px;

			.list1 {
				&.list1-1 {
					min-height: 135px;

					>li+li {
						margin-top: 1px;
					}
				}
			}

			.content_wait {
				width: 100%;
				margin-top: 20px;

				&.con_type {
					width: auto;
					padding-left: 5px;
					margin-right: 5px;
				}

				strong {
					display: block;
					text-align: center;
					padding: 5px 0;
					color: #fff;
					font-size: 16px;
					font-weight: 500;
					background-color: #555;
					border-radius: 8px 8px 0 0;
				}

				p {
					width: 100%;
					background-color: #fff;
					text-align: center;
					border-radius: 0 0 8px 8px;
					font-size: 16px;
					font-weight: normal;
					padding-bottom: 5px;

					span {
						font-size: 70px;
						font-weight: 500;
						line-height: 92px;
						color: #111;
					}
				}
			}
		}
	}
}

//모바일 번호표 발급
.storage_box_content {
	border: 1px solid #dddddd;
	background-color: #f2f2f2;
	border-radius: 8px;
	padding: 15px;
	text-align: center;

	p {
		display: block;
		color: #666;

	}

	strong {
		display: block;
		font-size: 70px;
		line-height: 66px;
	}

	.btn {
		.ico_refresh {
			display: inline-block;
			background-repeat: no-repeat;
			background-position: center center;
			vertical-align: middle;
			overflow: hidden;
			text-indent: -9999px;
			overflow: hidden;
			text-align: left;
			width: 30px;
			height: 30px;
			line-height: 30px;
			background-image: url(../../../resources/smart/img/content/ico_refresh_primary.png);
			background-size: cover;
		}
	}

	&.disabled {
		p {
			opacity: 0.5;
		}

		strong {
			opacity: 0.5;
		}
	}
}

.storage_area {
	display: flex;

	.content {
		width: 100%;
		position: relative;

		.tit_l {
			border-radius: 8px 0 0 0;
		}

		.tit_r {
			border-radius: 0 8px 0 0;
		}

		&:first-child:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			background-color: #ddd;
			width: 1px;
			height: 100%;
		}

		.tit {
			text-align: center;
			background-color: #555;
			font-size: 16px;
			font-weight: 400;
			color: #fff;
			padding: 5px 0;
		}

		.content_wait {
			&.wait_l {
				p {
					border-radius: 0 0 0 8px;
					border-left: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
				}
			}

			&.wait_r {
				p {
					border-radius: 0 0 8px 0;
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
				}
			}

			p {
				width: 100%;
				background-color: #fff;
				text-align: center;
				border-radius: 0 0 8px 8px;
				font-size: 16px;
				padding: 13px 0;
				font-weight: normal;

				span {
					font-size: 40px;
					font-weight: 500;
				}
			}
		}
	}

	&.disabled {
		.tit {
			opacity: 0.5;
		}

		.content_wait {
			opacity: 0.5;
		}
	}
}

//번호표호출안내
.txt_gray03 {
	color: #666;
}

.notice_list {
	li {
		display: flex;
		align-items: flex-start;

		.ico {
			flex: 0 0 auto;
			margin-right: 7px;
			margin-top: 5px;
		}
	}
}

.txt_lh_28 {
	line-height: 28px;
}

//위치보기
.search_area {
	width: 100%;
	margin: 0 auto;

	form {
		position: relative;

		fieldset {
			display: block;
			margin: 0;
			border: 0;
			padding: 0;

			.form_integrated_search {
				display: block;
				height: 50px;
				border-radius: 6px;
				margin: 0 -20px;

				.tf {
					width: 100%;
					border: 0;
					height: 100%;
					font-size: 18px;
					background-color: #f6f6f6;
					color: #666;
					padding-left: 20px;
					padding-right: 50px;
				}

				.btn {
					position: absolute;
					right: -20px;
					top: 50%;
					transform: translateY(-50%);
					padding: 0;

					.ico {
						flex: 0 0 auto;
						margin-top: 1px;

						&:first-child {
							margin-right: 5px;
						}

						&.ico_search_sm {
							display: inline-block;
							background-repeat: no-repeat;
							background-position: center center;
							vertical-align: middle;
							text-align: left;
							width: 15px;
							height: 15px;
							line-height: 15px;
							background-image: url(../../../resources/smart/img/content/ico_search_sm.png);
							background-size: cover;
						}
					}
				}
			}
		}
	}
}

.row_recommend {
	.tag_tit {
		padding: 0 5px;
		font-size: 16px;
	}

	.tag_list {
		margin-top: 10px;
		display: flex;
		align-items: center;

		.item_tag {
			padding-left: 13px;
			padding-right: 26px;
			border: 1px solid #d4d4d4;
			border-radius: 16px;
			margin-right: 5px;
			font-size: 12px;
			line-height: 23px;
			display: inline-block;
			position: relative;

			.btn_close {
				position: absolute;
				top: 50%;
				margin-top: -15px;
				right: -1px;
				width: 30px;
				height: 30px;

				.ico_close_btn {
					display: inline-block;
					background-repeat: no-repeat;
					background-position: center center;
					vertical-align: middle;
					overflow: hidden;
					text-indent: -9999px;
					overflow: hidden;
					text-align: left;
					width: 16px;
					height: 16px;
					line-height: 16px;
					background-image: url(../../../resources/smart/img/content/ico_close_btn.png);
					background-size: cover;
				}
			}
		}
	}
}

.address_area {
	position: relative;
	padding: 20px;
	padding-bottom: 15px;
	color: #111111;
	border-radius: 10px;

	strong {
		font-size: 20px;
		font-weight: 500;
		padding-bottom: 5.5px;

		.distance {
			font-size: 16px;
			font-weight: 500;
			color: #555;
			padding-bottom: 1px;
		}
	}

	p {
		font-size: 12px;
		padding-bottom: 3px;
	}

	.btn {
		background-color: transparent;
	}

	.phonenumber {
		margin-top: 3px;
		display: block;
		font-size: 14px;
		font-weight: 400;
		color: #111;
	}

	.check_switch {
		position: absolute;
		right: 20px;
		top: 20px;

		input {
			&+label {
				padding: 0;

				.txt_uncheck {
					padding-right: 10px;
					padding-left: 23.2px;
				}

				.txt_checked {
					padding-left: 10px;
					padding-right: 23.2px;
				}
			}
		}
	}
}

.modal_map .waiting_list {
	display: flex;
	align-items: center;
	margin-top: 10px;

	.item {
		background-color: #f6f6f6;
		width: 100%;
		height: 56px;
		text-align: center;
		padding: 10px 0;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;

		&:first-child {
			border-right: 1px solid #fff;
			border-radius: 8px 0px 0px 8px;
		}

		&:last-child {
			// border-right: 1px solid #fff;
			border-radius: 0px 8px 8px 0px;
		}

		strong {
			font-size: 24px;
			font-weight: 500;
			display: inline-block;
			margin-left: 5px;
		}

		span {
			font-weight: 400;
			font-size: 24px;
		}
	}
}

.txt_lg_18 {
	font-size: 18px !important;
}