.bg_lightgray2 {
  background-color: #f8f8f8;
}

.contract_list .contract_item {
  padding: 0;
}

.contract_list .contract_item.type_subs {
  padding: 0;
}

.contract_list .contract_item.type_subs .in_detail span em {
  font-size: 12px;
  font-weight: 300;
  color: #666;
}

.contract_list .contract_item.type_subs .in_detail span strong {
  font-size: 12px;
  font-weight: 400;
}
