.cont_body {
	padding: 20px;
}

.input_step {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 20px;
	font-size: 13px;

	li {
		color: #595959;
		font-weight: 400;
		letter-spacing: -0.05em;
		margin-left: 10px;
		line-height: 0;

		.num {
			display: inline-block;
			width: 10px;
			height: 10px;
			background: $gray;
			border-radius: 100%;
			color: transparent;
		}

		.txt {
			display: none;
		}

		&.on {
			.num {
				display: inline-block;
				width: 25px;
				height: 25px;
				margin-right: 5px;
				background: $gray;
				color: $white;
				text-align: center;
				line-height: 25px;
				border-radius: 100%;
			}

			.txt {
				display: inline;
			}

			~li {
				.num {
					background-color: $border-base;
				}
			}
		}
	}
}

.bottom_fixed_area {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
	background-color: #fff;

	.bottom_toggle {
		position: relative;
	}

	.toggle_btn_area {
		position: relative;
		z-index: 10;
		background-color: #fff;
	}

	.btn_toggle {
		display: block;

		// &.active {
		// 	background-color: red !important;
		// }
	}

	.btn_group {
		margin: 0;

		.btn {
			margin: 0 !important;
		}
	}
}