.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	background-color: #fff;

	.scrolled & {
		box-shadow: 5px 0 15px rgba(#000, .05);
	}
}

.titlebar {
	height: $titlebar-height;
	display: flex;
	justify-content: space-between;

	.left,
	.right {
		padding: 0 3px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.btn_icon {
		padding: 0 12px;
		margin: 0;
		height: $titlebar-height;
	}

	.right {
		.btn_icon {
			+.btn_icon {
				margin-left: -4px;
			}
		}
	}

	.tit_page {
		color: $black;
		font-size: 18px;
		font-weight: 500;
		line-height: 1;
		letter-spacing: -0.05em;

		&.txt_m {
			align-self: center;
		}
	}
}

.titlebar_type3 {
	background-color: #383838;

	.tit_page {
		color: #fff;
		font-size: 16px;
		line-height: 20px;
	}
}